Repository hashicorp/consul, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashicorp/consul-docs, @hashicorp/release-engineering, @hashicorp/github-consul-core, @hashicorp/consul-core-staff

.github/CODEOWNERS:

# Techical Writer Review

/website/content/docs/ @hashicorp/consul-docs
/website/content/commands/ @hashicorp/consul-docs
/website/content/api-docs/ @hashicorp/consul-docs


# release configuration
/.release/                              @hashicorp/release-engineering @hashicorp/github-consul-core
/.github/workflows/build.yml            @hashicorp/release-engineering @hashicorp/github-consul-core


# Staff Engineer Review (protocol buffer definitions)
/proto-public/   @hashicorp/consul-core-staff
/proto/          @hashicorp/consul-core-staff

# Staff Engineer Review (v1 architecture shared components)
/agent/cache/                  @hashicorp/consul-core-staff
/agent/consul/fsm/             @hashicorp/consul-core-staff
/agent/consul/leader*.go       @hashicorp/consul-core-staff
/agent/consul/server*.go       @hashicorp/consul-core-staff
/agent/consul/state/           @hashicorp/consul-core-staff
/agent/consul/stream/          @hashicorp/consul-core-staff
/agent/submatview/             @hashicorp/consul-core-staff
/agent/blockingquery/          @hashicorp/consul-core-staff

# Staff Engineer Review (raft/autopilot)
/agent/consul/autopilotevents/  @hashicorp/consul-core-staff
/agent/consul/autopilot*.go     @hashicorp/consul-core-staff

# Staff Engineer Review (v2 architecture shared components)
/internal/controller/                   @hashicorp/consul-core-staff
/internal/resource/                     @hashicorp/consul-core-staff
/internal/storage/                      @hashicorp/consul-core-staff
/agent/consul/controller/               @hashicorp/consul-core-staff
/agent/grpc-external/services/resource/ @hashicorp/consul-core-staff

# Staff Engineer Review (v1 security)
/acl/                   @hashicorp/consul-core-staff
/agent/xds/rbac*.go     @hashicorp/consul-core-staff
/agent/xds/jwt*.go      @hashicorp/consul-core-staff

Backport of docs: fix the description of client rpc into release/1.15.x (#18212)
  agent/consul/client.go
  website/content/docs/agent/telemetry.mdx
Owners: @hashicorp/consul-docs

code refactor
  agent/grpc-external/services/resource/testing/testing.go
  internal/resource/http/http_test.go
Owners: @hashicorp/consul-core-staff

Backport of ui: fix typos for peer service imports into release/1.16.x (#18074)
  ui/packages/consul-ui/translations/routes/en-us.yaml
Owners: none

backport of commit bdf6ed9d6d988061540e5e91f71bd715faa9c241
  website/redirects.js
Owners: none

backport of commit bdf6ed9d6d988061540e5e91f71bd715faa9c241
  website/redirects.js
Owners: none

Add redirects for mesh-gateway docs
  website/redirects.js
Owners: none

Add redirects for mesh-gateway docs (#18377)
  website/redirects.js
Owners: none

Backport of Add redirects for mesh-gateway docs into release/1.14.x (#18378)
  website/redirects.js
Owners: none

Backport of Add redirects for mesh-gateway docs into release/1.16.x (#18380)
  website/redirects.js
Owners: none

resolve merge conflicts
  website/redirects.js
Owners: none

expose grpc as http endpoint (#18221)
  agent/agent_endpoint_test.go
  agent/agent_test.go
  agent/grpc-external/services/resource/testing/testing.go
  agent/http.go
  internal/resource/http/http.go
  internal/resource/http/http_test.go
  internal/resource/registry.go
Owners: @hashicorp/consul-core-staff
