Repository hashicorp/consul, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashicorp/consul-docs, @hashicorp/release-engineering, @hashicorp/github-consul-core

.github/CODEOWNERS:

# Techical Writer Review

/website/content/docs/ @hashicorp/consul-docs
/website/content/commands/ @hashicorp/consul-docs
/website/content/api-docs/ @hashicorp/consul-docs


# release configuration
/.release/                              @hashicorp/release-engineering @hashicorp/github-consul-core
/.github/workflows/build.yml            @hashicorp/release-engineering @hashicorp/github-consul-core

peering: send leader addr (#13342)
  agent/consul/peering_backend.go
  agent/consul/server.go
  agent/consul/server_test.go
  agent/rpc/peering/service.go
  agent/rpc/peering/stream_test.go
  proto/pbpeering/peering.pb.binary.go
  proto/pbpeering/peering.pb.go
  proto/pbpeering/peering.proto
Owners: none

Remove branch trigger
  .github/workflows/build.yml
Owners: @hashicorp/release-engineering, @hashicorp/github-consul-core

test: retry the compat tests as often as other tests
  .circleci/config.yml
Owners: none

get this to work with reruns
  .circleci/config.yml
Owners: none

Add latest changelog entries (#13363)
  CHANGELOG.md
Owners: none

test: use a go mod replace trick for the compat test dependency on the main repo
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
Owners: none

peering: allow mesh gateways to proxy L4 peered traffic
  agent/agent.go
  agent/cache-types/exporting_peered_services.go
  agent/cache-types/exporting_peered_services_test.go
  agent/consul/acl.go
  agent/consul/internal_endpoint.go
  agent/consul/state/peering.go
  agent/proxycfg-glue/glue.go
  agent/proxycfg/data_sources.go
  agent/proxycfg/mesh_gateway.go
  agent/proxycfg/snapshot.go
  agent/proxycfg/state.go
  agent/proxycfg/state_test.go
  agent/proxycfg/testing.go
  agent/proxycfg/testing_mesh_gateway.go
  agent/rpc/peering/subscription_manager.go
  agent/structs/peering.go
  agent/xds/listeners.go
  agent/xds/listeners_test.go
  agent/xds/testdata/listeners/mesh-gateway-with-exported-peered-services.latest.golden
Owners: none

fix omission
  agent/proxycfg/testing_mesh_gateway.go
  agent/xds/testdata/listeners/mesh-gateway-with-exported-peered-services.latest.golden
Owners: none

log
  agent/proxycfg/mesh_gateway.go
Owners: none

change tense
  agent/agent.go
  agent/cache-types/exported_peered_services.go
  agent/cache-types/exported_peered_services_test.go
  agent/consul/internal_endpoint.go
  agent/proxycfg-glue/glue.go
  agent/proxycfg/data_sources.go
  agent/proxycfg/mesh_gateway.go
  agent/proxycfg/state_test.go
  agent/proxycfg/testing.go
Owners: none

test: use a go mod replace trick for the compat test dependency on the main repo (#13371)
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
Owners: none

UDP check for service stanza #12221 (#12722)
  .changelog/12722.txt
  agent/agent.go
  agent/agent_endpoint_test.go
  agent/catalog_endpoint_test.go
  agent/checks/check.go
  agent/checks/check_test.go
  agent/config/config.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/structs/check_definition.go
  agent/structs/check_type.go
  agent/structs/structs.go
  api/agent.go
  api/health.go
  api/txn_test.go
  build-support/scripts/devtools.sh
  proto/pbservice/healthcheck.gen.go
  proto/pbservice/healthcheck.pb.go
  proto/pbservice/healthcheck.proto
  website/content/api-docs/agent/check.mdx
  website/content/docs/discovery/checks.mdx
  website/content/docs/ecs/configuration-reference.mdx
Owners: @hashicorp/consul-docs

peering: allow mesh gateways to proxy L4 peered traffic (#13339)
  agent/agent.go
  agent/cache-types/exported_peered_services.go
  agent/cache-types/exported_peered_services_test.go
  agent/consul/acl.go
  agent/consul/internal_endpoint.go
  agent/consul/state/peering.go
  agent/proxycfg-glue/glue.go
  agent/proxycfg/data_sources.go
  agent/proxycfg/mesh_gateway.go
  agent/proxycfg/snapshot.go
  agent/proxycfg/state.go
  agent/proxycfg/state_test.go
  agent/proxycfg/testing.go
  agent/proxycfg/testing_mesh_gateway.go
  agent/rpc/peering/subscription_manager.go
  agent/structs/peering.go
  agent/xds/listeners.go
  agent/xds/listeners_test.go
  agent/xds/testdata/listeners/mesh-gateway-with-exported-peered-services.latest.golden
Owners: none

backport of commit e2f4cf622cf769a65ed1d5dacef52e533ce5c09b (#13370)
  CHANGELOG.md
Owners: none

Document the `enable_serverless_plugin` agent configuration option
  website/content/docs/agent/config/config-files.mdx
Owners: @hashicorp/consul-docs

more code review changes
  website/content/docs/lambda/index.mdx
  website/content/docs/lambda/invocation.mdx
  website/content/docs/lambda/registration.mdx
  website/content/docs/lambda/registration/lambda-registrator.mdx
  website/content/docs/lambda/registration/manual.mdx
  website/content/docs/lambda/registration/overview.mdx
  website/content/docs/lambda/requirements.mdx
  website/data/docs-nav-data.json
Owners: @hashicorp/consul-docs

test: break dep on main consul module
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
  test/integration/consul-container/libs/utils/retry.go
  test/integration/consul-container/metrics/leader_test.go
Owners: none

remove Jitter
  test/integration/consul-container/libs/utils/retry.go
Owners: none

test: break dep on main consul module (#13373)
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
  test/integration/consul-container/libs/utils/retry.go
  test/integration/consul-container/metrics/leader_test.go
Owners: none

test: retry the compat tests as often as other tests (#13369)
  .circleci/config.yml
Owners: none

Remove matrix variable from darwin verification job
  .github/workflows/build.yml
Owners: @hashicorp/release-engineering, @hashicorp/github-consul-core

ci: Add package verifications to build workflow (#13294)
  .github/scripts/docker_smoke.sh
  .github/scripts/verify_artifact.sh
  .github/scripts/verify_bin.sh
  .github/scripts/verify_deb.sh
  .github/scripts/verify_docker.sh
  .github/scripts/verify_rpm.sh
  .github/workflows/build.yml
Owners: @hashicorp/release-engineering, @hashicorp/github-consul-core

Backport of ci: Add package verifications to build workflow into release/1.10.x
  .github/scripts/verify_artifact.sh
  .github/scripts/verify_bin.sh
  .github/scripts/verify_deb.sh
  .github/scripts/verify_docker.sh
  .github/scripts/verify_rpm.sh
  .github/workflows/build.yml
Owners: @hashicorp/release-engineering, @hashicorp/github-consul-core

Backport of ci: Add package verifications to build workflow into release/1.11.x
  .github/scripts/verify_artifact.sh
  .github/scripts/verify_bin.sh
  .github/scripts/verify_deb.sh
  .github/scripts/verify_docker.sh
  .github/scripts/verify_rpm.sh
  .github/workflows/build.yml
Owners: @hashicorp/release-engineering, @hashicorp/github-consul-core

Backport of ci: Add package verifications to build workflow into release/1.12.x
  .github/scripts/verify_artifact.sh
  .github/scripts/verify_bin.sh
  .github/scripts/verify_deb.sh
  .github/scripts/verify_docker.sh
  .github/scripts/verify_rpm.sh
  .github/workflows/build.yml
Owners: @hashicorp/release-engineering, @hashicorp/github-consul-core

CTIA-21: sdd is_leader metric to track if a server is a leader
  .changelog/13304.txt
  .circleci/config.yml
  GNUmakefile
  agent/consul/leader.go
  agent/metrics_test.go
  agent/setup.go
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
  test/integration/consul-container/libs/cluster/cluster.go
  test/integration/consul-container/libs/utils/version_oss.go
  test/integration/consul-container/metrics/leader_test.go
  test/integration/consul-container/upgrade/healthcheck_test.go
  website/content/docs/agent/telemetry.mdx
Owners: @hashicorp/consul-docs

fix-circle ci image
  .circleci/config.yml
Owners: none

Update go-grpc/grpc to resolve conection memory leak
  .changelog/13051.txt
  go.mod
  go.sum
Owners: none

Apply suggestions from code review
  website/content/docs/lambda/invocation.mdx
  website/content/docs/lambda/registration.mdx
  website/data/docs-nav-data.json
Owners: @hashicorp/consul-docs

CTIA-27: in load test, upgrade packer version, fix k6s installation
  .circleci/terraform/load-test/main.tf
  test/load/packer/README.md
  test/load/packer/consul-ami/consul.json.bak
  test/load/packer/consul-ami/consul.pkr.hcl
  test/load/packer/loadtest-ami/loadtest.json
  test/load/packer/loadtest-ami/loadtest.pkr.hcl
  test/load/packer/loadtest-ami/scripts/install-k6.sh
Owners: none

Update website/content/commands/session/index.mdx
  website/content/commands/session/index.mdx
Owners: @hashicorp/consul-docs

Update website/content/commands/session/index.mdx
  website/content/commands/session/index.mdx
Owners: @hashicorp/consul-docs

Update website/content/commands/session/index.mdx
  website/content/commands/session/index.mdx
Owners: @hashicorp/consul-docs

Update website/content/commands/session/list.mdx
  website/content/commands/session/list.mdx
Owners: @hashicorp/consul-docs

Update website/content/commands/session/read.mdx
  website/content/commands/session/read.mdx
Owners: @hashicorp/consul-docs

Update website/content/commands/session/renew.mdx
  website/content/commands/session/renew.mdx
Owners: @hashicorp/consul-docs

Backport of Support vault namespaces in connect CA into stable-website (#13383)
  .changelog/12904.txt
  agent/config/builder.go
  agent/connect/ca/provider.go
  agent/connect/ca/provider_vault.go
  agent/structs/connect_ca.go
  website/content/docs/connect/ca/vault.mdx
Owners: @hashicorp/consul-docs

Apply suggestions from code review
  agent/consul/state/config_entry.go
  agent/consul/state/config_entry_intention.go
Owners: none

more code review changes
  website/content/docs/lambda/registration.mdx
Owners: @hashicorp/consul-docs

rename destinationType to targetType.
  agent/consul/state/config_entry_intention.go
Owners: none
