Repository hashicorp/consul, pull requests merged in 2019-04, with the labels that each got.

#5515 [docs] Adding an example of extraVolumes with the Helm chart
  website/source/docs/platform/k8s/helm.html.md
Labels: docs

#5537 [docs] Basic Federation
  website/source/docs/guides/datacenters.html.md
Labels: docs

#5528 [docs] New k8s reference arch guide.
  website/source/assets/images/k8s-cluster-consul-datacenter.png
  website/source/assets/images/k8s-consul-simple.png
  website/source/docs/guides/kubernetes-reference.html.md
Labels: docs

#5503 [docs] Connect in Production
  website/source/docs/guides/connect-production.md
Labels: docs

#5561 [docs] security warning about Helm chart
  website/source/docs/platform/k8s/helm.html.md
Labels: docs

#5609 Update Ports Documentation
  website/source/docs/agent/options.html.md
Labels: docs

#5582 UI: Increases the pause between blocking queries to 2000ms
  ui-v2/app/utils/dom/event-source/blocking.js
  ui-v2/tests/helpers/module-for-acceptance.js
Labels: ui

#5583 ui: Adds _super in places where it had been missed (mainly dom-buffer)
  ui-v2/app/components/dom-buffer-flush.js
  ui-v2/app/components/dom-buffer.js
Labels: ui

#5584 ui: Adds uid to tabular-details for/id's used in toggling for uniqueness
  ui-v2/app/components/tabular-details.js
  ui-v2/app/templates/components/tabular-details.hbs
Labels: ui

#5585 ui: Improvements to modal-dialog
  ui-v2/app/components/modal-dialog.js
  ui-v2/app/components/modal-layer.js
  ui-v2/app/services/dom-buffer.js
  ui-v2/app/styles/components/modal-dialog/layout.scss
  ui-v2/app/templates/components/modal-dialog.hbs
Labels: ui

#5586 ui: Alter resizing for tabular-collection for sizing based on rows
  ui-v2/app/components/tabular-collection.js
  ui-v2/app/styles/components/tabular-collection.scss
Labels: ui

#5390 acl: ACL Tokens can now be assigned an optional set of service identities
  agent/consul/acl.go
  agent/consul/acl_endpoint.go
  agent/consul/acl_endpoint_test.go
  agent/consul/acl_test.go
  agent/consul/leader.go
  agent/consul/state/acl.go
  agent/consul/state/acl_test.go
  agent/structs/acl.go
  agent/structs/acl_legacy.go
  agent/structs/acl_test.go
  api/acl.go
  command/acl/acl_helpers.go
  command/acl/token/create/token_create.go
  command/acl/token/update/token_update.go
  vendor/github.com/hashicorp/consul/api/acl.go
Labels: theme/acls, theme/connect

#5514 acl: adding Roles to Tokens
  agent/acl_endpoint.go
  agent/agent.go
  agent/config/builder.go
  agent/config/config.go
  agent/config/runtime.go
  agent/config/runtime_test.go
  agent/consul/acl.go
  agent/consul/acl_client.go
  agent/consul/acl_endpoint.go
  agent/consul/acl_endpoint_legacy.go
  agent/consul/acl_endpoint_test.go
  agent/consul/acl_replication.go
  agent/consul/acl_replication_legacy.go
  agent/consul/acl_replication_legacy_test.go
  agent/consul/acl_replication_test.go
  agent/consul/acl_replication_types.go
  agent/consul/acl_server.go
  agent/consul/acl_test.go
  agent/consul/config.go
  agent/consul/fsm/commands_oss.go
  agent/consul/fsm/snapshot_oss.go
  agent/consul/helper_test.go
  agent/consul/leader.go
  agent/consul/state/acl.go
  agent/consul/state/acl_test.go
  agent/consul/state/state_store.go
  agent/http_oss.go
  agent/structs/acl.go
  agent/structs/acl_cache.go
  agent/structs/acl_cache_test.go
  agent/structs/acl_test.go
  agent/structs/structs.go
  api/acl.go
  api/api.go
  command/acl/acl_helpers.go
  command/acl/role/create/role_create.go
  command/acl/role/create/role_create_test.go
  command/acl/role/delete/role_delete.go
  command/acl/role/delete/role_delete_test.go
  command/acl/role/list/role_list.go
  command/acl/role/list/role_list_test.go
  command/acl/role/read/role_read.go
  command/acl/role/read/role_read_test.go
  command/acl/role/role.go
  command/acl/role/update/role_update.go
  command/acl/role/update/role_update_test.go
  command/acl/token/create/token_create.go
  command/acl/token/update/token_update.go
  command/commands_oss.go
  vendor/github.com/hashicorp/consul/api/acl.go
  vendor/github.com/hashicorp/consul/api/api.go
Labels: theme/acls

#5672 [docs] Remove redundant word
  website/source/docs/platform/k8s/run.html.md
Labels: docs

#5666 ui: Fixes RTT display, by ensuring use of ember proxies in tomography
  ui-v2/app/components/tomography-graph.js
  ui-v2/app/utils/tomography.js
  ui-v2/tests/acceptance/dc/nodes/show.feature
Labels: ui

#5667 ui: Closes the proxy blocking query for the service instance on deregister
  ui-v2/app/controllers/dc/services/instance.js
  ui-v2/tests/acceptance/dc/services/instances/show.feature
Labels: ui

#5668 ui: Adds easily accessible `env` for user settable 'debug' settings
  ui-v2/app/env.js
  ui-v2/app/instance-initializers/event-source.js
Labels: ui

#5627 [docs] Server Performance
  agent/consul/config.go
  website/source/docs/agent/options.html.md
  website/source/docs/agent/telemetry.html.md
  website/source/docs/faq.html.md
  website/source/docs/guides/connect-production.md
  website/source/docs/guides/deployment-guide.html.md
  website/source/docs/guides/deployment.html.md
  website/source/docs/guides/index.html.md
  website/source/docs/install/performance.html.md
  website/source/docs/upgrade-specific.html.md
  website/source/layouts/docs.erb
Labels: docs

#5641 [docs] Geo Failover
  website/source/docs/guides/geo-failover.html.md
Labels: docs

#5612 [docs] Reference Architecture Update
  website/source/docs/guides/deployment.html.md
Labels: docs

#5654 [docs] Leader Election Guide Updates
  website/source/docs/guides/leader-election.html.md
Labels: docs

#5681 Fixed minor typos.
  website/source/docs/guides/servers.html.md
Labels: docs

#5645 Update consul-containers.html.md
  website/source/docs/guides/consul-containers.html.md
Labels: docs

#5673 [docs] Clarify duration string format and default for -log-rotate-duration
  website/source/docs/agent/options.html.md
Labels: docs

#5664 Move the watch package into the api module
  GNUmakefile
  agent/agent.go
  agent/watch_handler.go
  agent/watch_handler_test.go
  api/watch/funcs.go
  api/watch/funcs_test.go
  api/watch/plan.go
  api/watch/plan_test.go
  api/watch/watch.go
  api/watch/watch_test.go
  command/watch/watch.go
  connect/proxy/config.go
  connect/service.go
  vendor/github.com/hashicorp/consul/api/README.md
  vendor/github.com/hashicorp/consul/api/acl.go
  vendor/github.com/hashicorp/consul/api/agent.go
  vendor/github.com/hashicorp/consul/api/api.go
  vendor/github.com/hashicorp/consul/api/catalog.go
  vendor/github.com/hashicorp/consul/api/connect.go
  vendor/github.com/hashicorp/consul/api/connect_ca.go
  vendor/github.com/hashicorp/consul/api/connect_intention.go
  vendor/github.com/hashicorp/consul/api/coordinate.go
  vendor/github.com/hashicorp/consul/api/debug.go
  vendor/github.com/hashicorp/consul/api/event.go
  vendor/github.com/hashicorp/consul/api/go.mod
  vendor/github.com/hashicorp/consul/api/go.sum
  vendor/github.com/hashicorp/consul/api/health.go
  vendor/github.com/hashicorp/consul/api/kv.go
  vendor/github.com/hashicorp/consul/api/lock.go
  vendor/github.com/hashicorp/consul/api/operator.go
  vendor/github.com/hashicorp/consul/api/operator_area.go
  vendor/github.com/hashicorp/consul/api/operator_autopilot.go
  vendor/github.com/hashicorp/consul/api/operator_keyring.go
  vendor/github.com/hashicorp/consul/api/operator_raft.go
  vendor/github.com/hashicorp/consul/api/operator_segment.go
  vendor/github.com/hashicorp/consul/api/prepared_query.go
  vendor/github.com/hashicorp/consul/api/raw.go
  vendor/github.com/hashicorp/consul/api/semaphore.go
  vendor/github.com/hashicorp/consul/api/session.go
  vendor/github.com/hashicorp/consul/api/snapshot.go
  vendor/github.com/hashicorp/consul/api/status.go
  vendor/github.com/hashicorp/consul/api/txn.go
  vendor/github.com/hashicorp/consul/sdk/freeport/freeport.go
  vendor/github.com/hashicorp/consul/sdk/testutil/README.md
  vendor/github.com/hashicorp/consul/sdk/testutil/io.go
  vendor/github.com/hashicorp/consul/sdk/testutil/retry/retry.go
  vendor/github.com/hashicorp/consul/sdk/testutil/server.go
  vendor/github.com/hashicorp/consul/sdk/testutil/server_methods.go
  vendor/github.com/hashicorp/consul/sdk/testutil/server_wrapper.go
  vendor/github.com/hashicorp/consul/sdk/testutil/testlog.go
  vendor/modules.txt
Labels: go-modules

#5520 Fix: fail messages after a node rename replace the new node definition
  agent/consul/leader.go
Labels: needs-discussion

#5732 [docs] Fixing API broken links
  website/source/api/acl-legacy.html.md
  website/source/api/acl/acl.html.md
  website/source/api/acl/legacy.html.md
  website/source/api/acl/policies.html.md
  website/source/api/acl/tokens.html.md
  website/source/api/agent.html.md
  website/source/api/agent/check.html.md
  website/source/api/agent/connect.html.md
  website/source/api/agent/service.html.md
  website/source/api/catalog.html.md
  website/source/api/connect/ca.html.md
  website/source/api/connect/intentions.html.md
  website/source/api/coordinate.html.md
  website/source/api/event.html.md
  website/source/api/features/caching.html.md
  website/source/api/features/consistency.html.md
  website/source/api/health.html.md
  website/source/api/index.html.md
  website/source/api/kv.html.md
  website/source/api/operator/area.html.md
  website/source/api/operator/autopilot.html.md
  website/source/api/operator/keyring.html.md
  website/source/api/operator/license.html.md
  website/source/api/operator/raft.html.md
  website/source/api/operator/segment.html.md
  website/source/api/query.html.md
  website/source/api/session.html.md
  website/source/api/snapshot.html.md
  website/source/api/status.html.md
  website/source/api/txn.html.md
  website/source/configuration.html.erb
  website/source/docs/agent/options.html.md
  website/source/docs/commands/exec.html.markdown.erb
  website/source/docs/connect/index.html.md
  website/source/docs/connect/native.html.md
  website/source/docs/install/performance.html.md
  website/source/docs/internals/consensus.html.md
Labels: docs

#5540 ui: Search improvements
  ui-v2/app/components/phrase-editor.js
  ui-v2/app/controllers/dc/services/index.js
  ui-v2/app/routes/dc/services/index.js
  ui-v2/app/search/filters/service.js
  ui-v2/app/styles/base/icons/base-placeholders.scss
  ui-v2/app/styles/base/icons/index.scss
  ui-v2/app/styles/components/index.scss
  ui-v2/app/styles/components/phrase-editor.scss
  ui-v2/app/styles/components/phrase-editor/index.scss
  ui-v2/app/styles/components/phrase-editor/layout.scss
  ui-v2/app/styles/components/phrase-editor/skin.scss
  ui-v2/app/styles/components/pill/layout.scss
  ui-v2/app/styles/components/pill/skin.scss
  ui-v2/app/templates/components/phrase-editor.hbs
  ui-v2/app/templates/dc/services/index.hbs
  ui-v2/app/utils/search/filterable.js
  ui-v2/tests/acceptance/components/catalog-filter.feature
  ui-v2/tests/integration/components/phrase-editor-test.js
Labels: ui

#5722 fix agent in connect docs
  website/source/api/agent/connect.html.md
Labels: docs

#5756 Updates the snapshot agent docs to include a list of the ACLs required for operation
  agent/agent_endpoint.go
  agent/agent_endpoint_test.go
  agent/testagent.go
  website/source/docs/commands/snapshot/agent.html.markdown.erb
Labels: docs, theme/acls
