Repository hashicorp/consul, pull requests merged in 2019-05, with the labels that each got.

#5720 ui: CSS/Visual Refinements
  ui-v2/app/components/tabular-collection.js
  ui-v2/app/helpers/policy/is-management.js
  ui-v2/app/helpers/policy/typeof.js
  ui-v2/app/styles/base/decoration/base-placeholders.scss
  ui-v2/app/styles/base/icons/base-placeholders.scss
  ui-v2/app/styles/base/icons/base-variables.scss
  ui-v2/app/styles/base/icons/icon-placeholders.scss
  ui-v2/app/styles/base/icons/index.scss
  ui-v2/app/styles/components/action-group/layout.scss
  ui-v2/app/styles/components/action-group/skin.scss
  ui-v2/app/styles/components/anchors.scss
  ui-v2/app/styles/components/form-elements.scss
  ui-v2/app/styles/components/healthcheck-info.scss
  ui-v2/app/styles/components/healthcheck-info/layout.scss
  ui-v2/app/styles/components/icons/index.scss
  ui-v2/app/styles/components/pill.scss
  ui-v2/app/styles/components/pill/skin.scss
  ui-v2/app/styles/components/table.scss
  ui-v2/app/styles/components/table/layout.scss
  ui-v2/app/styles/components/table/skin.scss
  ui-v2/app/styles/components/tabular-collection.scss
  ui-v2/app/styles/components/tabular-details/layout.scss
  ui-v2/app/styles/components/tabular-details/skin.scss
  ui-v2/app/styles/components/tag-list/layout.scss
  ui-v2/app/styles/components/with-tooltip/layout.scss
  ui-v2/app/styles/core/typography.scss
  ui-v2/app/styles/routes/dc/acls/tokens/index.scss
  ui-v2/app/styles/routes/dc/intention/index.scss
  ui-v2/app/styles/routes/dc/nodes/index.scss
  ui-v2/app/styles/variables/index.scss
  ui-v2/app/templates/components/healthcheck-info.hbs
  ui-v2/app/templates/components/policy-selector.hbs
  ui-v2/app/templates/components/tabular-collection.hbs
  ui-v2/app/templates/components/tabular-details.hbs
  ui-v2/app/templates/components/token-list.hbs
  ui-v2/app/templates/dc/acls/policies/edit.hbs
  ui-v2/app/templates/dc/acls/policies/index.hbs
  ui-v2/app/templates/dc/acls/roles/index.hbs
  ui-v2/app/templates/dc/acls/tokens/index.hbs
  ui-v2/app/templates/dc/nodes/-services.hbs
  ui-v2/app/templates/dc/services/index.hbs
  ui-v2/tests/integration/helpers/policy/typeof-test.js
  ui-v2/tests/unit/helpers/policy/is-management-test.js
Labels: ui

#5753 Adding documentation for Serf telemetry metrics
  website/source/docs/agent/telemetry.html.md
Labels: docs

#5766 ui: URL encodes any variables interpolated into the template
  ui-v2/app/components/templated-anchor.js
  ui-v2/tests/integration/components/templated-anchor-test.js
Labels: ui

#5769 Fix panic in Resolving service config when proxy-defaults is nil
  agent/consul/config_endpoint.go
  agent/consul/config_endpoint_test.go
Labels: blocks-release, bug

#5771 Fix previous accidental master push :facepalm:
  agent/consul/config_endpoint_test.go
Labels: blocks-release, bug

#5761 [docs] Guide migration - index, menu, redirects
  website/source/docs/guides/index.html.md
  website/source/layouts/docs.erb
  website/source/redirects.txt
Labels: docs

#5775 [docs] fix kubernetes operations anchor link
  website/source/docs/guides/index.html.md
Labels: docs

#5433 [docs] New guide listing common error messages and what to do about them
  website/source/docs/common-errors.html.md
  website/source/docs/guides/index.html.md
  website/source/layouts/docs.erb
Labels: docs

#5777 ui: Dashboard URL refinements
  ui-v2/app/components/templated-anchor.js
  ui-v2/app/routes/dc/services/show.js
  ui-v2/app/templates/dc/services/show.hbs
  ui-v2/app/templates/settings.hbs
  ui-v2/tests/acceptance/dc/services/show.feature
  ui-v2/tests/integration/components/templated-anchor-test.js
  ui-v2/tests/pages/dc/services/show.js
Labels: ui

#5782 ui: Don't look for isDescriptor on null (related to null proxies)
  ui-v2/app/mixins/with-event-source.js
Labels: ui

#5783 ui: Upgrades the indirect dependency on jQuery to ^3.4.0
  ui-v2/package.json
  ui-v2/yarn.lock
Labels: ui

#5792 docs: adding note about enabling acl token replication for auth methods
  website/source/api/acl/acl.html.md
  website/source/docs/acl/acl-auth-methods.html.md
  website/source/docs/agent/options.html.md
Labels: docs

#5794 docs: tweak wording about service identities
  website/source/docs/acl/acl-system.html.md
Labels: docs

#5790 [docs] Redirect for Containers Guide
  website/source/redirects.txt
Labels: docs

#5796 Fixes race condition in Agent Cache
  agent/cache/cache.go
  agent/cache/cache_test.go
Labels: bug

#5784 ui: Make the Rules readonly when creating ServiceIdentities
  ui-v2/app/templates/components/policy-form.hbs
  ui-v2/tests/acceptance/dc/acls/policies/as-many/add-new.feature
Labels: ui

#5785 ui: Uses the default cursor instead of a pointer for upstream rows
  ui-v2/app/styles/routes/dc/service/index.scss
Labels: ui

#5758 Update to Consul Upgrading Doc
  website/source/docs/upgrading.html.md
Labels: docs

#5625 [docs] ACL Legacy Docs
  website/source/api/acl/legacy.html.md
  website/source/docs/acl/acl-legacy.html.md
  website/source/layouts/docs.erb
Labels: docs

#5799 ui: Make the proxy icon full size in service listings
  ui-v2/app/styles/components/table.scss
Labels: ui

#5802 ui: Ensure room for non-hidden scrollbars
  ui-v2/app/styles/components/action-group/layout.scss
Labels: ui

#5805 ui: Remove old 'default' template keyword, we now use '' for default
  ui-v2/app/templates/components/policy-selector.hbs
Labels: ui

#5806 ui: fix production build only empty role modal
  ui-v2/app/services/dom-buffer.js
  ui-v2/app/templates/components/role-selector.hbs
Labels: ui

#5807 ui: Gives the minimal in-form token list use a maximum row size
  ui-v2/app/templates/components/token-list.hbs
Labels: ui

#5693 [docs] WIP ports page
  website/source/docs/agent/options.html.md
  website/source/docs/guides/deployment.html.md
  website/source/docs/install/ports.html.md
Labels: docs

#5810 ui: Previously we were passing through 'fake' events, revert to real..
  ui-v2/app/components/form-component.js
  ui-v2/app/utils/form/builder.js
  ui-v2/tests/acceptance/dc/acls/policies/update.feature
  ui-v2/tests/pages.js
  ui-v2/tests/pages/dc/acls/policies/edit.js
Labels: ui

#5808 Add some config entry docs
  website/source/api/config.html.md
  website/source/docs/agent/config_entries.html.md
  website/source/docs/agent/options.html.md
  website/source/docs/commands/config.html.md
  website/source/docs/commands/config/delete.html.md.erb
  website/source/docs/commands/config/list.html.md.erb
  website/source/docs/commands/config/read.html.md.erb
  website/source/docs/commands/config/write.html.md.erb
  website/source/layouts/docs.erb
Labels: docs

#5809 Envoy L7 config docs
  website/source/docs/connect/proxies/envoy.md
Labels: docs

#5803 [docs] Updated Landing Page
  website/source/assets/stylesheets/_docs.scss
  website/source/docs/index.html.erb
  website/source/docs/index.html.md
Labels: docs

#5750 Clarify mutual exclusivity of Azure scale set auto-join parameters
  website/source/docs/agent/cloud-auto-join.html.md
Labels: docs

#5689 Updating documentation of example systemd service to be of type notify.
  website/source/docs/guides/deployment-guide.html.md
Labels: docs

#5701 docs/agent/options: Add go-sockaddr template examples for -bind
  website/source/docs/agent/options.html.md
Labels: docs

#5813 docs/Consul Kubernetes landing page
  website/source/docs/platform/k8s/index.html.md
Labels: docs

#5832 docs: fixed typos
  website/source/docs/agent/options.html.md
Labels: docs

#5830 docs: spelling and wording
  website/source/docs/agent/telemetry.html.md
Labels: docs

#5826 [docs] Add K8s L7 Observability Guide
  website/source/assets/images/consul-grafana-add-dash.png
  website/source/docs/guides/kubernetes-observability.html.md
Labels: docs

#5840 docs: fixed spelling
  website/source/docs/platform/k8s/dns.html.md
Labels: docs

#5839 docs: fixed typos
  website/source/docs/connect/proxies.html.md
Labels: docs

#5616 ui: Expands create-listeners API to allow recursive addition and plain function addition
  ui-v2/app/utils/dom/create-listeners.js
  ui-v2/tests/unit/utils/dom/create-listeners-test.js
Labels: ui

#5745 ui: Reconcile ember-data store when records are deleted via blocking
  ui-v2/app/models/coordinate.js
  ui-v2/app/models/node.js
  ui-v2/app/models/proxy.js
  ui-v2/app/models/service.js
  ui-v2/app/models/session.js
  ui-v2/app/serializers/application.js
  ui-v2/app/services/repository/type/event-source.js
  ui-v2/tests/integration/services/repository/coordinate-test.js
  ui-v2/tests/integration/services/repository/node-test.js
  ui-v2/tests/integration/services/repository/service-test.js
  ui-v2/tests/integration/services/repository/session-test.js
Labels: ui

#5770 ui: Allow text selection of clickable elements and their contents
  ui-v2/app/instance-initializers/selection.js
  ui-v2/app/utils/dom/click-first-anchor.js
  ui-v2/config/environment.js
  ui-v2/tests/unit/utils/dom/click-first-anchor-test.js
Labels: ui

#5703 ui: Ensure an EventSource isn't opened if closed before first tick
  ui-v2/app/utils/dom/event-source/callable.js
  ui-v2/tests/integration/utils/dom/event-source/callable-test.js
Labels: ui

#5846 docs: spelling
  website/source/docs/commands/connect/envoy.html.md.erb
Labels: docs

#5795 [docs] Updating links to guides
  website/source/api/acl-legacy.html.md
  website/source/api/acl/acl.html.md
  website/source/api/acl/legacy.html.md
  website/source/api/acl/policies.html.md
  website/source/api/kv.html.md
  website/source/api/operator.html.md
  website/source/api/operator/area.html.md
  website/source/api/operator/autopilot.html.md
  website/source/api/operator/segment.html.md
  website/source/api/query.html.md
  website/source/api/session.html.md
  website/source/discovery.html.erb
  website/source/docs/acl/acl-legacy.html.md
  website/source/docs/acl/acl-rules.html.md
  website/source/docs/agent/dns.html.md
  website/source/docs/agent/encryption.html.md
  website/source/docs/agent/kv.html.md
  website/source/docs/agent/options.html.md
  website/source/docs/commands/license.html.markdown.erb
  website/source/docs/commands/lock.html.markdown.erb
  website/source/docs/commands/operator.html.markdown.erb
  website/source/docs/commands/operator/area.html.markdown.erb
  website/source/docs/commands/operator/autopilot.html.markdown.erb
  website/source/docs/connect/configuration.html.md
  website/source/docs/connect/index.html.md
  website/source/docs/connect/intentions.html.md
  website/source/docs/connect/proxies/envoy.md
  website/source/docs/connect/security.html.md
  website/source/docs/enterprise/connect-multi-datacenter/index.html.md
  website/source/docs/enterprise/federation/index.html.md
  website/source/docs/enterprise/network-segments/index.html.md
  website/source/docs/enterprise/read-scale/index.html.md
  website/source/docs/enterprise/redundancy/index.html.md
  website/source/docs/enterprise/sentinel/index.html.markdown.erb
  website/source/docs/enterprise/upgrades/index.html.md
  website/source/docs/faq.html.md
  website/source/docs/install/bootstrapping.html.md
  website/source/docs/install/performance.html.md
  website/source/docs/internals/acl.html.md
  website/source/docs/internals/architecture.html.md
  website/source/docs/internals/consensus.html.md
  website/source/docs/internals/coordinates.html.md
  website/source/docs/internals/sessions.html.md
  website/source/docs/platform/k8s/index.html.md
  website/source/docs/platform/k8s/run.html.md
  website/source/docs/upgrade-specific.html.md
Labels: docs

#5844 docs: fixed typo
  website/source/docs/acl/acl-rules.html.md
Labels: docs

#5820 ui: Adds tick whilst editing the link template in the Settings area
  ui-v2/app/controllers/settings.js
  ui-v2/app/services/timeout.js
  ui-v2/app/styles/app.scss
  ui-v2/app/styles/base/animation/index.scss
  ui-v2/app/styles/routes/dc/settings/index.scss
  ui-v2/app/templates/settings.hbs
  ui-v2/tests/unit/controllers/settings-test.js
Labels: ui
