Repository hashicorp/consul, pull requests merged in 2019-03, with the labels that each got.

#5407 [docs] Fix filename typos in creating certificates guide.
  website/source/docs/guides/creating-certificates.html.md
Labels: docs

#5379 [docs] Add IntelliJ Consul to the list of community tools
  website/source/downloads_tools.html.erb
Labels: docs

#5420 Catalog API Doc Changes
  website/source/api/catalog.html.md
Labels: docs

#5385 [Docs] Production Guide for ACLs
  website/source/assets/images/guides/access-controls.png
  website/source/assets/images/guides/tokens.png
  website/source/docs/guides/production-acls.html.md
Labels: docs

#5431 [docs] Add examples for the `extraConfig` options in the Helm chart
  website/source/docs/platform/k8s/helm.html.md
Labels: docs

#5381 ui: Amend breakpoints for new numberless filter buttons
  ui-v2/app/styles/variables/custom-query.scss
Labels: ui

#5383 UI: Remove call to super in setupController
  ui-v2/app/routes/dc.js
  ui-v2/app/routes/dc/acls/create.js
  ui-v2/app/routes/dc/acls/edit.js
  ui-v2/app/routes/dc/acls/index.js
  ui-v2/app/routes/dc/acls/policies/edit.js
  ui-v2/app/routes/dc/acls/policies/index.js
  ui-v2/app/routes/dc/acls/tokens/edit.js
  ui-v2/app/routes/dc/acls/tokens/index.js
  ui-v2/app/routes/dc/intentions/create.js
  ui-v2/app/routes/dc/intentions/edit.js
  ui-v2/app/routes/dc/intentions/index.js
  ui-v2/app/routes/dc/kv/create.js
  ui-v2/app/routes/dc/kv/edit.js
  ui-v2/app/routes/dc/kv/index.js
  ui-v2/app/routes/dc/nodes/index.js
  ui-v2/app/routes/dc/nodes/show.js
  ui-v2/app/routes/dc/services/index.js
  ui-v2/app/routes/dc/services/instance.js
  ui-v2/app/routes/dc/services/show.js
  ui-v2/app/routes/settings.js
Labels: ui

#5418 UI: Add acceptance testing around Connect proxies
  ui-v2/app/routes/dc/services/instance.js
  ui-v2/app/styles/components/tabular-collection.scss
  ui-v2/app/templates/components/healthcheck-list.hbs
  ui-v2/app/templates/dc/services/-upstreams.hbs
  ui-v2/app/templates/dc/services/instance.hbs
  ui-v2/tests/acceptance/dc/services/instances/error.feature
  ui-v2/tests/acceptance/dc/services/instances/proxy.feature
  ui-v2/tests/acceptance/dc/services/instances/show.feature
  ui-v2/tests/acceptance/dc/services/instances/sidecar-proxy.feature
  ui-v2/tests/acceptance/dc/services/instances/with-proxy.feature
  ui-v2/tests/acceptance/dc/services/instances/with-sidecar.feature
  ui-v2/tests/acceptance/steps/dc/services/instances/error-steps.js
  ui-v2/tests/acceptance/steps/dc/services/instances/proxy-steps.js
  ui-v2/tests/acceptance/steps/dc/services/instances/show-steps.js
  ui-v2/tests/acceptance/steps/dc/services/instances/sidecar-proxy-steps.js
  ui-v2/tests/acceptance/steps/dc/services/instances/with-proxy-steps.js
  ui-v2/tests/acceptance/steps/dc/services/instances/with-sidecar-steps.js
  ui-v2/tests/helpers/type-to-url.js
  ui-v2/tests/pages.js
  ui-v2/tests/pages/dc/services/instance.js
  ui-v2/tests/steps/assertions/dom.js
  ui-v2/tests/steps/assertions/model.js
  ui-v2/tests/steps/assertions/page.js
  ui-v2/yarn.lock
Labels: ui

#5392 UI: Add forking based on service instance id existence
  ui-v2/app/models/proxy.js
  ui-v2/app/routes/dc/services/instance.js
  ui-v2/app/services/repository/proxy.js
  ui-v2/app/services/repository/service.js
  ui-v2/app/styles/components/tabular-collection.scss
  ui-v2/app/templates/components/healthcheck-list.hbs
  ui-v2/app/templates/dc/services/-upstreams.hbs
  ui-v2/app/templates/dc/services/instance.hbs
  ui-v2/tests/acceptance/dc/services/instances/error.feature
  ui-v2/tests/acceptance/dc/services/instances/proxy.feature
  ui-v2/tests/acceptance/dc/services/instances/show.feature
  ui-v2/tests/acceptance/dc/services/instances/sidecar-proxy.feature
  ui-v2/tests/acceptance/dc/services/instances/with-proxy.feature
  ui-v2/tests/acceptance/dc/services/instances/with-sidecar.feature
  ui-v2/tests/acceptance/steps/dc/services/instances/error-steps.js
  ui-v2/tests/acceptance/steps/dc/services/instances/proxy-steps.js
  ui-v2/tests/acceptance/steps/dc/services/instances/show-steps.js
  ui-v2/tests/acceptance/steps/dc/services/instances/sidecar-proxy-steps.js
  ui-v2/tests/acceptance/steps/dc/services/instances/with-proxy-steps.js
  ui-v2/tests/acceptance/steps/dc/services/instances/with-sidecar-steps.js
  ui-v2/tests/helpers/type-to-url.js
  ui-v2/tests/pages.js
  ui-v2/tests/pages/dc/services/instance.js
  ui-v2/tests/steps/assertions/dom.js
  ui-v2/tests/steps/assertions/model.js
  ui-v2/tests/steps/assertions/page.js
  ui-v2/yarn.lock
Labels: ui

#5435 [docs] fix link to prepared query rules
  website/source/api/query.html.md
Labels: docs

#5442 [doc] New Ports Documentation
  website/source/docs/install/ports.html.md
  website/source/layouts/docs.erb
Labels: docs

#5399 [Docs] ACL Bootstrap Guide
  website/source/docs/guides/acl.html.md
Labels: docs

#5475 acl: correctly extend the cache for acl identities during resolution
  agent/consul/acl.go
  agent/consul/acl_test.go
Labels: theme/acls

#5452 [docs] Remove misleading encrypt param documentation
  website/source/docs/agent/encryption.html.md
Labels: docs

#5473 [docs] Bootstrapping Guide -> Install docs
  website/source/docs/guides/bootstrapping.html.md
  website/source/docs/guides/index.html.md
  website/source/docs/install/bootstrapping.html.md
  website/source/docs/install/manual-bootstrap.html.md
  website/source/layouts/docs.erb
Labels: docs

#5478 [docs] Move Sentinel documentation
  website/source/docs/agent/acl-rules.html.md
  website/source/docs/agent/sentinel.html.markdown.erb
  website/source/docs/guides/index.html.md
  website/source/layouts/docs.erb
Labels: docs

#5474 Add docs for using Helm `--set` to create extraConfig variables
  website/source/docs/platform/k8s/helm.html.md
Labels: docs

#5471 [docs] Deploying Consul with Kubernetes
  website/source/docs/guides/kuberenetes-deployment.html.md
Labels: docs

#5480 acl: reduce complexity of token resolution process with alternative singleflighting
  agent/consul/acl.go
  agent/consul/acl_test.go
  vendor/golang.org/x/sync/singleflight/singleflight.go
  vendor/vendor.json
Labels: theme/acls

#5424 Docs Proofing
  website/source/docs/agent/acl-rules.html.md
  website/source/docs/agent/acl-system.html.md
  website/source/docs/agent/checks.html.md
  website/source/docs/agent/options.html.md
  website/source/docs/guides/acl.html.md
Labels: docs

#5449 Optimize health watching to single chan/goroutine.
  agent/consul/state/catalog.go
  agent/consul/state/catalog_test.go
Labels: theme/performance

#5492 Docs: Add log_file attribute to agent configuration documentation
  website/source/docs/agent/options.html.md
Labels: docs

#5454 [docs] Added section on using Helm chart to deploy Enterprise binaries
  website/source/docs/platform/k8s/helm.html.md
Labels: docs

#5397 [Docs] Connect Sidecar Proxies: Fixes 'must may' typo and adds formatting to follow other docs
  website/source/docs/connect/proxies.html.md
Labels: docs

#5391 [Docs] Added a note to GCE auto-join credentials option
  website/source/docs/agent/cloud-auto-join.html.md
Labels: docs

#5529 [docs] Network Segments
  website/source/docs/guides/index.html.md
  website/source/docs/guides/network-segments.html.md
  website/source/layouts/docs.erb
Labels: docs

#5530 ui: Fix erroneous HTML that was being fixed by either browser/ember
  ui-v2/app/templates/dc/kv/edit.hbs
Labels: ui

#5497 [docs] New doc on integration with Ambassador Proxy
  website/source/docs/platform/k8s/ambassador.html.md
  website/source/layouts/docs.erb
Labels: docs

#5508 Connect: Make Connect health queries unblock correctly
  agent/consul/state/catalog.go
  agent/consul/state/catalog_test.go
  agent/consul/state/state_store_test.go
Labels: theme/connect

#5501 docs: update 'sc' usage in windows-guide.html.md
  website/source/docs/guides/windows-guide.html.md
Labels: docs

#5527 [docs] improve telegraf guide with objectives, summary, formatting
  website/source/docs/guides/monitoring-telegraf.html.md
Labels: docs

#5463 UI: Add proxy icons to proxy services and instances where appropriate
  ui-v2/app/controllers/dc/services/index.js
  ui-v2/app/styles/components/app-view.scss
  ui-v2/app/styles/components/icons/index.scss
  ui-v2/app/styles/components/table.scss
  ui-v2/app/styles/components/table/layout.scss
  ui-v2/app/styles/components/tabular-collection.scss
  ui-v2/app/styles/components/type-icon/index.scss
  ui-v2/app/styles/components/type-icon/layout.scss
  ui-v2/app/styles/components/type-icon/skin.scss
  ui-v2/app/styles/components/with-tooltip.scss
  ui-v2/app/styles/components/with-tooltip/index.scss
  ui-v2/app/styles/core/typography.scss
  ui-v2/app/templates/dc/services/index.hbs
  ui-v2/app/templates/dc/services/instance.hbs
  ui-v2/app/templates/dc/services/show.hbs
Labels: ui

#5467 UI: Amends blocking queries text and toggle component in settings
  ui-v2/app/styles/components/app-view/layout.scss
  ui-v2/app/styles/components/app-view/skin.scss
  ui-v2/app/styles/core/typography.scss
  ui-v2/app/templates/settings.hbs
Labels: ui

#5470 UI: Add blocking cursor validation and more straightforward throttle
  ui-v2/app/services/repository/type/event-source.js
  ui-v2/app/utils/dom/event-source/blocking.js
  ui-v2/tests/acceptance/dc/list-blocking.feature
  ui-v2/tests/unit/utils/dom/event-source/blocking-test.js
Labels: ui

#5479 UI: Adds blocking query support to the service detail page
  ui-v2/app/computed/catchable.js
  ui-v2/app/controllers/dc/services/show.js
  ui-v2/app/instance-initializers/event-source.js
  ui-v2/app/mixins/with-event-source.js
  ui-v2/app/models/service.js
  ui-v2/app/routes/dc/services/show.js
  ui-v2/app/serializers/application.js
  ui-v2/app/services/repository/service.js
  ui-v2/app/templates/dc/services/-notifications.hbs
  ui-v2/app/templates/dc/services/index.hbs
  ui-v2/app/templates/dc/services/show.hbs
  ui-v2/config/environment.js
  ui-v2/tests/acceptance/dc/list-blocking.feature
  ui-v2/tests/helpers/set-cookies.js
  ui-v2/tests/helpers/type-to-url.js
  ui-v2/tests/integration/services/repository/service-test.js
  ui-v2/tests/unit/controllers/dc/services/show-test.js
Labels: ui

#5489 UI: Adds support for blocking queries on the node detail page
  ui-v2/app/controllers/dc/nodes/show.js
  ui-v2/app/instance-initializers/event-source.js
  ui-v2/app/models/node.js
  ui-v2/app/routes/dc/nodes/show.js
  ui-v2/app/services/repository/coordinate.js
  ui-v2/app/services/repository/node.js
  ui-v2/app/templates/dc/nodes/-notifications.hbs
  ui-v2/app/templates/dc/nodes/show.hbs
  ui-v2/tests/acceptance/dc/nodes/show.feature
  ui-v2/tests/integration/services/repository/node-test.js
  ui-v2/tests/unit/controllers/dc/nodes/show-test.js
  ui-v2/tests/unit/routes/dc/nodes/show-test.js
Labels: ui

#5487 UI: Add support for blocking queries on the service instance detail page
  ui-v2/app/controllers/dc/nodes/show.js
  ui-v2/app/controllers/dc/services/instance.js
  ui-v2/app/instance-initializers/event-source.js
  ui-v2/app/models/node.js
  ui-v2/app/routes/dc/nodes/show.js
  ui-v2/app/routes/dc/services/instance.js
  ui-v2/app/services/repository/coordinate.js
  ui-v2/app/services/repository/node.js
  ui-v2/app/services/repository/proxy.js
  ui-v2/app/services/repository/service.js
  ui-v2/app/templates/dc/nodes/-notifications.hbs
  ui-v2/app/templates/dc/nodes/show.hbs
  ui-v2/app/templates/dc/services/instance.hbs
  ui-v2/tests/acceptance/dc/list-blocking.feature
  ui-v2/tests/acceptance/dc/nodes/show.feature
  ui-v2/tests/acceptance/dc/services/instances/show.feature
  ui-v2/tests/integration/services/repository/node-test.js
  ui-v2/tests/steps.js
  ui-v2/tests/steps/assertions/dom.js
  ui-v2/tests/steps/assertions/model.js
  ui-v2/tests/unit/controllers/dc/nodes/show-test.js
  ui-v2/tests/unit/controllers/dc/services/instance-test.js
  ui-v2/tests/unit/routes/dc/nodes/show-test.js
Labels: ui

#5499 Connect: Fix Envoy getting stuck during load
  agent/xds/clusters.go
  agent/xds/clusters_test.go
  agent/xds/endpoints.go
  agent/xds/endpoints_test.go
  agent/xds/listeners.go
  agent/xds/response.go
  agent/xds/server.go
  agent/xds/server_test.go
Labels: theme/connect

#5547 ui: Remove index.html from the docs URL so we just point to `/docs`
  ui-v2/app/templates/components/hashicorp-consul.hbs
  ui-v2/app/templates/error.hbs
Labels: ui

#5522 [docs] Production ACLs
  website/source/docs/guides/production-acls.html.md
Labels: docs

#5512 [docs] DNS Forwarding
  website/source/docs/guides/forwarding.html.md
Labels: docs

#5511 [Docs] Launching K8s getting started path on Learn
  website/source/docs/guides/index.html.md
  website/source/layouts/docs.erb
Labels: docs

#5524 [docs] Semaphore
  website/source/docs/guides/semaphore.html.md
Labels: docs

#5538 [docs] Advanced Federation
  website/source/docs/guides/advanced-federation.html.md
  website/source/docs/guides/index.html.md
  website/source/layouts/docs.erb
Labels: docs

#5505 [docs] Connect with Envoy Guide
  website/source/docs/guides/connect-envoy.md
Labels: docs

#5575 acl: memdb filter of tokens-by-policy was inverted
  agent/consul/state/acl.go
  agent/consul/state/acl_test.go
Labels: theme/acls
