Repository hashicorp/consul, pull requests merged in 2021-08, with the labels that each got.

#10749 website: upgrade consent-manager
  website/package-lock.json
  website/package.json
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10740 docs: Add /v1/agent/host endpoint
  website/content/api-docs/agent/index.mdx
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10755 Add more features to TFE list
  website/content/docs/nia/configuration.mdx
  website/content/docs/nia/network-drivers/index.mdx
Labels: pr/no-changelog, theme/consul-terraform-sync, type/docs

#10731 docs: Add namespace parameter to additional HTTP endpoints
  website/content/api-docs/agent/check.mdx
  website/content/api-docs/agent/connect.mdx
  website/content/api-docs/discovery-chain.mdx
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10750 website: Add redirect for /connect/ingress-gateways
  website/redirects.next.js
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10667 docs: Document supported `consul connect` env vars
  website/content/commands/connect/envoy.mdx
  website/content/commands/connect/proxy.mdx
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10649 docs: Note proxy-defaults can globally set service protocol
  website/content/docs/connect/config-entries/service-defaults.mdx
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10665 Update Helm SDK link
  website/content/api-docs/libraries-and-sdks.mdx
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10760 Update task source documentation
  website/content/docs/nia/configuration.mdx
Labels: pr/no-changelog, theme/consul-terraform-sync, type/docs

#10759 docs: Fix service checks docs on session endpoint
  website/content/api-docs/session.mdx
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10601 docs: link to config entries from enable_central_service_config
  website/content/docs/agent/options.mdx
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10717 checks: Add Interval and Timeout to API response
  .changelog/10717.txt
  agent/agent_endpoint_test.go
  agent/agent_test.go
  agent/structs/check_definition.go
  agent/structs/structs.go
  agent/structs/structs_filtering_test.go
  proto/pbservice/healthcheck.gen.go
  proto/pbservice/healthcheck.pb.go
  proto/pbservice/healthcheck.proto
  website/content/api-docs/agent/check.mdx
Labels: type/docs, type/docs-cherrypick

#10767 ui: Fix Health Checks in K/V form Lock Sessions Info section
  .changelog/10767.txt
  ui/packages/consul-ui/app/components/consul/lock-session/form/index.hbs
  ui/packages/consul-ui/app/models/session.js
  ui/packages/consul-ui/mock-api/v1/session/info/_
Labels: backport/1.10, backport/1.9, theme/ui

#10765 Add Citrix TF module links to NIA docs (#10710)
  website/content/docs/nia/installation/requirements.mdx
Labels: pr/no-changelog, theme/consul-terraform-sync, type/docs

#10764 Add Citrix TF module links to NIA docs (#10710)
  website/content/docs/nia/installation/requirements.mdx
Labels: pr/no-changelog, theme/consul-terraform-sync, type/docs

#10675 fix state index for `CAOpSetRootsAndConfig` op
  agent/consul/fsm/commands_oss.go
Labels: backport/1.10, backport/1.8, backport/1.9, pr/no-changelog

#10727 Add initial Dependabot configuration
  .github/dependabot.yml
Labels: pr/no-changelog, theme/contributing

#10763 general language and readability improvements to proxy integration docs
  website/content/docs/connect/proxies/integrate.mdx
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10737 acl: remove authz == nil checks
  agent/acl.go
  agent/acl_endpoint.go
  agent/acl_test.go
  agent/agent_endpoint.go
  agent/agent_endpoint_test.go
  agent/connect_auth.go
  agent/consul/acl_endpoint.go
  agent/consul/acl_endpoint_legacy.go
  agent/consul/internal_endpoint.go
  agent/consul/kvs_endpoint.go
  agent/rpc/subscribe/subscribe.go
  agent/structs/intention.go
  command/acl/bindingrule/read/bindingrule_read.go
Labels: pr/no-changelog, theme/acls, theme/cli

#10738 acl: remove the last of the authz == nil checks
  agent/agent_endpoint.go
  agent/connect_auth.go
  agent/consul/catalog_endpoint.go
  agent/consul/config_endpoint.go
  agent/consul/coordinate_endpoint.go
  agent/consul/health_endpoint.go
  agent/consul/intention_endpoint.go
  agent/consul/internal_endpoint.go
  agent/consul/kvs_endpoint.go
  agent/consul/session_endpoint.go
  agent/consul/txn_endpoint.go
  agent/event_endpoint.go
  agent/ui_endpoint.go
Labels: pr/no-changelog

#10769 ui: Add Vault as a Service External Source
  .changelog/10769.txt
  ui/packages/consul-ui/app/components/consul/external-source/README.mdx
  ui/packages/consul-ui/app/components/pill/index.scss
  ui/packages/consul-ui/app/helpers/service/external-source.js
  ui/packages/consul-ui/app/styles/base/icons/base-variables.scss
  ui/packages/consul-ui/app/styles/base/icons/icon-placeholders.scss
  ui/packages/consul-ui/mock-api/v1/health/service/_
  ui/packages/consul-ui/mock-api/v1/internal/ui/gateway-services-nodes/_
  ui/packages/consul-ui/mock-api/v1/internal/ui/service-topology/_
  ui/packages/consul-ui/mock-api/v1/internal/ui/services
Labels: theme/ui

#10768 telemetry: add Agent TLS Certificate expiration metric
  .changelog/10768.txt
  agent/agent.go
  agent/consul/leader_connect.go
  agent/consul/leader_metrics.go
  website/content/docs/agent/telemetry.mdx
Labels: type/docs

#10630 defer setting the state before returning to avoid stuck in `INITIALIZING` state
  .changelog/10630.txt
  agent/consul/leader_connect_ca.go
Labels: type/bug, theme/certificates

#10793 acl: small cleanup of a couple Authorization flows
  acl/policy_authorizer.go
  agent/consul/acl.go
  agent/consul/catalog_endpoint.go
  agent/consul/txn_endpoint.go
  agent/structs/intention.go
Labels: theme/acls, pr/no-changelog

#10770 telemetry: add log message when certs are about to expire
  agent/consul/leader_metrics.go
Labels: pr/no-changelog

#10742 acl: move agent/consul vet functions
  agent/consul/acl.go
  agent/consul/acl_test.go
  agent/consul/catalog_endpoint.go
  agent/consul/catalog_endpoint_test.go
  agent/consul/txn_endpoint.go
Labels: pr/no-changelog

#10743 acl: decouple filtering from ACLResolver and remove a couple methods
  agent/consul/acl.go
  agent/consul/acl_client.go
  agent/consul/acl_endpoint.go
  agent/consul/acl_server.go
  agent/consul/acl_test.go
  agent/consul/catalog_endpoint.go
  agent/consul/intention_endpoint.go
  agent/consul/internal_endpoint.go
  agent/consul/operator_autopilot_endpoint.go
  agent/consul/operator_raft_endpoint.go
  agent/consul/session_endpoint.go
Labels: theme/acls, pr/no-changelog

#10798 [1.10.x] acl: fix txn_endpoint to properly authorize service registrations
  .changelog/10798.txt
  agent/consul/acl.go
  agent/consul/catalog_endpoint.go
  agent/consul/txn_endpoint.go
Labels: backport/1.8, backport/1.9

#10799 changelog: add KNOWN ISSUES note for streaming with mesh gateways
  CHANGELOG.md
Labels: pr/no-changelog

#10612 acl: acl replication routine to report the last error message
  .changelog/10612.txt
  agent/consul/acl_replication.go
  agent/consul/acl_replication_test.go
  agent/consul/leader.go
  agent/structs/acl.go
  api/acl.go
Labels: theme/acls

#10795 cli: Test API access using /status/leader in consul watch
  .changelog/10795.txt
  command/watch/watch.go
Labels: theme/cli, backport/1.8, backport/1.9, backport/1.10

#10803 docs/nia: add CTS enterprise license information
  website/content/docs/nia/configuration.mdx
  website/content/docs/nia/enterprise/index.mdx
  website/content/docs/nia/enterprise/license.mdx
  website/data/docs-nav-data.json
Labels: type/docs, theme/consul-terraform-sync, pr/no-changelog

#10812 docs: adding env var info
  website/content/docs/connect/proxies/envoy.mdx
  website/content/docs/connect/proxies/integrate.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#10757 cli: Use admin bind address in self_admin cluster
  .changelog/10757.txt
  command/connect/envoy/bootstrap_config.go
  command/connect/envoy/bootstrap_config_test.go
Labels: type/enhancement, theme/cli, backport/1.10

#10819 [1.9.x] cli: Use admin bind address in self_admin cluster (#10757)
  .changelog/10757.txt
  command/connect/envoy/bootstrap_config.go
  command/connect/envoy/bootstrap_config_test.go
Labels: type/bug, theme/cli

#10820 cli: Fix broken KV import on Windows
  .changelog/10820.txt
  command/kv/imp/kv_import.go
Labels: type/bug, theme/cli, theme/windows, theme/kv, backport/1.10

#10385 docs: Add JSON examples to all config entries
  website/content/api-docs/config.mdx
  website/content/docs/connect/config-entries/ingress-gateway.mdx
  website/content/docs/connect/config-entries/mesh.mdx
  website/content/docs/connect/config-entries/proxy-defaults.mdx
  website/content/docs/connect/config-entries/service-defaults.mdx
  website/content/docs/connect/config-entries/service-intentions.mdx
  website/content/docs/connect/config-entries/service-resolver.mdx
  website/content/docs/connect/config-entries/service-router.mdx
  website/content/docs/connect/config-entries/service-splitter.mdx
  website/content/docs/connect/config-entries/terminating-gateway.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#10823 Updated NIA log_level to indicate INFO default
  website/content/docs/nia/configuration.mdx
Labels: type/docs, theme/consul-terraform-sync, pr/no-changelog

#10818 [1.8.x] cli: Use admin bind address in self_admin cluster (#10757)
  .changelog/10757.txt
  command/connect/envoy/bootstrap_config.go
  command/connect/envoy/bootstrap_config_test.go
Labels: type/bug, theme/cli

#10761 docs: Update code blocks across website
  website/content/api-docs/acl-legacy.mdx
  website/content/api-docs/acl/index.mdx
  website/content/api-docs/agent/index.mdx
  website/content/api-docs/coordinate.mdx
  website/content/commands/snapshot/agent.mdx
  website/content/docs/agent/config-entries.mdx
  website/content/docs/agent/options.mdx
  website/content/docs/agent/telemetry.mdx
  website/content/docs/connect/proxies/built-in.mdx
  website/content/docs/connect/registration/service-registration.mdx
  website/content/docs/discovery/checks.mdx
  website/content/docs/discovery/services.mdx
  website/content/docs/dynamic-app-config/watches.mdx
  website/content/docs/enterprise/audit-logging.mdx
  website/content/docs/enterprise/namespaces.mdx
  website/content/docs/install/bootstrapping.mdx
  website/content/docs/install/cloud-auto-join.mdx
  website/content/docs/install/manual-bootstrap.mdx
  website/content/docs/install/performance.mdx
  website/content/docs/k8s/connect/connect-ca-provider.mdx
  website/content/docs/k8s/connect/ingress-gateways.mdx
  website/content/docs/k8s/connect/terminating-gateways.mdx
  website/content/docs/k8s/crds/index.mdx
  website/content/docs/k8s/dns.mdx
  website/content/docs/k8s/installation/deployment-configurations/consul-enterprise.mdx
  website/content/docs/k8s/installation/deployment-configurations/servers-outside-kubernetes.mdx
  website/content/docs/k8s/installation/deployment-configurations/single-dc-multi-k8s.mdx
  website/content/docs/k8s/installation/install.mdx
  website/content/docs/k8s/installation/multi-cluster/kubernetes.mdx
  website/content/docs/k8s/installation/multi-cluster/vms-and-kubernetes.mdx
  website/content/docs/k8s/upgrade/index.mdx
  website/content/docs/nia/terraform-modules.mdx
  website/content/docs/security/acl/acl-legacy.mdx
  website/content/docs/upgrading/instructions/upgrade-to-1-6-x.mdx
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs, type/docs-cherrypick, theme/consul-terraform-sync, pr/no-changelog

#10827 docs: remove note on ingress gateway hosts field needing a port number
  website/content/docs/connect/config-entries/ingress-gateway.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#10832 contrib: add list of check register flows
  contributing/service-discovery/README.md
  contributing/service-discovery/health-checks.md
Labels: pr/no-changelog

#10758 Fixup to support unix domain socket via command line
  .changelog/10758.txt
  agent/agent_endpoint.go
  api/agent.go
  api/agent_test.go
  api/catalog_test.go
  command/services/register/register.go
  website/content/commands/services/register.mdx
Labels: theme/api, theme/cli, backport/1.10

#10813 deps: upgrade gogo-protobuf to v1.3.2
  .changelog/10813.txt
  agent/grpc/internal/testservice/simple.pb.go
  go.mod
  go.sum
  proto/pbacl/acl.pb.go
  proto/pbautoconf/auto_config.pb.go
  proto/pbcommon/common.pb.go
  proto/pbconfig/config.pb.go
  proto/pbconnect/connect.pb.go
  proto/pbservice/healthcheck.pb.go
  proto/pbservice/node.pb.go
  proto/pbservice/service.pb.go
  proto/pbsubscribe/subscribe.pb.go
Labels: pr/dependencies, backport/1.8, backport/1.9, backport/1.10

#10824 proxycfg: Use acl.tokens.default token as a default when there is no token in the registration
  .changelog/10824.txt
  agent/agent.go
  agent/proxycfg/manager.go
  agent/proxycfg/manager_test.go
Labels: type/bug, backport/1.8, backport/1.9, backport/1.10

#10843 oss: Rename default partition
  agent/structs/config_entry_intentions_test.go
  agent/structs/structs_oss.go
  api/catalog_test.go
  api/health_test.go
  api/oss_test.go
  api/txn_test.go
  test/integration/connect/envoy/case-basic/verify.bats
  test/integration/connect/envoy/case-http/verify.bats
Labels: theme/api, theme/health-checks, pr/no-changelog

#10839 backport(1.10): deps: upgrade gogo-protobuf to v1.3.2
  .changelog/10813.txt
  agent/grpc/internal/testservice/simple.pb.go
  go.mod
  go.sum
  proto/pbacl/acl.pb.go
  proto/pbautoconf/auto_config.pb.go
  proto/pbcommon/common.pb.go
  proto/pbconfig/config.pb.go
  proto/pbconnect/connect.pb.go
  proto/pbservice/healthcheck.pb.go
  proto/pbservice/node.pb.go
  proto/pbservice/service.pb.go
  proto/pbsubscribe/subscribe.pb.go
  vendor/github.com/gogo/protobuf/gogoproto/gogo.pb.go
  vendor/github.com/gogo/protobuf/proto/encode.go
  vendor/github.com/gogo/protobuf/proto/lib.go
  vendor/github.com/gogo/protobuf/proto/properties.go
  vendor/github.com/gogo/protobuf/proto/table_marshal.go
  vendor/github.com/gogo/protobuf/proto/table_merge.go
  vendor/github.com/gogo/protobuf/proto/table_unmarshal.go
  vendor/github.com/gogo/protobuf/proto/text.go
  vendor/github.com/gogo/protobuf/proto/text_parser.go
  vendor/github.com/gogo/protobuf/protoc-gen-gogo/descriptor/descriptor.pb.go
  vendor/github.com/gogo/protobuf/types/any.pb.go
  vendor/github.com/gogo/protobuf/types/api.pb.go
  vendor/github.com/gogo/protobuf/types/duration.pb.go
  vendor/github.com/gogo/protobuf/types/empty.pb.go
  vendor/github.com/gogo/protobuf/types/field_mask.pb.go
  vendor/github.com/gogo/protobuf/types/source_context.pb.go
  vendor/github.com/gogo/protobuf/types/struct.pb.go
  vendor/github.com/gogo/protobuf/types/timestamp.pb.go
  vendor/github.com/gogo/protobuf/types/type.pb.go
  vendor/github.com/gogo/protobuf/types/wrappers.pb.go
  vendor/golang.org/x/tools/go/ast/astutil/util.go
  vendor/golang.org/x/tools/go/gcexportdata/gcexportdata.go
  vendor/golang.org/x/tools/go/internal/gcimporter/bexport.go
  vendor/golang.org/x/tools/go/internal/gcimporter/bimport.go
  vendor/golang.org/x/tools/go/internal/gcimporter/gcimporter.go
  vendor/golang.org/x/tools/go/internal/gcimporter/iexport.go
  vendor/golang.org/x/tools/go/internal/gcimporter/iimport.go
  vendor/modules.txt
Labels: pr/dependencies, pr/no-changelog

#10840 backport(1.9): deps: upgrade gogo-protobuf to v1.3.2
  .changelog/10813.txt
  agent/grpc/internal/testservice/simple.pb.go
  api/go.sum
  go.mod
  go.sum
  proto/pbacl/acl.pb.go
  proto/pbautoconf/auto_config.pb.go
  proto/pbcommon/common.pb.go
  proto/pbconfig/config.pb.go
  proto/pbconnect/connect.pb.go
  proto/pbservice/healthcheck.pb.go
  proto/pbservice/node.pb.go
  proto/pbservice/service.pb.go
  proto/pbsubscribe/subscribe.pb.go
  vendor/github.com/gogo/protobuf/gogoproto/gogo.pb.go
  vendor/github.com/gogo/protobuf/proto/encode.go
  vendor/github.com/gogo/protobuf/proto/lib.go
  vendor/github.com/gogo/protobuf/proto/properties.go
  vendor/github.com/gogo/protobuf/proto/table_marshal.go
  vendor/github.com/gogo/protobuf/proto/table_merge.go
  vendor/github.com/gogo/protobuf/proto/table_unmarshal.go
  vendor/github.com/gogo/protobuf/proto/text.go
  vendor/github.com/gogo/protobuf/proto/text_parser.go
  vendor/github.com/gogo/protobuf/protoc-gen-gogo/descriptor/descriptor.pb.go
  vendor/github.com/gogo/protobuf/types/any.pb.go
  vendor/github.com/gogo/protobuf/types/api.pb.go
  vendor/github.com/gogo/protobuf/types/duration.pb.go
  vendor/github.com/gogo/protobuf/types/empty.pb.go
  vendor/github.com/gogo/protobuf/types/field_mask.pb.go
  vendor/github.com/gogo/protobuf/types/source_context.pb.go
  vendor/github.com/gogo/protobuf/types/struct.pb.go
  vendor/github.com/gogo/protobuf/types/timestamp.pb.go
  vendor/github.com/gogo/protobuf/types/type.pb.go
  vendor/github.com/gogo/protobuf/types/wrappers.pb.go
  vendor/golang.org/x/tools/go/ast/astutil/util.go
  vendor/golang.org/x/tools/go/gcexportdata/gcexportdata.go
  vendor/golang.org/x/tools/go/internal/gcimporter/bexport.go
  vendor/golang.org/x/tools/go/internal/gcimporter/bimport.go
  vendor/golang.org/x/tools/go/internal/gcimporter/gcimporter.go
  vendor/golang.org/x/tools/go/internal/gcimporter/iexport.go
  vendor/golang.org/x/tools/go/internal/gcimporter/iimport.go
  vendor/modules.txt
Labels: pr/dependencies

#10810 docs: Clarify ingress gateway's -address flag
  website/content/commands/connect/envoy.mdx
  website/content/docs/connect/config-entries/ingress-gateway.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#10744 Document tagged addresses
  website/content/docs/discovery/services.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#10845 [1.8.x] Backport proxycfg: Use acl.tokens.default token as a default
  .changelog/10824.txt
  agent/agent.go
  agent/proxycfg/manager.go
  agent/proxycfg/manager_test.go
Labels: theme/acls, pr/no-changelog

#10846 [1.9.x] Fix the build
  agent/proxycfg/manager.go
  agent/proxycfg/manager_test.go
Labels: pr/no-changelog

#10847 [1.10.x] Fix the build
  agent/proxycfg/manager_test.go
Labels: pr/no-changelog

#10817 Document possible risk w.r.t exposing the admin API in Envoy
  website/content/docs/connect/security.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#10835 ui: Create Routing Configurations route and page
  .changelog/10835.txt
  ui/packages/consul-ui/app/components/consul/source/README.mdx
  ui/packages/consul-ui/app/components/consul/source/index.hbs
  ui/packages/consul-ui/app/components/consul/source/index.scss
  ui/packages/consul-ui/app/router.js
  ui/packages/consul-ui/app/routes/dc/routing-config.js
  ui/packages/consul-ui/app/styles/components.scss
  ui/packages/consul-ui/app/styles/layout.scss
  ui/packages/consul-ui/app/templates/dc/routing-config.hbs
  ui/packages/consul-ui/tests/acceptance/dc/routing-config.feature
  ui/packages/consul-ui/tests/acceptance/steps/dc/routing-config-steps.js
  ui/packages/consul-ui/tests/pages.js
  ui/packages/consul-ui/tests/pages/dc/routing-config.js
  ui/packages/consul-ui/tests/unit/routes/dc/routing-config-test.js
  ui/packages/consul-ui/translations/components/consul/en-us.yaml
  ui/packages/consul-ui/translations/routes/en-us.yaml
Labels: theme/ui

#10836 ui: Update intention permissions notice wording
  ui/packages/consul-ui/app/components/consul/intention/notice/permissions/index.hbs
  ui/packages/consul-ui/translations/components/consul/en-us.yaml
Labels: theme/ui, backport/1.9, pr/no-changelog, backport/1.10

#10856 ci: upgrade to use Go 1.16.7
  .changelog/10856.txt
  .circleci/config.yml
  build-support/docker/Build-Go.dockerfile
  build-support/docker/Test-Flake.dockerfile
Labels: type/ci, backport/1.10

#10844 ci: make changelog-checker only validate PR number against main base
  .changelog/10844.txt
  .github/workflows/changelog-checker.yml
Labels: theme/contributing, backport/1.10

#10854 Update documentation for enable_key_list_policy
  website/content/docs/agent/options.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#10807 config: remove ACLDatacenter
  agent/acl_endpoint_legacy.go
  agent/agent.go
  agent/config/builder.go
  agent/config/runtime.go
  agent/config/runtime_test.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/consul/acl_client.go
  agent/consul/acl_endpoint.go
  agent/consul/acl_endpoint_legacy.go
  agent/consul/acl_endpoint_test.go
  agent/consul/acl_replication.go
  agent/consul/acl_replication_legacy.go
  agent/consul/acl_replication_legacy_test.go
  agent/consul/acl_replication_test.go
  agent/consul/acl_server.go
  agent/consul/acl_test.go
  agent/consul/acl_token_exp_test.go
  agent/consul/auto_encrypt_endpoint_test.go
  agent/consul/catalog_endpoint_test.go
  agent/consul/config.go
  agent/consul/config_endpoint_test.go
  agent/consul/connect_ca_endpoint_test.go
  agent/consul/coordinate_endpoint_test.go
  agent/consul/discovery_chain_endpoint_test.go
  agent/consul/federation_state_endpoint_test.go
  agent/consul/health_endpoint_test.go
  agent/consul/intention_endpoint_test.go
  agent/consul/internal_endpoint_test.go
  agent/consul/kvs_endpoint_test.go
  agent/consul/leader.go
  agent/consul/leader_connect_test.go
  agent/consul/leader_federation_state_ae_test.go
  agent/consul/leader_intentions_test.go
  agent/consul/leader_test.go
  agent/consul/operator_autopilot_endpoint_test.go
  agent/consul/operator_raft_endpoint_test.go
  agent/consul/prepared_query_endpoint_test.go
  agent/consul/server.go
  agent/consul/server_test.go
  agent/consul/session_endpoint_test.go
  agent/consul/snapshot_endpoint_test.go
  agent/consul/txn_endpoint_test.go
  agent/uiserver/uiserver_test.go
Labels: theme/config, pr/no-changelog

#10792 acl: use authz consistently as the variable name for an acl.Authorizer
  agent/acl.go
  agent/acl_endpoint.go
  agent/agent_endpoint.go
  agent/consul/acl_endpoint_legacy.go
  agent/consul/connect_ca_endpoint.go
  agent/consul/discovery_chain_endpoint.go
  agent/consul/federation_state_endpoint.go
  agent/consul/internal_endpoint.go
  agent/consul/operator_autopilot_endpoint.go
  agent/consul/operator_raft_endpoint.go
  agent/consul/prepared_query_endpoint.go
  agent/consul/snapshot_endpoint.go
  agent/consul/txn_endpoint.go
  agent/http.go
  agent/structs/config_entry_discoverychain.go
  agent/xds/server.go
Labels: theme/acls, theme/envoy/xds, pr/no-changelog

#10661 http: disable legacy ACL API endpoints
  agent/acl_endpoint.go
  agent/acl_endpoint_legacy.go
  agent/acl_endpoint_legacy_test.go
  agent/acl_endpoint_test.go
  agent/agent_endpoint_test.go
  agent/consul/acl_endpoint.go
  agent/consul/acl_endpoint_legacy.go
  agent/consul/acl_endpoint_test.go
  agent/consul/state/acl.go
  agent/http_register.go
  api/acl_test.go
  command/acl/token/update/token_update_test.go
Labels: pr/no-changelog

#10808 acl: isolate the config used by ACLResolver
  agent/agent.go
  agent/config/builder.go
  agent/config/runtime.go
  agent/config/runtime_test.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/consul/acl.go
  agent/consul/acl_endpoint.go
  agent/consul/acl_test.go
  agent/consul/auto_config_endpoint.go
  agent/consul/auto_config_endpoint_test.go
  agent/consul/catalog_endpoint_test.go
  agent/consul/client.go
  agent/consul/config.go
  agent/consul/config_endpoint_test.go
  agent/consul/connect_ca_endpoint_test.go
  agent/consul/coordinate_endpoint_test.go
  agent/consul/discovery_chain_endpoint_test.go
  agent/consul/federation_state_endpoint_test.go
  agent/consul/health_endpoint_test.go
  agent/consul/intention_endpoint_test.go
  agent/consul/internal_endpoint_test.go
  agent/consul/kvs_endpoint_test.go
  agent/consul/leader_connect_test.go
  agent/consul/leader_federation_state_ae_test.go
  agent/consul/leader_intentions_test.go
  agent/consul/leader_test.go
  agent/consul/operator_autopilot_endpoint_test.go
  agent/consul/operator_raft_endpoint_test.go
  agent/consul/prepared_query_endpoint_test.go
  agent/consul/rpc_test.go
  agent/consul/server.go
  agent/consul/server_test.go
  agent/consul/session_endpoint_test.go
  agent/consul/snapshot_endpoint_test.go
  agent/consul/txn_endpoint_test.go
  agent/http.go
  agent/uiserver/uiserver_test.go
Labels: theme/acls, theme/config, pr/no-changelog

#10814 acl: remove ACLDisabledTTL
  agent/auto-config/config_translate.go
  agent/auto-config/config_translate_test.go
  agent/config/builder.go
  agent/config/config.go
  agent/config/default.go
  agent/config/runtime_test.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/consul/acl.go
  agent/consul/acl_test.go
  agent/consul/auto_config_endpoint.go
  agent/consul/auto_config_endpoint_test.go
  agent/consul/client.go
  agent/consul/config.go
  agent/consul/leader_connect_ca_test.go
  agent/consul/server.go
  proto/pbconfig/config.pb.go
  proto/pbconfig/config.proto
Labels: theme/acls, theme/config

#10859 state: partition nodes and coordinates in the state store
  agent/consul/fsm/commands_oss_test.go
  agent/consul/fsm/snapshot_oss.go
  agent/consul/internal_endpoint_test.go
  agent/consul/state/catalog.go
  agent/consul/state/catalog_events_test.go
  agent/consul/state/catalog_oss.go
  agent/consul/state/catalog_oss_test.go
  agent/consul/state/catalog_schema.go
  agent/consul/state/catalog_test.go
  agent/consul/state/coordinate.go
  agent/consul/state/coordinate_oss.go
  agent/consul/state/coordinate_oss_test.go
  agent/consul/state/coordinate_test.go
  agent/consul/state/indexer.go
  agent/consul/state/query.go
  agent/consul/state/query_oss.go
  agent/consul/state/schema_test.go
  agent/consul/state/state_store_test.go
  agent/consul/state/txn.go
  agent/consul/state/txn_test.go
  agent/rpc/subscribe/subscribe_test.go
  agent/structs/structs.go
  api/catalog_test.go
  api/txn_test.go
Labels: theme/api, pr/no-changelog

#10860 state: adjust streaming event generation to account for partitioned nodes
  agent/consul/state/catalog.go
  agent/consul/state/catalog_events.go
  agent/consul/state/catalog_events_oss.go
  agent/consul/state/catalog_events_test.go
  agent/consul/state/catalog_test.go
  agent/consul/state/state_store_test.go
  agent/consul/state/store_integration_test.go
  agent/consul/stream/event.go
  agent/consul/stream/event_publisher.go
  agent/consul/stream/event_publisher_test.go
  agent/consul/stream/event_test.go
  agent/consul/stream/subscription.go
Labels: pr/no-changelog

#10867 state: partition the usage metrics subsystem
  agent/consul/fsm/snapshot_oss_test.go
  agent/consul/state/usage.go
  agent/consul/state/usage_oss.go
  agent/consul/state/usage_oss_test.go
  agent/consul/state/usage_test.go
  agent/consul/usagemetrics/usagemetrics.go
  agent/consul/usagemetrics/usagemetrics_oss.go
  agent/consul/usagemetrics/usagemetrics_oss_test.go
  agent/consul/usagemetrics/usagemetrics_test.go
Labels: pr/no-changelog

#10869 Update x/sys to support go 1.17
  go.mod
  go.sum
Labels: pr/dependencies, pr/no-changelog

#10868 checks: Add Interval and Timeout to API response (release/1.10.x)
  .changelog/10717.txt
  agent/agent_endpoint_test.go
  agent/agent_test.go
  agent/structs/check_definition.go
  agent/structs/structs.go
  agent/structs/structs_filtering_test.go
  proto/pbservice/healthcheck.gen.go
  proto/pbservice/healthcheck.pb.go
  proto/pbservice/healthcheck.proto
  website/content/api-docs/agent/check.mdx
Labels: type/docs

#10804 debug: rename cluster.json -> members.json and fix handling of Interrupt Signal
  .changelog/10804.txt
  api/debug.go
  command/commands_oss.go
  command/debug/debug.go
  command/debug/debug_test.go
  command/registry.go
  go.mod
  go.sum
  website/content/commands/debug.mdx
Labels: theme/api, theme/cli, pr/dependencies

#10849 xds: document how authorization works
  agent/xds/delta.go
  agent/xds/server.go
  contributing/service-mesh/README.md
  contributing/service-mesh/xds.md
Labels: theme/envoy/xds, pr/no-changelog

#10806 debug: use human readable dates for filenames and improve the tests
  command/debug/debug.go
  command/debug/debug_test.go
Labels: theme/cli

#10816 website: update alert banner
  website/data/alert-banner.js
Labels: type/docs, type/docs-cherrypick

#10866 docs/nia: Add regex option to services condition
  website/content/docs/nia/configuration.mdx
  website/content/docs/nia/tasks.mdx
Labels: type/docs, theme/consul-terraform-sync, pr/no-changelog

#10842 docs: Add common CA config options to provider doc pages
  website/content/docs/agent/options.mdx
  website/content/docs/connect/ca/aws.mdx
  website/content/docs/connect/ca/consul.mdx
  website/content/docs/connect/ca/index.mdx
  website/content/docs/connect/ca/vault.mdx
  website/content/partials/http_api_connect_ca_common_options.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#10881 [1.10.x] Backport Connect CA doc updates
  website/content/docs/agent/options.mdx
  website/content/docs/connect/ca/aws.mdx
  website/content/docs/connect/ca/consul.mdx
  website/content/docs/connect/ca/index.mdx
  website/content/docs/connect/ca/vault.mdx
  website/content/partials/http_api_connect_ca_common_options.mdx
Labels: type/docs

#10880 agent: ensure that most agent behavior correctly respects partition configuration
  agent/acl.go
  agent/agent.go
  agent/agent_endpoint.go
  agent/agent_endpoint_oss.go
  agent/agent_endpoint_test.go
  agent/agent_oss.go
  agent/checks/alias.go
  agent/config/builder.go
  agent/config/runtime_oss.go
  agent/consul/acl.go
  agent/consul/catalog_endpoint.go
  agent/consul/client_serf.go
  agent/consul/config_oss.go
  agent/consul/coordinate_endpoint.go
  agent/consul/coordinate_endpoint_test.go
  agent/consul/enterprise_server_oss.go
  agent/consul/filter.go
  agent/consul/leader.go
  agent/consul/leader_test.go
  agent/consul/merge.go
  agent/consul/rtt.go
  agent/consul/segment_oss.go
  agent/consul/server_serf.go
  agent/consul/session_ttl.go
  agent/consul/txn_endpoint_test.go
  agent/coordinate_endpoint.go
  agent/dns.go
  agent/http.go
  agent/http_oss.go
  agent/local/state.go
  agent/proxycfg/connect_proxy.go
  agent/proxycfg/manager.go
  agent/proxycfg/manager_test.go
  agent/proxycfg/mesh_gateway.go
  agent/proxycfg/testing.go
  agent/proxycfg/upstreams.go
  agent/rpc/subscribe/subscribe.go
  agent/rpcclient/health/view.go
  agent/sidecar_service.go
  agent/structs/catalog.go
  agent/txn_endpoint.go
  agent/ui_endpoint.go
  agent/user_event.go
  api/agent_test.go
  api/coordinate_test.go
  command/rtt/rtt.go
Labels: theme/api, theme/cli, theme/config, pr/no-changelog

#10882 state: partition the nodes.uuid and nodes.meta indexes as well
  agent/consul/autopilot.go
  agent/consul/state/acl_schema.go
  agent/consul/state/catalog.go
  agent/consul/state/catalog_oss_test.go
  agent/consul/state/catalog_schema.go
  agent/consul/state/catalog_test.go
  agent/consul/state/query.go
  agent/consul/state/schema_test.go
  agent/consul/state/txn.go
Labels: pr/no-changelog

#10692 Upgrade global styles
  website/components/callout-blade/index.jsx
  website/components/cloud-offerings-list/index.jsx
  website/components/cta-hero/index.jsx
  website/components/footer/index.jsx
  website/components/footer/style.css
  website/components/hcp-callout-section/index.jsx
  website/components/static-dynamic-diagram/style.module.css
  website/package-lock.json
  website/package.json
  website/pages/404.jsx
  website/pages/_app.js
  website/pages/community/index.jsx
  website/pages/community/style.css
  website/pages/community/style.module.css
  website/pages/downloads/style.module.css
  website/pages/print.css
  website/pages/style.css
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#10883 oss portion of ent 1069
  agent/agent_endpoint_test.go
  agent/config/builder.go
  agent/config/config.go
  agent/config/runtime_test.go
  agent/config/testdata/full-config.hcl
  agent/config/testdata/full-config.json
  agent/consul/discovery_chain_endpoint.go
  agent/consul/discoverychain/compile.go
  agent/proxycfg/connect_proxy.go
  agent/proxycfg/ingress_gateway.go
  agent/proxycfg/state_test.go
  agent/proxycfg/upstreams.go
  agent/service_manager.go
  agent/service_manager_test.go
  agent/structs/config_entry_discoverychain.go
  agent/structs/connect_proxy_config.go
  agent/structs/service_definition.go
  agent/structs/structs_filtering_test.go
  agent/structs/testing_connect_proxy_config.go
  agent/xds/clusters.go
  agent/xds/listeners.go
  api/agent.go
  connect/proxy/config.go
  connect/proxy/config_test.go
  connect/resolver.go
  proto/pbservice/service.gen.go
  proto/pbservice/service.pb.go
  proto/pbservice/service.proto
Labels: pr/no-changelog

#10889 fixing various bits of enterprise meta plumbing to be more correct
  agent/consul/config_endpoint.go
  agent/consul/prepared_query/template.go
  agent/consul/prepared_query_endpoint.go
  agent/consul/state/acl.go
  agent/consul/state/config_entry.go
  agent/prepared_query_endpoint.go
Labels: pr/no-changelog

#10890 agent: add partition labels to catalog API metrics where appropriate
  agent/catalog_endpoint.go
  agent/catalog_endpoint_oss.go
  agent/http.go
Labels: pr/no-changelog

#10885 doc: remove sentence that tproxy works cross-DC with config entries.
  website/content/docs/connect/transparent-proxy.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#10899 Configurable Workspace Name
  website/content/docs/nia/configuration.mdx
Labels: type/docs, theme/consul-terraform-sync

#10901 ui: [BUGFIX] Properly encode non-URL safe characters in OIDC responses
  .changelog/10901.txt
  ui/packages/consul-ui/app/components/token-source/index.hbs
  ui/packages/consul-ui/app/services/repository/oidc-provider.js
  ui/packages/consul-ui/tests/unit/services/repository/oidc-provider-test.js
Labels: type/bug, theme/ui

#10838 grpc: ensure that streaming gRPC requests work over mesh gateway based wan federation
  .changelog/10838.txt
  agent/agent_test.go
  agent/consul/client_test.go
  agent/consul/options.go
  agent/consul/rpc.go
  agent/consul/rpc_test.go
  agent/consul/server.go
  agent/consul/subscribe_backend_test.go
  agent/consul/wanfed/wanfed.go
  agent/grpc/client.go
  agent/grpc/client_test.go
  agent/grpc/resolver/resolver.go
  agent/grpc/server_test.go
  agent/pool/conn.go
  agent/pool/peek_test.go
  agent/pool/pool.go
  agent/setup.go
Labels: type/bug, theme/streaming, backport/1.10

#10904 ui: [Backport] Backport of #10901 to 1.9.x
  .changelog/10901.txt
  ui/packages/consul-ui/app/components/token-source/index.hbs
  ui/packages/consul-ui/tests/unit/services/repository/oidc-provider-test.js
Labels: theme/ui

#10878 ui: Unskip auth-method serializer test
  ui/packages/consul-ui/tests/integration/serializers/auth-method-test.js
Labels: theme/ui, pr/no-changelog, backport/1.10

#10902 ui: Disabling policy form fields from users with 'read' permissions
  .changelog/10902.txt
  ui/packages/consul-ui/app/abilities/policy.js
Labels: type/bug, theme/ui, backport/1.10

#10908 [1.10.x] grpc: ensure that streaming gRPC requests work over mesh gateway based wan federation
  .changelog/10838.txt
  agent/agent_test.go
  agent/consul/client_test.go
  agent/consul/options.go
  agent/consul/rpc.go
  agent/consul/rpc_test.go
  agent/consul/server.go
  agent/consul/subscribe_backend_test.go
  agent/consul/wanfed/wanfed.go
  agent/grpc/client.go
  agent/grpc/client_test.go
  agent/grpc/resolver/resolver.go
  agent/grpc/server_test.go
  agent/pool/conn.go
  agent/pool/peek_test.go
  agent/pool/pool.go
  agent/setup.go
Labels: pr/dependencies, pr/no-changelog

#10953 changelog: add entries for 1.10.2, 1.9.9 and 1.8.15
  CHANGELOG.md
Labels: pr/no-changelog

#10912 docs: added information about a conflict when using auto_config and a…
  website/content/docs/agent/options.mdx
Labels: type/docs, type/docs-cherrypick

#10891 docs: move the remaining INTERNALS.md content
  INTERNALS.md
  contributing/INTERNALS.md
  contributing/README.md
  contributing/client-agent/README.md
  contributing/cluster-membership/README.md
  contributing/http-api/README.md
  contributing/rpc/README.md
  contributing/service-discovery/health-checks.md
Labels: pr/no-changelog

#10956 Update contributing guide
  .github/CONTRIBUTING.md
Labels: theme/contributing, pr/no-changelog

#10957 Move ./contributing to ./docs
  .github/CONTRIBUTING.md
  INTERNALS.md
  contributing/INTERNALS.md
  contributing/README.md
  docs/README.md
  docs/acl/README.md
  docs/acl/erd.mmd
  docs/acl/erd.svg
  docs/cli/README.md
  docs/client-agent/README.md
  docs/cluster-federation/README.md
  docs/cluster-federation/network-areas/README.md
  docs/cluster-membership/README.md
  docs/config/README.md
  docs/config/checklist-adding-config-fields.md
  docs/consul-mermaid-theme.json
  docs/faq.md
  docs/http-api/README.md
  docs/overview.mmd
  docs/overview.svg
  docs/persistence/README.md
  docs/persistence/overview.mmd
  docs/persistence/overview.svg
  docs/rpc/README.md
  docs/rpc/routing.mmd
  docs/rpc/routing.svg
  docs/rpc/streaming/README.md
  docs/rpc/streaming/adding-a-topic.md
  docs/rpc/streaming/event-filtering.mmd
  docs/rpc/streaming/event-filtering.svg
  docs/rpc/streaming/event-publisher-layout.mmd
  docs/rpc/streaming/event-publisher-layout.svg
  docs/rpc/streaming/framing-events.mmd
  docs/rpc/streaming/framing-events.svg
  docs/rpc/streaming/overview.mmd
  docs/rpc/streaming/overview.svg
  docs/service-discovery/README.md
  docs/service-discovery/catalog-2.mmd
  docs/service-discovery/catalog.md
  docs/service-discovery/catalog.mmd
  docs/service-discovery/dns.md
  docs/service-discovery/health-checks.md
  docs/service-mesh/README.md
  docs/service-mesh/xds.md
Labels: theme/contributing, pr/no-changelog

#10892 Reformatting service discovery parameters into tables
  website/content/docs/discovery/services.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#10952 Revert early out errors in license API
  .changelog/10952.txt
  api/operator_license.go
Labels: theme/api, backport/1.10

#10961 connect: update envoy supported versions to latest patch release
  .changelog/10961.txt
  .circleci/config.yml
  agent/xds/envoy_versioning_test.go
  agent/xds/proxysupport/proxysupport.go
  command/connect/envoy/testdata/CONSUL_HTTP_ADDR-with-https-scheme-enables-tls.golden
  command/connect/envoy/testdata/access-log-path.golden
  command/connect/envoy/testdata/defaults.golden
  command/connect/envoy/testdata/deprecated-grpc-addr-config.golden
  command/connect/envoy/testdata/existing-ca-file.golden
  command/connect/envoy/testdata/existing-ca-path.golden
  command/connect/envoy/testdata/extra_-multiple.golden
  command/connect/envoy/testdata/extra_-single.golden
  command/connect/envoy/testdata/grpc-addr-env.golden
  command/connect/envoy/testdata/grpc-addr-flag.golden
  command/connect/envoy/testdata/grpc-addr-unix.golden
  command/connect/envoy/testdata/ingress-gateway-address-specified.golden
  command/connect/envoy/testdata/ingress-gateway-no-auto-register.golden
  command/connect/envoy/testdata/ingress-gateway-register-with-service-and-proxy-id.golden
  command/connect/envoy/testdata/ingress-gateway-register-with-service-without-proxy-id.golden
  command/connect/envoy/testdata/ingress-gateway.golden
  command/connect/envoy/testdata/prometheus-metrics.golden
  command/connect/envoy/testdata/stats-config-override.golden
  command/connect/envoy/testdata/token-arg.golden
  command/connect/envoy/testdata/token-env.golden
  command/connect/envoy/testdata/token-file-arg.golden
  command/connect/envoy/testdata/token-file-env.golden
  command/connect/envoy/testdata/xds-addr-config.golden
  command/connect/envoy/testdata/zipkin-tracing-config.golden
  test/integration/connect/envoy/run-tests.sh
  website/content/commands/connect/envoy.mdx
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, theme/cli, type/ci, theme/envoy/xds

#10960 connect: update envoy supported versions to latest patch release [1 .10.x]
  .changelog/10961.txt
  .circleci/config.yml
  agent/xds/envoy_versioning_test.go
  agent/xds/proxysupport/proxysupport.go
  command/connect/envoy/testdata/CONSUL_HTTP_ADDR-with-https-scheme-enables-tls.golden
  command/connect/envoy/testdata/access-log-path.golden
  command/connect/envoy/testdata/defaults.golden
  command/connect/envoy/testdata/existing-ca-file.golden
  command/connect/envoy/testdata/existing-ca-path.golden
  command/connect/envoy/testdata/extra_-multiple.golden
  command/connect/envoy/testdata/extra_-single.golden
  command/connect/envoy/testdata/grpc-addr-config.golden
  command/connect/envoy/testdata/grpc-addr-env.golden
  command/connect/envoy/testdata/grpc-addr-flag.golden
  command/connect/envoy/testdata/grpc-addr-unix.golden
  command/connect/envoy/testdata/ingress-gateway-address-specified.golden
  command/connect/envoy/testdata/ingress-gateway-no-auto-register.golden
  command/connect/envoy/testdata/ingress-gateway-register-with-service-and-proxy-id.golden
  command/connect/envoy/testdata/ingress-gateway-register-with-service-without-proxy-id.golden
  command/connect/envoy/testdata/ingress-gateway.golden
  command/connect/envoy/testdata/prometheus-metrics.golden
  command/connect/envoy/testdata/stats-config-override.golden
  command/connect/envoy/testdata/token-arg.golden
  command/connect/envoy/testdata/token-env.golden
  command/connect/envoy/testdata/token-file-arg.golden
  command/connect/envoy/testdata/token-file-env.golden
  command/connect/envoy/testdata/zipkin-tracing-config.golden
  test/integration/connect/envoy/run-tests.sh
  website/content/commands/connect/envoy.mdx
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, theme/cli, type/ci, theme/envoy/xds, type/docs-cherrypick, pr/no-changelog

#10959 connect: update envoy supported versions to latest patch release
  .changelog/10961.txt
  .circleci/config.yml
  agent/xds/envoy_versioning_test.go
  agent/xds/proxysupport/proxysupport.go
  command/connect/envoy/testdata/CONSUL_HTTP_ADDR-with-https-scheme-enables-tls.golden
  command/connect/envoy/testdata/access-log-path.golden
  command/connect/envoy/testdata/defaults.golden
  command/connect/envoy/testdata/existing-ca-file.golden
  command/connect/envoy/testdata/existing-ca-path.golden
  command/connect/envoy/testdata/extra_-multiple.golden
  command/connect/envoy/testdata/extra_-single.golden
  command/connect/envoy/testdata/grpc-addr-config.golden
  command/connect/envoy/testdata/grpc-addr-env.golden
  command/connect/envoy/testdata/grpc-addr-flag.golden
  command/connect/envoy/testdata/grpc-addr-unix.golden
  command/connect/envoy/testdata/ingress-gateway-address-specified.golden
  command/connect/envoy/testdata/ingress-gateway-no-auto-register.golden
  command/connect/envoy/testdata/ingress-gateway-register-with-service-and-proxy-id.golden
  command/connect/envoy/testdata/ingress-gateway-register-with-service-without-proxy-id.golden
  command/connect/envoy/testdata/ingress-gateway.golden
  command/connect/envoy/testdata/stats-config-override.golden
  command/connect/envoy/testdata/token-arg.golden
  command/connect/envoy/testdata/token-env.golden
  command/connect/envoy/testdata/token-file-arg.golden
  command/connect/envoy/testdata/token-file-env.golden
  command/connect/envoy/testdata/zipkin-tracing-config.golden
  test/integration/connect/envoy/run-tests.sh
  website/content/commands/connect/envoy.mdx
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, theme/cli, type/ci, theme/envoy/xds

#10966 Update audit logging example
  website/content/docs/enterprise/audit-logging.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog
