Repository hashicorp/consul, pull requests merged in 2021-06, with the labels that each got.

#9556 structs: Add more cache key completeness tests
  agent/structs/config_entry.go
  agent/structs/config_entry_discoverychain.go
  agent/structs/config_entry_test.go
  agent/structs/intention.go
  agent/structs/intention_test.go
  agent/structs/prepared_query_test.go
  agent/structs/structs.go
  agent/structs/structs_test.go
Labels: backport/1.10, pr/no-changelog, theme/testing

#10262 remove domain search from hostname when using it as node_name
  agent/dns_test.go
  agent/local/state_test.go
  command/services/config_test.go
Labels: pr/no-changelog, theme/testing

#10324 envoy: fix deadlock when input is larger than named pipe buffer size
  .changelog/10324.txt
  command/connect/envoy/exec_test.go
  command/connect/envoy/exec_unix.go
  command/connect/envoy/pipe-bootstrap/connect_envoy_pipe-bootstrap.go
  command/connect/envoy/pipe-bootstrap/connect_envoy_pipe-bootstrap_test.go
Labels: backport/1.10, backport/1.7, backport/1.8, backport/1.9, theme/cli, type/bug

#10315 Fix strings.Replace->strings.ReplaceAll
  version/version.go
Labels: pr/no-changelog

#10325 docs: Clarify set-agent-token token persistence behavior
  website/content/commands/acl/set-agent-token.mdx
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10314 [Website] WIP - Update Homepage
  website/components/callout-blade/CalloutBlade.module.css
  website/components/case-study-carousel/style.css
  website/components/homepage-hero/carousel.css
  website/components/homepage-hero/index.tsx
  website/components/homepage-hero/style.module.css
  website/components/static-dynamic-diagram/before-after-diagram.jsx
  website/components/static-dynamic-diagram/before-after-diagram.module.css
  website/components/static-dynamic-diagram/index.tsx
  website/components/static-dynamic-diagram/style.module.css
  website/package-lock.json
  website/package.json
  website/pages/home/img/extend-mesh-transparent.png
  website/pages/home/img/multi-datacenter-transparent.png
  website/pages/home/img/service-splitter@2x.png
  website/pages/home/img/service-to-service-transparent.png
  website/pages/home/index.jsx
  website/pages/home/style.css
  website/pages/index.jsx
  website/pages/style.css
  website/pages/use-cases/img/discovery-health-checking/service-discovery-and-health-checking.svg
  website/pages/use-cases/img/multi-platform-service-mesh/kubernetes-extend-transparent.png
  website/pages/use-cases/img/multi-platform-service-mesh/service-to-service.svg
  website/public/img/static-dynamic-diagram/alert-check.svg
  website/public/img/static-dynamic-diagram/alert.svg
  website/public/img/static-dynamic-diagram/check-square-consul.svg
  website/public/img/static-dynamic-diagram/check-square.svg
  website/public/img/static-dynamic-diagram/check.svg
  website/public/img/static-dynamic-diagram/consul_dynamic_isometric@2x.png
  website/public/img/static-dynamic-diagram/consul_static_isometric@2x.png
Labels: type/docs, type/docs-cherrypick

#10335 [Website] Fix broken link
  website/pages/home/index.jsx
Labels: type/docs, type/docs-cherrypick

#10334 grpc: fix resolver data race
  agent/consul/subscribe_backend_test.go
  agent/grpc/client.go
  agent/grpc/client_test.go
  agent/grpc/resolver/registry.go
  agent/grpc/resolver/resolver.go
  agent/grpc/server_test.go
  agent/setup.go
  agent/submatview/store.go
Labels: backport/1.10, backport/1.9, pr/no-changelog, theme/internal-cleanup

#10336 [Docs] Update documentation with information about v1.10 licensing changes.
  website/content/api-docs/operator/license.mdx
  website/content/commands/license.mdx
  website/content/commands/snapshot/agent.mdx
  website/content/docs/agent/options.mdx
  website/content/docs/agent/telemetry.mdx
  website/content/docs/enterprise/index.mdx
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: backport/1.10, pr/no-changelog, type/docs

#10340 usagemetrics: add cluster members to metrics API
  .changelog/10340.txt
  agent/consul/server.go
  agent/consul/usagemetrics/usagemetrics.go
  agent/consul/usagemetrics/usagemetrics_oss_test.go
  agent/consul/usagemetrics/usagemetrics_test.go
  website/content/docs/agent/telemetry.mdx
Labels: backport/1.10, backport/1.9

#10343 Follow on to PR #10336
  website/content/commands/license.mdx
  website/content/docs/agent/options.mdx
Labels: backport/1.10, pr/no-changelog, type/docs

#10346 usagemetrics: add cluster members to metrics API (#10340)
  .changelog/10340.txt
  agent/consul/server.go
  agent/consul/usagemetrics/usagemetrics.go
  agent/consul/usagemetrics/usagemetrics_oss_test.go
  agent/consul/usagemetrics/usagemetrics_test.go
  website/content/docs/agent/telemetry.mdx
Labels: type/docs

#10345 [1.9.x] agent: remove leading whitespace from agent log lines
  .changelog/10338.txt
  command/agent/agent.go
  command/agent/agent_test.go
  command/cli/cli.go
  command/commands_oss.go
  command/registry.go
  main.go
Labels: backport/1.8, theme/cli

#10348 submatview: fix a bug with Store.Get
  agent/submatview/store.go
  agent/submatview/store_test.go
Labels: backport/1.10, pr/no-changelog, theme/streaming, type/bug

#10351 Add license inspect command documentation and changelog
  .changelog/10267.txt
  .changelog/_938.txt
  website/content/commands/license.mdx
Labels: backport/1.10, pr/no-changelog, type/docs

#10297 Rotate algolia API key
  website/.env
Labels: type/docs-cherrypick

#10252 Docs for Unix Domain Sockets
  website/content/docs/connect/registration/service-registration.mdx
  website/content/docs/discovery/services.mdx
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10352 docs/nia: Add service filter configuration, deprecate tag
  website/content/docs/nia/configuration.mdx
Labels: theme/consul-terraform-sync, type/docs

#10358 fix monitor to only start the monitor in json format when requested
  .changelog/10358.txt
  command/monitor/monitor.go
  command/monitor/monitor_test.go
Labels: backport/1.10, backport/1.8, backport/1.9, theme/cli, type/bug

#10316 docs: Improve object nesting of ECS routing example
  website/content/docs/ecs/get-started/install.mdx
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10279 generate a single debug file for a long duration capture
  .changelog/10279.txt
  command/debug/debug.go
  command/debug/debug_test.go
  go.mod
  go.sum
  vendor/github.com/google/pprof/AUTHORS
  vendor/github.com/google/pprof/CONTRIBUTORS
  vendor/github.com/google/pprof/LICENSE
  vendor/github.com/google/pprof/profile/encode.go
  vendor/github.com/google/pprof/profile/filter.go
  vendor/github.com/google/pprof/profile/index.go
  vendor/github.com/google/pprof/profile/legacy_java_profile.go
  vendor/github.com/google/pprof/profile/legacy_profile.go
  vendor/github.com/google/pprof/profile/merge.go
  vendor/github.com/google/pprof/profile/profile.go
  vendor/github.com/google/pprof/profile/proto.go
  vendor/github.com/google/pprof/profile/prune.go
  vendor/modules.txt
  website/content/commands/debug.mdx
Labels: theme/api, theme/cli

#10355 stream: fix a bug with subscriptions and the latest item in the topic buffers.
  agent/consul/stream/event_buffer.go
  agent/consul/stream/event_buffer_test.go
  agent/consul/stream/event_publisher.go
  agent/consul/stream/event_snapshot.go
  agent/consul/stream/event_snapshot_test.go
Labels: pr/no-changelog, theme/streaming

#10333 chore: updates alert banner
  website/data/alert-banner.js
Labels: pr/do-not-merge, pr/no-changelog, type/docs, type/docs-cherrypick

#10361 Migrate from GitHub HashiBot to GitHub Actions
  .github/issue-labeler.yml
  .github/workflows/issue-comment-created.yml
  .github/workflows/issue-labeler.yml
  .hashibot.hcl
Labels: pr/no-changelog, theme/contributing

#10365 Revert "Avoid adding original_dst filter when not needed"
  .changelog/10302.txt
  .changelog/10365.txt
  agent/xds/listeners.go
  agent/xds/testdata/listeners/transparent-proxy-catalog-destinations-only.envoy-1-18-x.golden
  agent/xds/testdata/listeners/transparent-proxy-catalog-destinations-only.v2compat.envoy-1-16-x.golden
Labels: backport/1.10, theme/envoy/xds

#10169 docs: add streaming to api-docs
  website/content/api-docs/features/blocking.mdx
  website/content/api-docs/health.mdx
Labels: backport/1.10, pr/no-changelog, theme/streaming, type/docs

#10364 submatview: and Store integration test with stream backend
  agent/submatview/store_integration_test.go
Labels: backport/1.10, pr/no-changelog, theme/streaming

#10369 Adjust alert banner for the end of HashiConf
  website/data/alert-banner.js
Labels: type/docs, type/docs-cherrypick

#10342 remove a race condition in sdk testutil server stop
  sdk/testutil/server.go
Labels: pr/no-changelog, theme/testing

#10367 submatview: add test cases for store.Get with timeout and no index
  agent/rpcclient/health/health.go
  agent/submatview/store_test.go
Labels: backport/1.10, pr/no-changelog, theme/streaming

#10366 Adding ECS copy and other edits
  website/pages/home/index.jsx
Labels: type/docs, type/docs-cherrypick

#10166 docs: update envoy docs for changes related to xDS v2->v3 and SoTW->Incremental
  website/content/docs/connect/proxies/envoy.mdx
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: backport/1.10, pr/no-changelog, type/docs, type/docs-cherrypick

#10377 Pm ecs hero updates
  website/components/homepage-hero/carousel.css
  website/components/homepage-hero/index.jsx
  website/components/homepage-hero/index.tsx
  website/components/homepage-hero/style.module.css
  website/package-lock.json
  website/package.json
  website/pages/home/index.jsx
  website/pages/style.css
Labels: pr/no-changelog, type/docs-cherrypick

#10378 http: add PrimaryDatacenter to the /v1/agent/self response
  agent/agent_endpoint.go
Labels: backport/1.10, pr/no-changelog, theme/api

#10380 Updating button
  website/pages/home/index.jsx
Labels: type/docs, type/docs-cherrypick

#10389 Update k8s term gateway docs to make address clear
  website/content/docs/k8s/connect/terminating-gateways.mdx
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10394 Relax validation for expose.paths config
  .changelog/10394.txt
  agent/structs/structs.go
  agent/structs/structs_test.go
Labels: backport/1.10

#10395 grpc: move gRPC INFO logs to be emitted as TRACE logs from Consul
  .changelog/10395.txt
  logging/grpc.go
  logging/grpc_test.go
Labels: backport/1.10, theme/telemetry

#10397 Rename CatalogDestinationsOnly
  agent/config/runtime_test.go
  agent/config_endpoint_test.go
  agent/consul/fsm/snapshot_oss_test.go
  agent/structs/config_entry_mesh.go
  agent/structs/config_entry_test.go
  agent/xds/clusters.go
  agent/xds/clusters_test.go
  agent/xds/listeners.go
  agent/xds/listeners_test.go
  api/config_entry_cluster.go
  api/config_entry_test.go
  command/config/write/config_write_test.go
  website/content/docs/connect/config-entries/mesh.mdx
Labels: backport/1.10, theme/api, theme/cli, theme/config, theme/envoy/xds, type/docs

#10381 xds: ensure that dependent xDS resources are reconfigured during primary type warming
  .changelog/10381.txt
  agent/xds/delta.go
  agent/xds/delta_test.go
  agent/xds/listeners.go
  agent/xds/xds_protocol_helpers_test.go
Labels: backport/1.10, theme/envoy/xds, type/bug

#10384 docs: Add note about configurable KV size in FAQ
  website/content/docs/troubleshoot/faq.mdx
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10383 docs: Add example of escaping tracing JSON using jq
  website/content/docs/connect/proxies/envoy.mdx
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10400 api: properly close the response body
  api/acl.go
  api/agent.go
  api/api.go
  api/catalog.go
  api/config_entry.go
  api/connect_ca.go
  api/connect_intention.go
  api/coordinate.go
  api/debug.go
  api/discovery_chain.go
  api/event.go
  api/health.go
  api/kv.go
  api/namespace.go
  api/operator_area.go
  api/operator_autopilot.go
  api/operator_keyring.go
  api/operator_license.go
  api/operator_raft.go
  api/prepared_query.go
  api/session.go
  api/status.go
  api/txn.go
Labels: backport/1.10, theme/api, theme/health-checks

#10368 improve monitor performance
  .changelog/10368.txt
  agent/agent_endpoint.go
  logging/monitor/monitor.go
Labels: theme/cli

#10402 Omit empty tproxy config in JSON responses
  agent/agent_endpoint_test.go
  agent/structs/connect_proxy_config.go
  agent/structs/connect_proxy_config_test.go
Labels: backport/1.10, pr/no-changelog

#10398 xds: adding more delta protocol tests
  agent/xds/delta_test.go
  agent/xds/testing.go
  agent/xds/xds_protocol_helpers_test.go
Labels: backport/1.10, pr/no-changelog, theme/envoy/xds

#10404 Update ingress/terminating gateway stats labeling
  .changelog/10404.txt
  agent/xds/listeners.go
  agent/xds/testdata/listeners/ingress-http-multiple-services.envoy-1-18-x.golden
  agent/xds/testdata/listeners/ingress-http-multiple-services.v2compat.envoy-1-16-x.golden
  agent/xds/testdata/listeners/ingress-splitter-with-resolver-redirect.envoy-1-18-x.golden
  agent/xds/testdata/listeners/ingress-splitter-with-resolver-redirect.v2compat.envoy-1-16-x.golden
  agent/xds/testdata/listeners/terminating-gateway-custom-and-tagged-addresses.envoy-1-18-x.golden
  agent/xds/testdata/listeners/terminating-gateway-custom-and-tagged-addresses.v2compat.envoy-1-16-x.golden
  agent/xds/testdata/listeners/terminating-gateway-no-api-cert.envoy-1-18-x.golden
  agent/xds/testdata/listeners/terminating-gateway-no-api-cert.v2compat.envoy-1-16-x.golden
  agent/xds/testdata/listeners/terminating-gateway-service-subsets.envoy-1-18-x.golden
  agent/xds/testdata/listeners/terminating-gateway-service-subsets.v2compat.envoy-1-16-x.golden
  agent/xds/testdata/listeners/terminating-gateway.envoy-1-18-x.golden
  agent/xds/testdata/listeners/terminating-gateway.v2compat.envoy-1-16-x.golden
Labels: backport/1.10, theme/envoy/xds

#10410 xds: fix flaky protocol tests
  agent/xds/delta_test.go
Labels: backport/1.10, pr/no-changelog, theme/envoy/xds

#9466 proxycfg: prepare state for split by kind
  agent/proxycfg/manager.go
  agent/proxycfg/state.go
  agent/proxycfg/state_test.go
Labels: pr/no-changelog, theme/connect, theme/internal-cleanup

#10413 Update k8s license docs to account for license autoload
  website/content/docs/k8s/installation/deployment-configurations/consul-enterprise.mdx
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10376 docs/nia: catalog-services condition
  website/content/docs/nia/configuration.mdx
  website/content/docs/nia/index.mdx
  website/content/docs/nia/installation/configure.mdx
  website/content/docs/nia/installation/requirements.mdx
  website/content/docs/nia/network-drivers.mdx
  website/content/docs/nia/tasks.mdx
  website/content/docs/nia/terraform-modules.mdx
Labels: pr/no-changelog, theme/consul-terraform-sync, type/docs

#10418 changelog: add note on EULA/ToE packaging with Enterprise binaries
  .changelog/_releases-111.txt
  .changelog/changelog.tmpl
Labels: backport/1.10, pr/no-changelog

#10423 proxycfg: reference to entry in map should not panic
  .changelog/10423.txt
  agent/proxycfg/state.go
Labels: backport/1.10, pr/no-changelog

#10373 docs: adding a faq document in preparation for Consul Enterprise 1.10.0
  website/content/docs/enterprise/index.mdx
  website/content/docs/enterprise/license/faq.mdx
  website/content/docs/enterprise/license/overview.mdx
  website/data/docs-nav-data.json
  website/redirects.next.js
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10430 Fix links to ECS module
  website/content/docs/ecs/get-started/install.mdx
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10425 tlsutil: fix a possible panic, and make the package safer
  agent/config/builder.go
  tlsutil/config.go
  tlsutil/config_test.go
Labels: pr/no-changelog, theme/certificates, theme/config, theme/tls

#9489 proxycfg: split state into a handler for each kind
  agent/proxycfg/manager.go
  agent/proxycfg/state.go
  agent/proxycfg/state_test.go
Labels: pr/no-changelog, theme/connect, theme/internal-cleanup

#9924 connect: emit a metric for the seconds until root CA expiry
  .changelog/9924.txt
  agent/consul/leader_connect.go
  agent/consul/leader_metrics.go
  agent/consul/server.go
  agent/setup.go
  website/content/docs/agent/telemetry.mdx
Labels: type/docs, type/enhancement

#10432 Hold onto the token store from the base deps in the Client
  .changelog/10432.txt
  agent/consul/client.go
Labels: backport/1.8

#10285 ui: %horizontal-kv-list CSS component (and related)
  ui/packages/consul-ui/app/components/badge/README.mdx
  ui/packages/consul-ui/app/components/badge/debug.scss
  ui/packages/consul-ui/app/components/badge/index.scss
  ui/packages/consul-ui/app/components/buttons/layout.scss
  ui/packages/consul-ui/app/components/buttons/skin.scss
  ui/packages/consul-ui/app/components/consul/health-check/list/layout.scss
  ui/packages/consul-ui/app/components/csv-list/README.mdx
  ui/packages/consul-ui/app/components/csv-list/debug.scss
  ui/packages/consul-ui/app/components/csv-list/index.scss
  ui/packages/consul-ui/app/components/horizontal-kv-list/README.mdx
  ui/packages/consul-ui/app/components/horizontal-kv-list/debug.scss
  ui/packages/consul-ui/app/components/horizontal-kv-list/index.scss
  ui/packages/consul-ui/app/components/horizontal-kv-list/layout.scss
  ui/packages/consul-ui/app/components/horizontal-kv-list/skin.scss
  ui/packages/consul-ui/app/components/icon-definition/README.mdx
  ui/packages/consul-ui/app/components/icon-definition/debug.scss
  ui/packages/consul-ui/app/components/icon-definition/index.scss
  ui/packages/consul-ui/app/components/tag-list/README.mdx
  ui/packages/consul-ui/app/components/tag-list/index.scss
  ui/packages/consul-ui/app/styles/base/decoration/base-placeholders.scss
  ui/packages/consul-ui/app/styles/components.scss
  ui/packages/consul-ui/app/styles/components/composite-row/layout.scss
  ui/packages/consul-ui/app/styles/components/icon-definition/index.scss
  ui/packages/consul-ui/app/styles/components/icon-definition/layout.scss
  ui/packages/consul-ui/app/styles/components/icon-definition/skin.scss
  ui/packages/consul-ui/app/styles/components/list-row/layout.scss
  ui/packages/consul-ui/app/styles/components/tag-list.scss
  ui/packages/consul-ui/app/styles/components/tag-list/index.scss
  ui/packages/consul-ui/app/styles/components/tag-list/layout.scss
  ui/packages/consul-ui/app/styles/components/tag-list/skin.scss
  ui/packages/consul-ui/app/styles/debug.scss
  ui/packages/consul-ui/app/templates/debug.hbs
Labels: backport/1.10, pr/no-changelog, theme/ui

#10298 ui: Move all our icons to use CSS custom properties instead of SASS vars
  .changelog/10298.txt
  ui/packages/consul-ui/app/styles/base/icons/base-variables.scss
  ui/packages/consul-ui/app/styles/base/icons/icon-placeholders.scss
  ui/packages/consul-ui/app/styles/components/progress/skin.scss
Labels: backport/1.10, theme/ui

#10370 ui: Upgrade dev tooling dependency
  ui/package.json
  ui/yarn.lock
Labels: backport/1.10, backport/1.9, pr/no-changelog, theme/ui

#10438 ui: [Backport 1.9.x] Add resolution for xmlhttprequest-ssl at least 1.6.3 (#10370)
  ui/package.json
  ui/yarn.lock
Labels: theme/ui

#10443 website: this 1.10.0 upgrade table omitted two versions of envoy
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: backport/1.10, pr/no-changelog, type/docs, type/docs-cherrypick

#10419 Update health checks docs for tproxy
  website/content/docs/k8s/connect/health.mdx
Labels: pr/no-changelog, theme/kubernetes, type/docs, type/docs-cherrypick

#10441 Add ability to load a license from the configuration/environment
  .changelog/10441.txt
  agent/config/builder_oss.go
  agent/config/builder_oss_test.go
  agent/config/config.go
  agent/config/runtime_oss_test.go
  agent/config/runtime_test.go
Labels: theme/config

#9490 proxycfg: move each handler into a seprate file
  agent/proxycfg/connect_proxy.go
  agent/proxycfg/ingress_gateway.go
  agent/proxycfg/mesh_gateway.go
  agent/proxycfg/state.go
  agent/proxycfg/terminating_gateway.go
  agent/proxycfg/upstreams.go
Labels: pr/no-changelog, theme/connect, theme/internal-cleanup

#10428 ui: Increase z-index of main menus to avoid layering issues
  ui/packages/consul-ui/app/components/main-header-horizontal/layout.scss
Labels: backport/1.10, pr/no-changelog, theme/ui

#10448 ui: Increase z-index of main menus to avoid layering issues (#10428)
  ui/packages/consul-ui/app/components/main-header-horizontal/layout.scss
Labels: pr/no-changelog, theme/ui

#10439 tlsutil: additional godoc and small cleanup
  tlsutil/config.go
  tlsutil/config_test.go
Labels: pr/no-changelog, theme/certificates, theme/internal-cleanup, theme/tls

#10451 docs: mention that service defaults upstream config sections should not contain wildcards
  website/content/docs/connect/config-entries/service-defaults.mdx
Labels: backport/1.10, pr/no-changelog, type/docs, type/docs-cherrypick

#10450 nia/docs 0.2.0
  website/content/docs/nia/configuration.mdx
  website/content/docs/nia/index.mdx
  website/content/docs/nia/installation/configure.mdx
  website/content/docs/nia/installation/requirements.mdx
  website/content/docs/nia/network-drivers.mdx
  website/content/docs/nia/tasks.mdx
  website/content/docs/nia/terraform-modules.mdx
Labels: pr/no-changelog, theme/consul-terraform-sync, type/docs, type/docs-cherrypick

#10311 ui: Rename icons for consistency and remove unused icons
  ui/packages/consul-ui/app/components/consul/health-check/list/skin.scss
  ui/packages/consul-ui/app/components/consul/intention/components.scss
  ui/packages/consul-ui/app/components/consul/intention/form/fieldsets/layout.scss
  ui/packages/consul-ui/app/components/consul/intention/form/fieldsets/skin.scss
  ui/packages/consul-ui/app/components/flash-message/README.mdx
  ui/packages/consul-ui/app/components/flash-message/index.scss
  ui/packages/consul-ui/app/components/flash-message/layout.scss
  ui/packages/consul-ui/app/components/flash-message/skin.scss
  ui/packages/consul-ui/app/components/inline-alert/README.mdx
  ui/packages/consul-ui/app/components/inline-alert/debug.scss
  ui/packages/consul-ui/app/components/inline-alert/skin.scss
  ui/packages/consul-ui/app/components/notice/README.mdx
  ui/packages/consul-ui/app/components/notice/skin.scss
  ui/packages/consul-ui/app/components/topology-metrics/card/index.scss
  ui/packages/consul-ui/app/components/topology-metrics/popover/index.scss
  ui/packages/consul-ui/app/styles/base/icons/base-variables.scss
  ui/packages/consul-ui/app/styles/base/icons/icon-placeholders.scss
  ui/packages/consul-ui/app/styles/base/icons/index.scss
  ui/packages/consul-ui/app/styles/base/icons/overrides.scss
  ui/packages/consul-ui/app/styles/components.scss
  ui/packages/consul-ui/app/styles/components/flash-message/index.scss
  ui/packages/consul-ui/app/styles/components/pill.scss
  ui/packages/consul-ui/app/styles/components/popover-select.scss
  ui/packages/consul-ui/app/styles/debug.scss
Labels: backport/1.10, pr/no-changelog, theme/ui

#10446 Update 1.10 enterprise upgrade docs.
  website/content/commands/license.mdx
  website/content/commands/snapshot/agent.mdx
  website/content/docs/agent/options.mdx
  website/content/docs/upgrading/instructions/index.mdx
  website/content/docs/upgrading/instructions/upgrade-to-1-10-x.mdx
  website/content/docs/upgrading/instructions/upgrade-to-1-8-x.mdx
  website/content/docs/upgrading/upgrade-specific.mdx
  website/data/docs-nav-data.json
Labels: backport/1.10, pr/no-changelog, type/docs

#10444 tlsutil: reduce interface provided to auto-config
  agent/auto-config/auto_config_test.go
  agent/auto-config/auto_encrypt_test.go
  agent/auto-config/config.go
  agent/auto-config/mock_test.go
  agent/auto-config/run.go
  tlsutil/config.go
  tlsutil/config_test.go
Labels: pr/no-changelog, theme/certificates, theme/tls

#10454 docs: Remove Grafana from Observability section
  website/content/docs/k8s/connect/observability/metrics.mdx
Labels: type/docs, type/docs-cherrypick

#10434 docs: updated FAQ to accommodate new requirements prior to upgrading
  website/content/docs/enterprise/license/faq.mdx
Labels: backport/1.10, type/docs

#10436 website: upgrade code-block
  website/package-lock.json
  website/package.json
  website/pages/style.css
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10456 docs: Update Consul K8s Compat Matrix for Consul 1.10
  website/content/docs/k8s/upgrade/compatibility.mdx
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10415 docs: update tproxy docs (/docs/connect/transparent-proxy)
  website/content/docs/connect/transparent-proxy.mdx
  website/data/docs-nav-data.json
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10408 docs: update docs/k8s/connect for tproxy GA
  website/content/docs/k8s/connect/index.mdx
  website/content/docs/k8s/connect/ingress-gateways.mdx
  website/content/docs/k8s/connect/terminating-gateways.mdx
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10416 docs: upgrading to tproxy (/docs/upgrades/upgrade-specific)
  website/content/docs/connect/transparent-proxy.mdx
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10405 update docs
  website/content/docs/k8s/helm.mdx
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10407 Update config entry docs for CRDs
  website/content/docs/connect/config-entries/mesh.mdx
  website/content/docs/connect/config-entries/proxy-defaults.mdx
  website/content/docs/connect/config-entries/service-defaults.mdx
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10459 docs - Adding Mesh as CRD in Consul K8s
  website/content/docs/connect/config-entries/service-defaults.mdx
  website/content/docs/k8s/crds/index.mdx
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10467 Docs upgrading to 1 10 0 fixes
  website/content/docs/upgrading/instructions/upgrade-to-1-10-x.mdx
Labels: backport/1.10, type/docs, type/docs-cherrypick

#10440 contrib: add some docs for the DNS interface
  contributing/README.md
  contributing/service-discovery/README.md
  contributing/service-discovery/dns.md
Labels: pr/no-changelog

#10465 structs: clean up some config entry normalize and validate tests
  agent/structs/config_entry_gateways_test.go
  agent/structs/config_entry_test.go
Labels: backport/1.10, pr/no-changelog

#10472 website: bump use-cases to latest
  website/package-lock.json
  website/package.json
Labels: pr/no-changelog, type/docs-cherrypick

#10474 Updating alert for 1.10 announcement
  website/pages/home/index.jsx
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10475 structs: prevent service-defaults upstream configs from using wildcard names or namespaces
  .changelog/10475.txt
  agent/structs/config_entry.go
Labels: backport/1.10

#10468 Update utm_content param for improved attribution
  website/components/subnav/index.jsx
Labels: type/docs, type/docs-cherrypick

#10469 docs: Removal of Consul vs ZooKeeper analysis
  website/content/docs/intro/vs/zookeeper.mdx
  website/data/docs-nav-data.json
  website/redirects.next.js
Labels: type/docs, type/docs-cherrypick

#10487 docs/nia: Update CTS compatible versions
  website/content/docs/nia/compatibility.mdx
Labels: backport/1.10, pr/no-changelog, theme/consul-terraform-sync, type/docs, type/docs-cherrypick

#10473 {api,command/agent}: change io.Discard to ioutil.Discard
  api/api.go
  command/agent/agent.go
Labels: pr/no-changelog

#10477 docs: Remove beta version references from Helm reference
  website/content/docs/k8s/helm.mdx
Labels: type/docs, type/docs-cherrypick

#10488 ci: test api/sdk against last 2 Go versions
  .circleci/config.yml
Labels: pr/no-changelog, type/ci

#10476 ca: replace ca.PrimaryIntermediateProviders
  agent/connect/ca/provider.go
  agent/connect/ca/provider_vault.go
  agent/consul/leader_connect_ca.go
Labels: pr/no-changelog, theme/connect

#10490 tlsutil: fix ServerName used for health checks that use TLS
  .changelog/10490.txt
  tlsutil/config.go
  tlsutil/config_test.go
Labels: backport/1.10, theme/certificates, theme/tls

#10492 docs/nia: fix catalog-services typo
  website/content/docs/nia/configuration.mdx
Labels: backport/1.10, pr/no-changelog, theme/consul-terraform-sync, type/docs, type/docs-cherrypick

#10486 connect/proxy: fixes logic bug preventing builtin/native proxy from starting upstream listeners
  .changelog/10486.txt
  connect/proxy/listener.go
  connect/proxy/proxy.go
  connect/proxy/proxy_test.go
Labels: backport/1.10, theme/connect, type/bug

#10493 docs/nia: fix catalog-services typos pt 2
  website/content/docs/nia/configuration.mdx
  website/content/docs/nia/tasks.mdx
  website/content/docs/nia/terraform-modules.mdx
Labels: backport/1.10, pr/no-changelog, theme/consul-terraform-sync, type/docs, type/docs-cherrypick

#10494 sdk: Stop making a special /tmp/consul-test directory for testutil.TempFile and testutil.TempDir
  sdk/testutil/io.go
Labels: pr/no-changelog

#10484 [Fix] Add missing quote in service documentation
  website/content/docs/discovery/services.mdx
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10496 [1.10.x] tlsutil: fix ServerName used for health checks that use TLS
  .changelog/10490.txt
  tlsutil/config.go
  tlsutil/config_test.go
Labels: theme/certificates, theme/tls

#10401 return an empty record when asked for an addr dns with type other then A, AAAA and ANY
  .changelog/10401.txt
  agent/dns.go
  agent/dns_test.go
Labels: theme/dns, type/bug

#10464 ui: Enable specifying additional docfy config as json
  ui/packages/consul-ui/.docfy-config.js
  ui/packages/consul-ui/README.md
  ui/packages/consul-ui/app/styles/debug.scss
  ui/packages/consul-ui/docs/index.mdx
Labels: backport/1.10, pr/no-changelog, theme/ui

#10424 connect/ca: cease including the common name field in generated certs
  .changelog/10424.txt
  agent/agent_test.go
  agent/auto-config/auto_encrypt_test.go
  agent/auto-config/tls.go
  agent/cache-types/connect_ca_leaf.go
  agent/connect/ca/provider_aws.go
  agent/connect/ca/provider_consul.go
  agent/connect/ca/provider_consul_test.go
  agent/connect/ca/provider_vault.go
  agent/connect/common_names.go
  agent/connect/common_names_test.go
  agent/connect/csr.go
  agent/connect/testing_ca.go
  agent/connect/uri_agent.go
  agent/connect/uri_service.go
  agent/connect/x509_patch.go
  agent/connect/x509_patch_test.go
  agent/consul/auto_encrypt_endpoint_test.go
  agent/consul/server_connect.go
  tlsutil/generate.go
Labels: theme/certificates, theme/connect, theme/tls

#10507 connect: include optional partition prefixes in SPIFFE identifiers
  .changelog/10507.txt
  agent/auto-config/tls.go
  agent/cache-types/connect_ca_leaf.go
  agent/connect/uri.go
  agent/connect/uri_agent.go
  agent/connect/uri_agent_oss.go
  agent/connect/uri_agent_oss_test.go
  agent/connect/uri_agent_test.go
  agent/connect/uri_service.go
  agent/connect/uri_service_oss.go
  agent/connect/uri_service_oss_test.go
  agent/connect/uri_signing.go
  agent/connect/uri_signing_test.go
  agent/connect/uri_test.go
  agent/connect_auth.go
  agent/structs/connect.go
  agent/structs/structs_oss.go
  connect/resolver.go
Labels: theme/connect

#10497 tlsutil: unexport and remove methods
  tlsutil/config.go
  tlsutil/config_test.go
Labels: pr/no-changelog, theme/certificates, theme/tls

#10499 website: upgrade react-head
  website/package-lock.json
  website/package.json
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10506 docs: correct some misleading telemetry docs
  agent/consul/rpc.go
  website/content/docs/agent/telemetry.mdx
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10514 streaming: fix not being able to enable streaming
  .changelog/10514.txt
  agent/agent.go
  agent/agent_test.go
  agent/health_endpoint_test.go
  agent/http.go
  agent/rpcclient/health/health.go
  agent/rpcclient/health/view.go
  agent/rpcclient/health/view_test.go
  agent/streaming_test.go
  agent/structs/protobuf_compat.go
  agent/structs/structs.go
  agent/submatview/materializer.go
  agent/submatview/store.go
  proto/pbcommon/common.go
  website/content/api-docs/features/blocking.mdx
Labels: backport/1.10, theme/health-checks, theme/streaming, type/bug, type/docs

#10518 Update self-hosted-kubernetes.mdx
  website/content/docs/k8s/installation/platforms/self-hosted-kubernetes.mdx
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10517 docs: Remove Helm 2 mention in Consul K8s install and uninstall
  website/content/docs/k8s/installation/install.mdx
  website/content/docs/k8s/operations/uninstall.mdx
Labels: type/docs, type/docs-cherrypick

#10386 docs: Clarify serf_lan/retry_join behavior with network segments
  website/content/docs/agent/options.mdx
  website/content/docs/install/cloud-auto-join.mdx
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10382 docs: Add audit logging examples
  website/content/docs/enterprise/audit-logging.mdx
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10437 Link to Reverse Proxy from Load Balancer
  website/content/docs/install/glossary.mdx
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10522 Add docs for gossip encryption key rotation
  website/content/docs/k8s/operations/gossip-encryption-key-rotation.mdx
  website/data/docs-nav-data.json
Labels: backport/1.10, pr/no-changelog, type/docs, type/docs-cherrypick

#10519 docs: fix service splitter example weight sum
  website/content/docs/connect/config-entries/service-splitter.mdx
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10508 docs: add docs for running a single Consul dc in multiple k8s clusters
  website/content/docs/k8s/connect/index.mdx
  website/content/docs/k8s/connect/terminating-gateways.mdx
  website/content/docs/k8s/installation/deployment-configurations/single-dc-multi-k8s.mdx
  website/data/docs-nav-data.json
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10489 docs: Add Consul 1.10 release notes
  website/content/docs/release-notes/1-10-0.mdx
  website/content/docs/release-notes/1-9-0.mdx
  website/data/docs-nav-data.json
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10529 Add rs-consul client to community-provided SDKs list
  website/content/api-docs/libraries-and-sdks.mdx
Labels: pr/no-changelog, type/docs-cherrypick

#10510 docs: Document setting dashboard_url on k8s
  website/content/docs/connect/observability/ui-visualization.mdx
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10534 build: ensure make go-build-image target builds tools in isolation
  build-support/docker/Build-Go.dockerfile
Labels: pr/no-changelog

#10527 Update references to the main branch
  .circleci/config.yml
  .circleci/scripts/cherry-picker.sh
  .github/CONTRIBUTING.md
  .github/workflows/changelog-checker.yml
  .github/workflows/load-test.yml
  .github/workflows/website-checker.yml
  CHANGELOG.md
  GNUmakefile
  README.md
  build-support/functions/10-util.sh
  command/connect/envoy/bootstrap_config.go
  contributing/INTERNALS.md
  contributing/streaming/README.md
  website/content/api-docs/libraries-and-sdks.mdx
  website/content/docs/connect/observability/ui-visualization.mdx
  website/content/docs/connect/proxies/integrate.mdx
  website/content/docs/install/ports.mdx
  website/content/docs/k8s/upgrade/index.mdx
  website/content/docs/release-notes/1-9-0.mdx
  website/content/docs/security/acl/acl-legacy.mdx
  website/content/docs/security/acl/acl-rules.mdx
  website/content/docs/security/acl/auth-methods/oidc.mdx
  website/content/docs/upgrading/instructions/upgrade-to-1-10-x.mdx
  website/content/docs/upgrading/instructions/upgrade-to-1-2-x.mdx
  website/content/docs/upgrading/instructions/upgrade-to-1-6-x.mdx
  website/content/docs/upgrading/instructions/upgrade-to-1-8-x.mdx
  website/content/docs/upgrading/upgrade-specific.mdx
  website/pages/api-docs/[[...page]].jsx
  website/pages/commands/[[...page]].jsx
  website/pages/docs/[[...page]].jsx
Labels: backport/1.10, pr/no-changelog, theme/cli, theme/contributing, theme/internal-cleanup, type/ci, type/docs, type/docs-cherrypick

#10535 ui: [Backport 1.9.x] Send item name down to Stats to call endpoint (#9358)
  ui/packages/consul-ui/app/components/topology-metrics/index.hbs
Labels: pr/no-changelog, theme/ui

#10528 docs: remove alpha from 1.10.0 reference for observability on k8s metrics merging
  website/content/docs/k8s/connect/observability/metrics.mdx
Labels: type/docs, type/docs-cherrypick

#10515 Fix panic on 32-bit platforms
  .changelog/10515.txt
  .circleci/config.yml
  agent/config/runtime_test.go
  agent/config/testdata/full-config.hcl
  agent/config/testdata/full-config.json
  agent/grpc/stats.go
  command/connect/redirecttraffic/redirect_traffic_test.go
  tlsutil/config.go
Labels: backport/1.10, theme/certificates, theme/cli, theme/config, theme/tls, type/bug, type/ci

#10526 [1.10.x] streaming: fix not being able to enable streaming
  .changelog/10514.txt
  agent/agent.go
  agent/agent_test.go
  agent/health_endpoint_test.go
  agent/http.go
  agent/rpcclient/health/health.go
  agent/rpcclient/health/view.go
  agent/rpcclient/health/view_test.go
  agent/streaming_test.go
  agent/structs/protobuf_compat.go
  agent/structs/structs.go
  agent/submatview/materializer.go
  agent/submatview/store.go
  proto/pbcommon/common.go
  website/content/api-docs/features/blocking.mdx
Labels: pr/no-changelog, theme/health-checks, theme/streaming, type/docs

#10538 Add changelog to backported bug fix for Topology Metrics
  .changelog/10535.txt
Labels: archived/webui, backport/1.10, backport/1.9, pr/no-changelog

#10540 [website] Backport main branch rename
  .circleci/config.yml
  .circleci/scripts/cherry-picker.sh
  .github/CONTRIBUTING.md
  .github/workflows/changelog-checker.yml
  .github/workflows/load-test.yml
  .github/workflows/website-checker.yml
  CHANGELOG.md
  GNUmakefile
  README.md
  build-support/functions/10-util.sh
  command/connect/envoy/bootstrap_config.go
  contributing/INTERNALS.md
  contributing/streaming/README.md
  website/content/api-docs/libraries-and-sdks.mdx
  website/content/docs/connect/observability/ui-visualization.mdx
  website/content/docs/connect/proxies/integrate.mdx
  website/content/docs/install/ports.mdx
  website/content/docs/k8s/upgrade/index.mdx
  website/content/docs/release-notes/1-9-0.mdx
  website/content/docs/security/acl/acl-legacy.mdx
  website/content/docs/security/acl/acl-rules.mdx
  website/content/docs/security/acl/auth-methods/oidc.mdx
  website/content/docs/upgrading/instructions/upgrade-to-1-10-x.mdx
  website/content/docs/upgrading/instructions/upgrade-to-1-2-x.mdx
  website/content/docs/upgrading/instructions/upgrade-to-1-6-x.mdx
  website/content/docs/upgrading/instructions/upgrade-to-1-8-x.mdx
  website/content/docs/upgrading/upgrade-specific.mdx
  website/pages/api-docs/[[...page]].jsx
  website/pages/commands/[[...page]].jsx
  website/pages/docs/[[...page]].jsx
Labels: pr/no-changelog, theme/cli, theme/contributing, type/ci, type/docs
