Repository hashicorp/consul, pull requests merged in 2021-09, with the labels that each got.

#10917 add partition to SNI when partition is non default
  agent/connect/sni.go
  agent/connect/sni_test.go
  agent/proxycfg/state_test.go
  agent/proxycfg/upstreams.go
  agent/structs/discovery_chain.go
  agent/xds/clusters.go
  agent/xds/endpoints.go
  agent/xds/listeners.go
  agent/xds/routes.go
Labels: pr/no-changelog

#10930 nia/docs 0.3.0
  website/content/docs/nia/architecture.mdx
  website/content/docs/nia/configuration.mdx
  website/content/docs/nia/enterprise/index.mdx
  website/content/docs/nia/enterprise/license.mdx
  website/content/docs/nia/index.mdx
  website/content/docs/nia/installation/install.mdx
  website/content/docs/nia/installation/requirements.mdx
  website/content/docs/nia/network-drivers.mdx
  website/content/docs/nia/network-drivers/index.mdx
  website/content/docs/nia/network-drivers/terraform-cloud.mdx
  website/content/docs/nia/network-drivers/terraform.mdx
  website/content/docs/nia/tasks.mdx
  website/data/docs-nav-data.json
  website/public/img/nia/cts-tfc-run-notifications.png
  website/public/img/nia/cts-tfc-team-setup.png
  website/public/img/nia/cts-tfc-workspace-variables.png
  website/public/img/nia/cts-tfc-workspace.png
Labels: type/docs, type/docs-cherrypick, theme/consul-terraform-sync, pr/no-changelog

#10974 docs: link to the enterprise license tutorial
  website/content/docs/nia/enterprise/license.mdx
Labels: type/docs, type/docs-cherrypick, theme/consul-terraform-sync

#10975 Add missing "is" in "this is false"
  website/content/docs/security/security-models/core.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#10973 fix(website): `start` script reloads app on save
  website/package.json
Labels: type/docs, pr/no-changelog

#10978 Adding NIA to Consul Ent page
  website/content/docs/enterprise/index.mdx
Labels: type/docs, type/docs-cherrypick

#10977 docs: fixed numbering of license bullets and corrected indent
  website/content/docs/nia/enterprise/license.mdx
Labels: type/docs, type/docs-cherrypick, theme/consul-terraform-sync

#10981 try to infer command partition from node partition
  agent/catalog_endpoint.go
  agent/coordinate_endpoint.go
  agent/http_oss.go
  agent/ui_endpoint.go
Labels: pr/no-changelog

#10815 docs: Add supported consistency modes to prepared queries
  website/content/api-docs/query.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#10992 Add changelog known issues for latest patch releases
  CHANGELOG.md
Labels: backport/1.10

#10980 fixing the policy for configuring k8 clusters as secondary in federated arch
  website/content/docs/k8s/installation/multi-cluster/vms-and-kubernetes.mdx
Labels: type/docs, type/docs-cherrypick, theme/kubernetes, pr/no-changelog, backport/1.10

#10566 Allow configuring graceful stop in testutil
  .changelog/10566.txt
  sdk/testutil/server.go
Labels: waiting-reply

#10994 Sync enterprise changes to oss
  agent/config_endpoint.go
  agent/consul/enterprise_server_oss.go
  agent/consul/intention_endpoint.go
  agent/consul/intention_endpoint_test.go
  agent/consul/leader_intentions.go
  agent/consul/state/config_entry_intention.go
  agent/consul/state/intention.go
  agent/consul/state/intention_test.go
  agent/http_oss.go
  agent/intentions_endpoint.go
  agent/intentions_endpoint_test.go
  agent/structs/config_entry.go
  agent/structs/config_entry_intentions.go
  agent/structs/config_entry_intentions_test.go
  agent/structs/config_entry_test.go
  agent/structs/intention.go
  agent/structs/intention_oss.go
  agent/structs/intention_test.go
  agent/structs/structs_filtering_test.go
  agent/structs/testing_intention.go
Labels: pr/no-changelog

#10995 adding NIA to sidebar nav
  website/data/docs-nav-data.json
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#10834 docs: give tutorials links for securing UI access
  website/content/docs/security/security-models/core.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#10964 use intermediates when verifying
  .changelog/10964.txt
  agent/consul/rpc_test.go
  tlsutil/config.go
  tlsutil/generate.go
Labels: theme/tls, backport/1.8, theme/certificates, backport/1.9, backport/1.10

#11002 convert indexAccessor to the new index
  agent/consul/state/acl.go
  agent/consul/state/acl_schema.go
Labels: pr/no-changelog

#11005 [1.9.x] use intermediates when verifying
  .changelog/10964.txt
  agent/consul/rpc_test.go
  tlsutil/config.go
  tlsutil/generate.go
Labels: theme/tls, theme/certificates

#11006 [1.10.x] use intermediates when verifying
  .changelog/10964.txt
  agent/consul/rpc_test.go
  tlsutil/config.go
  tlsutil/generate.go
Labels: theme/tls, theme/certificates

#11007 convert `SecretID` index to use `indexerSingle`
  agent/consul/state/acl.go
  agent/consul/state/acl_events.go
  agent/consul/state/acl_oss.go
  agent/consul/state/acl_schema.go
  agent/consul/state/acl_test.go
Labels: pr/no-changelog

#11011 convert `Policies` index to use `indexerMulti`
  agent/consul/state/acl.go
  agent/consul/state/acl_oss.go
  agent/consul/state/acl_oss_test.go
  agent/consul/state/acl_schema.go
  agent/consul/state/schema_test.go
Labels: pr/no-changelog

#11013 convert `Roles` index to use `indexerMulti`
  agent/consul/state/acl.go
  agent/consul/state/acl_oss.go
  agent/consul/state/acl_oss_test.go
  agent/consul/state/acl_schema.go
Labels: pr/no-changelog

#10724 Document how to make namespace wildcard intentions.
  website/content/docs/connect/intentions.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#11014 convert `indexAuthMethod` index to use `indexerSingle`
  agent/consul/state/acl_oss.go
  agent/consul/state/acl_oss_test.go
  agent/consul/state/acl_schema.go
  agent/consul/state/query.go
  agent/consul/state/query_oss.go
Labels: pr/no-changelog

#11015 website: fixup incorrect markdown syntax
  website/content/docs/connect/transparent-proxy.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#10837 Improve documentation around using DNS with ACLs Enabled
  website/content/docs/discovery/dns.mdx
  website/content/docs/security/acl/acl-system.mdx
  website/public/img/acl-token-policy-rule-relationship.png
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#11016 add locality indexer partitioning
  agent/consul/state/acl.go
  agent/consul/state/acl_oss.go
  agent/consul/state/acl_schema.go
  agent/consul/state/indexer.go
  agent/consul/state/query.go
Labels: pr/no-changelog

#11018 convert expiration indexed in ACLToken table to use `indexerSingle`
  agent/consul/state/acl.go
  agent/consul/state/acl_schema.go
  agent/consul/state/acl_test.go
  agent/consul/state/indexer.go
Labels: pr/no-changelog

#11020 acl-tokens table partitioning
  api/acl_test.go
Labels: theme/api, pr/no-changelog

#11021 Sync partition fields from enterprise
  api/config_entry.go
  api/config_entry_cluster.go
  api/config_entry_discoverychain.go
  api/config_entry_discoverychain_test.go
  api/config_entry_gateways.go
  api/config_entry_intentions.go
  api/config_entry_test.go
Labels: pr/no-changelog

#10969 Add failures_before_warning to checks
  .changelog/10969.txt
  agent/agent.go
  agent/checks/check.go
  agent/checks/check_test.go
  agent/checks/grpc_test.go
  agent/config/builder.go
  agent/config/config.go
  agent/config/runtime.go
  agent/config/runtime_test.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/config/testdata/full-config.hcl
  agent/config/testdata/full-config.json
  agent/structs/check_definition.go
  agent/structs/check_type.go
  agent/structs/service_definition.go
  api/agent.go
  build-support/scripts/proto-gen.sh
  proto/pbservice/healthcheck.gen.go
  proto/pbservice/healthcheck.pb.go
  proto/pbservice/healthcheck.proto
  website/content/api-docs/agent/check.mdx
  website/content/docs/discovery/checks.mdx
Labels: type/docs, theme/api, theme/config

#11022 Update error texts
  agent/config/builder.go
  agent/structs/config_entry_gateways.go
  sdk/testutil/assertions.go
Labels: theme/config, pr/no-changelog

#11024 Account for partition when matching src intentions
  agent/xds/rbac.go
  agent/xds/rbac_test.go
Labels: theme/envoy/xds, pr/no-changelog

#11032 oss: Add partition rule ACL type
  acl/policy_merger.go
  acl/policy_merger_oss.go
Labels: theme/acls, pr/no-changelog

#11029 Refactor `indexAuthMethod` in `tableACLBindingRules`
  agent/consul/state/acl.go
  agent/consul/state/acl_oss.go
  agent/consul/state/acl_oss_test.go
  agent/consul/state/acl_schema.go
  agent/consul/state/acl_test.go
  agent/consul/state/schema_test.go
Labels: pr/no-changelog

#11039 use const instead of literals for `tableIndex`
  agent/consul/state/acl.go
  agent/consul/state/acl_oss.go
  agent/consul/state/system_metadata.go
Labels: pr/no-changelog

#11035 docs: Remove step for deleting webhook-cert-manager secret on Consul K8s uninstall
  website/content/docs/k8s/operations/uninstall.mdx
Labels: type/docs-cherrypick, pr/no-changelog

#11040 docs: Reformat Uninstall steps
  website/content/docs/k8s/operations/uninstall.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#11044 ACL Binding Rules table partitioning
  agent/consul/state/acl.go
  agent/consul/state/acl_oss.go
  agent/consul/state/acl_oss_test.go
  agent/consul/state/acl_schema.go
Labels: pr/no-changelog

#11033 updates to ECS docs per beta release
  website/content/docs/ecs/get-started/install.mdx
  website/content/docs/ecs/get-started/requirements.mdx
  website/content/docs/ecs/index.mdx
  website/data/docs-nav-data.json
Labels: type/docs, backport/1.10, theme/ecs

#11043 ECS architecture docs for Beta
  website/content/docs/ecs/architecture.mdx
  website/public/img/consul-ecs-arch.png
  website/public/img/ecs-task-startup.png
Labels: type/docs, pr/no-changelog

#11052 acl: small resolver changes to account for partitions
  agent/consul/acl.go
  agent/consul/acl_oss_test.go
  agent/consul/acl_test.go
  agent/structs/acl.go
  agent/structs/acl_oss.go
Labels: pr/no-changelog

#11051 Ensure Envoy can subscribe to services in non-default partition
  agent/consul/intention_endpoint.go
  agent/consul/state/intention.go
  agent/proxycfg/connect_proxy.go
  agent/proxycfg/manager_test.go
  agent/proxycfg/terminating_gateway.go
  agent/xds/clusters.go
  api/api.go
  command/connect/envoy/bootstrap_config.go
  command/connect/envoy/bootstrap_tpl.go
  command/connect/envoy/envoy.go
  command/connect/envoy/envoy_test.go
  command/connect/envoy/testdata/CONSUL_HTTP_ADDR-with-https-scheme-enables-tls.golden
  command/connect/envoy/testdata/access-log-path.golden
  command/connect/envoy/testdata/defaults.golden
  command/connect/envoy/testdata/deprecated-grpc-addr-config.golden
  command/connect/envoy/testdata/existing-ca-file.golden
  command/connect/envoy/testdata/existing-ca-path.golden
  command/connect/envoy/testdata/extra_-multiple.golden
  command/connect/envoy/testdata/extra_-single.golden
  command/connect/envoy/testdata/grpc-addr-env.golden
  command/connect/envoy/testdata/grpc-addr-flag.golden
  command/connect/envoy/testdata/grpc-addr-unix.golden
  command/connect/envoy/testdata/ingress-gateway-address-specified.golden
  command/connect/envoy/testdata/ingress-gateway-no-auto-register.golden
  command/connect/envoy/testdata/ingress-gateway-register-with-service-and-proxy-id.golden
  command/connect/envoy/testdata/ingress-gateway-register-with-service-without-proxy-id.golden
  command/connect/envoy/testdata/ingress-gateway.golden
  command/connect/envoy/testdata/prometheus-metrics.golden
  command/connect/envoy/testdata/stats-config-override.golden
  command/connect/envoy/testdata/token-arg.golden
  command/connect/envoy/testdata/token-env.golden
  command/connect/envoy/testdata/token-file-arg.golden
  command/connect/envoy/testdata/token-file-env.golden
  command/connect/envoy/testdata/xds-addr-config.golden
  command/connect/envoy/testdata/zipkin-tracing-config.golden
Labels: theme/api, theme/cli, theme/envoy/xds, pr/no-changelog

#11061 acl: fix intention:*:write checks
  acl/policy_authorizer.go
  agent/consul/acl_test.go
  agent/consul/intention_endpoint_test.go
  agent/structs/intention.go
Labels: type/bug, theme/acls, pr/no-changelog

#11049 docs: Add production installation ECS docs
  website/content/docs/ecs/get-started/production-installation.mdx
  website/data/docs-nav-data.json
Labels: type/docs, pr/no-changelog

#11060 ui: Ensure we request permission with the correct partition
  ui/packages/consul-ui/app/routes/dc.js
Labels: theme/ui, pr/no-changelog

#11048 docs: Migrate Existing Tasks page for ECS
  website/content/docs/ecs/get-started/install.mdx
  website/content/docs/ecs/get-started/migrate-existing-tasks.mdx
  website/content/docs/ecs/get-started/production-installation.mdx
  website/data/docs-nav-data.json
Labels: type/docs, pr/no-changelog

#10898 Bump `go-discover` to fix broken dep tree
  agent/consul/authmethod/kubeauth/k8s.go
  go.mod
  go.sum
Labels: pr/no-changelog, dependencies

#11072 acl: ensure the global management policy grants all necessary partition privileges
  agent/consul/acl_oss_test.go
  agent/consul/acl_test.go
Labels: pr/no-changelog

#11071 Account for partitions in ixn match/decision
  agent/connect/authz.go
  agent/connect/authz_test.go
  agent/connect_auth.go
  agent/consul/intention_endpoint.go
  agent/consul/internal_endpoint.go
  agent/consul/internal_endpoint_test.go
  agent/consul/state/catalog.go
  agent/consul/state/intention.go
  agent/consul/state/intention_test.go
  agent/proxycfg/connect_proxy.go
  agent/proxycfg/state_test.go
  agent/ui_endpoint.go
Labels: theme/connect, pr/no-changelog

#11050 docs: ECS docs for beta
  website/content/docs/ecs/architecture.mdx
  website/content/docs/ecs/get-started/install.mdx
  website/content/docs/ecs/get-started/migrate-existing-tasks.mdx
  website/content/docs/ecs/get-started/production-installation.mdx
  website/content/docs/ecs/get-started/requirements.mdx
  website/content/docs/ecs/index.mdx
  website/data/docs-nav-data.json
  website/public/img/consul-ecs-arch.png
  website/public/img/ecs-task-startup.png
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#11074 update changelog for v1.11.0-alpha
  CHANGELOG.md
Labels: pr/no-changelog

#11025 docs/nia: Add Consul KV condition
  website/content/docs/nia/configuration.mdx
  website/content/docs/nia/tasks.mdx
  website/content/docs/nia/terraform-modules.mdx
Labels: type/docs, theme/consul-terraform-sync

#11026 sso/oidc: add support for acr_values request parameter
  .changelog/11026.txt
  api/acl.go
  internal/go-sso/oidcauth/config.go
  internal/go-sso/oidcauth/config_test.go
  internal/go-sso/oidcauth/oidc.go
  internal/go-sso/oidcauth/oidc_test.go
  website/content/docs/security/acl/auth-methods/oidc.mdx
Labels: type/docs, theme/api, theme/acls, type/docs-cherrypick, backport/1.8, backport/1.9, backport/1.10

#11080 api: add partition field to acl structs
  .changelog/11080.txt
  api/acl.go
Labels: theme/api, backport/1.11

#11079 [1.8.x] Backport adding acr_values to OIDC requests
  .changelog/11026.txt
  api/acl.go
  internal/go-sso/oidcauth/config.go
  internal/go-sso/oidcauth/config_test.go
  internal/go-sso/oidcauth/oidc.go
  internal/go-sso/oidcauth/oidc_test.go
Labels: theme/api, theme/acls

#11085 xds: ensure the active streams counters are 64 bit aligned on 32 bit systems
  .changelog/11085.txt
  agent/xds/server.go
Labels: type/bug, theme/envoy/xds, backport/1.10, backport/1.11

#11059 Rerun go-test and go-test-32bits tests up to 3 times before failing
  .circleci/config.yml
  .circleci/scripts/rerun-fails-report.sh
Labels: type/ci, pr/no-changelog

#11054 add StatusError to api package
  api/api.go
  api/operator_autopilot.go
  api/operator_autopilot_test.go
Labels: pr/no-changelog

#10987 xds: fix representation of incremental xDS subscriptions
  .changelog/10987.txt
  agent/xds/delta.go
  agent/xds/delta_test.go
  agent/xds/server.go
  agent/xds/xds_protocol_helpers_test.go
Labels: type/bug, theme/envoy/xds, backport/1.10, backport/1.11

#11078 Consul on Kubernetes - Features List Section
  website/components/features-list/feature.tsx
  website/components/features-list/images/bottom-left-design.svg
  website/components/features-list/images/top-right-design.svg
  website/components/features-list/index.tsx
  website/components/features-list/style.module.css
  website/pages/consul-on-kubernetes/images/multi-platform.svg
  website/pages/consul-on-kubernetes/images/observable.svg
  website/pages/consul-on-kubernetes/images/secure.svg
  website/pages/consul-on-kubernetes/images/workflow.svg
  website/pages/consul-on-kubernetes/index.jsx
  website/pages/consul-on-kubernetes/index.tsx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#11081 nia/docs: Remove TFE-only restriction
  website/content/docs/nia/configuration.mdx
  website/content/docs/nia/network-drivers/index.mdx
  website/content/docs/nia/network-drivers/terraform-cloud.mdx
Labels: type/docs, theme/consul-terraform-sync

#10985 acl: remove legacy ACL replication
  agent/consul/acl_replication.go
  agent/consul/acl_replication_legacy.go
  agent/consul/acl_replication_legacy_test.go
  agent/consul/leader.go
  agent/consul/leader_test.go
  agent/consul/server.go
  agent/consul/state/acl.go
  agent/structs/acl.go
  agent/structs/acl_legacy.go
  agent/structs/acl_legacy_test.go
Labels: pr/no-changelog

#11095 ui: [BUGFIX] Re-enable namespace menus whilst editing intentions
  .changelog/11095.txt
  ui/packages/consul-ui/app/components/consul/intention/form/fieldsets/index.hbs
  ui/packages/consul-ui/app/components/consul/intention/form/index.js
  ui/packages/consul-ui/tests/acceptance/dc/intentions/create.feature
  ui/packages/consul-ui/tests/acceptance/dc/intentions/filtered-select.feature
  ui/packages/consul-ui/tests/steps/assertions/dom.js
Labels: theme/ui, backport/1.8, backport/1.9, backport/1.10, backport/1.11

#11108 Sync 1.11.0 alpha tag
  CHANGELOG.md
  version/version.go
Labels: pr/no-changelog

#11111 Update docs
  website/content/docs/k8s/helm.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.11

#11090 Add KVUsage to consul state usage metrics
  .changelog/11090.txt
  agent/consul/state/usage.go
  agent/consul/state/usage_oss.go
  agent/consul/state/usage_test.go
  agent/consul/usagemetrics/usagemetrics.go
  agent/consul/usagemetrics/usagemetrics_oss.go
  agent/consul/usagemetrics/usagemetrics_oss_test.go
  website/content/docs/agent/telemetry.mdx
Labels: type/docs, backport/1.9, backport/1.10, backport/1.11

#11102 ui: [Backport] Backport of #11095 to 1.8.x
  .changelog/11102.txt
  ui-v2/app/components/consul-intention-form/index.js
  ui-v2/tests/acceptance/dc/intentions/create.feature
  ui-v2/tests/acceptance/dc/intentions/filtered-select.feature
  ui-v2/tests/steps/assertions/dom.js
Labels: theme/ui

#10916 ui: Always show main navigation Key/Value link
  .changelog/10916.txt
  ui/packages/consul-ui/app/abilities/kv.js
  ui/packages/consul-ui/tests/acceptance/dc/acls/tokens/index.feature
  ui/packages/consul-ui/tests/acceptance/dc/kvs/index.feature
  ui/packages/consul-ui/tests/acceptance/navigation-links.feature
Labels: theme/ui, backport/1.10

#11077 ui: Gracefully recover from non-existent DC errors
  .changelog/11077.txt
  ui/packages/consul-ui/app/helpers/cached-model.js
  ui/packages/consul-ui/app/services/repository.js
  ui/packages/consul-ui/app/templates/application.hbs
  ui/packages/consul-ui/mock-api/v1/catalog/datacenters
  ui/packages/consul-ui/tests/acceptance/dc/error.feature
  ui/packages/consul-ui/tests/acceptance/dc/services/error.feature
  ui/packages/consul-ui/tests/steps/doubles/model.js
Labels: theme/ui

#11089 Consul On Kubernetes - Hero
  website/components/consul-on-kubernetes-hero/images/background-design.svg
  website/components/consul-on-kubernetes-hero/index.tsx
  website/components/consul-on-kubernetes-hero/style.module.css
  website/pages/consul-on-kubernetes/images/sample-video.png
  website/pages/consul-on-kubernetes/index.tsx
Labels: type/docs

#11096 ui: Remove legacy ACLs
  ui/packages/consul-ui/app/adapters/acl.js
  ui/packages/consul-ui/app/components/consul/acl/list/index.hbs
  ui/packages/consul-ui/app/components/consul/acl/notifications/index.hbs
  ui/packages/consul-ui/app/components/consul/acl/search-bar/index.hbs
  ui/packages/consul-ui/app/controllers/dc/acls/create.js
  ui/packages/consul-ui/app/controllers/dc/acls/edit.js
  ui/packages/consul-ui/app/filter/predicates/acl.js
  ui/packages/consul-ui/app/forms/acl.js
  ui/packages/consul-ui/app/mixins/acl/with-actions.js
  ui/packages/consul-ui/app/models/acl.js
  ui/packages/consul-ui/app/router.js
  ui/packages/consul-ui/app/routes/dc/acls.js
  ui/packages/consul-ui/app/routes/dc/acls/create.js
  ui/packages/consul-ui/app/routes/dc/acls/edit.js
  ui/packages/consul-ui/app/routes/dc/acls/index.js
  ui/packages/consul-ui/app/routing/route.js
  ui/packages/consul-ui/app/serializers/acl.js
  ui/packages/consul-ui/app/services/filter.js
  ui/packages/consul-ui/app/services/form.js
  ui/packages/consul-ui/app/services/repository/acl.js
  ui/packages/consul-ui/app/services/repository/auth-method.js
  ui/packages/consul-ui/app/services/repository/binding-rule.js
  ui/packages/consul-ui/app/services/repository/policy.js
  ui/packages/consul-ui/app/services/repository/role.js
  ui/packages/consul-ui/app/services/repository/token.js
  ui/packages/consul-ui/app/services/sort.js
  ui/packages/consul-ui/app/sort/comparators/acl.js
  ui/packages/consul-ui/app/templates/dc/acls/-form.hbs
  ui/packages/consul-ui/app/templates/dc/acls/edit.hbs
  ui/packages/consul-ui/app/templates/dc/acls/index.hbs
  ui/packages/consul-ui/app/utils/acls-status.js
  ui/packages/consul-ui/app/utils/http/acl/is-valid-server-error.js
  ui/packages/consul-ui/app/validations/acl.js
  ui/packages/consul-ui/ember-cli-build.js
  ui/packages/consul-ui/lib/startup/templates/body.html.js
  ui/packages/consul-ui/package.json
  ui/packages/consul-ui/server/index.js
  ui/packages/consul-ui/tests/integration/adapters/acl-test.js
  ui/packages/consul-ui/tests/unit/adapters/acl-test.js
  ui/packages/consul-ui/tests/unit/controllers/dc/acls/create-test.js
  ui/packages/consul-ui/tests/unit/controllers/dc/acls/edit-test.js
  ui/packages/consul-ui/tests/unit/mixins/acl/with-actions-test.js
  ui/packages/consul-ui/tests/unit/models/acl-test.js
  ui/packages/consul-ui/tests/unit/routes/dc/acls-test.js
  ui/packages/consul-ui/tests/unit/routes/dc/acls/create-test.js
  ui/packages/consul-ui/tests/unit/routes/dc/acls/edit-test.js
  ui/packages/consul-ui/tests/unit/routes/dc/acls/index-test.js
  ui/packages/consul-ui/tests/unit/search/predicates/acl-test.js
  ui/packages/consul-ui/tests/unit/serializers/acl-test.js
  ui/packages/consul-ui/tests/unit/services/repository/acl-test.js
  ui/packages/consul-ui/tests/unit/utils/acls-status-test.js
  ui/packages/consul-ui/tests/unit/utils/http/acl/is-valid-server-error-test.js
  ui/packages/consul-ui/vendor/acls/routes.js
  ui/yarn.lock
Labels: theme/ui, pr/no-changelog

#11104 ui: Add an isDestroyed check for the MenuPanel component
  ui/packages/consul-ui/app/components/menu-panel/index.js
Labels: theme/ui, backport/1.9, pr/no-changelog, backport/1.10

#11106 ui: Add partition parameter when clearing child-selector forms in ACLs
  ui/packages/consul-ui/app/components/child-selector/index.js
Labels: theme/ui, pr/no-changelog

#11114 Consul On Kubernetes - Block List
  website/components/block-list/index.tsx
  website/components/block-list/style.module.css
  website/pages/consul-on-kubernetes/images/blocks/connecting.svg
  website/pages/consul-on-kubernetes/images/blocks/monitoring.svg
  website/pages/consul-on-kubernetes/images/blocks/multi-cluster.svg
  website/pages/consul-on-kubernetes/images/blocks/securing.svg
  website/pages/consul-on-kubernetes/images/features/multi-platform.svg
  website/pages/consul-on-kubernetes/images/features/observable.svg
  website/pages/consul-on-kubernetes/images/features/secure.svg
  website/pages/consul-on-kubernetes/images/features/workflow.svg
  website/pages/consul-on-kubernetes/index.tsx
Labels: type/docs

#10888 ui: Add initial i18n docs page
  ui/packages/consul-ui/docs/i18n.mdx
Labels: theme/ui, pr/no-changelog

#11099 grpc: strip local ACL tokens from RPCs during forwarding if crossing datacenters
  .changelog/11099.txt
  agent/consul/rpc.go
  agent/consul/rpc_test.go
  agent/consul/subscribe_backend.go
  agent/consul/subscribe_backend_test.go
  agent/rpc/subscribe/subscribe.go
  agent/rpc/subscribe/subscribe_test.go
  agent/submatview/store_integration_test.go
  proto/pbcommon/common.go
  proto/pbsubscribe/subscribe.go
Labels: backport/1.10

#11116 Finish Backporting #11107
  agent/delegate_mock_test.go
Labels: backport/1.8, backport/1.9

#11109 connect: Allow upstream listener escape hatch for prepared queries
  .changelog/11109.txt
  agent/xds/listeners.go
  agent/xds/listeners_test.go
  agent/xds/testdata/listeners/custom-upstream.envoy-1-18-x.golden
  agent/xds/testdata/listeners/custom-upstream.v2compat.envoy-1-16-x.golden
Labels: theme/envoy/xds, backport/1.10

#11056 partitions/authmethod-index work from enterprise
  agent/consul/state/acl.go
  agent/consul/state/acl_oss.go
  agent/consul/state/acl_oss_test.go
  agent/consul/state/acl_schema.go
  agent/consul/state/acl_test.go
Labels: pr/no-changelog

#11122 Consul On Kubernetes - Side by Side Section
  website/components/block-list/index.tsx
  website/components/side-by-side/index.tsx
  website/components/side-by-side/style.module.css
  website/pages/consul-on-kubernetes/index.tsx
  website/pages/consul-on-kubernetes/style.module.css
Labels: type/docs

#11131 Refactor table index
  agent/consul/state/schema.go
  agent/consul/state/state_store.go
Labels: pr/no-changelog

#10751 Create glossary.mdx
  website/content/docs/install/glossary.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#11119 Backport #11090 into 1.9.x
  .changelog/11090.txt
  agent/consul/state/usage.go
  agent/consul/state/usage_oss.go
  agent/consul/state/usage_test.go
  agent/consul/usagemetrics/usagemetrics.go
  agent/consul/usagemetrics/usagemetrics_oss.go
  agent/consul/usagemetrics/usagemetrics_oss_test.go
  agent/consul/usagemetrics/usagemetrics_test.go
  website/content/docs/agent/telemetry.mdx
Labels: type/docs, pr/no-changelog

#11121 Backport #11090 into release/1.10.x
  .changelog/11090.txt
  agent/consul/state/usage.go
  agent/consul/state/usage_oss.go
  agent/consul/state/usage_test.go
  agent/consul/usagemetrics/usagemetrics.go
  agent/consul/usagemetrics/usagemetrics_oss.go
  agent/consul/usagemetrics/usagemetrics_oss_test.go
  agent/consul/usagemetrics/usagemetrics_test.go
  website/content/docs/agent/telemetry.mdx
Labels: type/docs, pr/no-changelog

#11133 Refactor table index acl phase 2
  agent/consul/state/acl.go
  agent/consul/state/acl_oss.go
Labels: pr/no-changelog

#11124 [1.10.x] grpc: strip local ACL tokens from RPCs during forwarding if crossing datacenters
  .changelog/11099.txt
  agent/consul/rpc.go
  agent/consul/rpc_test.go
  agent/consul/subscribe_backend.go
  agent/consul/subscribe_backend_test.go
  agent/rpc/subscribe/subscribe.go
  agent/rpc/subscribe/subscribe_test.go
  agent/submatview/store_integration_test.go
  proto/pbcommon/common.go
  proto/pbsubscribe/subscribe.go
Labels: pr/no-changelog

#11028 adding k8s-cli alpha docs
  website/content/docs/k8s/index.mdx
  website/content/docs/k8s/installation/install.mdx
  website/content/docs/k8s/k8s-cli.mdx
  website/content/docs/k8s/operations/uninstall.mdx
  website/data/docs-nav-data.json
Labels: type/docs, type/docs-cherrypick, theme/kubernetes, pr/no-changelog

#11105 ui: Move action to the correct button for session invalidation
  ui/packages/consul-ui/app/components/consul/lock-session/list/index.hbs
Labels: theme/ui, backport/1.8, backport/1.9, pr/no-changelog, backport/1.10

#11127 ui: Use last-child for selecting the desired nspace instead of nth-child
  ui/packages/consul-ui/tests/acceptance/dc/intentions/create.feature
Labels: theme/ui, backport/1.8, backport/1.9, pr/no-changelog, backport/1.10

#11128 ui: Fixup backport of 11095: adding dont which exists in 1.10 but not 1.9
  ui/packages/consul-ui/tests/steps/assertions/dom.js
Labels: theme/ui, pr/no-changelog

#11137 docs: Decode K8s secrets with base64decode function
  website/content/docs/k8s/connect/terminating-gateways.mdx
  website/content/docs/k8s/installation/deployment-configurations/consul-enterprise.mdx
  website/content/docs/k8s/installation/install.mdx
  website/content/docs/k8s/installation/multi-cluster/vms-and-kubernetes.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#11129 ui: Add partition support to intentions
  .changelog/11129.txt
  ui/packages/consul-ui/app/adapters/intention.js
  ui/packages/consul-ui/app/components/consul/intention/form/fieldsets/index.hbs
  ui/packages/consul-ui/app/components/consul/intention/form/index.hbs
  ui/packages/consul-ui/app/components/consul/intention/form/index.js
  ui/packages/consul-ui/app/components/consul/intention/list/skin.scss
  ui/packages/consul-ui/app/components/consul/intention/list/table/index.hbs
  ui/packages/consul-ui/app/components/consul/intention/view/index.hbs
  ui/packages/consul-ui/app/models/intention.js
  ui/packages/consul-ui/app/serializers/intention.js
  ui/packages/consul-ui/app/services/repository/intention.js
  ui/packages/consul-ui/app/styles/layout.scss
  ui/packages/consul-ui/mock-api/v1/connect/_
  ui/packages/consul-ui/mock-api/v1/connect/intentions/_
  ui/packages/consul-ui/mock-api/v1/connect/intentions/exact
  ui/packages/consul-ui/tests/acceptance/dc/intentions/create.feature
  ui/packages/consul-ui/tests/acceptance/dc/intentions/delete.feature
  ui/packages/consul-ui/tests/acceptance/dc/intentions/permissions/warn.feature
  ui/packages/consul-ui/tests/acceptance/dc/intentions/update.feature
  ui/packages/consul-ui/tests/acceptance/dc/services/show/intentions.feature
  ui/packages/consul-ui/tests/integration/adapters/intention-test.js
  ui/packages/consul-ui/tests/integration/serializers/intention-test.js
Labels: theme/ui

#11130 ui: Remove info panel from the nspace menu when editing nspaces
  .changelog/11130.txt
  ui/packages/consul-ui/app/components/hashicorp-consul/index.hbs
  ui/packages/consul-ui/app/styles/themes.scss
Labels: theme/ui

#11141 [1.10.x] docs: Backport #11137 to release/1.10.x
  website/content/docs/k8s/connect/terminating-gateways.mdx
  website/content/docs/k8s/installation/deployment-configurations/consul-enterprise.mdx
  website/content/docs/k8s/installation/install.mdx
  website/content/docs/k8s/installation/multi-cluster/vms-and-kubernetes.mdx
Labels: type/docs, pr/no-changelog

#11145 docs: Backport #11028 k8s CLI docs to stable-website
  website/content/docs/k8s/index.mdx
  website/content/docs/k8s/installation/install.mdx
  website/content/docs/k8s/k8s-cli.mdx
  website/content/docs/k8s/operations/uninstall.mdx
  website/data/docs-nav-data.json
Labels: type/docs, pr/no-changelog

#11139 ui: [Backport 1.8.x] Remove refresh-route action for session invalidation (#11105)
  ui-v2/app/templates/dc/nodes/show/sessions.hbs
Labels: theme/ui

#11140 ui: [Backport 1.8.x] Use last-child for selecting the desired nspace instead of nth-child
  ui-v2/tests/acceptance/dc/intentions/create.feature
Labels: theme/ui

#11132 ui: Adds a set of basic unit tests for abilities
  ui/packages/consul-ui/tests/unit/abilities/-test.js
Labels: theme/ui, pr/no-changelog, backport/1.10

#10915 ui: Ensure we clean up javascript based DataSources
  .changelog/10915.txt
  ui/packages/consul-ui/app/routes/dc/routing-config.js
  ui/packages/consul-ui/app/styles/layout.scss
  ui/packages/consul-ui/app/templates/dc/routing-config.hbs
Labels: theme/ui

#11149 ui: Don't show the CRD menu for read-only intentions
  .changelog/11149.txt
  ui/packages/consul-ui/app/abilities/intention.js
  ui/packages/consul-ui/app/components/consul/intention/list/table/index.hbs
  ui/packages/consul-ui/app/models/intention.js
  ui/packages/consul-ui/app/templates/dc/intentions/edit.hbs
Labels: theme/ui, backport/1.10

#10914 ui: Hide create buttons for policies/roles/namespaces with readonly access
  .changelog/10914.txt
  ui/packages/consul-ui/app/templates/dc/acls/policies/index.hbs
  ui/packages/consul-ui/app/templates/dc/acls/roles/index.hbs
  ui/packages/consul-ui/app/templates/dc/nspaces/index.hbs
Labels: theme/ui, backport/1.10

#11097 ui: Adds Flight icons to our icon set
  ui/packages/consul-ui/app/styles/base/icons/base-variables.scss
  ui/packages/consul-ui/app/styles/base/icons/icon-placeholders.scss
Labels: theme/ui, pr/no-changelog

#11150 Consul On Kubernetes - Docs List Component
  website/components/docs-list/index.tsx
  website/components/docs-list/style.module.css
  website/pages/consul-on-kubernetes/images/docs/helm-icon.svg
  website/pages/consul-on-kubernetes/index.tsx
Labels: type/docs

#11154 Update alert banner for HashiConf Global 2021
  website/data/alert-banner.js
Labels: type/docs, type/docs-cherrypick

#11155 adding 1.8.16 changelog entries
  CHANGELOG.md
Labels: pr/no-changelog

#11156 changelog entries for 1.9.10
  CHANGELOG.md
Labels: pr/no-changelog

#11157 changelog entries for 1.10.3
  CHANGELOG.md
Labels: pr/no-changelog

#11160 changelog updates for 1.10.3, 1.9.10, and 1.8.16
  CHANGELOG.md
Labels: pr/no-changelog

#11161 update website to 1.10.3
  website/data/version.js
Labels: type/docs, pr/no-changelog

#11146 docs: consul-k8s cli install, add `bin/` to source path
  website/content/docs/k8s/k8s-cli.mdx
Labels: type/docs-cherrypick, pr/no-changelog

#10725 Call out the incompatibility of wildcards and L7 permissions
  website/content/docs/connect/config-entries/service-intentions.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#10702 Network segments docs enhancements
  website/content/docs/agent/options.mdx
  website/content/docs/enterprise/network-segments.mdx
  website/public/img/network-segments/consul-network-segments-multiple.png
  website/public/img/network-segments/consul-network-segments-multiple.svg
  website/public/img/network-segments/consul-network-segments-single.png
  website/public/img/network-segments/consul-network-segments-single.svg
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#11167 Improve mesh gateway diagram
  website/content/docs/connect/gateways/mesh-gateway/index.mdx
  website/content/docs/connect/gateways/mesh-gateway/wan-federation-via-mesh-gateways.mdx
  website/public/img/mesh-gateways.png
  website/public/img/mesh-gateways.svg
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#11084 Fix a tiny typo in logging in autopilot.go
  agent/consul/autopilot.go
Labels: backport/1.8, backport/1.9, pr/no-changelog, backport/1.10

#11169 Cleanup unnecessary partition normalizing method for intentions
  agent/consul/intention_endpoint_test.go
  agent/consul/state/intention_test.go
  agent/structs/intention_oss.go
  agent/structs/testing_intention.go
Labels: pr/no-changelog

#11151 nia/docs: Callouts for v0.4.0-beta
  website/content/docs/nia/configuration.mdx
  website/content/docs/nia/network-drivers/index.mdx
  website/content/docs/nia/network-drivers/terraform-cloud.mdx
  website/content/docs/nia/tasks.mdx
  website/content/docs/nia/terraform-modules.mdx
Labels: type/docs, theme/consul-terraform-sync

#11171 Fix broken link
  website/content/docs/k8s/index.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#11174 docs/nia: Indicate version for removal of tag field
  website/content/docs/nia/configuration.mdx
Labels: type/docs, theme/consul-terraform-sync

#11144 Add TOC to helm reference
  website/content/docs/k8s/helm.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#9456 config: Use DeprecatedConfig struct for deprecated config fields
  agent/config/builder.go
  agent/config/config.go
  agent/config/deprecated.go
  agent/config/merge_test.go
  agent/config/runtime_test.go
  lib/decode/decode.go
  lib/decode/decode_test.go
Labels: theme/config, theme/internals, pr/no-changelog

#10988 acl: isolate deprecated config and warn when they are used
  agent/config/builder.go
  agent/config/config.go
  agent/config/default.go
  agent/config/deprecated.go
  agent/config/deprecated_test.go
  agent/config/runtime_test.go
  website/content/docs/agent/options.mdx
Labels: type/docs, theme/acls, theme/config, pr/no-changelog

#11170 nia/docs 0.4.0-beta1
  website/content/docs/nia/configuration.mdx
  website/content/docs/nia/network-drivers/index.mdx
  website/content/docs/nia/network-drivers/terraform-cloud.mdx
  website/content/docs/nia/tasks.mdx
  website/content/docs/nia/terraform-modules.mdx
Labels: type/docs, type/docs-cherrypick, theme/consul-terraform-sync, pr/no-changelog

#10986 acl: remove legacy ACL RPC - part 1
  agent/consul/acl_endpoint_legacy.go
  agent/consul/acl_endpoint_test.go
  agent/consul/acl_test.go
  agent/consul/catalog_endpoint_test.go
  agent/consul/config_endpoint_test.go
  agent/consul/connect_ca_endpoint_test.go
  agent/consul/coordinate_endpoint_test.go
  agent/consul/fsm/commands_oss.go
  agent/consul/fsm/commands_oss_test.go
  agent/consul/health_endpoint_test.go
  agent/consul/intention_endpoint_test.go
  agent/consul/kvs_endpoint_test.go
  agent/consul/operator_autopilot_endpoint_test.go
  agent/consul/operator_raft_endpoint_test.go
  agent/consul/prepared_query_endpoint_test.go
  agent/consul/session_endpoint_test.go
  agent/consul/txn_endpoint_test.go
  agent/event_endpoint_test.go
  agent/local/state_test.go
  agent/structs/acl.go
  agent/structs/acl_legacy.go
  agent/user_event_test.go
Labels: theme/acls, pr/no-changelog

#11177 structs: remove EnterpriseMeta helper methods
  agent/checks/alias.go
  agent/consul/config_endpoint.go
  agent/consul/state/acl.go
  agent/consul/state/catalog.go
  agent/consul/state/config_entry.go
  agent/consul/state/config_entry_intention.go
  agent/consul/state/intention.go
  agent/dns.go
  agent/local/state.go
  agent/proxycfg/connect_proxy.go
  agent/proxycfg/mesh_gateway.go
  agent/structs/structs.go
  agent/structs/structs_oss.go
  agent/ui_endpoint.go
Labels: pr/no-changelog

#11101 acl: remove legacy ACL.Apply RPC
  agent/consul/acl_endpoint_legacy.go
  agent/consul/acl_endpoint_test.go
  agent/consul/acl_test.go
  agent/consul/leader_test.go
  agent/setup.go
  website/content/docs/agent/telemetry.mdx
Labels: pr/no-changelog

#10999 Revert config xds_port
  .changelog/10588.txt
  agent/agent.go
  agent/agent_endpoint.go
  agent/config/builder.go
  agent/config/config.go
  agent/config/flags.go
  agent/config/flags_test.go
  agent/config/runtime.go
  agent/config/runtime_test.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/xds/server.go
  command/agent/agent.go
  tlsutil/config.go
  website/content/docs/agent/options.mdx
Labels: type/docs, theme/cli, theme/config, theme/tls, theme/envoy/xds, theme/certificates, pr/no-changelog

#11110 acl: remove initializeLegacyACL and the rest of the legacy FSM commands
  agent/consul/acl_endpoint_legacy.go
  agent/consul/fsm/commands_oss.go
  agent/consul/fsm/commands_oss_test.go
  agent/consul/fsm/snapshot_oss.go
  agent/consul/fsm/snapshot_oss_test.go
  agent/consul/leader.go
  agent/consul/state/acl.go
  agent/consul/state/acl_test.go
  agent/structs/acl.go
  agent/structs/acl_legacy.go
  agent/structs/structs.go
  website/content/docs/agent/telemetry.mdx
Labels: type/docs, pr/no-changelog

#11180 [1.8.x] acl: fix default Authorizer for down_policy extend-cache/async-cache
  .changelog/11136.txt
  acl/static_authorizer.go
  agent/consul/acl.go
  agent/consul/acl_test.go
  website/pages/docs/agent/options.mdx
Labels: pr/no-changelog

#11158 wrap doRequest calls for error handling
  api/agent.go
  api/debug.go
  api/kv.go
Labels: theme/api, pr/no-changelog

#11187 docs: Call out the UI in README and include details for contributing to it
  README.md
Labels: type/docs, pr/no-changelog

#11117 ui: Make it hard to not URLEncode DataSource srcs/URIs
  .changelog/11117.txt
  ui/packages/consul-ui/app/components/auth-dialog/index.hbs
  ui/packages/consul-ui/app/components/data-source/README.mdx
  ui/packages/consul-ui/app/components/empty-state/index.hbs
  ui/packages/consul-ui/app/components/hashicorp-consul/index.hbs
  ui/packages/consul-ui/app/components/policy-selector/index.hbs
  ui/packages/consul-ui/app/components/token-source/index.hbs
  ui/packages/consul-ui/app/helpers/uri.js
  ui/packages/consul-ui/app/services/data-sink/service.js
  ui/packages/consul-ui/app/services/data-source/service.js
  ui/packages/consul-ui/app/templates/application.hbs
  ui/packages/consul-ui/app/templates/dc/nodes/show/sessions.hbs
  ui/packages/consul-ui/app/templates/dc/services/show/intentions/index.hbs
Labels: theme/ui

#11192 ui: Use of header default ACL policy
  ui/packages/consul-ui/app/models/dc.js
  ui/packages/consul-ui/app/serializers/dc.js
  ui/packages/consul-ui/mock-api/v1/catalog/.config
  ui/packages/consul-ui/tests/integration/serializers/dc-test.js
Labels: theme/ui, pr/no-changelog

#11185 providing additional information about the Consul agent
  website/content/docs/agent/index.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog
