Repository hashicorp/consul, pull requests merged in 2021-11, with the labels that each got.

#11462 regenerate expired certs
  agent/agent_test.go
  agent/consul/rpc_test.go
  agent/consul/server_test.go
  agent/grpc/client_test.go
  agent/streaming_test.go
  api/api_test.go
  test/CA-GENERATION.md
  test/client_certs/client.crt
  test/client_certs/client.key
  test/client_certs/consul-agent-ca-key.pem
  test/client_certs/consul-agent-ca.pem
  test/client_certs/dc1-client-consul-0-key.pem
  test/client_certs/dc1-client-consul-0.pem
  test/client_certs/dc1-server-consul-0-key.pem
  test/client_certs/dc1-server-consul-0.pem
  test/client_certs/path/rootca.crt
  test/client_certs/rootca.crt
  test/client_certs/rootca.key
  test/client_certs/server.crt
  test/client_certs/server.key
  tlsutil/config_test.go
Labels: pr/no-changelog

#11441 admin partitions feedback related to ACLs; additional improvements to ACL rule docs
  website/content/docs/security/acl/acl-rules.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#11419 Support Check-And-Set deletion of config entries
  .changelog/11419.txt
  agent/config_endpoint.go
  agent/config_endpoint_test.go
  agent/consul/config_endpoint.go
  agent/consul/config_endpoint_test.go
  agent/consul/config_replication_test.go
  agent/consul/fsm/commands_oss.go
  agent/consul/fsm/commands_oss_test.go
  agent/consul/state/config_entry.go
  agent/consul/state/config_entry_test.go
  agent/structs/config_entry.go
  api/config_entry.go
  api/config_entry_test.go
  command/config/delete/config_delete.go
  command/config/delete/config_delete_test.go
  testrpc/wait.go
  website/content/api-docs/config.mdx
  website/content/commands/config/delete.mdx
Labels: type/docs, theme/api, theme/cli

#11463 docs/nia: Update TLS-related configurations for CTS
  website/content/docs/nia/configuration.mdx
Labels: type/docs, type/docs-cherrypick, theme/consul-terraform-sync, pr/no-changelog

#11417 Crt migration 1.11.0 betax
  .github/workflows/build.yml
  .release/ci.hcl
  .release/docker/docker-entrypoint.sh
  .release/linux/package/etc/consul.d/consul.hcl
  .release/linux/package/usr/lib/systemd/system/consul.service
  .release/linux/postinstall
  .release/linux/postremove
  .release/linux/preinstall
  Dockerfile
Labels: theme/contributing, pr/no-changelog

#11338 ca: clearly identify methods that are primary-only or secondary-only
  agent/consul/leader_connect_ca.go
Labels: theme/internal-cleanup, pr/no-changelog

#11340 ca: split the Provider interface into Primary/Secondary
  agent/connect/ca/provider.go
Labels: theme/internal-cleanup, theme/connect, pr/no-changelog

#11466 docs/nia: Fix typo in TLS configs for CTS
  website/content/docs/nia/configuration.mdx
Labels: type/docs, type/docs-cherrypick, theme/consul-terraform-sync, pr/no-changelog

#11467 adding K8s page to subnav
  website/data/subnav.js
Labels: type/docs, type/docs-cherrypick

#11450 Ensure calls to BestAddress consider partition
  agent/proxycfg/manager_test.go
  agent/proxycfg/mesh_gateway.go
  agent/proxycfg/snapshot.go
  agent/proxycfg/state.go
  agent/proxycfg/state_test.go
  agent/proxycfg/terminating_gateway.go
  agent/proxycfg/testing.go
  agent/proxycfg/upstreams.go
  agent/xds/clusters.go
  agent/xds/endpoints.go
  agent/xds/endpoints_test.go
Labels: theme/envoy/xds, pr/no-changelog

#10771 telemetry: improve cert expiry metrics
  agent/agent.go
  agent/consul/leader_metrics.go
  agent/consul/server.go
  agent/metrics.go
  agent/metrics_test.go
  agent/setup.go
Labels: pr/no-changelog

#11469 Prevent running build workflows on all PRs
  .github/workflows/build.yml
Labels: theme/contributing, pr/no-changelog

#10690 add support for h2c in h2 ping health checks
  .changelog/10690.txt
  agent/agent.go
  agent/agent_test.go
  agent/checks/check.go
  agent/checks/check_test.go
  agent/config/builder.go
  agent/config/config.go
  agent/config/runtime_test.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/config/testdata/full-config.hcl
  agent/config/testdata/full-config.json
  agent/http_decode_test.go
  agent/structs/check_definition.go
  agent/structs/check_type.go
  agent/structs/structs.go
  api/agent.go
  proto/pbservice/healthcheck.gen.go
  proto/pbservice/healthcheck.pb.go
  proto/pbservice/healthcheck.proto
  website/content/api-docs/agent/check.mdx
  website/content/docs/discovery/checks.mdx
Labels: type/enhancement, theme/health-checks

#11428 add root_cert_ttl option for consul connect, vault ca providers
  .changelog/11428.txt
  agent/config/builder.go
  agent/config/runtime.go
  agent/config/runtime_test.go
  agent/config/testdata/full-config.hcl
  agent/config/testdata/full-config.json
  agent/connect/ca/provider_consul.go
  agent/connect/ca/provider_consul_config.go
  agent/connect/ca/provider_consul_test.go
  agent/connect/ca/provider_test.go
  agent/connect/ca/provider_vault.go
  agent/connect/ca/provider_vault_test.go
  agent/connect/generate_test.go
  agent/connect_ca_endpoint.go
  agent/consul/config.go
  agent/structs/connect_ca.go
  agent/structs/connect_ca_test.go
  api/connect_ca.go
  api/connect_ca_test.go
  sdk/testutil/server.go
  website/content/docs/agent/options.mdx
  website/content/partials/http_api_connect_ca_common_options.mdx
Labels: type/docs, theme/api, theme/config, theme/connect

#11456 Remove Name/Namespace fields from upstream default
  website/content/docs/connect/config-entries/service-defaults.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#11445 Convert (some) test endpoints to use ServeHTTP instead of direct calls to handlers.
  agent/agent_endpoint_test.go
Labels: pr/no-changelog

#11406 Use "Open dashboard" everywhere
  ui/packages/consul-ui/app/components/topology-metrics/index.hbs
  ui/packages/consul-ui/app/templates/dc/services/show.hbs
Labels: theme/ui, pr/no-changelog, backport/1.10

#11403 Add quick-link for users coming from UI
  website/content/docs/connect/observability/ui-visualization.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#11482 Use "Open dashboard" everywhere (#11406)
  ui/packages/consul-ui/app/components/topology-metrics/index.hbs
  ui/packages/consul-ui/app/templates/dc/services/show.hbs
Labels: theme/ui, pr/no-changelog

#11470 fix aws pca certs
  agent/connect/ca/provider_aws.go
  agent/connect/ca/provider_aws_test.go
Labels: theme/connect, pr/no-changelog

#10822 Update namespaced replication token example
  website/content/docs/k8s/installation/multi-cluster/vms-and-kubernetes.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#11486 chore: react-subnav
  website/package-lock.json
  website/package.json
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#11478 docs: consul-k8s uninstall with namespace
  website/content/docs/k8s/installation/install.mdx
  website/content/docs/k8s/operations/uninstall.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#11409 ui: Ensure we check intention service prefix permissions for per service
  .changelog/11409.txt
  ui/packages/consul-ui/app/abilities/service-instance.js
  ui/packages/consul-ui/app/abilities/service.js
  ui/packages/consul-ui/app/components/consul/intention/form/index.hbs
  ui/packages/consul-ui/app/components/topology-metrics/down-lines/index.hbs
  ui/packages/consul-ui/app/components/topology-metrics/popover/index.hbs
  ui/packages/consul-ui/app/components/topology-metrics/up-lines/index.hbs
  ui/packages/consul-ui/app/services/repository.js
  ui/packages/consul-ui/app/services/repository/service-instance.js
  ui/packages/consul-ui/app/templates/dc/intentions/edit.hbs
  ui/packages/consul-ui/app/templates/dc/services/show.hbs
  ui/packages/consul-ui/app/templates/dc/services/show/intentions/edit.hbs
  ui/packages/consul-ui/app/templates/dc/services/show/intentions/index.hbs
Labels: theme/ui

#11484 ui: Only show partition / partition selector if partitions enabled
  ui/packages/consul-partitions/app/components/consul/partition/selector/index.hbs
Labels: theme/ui, pr/no-changelog

#11472 ui: Ensure the tokens default nspace is passed thru to the auth endpoint
  .changelog/11472.txt
  ui/packages/consul-ui/app/adapters/permission.js
  ui/packages/consul-ui/tests/unit/adapters/permission-test.js
Labels: theme/ui, pr/no-changelog

#11449 plumb thru root cert tll to the aws ca provider
  .changelog/11449.txt
  agent/connect/ca/provider_aws.go
  agent/connect/ca/provider_aws_test.go
  website/content/docs/agent/options.mdx
  website/content/partials/http_api_connect_ca_common_options.mdx
Labels: theme/connect

#11491 Remove some usage of md5 from the system
  .changelog/_1253.txt
  agent/agent.go
  agent/agent_test.go
  agent/service_manager_test.go
  agent/structs/structs.go
  agent/util.go
  agent/util_test.go
Labels: backport/1.9, pr/no-changelog, backport/1.10

#11494 add changelog entry
  .changelog/_1292.txt
Labels: pr/no-changelog

#11496 (1.9.x) regenerate expired certs
  agent/agent_test.go
  agent/consul/rpc_test.go
  agent/consul/server_test.go
  agent/grpc/client_test.go
  agent/streaming_test.go
  api/api_test.go
  test/CA-GENERATION.md
  test/client_certs/client.crt
  test/client_certs/client.key
  test/client_certs/consul-agent-ca-key.pem
  test/client_certs/consul-agent-ca.pem
  test/client_certs/dc1-client-consul-0-key.pem
  test/client_certs/dc1-client-consul-0.pem
  test/client_certs/dc1-server-consul-0-key.pem
  test/client_certs/dc1-server-consul-0.pem
  test/client_certs/path/rootca.crt
  test/client_certs/rootca.crt
  test/client_certs/rootca.key
  test/client_certs/server.crt
  test/client_certs/server.key
  tlsutil/config_test.go
Labels: theme/api, theme/tls, backport/1.8, theme/certificates, pr/no-changelog

#11488 change vault ca docs to mention root cert ttl config
  website/content/docs/connect/ca/vault.mdx
Labels: type/docs, pr/no-changelog

#11498 (1.8.x) regenerate expired certs
  agent/agent_test.go
  agent/consul/rpc_test.go
  agent/consul/server_test.go
  api/api_test.go
  test/CA-GENERATION.md
  test/client_certs/client.crt
  test/client_certs/client.key
  test/client_certs/path/rootca.crt
  test/client_certs/rootca.crt
  test/client_certs/rootca.key
  test/client_certs/server.crt
  test/client_certs/server.key
  tlsutil/config_test.go
Labels: pr/no-changelog

#11477 Support Vault Namespaces explicitly in CA config
  .changelog/11477.txt
  agent/connect/ca/provider_vault.go
  agent/connect/ca/provider_vault_test.go
  agent/structs/connect_ca.go
  go.mod
  website/content/docs/connect/ca/vault.mdx
Labels: type/enhancement, type/docs, theme/connect, theme/consul-vault

#11280 ui: Topology view with no dependencies
  .changelog/11280.txt
  ui/packages/consul-ui/app/components/topology-metrics/card/index.hbs
  ui/packages/consul-ui/app/components/topology-metrics/down-lines/index.hbs
  ui/packages/consul-ui/app/components/topology-metrics/index.hbs
  ui/packages/consul-ui/app/components/topology-metrics/index.js
  ui/packages/consul-ui/app/components/topology-metrics/skin.scss
  ui/packages/consul-ui/app/components/topology-metrics/up-lines/index.hbs
  ui/packages/consul-ui/app/helpers/service/card-permissions.js
  ui/packages/consul-ui/app/helpers/service/intention-permissions.js
  ui/packages/consul-ui/app/models/topology.js
  ui/packages/consul-ui/app/templates/dc/services/show/topology.hbs
  ui/packages/consul-ui/tests/acceptance/steps/dc/services/show/topology/empty-steps.js
  ui/packages/consul-ui/tests/integration/helpers/service/card-permissions-test.js
  ui/packages/consul-ui/tests/pages/dc/services/show.js
  ui/packages/consul-ui/translations/components/consul/en-us.yaml
Labels: theme/ui

#11492 Document default storage class requirements
  website/content/docs/k8s/installation/platforms/self-hosted-kubernetes.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#11509 rename helper method to reflect the non-deprecated terminology
  .changelog/_1284.txt
  agent/consul/acl_endpoint.go
  agent/consul/acl_server.go
  agent/consul/acl_token_exp.go
  agent/consul/leader.go
  agent/consul/state/state_store.go
Labels: pr/no-changelog

#11415 acl: remove Policy.ID and Policy.Revision
  acl/acl_test.go
  acl/authorizer.go
  acl/policy.go
  acl/policy_merger.go
  acl/policy_test.go
  agent/acl_test.go
  agent/consul/acl_endpoint.go
  agent/consul/acl_test.go
  agent/consul/catalog_endpoint_test.go
  agent/consul/filter_test.go
  agent/rpc/subscribe/subscribe_test.go
  agent/structs/acl.go
  agent/structs/acl_test.go
  agent/structs/config_entry_discoverychain_test.go
  agent/structs/config_entry_test.go
  agent/structs/intention_test.go
  agent/xds/delta_test.go
Labels: theme/acls, theme/internal-cleanup, theme/envoy/xds, pr/no-changelog

#11493 ci: Loosen apt source verification
  .circleci/config.yml
Labels: type/ci, pr/no-changelog, backport/1.10

#11513 update changelog
  .changelog/_1300.txt
Labels: pr/no-changelog

#11489 docs: add `brew install hashicorp/tap/consul-k8s` and re-order install and uninstall workflows
  website/content/docs/k8s/installation/install.mdx
  website/content/docs/k8s/k8s-cli.mdx
  website/content/docs/k8s/operations/uninstall.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#11497 Fix caveat about resolvers operating at L4
  website/content/docs/connect/l7-traffic/index.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#11510 KV state store refactoring and partitioning
  agent/consul/state/graveyard.go
  agent/consul/state/graveyard_oss.go
  agent/consul/state/graveyard_test.go
  agent/consul/state/indexer.go
  agent/consul/state/kvs.go
  agent/consul/state/kvs_oss.go
  agent/consul/state/kvs_oss_test.go
  agent/consul/state/kvs_test.go
  agent/consul/state/query.go
  agent/consul/state/schema_test.go
  agent/consul/state/session.go
  agent/consul/state/state_store_test.go
  agent/consul/state/txn.go
  agent/structs/structs.go
Labels: pr/no-changelog

#11512 KV partitioning part 2
  agent/consul/acl_endpoint_test.go
  api/kv.go
  api/txn_test.go
  command/kv/get/kv_get.go
  command/kv/impexp/kvimpexp.go
Labels: pr/no-changelog

#11525 refactor session state store tables to use the new index pattern
  agent/consul/state/graveyard_oss.go
  agent/consul/state/indexer.go
  agent/consul/state/kvs.go
  agent/consul/state/kvs_oss.go
  agent/consul/state/operations_oss.go
  agent/consul/state/prepared_query.go
  agent/consul/state/query_oss.go
  agent/consul/state/session.go
  agent/consul/state/session_oss.go
  agent/consul/state/session_test.go
  agent/structs/structs.go
  agent/txn_endpoint_test.go
Labels: pr/no-changelog

#11514 ca: properly handle the case where the secondary initializes after the primary
  .changelog/11514.txt
  agent/consul/leader_connect_ca.go
  agent/consul/leader_connect_ca_test.go
  agent/consul/leader_connect_test.go
  agent/consul/server_connect.go
  agent/consul/state/connect_ca.go
Labels: theme/certificates, backport/1.10

#11522 xds: prefer fed state gateway definitions if they're fresher
  .changelog/11522.txt
  agent/proxycfg/testing.go
  agent/structs/testing_catalog.go
  agent/xds/endpoints.go
  agent/xds/endpoints_test.go
  agent/xds/testdata/endpoints/mesh-gateway-newer-information-in-federation-states.envoy-1-20-x.golden
  agent/xds/testdata/endpoints/mesh-gateway-older-information-in-federation-states.envoy-1-20-x.golden
Labels: theme/envoy/xds, backport/1.8, backport/1.9, backport/1.10

#11501 Fixup changelog filename
  .changelog/11491.txt
Labels: pr/no-changelog, backport/1.10

#11475 ui: Filter global intentions list by selected partition
  .changelog/11475.txt
  ui/packages/consul-ui/app/adapters/intention.js
  ui/packages/consul-ui/tests/integration/adapters/intention-test.js
Labels: theme/ui

#11532 Backport 1.9.x: xds: prefer fed state gateway definitions if they're fresher
  .changelog/11522.txt
  agent/proxycfg/testing.go
  agent/structs/testing_catalog.go
  agent/xds/endpoints.go
  agent/xds/endpoints_test.go
  agent/xds/testdata/endpoints/mesh-gateway-newer-information-in-federation-states.envoy-1-16-x.golden
  agent/xds/testdata/endpoints/mesh-gateway-older-information-in-federation-states.envoy-1-16-x.golden
Labels: theme/envoy/xds

#11452 Crt release/1.9.x
  .github/workflows/build.yml
  .release/ci.hcl
  .release/docker/docker-entrypoint.sh
  .release/linux/package/etc/consul.d/consul.hcl
  .release/linux/package/usr/lib/systemd/system/consul.service
  .release/linux/postinstall
  .release/linux/postremove
  .release/linux/preinstall
  Dockerfile
Labels: theme/contributing

#11485 Add rpm signing workflow
  .release/ci.hcl
Labels: pr/no-changelog

#11454 Crt release/1.10.x
  .github/workflows/build.yml
  .release/ci.hcl
  .release/docker/docker-entrypoint.sh
  .release/linux/package/etc/consul.d/consul.hcl
  .release/linux/package/usr/lib/systemd/system/consul.service
  .release/linux/postinstall
  .release/linux/postremove
  .release/linux/preinstall
  Dockerfile
Labels: theme/contributing, pr/no-changelog

#11521 docs: removed broken link to Ambassador
  website/data/docs-nav-data.json
Labels: type/docs, type/docs-cherrypick

#11535 use the older name of this method
  agent/agent_test.go
Labels: pr/no-changelog

#11245 Update filter chain creation for sidecar/ingress listeners
  .changelog/11245.txt
  agent/proxycfg/state.go
  agent/proxycfg/state_test.go
  agent/xds/listeners.go
  agent/xds/listeners_ingress.go
  agent/xds/listeners_test.go
  agent/xds/testdata/listeners/connect-proxy-upstream-defaults.envoy-1-20-x.golden
  agent/xds/testdata/listeners/ingress-with-sds-listener-listener-level.envoy-1-20-x.golden
Labels: theme/envoy/xds, backport/1.10

#11539 1.10.x: properly handle the case where the secondary initializes after the primary
  .changelog/11514.txt
  agent/consul/leader_connect_ca.go
  agent/consul/leader_connect_ca_test.go
  agent/consul/leader_connect_test.go
  agent/consul/server_connect.go
  agent/consul/state/connect_ca.go
Labels: pr/no-changelog

#11540 Update filter chain creation for listeners
  .changelog/11245.txt
  agent/xds/listeners.go
  agent/xds/listeners_test.go
  agent/xds/testdata/listeners/connect-proxy-upstream-defaults.envoy-1-18-x.golden
  agent/xds/testdata/listeners/connect-proxy-upstream-defaults.v2compat.envoy-1-16-x.golden
Labels: theme/envoy/xds

#11520 ui: Temporarily force all UI capabilities
  .changelog/11520.txt
  ui/packages/consul-ui/app/services/repository/permission.js
Labels: theme/ui

#11480 command/redirect_traffic: Redirect DNS requests to Consul if -consul-dns-ip is passed in
  .changelog/11480.txt
  command/connect/redirecttraffic/redirect_traffic.go
  command/connect/redirecttraffic/redirect_traffic_test.go
  sdk/iptables/iptables.go
  sdk/iptables/iptables_test.go
Labels: theme/cli

#11487 changed 'segments' in this page to 'resource labels' to disambiguate from 'network segments
  website/content/docs/agent/options.mdx
  website/content/docs/security/acl/acl-rules.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#11531 Backport 1.10.x: xds: prefer fed state gateway definitions if they're fresher
  .changelog/11522.txt
  agent/proxycfg/testing.go
  agent/structs/testing_catalog.go
  agent/xds/endpoints.go
  agent/xds/endpoints_test.go
  agent/xds/testdata/endpoints/mesh-gateway-newer-information-in-federation-states.envoy-1-18-x.golden
  agent/xds/testdata/endpoints/mesh-gateway-newer-information-in-federation-states.v2compat.envoy-1-16-x.golden
  agent/xds/testdata/endpoints/mesh-gateway-older-information-in-federation-states.envoy-1-18-x.golden
  agent/xds/testdata/endpoints/mesh-gateway-older-information-in-federation-states.v2compat.envoy-1-16-x.golden
Labels: theme/envoy/xds, pr/no-changelog

#11545 Use ClusterID to check for readiness
  agent/consul/server_connect.go
  test/integration/connect/envoy/case-wanfed-gw/primary/verify.bats
Labels: pr/no-changelog, backport/1.10

#11549 Add changelog entry
  .changelog/11417.txt
Labels: backport/1.8, backport/1.9, pr/no-changelog, backport/1.10

#11528 docs: provide more example CLI commands and reference Vault
  website/content/docs/k8s/operations/gossip-encryption-key-rotation.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#11542 docs: added link to the Learn tutorial in Vault CA integration page
  website/content/docs/connect/ca/vault.mdx
Labels: type/docs, type/docs-cherrypick

#11546 ui: Revert #11328 allow-${}-style-interpolation due, to browser support
  .changelog/11328.txt
  ui/packages/consul-ui/app/helpers/render-template.js
  ui/packages/consul-ui/tests/integration/helpers/render-template-test.js
  website/content/docs/agent/options.mdx
Labels: type/docs, theme/ui, backport/1.9, pr/no-changelog, backport/1.10

#11371 ui: Add Consul API Gateway as an external source
  .changelog/11371.txt
  ui/packages/consul-ui/app/components/consul/external-source/index.hbs
  ui/packages/consul-ui/app/components/consul/intention/list/table/index.hbs
  ui/packages/consul-ui/app/components/pill/index.scss
  ui/packages/consul-ui/app/components/popover-menu/layout.scss
  ui/packages/consul-ui/app/components/popover-select/index.scss
  ui/packages/consul-ui/app/components/topology-metrics/index.hbs
  ui/packages/consul-ui/app/helpers/service/external-source.js
  ui/packages/consul-ui/app/templates/dc/services/instance.hbs
  ui/packages/consul-ui/app/templates/dc/services/show.hbs
  ui/packages/consul-ui/mock-api/v1/connect/_
  ui/packages/consul-ui/mock-api/v1/connect/intentions/_
  ui/packages/consul-ui/mock-api/v1/connect/intentions/exact
  ui/packages/consul-ui/mock-api/v1/health/service/_
  ui/packages/consul-ui/mock-api/v1/internal/ui/node/_
  ui/packages/consul-ui/mock-api/v1/internal/ui/services
  ui/packages/consul-ui/tests/acceptance/dc/services/show/topology/metrics.feature
  ui/packages/consul-ui/translations/common/en-us.yaml
Labels: theme/ui

#11490 ui: [Port] Ensure the tokens default nspace (and partition) is passed thru to the auth endpoint
  .changelog/11472.txt
  ui/packages/consul-ui/app/adapters/permission.js
  ui/packages/consul-ui/tests/unit/adapters/permission-test.js
Labels: theme/ui, pr/no-changelog

#11505 ui: Bump our browser support
  .changelog/11505.txt
  ui/packages/consul-ui/config/targets.js
  ui/packages/consul-ui/docs/testing.mdx
Labels: theme/ui

#11551 changelog: entry for enterprise licensing bug fix
  .changelog/_1321.txt
Labels: pr/no-changelog, backport/1.10

#11552 fix build name
  .github/workflows/build.yml
Labels: theme/contributing, pr/no-changelog

#11555 fix release name generation
  .github/workflows/build.yml
Labels: theme/contributing, pr/no-changelog

#11543 docs: added more information to help endusers with proxies and ACL
  website/content/docs/connect/proxies/integrate.mdx
Labels: type/docs

#11474 ui: code-editor-styling
  .changelog/11474.txt
  ui/packages/consul-ui/app/components/code-editor/README.mdx
  ui/packages/consul-ui/app/components/code-editor/index.hbs
  ui/packages/consul-ui/app/components/code-editor/layout.scss
  ui/packages/consul-ui/app/components/code-editor/skin.scss
  ui/packages/consul-ui/app/components/consul/kv/form/index.hbs
  ui/packages/consul-ui/app/components/policy-form/index.hbs
  ui/packages/consul-ui/app/components/policy-selector/index.hbs
  ui/packages/consul-ui/app/templates/dc/acls/tokens/-fieldsets-legacy.hbs
Labels: theme/ui

#11557 Add changelog entry for namespace default policy/role fix
  .changelog/_1238.txt
Labels: backport/1.8, backport/1.9, pr/no-changelog, backport/1.10

#11564 docs: Add workspace tags
  website/content/docs/nia/configuration.mdx
  website/content/docs/nia/network-drivers/terraform-cloud.mdx
Labels: type/docs, theme/consul-terraform-sync, pr/no-changelog

#11565 changelog sync
  .changelog/_1330.txt
Labels: pr/no-changelog

#11566 OSS Backport: Allow ingress gateways to target other partitions
  .changelog/11566.txt
  agent/proxycfg/ingress_gateway.go
  agent/structs/config_entry_gateways.go
  api/config_entry_gateways.go
  api/config_entry_gateways_test.go
  api/config_entry_test.go
  api/connect_intention.go
  api/connect_intention_test.go
  api/partition.go
  command/connect/expose/expose.go
  command/connect/expose/expose_test.go
  command/intention/create/create.go
  command/intention/helpers.go
  test/integration/connect/envoy/defaults.sh
  test/integration/connect/envoy/helpers.bash
  test/integration/connect/envoy/run-tests.sh
Labels: theme/api, theme/cli

#11574 add changelog for 1.10.4, 1.9.11, 1.8.17
  CHANGELOG.md
Labels: pr/no-changelog

#11572 ui: Fixup partiton > partition typo
  ui/packages/consul-ui/app/services/repository.js
Labels: theme/ui, pr/no-changelog

#11554 ui: Upstream CSS Tweaks
  ui/packages/consul-ui/app/components/consul/upstream-instance/list/index.hbs
  ui/packages/consul-ui/app/components/consul/upstream-instance/list/index.scss
  ui/packages/consul-ui/app/components/consul/upstream/list/index.hbs
  ui/packages/consul-ui/app/components/copy-button/index.scss
  ui/packages/consul-ui/app/components/definition-table/layout.scss
  ui/packages/consul-ui/app/components/form-elements/index.scss
  ui/packages/consul-ui/app/components/horizontal-kv-list/index.scss
  ui/packages/consul-ui/app/components/horizontal-kv-list/layout.scss
  ui/packages/consul-ui/app/components/horizontal-kv-list/skin.scss
  ui/packages/consul-ui/mock-api/v1/catalog/connect/_
  ui/packages/consul-ui/mock-api/v1/health/service/_
Labels: theme/ui, pr/no-changelog, backport/1.10

#11582 build: switch to 'go install' over 'go get'
  .circleci/config.yml
  GNUmakefile
Labels: type/ci, pr/no-changelog

#11585 api: ensure new partition fields are omit empty for back compat
  .changelog/11585.txt
  api/connect_intention.go
Labels: theme/api

#11465 Update node info sync comment
  agent/local/state.go
Labels: pr/no-changelog

#11544 nia/docs: Add TLS options for the CTS API
  website/content/docs/nia/cli/index.mdx
  website/content/docs/nia/configuration.mdx
Labels: type/docs, theme/consul-terraform-sync, pr/no-changelog

#11587 add 1.11.x beta1/beta2 changelog entries
  CHANGELOG.md
Labels: pr/no-changelog

#11586 deps: update gopsutil to fix Windows ARM and macOS non-Apple LLVM builds
  .changelog/11586.txt
  go.mod
  go.sum
Labels: pr/dependencies

#11575 update changelog
  .changelog/_1342.txt
Labels: pr/no-changelog

#11561 changelog: entry for snapshot agent `license_path` bug
  .changelog/_1328.txt
Labels: backport/1.8, backport/1.9, pr/no-changelog, backport/1.10

#11533 Connect.enabled config option
  website/content/docs/agent/options.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#11479 ui: When certain menus are selected reset either nspace/partition
  .changelog/11479.txt
  ui/packages/consul-partitions/app/components/consul/partition/selector/index.hbs
  ui/packages/consul-ui/app/components/hashicorp-consul/index.hbs
  ui/packages/consul-ui/app/locations/fsm-with-optional.js
  ui/packages/consul-ui/app/templates/application.hbs
  ui/packages/consul-ui/lib/startup/templates/body.html.js
Labels: theme/ui

#11584 docs: ECS GA doc update
  website/content/docs/ecs/get-started/install.mdx
  website/content/docs/ecs/get-started/migrate-existing-tasks.mdx
  website/content/docs/ecs/index.mdx
  website/data/docs-nav-data.json
Labels: type/docs

#11583 Consul ECS GA Docs
  website/content/docs/ecs/architecture.mdx
  website/content/docs/ecs/get-started/install.mdx
  website/content/docs/ecs/get-started/migrate-existing-tasks.mdx
  website/content/docs/ecs/index.mdx
  website/data/docs-nav-data.json
  website/public/img/ecs-task-shutdown.svg
  website/public/img/ecs-task-startup.png
  website/public/img/ecs-task-startup.svg
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#11589 ca: small cleanup of SpiffeIDSigningForCluster args
  agent/connect/ca/provider_aws.go
  agent/connect/ca/provider_consul.go
  agent/connect/ca/provider_vault.go
  agent/connect/uri_signing.go
  agent/connect/uri_signing_test.go
  agent/consul/leader_connect_ca.go
  agent/consul/server_connect.go
  agent/consul/state/config_entry.go
Labels: theme/internal-cleanup, theme/connect, pr/no-changelog

#11556 ui: Adding partitions + icons to upstreams/upstream instances
  .changelog/11556.txt
  ui/packages/consul-ui/app/components/consul/intention/list/table/index.hbs
  ui/packages/consul-ui/app/components/consul/upstream-instance/list/README.mdx
  ui/packages/consul-ui/app/components/consul/upstream-instance/list/index.hbs
  ui/packages/consul-ui/app/components/consul/upstream-instance/list/index.scss
  ui/packages/consul-ui/app/components/consul/upstream/list/README.mdx
  ui/packages/consul-ui/app/components/consul/upstream/list/index.hbs
  ui/packages/consul-ui/app/components/consul/upstream/list/index.scss
  ui/packages/consul-ui/app/styles/components.scss
  ui/packages/consul-ui/app/templates/dc/services/instance/upstreams.hbs
Labels: theme/ui

#11591 ui: Store the default partition when logging in
  .changelog/11591.txt
  ui/packages/consul-ui/app/components/token-source/index.js
Labels: theme/ui

#11537 Add docs for Consul Ent on ECS
  website/content/docs/ecs/enterprise.mdx
  website/data/docs-nav-data.json
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#11590 Fixing spelling under Matching and Prefix Values
  website/content/docs/security/acl/acl-rules.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#11595 Consul ECS GA docs updates
  website/content/docs/ecs/architecture.mdx
  website/content/docs/ecs/get-started/install.mdx
  website/content/docs/ecs/get-started/migrate-existing-tasks.mdx
  website/content/docs/ecs/get-started/production-installation.mdx
  website/content/docs/ecs/get-started/requirements.mdx
  website/content/docs/ecs/index.mdx
  website/data/docs-nav-data.json
  website/public/img/ecs-task-shutdown.svg
  website/public/img/ecs-task-startup.png
  website/public/img/ecs-task-startup.svg
Labels: type/docs, pr/no-changelog

#11600 Make entrypoint script always executable
  Dockerfile
Labels: pr/no-changelog

#11359 ui: Add eng docs for our render-template helper
  ui/packages/consul-ui/app/helpers/render-template.mdx
Labels: theme/ui, pr/no-changelog

#11592 ui: Upgrades token sourcing related components to Glimmer+docs
  ui/packages/consul-ui/app/components/jwt-source/README.mdx
  ui/packages/consul-ui/app/components/jwt-source/index.js
  ui/packages/consul-ui/app/components/token-source/README.mdx
  ui/packages/consul-ui/app/components/token-source/index.hbs
  ui/packages/consul-ui/app/components/token-source/index.js
Labels: theme/ui, pr/no-changelog

#11573 Support auth methods for the vault connect CA provider
  .changelog/11573.txt
  agent/connect/ca/provider_vault.go
  agent/connect/ca/provider_vault_test.go
  agent/structs/connect_ca.go
  website/content/docs/connect/ca/vault.mdx
Labels: theme/connect

#11608 docs: updated proxy page to use new codeblock
  website/content/docs/connect/proxies/integrate.mdx
Labels: type/docs, type/docs-cherrypick

#11506 Agent endpoint sync from ENT
  agent/agent_endpoint.go
  agent/agent_endpoint_test.go
Labels: pr/no-changelog

#11625 website: bump latest binary version to 1.10.4
  website/data/version.js
Labels: type/docs-cherrypick, pr/no-changelog

#11601 ui: Use --tones instead of --black/--white
  ui/packages/consul-ui/app/components/auth-form/skin.scss
  ui/packages/consul-ui/app/components/card/skin.scss
  ui/packages/consul-ui/app/components/certificate/index.scss
  ui/packages/consul-ui/app/components/code-editor/layout.scss
  ui/packages/consul-ui/app/components/code-editor/skin.scss
  ui/packages/consul-ui/app/components/confirmation-dialog/skin.scss
  ui/packages/consul-ui/app/components/consul/auth-method/index.scss
  ui/packages/consul-ui/app/components/consul/discovery-chain/index.hbs
  ui/packages/consul-ui/app/components/consul/discovery-chain/skin.scss
  ui/packages/consul-ui/app/components/expanded-single-select/skin.scss
  ui/packages/consul-ui/app/components/freetext-filter/skin.scss
  ui/packages/consul-ui/app/components/informed-action/skin.scss
  ui/packages/consul-ui/app/components/list-row/skin.scss
  ui/packages/consul-ui/app/components/modal-dialog/skin.scss
  ui/packages/consul-ui/app/components/notice/skin.scss
  ui/packages/consul-ui/app/components/overlay/none.scss
  ui/packages/consul-ui/app/components/overlay/square-tail.scss
  ui/packages/consul-ui/app/components/radio-card/skin.scss
  ui/packages/consul-ui/app/components/skip-links/skin.scss
  ui/packages/consul-ui/app/components/sliding-toggle/skin.scss
  ui/packages/consul-ui/app/components/tabular-details/skin.scss
  ui/packages/consul-ui/app/components/tabular-dl/skin.scss
  ui/packages/consul-ui/app/components/tooltip/index.scss
  ui/packages/consul-ui/app/components/topology-metrics/card/index.scss
  ui/packages/consul-ui/app/components/topology-metrics/popover/index.scss
  ui/packages/consul-ui/app/components/topology-metrics/skin.scss
  ui/packages/consul-ui/app/styles/base/color/ui/themes/dark-high-contrast.scss
  ui/packages/consul-ui/app/styles/base/color/ui/themes/dark.scss
  ui/packages/consul-ui/app/styles/base/color/ui/themes/light-high-contrast.scss
  ui/packages/consul-ui/app/styles/base/color/ui/themes/light.scss
  ui/packages/consul-ui/app/styles/variables/skin.scss
Labels: theme/ui

#11626 Update website version to 1.10.4
  website/data/version.js
Labels: type/docs

#11611 nia/docs 0.4.2
  website/content/docs/nia/cli/index.mdx
  website/content/docs/nia/configuration.mdx
  website/content/docs/nia/network-drivers/terraform-cloud.mdx
Labels: type/docs, type/docs-cherrypick, theme/consul-terraform-sync, pr/no-changelog

#11578 ui: Fix brand coloring for inline-code plus docs
  .changelog/11578.txt
  ui/packages/consul-ui/.docfy-config.js
  ui/packages/consul-ui/app/components/auth-form/skin.scss
  ui/packages/consul-ui/app/components/card/skin.scss
  ui/packages/consul-ui/app/components/certificate/index.scss
  ui/packages/consul-ui/app/components/code-editor/layout.scss
  ui/packages/consul-ui/app/components/code-editor/skin.scss
  ui/packages/consul-ui/app/components/composite-row/index.scss
  ui/packages/consul-ui/app/components/confirmation-dialog/skin.scss
  ui/packages/consul-ui/app/components/consul/auth-method/index.scss
  ui/packages/consul-ui/app/components/consul/discovery-chain/index.hbs
  ui/packages/consul-ui/app/components/consul/discovery-chain/skin.scss
  ui/packages/consul-ui/app/components/consul/loader/skin.scss
  ui/packages/consul-ui/app/components/expanded-single-select/skin.scss
  ui/packages/consul-ui/app/components/freetext-filter/skin.scss
  ui/packages/consul-ui/app/components/hashicorp-consul/index.scss
  ui/packages/consul-ui/app/components/informed-action/skin.scss
  ui/packages/consul-ui/app/components/inline-code/skin.scss
  ui/packages/consul-ui/app/components/list-row/skin.scss
  ui/packages/consul-ui/app/components/modal-dialog/skin.scss
  ui/packages/consul-ui/app/components/notice/skin.scss
  ui/packages/consul-ui/app/components/overlay/none.scss
  ui/packages/consul-ui/app/components/overlay/square-tail.scss
  ui/packages/consul-ui/app/components/radio-card/skin.scss
  ui/packages/consul-ui/app/components/skip-links/skin.scss
  ui/packages/consul-ui/app/components/sliding-toggle/skin.scss
  ui/packages/consul-ui/app/components/tabular-details/skin.scss
  ui/packages/consul-ui/app/components/tabular-dl/skin.scss
  ui/packages/consul-ui/app/components/tooltip/index.scss
  ui/packages/consul-ui/app/components/topology-metrics/card/index.scss
  ui/packages/consul-ui/app/components/topology-metrics/popover/index.scss
  ui/packages/consul-ui/app/components/topology-metrics/skin.scss
  ui/packages/consul-ui/app/helpers/icons-debug.js
  ui/packages/consul-ui/app/modifiers/css-props.js
  ui/packages/consul-ui/app/styles/base/color/README.mdx
  ui/packages/consul-ui/app/styles/base/color/ui/frame-placeholders.scss
  ui/packages/consul-ui/app/styles/base/color/ui/themes/dark-high-contrast.scss
  ui/packages/consul-ui/app/styles/base/color/ui/themes/dark.scss
  ui/packages/consul-ui/app/styles/base/color/ui/themes/light-high-contrast.scss
  ui/packages/consul-ui/app/styles/base/color/ui/themes/light.scss
  ui/packages/consul-ui/app/styles/base/icons/README.mdx
  ui/packages/consul-ui/app/styles/base/icons/base-placeholders.scss
  ui/packages/consul-ui/app/styles/base/icons/base-variables.scss
  ui/packages/consul-ui/app/styles/base/icons/debug.scss
  ui/packages/consul-ui/app/styles/base/typography/README.mdx
  ui/packages/consul-ui/app/styles/debug.scss
  ui/packages/consul-ui/app/styles/variables/skin.scss
  ui/packages/consul-ui/app/templates/debug.hbs
  ui/packages/consul-ui/docs/index.mdx
  ui/packages/consul-ui/ember-cli-build.js
Labels: theme/ui

#11634 docs: fix name for partition resource labels
  website/content/docs/security/acl/acl-rules.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#11635 cleanup: Clarify deprecated legacy intention endpoints
  agent/http_register.go
  agent/intentions_endpoint.go
Labels: pr/no-changelog

#11619 ui: Tabbed Login with Token or SSO interface
  ui/packages/consul-ui/app/components/auth-form/chart.xstate.js
  ui/packages/consul-ui/app/components/auth-form/index.hbs
  ui/packages/consul-ui/app/components/auth-form/index.js
  ui/packages/consul-ui/app/components/auth-form/layout.scss
  ui/packages/consul-ui/app/components/auth-form/skin.scss
  ui/packages/consul-ui/app/components/auth-form/tabs.xstate.js
  ui/packages/consul-ui/app/components/form-input/README.mdx
  ui/packages/consul-ui/app/components/form-input/index.hbs
  ui/packages/consul-ui/app/components/hashicorp-consul/index.hbs
  ui/packages/consul-ui/app/components/oidc-select/README.mdx
  ui/packages/consul-ui/app/components/oidc-select/index.hbs
  ui/packages/consul-ui/app/components/oidc-select/index.js
  ui/packages/consul-ui/app/components/option-input/README.mdx
  ui/packages/consul-ui/app/components/option-input/index.hbs
  ui/packages/consul-ui/app/components/progress/README.mdx
  ui/packages/consul-ui/app/components/progress/index.hbs
  ui/packages/consul-ui/app/components/tab-nav/README.mdx
  ui/packages/consul-ui/app/components/tab-nav/index.hbs
  ui/packages/consul-ui/app/components/tab-nav/index.js
  ui/packages/consul-ui/app/components/tab-nav/index.scss
  ui/packages/consul-ui/app/components/tab-nav/skin.scss
  ui/packages/consul-ui/app/components/text-input/README.mdx
  ui/packages/consul-ui/app/components/text-input/index.hbs
  ui/packages/consul-ui/app/helpers/dom-position.js
  ui/packages/consul-ui/app/locations/fsm-with-optional.js
  ui/packages/consul-ui/app/modifiers/did-upsert.js
  ui/packages/consul-ui/app/modifiers/did-upsert.mdx
  ui/packages/consul-ui/app/services/repository/oidc-provider.js
  ui/packages/consul-ui/app/templates/dc/nodes/show.hbs
  ui/packages/consul-ui/package.json
  ui/yarn.lock
Labels: theme/ui

#11638 Partition session checks store
  agent/consul/state/catalog.go
  agent/consul/state/indexer.go
  agent/consul/state/kvs_oss.go
  agent/consul/state/query.go
  agent/consul/state/session.go
  agent/consul/state/session_oss.go
  agent/consul/state/session_test.go
  agent/structs/structs.go
Labels: pr/no-changelog

#11604 ui: Support for SSO with Admin Partitions
  .changelog/11604.txt
  ui/packages/consul-ui/app/abilities/auth-method.js
  ui/packages/consul-ui/app/components/auth-dialog/README.mdx
  ui/packages/consul-ui/app/components/auth-dialog/index.hbs
  ui/packages/consul-ui/app/components/auth-form/README.mdx
  ui/packages/consul-ui/app/components/auth-form/chart.xstate.js
  ui/packages/consul-ui/app/components/auth-form/index.hbs
  ui/packages/consul-ui/app/components/auth-form/index.js
  ui/packages/consul-ui/app/components/auth-form/layout.scss
  ui/packages/consul-ui/app/components/auth-form/skin.scss
  ui/packages/consul-ui/app/components/auth-form/tabs.xstate.js
  ui/packages/consul-ui/app/components/form-input/README.mdx
  ui/packages/consul-ui/app/components/form-input/index.hbs
  ui/packages/consul-ui/app/components/hashicorp-consul/index.hbs
  ui/packages/consul-ui/app/components/oidc-select/README.mdx
  ui/packages/consul-ui/app/components/oidc-select/chart.xstate.js
  ui/packages/consul-ui/app/components/oidc-select/index.hbs
  ui/packages/consul-ui/app/components/oidc-select/index.js
  ui/packages/consul-ui/app/components/oidc-select/index.scss
  ui/packages/consul-ui/app/components/oidc-select/layout.scss
  ui/packages/consul-ui/app/components/option-input/README.mdx
  ui/packages/consul-ui/app/components/option-input/index.hbs
  ui/packages/consul-ui/app/components/progress/README.mdx
  ui/packages/consul-ui/app/components/progress/index.hbs
  ui/packages/consul-ui/app/components/tab-nav/README.mdx
  ui/packages/consul-ui/app/components/tab-nav/index.hbs
  ui/packages/consul-ui/app/components/tab-nav/index.js
  ui/packages/consul-ui/app/components/tab-nav/index.scss
  ui/packages/consul-ui/app/components/tab-nav/skin.scss
  ui/packages/consul-ui/app/components/text-input/README.mdx
  ui/packages/consul-ui/app/components/text-input/index.hbs
  ui/packages/consul-ui/app/helpers/dom-position.js
  ui/packages/consul-ui/app/locations/fsm-with-optional.js
  ui/packages/consul-ui/app/modifiers/did-upsert.js
  ui/packages/consul-ui/app/modifiers/did-upsert.mdx
  ui/packages/consul-ui/app/services/can.js
  ui/packages/consul-ui/app/services/repository/oidc-provider.js
  ui/packages/consul-ui/app/templates/dc/nodes/show.hbs
  ui/packages/consul-ui/package.json
  ui/yarn.lock
Labels: theme/ui

#11639 Partition/kv indexid sessions
  agent/consul/state/kvs_oss.go
  agent/consul/state/session.go
  agent/consul/state/session_oss.go
  agent/consul/state/session_test.go
Labels: pr/no-changelog

#11577 ui: Notifications re-organization/re-style
  .changelog/11577.txt
  ui/packages/consul-ui/app/components/app-view/README.mdx
  ui/packages/consul-ui/app/components/app-view/index.hbs
  ui/packages/consul-ui/app/components/app-view/index.js
  ui/packages/consul-ui/app/components/app/index.hbs
  ui/packages/consul-ui/app/components/app/index.scss
  ui/packages/consul-ui/app/components/app/notification/index.hbs
  ui/packages/consul-ui/app/components/auth-dialog/index.hbs
  ui/packages/consul-ui/app/components/consul/intention/form/index.hbs
  ui/packages/consul-ui/app/components/data-loader/index.hbs
  ui/packages/consul-ui/app/components/data-writer/index.hbs
  ui/packages/consul-ui/app/components/flash-message/README.mdx
  ui/packages/consul-ui/app/components/flash-message/index.scss
  ui/packages/consul-ui/app/components/flash-message/layout.scss
  ui/packages/consul-ui/app/components/flash-message/skin.scss
  ui/packages/consul-ui/app/components/hashicorp-consul/index.hbs
  ui/packages/consul-ui/app/components/hashicorp-consul/index.js
  ui/packages/consul-ui/app/components/notice/skin.scss
  ui/packages/consul-ui/app/components/notification/index.hbs
  ui/packages/consul-ui/app/components/notification/index.js
  ui/packages/consul-ui/app/mixins/with-blocking-actions.js
  ui/packages/consul-ui/app/modifiers/notification.js
  ui/packages/consul-ui/app/modifiers/notification.mdx
  ui/packages/consul-ui/app/modifiers/style.js
  ui/packages/consul-ui/app/services/feedback.js
  ui/packages/consul-ui/app/styles/components.scss
  ui/packages/consul-ui/app/templates/dc/acls/policies/edit.hbs
  ui/packages/consul-ui/app/templates/dc/acls/policies/index.hbs
  ui/packages/consul-ui/app/templates/dc/acls/roles/edit.hbs
  ui/packages/consul-ui/app/templates/dc/acls/roles/index.hbs
  ui/packages/consul-ui/app/templates/dc/acls/tokens/edit.hbs
  ui/packages/consul-ui/app/templates/dc/acls/tokens/index.hbs
  ui/packages/consul-ui/app/templates/dc/kv/index.hbs
  ui/packages/consul-ui/app/templates/dc/nodes/show.hbs
  ui/packages/consul-ui/app/templates/dc/services/instance.hbs
  ui/packages/consul-ui/app/templates/dc/services/show.hbs
  ui/packages/consul-ui/app/templates/debug.hbs
Labels: theme/ui

#11640 ui: Add `Service.Namespace` variable to dashboard URL templates
  .changelog/11640.txt
  ui/packages/consul-ui/app/templates/dc/services/show.hbs
  ui/packages/consul-ui/app/templates/dc/services/show/topology.hbs
Labels: type/bug, theme/ui, backport/1.8, backport/1.9, backport/1.10

#11468 docs: update docs about namespace default policy/role
  website/content/api-docs/namespaces.mdx
  website/content/commands/namespace/create.mdx
  website/content/commands/namespace/update.mdx
  website/content/docs/enterprise/namespaces.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#11660 ca: reduce consul provider backend interface a bit
  agent/connect/ca/provider_consul.go
  agent/connect/ca/provider_consul_test.go
  agent/connect/ca/provider_vault.go
  agent/connect/ca/testing.go
  agent/consul/leader_connect_ca.go
  agent/consul/leader_connect_ca_test.go
  agent/consul/server.go
Labels: theme/connect, pr/no-changelog

#11339 ca: reduce use of state in the secondary
  agent/consul/leader_connect_ca.go
Labels: theme/internal-cleanup, theme/certificates, pr/no-changelog

#11559 ui: [Backport] Temporarily force all UI capabilities (#11520)
  .changelog/11520.txt
  ui/packages/consul-ui/app/routes/dc/kv/edit.js
  ui/packages/consul-ui/app/services/repository/permission.js
Labels: theme/ui, pr/no-changelog

#11673 ca: clean up unnecessary raft.Apply response checking
  agent/consul/leader_connect_ca.go
Labels: pr/no-changelog, backport/1.10

#11143 docs: Notes about WAN Federation when using Vault as Connect CA
  website/content/docs/connect/ca/vault.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#11651 ui: [Backport/1.10.x] Add `Service.Namespace` variable to dashboard URL templates (#11640)
  .changelog/11640.txt
  ui/packages/consul-ui/app/templates/dc/services/show.hbs
  ui/packages/consul-ui/app/templates/dc/services/show/topology.hbs
Labels: theme/ui, pr/no-changelog

#11652 ui: [Backport/1.9.x] Add `Service.Namespace` variable to dashboard URL templates (#11640)
  .changelog/11640.txt
  ui/packages/consul-ui/app/templates/dc/services/show.hbs
  ui/packages/consul-ui/app/templates/dc/services/show/topology.hbs
Labels: theme/ui, pr/no-changelog

#11653 ui: [Backport/1.8.x] Add `Service.Namespace` variable to dashboard URL templates (#11640)
  .changelog/11640.txt
  ui-v2/app/templates/dc/services/show.hbs
Labels: theme/ui, pr/no-changelog

#11688 acl: Fill authzContext from token in Coordinate endpoints
  agent/consul/coordinate_endpoint.go
Labels: pr/no-changelog

#11689 cleanup: Refactor test helper
  agent/consul/catalog_endpoint_test.go
  agent/consul/prepared_query_endpoint_test.go
Labels: pr/no-changelog

#11558 Admin partition docs: cross-partition support beta2/3
  website/content/docs/connect/config-entries/partition-exports.mdx
  website/content/docs/connect/registration/service-registration.mdx
  website/content/docs/enterprise/admin-partitions.mdx
  website/content/docs/k8s/crds/index.mdx
  website/data/docs-nav-data.json
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#11692 docs: adding manual cherry picks from previous failed merges
  website/content/api-docs/acl-legacy.mdx
  website/content/docs/connect/config-entries/partition-exports.mdx
  website/content/docs/connect/proxies/integrate.mdx
  website/content/docs/connect/registration/service-registration.mdx
  website/content/docs/enterprise/admin-partitions.mdx
  website/content/docs/k8s/crds/index.mdx
  website/data/docs-nav-data.json
Labels: type/docs, type/docs-cherrypick

#11694 docs: updated stable website docs
  website/content/docs/connect/config-entries/partition-exports.mdx
  website/content/docs/connect/proxies/integrate.mdx
  website/content/docs/connect/registration/service-registration.mdx
  website/content/docs/enterprise/admin-partitions.mdx
  website/content/docs/k8s/crds/index.mdx
  website/data/docs-nav-data.json
Labels: type/docs-cherrypick, pr/no-changelog
