Repository hashicorp/consul, pull requests merged in 2021-07, with the labels that each got.

#10411 Format certificates properly (rfc7468) with a trailing new line
  .changelog/10411.txt
  agent/connect/ca/common.go
  agent/connect/ca/provider_aws_test.go
  agent/connect/ca/provider_consul_test.go
  agent/connect/ca/provider_vault.go
  agent/connect/ca/provider_vault_test.go
  agent/connect/ca/testing.go
  agent/connect_ca_endpoint.go
  agent/connect_ca_endpoint_test.go
  agent/consul/leader_connect_ca_test.go
  agent/consul/server_connect.go
  agent/consul/state/connect_ca.go
  agent/consul/state/connect_ca_test.go
  agent/xds/listeners.go
Labels: backport/1.10, backport/1.8, backport/1.9, theme/connect

#10495 docs: Ingress controllers configurations
  website/content/docs/k8s/connect/index.mdx
  website/content/docs/k8s/connect/ingress-controllers.mdx
  website/data/docs-nav-data.json
Labels: pr/no-changelog, theme/kubernetes, type/docs, type/docs-cherrypick

#10537 changelog: add 1.10.0, 1.9.7 and 1.8.13
  CHANGELOG.md
Labels: pr/no-changelog

#10542 docs: Formatting for Ingress Controllers example repos
  website/content/docs/k8s/connect/ingress-controllers.mdx
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10539 [1.10.x] Backport main branch rename, and fix 32bit panic
  .changelog/10515.txt
  .circleci/config.yml
  .circleci/scripts/cherry-picker.sh
  .github/CONTRIBUTING.md
  .github/workflows/changelog-checker.yml
  .github/workflows/load-test.yml
  .github/workflows/website-checker.yml
  CHANGELOG.md
  GNUmakefile
  README.md
  agent/config/runtime_test.go
  agent/config/testdata/full-config.hcl
  agent/config/testdata/full-config.json
  agent/grpc/stats.go
  build-support/functions/10-util.sh
  command/connect/envoy/bootstrap_config.go
  command/connect/redirecttraffic/redirect_traffic_test.go
  contributing/INTERNALS.md
  contributing/streaming/README.md
  website/content/api-docs/libraries-and-sdks.mdx
  website/content/docs/connect/observability/ui-visualization.mdx
  website/content/docs/connect/proxies/integrate.mdx
  website/content/docs/install/ports.mdx
  website/content/docs/k8s/upgrade/index.mdx
  website/content/docs/release-notes/1-9-0.mdx
  website/content/docs/security/acl/acl-legacy.mdx
  website/content/docs/security/acl/acl-rules.mdx
  website/content/docs/security/acl/auth-methods/oidc.mdx
  website/content/docs/upgrading/instructions/upgrade-to-1-10-x.mdx
  website/content/docs/upgrading/instructions/upgrade-to-1-2-x.mdx
  website/content/docs/upgrading/instructions/upgrade-to-1-6-x.mdx
  website/content/docs/upgrading/instructions/upgrade-to-1-8-x.mdx
  website/content/docs/upgrading/upgrade-specific.mdx
  website/pages/api-docs/[[...page]].jsx
  website/pages/commands/[[...page]].jsx
  website/pages/docs/[[...page]].jsx
Labels: pr/no-changelog, theme/cli, theme/config, theme/contributing, type/ci, type/docs

#10560 Replace use of 'sane' where appropriate
  CHANGELOG.md
  agent/connect/uri.go
  agent/consul/acl_endpoint_test.go
  agent/consul/acl_replication.go
  agent/consul/authmethod/authmethods.go
  agent/consul/authmethod/testauth/testing.go
  agent/consul/discoverychain/compile.go
  agent/consul/server.go
  agent/service_manager_test.go
  agent/sidecar_service.go
  agent/structs/config_entry_discoverychain.go
  agent/xds/routes.go
  build-support/scripts/test-flake.sh
  command/exec/exec.go
  connect/proxy/config.go
  ui/packages/consul-ui/app/mixins/with-blocking-actions.js
  website/content/docs/agent/index.mdx
  website/content/docs/connect/proxies/built-in.mdx
  website/content/docs/connect/proxies/managed-deprecated.mdx
  website/content/docs/connect/registration/service-registration.mdx
  website/content/docs/dynamic-app-config/kv.mdx
  website/content/docs/k8s/helm.mdx
  website/content/docs/k8s/installation/install.mdx
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10511 ui: CopyButton amends
  ui/packages/consul-ui/.docfy-config.js
  ui/packages/consul-ui/app/components/buttons/index.scss
  ui/packages/consul-ui/app/components/buttons/layout.scss
  ui/packages/consul-ui/app/components/buttons/skin.scss
  ui/packages/consul-ui/app/components/copy-button/README.mdx
  ui/packages/consul-ui/app/components/copy-button/index.hbs
  ui/packages/consul-ui/app/components/copy-button/index.js
  ui/packages/consul-ui/app/components/copy-button/index.scss
  ui/packages/consul-ui/app/components/copy-button/layout.scss
  ui/packages/consul-ui/app/components/copy-button/skin.scss
  ui/packages/consul-ui/app/modifiers/with-copyable.js
  ui/packages/consul-ui/app/modifiers/with-copyable.mdx
  ui/packages/consul-ui/app/services/clipboard/local-storage.js
  ui/packages/consul-ui/app/services/clipboard/os.js
  ui/packages/consul-ui/app/styles/components.scss
  ui/packages/consul-ui/tests/acceptance/components/copy-button.feature
  ui/packages/consul-ui/translations/components/copy-button/en-us.yaml
Labels: backport/1.10, pr/no-changelog, theme/ui

#10512 ui: Fixup definition-table + copy-button margin
  ui/packages/consul-ui/app/components/definition-table/README.mdx
  ui/packages/consul-ui/app/components/definition-table/debug.scss
  ui/packages/consul-ui/app/components/definition-table/layout.scss
  ui/packages/consul-ui/app/styles/debug.scss
Labels: backport/1.10, pr/no-changelog, theme/ui

#10491 ui: Allow disabling of sourcemaps via env var
  ui/packages/consul-ui/config/environment.js
  ui/packages/consul-ui/config/utils.js
  ui/packages/consul-ui/ember-cli-build.js
Labels: backport/1.10, pr/no-changelog, theme/ui

#10513 ui: Add intl debug helpers
  ui/packages/consul-ui/app/instance-initializers/debug.js
  ui/packages/consul-ui/app/instance-initializers/i18n.js
  ui/packages/consul-ui/app/utils/get-environment.js
  ui/packages/consul-ui/docs/bookmarklets.mdx
  ui/packages/consul-ui/package.json
  ui/yarn.lock
Labels: backport/1.10, pr/no-changelog, theme/ui

#10555 Format certificates properly (rfc7468) with a trailing new line (#10411)
  .changelog/10411.txt
  agent/connect/ca/common.go
  agent/connect/ca/provider_aws_test.go
  agent/connect/ca/provider_consul_test.go
  agent/connect/ca/provider_vault.go
  agent/connect/ca/provider_vault_test.go
  agent/connect/ca/testing.go
  agent/connect_ca_endpoint.go
  agent/connect_ca_endpoint_test.go
  agent/consul/leader_connect_ca_test.go
  agent/consul/server_connect.go
  agent/consul/state/connect_ca_test.go
  agent/xds/listeners.go
Labels: backport/1.8, theme/connect, theme/envoy/xds

#10562 Add headings to Helm docs
  website/content/docs/k8s/helm.mdx
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10565 nia/docs: deprecate driver.working_dir in preference for global working_dir
  website/content/docs/nia/configuration.mdx
Labels: theme/consul-terraform-sync, type/docs

#10552 ca: remove unused RotationPeriod field
  .changelog/10552.txt
  agent/agent_test.go
  agent/config/builder.go
  agent/config/runtime.go
  agent/config/runtime_test.go
  agent/config/testdata/full-config.hcl
  agent/config/testdata/full-config.json
  agent/connect/ca/provider_test.go
  agent/connect/testing_ca.go
  agent/connect_ca_endpoint_test.go
  agent/consul/config.go
  agent/consul/connect_ca_endpoint_test.go
  agent/consul/fsm/commands_oss_test.go
  agent/consul/leader_connect_test.go
  agent/consul/server_test.go
  agent/consul/state/connect_ca_test.go
  agent/structs/connect_ca.go
  agent/structs/connect_ca_test.go
  api/connect_ca.go
  api/connect_ca_test.go
  command/connect/ca/set/connect_ca_set_test.go
  command/connect/ca/set/test-fixtures/ca_config.json
  ui/packages/consul-ui/mock-api/v1/connect/ca/configuration
  website/content/api-docs/connect/ca.mdx
  website/content/docs/connect/ca/consul.mdx
  website/content/docs/connect/ca/index.mdx
  website/content/docs/k8s/connect/connect-ca-provider.mdx
Labels: theme/api, theme/cli, theme/config, theme/connect, theme/internal-cleanup, type/docs

#10559 Fix defaults for autopilot config update
  .changelog/10559.txt
  agent/operator_endpoint.go
  agent/operator_endpoint_test.go
  api/operator_autopilot.go
Labels: backport/1.10, backport/1.8, backport/1.9, theme/api, type/bug

#10561 ui: [Backport 1.10.x] Add intl debug helpers #10513
  ui/packages/consul-ui/app/instance-initializers/debug.js
  ui/packages/consul-ui/app/instance-initializers/i18n.js
  ui/packages/consul-ui/app/utils/get-environment.js
  ui/packages/consul-ui/docs/bookmarklets.mdx
  ui/packages/consul-ui/package.json
  ui/yarn.lock
Labels: pr/no-changelog, theme/ui

#10281 New structure for contributing docs
  contributing/INTERNALS.md
  contributing/README.md
  contributing/acl/README.md
  contributing/acl/erd.mmd
  contributing/acl/erd.svg
  contributing/cli/README.md
  contributing/client-agent/README.md
  contributing/cluster-federation/README.md
  contributing/cluster-federation/network-areas/README.md
  contributing/cluster-membership/README.md
  contributing/config/README.md
  contributing/config/checklist-adding-config-fields.md
  contributing/consul-mermaid-theme.json
  contributing/faq.md
  contributing/http-api/README.md
  contributing/overview.mmd
  contributing/overview.svg
  contributing/persistence/README.md
  contributing/persistence/overview.mmd
  contributing/persistence/overview.svg
  contributing/rpc/README.md
  contributing/rpc/routing.mmd
  contributing/rpc/routing.svg
  contributing/rpc/streaming/README.md
  contributing/rpc/streaming/adding-a-topic.md
  contributing/rpc/streaming/event-filtering.mmd
  contributing/rpc/streaming/event-filtering.svg
  contributing/rpc/streaming/event-publisher-layout.mmd
  contributing/rpc/streaming/event-publisher-layout.svg
  contributing/rpc/streaming/framing-events.mmd
  contributing/rpc/streaming/framing-events.svg
  contributing/rpc/streaming/overview.mmd
  contributing/rpc/streaming/overview.svg
  contributing/service-discovery/README.md
  contributing/service-discovery/catalog-2.mmd
  contributing/service-discovery/catalog.md
  contributing/service-discovery/catalog.mmd
  contributing/service-mesh/README.md
Labels: pr/no-changelog, theme/contributing

#10572 config: add agent config flag for enterprise clients to indicate they wish to join a particular partition
  .changelog/10572.txt
  agent/config/builder_oss.go
  agent/config/config.go
  agent/config/runtime_oss.go
  agent/config/runtime_oss_test.go
  agent/config/testdata/full-config.hcl
  agent/config/testdata/full-config.json
  command/agent/agent.go
Labels: theme/cli, theme/config

#10549 docs: Update docs to reflect limitation in TProxy when using single Consul DC deployment with multiple k8s clusters
  website/content/docs/connect/transparent-proxy.mdx
  website/content/docs/k8s/installation/deployment-configurations/single-dc-multi-k8s.mdx
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10570 Changes that were accidentally merged into the old master branch
  .changelog/10559.txt
  agent/operator_endpoint.go
  agent/operator_endpoint_test.go
  api/operator_autopilot.go
  website/content/docs/k8s/helm.mdx
Labels: pr/no-changelog, theme/api, type/docs

#10546 Add support for returning ACL secret IDs for accessors with acl:write
  .changelog/10546.txt
  agent/acl_endpoint_test.go
  agent/consul/acl.go
  agent/consul/acl_endpoint_test.go
  agent/structs/acl.go
  agent/structs/acl_test.go
  api/acl.go
  api/acl_test.go
  command/acl/token/formatter.go
  command/acl/token/formatter_test.go
  command/acl/token/testdata/FormatTokenList/basic.json.golden
  command/acl/token/testdata/FormatTokenList/basic.pretty-meta.golden
  command/acl/token/testdata/FormatTokenList/basic.pretty.golden
  command/acl/token/testdata/FormatTokenList/complex.json.golden
  command/acl/token/testdata/FormatTokenList/complex.pretty-meta.golden
  command/acl/token/testdata/FormatTokenList/complex.pretty.golden
  command/acl/token/testdata/FormatTokenList/legacy.json.golden
  command/acl/token/testdata/FormatTokenList/legacy.pretty-meta.golden
  command/acl/token/testdata/FormatTokenList/legacy.pretty.golden
  website/content/api-docs/acl/tokens.mdx
Labels: backport/1.10, theme/api, type/docs

#10586 docs: changing license faq title to align with Nomad and Vault faq pages
  website/content/docs/enterprise/license/faq.mdx
Labels: type/docs, type/docs-cherrypick

#10576 tests: skip cases that depend on test server when -short flag set
  api/api_test.go
  api/watch/funcs_test.go
Labels: pr/no-changelog, theme/api, theme/cli

#10573 ui: Add socket icon for Unix Domain Socket (UDS)
  ui/packages/consul-ui/app/components/icon-definition/index.scss
  ui/packages/consul-ui/app/styles/base/icons/base-variables.scss
  ui/packages/consul-ui/app/styles/base/icons/icon-placeholders.scss
Labels: pr/no-changelog, theme/ui

#10590 config: remove duplicate tlsutil.Config fields from agent/consul.Config
  agent/agent.go
  agent/consul/auto_config_endpoint_test.go
  agent/consul/auto_encrypt_endpoint_test.go
  agent/consul/client_test.go
  agent/consul/config.go
  agent/consul/rpc_test.go
  agent/consul/server.go
  agent/consul/server_serf.go
  agent/consul/server_test.go
  agent/consul/subscribe_backend_test.go
Labels: pr/no-changelog, theme/config, theme/internal-cleanup, theme/tls

#10445 ca: isolate more of the CA logic in CAManager
  agent/connect/ca/provider.go
  agent/connect/ca/provider_aws.go
  agent/connect/ca/provider_aws_test.go
  agent/connect/ca/provider_consul.go
  agent/connect/ca/provider_vault.go
  agent/connect/ca/provider_vault_test.go
  agent/connect/ca/testing.go
  agent/consul/consul_ca_delegate.go
  agent/consul/leader.go
  agent/consul/leader_connect.go
  agent/consul/leader_connect_ca.go
  agent/consul/leader_connect_ca_test.go
  agent/consul/leader_connect_test.go
  agent/consul/server.go
  agent/consul/server_connect.go
  agent/consul/server_test.go
Labels: pr/no-changelog, theme/connect, theme/internal-cleanup

#10582 Fixed a typo that broke the example static-server deployment
  website/content/docs/k8s/installation/deployment-configurations/single-dc-multi-k8s.mdx
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10599 [Website] Bump hashi-stack-menu
  website/package-lock.json
  website/package.json
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10479 ca: move Server.SignIntermediate to CAManager
  agent/connect/ca/provider_aws.go
  agent/consul/auto_config_backend.go
  agent/consul/auto_config_backend_test.go
  agent/consul/auto_config_endpoint.go
  agent/consul/auto_config_endpoint_test.go
  agent/consul/connect_ca_endpoint.go
  agent/consul/fsm/commands_oss.go
  agent/consul/leader_connect_ca.go
  agent/consul/leader_connect_ca_test.go
  agent/consul/server.go
  agent/consul/server_connect.go
  agent/consul/server_test.go
Labels: pr/no-changelog, theme/internal-cleanup

#10579 docs: Improve TLS user documentation
  website/content/docs/agent/options.mdx
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10606 nia/docs: Terraform 1.0 compatability
  website/content/docs/nia/compatibility.mdx
Labels: theme/consul-terraform-sync, type/docs

#10564 cli/sdk: Allow applying redirect-traffic rules in a provided Linux namespace
  .changelog/10564.txt
  command/connect/redirecttraffic/redirect_traffic.go
  sdk/iptables/iptables.go
  sdk/iptables/iptables_executor_linux.go
  sdk/iptables/iptables_executor_unsupported.go
  website/content/commands/connect/redirect-traffic.mdx
Labels: backport/1.10, theme/cli, type/docs

#10331 connect/ca: require new vault mount points when updating the key type/bits for the vault connect CA provider
  .changelog/10331.txt
  GNUmakefile
  agent/connect/ca/provider_vault.go
  agent/consul/connect_ca_endpoint_test.go
Labels: theme/connect, theme/consul-vault

#10330 connect/ca: ensure edits to the key type/bits for the connect builtin CA will regenerate the roots
  .changelog/10330.txt
  agent/connect/ca/provider_consul.go
  agent/connect/ca/provider_consul_test.go
  agent/consul/connect_ca_endpoint_test.go
  agent/consul/leader_connect_test.go
Labels: theme/connect

#10588 config: rename `ports.grpc` to `ports.xds`
  .changelog/10588.txt
  agent/agent.go
  agent/agent_endpoint.go
  agent/config/builder.go
  agent/config/config.go
  agent/config/flags.go
  agent/config/flags_test.go
  agent/config/runtime.go
  agent/config/runtime_test.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/xds/server.go
  command/agent/agent.go
  command/connect/envoy/envoy.go
  command/connect/envoy/envoy_test.go
  command/connect/envoy/testdata/deprecated-grpc-addr-config.golden
  command/connect/envoy/testdata/xds-addr-config.golden
  tlsutil/config.go
  website/content/docs/agent/options.mdx
Labels: theme/certificates, theme/cli, theme/config, theme/envoy/xds, theme/tls, type/docs

#10609 docs: Add link to learn guide on migrating ACL tokens
  website/content/docs/security/acl/acl-legacy.mdx
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10614 nia/docs 0.2.1
  website/content/docs/nia/compatibility.mdx
Labels: theme/consul-terraform-sync, type/docs, type/docs-cherrypick

#10569 ui: [BUGFIX] Ensure in-folder KVs are created in the correct folder
  .changelog/10569.txt
  ui/packages/consul-ui/app/components/app-view/index.hbs
  ui/packages/consul-ui/app/locations/fsm-with-optional.js
  ui/packages/consul-ui/tests/acceptance/dc/kvs/create.feature
Labels: backport/1.10, theme/ui

#10604 ui: Show the correct 'ACLs Disabled' page when ACLs are disabled
  .changelog/10604.txt
  ui/packages/consul-ui/app/abilities/acl.js
  ui/packages/consul-ui/app/components/app-view/index.hbs
  ui/packages/consul-ui/app/router.js
  ui/packages/consul-ui/tests/acceptance/dc/acls/access.feature
  ui/packages/consul-ui/tests/acceptance/steps/dc/acls/access-steps.js
  ui/packages/consul-ui/tests/helpers/set-cookies.js
  ui/packages/consul-ui/tests/steps/doubles/model.js
Labels: backport/1.10, theme/ui

#10605 ui: [BUGFIX] Fix KV Code Editor syntax loading
  .changelog/10605.txt
  ui/packages/consul-ui/app/instance-initializers/ivy-codemirror.js
  ui/packages/consul-ui/lib/startup/templates/body.html.js
  ui/packages/consul-ui/vendor/init.js
Labels: backport/1.10, theme/ui

#10616 oss: add partition query param parsing
  agent/catalog_endpoint.go
  agent/http_oss.go
  api/catalog.go
  api/health.go
Labels: pr/no-changelog, theme/api, theme/health-checks

#10568 contrib: add first draft of agent configuration docs
  contributing/config/README.md
Labels: pr/no-changelog

#10608 ui: [BUGFIX] Ensure we use the ns query param name when requesting permissions
  .changelog/10608.txt
  ui/packages/consul-ui/app/adapters/permission.js
  ui/packages/consul-ui/app/routes/dc.js
  ui/packages/consul-ui/app/routes/settings.js
Labels: backport/1.10, theme/ui

#10619 xds: ensure single L7 deny intention with default deny policy does not result in allow action (CVE-2021-36213)
  .changelog/10619.txt
  agent/xds/rbac.go
  agent/xds/rbac_test.go
  agent/xds/testdata/rbac/default-allow-deny-all-and-path-allow--httpfilter.golden
  agent/xds/testdata/rbac/default-allow-deny-all-and-path-allow--httpfilter.v2compat.golden
  agent/xds/testdata/rbac/default-allow-deny-all-and-path-allow.golden
  agent/xds/testdata/rbac/default-allow-deny-all-and-path-allow.v2compat.golden
  agent/xds/testdata/rbac/default-allow-deny-all-and-path-deny--httpfilter.golden
  agent/xds/testdata/rbac/default-allow-deny-all-and-path-deny--httpfilter.v2compat.golden
  agent/xds/testdata/rbac/default-allow-deny-all-and-path-deny.golden
  agent/xds/testdata/rbac/default-allow-deny-all-and-path-deny.v2compat.golden
  agent/xds/testdata/rbac/default-allow-path-allow--httpfilter.golden
  agent/xds/testdata/rbac/default-allow-path-allow--httpfilter.v2compat.golden
  agent/xds/testdata/rbac/default-allow-path-allow.golden
  agent/xds/testdata/rbac/default-allow-path-allow.v2compat.golden
  agent/xds/testdata/rbac/default-allow-path-deny--httpfilter.golden
  agent/xds/testdata/rbac/default-allow-path-deny--httpfilter.v2compat.golden
  agent/xds/testdata/rbac/default-allow-path-deny.golden
  agent/xds/testdata/rbac/default-allow-path-deny.v2compat.golden
  agent/xds/testdata/rbac/default-deny-deny-all-and-path-allow--httpfilter.golden
  agent/xds/testdata/rbac/default-deny-deny-all-and-path-allow--httpfilter.v2compat.golden
  agent/xds/testdata/rbac/default-deny-deny-all-and-path-allow.golden
  agent/xds/testdata/rbac/default-deny-deny-all-and-path-allow.v2compat.golden
  agent/xds/testdata/rbac/default-deny-deny-all-and-path-deny--httpfilter.golden
  agent/xds/testdata/rbac/default-deny-deny-all-and-path-deny--httpfilter.v2compat.golden
  agent/xds/testdata/rbac/default-deny-deny-all-and-path-deny.golden
  agent/xds/testdata/rbac/default-deny-deny-all-and-path-deny.v2compat.golden
  agent/xds/testdata/rbac/default-deny-path-allow--httpfilter.golden
  agent/xds/testdata/rbac/default-deny-path-allow--httpfilter.v2compat.golden
  agent/xds/testdata/rbac/default-deny-path-allow.golden
  agent/xds/testdata/rbac/default-deny-path-allow.v2compat.golden
  agent/xds/testdata/rbac/default-deny-path-deny--httpfilter.golden
  agent/xds/testdata/rbac/default-deny-path-deny--httpfilter.v2compat.golden
  agent/xds/testdata/rbac/default-deny-path-deny.golden
  agent/xds/testdata/rbac/default-deny-path-deny.v2compat.golden
Labels: backport/1.10, theme/envoy/xds

#10620 (1.9.x) xds: ensure single L7 deny intention with default deny policy does not result in allow action (CVE-2021-36213)
  .changelog/10619.txt
  agent/xds/rbac.go
  agent/xds/rbac_test.go
  agent/xds/testdata/rbac/default-allow-deny-all-and-path-allow--httpfilter.golden
  agent/xds/testdata/rbac/default-allow-deny-all-and-path-allow.golden
  agent/xds/testdata/rbac/default-allow-deny-all-and-path-deny--httpfilter.golden
  agent/xds/testdata/rbac/default-allow-deny-all-and-path-deny.golden
  agent/xds/testdata/rbac/default-allow-path-allow--httpfilter.golden
  agent/xds/testdata/rbac/default-allow-path-allow.golden
  agent/xds/testdata/rbac/default-allow-path-deny--httpfilter.golden
  agent/xds/testdata/rbac/default-allow-path-deny.golden
  agent/xds/testdata/rbac/default-deny-deny-all-and-path-allow--httpfilter.golden
  agent/xds/testdata/rbac/default-deny-deny-all-and-path-allow.golden
  agent/xds/testdata/rbac/default-deny-deny-all-and-path-deny--httpfilter.golden
  agent/xds/testdata/rbac/default-deny-deny-all-and-path-deny.golden
  agent/xds/testdata/rbac/default-deny-path-allow--httpfilter.golden
  agent/xds/testdata/rbac/default-deny-path-allow.golden
  agent/xds/testdata/rbac/default-deny-path-deny--httpfilter.golden
  agent/xds/testdata/rbac/default-deny-path-deny.golden
Labels: pr/no-changelog, theme/envoy/xds

#10618 docs: add deprecation version for ports.grpc settings
  website/content/docs/agent/options.mdx
Labels: pr/no-changelog, type/docs

#10617 docs: add config options that were missing
  website/content/docs/agent/options.mdx
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10623 Validate Subject Alternative Name for upstreams (1.9.x)
  .changelog/10621.txt
  agent/xds/clusters.go
  agent/xds/clusters_test.go
  agent/xds/server_test.go
  agent/xds/testdata/clusters/connect-proxy-lb-in-resolver.envoy-1-16-x.golden
  agent/xds/testdata/clusters/connect-proxy-with-chain-and-failover.envoy-1-16-x.golden
  agent/xds/testdata/clusters/connect-proxy-with-chain-and-overrides.envoy-1-16-x.golden
  agent/xds/testdata/clusters/connect-proxy-with-chain-external-sni.envoy-1-16-x.golden
  agent/xds/testdata/clusters/connect-proxy-with-chain.envoy-1-16-x.golden
  agent/xds/testdata/clusters/connect-proxy-with-tcp-chain-double-failover-through-local-gateway-triggered.envoy-1-16-x.golden
  agent/xds/testdata/clusters/connect-proxy-with-tcp-chain-double-failover-through-local-gateway.envoy-1-16-x.golden
  agent/xds/testdata/clusters/connect-proxy-with-tcp-chain-double-failover-through-remote-gateway-triggered.envoy-1-16-x.golden
  agent/xds/testdata/clusters/connect-proxy-with-tcp-chain-double-failover-through-remote-gateway.envoy-1-16-x.golden
  agent/xds/testdata/clusters/connect-proxy-with-tcp-chain-failover-through-local-gateway-triggered.envoy-1-16-x.golden
  agent/xds/testdata/clusters/connect-proxy-with-tcp-chain-failover-through-local-gateway.envoy-1-16-x.golden
  agent/xds/testdata/clusters/connect-proxy-with-tcp-chain-failover-through-remote-gateway-triggered.envoy-1-16-x.golden
  agent/xds/testdata/clusters/connect-proxy-with-tcp-chain-failover-through-remote-gateway.envoy-1-16-x.golden
  agent/xds/testdata/clusters/custom-limits-max-connections-only.envoy-1-16-x.golden
  agent/xds/testdata/clusters/custom-limits-set-to-zero.envoy-1-16-x.golden
  agent/xds/testdata/clusters/custom-limits.envoy-1-16-x.golden
  agent/xds/testdata/clusters/custom-local-app.envoy-1-16-x.golden
  agent/xds/testdata/clusters/custom-timeouts.envoy-1-16-x.golden
  agent/xds/testdata/clusters/custom-upstream-default-chain.envoy-1-16-x.golden
  agent/xds/testdata/clusters/custom-upstream.envoy-1-16-x.golden
  agent/xds/testdata/clusters/defaults.envoy-1-16-x.golden
  agent/xds/testdata/clusters/ingress-gateway.envoy-1-16-x.golden
  agent/xds/testdata/clusters/ingress-lb-in-resolver.envoy-1-16-x.golden
  agent/xds/testdata/clusters/ingress-multiple-listeners-duplicate-service.envoy-1-16-x.golden
  agent/xds/testdata/clusters/ingress-splitter-with-resolver-redirect.envoy-1-16-x.golden
  agent/xds/testdata/clusters/ingress-with-chain-and-failover.envoy-1-16-x.golden
  agent/xds/testdata/clusters/ingress-with-chain-and-overrides.envoy-1-16-x.golden
  agent/xds/testdata/clusters/ingress-with-chain-external-sni.envoy-1-16-x.golden
  agent/xds/testdata/clusters/ingress-with-chain.envoy-1-16-x.golden
  agent/xds/testdata/clusters/ingress-with-tcp-chain-double-failover-through-local-gateway-triggered.envoy-1-16-x.golden
  agent/xds/testdata/clusters/ingress-with-tcp-chain-double-failover-through-local-gateway.envoy-1-16-x.golden
  agent/xds/testdata/clusters/ingress-with-tcp-chain-double-failover-through-remote-gateway-triggered.envoy-1-16-x.golden
  agent/xds/testdata/clusters/ingress-with-tcp-chain-double-failover-through-remote-gateway.envoy-1-16-x.golden
  agent/xds/testdata/clusters/ingress-with-tcp-chain-failover-through-local-gateway-triggered.envoy-1-16-x.golden
  agent/xds/testdata/clusters/ingress-with-tcp-chain-failover-through-local-gateway.envoy-1-16-x.golden
  agent/xds/testdata/clusters/ingress-with-tcp-chain-failover-through-remote-gateway-triggered.envoy-1-16-x.golden
  agent/xds/testdata/clusters/ingress-with-tcp-chain-failover-through-remote-gateway.envoy-1-16-x.golden
  agent/xds/testdata/clusters/splitter-with-resolver-redirect.envoy-1-16-x.golden
Labels: theme/envoy/xds

#10567 config: unexport the remaining builder methods
  agent/config/builder.go
  agent/config/builder_test.go
  agent/config/runtime_test.go
Labels: pr/no-changelog, theme/config, theme/internal-cleanup

#10543 ui: update Build-UI.dockerfile
  build-support/docker/Build-UI.dockerfile
Labels: backport/1.8

#10598 acls: Show `AuthMethodNamespace` when reading/listing ACL token meta
  .changelog/10598.txt
  agent/structs/acl.go
  api/acl.go
  command/acl/token/formatter.go
  command/acl/token/formatter_test.go
  command/acl/token/testdata/FormatToken/complex.json.golden
  command/acl/token/testdata/FormatToken/complex.pretty-meta.golden
  command/acl/token/testdata/FormatToken/complex.pretty.golden
  command/acl/token/testdata/FormatTokenList/complex.json.golden
  command/acl/token/testdata/FormatTokenList/complex.pretty-meta.golden
  command/acl/token/testdata/FormatTokenList/complex.pretty.golden
Labels: theme/api, theme/cli

#10615 docs/nia: Add Terraform Cloud driver config with callout to TFE only
  website/content/docs/nia/configuration.mdx
  website/content/docs/nia/index.mdx
Labels: pr/no-changelog, theme/consul-terraform-sync, type/docs

#10353 Remove a few unused things from build-support
  GNUmakefile
  build-support/functions/10-util.sh
  build-support/functions/40-publish.sh
  build-support/scripts/dev.sh
  build-support/scripts/publish.sh
  build-support/scripts/verify.sh
Labels: pr/no-changelog

#10009 dns: properly trim response when EDNS is used
  .changelog/10009.txt
  agent/dns.go
  agent/dns_test.go
Labels: backport/1.10, backport/1.8, backport/1.9, type/bug

#10631 nia/docs: add content for automation with TFC driver
  website/content/docs/nia/configuration.mdx
  website/content/docs/nia/network-drivers.mdx
  website/public/img/nia/cts-tfc-run-notifications.png
  website/public/img/nia/cts-tfc-workspace-variables.png
  website/public/img/nia/cts-tfc-workspace.png
Labels: pr/no-changelog, theme/consul-terraform-sync, type/docs

#10396 Fix some data races
  agent/agent_test.go
  agent/consul/acl_test.go
  agent/consul/leader_connect_test.go
  agent/http_test.go
  agent/service_manager_test.go
  agent/testagent.go
  go.mod
  go.sum
  lib/routine/routine.go
  vendor/github.com/hashicorp/serf/serf/serf.go
  vendor/modules.txt
Labels: pr/dependencies, pr/no-changelog, theme/internal-cleanup, theme/internals

#10642 [1.8.x] dns: properly trim response when EDNS is used
  .changelog/10009.txt
  agent/dns.go
  agent/dns_test.go
Labels: theme/dns

#10641 [1.9.x] dns: properly trim response when EDNS is used
  .changelog/10009.txt
  agent/dns.go
  agent/dns_test.go
Labels: theme/dns

#10644 docs: Fix spelling errors across website
  website/content/api-docs/agent/service.mdx
  website/content/api-docs/connect/intentions.mdx
  website/content/commands/snapshot/agent.mdx
  website/content/docs/agent/options.mdx
  website/content/docs/agent/telemetry.mdx
  website/content/docs/connect/native/go.mdx
  website/content/docs/connect/proxies/envoy.mdx
  website/content/docs/connect/proxies/managed-deprecated.mdx
  website/content/docs/connect/transparent-proxy.mdx
  website/content/docs/discovery/checks.mdx
  website/content/docs/download-tools.mdx
  website/content/docs/enterprise/license/faq.mdx
  website/content/docs/install/glossary.mdx
  website/content/docs/k8s/connect/health.mdx
  website/content/docs/nia/configuration.mdx
  website/content/docs/nia/network-drivers.mdx
  website/content/docs/security/security-models/core.mdx
  website/content/docs/security/security-models/index.mdx
  website/content/docs/upgrading/instructions/upgrade-to-1-2-x.mdx
  website/content/docs/upgrading/instructions/upgrade-to-1-6-x.mdx
Labels: pr/no-changelog, theme/consul-terraform-sync, type/docs, type/docs-cherrypick

#10611 Add DNS recursor strategy option
  .changelog/10611.txt
  agent/config/builder.go
  agent/config/config.go
  agent/config/runtime.go
  agent/config/runtime_test.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/dns.go
  agent/dns/dns.go
  agent/dns/dns_test.go
  agent/dns_test.go
  website/content/docs/agent/options.mdx
Labels: theme/config, type/docs, type/enhancement

#10323 docs: Add intentions to ACL System docs
  website/content/docs/security/acl/acl-rules.mdx
  website/content/docs/security/acl/acl-system.mdx
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10600 ui: Add tests for topology metrics stats
  ui/packages/consul-ui/app/components/topology-metrics/card/index.scss
  ui/packages/consul-ui/app/components/topology-metrics/stats/index.hbs
  ui/packages/consul-ui/app/components/topology-metrics/stats/index.scss
  ui/packages/consul-ui/tests/acceptance/dc/services/show/topology/stats.feature
  ui/packages/consul-ui/tests/acceptance/steps/dc/services/show/topology/stats-steps.js
  ui/packages/consul-ui/tests/steps/doubles/model.js
Labels: pr/no-changelog, theme/ui

#10646 website: Fix circular redirect with TLS on existing cluster
  website/redirects.next.js
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10647 Avoid panic on concurrent writes to cached service config map
  .changelog/10647.txt
  agent/service_manager.go
  agent/service_manager_test.go
Labels: backport/1.10

#10639 docs: Refer to macOS vs Mac OS X in the main README
  README.md
Labels: pr/no-changelog

#10658 docs/nia: add Terraform Cloud driver setup information
  website/content/docs/nia/architecture.mdx
  website/content/docs/nia/index.mdx
  website/content/docs/nia/installation/install.mdx
  website/content/docs/nia/installation/requirements.mdx
  website/content/docs/nia/network-drivers.mdx
  website/public/img/nia/cts-tfc-team-setup.png
Labels: pr/no-changelog, theme/consul-terraform-sync, type/docs

#10651 docs: Update responses for /v1/session/ endpoints post 1.7
  website/content/api-docs/session.mdx
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10666 cli: Document pass-through option for `consul connect envoy`
  command/connect/envoy/envoy.go
Labels: theme/cli

#10462 docs: Add namespace parameters to /agent/service* endpoints
  website/content/api-docs/agent/service.mdx
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10668 add partition cli flag to all cli commands that have namespace flag
  command/acl/authmethod/create/authmethod_create.go
  command/acl/authmethod/delete/authmethod_delete.go
  command/acl/authmethod/list/authmethod_list.go
  command/acl/authmethod/read/authmethod_read.go
  command/acl/authmethod/update/authmethod_update.go
  command/acl/bindingrule/create/bindingrule_create.go
  command/acl/bindingrule/delete/bindingrule_delete.go
  command/acl/bindingrule/list/bindingrule_list.go
  command/acl/bindingrule/read/bindingrule_read.go
  command/acl/bindingrule/update/bindingrule_update.go
  command/acl/policy/create/policy_create.go
  command/acl/policy/delete/policy_delete.go
  command/acl/policy/list/policy_list.go
  command/acl/policy/read/policy_read.go
  command/acl/policy/update/policy_update.go
  command/acl/role/create/role_create.go
  command/acl/role/delete/role_delete.go
  command/acl/role/list/role_list.go
  command/acl/role/read/role_read.go
  command/acl/role/update/role_update.go
  command/acl/token/clone/token_clone.go
  command/acl/token/create/token_create.go
  command/acl/token/delete/token_delete.go
  command/acl/token/list/token_list.go
  command/acl/token/read/token_read.go
  command/acl/token/update/token_update.go
  command/catalog/list/services/catalog_list_services.go
  command/config/delete/config_delete.go
  command/config/list/config_list.go
  command/config/read/config_read.go
  command/config/write/config_write.go
  command/connect/envoy/envoy.go
  command/connect/redirecttraffic/redirect_traffic.go
  command/flags/http.go
  command/intention/check/check.go
  command/intention/create/create.go
  command/intention/delete/delete.go
  command/intention/get/get.go
  command/intention/list/intention_list.go
  command/intention/match/match.go
  command/kv/del/kv_delete.go
  command/kv/exp/kv_export.go
  command/kv/get/kv_get.go
  command/kv/imp/kv_import.go
  command/kv/put/kv_put.go
  command/login/login.go
  command/services/deregister/deregister.go
  command/services/register/register.go
Labels: pr/no-changelog, theme/cli

#10657 config raft apply silent error
  .changelog/10657.txt
  agent/consul/state/connect_ca.go
  agent/consul/state/connect_ca_test.go
Labels: backport/1.10, backport/1.8, backport/1.9, theme/certificates, type/bug

#10670 sync changes to oss files made in enterprise
  agent/agent_test.go
  agent/consul/client_test.go
  agent/consul/leader_connect_test.go
  agent/consul/options.go
  agent/consul/server.go
  agent/consul/server_oss.go
  agent/consul/state/catalog.go
  agent/consul/state/catalog_schema.go
  agent/consul/state/query.go
  agent/consul/state/schema_test.go
  agent/consul/subscribe_backend.go
  agent/grpc/client.go
  agent/grpc/client_test.go
  agent/grpc/resolver/resolver.go
  agent/http.go
  agent/rpc/subscribe/subscribe_test.go
  agent/setup.go
  agent/structs/structs_oss_test.go
  api/api.go
  api/api_test.go
  logging/names.go
  proto/pbcommon/common.go
  proto/pbcommon/common.pb.binary.go
  proto/pbcommon/common.pb.go
  proto/pbcommon/common.proto
Labels: pr/no-changelog, theme/api, theme/telemetry

#10681 replumbing a bunch of api and agent structs for partitions
  agent/structs/catalog.go
  agent/structs/catalog_oss.go
  agent/structs/structs.go
  agent/structs/structs_filtering_test.go
  agent/structs/structs_oss.go
  api/agent.go
  api/catalog.go
  api/catalog_test.go
  api/coordinate.go
  api/txn.go
  proto/pbservice/ids.go
  proto/pbservice/ids_test.go
  proto/pbservice/node.gen.go
  proto/pbservice/node.pb.go
  proto/pbservice/node.proto
  proto/pbsubscribe/subscribe.pb.go
  proto/pbsubscribe/subscribe.proto
Labels: pr/no-changelog, theme/api

#10683 add http flag for admin partition
  command/flags/http.go
Labels: pr/no-changelog, theme/cli

#10687 state: refactor some node/coordinate state store functions to take an EnterpriseMeta
  agent/consul/catalog_endpoint.go
  agent/consul/coordinate_endpoint.go
  agent/consul/coordinate_endpoint_test.go
  agent/consul/fsm/commands_oss.go
  agent/consul/fsm/commands_oss_test.go
  agent/consul/fsm/snapshot_oss.go
  agent/consul/fsm/snapshot_oss_test.go
  agent/consul/leader.go
  agent/consul/leader_test.go
  agent/consul/prepared_query_endpoint.go
  agent/consul/rtt.go
  agent/consul/state/catalog.go
  agent/consul/state/catalog_test.go
  agent/consul/state/coordinate.go
  agent/consul/state/coordinate_test.go
  agent/consul/state/session_test.go
  agent/consul/state/txn_test.go
  agent/consul/state/usage_test.go
  agent/consul/txn_endpoint_test.go
Labels: pr/no-changelog

#10640 web: migrate to web platform- packages
  website/.eslintrc.js
  website/.stylelintrc.js
  website/components/subnav/index.jsx
  website/next-env.d.ts
  website/next.config.js
  website/package-lock.json
  website/package.json
  website/pages/_app.js
  website/pages/_error.jsx
  website/pages/home/index.jsx
  website/prettier.config.js
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10679 docs: Vault as a Connected CA with Consul missing Managed PKI Paths
  website/content/docs/connect/ca/vault.mdx
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10684 docs: Add version callout for `kv import -prefix`
  website/content/commands/kv/import.mdx
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10688 agent: update proxy upstreams to inherit namespace from service
  .changelog/10688.txt
  agent/agent_endpoint_test.go
  agent/config/runtime_test.go
  agent/sidecar_service.go
  agent/sidecar_service_test.go
  agent/structs/service_definition.go
  agent/structs/testing_connect_proxy_config.go
Labels: backport/1.10, backport/1.8, backport/1.9, theme/config, theme/connect

#10645 Reset root prune interval after TestLeader_CARootPruning completes
  agent/consul/leader_connect_test.go
Labels: pr/no-changelog

#10695 Update network drivers to dedicated pages
  website/content/docs/nia/installation/requirements.mdx
  website/content/docs/nia/network-drivers.mdx
  website/content/docs/nia/network-drivers/index.mdx
  website/content/docs/nia/network-drivers/terraform-cloud.mdx
  website/content/docs/nia/network-drivers/terraform.mdx
  website/data/docs-nav-data.json
Labels: pr/no-changelog, theme/consul-terraform-sync, type/docs

#10399 debug: use the new metrics stream in debug command
  .changelog/10399.txt
  agent/agent_endpoint.go
  agent/agent_endpoint_test.go
  agent/http.go
  agent/http_register.go
  agent/setup.go
  api/agent.go
  command/debug/debug.go
  command/debug/debug_test.go
  go.mod
  go.sum
Labels: pr/dependencies, theme/api, theme/cli

#10698 agent: update proxy upstreams to inherit namespace from service (#10688/backport-1.10.x)
  .changelog/10688.txt
  agent/agent_endpoint_test.go
  agent/config/runtime_test.go
  agent/sidecar_service.go
  agent/sidecar_service_test.go
  agent/structs/service_definition.go
  agent/structs/testing_connect_proxy_config.go
Labels: pr/no-changelog, theme/config

#10697 agent: update proxy upstreams to inherit namespace from service (#10688/backport-1.9.x)
  .changelog/10688.txt
  agent/agent_endpoint_test.go
  agent/config/runtime_test.go
  agent/sidecar_service.go
  agent/sidecar_service_test.go
  agent/structs/service_definition.go
  agent/structs/testing_connect_proxy_config.go
Labels: theme/config

#10696 agent: update proxy upstreams to inherit namespace from service (#10688/backport-1.8.x)
  .changelog/10688.txt
  agent/agent_endpoint_test.go
  agent/config/runtime_test.go
  agent/sidecar_service.go
  agent/sidecar_service_test.go
  agent/structs/service_definition.go
  agent/structs/structs_oss.go
  agent/structs/testing_connect_proxy_config.go
Labels: theme/config

#10460 Describe how to run a subset of all unit tests
  .github/CONTRIBUTING.md
Labels: pr/no-changelog

#10705 sync enterprise files with oss
  agent/agent_endpoint_test.go
  agent/structs/service_definition.go
Labels: backport/1.10, backport/1.8, backport/1.9, pr/no-changelog

#10706 ui: Fix dropdown option duplications
  .changelog/10706.txt
  ui/packages/consul-ui/app/components/consul/intention/form/fieldsets/index.hbs
Labels: backport/1.10, theme/ui

#10709 Generalize base64 command usage in docs
  website/content/docs/k8s/connect/terminating-gateways.mdx
  website/content/docs/k8s/installation/deployment-configurations/consul-enterprise.mdx
  website/content/docs/k8s/installation/install.mdx
  website/content/docs/k8s/installation/multi-cluster/vms-and-kubernetes.mdx
  website/content/docs/security/acl/auth-methods/oidc.mdx
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10710 NIA Docs: Add Citrix TF module links
  website/content/docs/nia/installation/requirements.mdx
Labels: pr/no-changelog, theme/consul-terraform-sync, type/docs, type/docs-cherrypick

#10711 sync enterprise files with oss (#10705/backport-1.10.x)
  agent/agent_endpoint_test.go
  agent/structs/service_definition.go
Labels: pr/no-changelog, theme/config

#10712 sync enterprise files with oss (#10705/backport-1.8.x)
  agent/agent_endpoint_test.go
  agent/structs/service_definition.go
Labels: theme/config

#10713 sync enterprise files with oss (#10705/backport-1.9.x)
  agent/agent_endpoint_test.go
  agent/structs/service_definition.go
Labels: theme/config

#10716 Remove issue-labeler github workflow
  .github/issue-labeler.yml
  .github/workflows/issue-labeler.yml
Labels: pr/no-changelog, theme/contributing

#10707 streaming: set default query timeout
  .changelog/10707.txt
  agent/agent.go
  agent/config/runtime.go
  agent/http.go
  agent/rpcclient/health/health.go
  agent/rpcclient/health/health_test.go
Labels: backport/1.10, theme/config, theme/streaming

#10718 docs: give better guidance about how to configure the agent TLS CA
  website/content/docs/agent/options.mdx
Labels: pr/no-changelog, type/docs, type/docs-cherrypick

#10729 ci: query for max number of possible labels
  .circleci/scripts/cherry-picker.sh
Labels: pr/no-changelog

#10691 api: enable query opts on agent health and maintenance endpoints
  .changelog/10691.txt
  api/agent.go
  api/agent_test.go
Labels: theme/api

#10632 acls: Update ACL authorizer to return meaningful permission when ACLs are disabled
  agent/acl.go
  agent/acl_endpoint.go
  agent/agent_endpoint.go
  agent/agent_endpoint_test.go
  agent/consul/acl.go
  agent/consul/acl_test.go
  agent/consul/connect_ca_endpoint.go
  agent/consul/discovery_chain_endpoint.go
  agent/consul/federation_state_endpoint.go
  agent/consul/internal_endpoint.go
  agent/consul/operator_autopilot_endpoint.go
  agent/consul/operator_raft_endpoint.go
  agent/consul/prepared_query_endpoint.go
  agent/consul/snapshot_endpoint.go
  agent/http.go
  agent/structs/intention.go
  agent/xds/server.go
  api/agent_test.go
  command/maint/maint_test.go
Labels: pr/no-changelog, theme/api, theme/cli, theme/envoy/xds

#10735 ui: Add copy button for Secret ID in Tokens list page
  .changelog/10735.txt
  ui/packages/consul-ui/app/components/composite-row/layout.scss
  ui/packages/consul-ui/app/components/consul/token/list/index.hbs
  ui/packages/consul-ui/app/models/token.js
  ui/packages/consul-ui/mock-api/v1/acl/tokens
  ui/packages/consul-ui/translations/components/consul/en-us.yaml
Labels: theme/ui
