Repository hashicorp/consul, pull requests merged in 2021-10, with the labels that each got.

#11057 ui: Address some Admin Partition FIXMEs
  ui/packages/consul-ui/app/adapters/partition.js
  ui/packages/consul-ui/app/components/auth-form/index.hbs
  ui/packages/consul-ui/app/components/data-source/index.js
  ui/packages/consul-ui/app/components/hashicorp-consul/index.hbs
  ui/packages/consul-ui/app/components/token-source/index.js
  ui/packages/consul-ui/app/models/service-instance.js
  ui/packages/consul-ui/app/routing/route.js
  ui/packages/consul-ui/app/services/data-sink/protocols/http.js
  ui/packages/consul-ui/app/services/repository/dc.js
  ui/packages/consul-ui/app/templates/dc/services/show/intentions/index.hbs
Labels: theme/ui, pr/no-changelog

#11196 fix token list by auth method
  agent/consul/state/acl.go
Labels: pr/no-changelog

#11179 Consul on Kubernetes Content
  website/components/card-list/index.tsx
  website/components/card-list/style.module.css
  website/components/consul-on-kubernetes-hero/index.tsx
  website/components/consul-on-kubernetes-hero/style.module.css
  website/components/docs-list/index.tsx
  website/components/features-list/style.module.css
  website/pages/consul-on-kubernetes/index.tsx
Labels: type/docs

#11202 agent: Support partitions in parseIntentionStringComponent
  agent/intentions_endpoint.go
  agent/intentions_endpoint_test.go
Labels: pr/no-changelog

#11181 agent: Reject partitions in legacy intention endpoints
  agent/intentions_endpoint.go
  agent/intentions_endpoint_test.go
Labels: pr/no-changelog

#11190 ui: Adds initial CRUD for partitions
  .circleci/config.yml
  ui/package.json
  ui/packages/consul-acls/package.json
  ui/packages/consul-acls/vendor/consul-acls/routes.js
  ui/packages/consul-partitions/app/components/consul/partition/form/README.mdx
  ui/packages/consul-partitions/app/components/consul/partition/form/index.hbs
  ui/packages/consul-partitions/app/components/consul/partition/list/README.mdx
  ui/packages/consul-partitions/app/components/consul/partition/list/index.hbs
  ui/packages/consul-partitions/app/components/consul/partition/list/test-support.js
  ui/packages/consul-partitions/app/components/consul/partition/notifications/README.mdx
  ui/packages/consul-partitions/app/components/consul/partition/notifications/index.hbs
  ui/packages/consul-partitions/app/components/consul/partition/search-bar/README.mdx
  ui/packages/consul-partitions/app/components/consul/partition/search-bar/index.hbs
  ui/packages/consul-partitions/app/components/consul/partition/selector/README.mdx
  ui/packages/consul-partitions/app/components/consul/partition/selector/index.hbs
  ui/packages/consul-partitions/app/templates/dc/partitions/edit.hbs
  ui/packages/consul-partitions/app/templates/dc/partitions/index.hbs
  ui/packages/consul-partitions/package.json
  ui/packages/consul-partitions/vendor/consul-partitions/routes.js
  ui/packages/consul-ui/.docfy-config.js
  ui/packages/consul-ui/app/abilities/base.js
  ui/packages/consul-ui/app/abilities/nspace.js
  ui/packages/consul-ui/app/abilities/partition.js
  ui/packages/consul-ui/app/abilities/service.js
  ui/packages/consul-ui/app/abilities/upstream.js
  ui/packages/consul-ui/app/adapters/partition.js
  ui/packages/consul-ui/app/components/consul/nspace/list/index.hbs
  ui/packages/consul-ui/app/components/consul/nspace/list/index.js
  ui/packages/consul-ui/app/components/consul/service/list/index.hbs
  ui/packages/consul-ui/app/components/consul/service/list/index.js
  ui/packages/consul-ui/app/components/consul/upstream/list/index.hbs
  ui/packages/consul-ui/app/components/consul/upstream/list/index.js
  ui/packages/consul-ui/app/components/data-form/index.js
  ui/packages/consul-ui/app/components/data-writer/index.hbs
  ui/packages/consul-ui/app/components/hashicorp-consul/index.hbs
  ui/packages/consul-ui/app/components/list-collection/index.hbs
  ui/packages/consul-ui/app/forms/partition.js
  ui/packages/consul-ui/app/locations/fsm-with-optional.js
  ui/packages/consul-ui/app/models/partition.js
  ui/packages/consul-ui/app/routing/route.js
  ui/packages/consul-ui/app/services/data-sink/protocols/http.js
  ui/packages/consul-ui/app/services/form.js
  ui/packages/consul-ui/app/services/repository.js
  ui/packages/consul-ui/app/services/repository/nspace.js
  ui/packages/consul-ui/app/services/repository/partition.js
  ui/packages/consul-ui/app/sort/comparators/partition.js
  ui/packages/consul-ui/app/styles/debug.scss
  ui/packages/consul-ui/ember-cli-build.js
  ui/packages/consul-ui/lib/startup/templates/body.html.js
  ui/packages/consul-ui/mock-api/v1/partition/_
  ui/packages/consul-ui/package.json
  ui/packages/consul-ui/vendor/acls/routes.js
Labels: theme/ui, pr/no-changelog

#11166 CTS: add TLS config for TFE connection
  website/content/docs/nia/configuration.mdx
Labels: type/docs, theme/consul-terraform-sync, pr/no-changelog

#11135 nia/docs: Remove deprecated tag option from service config
  website/content/docs/nia/configuration.mdx
Labels: type/docs, theme/consul-terraform-sync

#11210 rpc: include error for AuthorizeServerConn failures
  tlsutil/config.go
  tlsutil/config_test.go
Labels: type/bug, theme/tls, backport/1.8, theme/certificates, backport/1.9, pr/no-changelog, backport/1.10

#11126 acl: remove ACL.GetPolicy RPC endpoint and ACLResolver.resolveTokenLegacy
  acl/policy.go
  agent/acl_test.go
  agent/agent.go
  agent/consul/acl.go
  agent/consul/acl_client.go
  agent/consul/acl_endpoint.go
  agent/consul/acl_endpoint_legacy.go
  agent/consul/acl_endpoint_test.go
  agent/consul/acl_server.go
  agent/consul/acl_test.go
  agent/consul/client.go
  agent/consul/client_serf.go
  agent/consul/leader_federation_state_ae_test.go
  agent/consul/server_serf.go
  agent/delegate_mock_test.go
  agent/metadata/server.go
  agent/structs/acl.go
  agent/structs/acl_cache.go
  agent/structs/acl_legacy.go
  agent/structs/structs_test.go
Labels: theme/acls, pr/no-changelog

#11212 [1.10.x] Fixing the build after auto-backport
  tlsutil/config_test.go
Labels: theme/tls, theme/certificates, pr/no-changelog

#11213 [1.9.x] Fixing the build after auto-backport
  tlsutil/config_test.go
Labels: theme/tls, backport/1.8, theme/certificates, pr/no-changelog

#11118 Remove support for Envoy 1.15
  .circleci/config.yml
  agent/xds/clusters.go
  agent/xds/delta.go
  agent/xds/delta_test.go
  agent/xds/envoy_versioning.go
  agent/xds/envoy_versioning_test.go
  agent/xds/proxysupport/proxysupport.go
Labels: type/ci, theme/envoy/xds

#11214 added version flag to consul-k8s cli docs
  website/content/docs/k8s/k8s-cli.mdx
Labels: type/docs-cherrypick, pr/no-changelog

#11209 nia/docs: Remove references to v0.4.0-beta
  website/content/docs/nia/configuration.mdx
  website/content/docs/nia/network-drivers/index.mdx
  website/content/docs/nia/network-drivers/terraform-cloud.mdx
  website/content/docs/nia/tasks.mdx
  website/content/docs/nia/terraform-modules.mdx
Labels: type/docs, theme/consul-terraform-sync

#10431 Fixing SOA record to use alt domain when alt domain in use
  CHANGELOG.md
  agent/dns.go
  agent/dns_test.go
Labels: type/bug, theme/dns

#11178 website: upgrades dependencies
  website/.nvmrc
  website/components/homepage-hero/index.jsx
  website/global.d.ts
  website/next-env.d.ts
  website/next.config.js
  website/package-lock.json
  website/package.json
  website/pages/style.css
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#11205 Adds consulrs Rust client library to SDK list
  website/content/api-docs/libraries-and-sdks.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#11226 add changelog entry for enterprise fix
  .changelog/_1200.txt
Labels: backport/1.8, backport/1.9, pr/no-changelog, backport/1.10

#11447 docs: add -verbose flag for consul-k8s install command
  website/content/docs/k8s/k8s-cli.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#11348 Fix answers for alt domain
  .changelog/11348.txt
  agent/dns.go
  agent/dns_test.go
  website/content/docs/agent/options.mdx
  website/content/docs/discovery/dns.mdx
Labels: Hacktoberfest, hacktoberfest-accepted
