Repository hashicorp/consul, pull requests merged in 2022-02, with the labels that each got.

#12232 updating press kit link
  website/components/footer/index.jsx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12166 acl: remove ResolveTokenToIdentity
  .changelog/12166.txt
  agent/acl.go
  agent/acl_test.go
  agent/agent.go
  agent/agent_endpoint_test.go
  agent/consul/acl.go
  agent/consul/acl_server.go
  agent/consul/acl_test.go
  agent/consul/intention_endpoint.go
  agent/consul/internal_endpoint.go
  agent/delegate_mock_test.go
  agent/local/state.go
  agent/local/state_test.go
  agent/structs/acl.go
  website/content/docs/agent/telemetry.mdx
Labels: theme/internal-cleanup, pr/no-metrics-test

#12167 acl: rename ResolveTokenToIdentityAndAuthorizer to ResolveToken
  agent/acl_test.go
  agent/consul/acl.go
  agent/consul/acl_server.go
  agent/consul/acl_test.go
  agent/consul/intention_endpoint.go
  agent/consul/internal_endpoint.go
  agent/consul/operator_autopilot_endpoint.go
  agent/consul/operator_raft_endpoint.go
Labels: theme/acls, theme/internal-cleanup, pr/no-changelog

#12227 docs: slight formatting update and provide example with service mesh enabled
  website/content/docs/k8s/installation/install.mdx
Labels: type/docs-cherrypick, pr/no-changelog

#12206 ui: on-outside modifier
  ui/packages/consul-ui/app/modifiers/on-outside.js
  ui/packages/consul-ui/app/modifiers/on-outside.mdx
Labels: theme/ui, pr/no-changelog, pr/no-metrics-test

#12203 ui: style-map helper
  ui/packages/consul-ui/app/helpers/style-map.js
  ui/packages/consul-ui/app/helpers/style-map.mdx
Labels: theme/ui, pr/no-changelog

#12222 ui: Flight Icon tweaks
  ui/packages/consul-ui/app/components/buttons/skin.scss
  ui/packages/consul-ui/app/components/consul/external-source/index.scss
  ui/packages/consul-ui/app/components/consul/intention/components.scss
  ui/packages/consul-ui/app/components/consul/intention/form/fieldsets/skin.scss
  ui/packages/consul-ui/app/components/pill/index.scss
  ui/packages/consul-ui/app/components/pill/layout.scss
  ui/packages/consul-ui/app/components/popover-select/index.scss
  ui/packages/consul-ui/app/styles/base/icons/base-placeholders.scss
  ui/packages/consul-ui/app/styles/icons.scss
Labels: theme/ui

#12207 ui: attach-shadow modifier
  ui/packages/consul-ui/app/helpers/adopt-styles.js
  ui/packages/consul-ui/app/helpers/adopt-styles.mdx
  ui/packages/consul-ui/app/helpers/css.js
  ui/packages/consul-ui/app/modifiers/attach-shadow.js
  ui/packages/consul-ui/app/modifiers/attach-shadow.mdx
  ui/packages/consul-ui/package.json
  ui/yarn.lock
Labels: theme/ui, pr/no-changelog, pr/no-metrics-test

#12147 packaging: fix issues in pre/postremove scripts
  .github/workflows/build.yml
  .release/linux/postremove
  .release/linux/preremove
Labels: pr/no-changelog

#12243 Update redirect-traffic.mdx
  website/content/commands/connect/redirect-traffic.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.10

#12209 ui: Alias all our Structure Icons to Flight Icons
  .changelog/12209.txt
  ui/packages/consul-ui/app/components/buttons/skin.scss
  ui/packages/consul-ui/app/components/consul/external-source/index.scss
  ui/packages/consul-ui/app/components/consul/intention/components.scss
  ui/packages/consul-ui/app/components/consul/intention/form/fieldsets/skin.scss
  ui/packages/consul-ui/app/components/pill/index.scss
  ui/packages/consul-ui/app/components/pill/layout.scss
  ui/packages/consul-ui/app/components/popover-select/index.scss
  ui/packages/consul-ui/app/styles/base/icons/base-placeholders.scss
  ui/packages/consul-ui/app/styles/base/icons/base-variables.scss
  ui/packages/consul-ui/app/styles/base/icons/debug.scss
  ui/packages/consul-ui/app/styles/base/icons/icon-placeholders.scss
  ui/packages/consul-ui/app/styles/icons.scss
Labels: theme/ui, pr/no-metrics-test

#12215 [1.11.x] Backport CA changes for external trusted CA
  agent/connect/ca/mock_Provider.go
  agent/connect/ca/provider.go
  agent/connect/ca/provider_aws.go
  agent/connect/ca/provider_aws_test.go
  agent/connect/ca/provider_consul.go
  agent/connect/ca/provider_consul_test.go
  agent/connect/ca/provider_vault.go
  agent/connect/ca/provider_vault_test.go
  agent/consul/leader_connect_ca.go
  agent/consul/leader_connect_ca_test.go
Labels: theme/connect, pr/no-changelog

#12250 acl: un-embed ACLIdentity
  agent/acl_test.go
  agent/consul/acl.go
  agent/consul/internal_endpoint.go
  agent/consul/operator_autopilot_endpoint.go
  agent/consul/operator_raft_endpoint.go
Labels: theme/internal-cleanup, pr/no-changelog

#11391 Add changelog creation to contributor docs
  .github/CONTRIBUTING.md
  docs/contributing/add-a-changelog-entry.md
  docs/contributing/fork-the-project.md
Labels: theme/contributing, pr/no-changelog

#11783 ca: add a test that uses an intermediate CA as the primary CA
  agent/connect/ca/provider_vault.go
  agent/consul/leader_connect_ca.go
  agent/consul/leader_connect_ca_test.go
Labels: theme/connect, backport/1.9, pr/no-changelog, backport/1.10, backport/1.11

#12254 docs: Fix discrepancy with sidecar min/max port range
  website/content/docs/connect/proxies/built-in.mdx
  website/content/docs/connect/registration/sidecar-service.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.10

#12242 ui: Change approach to loading debug.css
  ui/packages/consul-ui/GNUmakefile
  ui/packages/consul-ui/app/styles/app.scss
  ui/packages/consul-ui/app/styles/debug.scss
  ui/packages/consul-ui/ember-cli-build.js
  ui/packages/consul-ui/lib/colocated-components/index.js
  ui/packages/consul-ui/lib/startup/templates/head.html.js
Labels: theme/ui, pr/no-changelog

#12234 docs/nia: deprecate "services" field and "service" block
  website/content/docs/nia/configuration.mdx
  website/content/docs/nia/installation/configure.mdx
  website/content/docs/nia/installation/requirements.mdx
  website/content/docs/nia/release-notes/0-5-0.mdx
  website/content/docs/nia/tasks.mdx
  website/content/docs/nia/terraform-modules.mdx
Labels: type/docs, theme/consul-terraform-sync, pr/no-changelog

#12244 docs/nia: deprecate "source includes var" and "source input"
  website/content/docs/nia/configuration.mdx
  website/content/docs/nia/index.mdx
  website/content/docs/nia/network-drivers/terraform-cloud.mdx
  website/content/docs/nia/network-drivers/terraform.mdx
  website/content/docs/nia/release-notes/0-5-0.mdx
  website/content/docs/nia/tasks.mdx
  website/content/docs/nia/terraform-modules.mdx
Labels: type/docs, theme/consul-terraform-sync, pr/no-changelog

#12245 docs/nia: deprecate `source`
  website/content/docs/nia/api/status.mdx
  website/content/docs/nia/configuration.mdx
  website/content/docs/nia/installation/configure.mdx
  website/content/docs/nia/tasks.mdx
  website/content/docs/nia/terraform-modules.mdx
Labels: type/docs, theme/consul-terraform-sync, pr/no-changelog

#10833 docs: improve compile from source docs
  .circleci/config.yml
  GNUmakefile
  build-support/functions/20-build.sh
  build-support/scripts/build-local.sh
  website/content/docs/install/index.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12256 docs: formatting and update to consul-k8s 0.40.0
  website/content/docs/k8s/upgrade/index.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12255 docs: provide example for enabling mesh on a per namespace basis
  website/content/docs/k8s/installation/install.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#11944 Cts docs clean up
  website/content/docs/nia/compatibility.mdx
Labels: type/docs, type/docs-cherrypick, theme/consul-terraform-sync, pr/no-changelog, backport/1.11

#12264 docs: update for k8s support for igw and header manip
  website/content/docs/connect/config-entries/ingress-gateway.mdx
  website/content/docs/connect/config-entries/service-router.mdx
  website/content/docs/connect/config-entries/service-splitter.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#11962 docs: SEO improvements
  website/content/docs/intro/index.mdx
  website/content/docs/intro/usecases/index.mdx
  website/content/docs/intro/usecases/what-is-a-service-mesh.mdx
  website/data/docs-nav-data.json
  website/public/img/consul_terraform_sync_intro-consul_ui-services_status.png
  website/public/img/what_is_service_mesh_1.png
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12270 backporting the what-service-mesh page for the intro
  website/content/docs/intro/usecases/index.mdx
  website/content/docs/intro/usecases/what-is-a-service-mesh.mdx
  website/content/docs/k8s/helm.mdx
  website/data/docs-nav-data.json
  website/public/img/what_is_service_mesh_1.png
Labels: type/docs, backport/1.10, pr/no-docs

#12268 docs: mention Consul API gateway in Ingress Controllers page
  website/content/docs/k8s/connect/ingress-controllers.mdx
  website/data/docs-nav-data.json
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12267 ca: change the PrivateKey type/bits validation
  .changelog/12267.txt
  agent/connect/ca/provider_vault.go
  agent/consul/connect_ca_endpoint_test.go
  agent/consul/leader_connect_ca.go
Labels: type/bug, theme/connect, backport/1.11

#12275 Fix Security Scan
  .release/security-scan.hcl
Labels: pr/no-changelog

#12097 Fix the production dockerfile
  .github/workflows/build.yml
  .release/docker/docker-entrypoint.sh
  Dockerfile
Labels: theme/contributing, pr/no-changelog, pr/no-metrics-test

#12276 Update docker image base to alpine:3.15
  Dockerfile
Labels: pr/no-changelog, pr/no-metrics-test

#12281 Update security scanner logic
  .release/security-scan.hcl
Labels: theme/contributing, pr/no-changelog

#12265 sdk: add TestLogLevel for setting log level in tests
  agent/acl_test.go
  agent/ae/ae_test.go
  agent/consul/client_test.go
  agent/consul/leader_test.go
  agent/consul/prepared_query_endpoint_test.go
  agent/http_test.go
  agent/router/manager_internal_test.go
  agent/testagent.go
  sdk/testutil/testlog.go
Labels: theme/testing, pr/no-changelog

#11787 Add test jobs for arm64 in CircleCI
  .circleci/config.yml
Labels: type/ci, pr/no-changelog

#12189 website: display warning in IE 11
  website/pages/_document.js
  website/public/ie-custom-properties.js
  website/public/ie-warning.js
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.11

#12283 ci: fix arm64 build
  .circleci/config.yml
Labels: type/ci, pr/no-changelog

#12282 docs: updated admin partitions instructions
  website/content/docs/enterprise/admin-partitions.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-docs

#12236 xds: allow only one outstanding delta request at a time
  .changelog/12236.txt
  agent/xds/delta.go
  agent/xds/delta_test.go
Labels: type/bug, theme/envoy/xds, backport/1.10, backport/1.11

#12289 [1.10.x] xds: allow only one outstanding delta request at a time
  .changelog/12236.txt
  agent/xds/delta.go
  agent/xds/delta_test.go
  agent/xds/envoy_versioning.go
  agent/xds/envoy_versioning_test.go
Labels: theme/envoy/xds, pr/no-changelog

#12263 ui: Disclosure Component
  ui/packages/consul-ui/app/components/disclosure/README.mdx
  ui/packages/consul-ui/app/components/disclosure/action/index.hbs
  ui/packages/consul-ui/app/components/disclosure/index.hbs
  ui/packages/consul-ui/app/components/state-chart/index.js
  ui/packages/consul-ui/app/machines/boolean.xstate.js
  ui/packages/consul-ui/app/services/state-with-charts.js
Labels: theme/ui, pr/no-changelog

#12266 ui: Menu component
  ui/packages/consul-ui/app/components/menu/README.mdx
  ui/packages/consul-ui/app/components/menu/action/index.hbs
  ui/packages/consul-ui/app/components/menu/index.hbs
  ui/packages/consul-ui/app/components/menu/item/index.hbs
  ui/packages/consul-ui/app/components/menu/separator/index.hbs
Labels: theme/ui, pr/no-changelog

#11286 Add stalebot policy for closing inactive PRs
  .github/workflows/stale.yml
Labels: theme/contributing, pr/no-changelog

#12262 ui: aria-menu modifier
  ui/packages/consul-ui/app/components/menu/README.mdx
  ui/packages/consul-ui/app/components/menu/action/index.hbs
  ui/packages/consul-ui/app/components/menu/index.hbs
  ui/packages/consul-ui/app/components/menu/item/index.hbs
  ui/packages/consul-ui/app/components/menu/separator/index.hbs
  ui/packages/consul-ui/app/modifiers/aria-menu.js
  ui/packages/consul-ui/app/modifiers/aria-menu.mdx
Labels: theme/ui, pr/no-changelog

#12296 adding new tutorial
  website/content/docs/enterprise/admin-partitions.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12277 catalog: initialize the refs map to prevent a nil panic
  .changelog/12277.txt
  agent/consul/state/catalog.go
  agent/consul/state/catalog_test.go
Labels: backport/1.9, backport/1.10, backport/1.11

#12299 website: removes references to nextjs-scripts
  website/package-lock.json
  website/package.json
  website/pages/_app.js
  website/pages/home/index.tsx
  website/pages/use-cases/[slug].tsx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12285 Make README header look good in dark mode
  README.md
  website/public/img/logo.svg
Labels: type/docs, pr/no-changelog

#12195 Prevent xDS tight loop on cfg errors
  .changelog/12195.txt
  agent/xds/delta.go
  agent/xds/delta_test.go
  agent/xds/xds_protocol_helpers_test.go
Labels: backport/1.10, backport/1.11

#12310 Prevent xDS tight loop on cfg errors [1.10.x]
  .changelog/12195.txt
  agent/xds/delta.go
  agent/xds/delta_test.go
  agent/xds/xds_protocol_helpers_test.go
Labels: theme/envoy/xds, pr/no-changelog

#12309 Prevent xDS tight loop on cfg errors [1.11.x]
  .changelog/12195.txt
  agent/xds/delta.go
  agent/xds/delta_test.go
  agent/xds/xds_protocol_helpers_test.go
Labels: theme/envoy/xds, pr/no-changelog

#12223 Prevent duplicate passthrough addresses
  .changelog/12223.txt
  agent/consul/gateway_locator.go
  agent/proxycfg/connect_proxy.go
  agent/proxycfg/manager_test.go
  agent/proxycfg/naming.go
  agent/proxycfg/naming_test.go
  agent/proxycfg/snapshot.go
  agent/proxycfg/state.go
  agent/proxycfg/state_test.go
  agent/proxycfg/upstreams.go
  agent/structs/structs.go
  agent/structs/structs_test.go
  agent/xds/clusters.go
  agent/xds/clusters_test.go
  agent/xds/endpoints.go
  agent/xds/listeners.go
  agent/xds/listeners_test.go
  agent/xds/testdata/clusters/transparent-proxy-dial-instances-directly.envoy-1-20-x.golden
  agent/xds/testdata/listeners/transparent-proxy-dial-instances-directly.envoy-1-20-x.golden
Labels: theme/envoy/xds

#12312 [1.9.x] Fix the build
  agent/consul/state/catalog_test.go
Labels: pr/no-changelog

#12315 ui: Stop ember-data overwriting SyncTimes
  .changelog/12315.txt
  ui/packages/consul-ui/app/services/repository.js
Labels: theme/ui, backport/1.11

#12317 ui: Make sure saving intentions from topology includes the partition
  .changelog/12317.txt
  ui/packages/consul-ui/app/routes/dc/services/show/topology.js
Labels: theme/ui, backport/1.11

#12304 ui: Disclosure Component amends plus DisclosureMenu Component
  ui/packages/consul-ui/app/components/disclosure-menu/README.mdx
  ui/packages/consul-ui/app/components/disclosure-menu/action/index.hbs
  ui/packages/consul-ui/app/components/disclosure-menu/index.hbs
  ui/packages/consul-ui/app/components/disclosure-menu/index.scss
  ui/packages/consul-ui/app/components/disclosure-menu/menu/index.hbs
  ui/packages/consul-ui/app/components/disclosure/README.mdx
  ui/packages/consul-ui/app/components/disclosure/action/index.hbs
  ui/packages/consul-ui/app/components/disclosure/details/index.hbs
  ui/packages/consul-ui/app/components/disclosure/index.hbs
  ui/packages/consul-ui/app/components/disclosure/index.js
  ui/packages/consul-ui/app/styles/components.scss
Labels: theme/ui, pr/no-changelog

#12318 ensure make dev target puts the newly constructed binary onto the PATH
  GNUmakefile
Labels: pr/no-changelog, backport/1.11

#12313 Prevent duplicate passthrough addresses [1.11.x]
  .changelog/12223.txt
  agent/consul/gateway_locator.go
  agent/proxycfg/connect_proxy.go
  agent/proxycfg/manager_test.go
  agent/proxycfg/snapshot.go
  agent/proxycfg/state.go
  agent/proxycfg/state_test.go
  agent/proxycfg/upstreams.go
  agent/structs/structs.go
  agent/structs/structs_test.go
  agent/xds/clusters.go
  agent/xds/clusters_test.go
  agent/xds/endpoints.go
  agent/xds/listeners.go
  agent/xds/listeners_test.go
  agent/xds/testdata/clusters/transparent-proxy-dial-instances-directly.envoy-1-20-x.golden
  agent/xds/testdata/listeners/transparent-proxy-dial-instances-directly.envoy-1-20-x.golden
Labels: theme/envoy/xds, pr/no-changelog

#12314 Prevent duplicate passthrough addresses [1.10.x]
  .changelog/12223.txt
  agent/consul/gateway_locator.go
  agent/proxycfg/manager_test.go
  agent/proxycfg/snapshot.go
  agent/proxycfg/state.go
  agent/proxycfg/state_test.go
  agent/structs/structs.go
  agent/structs/structs_test.go
  agent/xds/clusters.go
  agent/xds/clusters_test.go
  agent/xds/endpoints.go
  agent/xds/listeners.go
  agent/xds/listeners_test.go
  agent/xds/testdata/clusters/transparent-proxy-dial-instances-directly.envoy-1-18-x.golden
  agent/xds/testdata/clusters/transparent-proxy-dial-instances-directly.v2compat.envoy-1-16-x.golden
  agent/xds/testdata/listeners/transparent-proxy-dial-instances-directly.envoy-1-18-x.golden
  agent/xds/testdata/listeners/transparent-proxy-dial-instances-directly.v2compat.envoy-1-16-x.golden
Labels: theme/envoy/xds, pr/no-changelog

#12308 Refactor to make ACL errors more structured.
  .changelog/12308.txt
  acl/errors.go
  acl/errors_oss.go
  acl/errors_test.go
  agent/acl.go
  agent/agent_endpoint.go
  agent/consul/operator_autopilot_endpoint.go
Labels: theme/acls

#12324 local: fixes a data race in anti-entropy sync
  .changelog/12324.txt
  agent/local/state.go
  agent/local/state_test.go
Labels: backport/1.11

#12330 [1.11.x] local: fixes a data race in anti-entropy sync
  .changelog/12324.txt
  agent/local/state.go
  agent/local/state_test.go
Labels: pr/no-changelog

#12311 Vendor in rpc mono repo for net/rpc fork, go-msgpack, msgpackrpc.
  agent/connect/ca/provider_test.go
  agent/consul/acl_endpoint_test.go
  agent/consul/acl_test.go
  agent/consul/authmethod/kubeauth/k8s_test.go
  agent/consul/auto_config_endpoint_test.go
  agent/consul/auto_encrypt_endpoint_test.go
  agent/consul/catalog_endpoint_test.go
  agent/consul/client_test.go
  agent/consul/cluster_test.go
  agent/consul/config_endpoint_test.go
  agent/consul/connect_ca_endpoint_test.go
  agent/consul/coordinate_endpoint_test.go
  agent/consul/discovery_chain_endpoint_test.go
  agent/consul/federation_state_endpoint_test.go
  agent/consul/fsm/fsm.go
  agent/consul/fsm/snapshot.go
  agent/consul/fsm/snapshot_oss.go
  agent/consul/fsm/snapshot_oss_test.go
  agent/consul/health_endpoint_test.go
  agent/consul/helper_test.go
  agent/consul/intention_endpoint_test.go
  agent/consul/internal_endpoint_test.go
  agent/consul/kvs_endpoint_test.go
  agent/consul/leader_connect_ca_test.go
  agent/consul/leader_connect_test.go
  agent/consul/leader_test.go
  agent/consul/operator_autopilot_endpoint_test.go
  agent/consul/operator_raft_endpoint_test.go
  agent/consul/prepared_query_endpoint_test.go
  agent/consul/rpc.go
  agent/consul/rpc_test.go
  agent/consul/rtt_test.go
  agent/consul/server.go
  agent/consul/server_test.go
  agent/consul/session_endpoint_test.go
  agent/consul/session_ttl_test.go
  agent/consul/snapshot_endpoint.go
  agent/consul/snapshot_endpoint_test.go
  agent/consul/status_endpoint_test.go
  agent/consul/txn_endpoint_test.go
  agent/pool/pool.go
  agent/structs/config_entry.go
  agent/structs/config_entry_test.go
  agent/structs/structs.go
  agent/structs/testing.go
  agent/user_event.go
  command/snapshot/inspect/snapshot_inspect.go
  go.mod
  go.sum
  lib/eof.go
  lib/eof_test.go
  snapshot/snapshot_test.go
Labels: theme/cli, theme/connect, pr/dependencies, theme/internals, pr/no-changelog

#12332 Update version.js for Consul 1.11.3
  website/data/version.js
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12333 Add release notes from 1.11.3, 1.10.8 and 1.9.15
  CHANGELOG.md
Labels: pr/no-changelog

#12325 raft: update to v1.3.5
  .changelog/12325.txt
  api/go.sum
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
Labels: theme/api, pr/dependencies, backport/1.10, backport/1.11

#12339 [1.11.x] raft: update to v1.3.5
  .changelog/12325.txt
  api/go.sum
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
Labels: theme/api, pr/dependencies, pr/no-changelog

#12335 Merge changes from release/1.11.3
  CHANGELOG.md
  version/version.go
Labels: theme/contributing, pr/no-changelog

#12340 [1.10.x] raft: update to v1.3.5
  .changelog/12325.txt
  go.mod
  go.sum
  vendor/github.com/hashicorp/raft/api.go
  vendor/github.com/hashicorp/raft/config.go
  vendor/github.com/hashicorp/raft/configuration.go
  vendor/github.com/hashicorp/raft/fsm.go
  vendor/github.com/hashicorp/raft/log.go
  vendor/github.com/hashicorp/raft/progress.go
  vendor/github.com/hashicorp/raft/raft.go
  vendor/github.com/hashicorp/raft/util.go
  vendor/modules.txt
Labels: theme/api, pr/dependencies, pr/no-changelog

#12321 server: conditionally avoid writing a config entry to raft if it was already the same
  .changelog/12321.txt
  agent/consul/config_endpoint.go
  agent/consul/config_endpoint_test.go
Labels: backport/1.10, backport/1.11

#12303 docs/nia - Get Task API docs & Task Status API deprecations
  website/content/docs/nia/api/status.mdx
  website/content/docs/nia/api/tasks.mdx
  website/content/docs/nia/configuration.mdx
Labels: type/docs, theme/consul-terraform-sync, pr/no-changelog

#12341 [1.10.x] server: conditionally avoid writing a config entry to raft if it was already the same
  .changelog/12321.txt
  agent/consul/config_endpoint.go
  agent/consul/config_endpoint_test.go
Labels: pr/no-changelog

#12327 Cts create api
  website/content/docs/nia/api/tasks.mdx
  website/content/docs/nia/cli/task.mdx
Labels: type/docs, theme/consul-terraform-sync

#12336 Merge changes from release/1.10.8
  CHANGELOG.md
  version/version.go
Labels: theme/contributing, pr/no-changelog

#12249 ci: Fix merge conflicts cleanly
  .circleci/config.yml
Labels: type/ci, pr/no-changelog

#12355 docs/nia: Update task delete with async behavior
  website/content/docs/nia/api/tasks.mdx
  website/content/docs/nia/cli/task.mdx
Labels: type/docs, theme/consul-terraform-sync

#12346 ci: fix stalebot config
  .github/workflows/stale.yml
Labels: theme/contributing, pr/no-changelog

#12357 update create task CLI with new changes from code
  website/content/docs/nia/cli/task.mdx
Labels: type/docs, theme/consul-terraform-sync

#12343 rpc: improve docs for blockingQuery
  agent/consul/gateway_locator.go
  agent/consul/gateway_locator_test.go
  agent/consul/rpc.go
Labels: pr/no-changelog, pr/no-metrics-test

#12360 update create task api and cli
  website/content/docs/nia/api/tasks.mdx
  website/content/docs/nia/cli/task.mdx
Labels: type/docs, theme/consul-terraform-sync

#12361 docs/nia: Fix hyphens in CTS CLI output
  website/content/docs/nia/cli/task.mdx
Labels: type/docs, theme/consul-terraform-sync

#12359 debug: limit the size of the trace
  .changelog/12359.txt
  command/debug/debug.go
  website/content/commands/debug.mdx
Labels: type/enhancement, theme/cli, backport/1.9, backport/1.10, pr/no-metrics-test, backport/1.11

#12323 Separate Annotations/Labels and Add `service-ignore` to Docs
  website/content/docs/k8s/annotations-and-labels.mdx
  website/content/docs/k8s/connect/index.mdx
  website/data/docs-nav-data.json
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12365 Move IndexEntryName helpers to common files
  agent/consul/state/kvs_oss.go
  agent/consul/state/schema_oss.go
Labels: theme/internal-cleanup, pr/no-changelog

#12367 Fix build script
  build-support/functions/20-build.sh
Labels: pr/no-changelog

#12347 [1.9.x] Backport CRT-related fixes
  .github/workflows/build.yml
  .release/ci.hcl
  .release/linux/preremove
  .release/security-scan.hcl
  Dockerfile
Labels: theme/contributing, pr/no-changelog

#12348 [1.10.x] Backport CRT-related fixes
  .github/workflows/build.yml
  .release/ci.hcl
  .release/linux/preremove
  .release/security-scan.hcl
  Dockerfile
Labels: theme/contributing, pr/no-changelog

#12349 [1.11.x] Backport CRT-related fixes
  .github/workflows/build.yml
  .release/ci.hcl
  .release/linux/preremove
  .release/security-scan.hcl
  Dockerfile
Labels: theme/contributing, pr/no-changelog

#12098 Support for connect native services in topology view.
  .changelog/12098.txt
  agent/consul/state/catalog.go
  agent/ui_endpoint.go
  agent/ui_endpoint_test.go
  ui/packages/consul-ui/app/components/topology-metrics/down-lines/index.hbs
  ui/packages/consul-ui/app/models/topology.js
Labels: theme/ui, pr/no-metrics-test

#12379 docs/nia: Clarify infrastructure is not destroyed on task deletion
  website/content/docs/nia/api/tasks.mdx
  website/content/docs/nia/cli/task.mdx
Labels: type/docs, theme/consul-terraform-sync

#12382 docs: uploaded two images and added new text to Consul Int. Program page
  website/content/docs/integrate/partnerships.mdx
  website/public/img/HCPc_badge.png
  website/public/img/consul_enterprise_partner_badge.png
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12370 Parse datacenter from request
  .changelog/12370.txt
  agent/acl_endpoint.go
  agent/acl_endpoint_test.go
Labels: type/bug, backport/1.9, backport/1.10, backport/1.11

#12380 Add missing enhancement entries to appropriate spot in CHANGELOG
  CHANGELOG.md
Labels: pr/no-changelog

#10972 fix godoc comment for Namespaces client method
  api/namespace.go
Labels: theme/api, pr/no-changelog, meta/stale

#11175 Update docs: correct provider argument is tag_key
  website/content/docs/install/cloud-auto-join.mdx
Labels: waiting-reply, meta/stale

#12305 ui: Replace CollapsibleNotices with more a11y focussed Disclosure component
  .changelog/12305.txt
  ui/packages/consul-ui/app/components/collapsible-notices/README.mdx
  ui/packages/consul-ui/app/components/collapsible-notices/index.hbs
  ui/packages/consul-ui/app/components/collapsible-notices/index.js
  ui/packages/consul-ui/app/components/collapsible-notices/index.scss
  ui/packages/consul-ui/app/components/route/index.hbs
  ui/packages/consul-ui/app/components/route/index.js
  ui/packages/consul-ui/app/components/topology-metrics/layout.scss
  ui/packages/consul-ui/app/components/topology-metrics/notice/index.hbs
  ui/packages/consul-ui/app/components/topology-metrics/skin.scss
  ui/packages/consul-ui/app/helpers/collapsible-notices.js
  ui/packages/consul-ui/app/styles/components.scss
  ui/packages/consul-ui/app/templates/dc/services/show/topology.hbs
  ui/packages/consul-ui/translations/components/consul/en-us.yaml
  ui/packages/consul-ui/translations/routes/en-us.yaml
Labels: theme/ui, pr/no-metrics-test

#12316 ui: Fixup displaying a Nspace default policy when expanding the preview pane
  .changelog/12316.txt
  ui/packages/consul-ui/app/serializers/nspace.js
Labels: theme/ui, backport/1.9, backport/1.10, pr/no-metrics-test, backport/1.11

#12358 ui: Remove class-map reference from 1.11
  .changelog/12358.txt
  ui/packages/consul-ui/app/components/consul/instance-checks/index.hbs
Labels: theme/ui, pr/no-changelog

#12389 rpc: set response to nil when not found
  agent/consul/config_endpoint.go
  agent/consul/federation_state_endpoint.go
  agent/consul/rpc.go
Labels: pr/no-changelog

#12385 xds: respect chain protocol on default discovery chain
  .changelog/12385.txt
  agent/xds/listeners.go
  agent/xds/listeners_test.go
  agent/xds/testdata/listeners/transparent-proxy-http-upstream.envoy-1-20-x.golden
Labels: theme/envoy/xds, backport/1.10, backport/1.11

#11138 checks: populate interval and timeout when registering services
  .changelog/11138.txt
  agent/agent.go
  agent/agent_test.go
Labels: meta/stale, backport/1.11

#12334 ui: Transition App Chrome to use new Disclosure Menus
  .changelog/12334.txt
  ui/packages/consul-acls/app/components/consul/token/selector/index.hbs
  ui/packages/consul-nspaces/app/components/consul/nspace/selector/index.hbs
  ui/packages/consul-partitions/app/components/consul/partition/selector/index.hbs
  ui/packages/consul-ui/app/components/app/index.scss
  ui/packages/consul-ui/app/components/consul/datacenter/selector/index.hbs
  ui/packages/consul-ui/app/components/disclosure-menu/README.mdx
  ui/packages/consul-ui/app/components/disclosure-menu/index.hbs
  ui/packages/consul-ui/app/components/disclosure-menu/index.scss
  ui/packages/consul-ui/app/components/disclosure-menu/menu/index.hbs
  ui/packages/consul-ui/app/components/hashicorp-consul/index.hbs
  ui/packages/consul-ui/app/components/hashicorp-consul/index.scss
  ui/packages/consul-ui/app/components/hashicorp-consul/pageobject.js
  ui/packages/consul-ui/app/components/main-nav-horizontal/index.scss
  ui/packages/consul-ui/app/components/main-nav-horizontal/skin.scss
  ui/packages/consul-ui/app/components/main-nav-vertical/index.scss
  ui/packages/consul-ui/app/components/main-nav-vertical/layout.scss
  ui/packages/consul-ui/app/components/main-nav-vertical/skin.scss
  ui/packages/consul-ui/app/components/menu-panel/README.mdx
  ui/packages/consul-ui/app/components/menu-panel/deprecated.scss
  ui/packages/consul-ui/app/components/menu-panel/index.hbs
  ui/packages/consul-ui/app/components/menu-panel/index.scss
  ui/packages/consul-ui/app/components/menu-panel/layout.scss
  ui/packages/consul-ui/app/components/menu-panel/skin.scss
  ui/packages/consul-ui/app/components/menu/action/index.hbs
  ui/packages/consul-ui/app/components/menu/index.hbs
  ui/packages/consul-ui/app/components/menu/separator/index.hbs
  ui/packages/consul-ui/app/components/panel/README.mdx
  ui/packages/consul-ui/app/components/panel/debug.scss
  ui/packages/consul-ui/app/components/panel/index.scss
  ui/packages/consul-ui/app/components/panel/layout.scss
  ui/packages/consul-ui/app/components/panel/skin.scss
  ui/packages/consul-ui/app/components/popover-select/index.scss
  ui/packages/consul-ui/app/components/state-chart/index.js
  ui/packages/consul-ui/app/styles/components.scss
  ui/packages/consul-ui/app/styles/debug.scss
  ui/packages/consul-ui/tests/steps/interactions/click.js
Labels: theme/ui, pr/no-metrics-test

#12301 file watcher to be used for configuration auto-reload feature
  agent/config/file_watcher.go
  agent/config/file_watcher_test.go
  go.mod
  go.sum
Labels: theme/config, pr/dependencies, pr/no-changelog

#12384 configentry: make a new package to hold shared config entry structs that aren't used for RPC or the FSM
  agent/configentry/config_entry.go
  agent/configentry/discoverychain.go
  agent/configentry/doc.go
  agent/consul/discoverychain/compile.go
  agent/consul/discoverychain/compile_test.go
  agent/consul/discoverychain/testing.go
  agent/consul/leader_intentions_test.go
  agent/consul/state/config_entry.go
  agent/consul/state/config_entry_oss.go
  agent/consul/state/config_entry_oss_test.go
  agent/consul/state/config_entry_test.go
  agent/structs/config_entry_discoverychain.go
Labels: pr/no-changelog, backport/1.10, backport/1.11

#12406 fix reference merged in 67547c68aa778123d385aae193f00b359cd946ae
  agent/xds/listeners_test.go
Labels: theme/envoy/xds, pr/no-changelog, backport/1.10

#11910 ca: add support for an external trusted CA
  .changelog/11910.txt
  agent/connect/ca/common.go
  agent/connect/ca/provider.go
  agent/connect/ca/provider_consul.go
  agent/connect/ca/provider_vault.go
  agent/connect/generate.go
  agent/connect/parsing.go
  agent/connect/testing_ca.go
  agent/consul/leader_connect_ca.go
  agent/consul/leader_connect_ca_test.go
  agent/consul/leader_connect_test.go
  agent/consul/testdata/cert-with-ec-256-key.pem
  agent/consul/testdata/cert-with-ec-384-key.pem
  agent/consul/testdata/cert-with-rsa-4096-key.pem
  agent/consul/testdata/pem-with-three-certs.pem
  agent/consul/testdata/pem-with-two-certs.pem
  agent/structs/connect_ca.go
  website/content/docs/connect/ca/vault.mdx
Labels: type/enhancement, theme/connect, backport/1.9, backport/1.10, backport/1.11

#12391 [1.10.x] ca: add support for an external trusted CA
  .changelog/11910.txt
  agent/connect/ca/common.go
  agent/connect/ca/provider.go
  agent/connect/ca/provider_consul.go
  agent/connect/ca/provider_vault.go
  agent/connect/generate.go
  agent/connect/parsing.go
  agent/connect/testing_ca.go
  agent/consul/leader_connect_ca.go
  agent/consul/leader_connect_ca_test.go
  agent/consul/leader_connect_test.go
  agent/consul/testdata/cert-with-ec-256-key.pem
  agent/consul/testdata/cert-with-ec-384-key.pem
  agent/consul/testdata/cert-with-rsa-4096-key.pem
  agent/consul/testdata/pem-with-three-certs.pem
  agent/consul/testdata/pem-with-two-certs.pem
  agent/structs/connect_ca.go
  website/content/docs/connect/ca/vault.mdx
Labels: type/docs, theme/connect, pr/no-changelog

#12392 [1.9.x] ca: add support for an external trusted CA
  .changelog/11910.txt
  agent/connect/ca/common.go
  agent/connect/ca/provider.go
  agent/connect/ca/provider_consul.go
  agent/connect/ca/provider_vault.go
  agent/connect/generate.go
  agent/connect/parsing.go
  agent/connect/testing_ca.go
  agent/consul/leader_connect_ca.go
  agent/consul/leader_connect_ca_test.go
  agent/consul/leader_connect_test.go
  agent/consul/testdata/cert-with-ec-256-key.pem
  agent/consul/testdata/cert-with-ec-384-key.pem
  agent/consul/testdata/cert-with-rsa-4096-key.pem
  agent/consul/testdata/pem-with-three-certs.pem
  agent/consul/testdata/pem-with-two-certs.pem
  agent/structs/connect_ca.go
  website/content/docs/connect/ca/vault.mdx
Labels: type/docs, theme/connect, pr/no-changelog

#12396 Backport 1.10.x: tproxy http upstream fix
  agent/xds/listeners_test.go
  agent/xds/testdata/listeners/transparent-proxy-http-upstream.envoy-1-18-x.golden
  agent/xds/testdata/listeners/transparent-proxy-http-upstream.v2compat.envoy-1-16-x.golden
Labels: theme/envoy/xds, pr/no-changelog

#12395 Backport 1.11.x: tproxy http upstream fix
  agent/xds/listeners_test.go
  agent/xds/testdata/listeners/transparent-proxy-http-upstream.envoy-1-20-x.golden
Labels: theme/envoy/xds, pr/no-changelog

#12413 [1.11.x] xds: fix some test assertions for enterprise
  agent/xds/listeners_test.go
Labels: theme/envoy/xds, pr/no-changelog

#12414 [1.10.x] configentry: make a new package to hold shared config entry structs that aren't used for RPC or the FSM
  agent/configentry/config_entry.go
  agent/configentry/discoverychain.go
  agent/configentry/doc.go
  agent/consul/discoverychain/compile.go
  agent/consul/discoverychain/compile_test.go
  agent/consul/discoverychain/testing.go
  agent/consul/leader_intentions_test.go
  agent/consul/state/config_entry.go
  agent/consul/state/config_entry_oss.go
  agent/consul/state/config_entry_oss_test.go
  agent/consul/state/config_entry_test.go
  agent/structs/config_entry_discoverychain.go
Labels: pr/no-changelog

#12418 [1.11.x] docs: Backport add JSON examples to UI visualization
  website/content/docs/connect/observability/ui-visualization.mdx
Labels: type/docs, pr/no-changelog

#12417 docs: Add HCL examples to watch configs
  website/content/docs/dynamic-app-config/watches.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.11

#12423 Add list of support K8s Gateway API Spec features
  website/content/docs/api-gateway/kubernetes-features.mdx
  website/data/docs-nav-data.json
Labels: type/docs

#12408 [1.11.x] ca: add support for an external trusted CA
  .changelog/11910.txt
  agent/connect/ca/common.go
  agent/connect/ca/provider.go
  agent/connect/ca/provider_consul.go
  agent/connect/ca/provider_vault.go
  agent/connect/generate.go
  agent/connect/parsing.go
  agent/connect/testing_ca.go
  agent/consul/leader_connect_ca.go
  agent/consul/leader_connect_ca_test.go
  agent/consul/leader_connect_test.go
  agent/consul/testdata/cert-with-ec-256-key.pem
  agent/consul/testdata/cert-with-ec-384-key.pem
  agent/consul/testdata/cert-with-rsa-4096-key.pem
  agent/consul/testdata/pem-with-three-certs.pem
  agent/consul/testdata/pem-with-two-certs.pem
  agent/structs/connect_ca.go
  website/content/docs/connect/ca/vault.mdx
Labels: type/docs, theme/connect, pr/no-changelog

#12228 Document Consul ECS Resource Usage
  website/content/docs/ecs/task-resource-usage.mdx
  website/data/docs-nav-data.json
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12381 nia/docs 0.5.0
  website/content/docs/nia/api/index.mdx
  website/content/docs/nia/api/status.mdx
  website/content/docs/nia/api/tasks.mdx
  website/content/docs/nia/architecture.mdx
  website/content/docs/nia/cli/index.mdx
  website/content/docs/nia/cli/task.mdx
  website/content/docs/nia/configuration.mdx
  website/content/docs/nia/enterprise/license.mdx
  website/content/docs/nia/index.mdx
  website/content/docs/nia/installation/configure.mdx
  website/content/docs/nia/installation/install.mdx
  website/content/docs/nia/installation/requirements.mdx
  website/content/docs/nia/installation/run.mdx
  website/content/docs/nia/lorna.txt
  website/content/docs/nia/network-drivers/index.mdx
  website/content/docs/nia/network-drivers/terraform-cloud.mdx
  website/content/docs/nia/network-drivers/terraform.mdx
  website/content/docs/nia/release-notes/0-5-0.mdx
  website/content/docs/nia/tasks.mdx
  website/content/docs/nia/terraform-modules.mdx
  website/data/docs-nav-data.json
Labels: type/docs, type/docs-cherrypick, theme/consul-terraform-sync, pr/no-changelog

#12425 add changelog entry for enterprise only change
  .changelog/_1563.txt
Labels: backport/1.9, pr/no-changelog, backport/1.10, backport/1.11

#12338 Updating consul on k8s to remove known limitations of serverAdditionalDNSSans and serverAdditionalIPSans
  website/content/docs/k8s/installation/vault/index.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12375 Adding documentation to store Enterprise License in Vault
  website/content/docs/k8s/installation/deployment-configurations/consul-enterprise.mdx
  website/content/docs/k8s/installation/vault/enterprise-license.mdx
  website/data/docs-nav-data.json
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12430 auto-updated agent/uiserver/bindata_assetfs.go from commit 73b6687c5
  agent/uiserver/bindata_assetfs.go
Labels: pr/no-changelog

#12307 server: partly fix config entry replication issue that prevents replication in some circumstances
  .changelog/12307.txt
  agent/consul/config_replication.go
  agent/consul/config_replication_test.go
Labels: backport/1.9, backport/1.10, pr/no-metrics-test, backport/1.11

#12428 add multiport docs for K8s
  website/content/docs/k8s/connect/index.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12431 docs: set tproxy annotation to false for multi-port
  website/content/docs/k8s/connect/index.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12424 [1.9.x] server: conditionally avoid writing a config entry to raft if it was already the same
  .changelog/12321.txt
  agent/consul/config_endpoint.go
  agent/consul/config_endpoint_test.go
Labels: pr/no-changelog

#12437 [1.9.x] server: partly fix config entry replication issue that prevents replication in some circumstances
  .changelog/12307.txt
  agent/consul/config_replication.go
  agent/consul/config_replication_test.go
Labels: pr/no-changelog

#12441 docs: added example for service-router retry
  website/content/docs/connect/config-entries/service-router.mdx
Labels: type/docs, type/docs-cherrypick

#12387 Remove setup-qemu step from Docker build job
  .github/workflows/build.yml
Labels: theme/contributing, pr/no-changelog, pr/no-metrics-test

#12416 website: update API Gateway docs for v0.1.0 GA release
  website/content/docs/api-gateway/api-gateway-usage.mdx
  website/content/docs/api-gateway/index.mdx
  website/content/docs/api-gateway/tech-specs.mdx
  website/data/docs-nav-data.json
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12444 catalog: compare node names case insensitively in more places
  .changelog/12444.txt
  agent/catalog_endpoint_test.go
  agent/checks/alias.go
  agent/checks/alias_test.go
  agent/consul/catalog_endpoint.go
  agent/consul/catalog_endpoint_test.go
  agent/consul/leader.go
  agent/consul/leader_test.go
  agent/consul/merge.go
  agent/consul/merge_test.go
  agent/consul/prepared_query_endpoint.go
  agent/consul/server_oss.go
  agent/consul/state/catalog.go
  agent/consul/state/catalog_events.go
  agent/consul/state/catalog_events_oss.go
  agent/consul/state/catalog_test.go
  agent/consul/util.go
  agent/structs/structs.go
  agent/structs/structs_test.go
  command/rtt/rtt.go
  command/rtt/rtt_test.go
Labels: theme/cli, backport/1.11

#12433 [1.11.x] Add support for Envoy 1.20.2
  .changelog/12433.txt
  .circleci/config.yml
  agent/xds/envoy_versioning_test.go
  agent/xds/proxysupport/proxysupport.go
  test/integration/connect/envoy/helpers.bash
  test/integration/connect/envoy/run-tests.sh
Labels: type/ci, theme/envoy/xds, pr/no-changelog

#12446 fix flaky test panic
  agent/consul/leader_test.go
Labels: pr/no-changelog, backport/1.11

#12443 connect: Upgrade Envoy 1.20 to 1.20.2
  .changelog/12443.txt
  .circleci/config.yml
  agent/xds/envoy_versioning_test.go
  agent/xds/proxysupport/proxysupport.go
  test/integration/connect/envoy/helpers.bash
  test/integration/connect/envoy/run-tests.sh
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/ci, theme/envoy/xds, type/docs-cherrypick

#12410 ui: [Backport 1.10.x] Fixup displaying a Nspace default policy when expanding the preview pane
  .changelog/12316.txt
  ui/packages/consul-ui/app/serializers/nspace.js
Labels: theme/ui, pr/no-changelog

#12436 ui: Use PagedCollection
  ui/packages/consul-nspaces/app/components/consul/nspace/selector/index.hbs
  ui/packages/consul-partitions/app/components/consul/partition/selector/index.hbs
  ui/packages/consul-ui/app/components/consul/datacenter/selector/index.hbs
  ui/packages/consul-ui/app/components/disclosure-menu/README.mdx
  ui/packages/consul-ui/app/components/disclosure-menu/index.hbs
  ui/packages/consul-ui/app/components/disclosure-menu/index.scss
  ui/packages/consul-ui/app/components/disclosure-menu/menu/index.hbs
  ui/packages/consul-ui/app/components/hashicorp-consul/index.scss
  ui/packages/consul-ui/app/components/menu/index.hbs
Labels: theme/ui

#12378 Adding post-publish events to ci.hcl.
  .release/ci.hcl
Labels: pr/do-not-merge, backport/1.8, backport/1.9, pr/no-changelog, backport/1.10, backport/1.11

#12450 [1.10.x] connect: Update supported Envoy versions to include 1.18.6
  .changelog/12450.txt
  .circleci/config.yml
  agent/xds/envoy_versioning_test.go
  agent/xds/proxysupport/proxysupport.go
  test/integration/connect/envoy/helpers.bash
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, type/ci, theme/envoy/xds, type/docs-cherrypick

#12449 connect: Update supported Envoy versions to include 1.19.3 and 1.18.6
  .changelog/12449.txt
  .circleci/config.yml
  agent/xds/envoy_versioning_test.go
  agent/xds/proxysupport/proxysupport.go
  test/integration/connect/envoy/helpers.bash
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, type/ci, theme/envoy/xds, type/docs-cherrypick, backport/1.11

#12447 [1.10.x] docs: Update Envoy support matrix
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12454 [1.11.x] backport of a series of blocking query readability and functionality improvements
  .changelog/12110.txt
  agent/consul/acl_endpoint.go
  agent/consul/config_endpoint.go
  agent/consul/config_endpoint_test.go
  agent/consul/coordinate_endpoint.go
  agent/consul/federation_state_endpoint.go
  agent/consul/gateway_locator.go
  agent/consul/gateway_locator_test.go
  agent/consul/kvs_endpoint.go
  agent/consul/rpc.go
  agent/consul/rpc_test.go
  agent/consul/session_endpoint.go
  agent/consul/txn_endpoint_test.go
  agent/structs/structs.go
  agent/txn_endpoint_test.go
Labels: pr/no-changelog

#12362 server: suppress spurious blocking query returns where multiple config entries are involved
  .changelog/12362.txt
  agent/configentry/config_entry.go
  agent/configentry/service_config.go
  agent/consul/config_endpoint.go
  agent/consul/config_endpoint_test.go
  agent/consul/discovery_chain_endpoint.go
  agent/consul/discovery_chain_endpoint_test.go
  agent/consul/intention_endpoint.go
  agent/consul/intention_endpoint_test.go
  agent/consul/internal_endpoint.go
  agent/consul/internal_endpoint_test.go
  agent/consul/rpc.go
  agent/consul/rpc_test.go
  agent/consul/state/config_entry.go
  go.mod
  go.sum
Labels: backport/1.11

#12456 [1.10.x] backport of a series of blocking query readability and functionality improvements
  .changelog/12110.txt
  agent/consul/acl_endpoint.go
  agent/consul/config_endpoint.go
  agent/consul/config_endpoint_test.go
  agent/consul/coordinate_endpoint.go
  agent/consul/federation_state_endpoint.go
  agent/consul/gateway_locator.go
  agent/consul/gateway_locator_test.go
  agent/consul/kvs_endpoint.go
  agent/consul/rpc.go
  agent/consul/rpc_test.go
  agent/consul/session_endpoint.go
  agent/consul/txn_endpoint.go
  agent/consul/txn_endpoint_test.go
  agent/structs/structs.go
  agent/txn_endpoint_test.go
Labels: pr/no-changelog

#12457 [1.11.x] server: suppress spurious blocking query returns where multiple config entries are involved
  .changelog/12362.txt
  agent/configentry/config_entry.go
  agent/configentry/service_config.go
  agent/consul/config_endpoint.go
  agent/consul/config_endpoint_test.go
  agent/consul/discovery_chain_endpoint.go
  agent/consul/discovery_chain_endpoint_test.go
  agent/consul/intention_endpoint.go
  agent/consul/intention_endpoint_test.go
  agent/consul/internal_endpoint.go
  agent/consul/internal_endpoint_test.go
  agent/consul/rpc.go
  agent/consul/rpc_test.go
  agent/consul/state/config_entry.go
  go.mod
  go.sum
Labels: pr/dependencies, pr/no-changelog

#12459 [1.10.x] server: suppress spurious blocking query returns where multiple config entries are involved
  .changelog/12362.txt
  agent/configentry/config_entry.go
  agent/configentry/service_config.go
  agent/consul/config_endpoint.go
  agent/consul/config_endpoint_test.go
  agent/consul/discovery_chain_endpoint.go
  agent/consul/discovery_chain_endpoint_test.go
  agent/consul/intention_endpoint.go
  agent/consul/intention_endpoint_test.go
  agent/consul/internal_endpoint.go
  agent/consul/internal_endpoint_test.go
  agent/consul/rpc.go
  agent/consul/rpc_test.go
  agent/consul/state/config_entry.go
  go.mod
  go.sum
  vendor/github.com/mitchellh/hashstructure/v2/LICENSE
  vendor/github.com/mitchellh/hashstructure/v2/README.md
  vendor/github.com/mitchellh/hashstructure/v2/errors.go
  vendor/github.com/mitchellh/hashstructure/v2/go.mod
  vendor/github.com/mitchellh/hashstructure/v2/hashstructure.go
  vendor/github.com/mitchellh/hashstructure/v2/include.go
  vendor/modules.txt
Labels: pr/dependencies, pr/no-changelog

#12411 ui: [Backport 1.9.x] Fixup displaying a Nspace default policy when expanding the preview pane
  .changelog/12316.txt
  ui/packages/consul-ui/app/serializers/nspace.js
Labels: theme/ui, pr/no-changelog

#12465 update helm docs for release 0.41.1
  website/content/docs/k8s/helm.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12455 Enterprise license FAQ improvements
  website/content/docs/enterprise/license/faq.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.10, theme/enterprise
