Repository hashicorp/consul, pull requests merged in 2022-12, with the labels that each got.

#15633 chore: updates from 1.14.2 release
  CHANGELOG.md
  go.mod
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
Labels: pr/dependencies, pr/no-changelog

#15634 chore: updates from 1.14.2 release
  CHANGELOG.md
  go.mod
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
  version/version.go
Labels: pr/dependencies

#15636 chore: updates from 1.13.4 release
  CHANGELOG.md
  version/version.go
Labels: pr/no-changelog

#15635 docs: changelog update from 1.12.7
  CHANGELOG.md
  version/version.go
Labels: pr/no-changelog

#15595 integ-test: test consul upgrade from the snapshot of a running cluster
  agent/config/config.go
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
  test/integration/consul-container/libs/agent/agent.go
  test/integration/consul-container/libs/agent/builder.go
  test/integration/consul-container/libs/agent/container.go
  test/integration/consul-container/libs/cluster/cluster.go
  test/integration/consul-container/test/basic/connect_service_test.go
  test/integration/consul-container/test/upgrade/fullstopupgrade_test.go
  test/integration/consul-container/test/upgrade/healthcheck_test.go
Labels: theme/config, pr/no-changelog

#15638 clean up go.mod
  go.mod
Labels: pr/dependencies, pr/no-changelog

#15563 update docs for exp v2 licensing changes
  website/content/docs/enterprise/license/faq.mdx
  website/content/docs/enterprise/upgrades.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#15426 docs: Correct a typo in checks.mdx
  website/content/docs/discovery/checks.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test

#15274 Fixing CLI ACL token processing unexpected precedence
  .changelog/15274.txt
  api/agent_test.go
  api/api.go
Labels: theme/api

#15645 docs: fix agent catalog-services caching method
  website/content/api-docs/catalog.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#15655 Backport of docs: fix agent catalog-services caching method into stable-website
  website/content/api-docs/catalog.mdx
Labels: type/docs

#15656 Backport of docs: fix agent catalog-services caching method into release/1.14.x
  website/content/api-docs/catalog.mdx
Labels: type/docs

#15662 Clarify Vault CA changelog entry
  .changelog/15253.txt
  CHANGELOG.md
Labels: pr/no-changelog

#15478 docs: clarify Vault CA provider permissions needed
  website/content/api-docs/connect/ca.mdx
  website/content/commands/connect/ca.mdx
  website/content/docs/connect/ca/vault.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.13

#15660 Fix broken link to Consul Dataplane index
  website/content/docs/k8s/architecture.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#15667 Backport of Fix broken link to Consul Dataplane index into release/1.14.x
  website/content/docs/k8s/architecture.mdx
Labels: type/docs

#15666 Backport of Fix broken link to Consul Dataplane index into stable-website
  website/content/docs/k8s/architecture.mdx
Labels: type/docs

#15664 Backport of docs: clarify Vault CA provider permissions needed into release/1.14.x
  website/content/api-docs/connect/ca.mdx
  website/content/commands/connect/ca.mdx
  website/content/docs/connect/ca/vault.mdx
Labels: type/docs

#15632 Add warn log when all ACL policies are filtered out
  agent/consul/acl.go
Labels: pr/no-changelog

#15652 Backport of docs: Correct a typo in checks.mdx into stable-website
  website/content/docs/discovery/checks.mdx
Labels: type/docs

#15671 docs: Agentless performance clarifications
  website/content/docs/connect/dataplane/index.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.14

#15673 Backport of docs: Agentless performance clarifications into release/1.14.x
  website/content/docs/connect/dataplane/index.mdx
Labels: type/docs

#15672 Backport of docs: Agentless performance clarifications into stable-website
  website/content/docs/connect/dataplane/index.mdx
Labels: type/docs

#15677 Backport of docs: Update Consul K8s CRDs into release/1.14.x
  website/content/docs/k8s/crds/index.mdx
Labels: type/docs

#15676 Backport of docs: Update Consul K8s CRDs into stable-website
  website/content/docs/k8s/crds/index.mdx
Labels: type/docs

#15678 Update consul-k8s docs based on the consul-k8s release/1.0.x branch
  website/content/docs/k8s/helm.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#15680 Backport of Update consul-k8s docs based on the consul-k8s release/1.0.x branch into release/1.14.x
  website/content/docs/k8s/helm.mdx
Labels: type/docs

#15679 Backport of Update consul-k8s docs based on the consul-k8s release/1.0.x branch into stable-website
  website/content/docs/k8s/helm.mdx
Labels: type/docs

#15661 Detect Vault 1.11+ import in secondary datacenters and update default issuer
  .changelog/15661.txt
  .circleci/config.yml
  agent/connect/ca/mock_Provider.go
  agent/connect/ca/provider.go
  agent/connect/ca/provider_aws.go
  agent/connect/ca/provider_aws_test.go
  agent/connect/ca/provider_consul.go
  agent/connect/ca/provider_consul_test.go
  agent/connect/ca/provider_vault.go
  agent/connect/ca/provider_vault_test.go
  agent/consul/leader_connect_ca.go
  agent/consul/leader_connect_ca_test.go
Labels: theme/connect, type/ci, theme/consul-vault, pr/no-metrics-test, backport/1.12, backport/1.13, backport/1.14

#15683 Backport of Detect Vault 1.11+ import in secondary datacenters and update default issuer into release/1.14.x
  .changelog/15661.txt
  .circleci/config.yml
  agent/connect/ca/mock_Provider.go
  agent/connect/ca/provider.go
  agent/connect/ca/provider_aws.go
  agent/connect/ca/provider_aws_test.go
  agent/connect/ca/provider_consul.go
  agent/connect/ca/provider_consul_test.go
  agent/connect/ca/provider_vault.go
  agent/connect/ca/provider_vault_test.go
  agent/consul/leader_connect_ca.go
  agent/consul/leader_connect_ca_test.go
Labels: theme/connect, type/ci

#15682 Backport of Detect Vault 1.11+ import in secondary datacenters and update default issuer into release/1.13.x
  .changelog/15661.txt
  .circleci/config.yml
  agent/connect/ca/mock_Provider.go
  agent/connect/ca/provider.go
  agent/connect/ca/provider_aws.go
  agent/connect/ca/provider_aws_test.go
  agent/connect/ca/provider_consul.go
  agent/connect/ca/provider_consul_test.go
  agent/connect/ca/provider_vault.go
  agent/connect/ca/provider_vault_test.go
  agent/consul/leader_connect_ca.go
  agent/consul/leader_connect_ca_test.go
Labels: theme/connect

#15681 Backport of Detect Vault 1.11+ import in secondary datacenters and update default issuer into release/1.12.x
  .changelog/15661.txt
  .circleci/config.yml
  agent/connect/ca/mock_Provider.go
  agent/connect/ca/provider.go
  agent/connect/ca/provider_aws.go
  agent/connect/ca/provider_aws_test.go
  agent/connect/ca/provider_consul.go
  agent/connect/ca/provider_consul_test.go
  agent/connect/ca/provider_vault.go
  agent/connect/ca/provider_vault_test.go
  agent/consul/leader_connect_ca.go
  agent/consul/leader_connect_ca_test.go
  sdk/testutil/assertions.go
Labels: theme/connect

#15691 connect: use -dev-no-store-token for test vaults to reduce source of flakes
  agent/connect/ca/testing.go
Labels: theme/connect, theme/consul-vault, pr/no-changelog, pr/no-metrics-test, backport/1.12, backport/1.13, backport/1.14

#15698 Backport of docs: K8s CNI namespace into stable-website
  website/content/docs/k8s/installation/install.mdx
Labels: type/docs

#15702 docs: Small docs updates, peering and K8s CNI
  website/content/docs/connect/config-entries/index.mdx
  website/content/docs/k8s/installation/install.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#15714 Backport of docs: Small docs updates, peering and K8s CNI into release/1.14.x
  website/content/docs/connect/config-entries/index.mdx
  website/content/docs/k8s/installation/install.mdx
Labels: type/docs

#15713 Backport of docs: Small docs updates, peering and K8s CNI into stable-website
  website/content/docs/connect/config-entries/index.mdx
  website/content/docs/k8s/installation/install.mdx
Labels: type/docs

#15690 Fix local mesh gateway with peering discovery chains.
  .changelog/15690.txt
  agent/proxycfg/connect_proxy.go
  agent/proxycfg/state_test.go
  agent/proxycfg/upstreams.go
  agent/xds/endpoints.go
Labels: theme/envoy/xds, backport/1.14

#15715 Backport of Fix local mesh gateway with peering discovery chains. into release/1.14.x
  .changelog/15690.txt
  agent/proxycfg/connect_proxy.go
  agent/proxycfg/state_test.go
  agent/proxycfg/upstreams.go
  agent/xds/endpoints.go
Labels: theme/envoy/xds

#15705 update go version to 1.19.4
  .changelog/15705.txt
  .circleci/config.yml
  .github/workflows/build.yml
Labels: type/ci, theme/contributing, backport/1.14

#15716 Backport of update go version to 1.19.4 into release/1.14.x
  .changelog/15705.txt
  .circleci/config.yml
  .github/workflows/build.yml
Labels: type/ci, theme/contributing

#15706 update go version to 1.18.9
  .changelog/15706.txt
  .circleci/bash_env.sh
  .circleci/config.yml
  .github/workflows/build.yml
Labels: type/ci, theme/contributing, backport/1.12

#15718 added link to admin partitions under K8s SM
  website/data/docs-nav-data.json
Labels: type/docs, pr/no-changelog, pr/no-metrics-test, backport/1.11, backport/1.12, backport/1.13, backport/1.14

#15720 Backport of added link to admin partitions under K8s SM into release/1.12.x
  website/data/docs-nav-data.json
Labels: type/docs

#15721 Backport of added link to admin partitions under K8s SM into release/1.13.x
  website/data/docs-nav-data.json
Labels: type/docs

#15722 Backport of added link to admin partitions under K8s SM into release/1.14.x
  website/data/docs-nav-data.json
Labels: type/docs

#15707 Flakiness test: case-cfg-splitter-peering-ingress-gateways
  agent/xds/routes.go
  test/integration/connect/envoy/case-cfg-resolver-cluster-peering-failover/primary/verify.bats
  test/integration/connect/envoy/case-cfg-splitter-cluster-peering/primary/verify.bats
  test/integration/connect/envoy/case-cfg-splitter-peering-ingress-gateways/primary/verify.bats
  test/integration/connect/envoy/case-cross-peer-control-plane-mgw/primary/verify.bats
  test/integration/connect/envoy/case-cross-peers-http-router/primary/verify.bats
  test/integration/connect/envoy/case-cross-peers-http/primary/verify.bats
  test/integration/connect/envoy/case-cross-peers-resolver-redirect-tcp/primary/verify.bats
  test/integration/connect/envoy/case-cross-peers/primary/verify.bats
  test/integration/connect/envoy/case-ingress-gateway-peering-failover/primary/verify.bats
  test/integration/connect/envoy/helpers.bash
Labels: theme/envoy/xds, pr/no-changelog, backport/1.13, backport/1.14

#15725 Backport of Flakiness test: case-cfg-splitter-peering-ingress-gateways into release/1.14.x
  agent/xds/routes.go
  test/integration/connect/envoy/case-cfg-resolver-cluster-peering-failover/primary/verify.bats
  test/integration/connect/envoy/case-cfg-splitter-cluster-peering/primary/verify.bats
  test/integration/connect/envoy/case-cfg-splitter-peering-ingress-gateways/primary/verify.bats
  test/integration/connect/envoy/case-cross-peer-control-plane-mgw/primary/verify.bats
  test/integration/connect/envoy/case-cross-peers-http-router/primary/verify.bats
  test/integration/connect/envoy/case-cross-peers-http/primary/verify.bats
  test/integration/connect/envoy/case-cross-peers-resolver-redirect-tcp/primary/verify.bats
  test/integration/connect/envoy/case-cross-peers/primary/verify.bats
  test/integration/connect/envoy/case-ingress-gateway-peering-failover/primary/verify.bats
  test/integration/connect/envoy/helpers.bash
Labels: theme/envoy/xds

#15727 upgrade go version to 1.18 and build version to 1.18.9
  .changelog/15727.txt
  .circleci/config.yml
  .github/workflows/build.yml
  build-support/docker/Build-Go.dockerfile
  go.mod
  go.sum
  internal/tools/proto-gen-rpc-glue/go.mod
Labels: type/ci, pr/dependencies

#15729 Backport of added link to admin partitions under K8s SM into stable-website
  website/data/docs-nav-data.json
Labels: type/docs

#15710 Remove the `connect.enable_serverless_plugin` agent configuration option
  .changelog/15710.txt
  agent/agent.go
  agent/config/builder.go
  agent/config/config.go
  agent/config/runtime.go
  agent/config/runtime_test.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/config/testdata/full-config.hcl
  agent/config/testdata/full-config.json
  agent/xds/delta.go
  agent/xds/delta_test.go
  agent/xds/server.go
  agent/xds/xds_protocol_helpers_test.go
  test/integration/connect/envoy/case-mesh-to-lambda/serverless.hcl
  website/content/docs/agent/config/config-files.mdx
  website/content/docs/lambda/registration/index.mdx
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs, theme/config, theme/envoy/xds

#15737 [OSS] security: update x/net module
  .changelog/15705.txt
  .changelog/15737.txt
  go.mod
  go.sum
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
Labels: pr/dependencies, backport/1.14

#15743 [OSS] chore: update x/net module for 1.13.x and 1.12.x
  .changelog/15706.txt
  .changelog/15743.txt
  go.mod
  go.sum
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
Labels: pr/dependencies, backport/1.12

#15640 Backport of update docs for exp v2 licensing changes into stable-website
  website/content/docs/enterprise/license/faq.mdx
  website/content/docs/enterprise/upgrades.mdx
Labels: type/docs

#15744 Backport of [OSS] security: update x/net module into release/1.14.x
  .changelog/15705.txt
  .changelog/15737.txt
  go.mod
  go.sum
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
Labels: pr/dependencies

#15497 docs: how to launch envoy when ACLs enabled
  website/content/commands/acl/token/create.mdx
  website/content/commands/connect/envoy.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#15751 Backport of docs: how to launch envoy when ACLs enabled into release/1.14.x
  website/content/commands/acl/token/create.mdx
  website/content/commands/connect/envoy.mdx
Labels: type/docs

#15740 test: remove variable shadowing in TestDNS_ServiceLookup_ARecordLimits
  agent/dns_test.go
Labels: pr/no-changelog, backport/1.12, backport/1.13, backport/1.14

#15752 Remove mention of enterprise license form
  website/content/docs/enterprise/index.mdx
  website/content/docs/enterprise/license/faq.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#15761 Backport of Remove mention of enterprise license form into stable-website
  website/content/docs/enterprise/index.mdx
  website/content/docs/enterprise/license/faq.mdx
Labels: type/docs

#15762 Backport of Remove mention of enterprise license form into release/1.14.x
  website/content/docs/enterprise/index.mdx
  website/content/docs/enterprise/license/faq.mdx
Labels: type/docs

#15736 Fixing CLI instructions so that the installing a cluster that is embedded in the mac instructions is moved outside of the tabbed instructions.
  website/content/docs/k8s/installation/install-cli.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#15764 Backport of Fixing CLI instructions so that the installing a cluster that is embedded in the mac instructions is moved outside of the tabbed instructions. into stable-website
  website/content/docs/k8s/installation/install-cli.mdx
Labels: type/docs

#15765 Backport of Fixing CLI instructions so that the installing a cluster that is embedded in the mac instructions is moved outside of the tabbed instructions. into release/1.14.x
  website/content/docs/k8s/installation/install-cli.mdx
Labels: type/docs

#15717 Add initial dev docs on config entries
  docs/service-mesh/README.md
  docs/service-mesh/config-entries/README.md
  docs/service-mesh/config-entries/config-resolution.md
  docs/service-mesh/config-entries/world-of-data.png
Labels: pr/no-changelog

#15769 agent: Fix assignment of error when auto-reloading cert and key file changes.
  .changelog/15769.txt
  agent/agent.go
Labels: backport/1.12, backport/1.13, backport/1.14

#15774 Update changelog checker to handle ent-only entry
  .github/workflows/changelog-checker.yml
Labels: theme/contributing, pr/no-changelog

#15773 add changelog for enterprise 3846
  .changelog/_3846.txt
Labels: pr/no-changelog, pr/no-metrics-test, pr/no-docs, backport/1.12, backport/1.13, backport/1.14

#15539 server: add placeholder glue for rate limit handler
  agent/consul/multilimiter/multilimiter.go
  agent/consul/rate/handler.go
  agent/consul/server.go
Labels: pr/no-changelog

#15550 grpc: add rate-limiting middleware
  agent/agent.go
  agent/consul/server.go
  agent/consul/server_test.go
  agent/grpc-external/server.go
  agent/grpc-external/stats_test.go
  agent/grpc-internal/handler.go
  agent/grpc-internal/server_test.go
  agent/grpc-internal/services/subscribe/subscribe_test.go
  agent/grpc-internal/stats_test.go
  agent/grpc-middleware/mock_RateLimiter.go
  agent/grpc-middleware/rate.go
  agent/grpc-middleware/rate_test.go
  agent/rpc/peering/service_test.go
Labels: pr/no-changelog

#15780 feat: add access logging API to proxy defaults
  agent/structs/config_entry.go
  agent/structs/config_entry_test.go
  agent/structs/connect_proxy_config.go
  api/config_entry.go
  api/config_entry_test.go
Labels: theme/api, pr/no-changelog, pr/no-metrics-test

#15531 adding config for request_limits
  agent/agent.go
  agent/agent_test.go
  agent/config/builder.go
  agent/config/config.go
  agent/config/default.go
  agent/config/runtime.go
  agent/config/runtime_test.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/config/testdata/full-config.hcl
  agent/config/testdata/full-config.json
  agent/consul/config.go
  agent/consul/multilimiter/multilimiter.go
  agent/consul/rate/handler.go
  agent/consul/rate/mock_RequestLimitsHandler.go
  agent/consul/server.go
  agent/consul/server_test.go
  agent/grpc-external/server.go
  agent/grpc-external/stats_test.go
  agent/grpc-internal/handler.go
  agent/grpc-internal/server_test.go
  agent/grpc-internal/services/subscribe/subscribe_test.go
  agent/grpc-internal/stats_test.go
  agent/grpc-middleware/mock_RateLimiter.go
  agent/grpc-middleware/rate.go
  agent/grpc-middleware/rate_test.go
  agent/rpc/peering/service_test.go
  docs/config/checklist-adding-config-fields.md
  website/content/docs/agent/config/config-files.mdx
Labels: theme/config, pr/no-changelog

#15782 Update compatibility table for ECS
  website/content/docs/ecs/compatibility.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.13

#15784 Backport of Update compatibility table for ECS into release/1.14.x
  website/content/docs/ecs/compatibility.mdx
Labels: type/docs

#15783 Backport of Update compatibility table for ECS into stable-website
  website/content/docs/ecs/compatibility.mdx
Labels: type/docs

#15785 Backport of Update compatibility table for ECS into release/1.13.x
  website/content/docs/ecs/compatibility.mdx
Labels: type/docs

#15767 Server side rate limiter: handle the race condition for limiters tree write in multilimiter
  agent/consul/multilimiter/multilimiter.go
  agent/consul/multilimiter/multilimiter_test.go
Labels: pr/no-changelog

#15778 Setup JIRA sync for Community Issues and PRs via Github actions
  .github/workflows/jira-issues.yaml
  .github/workflows/jira-pr
Labels: theme/contributing, pr/no-changelog

#15598 Deprecate -join and -join-wan
  .changelog/15598.txt
  agent/auto-config/auto_config_test.go
  agent/auto-config/auto_encrypt.go
  agent/auto-config/auto_encrypt_test.go
  agent/config/builder.go
  agent/config/builder_test.go
  agent/config/config.go
  agent/config/deprecated.go
  agent/config/flags.go
  agent/config/flags_test.go
  agent/config/merge_test.go
  agent/config/runtime.go
  agent/config/runtime_test.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/retry_join.go
  command/agent/agent.go
  website/content/docs/agent/config/cli-flags.mdx
  website/content/docs/agent/config/config-files.mdx
  website/content/docs/connect/gateways/mesh-gateway/wan-federation-via-mesh-gateways.mdx
  website/content/docs/enterprise/license/faq.mdx
  website/content/docs/enterprise/license/overview.mdx
  website/content/docs/enterprise/network-segments.mdx
  website/content/docs/install/bootstrapping.mdx
Labels: theme/cli, theme/config

#15659 connect: Add support for ConsulResolver to specifies a filter expression
  .changelog/15659.txt
  connect/resolver.go
  connect/resolver_test.go
Labels: theme/connect, backport/1.14

#15799 JIRA: add .yaml extension to enable Github Actions workflow
  .github/workflows/jira-pr.yaml
Labels: theme/contributing, pr/no-changelog

#15804 docs: update changelog from 1.14.3, 1.13.5, 1.12.8
  .changelog/_3846.txt
  CHANGELOG.md
Labels: pr/no-changelog

#15808 Fix curl vs curl-minimal install conflict in ubi9 image
  Dockerfile
Labels: pr/no-changelog, backport/1.12, backport/1.13, backport/1.14

#15670 add log-drop package
  agent/log-drop/log-drop.go
  agent/log-drop/log-drop_test.go
  agent/log-drop/mock_SinkAdapter.go
  sdk/testutil/retry/retry.go
Labels: pr/no-changelog

#15812 Force installation of shadow-utils for access to groupadd exe
  Dockerfile
Labels: pr/no-changelog, backport/1.12, backport/1.13, backport/1.14

#15768 Upgrade test: test peering upgrade from an old version of consul
  test/integration/consul-container/libs/agent/agent.go
  test/integration/consul-container/libs/agent/builder.go
  test/integration/consul-container/libs/agent/container.go
  test/integration/consul-container/libs/assert/peering.go
  test/integration/consul-container/libs/cluster/cluster.go
  test/integration/consul-container/libs/cluster/helpers.go
  test/integration/consul-container/libs/service/connect.go
  test/integration/consul-container/libs/service/examples.go
  test/integration/consul-container/libs/service/gateway.go
  test/integration/consul-container/libs/utils/version_oss.go
  test/integration/consul-container/test/peering/rotate_server_and_ca_then_fail_test.go
  test/integration/consul-container/test/upgrade/README.md
  test/integration/consul-container/test/upgrade/peers_http_test.go
Labels: pr/no-changelog

#15816 JIRA: Small fix to search plugin for JIRA issues
  .github/workflows/jira-pr.yaml
Labels: theme/contributing, pr/no-changelog

#15375 add missing code and fix enterprise specific code
  acl/MockAuthorizer.go
  agent/consul/operator_backend.go
  agent/consul/operator_backend_test.go
Labels: pr/no-changelog, pr/no-metrics-test

#15534 Add async reconciliation controller subpackage
  agent/consul/controller/controller.go
  agent/consul/controller/controller_test.go
  agent/consul/controller/defer.go
  agent/consul/controller/doc.go
  agent/consul/controller/queue.go
  agent/consul/controller/queue_test.go
  agent/consul/controller/rate.go
  agent/consul/controller/rate_test.go
  agent/consul/controller/reconciler.go
  agent/consul/controller/reconciler_test.go
Labels: pr/no-changelog

#15831 tests: change AccessLogsConfig field to pointer so it will be parsed as nil
  api/config_entry.go
  api/config_entry_test.go
Labels: theme/api, pr/no-changelog

#15701 Add custom balancer to always remove subConns
  .changelog/15701.txt
  agent/grpc-internal/balancer/custombalancer.go
  agent/grpc-internal/balancer/pickfirst.go
  agent/grpc-internal/client.go
  agent/grpc-internal/resolver/resolver.go
Labels: backport/1.12, backport/1.13, backport/1.14

#15800 Backport of connect: Add support for ConsulResolver to specifies a filter expression into release/1.14.x
  .changelog/15659.txt
  connect/resolver.go
  connect/resolver_test.go
Labels: theme/connect

#15826 Update docs to reflect vault and consul compatibility
  website/content/docs/connect/ca/vault.mdx
  website/content/docs/k8s/connect/connect-ca-provider.mdx
  website/content/docs/k8s/deployment-configurations/vault/data-integration/connect-ca.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.11, backport/1.12, backport/1.13, backport/1.14

#15844 grpc custom balancer - UpdateClientConnState Break - instead of returning early
  agent/grpc-internal/balancer/custombalancer.go
Labels: pr/no-changelog

#15845 JIRA: Add Service Mesh work stream to JIRA API call
  .github/workflows/jira-pr.yaml
Labels: theme/contributing, pr/no-changelog

#15817 [OSS] extensions: refactor serverless plugin to use extensions from configentry fields
  .changelog/15817.txt
  agent/configentry/resolve.go
  agent/configentry/resolve_test.go
  agent/consul/discoverychain/compile.go
  agent/consul/discoverychain/compile_test.go
  agent/proxycfg/testing_terminating_gateway.go
  agent/structs/config_entry.go
  agent/structs/config_entry_test.go
  agent/structs/discovery_chain.go
  agent/structs/structs.deepcopy.go
  agent/xds/serverless_plugin_oss_test.go
  agent/xds/serverlessplugin/lambda_patcher.go
  agent/xds/serverlessplugin/lambda_patcher_test.go
  agent/xds/serverlessplugin/patcher_test.go
  agent/xds/xdscommon/xdscommon.go
  agent/xds/xdscommon/xdscommon_oss_test.go
  api/config_entry.go
  proto/pbconfigentry/config_entry.gen.go
  proto/pbconfigentry/config_entry.go
  proto/pbconfigentry/config_entry.pb.binary.go
  proto/pbconfigentry/config_entry.pb.go
  proto/pbconfigentry/config_entry.proto
  test/integration/connect/envoy/case-mesh-to-lambda/service_defaults_l1.json
  test/integration/connect/envoy/case-mesh-to-lambda/service_defaults_l2.json
  website/content/docs/connect/config-entries/proxy-defaults.mdx
  website/content/docs/connect/config-entries/service-defaults.mdx
  website/content/docs/lambda/registration/manual.mdx
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs, theme/api, theme/envoy/xds

#15825 Map net/rpc endpoints to a read or write op for rate-limiting
  agent/consul/rate/handler.go
  agent/rpc/middleware/interceptors_test.go
  agent/rpc/middleware/rate_limit_mappings.go
Labels: pr/no-changelog

#15829 Docs/network segments tutorial docs conversion
  website/content/docs/agent/config/cli-flags.mdx
  website/content/docs/agent/config/config-files.mdx
  website/content/docs/enterprise/index.mdx
  website/content/docs/enterprise/network-segments.mdx
  website/content/docs/enterprise/network-segments/create-network-segment.mdx
  website/content/docs/enterprise/network-segments/network-segments-overview.mdx
  website/data/docs-nav-data.json
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test

#15833 Fix incorrect protocol check on discovery chains with peer targets.
  .changelog/15833.txt
  agent/consul/discoverychain/compile.go
  agent/consul/discoverychain/compile_test.go
Labels: backport/1.14

#15837 Add controller stubs for API Gateway
  agent/consul/gateways/controller_gateways.go
  agent/consul/gateways/controller_routes.go
Labels: theme/api, theme/acls, theme/cli

#15818 Enhancement: Consul Compatibility Checking
  .changelog/15818.txt
  agent/xds/envoy_versioning.go
  agent/xds/envoy_versioning_test.go
  agent/xds/proxysupport/proxysupport.go
  agent/xds/proxysupport/proxysupport_test.go
  command/connect/envoy/envoy.go
  command/connect/envoy/envoy_test.go
  command/connect/envoy/exec.go
  command/connect/envoy/exec_test.go
  website/content/commands/connect/envoy.mdx
Labels: type/enhancement, theme/cli, theme/envoy/xds

#15805 Rate limiting handler - ensure configuration has changed before modifying limiters
  agent/consul/multilimiter/mock_RateLimiter.go
  agent/consul/multilimiter/multilimiter.go
  agent/consul/rate/handler.go
  agent/consul/rate/handler_test.go
  agent/consul/server.go
Labels: pr/no-changelog

#15819 Rate Limit Handler - ensure rate limiting is not in the code path when not configured
  agent/agent.go
  agent/consul/rate/handler.go
  agent/consul/rate/handler_test.go
  agent/consul/server_test.go
  agent/grpc-external/stats_test.go
  agent/grpc-internal/server_test.go
  agent/grpc-internal/services/subscribe/subscribe_test.go
  agent/grpc-internal/stats_test.go
  agent/rpc/peering/service_test.go
Labels: pr/no-changelog

#15846 [OSS] extensions: refactor PluginConfiguration into a more generic type ExtensionConfiguration
  agent/proxycfg/testing_terminating_gateway.go
  agent/proxycfg/testing_upstreams.go
  agent/structs/config_entry.go
  agent/structs/config_entry_test.go
  agent/xds/delta.go
  agent/xds/serverless_plugin_oss_test.go
  agent/xds/serverlessplugin/lambda_patcher.go
  agent/xds/serverlessplugin/lambda_patcher_test.go
  agent/xds/serverlessplugin/patcher.go
  agent/xds/serverlessplugin/patcher_test.go
  agent/xds/serverlessplugin/serverlessplugin.go
  agent/xds/testdata/serverless_plugin/clusters/lambda-connect-proxy-with-terminating-gateway-upstream.latest.golden
  agent/xds/testdata/serverless_plugin/endpoints/lambda-connect-proxy-opposite-meta.latest.golden
  agent/xds/testdata/serverless_plugin/endpoints/lambda-connect-proxy-with-terminating-gateway-upstream.latest.golden
  agent/xds/testdata/serverless_plugin/endpoints/lambda-connect-proxy.latest.golden
  agent/xds/testdata/serverless_plugin/endpoints/lambda-terminating-gateway-with-service-resolvers.latest.golden
  agent/xds/testdata/serverless_plugin/endpoints/lambda-terminating-gateway.latest.golden
  agent/xds/testdata/serverless_plugin/listeners/lambda-connect-proxy-with-terminating-gateway-upstream.latest.golden
  agent/xds/testdata/serverless_plugin/routes/lambda-connect-proxy-with-terminating-gateway-upstream.latest.golden
  agent/xds/xdscommon/xdscommon.go
  agent/xds/xdscommon/xdscommon_oss_test.go
Labels: theme/envoy/xds, pr/no-changelog

#15847 Add APIGateway validation
  agent/structs/config_entry_gateways.go
  agent/structs/config_entry_gateways_test.go
  agent/structs/config_entry_status.go
  api/config_entry_gateways.go
  api/config_entry_status.go
  proto/pbconfigentry/config_entry.gen.go
  proto/pbconfigentry/config_entry.go
  proto/pbconfigentry/config_entry.pb.binary.go
  proto/pbconfigentry/config_entry.pb.go
  proto/pbconfigentry/config_entry.proto
Labels: pr/no-changelog

#15856 APIGateway InlineCertificate validation
  agent/structs/config_entry_discoverychain_test.go
  agent/structs/config_entry_inline_certificate.go
  agent/structs/config_entry_inline_certificate_test.go
  api/config_entry_inline_certificate.go
  proto/pbconfigentry/config_entry.gen.go
  proto/pbconfigentry/config_entry.pb.go
  proto/pbconfigentry/config_entry.proto
Labels: theme/api, pr/no-changelog

#15858 APIGateway BoundAPIGateway validation
  agent/structs/config_entry_gateways.go
  agent/structs/config_entry_gateways_test.go
  proto/pbconfigentry/config_entry.gen.go
  proto/pbconfigentry/config_entry.pb.binary.go
  proto/pbconfigentry/config_entry.pb.go
  proto/pbconfigentry/config_entry.proto
Labels: pr/no-changelog

#15855 APIGateway TCPRoute validation
  agent/structs/config_entry_routes.go
  agent/structs/config_entry_routes_test.go
  api/config_entry_routes.go
  proto/pbconfigentry/config_entry.gen.go
  proto/pbconfigentry/config_entry.pb.binary.go
  proto/pbconfigentry/config_entry.pb.go
  proto/pbconfigentry/config_entry.proto
Labels: theme/api, pr/no-changelog

#15871 [OSS] extensions: add extensions for local service to GetExtensionConfigurations
  agent/configentry/merge_service_config.go
  agent/configentry/merge_service_config_test.go
  agent/structs/config_entry.go
  agent/structs/connect_proxy_config.go
  agent/structs/structs.deepcopy.go
  agent/structs/structs_filtering_test.go
  agent/xds/xdscommon/xdscommon.go
  agent/xds/xdscommon/xdscommon_oss_test.go
  api/agent.go
  api/config_entry.go
  proto/pbconfigentry/config_entry.gen.go
  proto/pbconfigentry/config_entry.go
  proto/pbconfigentry/config_entry.pb.go
  proto/pbconfigentry/config_entry.proto
  proto/pbservice/convert.go
  proto/pbservice/service.gen.go
  proto/pbservice/service.pb.go
  proto/pbservice/service.proto
Labels: theme/api, theme/envoy/xds, pr/no-changelog

#15875 Backport of docs: peering API - removed technical preview callout into release/1.14.x
  website/content/api-docs/peering.mdx
Labels: type/docs

#15867 Expand service mesh dev docs
  docs/service-mesh/README.md
  docs/service-mesh/config-entries/README.md
  docs/service-mesh/config-entries/life-of-a-config-entry.png
  docs/service-mesh/configuring-envoy.png
  docs/service-mesh/proxycfg-snapshot-building.png
  docs/service-mesh/proxycfg-snapshot-sharing.png
  docs/service-mesh/proxycfg.md
  docs/service-mesh/xds.md
Labels: pr/no-changelog

#15868 docs: update intentions config
  website/content/docs/connect/cluster-peering/k8s.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#15876 Backport of docs: update intentions config into stable-website
  website/content/docs/connect/cluster-peering/k8s.mdx
Labels: type/docs

#15877 Backport of docs: update intentions config into release/1.14.x
  website/content/docs/connect/cluster-peering/k8s.mdx
Labels: type/docs

#15864 [OSS] feat: access logs for listeners and listener filters
  .changelog/15864.txt
  agent/configentry/merge_service_config.go
  agent/configentry/merge_service_config_test.go
  agent/configentry/resolve.go
  agent/configentry/resolve_test.go
  agent/grpc-internal/services/subscribe/subscribe_test.go
  agent/structs/config_entry.go
  agent/structs/connect_proxy_config.go
  agent/structs/connect_proxy_config_test.go
  agent/structs/structs_filtering_test.go
  agent/xds/accesslogs/accesslogs.go
  agent/xds/listeners.go
  agent/xds/listeners_ingress.go
  agent/xds/listeners_test.go
  agent/xds/testdata/listeners/access-logs-defaults.latest.golden
  agent/xds/testdata/listeners/access-logs-json-file.latest.golden
  agent/xds/testdata/listeners/access-logs-text-stderr-disablelistenerlogs.latest.golden
  api/agent.go
  api/config_entry.go
  command/services/config.go
  command/services/config_test.go
  proto/pbservice/service.gen.go
  proto/pbservice/service.pb.binary.go
  proto/pbservice/service.pb.go
  proto/pbservice/service.proto
Labels: theme/api, theme/envoy/xds

#15870 chore: fix remote docker make target
  GNUmakefile
Labels: pr/no-changelog

#15857 Wire in rate limiter to handle internal and external gRPC calls
  .gitignore
  agent/agent.go
  agent/consul/leader_connect_ca_test.go
  agent/consul/leader_test.go
  agent/consul/rate/handler.go
  agent/consul/rate/handler_test.go
  agent/consul/rate/mock_LeaderStatusProvider_test.go
  agent/consul/server.go
  agent/consul/server_test.go
  agent/grpc-middleware/rate.go
  agent/rpc/peering/service_test.go
Labels: pr/no-changelog
