Repository hashicorp/consul, pull requests merged in 2022-03, with the labels that each got.

#12469 Update latest version on website to 1.11.4
  website/data/version.js
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12473 Add changelog entries from latest releases
  CHANGELOG.md
Labels: pr/no-changelog

#12474 Add changelog entries from latest release
  CHANGELOG.md
Labels: pr/no-changelog

#12475 Add changelog entries from latest release
  CHANGELOG.md
Labels: pr/no-changelog

#12476 Add changelog entries from latest release
  CHANGELOG.md
Labels: pr/no-changelog

#12467 ca: require that tests that use Vault are named correctly
  GNUmakefile
  agent/connect/ca/testing.go
  agent/consul/leader_connect_test.go
Labels: theme/connect, pr/no-changelog

#12483 Remove deprecated built-in proxy tutorial reference
  website/content/docs/connect/proxies/built-in.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12494 build: ensure 'make linux' puts the binary in the expected location
  GNUmakefile
Labels: pr/no-changelog, backport/1.11

#12495 update changelog
  .changelog/_1595.txt
Labels: pr/no-changelog, backport/1.11

#12496 raft: upgrade to v1.3.6
  .changelog/12496.txt
  agent/consul/server.go
  agent/consul/server_serf.go
  go.mod
  go.sum
Labels: pr/dependencies, backport/1.10, backport/1.11

#12497 [1.11.x] raft: upgrade to v1.3.6
  .changelog/12496.txt
  agent/consul/server.go
  agent/consul/server_serf.go
  go.mod
  go.sum
Labels: pr/dependencies, pr/no-changelog

#12498 [1.10.x] raft: upgrade to v1.3.6
  .changelog/12496.txt
  agent/consul/server.go
  agent/consul/server_serf.go
  go.mod
  go.sum
  vendor/github.com/hashicorp/raft/api.go
  vendor/github.com/hashicorp/raft/raft.go
  vendor/modules.txt
Labels: pr/dependencies, pr/no-changelog

#12499 Update exported-services.mdx
  website/content/docs/connect/config-entries/exported-services.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12502 ui: Add docs for `<Action />` component
  ui/packages/consul-ui/app/components/action/README.mdx
Labels: theme/ui, pr/no-changelog

#12500 docs: consul-k8s service mesh overview - move verification section
  website/content/docs/k8s/connect/index.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12508 Update install.mdx
  website/content/docs/ecs/manual/install.mdx
Labels: type/docs-cherrypick, pr/no-changelog

#12472 docs: bump Envoy for 1.10.x
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12513 docs: Envoy 'compatibility' typo
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12420 docs: Clarify configuration options apply to agent
  website/content/docs/agent/options.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12512 server: fix spurious blocking query suppression for discovery chains
  .changelog/12512.txt
  agent/consul/discovery_chain_endpoint.go
  agent/consul/state/config_entry.go
Labels: backport/1.10, backport/1.11

#12419 docs: Update Kubernetes YAML examples in UI visualization
  website/content/docs/connect/observability/ui-visualization.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12518 reduce flakiness/raciness of errNotFound and errNotChanged blocking query tests
  agent/consul/config_endpoint_test.go
  agent/consul/discovery_chain_endpoint_test.go
  agent/consul/intention_endpoint_test.go
  agent/consul/internal_endpoint_test.go
  agent/consul/rpc_test.go
  agent/consul/status_endpoint_test.go
Labels: pr/no-changelog, backport/1.10, backport/1.11

#12524 [1.10.x] reduce flakiness/raciness of errNotFound and errNotChanged blocking query tests
  agent/consul/config_endpoint_test.go
  agent/consul/discovery_chain_endpoint_test.go
  agent/consul/intention_endpoint_test.go
  agent/consul/internal_endpoint_test.go
  agent/consul/rpc_test.go
  agent/consul/status_endpoint_test.go
Labels: pr/no-changelog

#12521 docs: adding text for maximum number of admin partitions
  website/content/docs/enterprise/admin-partitions.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-docs

#12451 ui: CustomElement component
  ui/packages/consul-ui/app/components/custom-element/README.mdx
  ui/packages/consul-ui/app/components/custom-element/index.hbs
  ui/packages/consul-ui/app/components/custom-element/index.js
  ui/packages/consul-ui/app/components/shadow-host/README.mdx
  ui/packages/consul-ui/app/components/shadow-host/index.hbs
  ui/packages/consul-ui/app/components/shadow-host/index.js
  ui/packages/consul-ui/app/components/shadow-template/README.mdx
  ui/packages/consul-ui/app/components/shadow-template/index.hbs
  ui/packages/consul-ui/app/helpers/adopt-styles.js
  ui/packages/consul-ui/app/helpers/adopt-styles.mdx
  ui/packages/consul-ui/app/helpers/class-map.js
  ui/packages/consul-ui/app/helpers/css-map.js
Labels: theme/ui, pr/no-changelog

#12479 ui: Fix loading icon size (adds a viewbox)
  .changelog/12479.txt
  ui/packages/consul-ui/app/styles/base/icons/base-variables.scss
Labels: theme/ui, backport/1.11

#12478 ui: List Primary and Local DCs first in the Datacenter selector
  .changelog/12478.txt
  ui/packages/consul-ui/app/components/consul/datacenter/selector/index.hbs
Labels: theme/ui

#12531 proxycfg: change how various proxycfg test helpers for making ConfigSnapshot copies works to be more correct and less error prone
  agent/proxycfg/state.go
  agent/proxycfg/testing.go
  agent/proxycfg/testing_connect_proxy.go
  agent/proxycfg/testing_ingress_gateway.go
  agent/proxycfg/testing_mesh_gateway.go
  agent/proxycfg/testing_terminating_gateway.go
  agent/proxycfg/testing_tproxy.go
  agent/proxycfg/testing_upstreams.go
  agent/xds/clusters_test.go
  agent/xds/delta_test.go
  agent/xds/endpoints_test.go
  agent/xds/listeners_ingress.go
  agent/xds/listeners_test.go
  agent/xds/routes.go
  agent/xds/routes_test.go
  agent/xds/testdata/clusters/ingress-with-chain-and-overrides.envoy-1-20-x.golden
  agent/xds/testdata/clusters/transparent-proxy-catalog-destinations-only.envoy-1-20-x.golden
  agent/xds/testdata/clusters/transparent-proxy-dial-instances-directly.envoy-1-20-x.golden
  agent/xds/testdata/clusters/transparent-proxy.envoy-1-20-x.golden
  agent/xds/testdata/endpoints/ingress-with-chain-and-overrides.envoy-1-20-x.golden
  agent/xds/testdata/listeners/expose-checks.envoy-1-20-x.golden
  agent/xds/testdata/listeners/expose-paths-local-app-paths.envoy-1-20-x.golden
  agent/xds/testdata/listeners/expose-paths-new-cluster-http2.envoy-1-20-x.golden
  agent/xds/testdata/listeners/ingress-gateway-bind-addrs.envoy-1-20-x.golden
  agent/xds/testdata/listeners/ingress-gateway.envoy-1-20-x.golden
  agent/xds/testdata/listeners/ingress-splitter-with-resolver-redirect.envoy-1-20-x.golden
  agent/xds/testdata/listeners/ingress-with-chain-and-overrides.envoy-1-20-x.golden
  agent/xds/testdata/listeners/ingress-with-chain-external-sni.envoy-1-20-x.golden
  agent/xds/testdata/listeners/ingress-with-sds-listener-gw-level.envoy-1-20-x.golden
  agent/xds/testdata/listeners/ingress-with-tcp-chain-failover-through-local-gateway.envoy-1-20-x.golden
  agent/xds/testdata/listeners/ingress-with-tcp-chain-failover-through-remote-gateway.envoy-1-20-x.golden
  agent/xds/testdata/listeners/ingress-with-tls-listener-cipher-suites.envoy-1-20-x.golden
  agent/xds/testdata/listeners/ingress-with-tls-listener-max-version.envoy-1-20-x.golden
  agent/xds/testdata/listeners/ingress-with-tls-listener-min-version.envoy-1-20-x.golden
  agent/xds/testdata/listeners/ingress-with-tls-listener.envoy-1-20-x.golden
  agent/xds/testdata/routes/defaults.envoy-1-20-x.golden
  agent/xds/testdata/routes/ingress-lb-in-resolver.envoy-1-20-x.golden
  agent/xds/testdata/routes/ingress-splitter-with-resolver-redirect.envoy-1-20-x.golden
  agent/xds/testdata/routes/ingress-with-chain-and-overrides.envoy-1-20-x.golden
  agent/xds/testdata/routes/ingress-with-chain-and-router-header-manip.envoy-1-20-x.golden
  agent/xds/testdata/routes/ingress-with-chain-and-router.envoy-1-20-x.golden
  agent/xds/testdata/routes/ingress-with-chain-and-splitter.envoy-1-20-x.golden
  agent/xds/testdata/routes/ingress-with-grpc-router.envoy-1-20-x.golden
  agent/xds/xds_protocol_helpers_test.go
Labels: theme/envoy/xds, pr/no-changelog

#12400 ui: [Bugfix] Added Tags tab to gateways(just like exists for non-gateway services)
  .changelog/12400.txt
  ui/packages/consul-ui/app/templates/dc/services/show.hbs
Labels: type/bug, theme/ui

#12527 ui: [Backport/1.11.x] Fix loading icon size (adds a viewbox) (#12479)
  .changelog/12479.txt
  ui/packages/consul-ui/app/styles/base/icons/base-variables.scss
Labels: theme/ui, pr/no-changelog

#12460 Docs day acl improvements
  website/content/api-docs/index.mdx
  website/content/commands/index.mdx
  website/content/docs/security/acl/acl-policies.mdx
  website/content/docs/security/acl/acl-roles.mdx
  website/content/docs/security/acl/acl-rules.mdx
  website/content/docs/security/acl/acl-system.mdx
  website/content/docs/security/acl/acl-tokens.mdx
  website/content/docs/security/acl/index.mdx
  website/data/docs-nav-data.json
  website/lib/consent-manager-services/index.ts
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, event/consul-docs-day

#12488 ui: Remove Settings Ember Route
  ui/packages/consul-ui/app/routes/application.js
  ui/packages/consul-ui/app/routes/settings.js
  ui/packages/consul-ui/app/templates/application.hbs
  ui/packages/consul-ui/app/templates/settings.hbs
  ui/packages/consul-ui/tests/acceptance/settings/show.feature
  ui/packages/consul-ui/tests/unit/routes/settings-test.js
  ui/packages/consul-ui/vendor/consul-ui/routes.js
Labels: theme/ui, pr/no-changelog

#12520 ui: Catalog Health Overview DataSource
  ui/packages/consul-ui/app/services/repository/dc.js
  ui/packages/consul-ui/app/services/repository/dc.mdx
  ui/packages/consul-ui/mock-api/v1/internal/ui/catalog-overview
Labels: theme/ui

#12514 ui: Add auto-pilot/state endpoint usage (merged into DC models)
  ui/packages/consul-ui/app/adapters/dc.js
  ui/packages/consul-ui/app/models/dc.js
  ui/packages/consul-ui/app/serializers/dc.js
  ui/packages/consul-ui/app/services/repository/dc.js
  ui/packages/consul-ui/app/services/repository/dc.mdx
  ui/packages/consul-ui/app/templates/application.hbs
  ui/packages/consul-ui/mock-api/v1/internal/ui/catalog-overview
  ui/packages/consul-ui/mock-api/v1/operator/autopilot/state
  ui/packages/consul-ui/tests/integration/adapters/dc-test.js
  ui/packages/consul-ui/tests/integration/serializers/dc-test.js
  ui/packages/consul-ui/tests/integration/services/repository/dc-test.js
  ui/packages/consul-ui/tests/unit/adapters/dc-test.js
  ui/packages/consul-ui/tests/unit/serializers/dc-test.js
Labels: theme/ui

#12506 ui: Add license endpoint/datasource
  ui/packages/consul-ui/.docfy-config.js
  ui/packages/consul-ui/app/adapters/dc.js
  ui/packages/consul-ui/app/decorators/data-source.js
  ui/packages/consul-ui/app/helpers/json-stringify.js
  ui/packages/consul-ui/app/models/dc.js
  ui/packages/consul-ui/app/models/license.js
  ui/packages/consul-ui/app/serializers/dc.js
  ui/packages/consul-ui/app/services/client/http.js
  ui/packages/consul-ui/app/services/data-source/protocols/http.js
  ui/packages/consul-ui/app/services/repository/dc.js
  ui/packages/consul-ui/app/services/repository/dc.mdx
  ui/packages/consul-ui/app/services/repository/license.js
  ui/packages/consul-ui/app/services/repository/license.mdx
  ui/packages/consul-ui/app/templates/application.hbs
  ui/packages/consul-ui/mock-api/v1/internal/ui/catalog-overview
  ui/packages/consul-ui/mock-api/v1/operator/autopilot/state
  ui/packages/consul-ui/mock-api/v1/operator/license
  ui/packages/consul-ui/tests/integration/adapters/dc-test.js
  ui/packages/consul-ui/tests/integration/serializers/dc-test.js
  ui/packages/consul-ui/tests/integration/services/repository/dc-test.js
  ui/packages/consul-ui/tests/unit/adapters/dc-test.js
  ui/packages/consul-ui/tests/unit/serializers/dc-test.js
Labels: theme/ui, pr/no-changelog

#12543 [docs] update connect ca vault provider docs to include vault auth method field
  website/content/docs/agent/options.mdx
  website/content/docs/connect/ca/vault.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12546 docs: cleaned up code blocks and added two sentences to the intro
  website/content/docs/k8s/k8s-cli.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-docs

#12470 Bulk acl message fixup oss
  .changelog/12470.txt
  acl/authorizer.go
  acl/authorizer_test.go
  acl/chained_authorizer.go
  acl/chained_authorizer_test.go
  acl/errors.go
  acl/errors_test.go
  acl/policy_authorizer.go
  acl/static_authorizer.go
  acl/testing.go
  agent/acl.go
  agent/agent_endpoint.go
  agent/connect_auth.go
  agent/consul/acl_endpoint.go
  agent/consul/catalog_endpoint.go
  agent/consul/config_endpoint.go
  agent/consul/connect_ca_endpoint.go
  agent/consul/coordinate_endpoint.go
  agent/consul/discovery_chain_endpoint.go
  agent/consul/federation_state_endpoint.go
  agent/consul/health_endpoint.go
  agent/consul/intention_endpoint.go
  agent/consul/internal_endpoint.go
  agent/consul/kvs_endpoint.go
  agent/consul/operator_autopilot_endpoint.go
  agent/consul/operator_raft_endpoint.go
  agent/consul/prepared_query_endpoint.go
  agent/consul/session_endpoint.go
  agent/consul/snapshot_endpoint.go
  agent/consul/txn_endpoint.go
  agent/consul/txn_endpoint_test.go
  agent/http.go
  agent/ui_endpoint.go
  agent/xds/delta_test.go
  agent/xds/server.go
Labels: theme/acls, theme/envoy/xds

#12505 ui: Fix ember-can
  ui/packages/consul-ui/app/abilities/license.js
  ui/packages/consul-ui/app/abilities/zervice.js
  ui/packages/consul-ui/app/helpers/can.js
  ui/packages/consul-ui/app/helpers/is.js
  ui/packages/consul-ui/app/helpers/test.js
  ui/packages/consul-ui/app/services/abilities.js
  ui/packages/consul-ui/app/services/repository/permission.js
  ui/packages/consul-ui/app/templates/dc/show.hbs
  ui/packages/consul-ui/package.json
  ui/yarn.lock
Labels: theme/ui

#12540 ui: Add CustomElement Transform
  ui/packages/consul-ui/lib/custom-element/index.js
  ui/packages/consul-ui/lib/custom-element/package.json
  ui/packages/consul-ui/package.json
Labels: theme/ui, pr/no-changelog

#12536 Add the `connect.enable_serverless_plugin` configuration option
  agent/config/builder.go
  agent/config/config.go
  agent/config/runtime.go
  agent/config/runtime_test.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/config/testdata/full-config.hcl
  agent/config/testdata/full-config.json
Labels: theme/config, pr/no-changelog

#12547 Remove the gogo Getters
  proto/pbcommon/common.go
  proto/pbcommon/common.pb.go
  proto/pbcommon/common.proto
Labels: pr/no-changelog

#12484 docs: Fixing Prometheus link in docs/agent/telemetry
  website/content/docs/agent/telemetry.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12550 Refactor config checks oss
  agent/consul/config_endpoint.go
  agent/http.go
  agent/structs/config_entry.go
  agent/structs/config_entry_discoverychain.go
  agent/structs/config_entry_exports.go
  agent/structs/config_entry_gateways.go
  agent/structs/config_entry_intentions.go
  agent/structs/config_entry_mesh.go
  agent/structs/config_entry_test.go
Labels: pr/no-changelog

#12482 ui: App-ify Lock Sessions
  .circleci/config.yml
  ui/package.json
  ui/packages/consul-lock-sessions/app/components/consul/lock-session/form/README.mdx
  ui/packages/consul-lock-sessions/app/components/consul/lock-session/form/index.hbs
  ui/packages/consul-lock-sessions/app/components/consul/lock-session/form/index.scss
  ui/packages/consul-lock-sessions/app/components/consul/lock-session/list/README.mdx
  ui/packages/consul-lock-sessions/app/components/consul/lock-session/list/index.hbs
  ui/packages/consul-lock-sessions/app/components/consul/lock-session/list/index.scss
  ui/packages/consul-lock-sessions/app/components/consul/lock-session/notifications/README.mdx
  ui/packages/consul-lock-sessions/app/components/consul/lock-session/notifications/index.hbs
  ui/packages/consul-lock-sessions/app/templates/dc/nodes/show/sessions.hbs
  ui/packages/consul-lock-sessions/package.json
  ui/packages/consul-lock-sessions/vendor/consul-lock-sessions/routes.js
  ui/packages/consul-lock-sessions/vendor/consul-lock-sessions/services.js
  ui/packages/consul-ui/.docfy-config.js
  ui/packages/consul-ui/app/templates/dc/kv/edit.hbs
  ui/packages/consul-ui/app/templates/dc/nodes/show.hbs
  ui/packages/consul-ui/ember-cli-build.js
  ui/packages/consul-ui/lib/startup/templates/body.html.js
  ui/packages/consul-ui/package.json
  ui/packages/consul-ui/translations/routes/en-us.yaml
  ui/packages/consul-ui/vendor/consul-ui/routes.js
Labels: theme/ui, pr/no-changelog

#12556 Create and wire up the serverless patcher
  agent/agent.go
  agent/proxycfg/testing.go
  agent/proxycfg/testing_terminating_gateway.go
  agent/xds/delta.go
  agent/xds/delta_test.go
  agent/xds/server.go
  agent/xds/serverlessplugin/serverlessplugin.go
  agent/xds/xds_protocol_helpers_test.go
  agent/xds/xdscommon/xdscommon.go
  agent/xds/xdscommon/xdscommon_oss_test.go
Labels: theme/envoy/xds, pr/no-changelog

#11821 http: error if GET request has non-empty body
  .changelog/11821.txt
  agent/http.go
Labels: theme/api, theme/operator-usability

#12573 [sync oss] add net/rpc interceptor implementation
  agent/consul/acl_replication_types.go
  agent/consul/acl_token_exp.go
  agent/consul/config_replication.go
  agent/consul/federation_state_replication.go
  agent/consul/leader.go
  agent/consul/leader_federation_state_ae.go
  agent/consul/leader_intentions.go
  agent/consul/rpc.go
  agent/consul/server.go
  agent/consul/session_ttl.go
  agent/consul/system_metadata.go
  agent/metrics_test.go
  agent/rpc/middleware/interceptors.go
  go.mod
  go.sum
Labels: pr/dependencies, pr/no-changelog

#12535 lib: add validation package + DNS label validation
  .changelog/12535.txt
  agent/dns/validation.go
  agent/dns/validation_test.go
Labels: theme/internals

#12504 Support per-listener TLS configuration ⚙️
  .changelog/12504.txt
  agent/agent.go
  agent/auto-config/auto_config_test.go
  agent/auto-config/config_translate.go
  agent/auto-config/config_translate_test.go
  agent/config/builder.go
  agent/config/config.go
  agent/config/default.go
  agent/config/deprecated.go
  agent/config/deprecated_test.go
  agent/config/runtime.go
  agent/config/runtime_test.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/config/testdata/full-config.hcl
  agent/config/testdata/full-config.json
  agent/consul/auto_config_endpoint.go
  agent/consul/auto_config_endpoint_test.go
  agent/consul/auto_encrypt_endpoint_test.go
  agent/consul/client_test.go
  agent/consul/rpc_test.go
  agent/consul/server.go
  agent/consul/server_serf.go
  agent/consul/server_test.go
  agent/consul/status_endpoint_test.go
  agent/consul/subscribe_backend_test.go
  agent/grpc/client_test.go
  agent/grpc/server_test.go
  agent/pool/pool.go
  agent/setup.go
  agent/xds/server.go
  command/agent/agent.go
  proto/pbconfig/config.pb.go
  proto/pbconfig/config.proto
  tlsutil/config.go
  tlsutil/config_test.go
  website/content/docs/agent/index.mdx
  website/content/docs/agent/options.mdx
  website/content/docs/connect/configuration.mdx
  website/content/docs/ecs/manual/secure-configuration.mdx
  website/content/docs/k8s/helm.mdx
  website/content/docs/k8s/installation/deployment-configurations/servers-outside-kubernetes.mdx
  website/content/docs/k8s/installation/multi-cluster/vms-and-kubernetes.mdx
  website/content/docs/security/encryption.mdx
  website/content/docs/security/security-models/core.mdx
Labels: theme/cli, theme/config, theme/tls, theme/envoy/xds, theme/certificates

#12574 docs: Consul Service Mesh overview - rename of title and K8s getting started
  website/content/docs/connect/index.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12567 Add source of authority annotations to the PermissionDeniedError output.
  .changelog/12567.txt
  acl/authorizer.go
  acl/errors.go
  acl/testing.go
  agent/consul/acl.go
  agent/consul/acl_endpoint.go
  agent/consul/catalog_endpoint.go
  agent/consul/catalog_endpoint_test.go
  agent/consul/kvs_endpoint.go
  agent/consul/txn_endpoint.go
  agent/consul/txn_endpoint_test.go
  agent/structs/config_entry.go
Labels: theme/acls

#12575 docs: Consul K8s Overview update
  website/content/docs/k8s/architecture.mdx
  website/content/docs/k8s/index.mdx
  website/data/docs-nav-data.json
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12577 docs: consul-k8s Change "Consul Connect Service Mesh" to "Consul Service Mesh"
  website/content/docs/k8s/index.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12579 docs: Correction on rotating gossip key order per DC
  website/content/docs/k8s/operations/gossip-encryption-key-rotation.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12489 docs: mention filtered by ACLs in coordinate API
  website/content/api-docs/coordinate.mdx
  website/content/api-docs/index.mdx
  website/content/partials/http_api_results_filtered_by_acls.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test

#12580 docs: mention filtered by ACLs in affected APIs
  website/content/api-docs/agent/check.mdx
  website/content/api-docs/agent/index.mdx
  website/content/api-docs/agent/service.mdx
  website/content/api-docs/catalog.mdx
  website/content/api-docs/config.mdx
  website/content/api-docs/connect/intentions.mdx
  website/content/api-docs/event.mdx
  website/content/api-docs/health.mdx
  website/content/api-docs/kv.mdx
  website/content/api-docs/namespaces.mdx
  website/content/api-docs/query.mdx
  website/content/api-docs/session.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12584 updated docs
  website/content/docs/nia/cli/index.mdx
Labels: type/docs, type/docs-cherrypick, theme/consul-terraform-sync, pr/no-changelog

#12582 pre register new rpc metric, rename metric
  agent/metrics_test.go
  agent/rpc/middleware/interceptors.go
  agent/setup.go
Labels: pr/no-changelog

#12586 [OSS] Restructure gRPC server setup
  agent/agent.go
  agent/agent_endpoint.go
  agent/consul/client_test.go
  agent/consul/leader_connect_ca_test.go
  agent/consul/leader_test.go
  agent/consul/rpc_test.go
  agent/consul/server.go
  agent/consul/server_test.go
  agent/consul/subscribe_backend.go
  agent/consul/subscribe_backend_test.go
  agent/grpc/middleware/recovery.go
  agent/grpc/private/client.go
  agent/grpc/private/client_test.go
  agent/grpc/private/handler.go
  agent/grpc/private/handler_test.go
  agent/grpc/private/internal/testservice/simple.pb.binary.go
  agent/grpc/private/internal/testservice/simple.pb.go
  agent/grpc/private/internal/testservice/simple.proto
  agent/grpc/private/resolver/registry.go
  agent/grpc/private/resolver/resolver.go
  agent/grpc/private/server_test.go
  agent/grpc/private/services/subscribe/logger.go
  agent/grpc/private/services/subscribe/subscribe.go
  agent/grpc/private/services/subscribe/subscribe_test.go
  agent/grpc/private/stats.go
  agent/grpc/private/stats_test.go
  agent/grpc/public/server.go
  agent/pool/pool.go
  agent/setup.go
  agent/submatview/store_integration_test.go
  agent/xds/server.go
  docs/rpc/streaming/README.md
Labels: theme/envoy/xds, pr/no-changelog

#12585 factor out recording func, add unit tests
  agent/rpc/middleware/interceptors.go
  agent/rpc/middleware/interceptors_test.go
Labels: pr/no-changelog

#12590 [OSS] streaming: emit events when Connect CA Roots change
  agent/consul/state/connect_ca.go
  agent/consul/state/connect_ca_events.go
  agent/consul/state/connect_ca_events_test.go
  agent/consul/state/memdb.go
  agent/consul/stream/event.go
Labels: pr/no-changelog, pr/no-metrics-test

#12523 Update install.mdx
  website/content/docs/ecs/manual/install.mdx
Labels: type/docs-cherrypick, pr/no-changelog

#12597 Fixup dropped SecretID usage
  agent/consul/txn_endpoint_test.go
Labels: pr/no-changelog

#12576 ui: Consul Server Card component
  ui/packages/consul-ui/app/components/consul/server/card/README.mdx
  ui/packages/consul-ui/app/components/consul/server/card/index.hbs
  ui/packages/consul-ui/app/components/consul/server/card/index.scss
  ui/packages/consul-ui/app/components/consul/server/card/layout.scss
  ui/packages/consul-ui/app/components/consul/server/card/skin.scss
  ui/packages/consul-ui/app/components/consul/server/list/index.hbs
  ui/packages/consul-ui/app/components/consul/server/list/index.scss
  ui/packages/consul-ui/app/styles/base/icons/icons/index.scss
  ui/packages/consul-ui/app/styles/base/typography/base-keyframes.scss
  ui/packages/consul-ui/app/styles/base/typography/base-variables.scss
  ui/packages/consul-ui/app/styles/base/typography/index.scss
  ui/packages/consul-ui/app/styles/components.scss
Labels: theme/ui, pr/no-changelog

#12570 ui: Tile CSS component
  ui/packages/consul-ui/app/components/consul/server/card/README.mdx
  ui/packages/consul-ui/app/components/consul/server/card/index.hbs
  ui/packages/consul-ui/app/components/consul/server/card/index.scss
  ui/packages/consul-ui/app/components/consul/server/card/layout.scss
  ui/packages/consul-ui/app/components/consul/server/card/skin.scss
  ui/packages/consul-ui/app/components/consul/server/list/index.hbs
  ui/packages/consul-ui/app/components/consul/server/list/index.scss
  ui/packages/consul-ui/app/components/tile/README.mdx
  ui/packages/consul-ui/app/components/tile/debug.scss
  ui/packages/consul-ui/app/components/tile/index.scss
  ui/packages/consul-ui/app/styles/base/component/index.scss
  ui/packages/consul-ui/app/styles/base/decoration/base-variables.scss
  ui/packages/consul-ui/app/styles/base/icons/icons/index.scss
  ui/packages/consul-ui/app/styles/base/index.scss
  ui/packages/consul-ui/app/styles/base/typography/base-keyframes.scss
  ui/packages/consul-ui/app/styles/base/typography/base-variables.scss
  ui/packages/consul-ui/app/styles/base/typography/index.scss
  ui/packages/consul-ui/app/styles/components.scss
  ui/packages/consul-ui/app/styles/debug.scss
Labels: theme/ui, pr/no-changelog, pr/no-metrics-test

#12604 Lkysow/docs updates 2
  website/content/docs/agent/options.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12046 [1.9.x] Update memberlist to v0.3.1
  .changelog/12046.txt
  agent/consul/server.go
  agent/consul/wanfed/wanfed.go
  go.mod
  go.sum
  vendor/github.com/hashicorp/memberlist/config.go
  vendor/github.com/hashicorp/memberlist/event_delegate.go
  vendor/github.com/hashicorp/memberlist/label.go
  vendor/github.com/hashicorp/memberlist/memberlist.go
  vendor/github.com/hashicorp/memberlist/net.go
  vendor/github.com/hashicorp/memberlist/peeked_conn.go
  vendor/github.com/hashicorp/memberlist/security.go
  vendor/github.com/hashicorp/memberlist/state.go
  vendor/github.com/hashicorp/memberlist/transport.go
  vendor/github.com/hashicorp/memberlist/util.go
  vendor/modules.txt
Labels: pr/dependencies, pr/no-changelog

#12602 docs: make gossip threat model more visible
  website/content/docs/security/security-models/core.mdx
Labels: type/docs, type/docs-cherrypick, backport/1.8, backport/1.9, pr/no-changelog, backport/1.10

#12603 Remove gogo from pbservice
  agent/grpc/private/resolver/registry.go
  agent/grpc/private/resolver/resolver.go
  agent/grpc/private/services/subscribe/subscribe_test.go
  agent/rpcclient/health/view_test.go
  agent/submatview/streaming_test.go
  build-support/scripts/proto-gen-entry.sh
  go.mod
  go.sum
  proto/pbcommon/common_oss.go
  proto/pbservice/convert.go
  proto/pbservice/convert_oss.go
  proto/pbservice/convert_pbstruct.go
  proto/pbservice/healthcheck.gen.go
  proto/pbservice/healthcheck.pb.go
  proto/pbservice/healthcheck.proto
  proto/pbservice/ids.go
  proto/pbservice/ids_test.go
  proto/pbservice/node.gen.go
  proto/pbservice/node.pb.go
  proto/pbservice/node.proto
  proto/pbservice/service.gen.go
  proto/pbservice/service.pb.go
  proto/pbservice/service.proto
  proto/pbsubscribe/subscribe.pb.go
Labels: pr/dependencies, pr/no-changelog

#12598 [metrics][rpc]: add basic prefix filter test for new rpc metric
  agent/metrics_test.go
Labels: pr/no-changelog

#12610 [oss] ACL pkg updates to support Agentless RPCs
  acl/acl_test.go
  acl/authorizer.go
  acl/authorizer_test.go
  acl/chained_authorizer.go
  acl/chained_authorizer_test.go
  acl/policy_authorizer.go
  acl/policy_authorizer_test.go
  acl/static_authorizer.go
Labels: theme/acls, pr/no-changelog, pr/no-metrics-test

#12606 remove Telemetry.MergeDefaults
  lib/telemetry.go
  lib/telemetry_test.go
Labels: pr/no-changelog

#12522 agent: convert listener config to TLS types
  .changelog/12522.txt
  agent/auto-config/config_translate.go
  agent/auto-config/config_translate_test.go
  agent/config/builder.go
  agent/config/builder_test.go
  agent/config/default.go
  agent/config/deprecated.go
  agent/config/deprecated_test.go
  agent/config/runtime_test.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/config/testdata/full-config.hcl
  agent/config/testdata/full-config.json
  agent/consul/auto_config_endpoint.go
  agent/consul/auto_config_endpoint_test.go
  tlsutil/config.go
  tlsutil/config_test.go
  types/tls.go
  website/content/docs/agent/options.mdx
Labels: type/docs, theme/cli, theme/config, theme/tls, theme/envoy/xds, theme/certificates, pr/no-metrics-test

#12596 oss: Add overview UI internal endpoint
  agent/consul/internal_endpoint.go
  agent/consul/internal_endpoint_test.go
  agent/consul/server.go
  agent/consul/server_overview.go
  agent/consul/server_overview_test.go
  agent/consul/state/catalog.go
  agent/http_register.go
  agent/structs/catalog.go
  agent/ui_endpoint.go
Labels: pr/no-changelog

#12611 fix bad oss sync, use gauges not counters
  agent/metrics_test.go
  agent/rpc/middleware/interceptors.go
  agent/setup.go
Labels: pr/no-changelog, pr/no-metrics-test

#12616 Assorted changes required to remove gogo
  .circleci/config.yml
  agent/http.go
  agent/structs/protobuf_compat.go
  agent/structs/structs.go
  build-support/scripts/proto-gen-no-gogo.sh
  proto/pbcommon/common.gen.go
  proto/pbcommon/common.go
  proto/pbcommon/common.pb.go
  proto/pbcommon/common.proto
Labels: type/ci, pr/no-changelog

#12620 Fixups for error messages from ACL Errors
  acl/errors.go
  acl/errors_oss.go
  acl/errors_test.go
  acl/testing.go
Labels: theme/acls, pr/no-changelog

#12622 Update consul-enterprise.mdx
  website/content/docs/k8s/installation/deployment-configurations/consul-enterprise.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12625 regenerate rpc glue stubs in protobuf files using comments
  build-support/scripts/proto-gen-no-gogo.sh
  internal/tools/proto-gen-rpc-glue/go.mod
  internal/tools/proto-gen-rpc-glue/go.sum
  internal/tools/proto-gen-rpc-glue/main.go
Labels: pr/no-changelog

#12595 docs: add link to k8s cli install page
  website/content/docs/k8s/k8s-cli.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12627 Fix logic for website checker
  .github/workflows/website-checker.yml
Labels: theme/contributing, pr/no-changelog

#12633 proto-gen-rpc-glue: fix behavior of renamed fields
  internal/tools/proto-gen-rpc-glue/.gitignore
  internal/tools/proto-gen-rpc-glue/e2e/go.mod
  internal/tools/proto-gen-rpc-glue/e2e/go.sum
  internal/tools/proto-gen-rpc-glue/e2e/source.pb.go
  internal/tools/proto-gen-rpc-glue/e2e/source.rpcglue.pb.go.golden
  internal/tools/proto-gen-rpc-glue/go.mod
  internal/tools/proto-gen-rpc-glue/go.sum
  internal/tools/proto-gen-rpc-glue/main.go
  internal/tools/proto-gen-rpc-glue/main_test.go
Labels: pr/no-changelog

#12607 Fix leaked Vault LifetimeRenewers
  .changelog/12607.txt
  agent/connect/ca/provider_vault.go
  agent/connect/ca/provider_vault_test.go
Labels: type/bug, theme/consul-vault, backport/1.9, backport/1.10, backport/1.11

#12637 proto-gen-rpc-glue: support QueryMeta and QueryOptions
  internal/tools/proto-gen-rpc-glue/.gitignore
  internal/tools/proto-gen-rpc-glue/e2e/consul/agent/structs/structs.go
  internal/tools/proto-gen-rpc-glue/e2e/consul/proto/pbcommon/common.go
  internal/tools/proto-gen-rpc-glue/e2e/source.pb.go
  internal/tools/proto-gen-rpc-glue/e2e/source.rpcglue.pb.go.golden
  internal/tools/proto-gen-rpc-glue/main.go
Labels: pr/no-changelog

#12636 Fix leaked Vault LifetimeRenewers (#12607) - 1.9.x backport
  .changelog/12607.txt
  .circleci/config.yml
  agent/connect/ca/provider_vault.go
  agent/connect/ca/provider_vault_test.go
Labels: theme/connect, pr/no-changelog

#12591 [RelAPI Onboarding] Add release API metadata file
  .release/release-metadata.hcl
  website/content/docs/nia/release-notes/index.mdx
  website/content/docs/releases/index.mdx
  website/content/docs/releases/release-notes/index.mdx
  website/content/docs/releases/release-notes/v1_10_0.mdx
  website/content/docs/releases/release-notes/v1_11_0.mdx
  website/content/docs/releases/release-notes/v1_9_0.mdx
  website/data/docs-nav-data.json
  website/redirects.next.js
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12638 Remove gogo from ACL Protobufs
  agent/consul/state/acl.go
  agent/consul/state/acl_test.go
  agent/http.go
  agent/structs/protobuf_compat.go
  agent/structs/structs.go
  api/namespace.go
  proto/pbacl/acl.go
  proto/pbacl/acl.pb.go
  proto/pbacl/acl.proto
  proto/pbcommon/common.go
  proto/prototest/testing.go
Labels: theme/api, pr/no-changelog, pr/no-metrics-test

#12639 Remove the Rest of Gogo
  .circleci/config.yml
  GNUmakefile
  agent/grpc/private/internal/testservice/simple.pb.go
  agent/grpc/private/services/subscribe/subscribe_test.go
  agent/rpcclient/health/view_test.go
  agent/structs/protobuf_compat.go
  agent/structs/structs.go
  agent/submatview/store_test.go
  build-support/scripts/proto-gen-entry.sh
  build-support/scripts/proto-gen-no-gogo.sh
  build-support/scripts/proto-gen.sh
  go.mod
  proto/pbacl/acl.pb.go
  proto/pbcommongogo/common.gen.go
  proto/pbcommongogo/common.go
  proto/pbcommongogo/common.pb.binary.go
  proto/pbcommongogo/common.pb.go
  proto/pbcommongogo/common.proto
  proto/pbcommongogo/common_oss.go
  proto/pbservice/convert_pbstruct.go
  proto/pbutil/pbutil.go
  proto/translate.go
  proto/translate_test.go
Labels: type/ci, pr/dependencies, pr/no-changelog

#12641 build: enforce protoc binary is the expected version
  .circleci/config.yml
  GNUmakefile
Labels: type/ci, backport/1.9, pr/no-changelog, backport/1.10, backport/1.11

#12642 [1.11.x] build: enforce protoc binary is the expected version
  .circleci/config.yml
  GNUmakefile
Labels: type/ci, backport/1.9, pr/no-changelog, backport/1.10

#12645 add missing line from prototest.AssertDeepEqual
  proto/prototest/testing.go
Labels: pr/no-changelog

#12647 build: install mog and execute it during protobuf compilation
  .circleci/config.yml
  GNUmakefile
  build-support/scripts/proto-gen.sh
Labels: type/ci, pr/no-changelog

#12648 RelAPI Onboarding for 1.10.x
  .release/release-metadata.hcl
Labels: pr/no-changelog

#12649 RelAPI Onboarding for 1.9.x
  .release/release-metadata.hcl
Labels: pr/no-changelog

#12650 RelAPI Onboarding 1.8.x
  .release/release-metadata.hcl
Labels: pr/no-changelog

#12644 website(api-gateway): add consul namespace to helm install
  website/content/docs/api-gateway/api-gateway-usage.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12657 need two dollar signs for a shell variable in makefiles
  GNUmakefile
Labels: pr/no-changelog

#12646 Update raft-boltdb to pull in new writeCapacity metric
  .changelog/12646.txt
  go.mod
  go.sum
  website/content/docs/agent/telemetry.mdx
Labels: type/docs, pr/dependencies, pr/no-metrics-test

#12659 Bump Go Control Plane
  GNUmakefile
  agent/auto-config/mock_test.go
  agent/config/runtime_test.go
  agent/consul/auto_config_endpoint_test.go
  agent/consul/state/catalog_events_test.go
  agent/consul/state/connect_ca_test.go
  agent/grpc/private/handler_test.go
  agent/grpc/private/internal/testservice/simple.pb.go
  agent/grpc/private/services/subscribe/subscribe_test.go
  agent/grpc/private/stats_test.go
  agent/rpcclient/health/view.go
  agent/rpcclient/health/view_test.go
  agent/structs/structs.go
  agent/submatview/materializer.go
  agent/submatview/store_test.go
  agent/xds/clusters.go
  agent/xds/testdata/clusters/connect-proxy-with-chain-and-overrides.envoy-1-20-x.golden
  agent/xds/testdata/clusters/expose-paths-grpc-new-cluster-http1.envoy-1-20-x.golden
  agent/xds/testdata/clusters/expose-paths-new-cluster-http2.envoy-1-20-x.golden
  agent/xds/testdata/clusters/ingress-gateway-no-services.envoy-1-20-x.golden
  agent/xds/testdata/clusters/mesh-gateway-no-services.envoy-1-20-x.golden
  agent/xds/testdata/clusters/terminating-gateway-no-services.envoy-1-20-x.golden
  agent/xds/testdata/endpoints/ingress-gateway-no-services.envoy-1-20-x.golden
  agent/xds/testdata/endpoints/mesh-gateway-no-services.envoy-1-20-x.golden
  agent/xds/testdata/endpoints/terminating-gateway-no-services.envoy-1-20-x.golden
  agent/xds/testdata/listeners/ingress-gateway-no-services.envoy-1-20-x.golden
  agent/xds/testdata/routes/defaults.envoy-1-20-x.golden
  agent/xds/testdata/routes/ingress-defaults-no-chain.envoy-1-20-x.golden
  agent/xds/testdata/routes/ingress-with-chain-external-sni.envoy-1-20-x.golden
  agent/xds/testdata/routes/ingress-with-chain.envoy-1-20-x.golden
  agent/xds/xds_protocol_helpers_test.go
  agent/xds/z_xds_packages.go
  build-support/scripts/envoy-library-references.sh
  build-support/scripts/proto-gen.sh
  connect/tls_test.go
  go.mod
  go.sum
  proto/pbacl/acl.pb.go
  proto/pbautoconf/auto_config.pb.go
  proto/pbcommon/common.go
  proto/pbcommon/common.pb.go
  proto/pbconfig/config.pb.go
  proto/pbconnect/connect.pb.go
  proto/pbservice/healthcheck.pb.go
  proto/pbservice/ids_test.go
  proto/pbservice/node.pb.go
  proto/pbservice/service.pb.go
  proto/pbsubscribe/subscribe.pb.go
Labels: theme/config, theme/connect, pr/dependencies, theme/envoy/xds, pr/no-changelog

#12643 website(api-gateway): add common errors page
  website/content/docs/api-gateway/common-errors.mdx
  website/data/docs-nav-data.json
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test

#12665 build: run mog separately after the protobufs are generated
  GNUmakefile
  build-support/scripts/proto-gen.sh
Labels: pr/no-changelog, pr/no-metrics-test

#12329 auto-reload configuration when config files change
  .changelog/12329.txt
  agent/agent.go
  agent/agent_test.go
  agent/config/builder.go
  agent/config/config.go
  agent/config/file_watcher.go
  agent/config/file_watcher_test.go
  agent/config/flags.go
  agent/config/runtime.go
  agent/config/runtime_test.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/local/state.go
  agent/setup.go
  agent/structs/acl.go
  agent/structs/config_entry_intentions.go
  agent/structs/connect_ca.go
  agent/testagent.go
  command/agent/agent.go
  lib/stringslice/stringslice.go
Labels: theme/cli

#12670 oss: Add expanded token read flag and endpoint option
  .changelog/12670.txt
  agent/acl_endpoint.go
  agent/acl_endpoint_test.go
  agent/consul/acl_endpoint.go
  agent/consul/acl_endpoint_oss.go
  agent/consul/acl_endpoint_test.go
  agent/structs/acl.go
  agent/structs/acl_test.go
  api/acl.go
  command/acl/token/formatter.go
  command/acl/token/formatter_oss_test.go
  command/acl/token/formatter_test.go
  command/acl/token/read/token_read.go
  command/acl/token/testdata/FormatTokenExpanded/oss/basic.json.golden
  command/acl/token/testdata/FormatTokenExpanded/oss/basic.pretty-meta.golden
  command/acl/token/testdata/FormatTokenExpanded/oss/basic.pretty.golden
  command/acl/token/testdata/FormatTokenExpanded/oss/complex.json.golden
  command/acl/token/testdata/FormatTokenExpanded/oss/complex.pretty-meta.golden
  command/acl/token/testdata/FormatTokenExpanded/oss/complex.pretty.golden
Labels: theme/api, theme/cli, pr/no-metrics-test

#12608 docs: new rpc metric
  website/content/docs/agent/telemetry.mdx
Labels: type/docs, pr/no-changelog, pr/no-metrics-test

#12677 docs: Add examples for expanded token read CLI and API
  website/content/api-docs/acl/tokens.mdx
  website/content/commands/acl/token/read.mdx
Labels: type/docs, pr/no-changelog, pr/no-metrics-test
