Repository hashicorp/consul, pull requests merged in 2022-10, with the labels that each got.

#14840 Update tech-specs.mdx
  website/content/docs/api-gateway/tech-specs.mdx
Labels: type/docs, pr/no-changelog

#14694 Return mesh gateway addrs if peering through mgw
  agent/consul/peering_backend.go
  agent/consul/peering_backend_test.go
  agent/consul/servercert/manager.go
  agent/grpc-external/services/peerstream/server.go
  agent/grpc-external/services/peerstream/stream_resources.go
  agent/grpc-external/services/peerstream/subscription_blocking.go
  agent/grpc-external/services/peerstream/subscription_manager.go
  agent/grpc-external/services/peerstream/subscription_manager_test.go
  agent/rpc/peering/service.go
  lib/retry/retry.go
Labels: pr/no-changelog

#14838 chore: fix broken peering UI tests
  agent/agent.go
  agent/config/builder.go
  agent/config/config.go
  agent/config/default.go
  agent/config/runtime.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/consul/catalog_endpoint.go
  agent/consul/config.go
  agent/consul/health_endpoint_test.go
  agent/consul/internal_endpoint_test.go
  agent/dns_test.go
  agent/health_endpoint_test.go
  agent/testagent.go
  agent/ui_endpoint_test.go
Labels: theme/health-checks, theme/config, pr/no-changelog, pr/no-metrics-test

#14734 Update mesh gateway Envoy config for INBOUND peering control-plane traffic
  agent/proxycfg/mesh_gateway.go
  agent/proxycfg/snapshot.go
  agent/proxycfg/state_test.go
  agent/proxycfg/testing_mesh_gateway.go
  agent/structs/config_entry_mesh.go
  agent/structs/config_entry_mesh_test.go
  agent/xds/clusters.go
  agent/xds/endpoints.go
  agent/xds/listeners.go
  agent/xds/resources_test.go
  agent/xds/testdata/clusters/mesh-gateway-peering-control-plane.latest.golden
  agent/xds/testdata/endpoints/mesh-gateway-peering-control-plane.latest.golden
  agent/xds/testdata/listeners/mesh-gateway-peering-control-plane.latest.golden
  agent/xds/testdata/routes/mesh-gateway-peering-control-plane.latest.golden
Labels: theme/envoy/xds, pr/no-changelog

#14843 fix flaky integration test
  test/integration/connect/envoy/case-ingress-gateway-multiple-services/verify.bats
  test/integration/connect/envoy/case-ingress-gateway-simple/config_entries.hcl
  test/integration/connect/envoy/case-ingress-gateway-simple/verify.bats
Labels: pr/no-changelog, backport/1.11, backport/1.12, backport/1.13

#14842 ci: Fix changelog-checker GHA workflow
  .github/workflows/changelog-checker.yml
Labels: theme/contributing, pr/no-changelog, backport/1.11, backport/1.12, backport/1.13

#14827 first commit with overview page
  website/content/docs/consul-vs-other/api-gateway-compare.mdx
  website/content/docs/consul-vs-other/config-management-compare.mdx
  website/content/docs/consul-vs-other/dns-tools-compare.mdx
  website/content/docs/consul-vs-other/index.mdx
  website/content/docs/consul-vs-other/service-mesh-compare.mdx
  website/data/docs-nav-data.json
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#14779 Docs/invoke services from lambda
  website/content/docs/lambda/index.mdx
  website/content/docs/lambda/invocation.mdx
  website/content/docs/lambda/invoke-from-lambda.mdx
  website/content/docs/lambda/registration.mdx
  website/content/docs/lambda/registration/automate.mdx
  website/content/docs/lambda/registration/index.mdx
  website/content/docs/lambda/registration/manual.mdx
  website/data/docs-nav-data.json
  website/public/img/invoke-service-from-lambda-flow.svg
Labels: type/docs-cherrypick, pr/no-changelog

#14848 Backport of ci: Fix changelog-checker GHA workflow into release/1.11.x
  .github/workflows/changelog-checker.yml
Labels: theme/contributing, pr/no-changelog

#14850 Backport of ci: Fix changelog-checker GHA workflow into release/1.13.x
  .github/workflows/changelog-checker.yml
Labels: theme/contributing, pr/no-changelog

#14830 connect: Bump Envoy 1.20 to 1.20.7
  .changelog/14830.txt
  .circleci/config.yml
  agent/xds/envoy_versioning_test.go
  agent/xds/proxysupport/proxysupport.go
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, type/ci, theme/envoy/xds

#14854 Rename `PeerName` to `Peer` on prepared queries and exported services
  .changelog/14854.txt
  agent/consul/internal_endpoint_test.go
  agent/consul/leader_peering_test.go
  agent/consul/prepared_query/walk_test.go
  agent/consul/prepared_query_endpoint.go
  agent/consul/prepared_query_endpoint_test.go
  agent/consul/state/config_entry_oss_test.go
  agent/consul/state/config_entry_test.go
  agent/consul/state/peering.go
  agent/consul/state/peering_test.go
  agent/grpc-external/services/peerstream/stream_test.go
  agent/grpc-external/services/peerstream/subscription_manager_test.go
  agent/proxycfg-glue/exported_peered_services_test.go
  agent/proxycfg-glue/trust_bundle_test.go
  agent/rpc/peering/service_test.go
  agent/structs/config_entry_export_oss_test.go
  agent/structs/config_entry_exports.go
  agent/structs/config_entry_exports_test.go
  agent/structs/config_entry_test.go
  agent/structs/prepared_query.go
  agent/ui_endpoint_test.go
  api/config_entry_exports.go
  api/config_entry_exports_test.go
  api/prepared_query.go
  command/helpers/helpers_test.go
  test/integration/connect/envoy/case-cfg-resolver-cluster-peering-failover/alpha/config_entries.hcl
  test/integration/connect/envoy/case-cross-peers-http-router/alpha/config_entries.hcl
  test/integration/connect/envoy/case-cross-peers-http/alpha/config_entries.hcl
  test/integration/connect/envoy/case-cross-peers-resolver-redirect-tcp/alpha/config_entries.hcl
  test/integration/connect/envoy/case-cross-peers/alpha/config_entries.hcl
  website/content/api-docs/query.mdx
  website/content/docs/connect/config-entries/exported-services.mdx
Labels: type/docs, theme/api, theme/cli

#14836 Add peering integration tests
  test/integration/connect/envoy/case-cfg-splitter-cluster-peering/alpha/base.hcl
  test/integration/connect/envoy/case-cfg-splitter-cluster-peering/alpha/config_entries.hcl
  test/integration/connect/envoy/case-cfg-splitter-cluster-peering/alpha/service_gateway.hcl
  test/integration/connect/envoy/case-cfg-splitter-cluster-peering/alpha/service_s1.hcl
  test/integration/connect/envoy/case-cfg-splitter-cluster-peering/alpha/service_s2.hcl
  test/integration/connect/envoy/case-cfg-splitter-cluster-peering/alpha/setup.sh
  test/integration/connect/envoy/case-cfg-splitter-cluster-peering/alpha/verify.bats
  test/integration/connect/envoy/case-cfg-splitter-cluster-peering/bind.hcl
  test/integration/connect/envoy/case-cfg-splitter-cluster-peering/capture.sh
  test/integration/connect/envoy/case-cfg-splitter-cluster-peering/primary/base.hcl
  test/integration/connect/envoy/case-cfg-splitter-cluster-peering/primary/config_entries.hcl
  test/integration/connect/envoy/case-cfg-splitter-cluster-peering/primary/service_s1.hcl
  test/integration/connect/envoy/case-cfg-splitter-cluster-peering/primary/service_s2.hcl
  test/integration/connect/envoy/case-cfg-splitter-cluster-peering/primary/setup.sh
  test/integration/connect/envoy/case-cfg-splitter-cluster-peering/primary/verify.bats
  test/integration/connect/envoy/case-cfg-splitter-cluster-peering/vars.sh
  test/integration/connect/envoy/case-cfg-splitter-peering-ingress-gateways/alpha/base.hcl
  test/integration/connect/envoy/case-cfg-splitter-peering-ingress-gateways/alpha/config_entries.hcl
  test/integration/connect/envoy/case-cfg-splitter-peering-ingress-gateways/alpha/service_gateway.hcl
  test/integration/connect/envoy/case-cfg-splitter-peering-ingress-gateways/alpha/service_s1.hcl
  test/integration/connect/envoy/case-cfg-splitter-peering-ingress-gateways/alpha/service_s2.hcl
  test/integration/connect/envoy/case-cfg-splitter-peering-ingress-gateways/alpha/setup.sh
  test/integration/connect/envoy/case-cfg-splitter-peering-ingress-gateways/alpha/verify.bats
  test/integration/connect/envoy/case-cfg-splitter-peering-ingress-gateways/bind.hcl
  test/integration/connect/envoy/case-cfg-splitter-peering-ingress-gateways/capture.sh
  test/integration/connect/envoy/case-cfg-splitter-peering-ingress-gateways/primary/base.hcl
  test/integration/connect/envoy/case-cfg-splitter-peering-ingress-gateways/primary/config_entries.hcl
  test/integration/connect/envoy/case-cfg-splitter-peering-ingress-gateways/primary/service_ingress.hcl
  test/integration/connect/envoy/case-cfg-splitter-peering-ingress-gateways/primary/setup.sh
  test/integration/connect/envoy/case-cfg-splitter-peering-ingress-gateways/primary/verify.bats
  test/integration/connect/envoy/case-cfg-splitter-peering-ingress-gateways/vars.sh
  test/integration/connect/envoy/case-ingress-gateway-peering-failover/alpha/base.hcl
  test/integration/connect/envoy/case-ingress-gateway-peering-failover/alpha/config_entries.hcl
  test/integration/connect/envoy/case-ingress-gateway-peering-failover/alpha/service_gateway.hcl
  test/integration/connect/envoy/case-ingress-gateway-peering-failover/alpha/service_s1.hcl
  test/integration/connect/envoy/case-ingress-gateway-peering-failover/alpha/service_s2.hcl
  test/integration/connect/envoy/case-ingress-gateway-peering-failover/alpha/setup.sh
  test/integration/connect/envoy/case-ingress-gateway-peering-failover/alpha/verify.bats
  test/integration/connect/envoy/case-ingress-gateway-peering-failover/bind.hcl
  test/integration/connect/envoy/case-ingress-gateway-peering-failover/capture.sh
  test/integration/connect/envoy/case-ingress-gateway-peering-failover/primary/base.hcl
  test/integration/connect/envoy/case-ingress-gateway-peering-failover/primary/config_entries.hcl
  test/integration/connect/envoy/case-ingress-gateway-peering-failover/primary/service_ingress.hcl
  test/integration/connect/envoy/case-ingress-gateway-peering-failover/primary/service_s1.hcl
  test/integration/connect/envoy/case-ingress-gateway-peering-failover/primary/service_s2.hcl
  test/integration/connect/envoy/case-ingress-gateway-peering-failover/primary/setup.sh
  test/integration/connect/envoy/case-ingress-gateway-peering-failover/primary/verify.bats
  test/integration/connect/envoy/case-ingress-gateway-peering-failover/vars.sh
  test/integration/connect/envoy/helpers.bash
Labels: pr/no-changelog

#14875 [docs] update helm docs for consul-k8s 1.0.0-beta1
  website/content/docs/k8s/helm.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#14710 docs: Consul Dataplane Version Compatibility
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test

#14831 connect: Bump Envoy 1.20 to 1.20.7, 1.21 to 1.21.5 and 1.22 to 1.22.5
  .changelog/14831.txt
  .circleci/config.yml
  agent/xds/envoy_versioning_test.go
  agent/xds/proxysupport/proxysupport.go
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, type/ci, theme/envoy/xds

#14828 connect: Bump Envoy 1.20 to 1.20.7, 1.21 to 1.21.5 and 1.22 to 1.22.5
  .changelog/14828.txt
  .circleci/config.yml
  agent/xds/envoy_versioning_test.go
  agent/xds/proxysupport/proxysupport.go
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, type/ci, theme/envoy/xds

#14873 Upgrade serf to v0.10.1 and memberlist to v0.5.0 to get memberlist size metrics and broadcast queue depth metric
  .changelog/14873.txt
  agent/consul/config_test.go
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
Labels: pr/dependencies, pr/no-metrics-test

#14878 [docs] Fix broken Learn link
  website/content/docs/ecs/index.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#14880 Update CAPIGW comparison docs
  website/content/docs/consul-vs-other/api-gateway-compare.mdx
Labels: type/docs, pr/no-changelog, backport/1.13

#14853 ui: Allow managed-runtime badge to be dynamic
  ui/packages/consul-ui/app/components/consul/datacenter/selector/index.hbs
Labels: theme/ui, pr/no-changelog

#14835 fix(api): missing peer name in query option
  api/api.go
  api/api_test.go
Labels: theme/api, pr/no-changelog, backport/1.13

#14892 Fix broken links on WAN Federation Vault docs page
  website/content/docs/k8s/deployment-configurations/vault/wan-federation.mdx
Labels: type/docs, type/docs-cherrypick, backport/1.12

#14771 ui: Wrap service names on show and instance routes
  ui/packages/consul-ui/app/components/app-view/index.hbs
  ui/packages/consul-ui/app/components/app-view/index.scss
  ui/packages/consul-ui/app/components/app-view/layout.scss
  ui/packages/consul-ui/app/components/app-view/skin.scss
  ui/packages/consul-ui/app/components/breadcrumbs/layout.scss
  ui/packages/consul-ui/app/templates/dc/kv/edit.hbs
  ui/packages/consul-ui/app/templates/dc/kv/index.hbs
  ui/packages/consul-ui/app/templates/dc/services/instance.hbs
Labels: theme/ui, pr/no-changelog

#14751 Fix tproxy listeners with discovery chains.
  .changelog/14751.txt
  agent/proxycfg/connect_proxy.go
  agent/proxycfg/testing_tproxy.go
  agent/xds/listeners_test.go
  agent/xds/testdata/listeners/transparent-proxy-with-resolver-redirect-upstream.latest.golden
Labels: theme/envoy/xds, backport/1.12, backport/1.13

#14902 Backport of Fix tproxy listeners with discovery chains. into release/1.12.x
  .changelog/14751.txt
  agent/proxycfg/connect_proxy.go
  agent/proxycfg/testing_tproxy.go
  agent/xds/listeners_test.go
  agent/xds/testdata/listeners/transparent-proxy-with-resolver-redirect-upstream.latest.golden
Labels: theme/envoy/xds

#14394 ui: Setup Hashicorp Design System for usage in consul-ui
  ui/packages/consul-ui/.eslintrc.js
  ui/packages/consul-ui/app/styles/app.scss
  ui/packages/consul-ui/app/styles/tailwind.scss
  ui/packages/consul-ui/docs/hds.mdx
  ui/packages/consul-ui/ember-cli-build.js
  ui/packages/consul-ui/package.json
  ui/packages/consul-ui/tailwind.config.js
  ui/yarn.lock
Labels: theme/ui, pr/no-changelog

#14721 ui: Update empty-state copy throughout app
  ui/packages/consul-lock-sessions/app/templates/dc/nodes/show/sessions.hbs
  ui/packages/consul-nspaces/app/templates/dc/nspaces/index.hbs
  ui/packages/consul-partitions/app/templates/dc/partitions/index.hbs
  ui/packages/consul-peerings/app/templates/dc/peers/index.hbs
  ui/packages/consul-ui/app/templates/dc/intentions/index.hbs
  ui/packages/consul-ui/app/templates/dc/kv/index.hbs
  ui/packages/consul-ui/app/templates/dc/nodes/index.hbs
  ui/packages/consul-ui/app/templates/dc/services/index.hbs
  ui/packages/consul-ui/app/templates/dc/services/show/intentions/index.hbs
  ui/packages/consul-ui/config/environment.js
  ui/packages/consul-ui/tests/acceptance/dc/intentions/index.feature
  ui/packages/consul-ui/tests/acceptance/dc/nodes/index.feature
  ui/packages/consul-ui/tests/acceptance/dc/nodes/sessions/list.feature
  ui/packages/consul-ui/tests/acceptance/dc/peers/index.feature
  ui/packages/consul-ui/tests/acceptance/dc/services/index.feature
  ui/packages/consul-ui/translations/routes/en-us.yaml
Labels: theme/ui, pr/no-changelog

#14898 docs: vault ca provider patch upgrade guidance
  CHANGELOG.md
  website/content/docs/connect/ca/vault.mdx
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#14910 Fixes broken URLs in Dataplane docs
  website/content/docs/connect/dataplane/index.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#14914 docs: vault ca provider patch upgrade guidance
  website/content/docs/connect/ca/vault.mdx
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs, pr/no-changelog

#14915 docs: vault ca provider patch upgrade guidance
  website/content/docs/connect/ca/vault.mdx
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs, pr/no-changelog

#14903 ui: Remove node name from agentless service instance
  .changelog/14903.txt
  ui/packages/consul-ui/app/templates/dc/services/instance.hbs
  ui/packages/consul-ui/mock-api/v1/health/service/_
  ui/packages/consul-ui/tests/acceptance/dc/services/instances/show.feature
Labels: theme/ui

#14796 Use internal server certificate for peering TLS
  .changelog/14796.txt
  agent/agent_endpoint_test.go
  agent/connect/testing_ca.go
  agent/consul/leader_peering_test.go
  agent/consul/peering_backend.go
  agent/consul/peering_backend_oss_test.go
  agent/consul/peering_backend_test.go
  agent/consul/prepared_query_endpoint_test.go
  agent/consul/server_test.go
  agent/grpc-external/services/peerstream/stream_test.go
  agent/peering_endpoint_test.go
  agent/rpc/peering/service.go
  agent/rpc/peering/service_test.go
  agent/rpc/peering/validate.go
  agent/testagent.go
  api/api_test.go
  api/peering_test.go
  command/peering/establish/establish_test.go
  command/peering/generate/generate_test.go
  sdk/testutil/server.go
  test/integration/connect/envoy/consul-base-cfg/base.hcl
  test/integration/connect/envoy/consul-base-cfg/peering_server.hcl
  test/integration/connect/envoy/run-tests.sh
Labels: theme/api, theme/cli, theme/connect

#14912 [docs] update helm docs for beta2
  website/content/docs/k8s/helm.mdx
Labels: type/docs, pr/no-changelog, pr/no-metrics-test

#14907 Fix outdated support email address
  website/content/docs/enterprise/license/faq.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.11, backport/1.12

#14918 Ensure lines were modified
  .github/scripts/metrics_checker.sh
Labels: theme/contributing, pr/no-changelog

#14928 docs: fix missing agent caching method
  website/content/api-docs/catalog.mdx
Labels: type/docs, pr/no-changelog

#14925 tests: Fix flaky upgrade/compatibility test
  test/integration/consul-container/upgrade/healthcheck_test.go
Labels: pr/no-changelog

#14931 Enable ironbank integration
  .release/ci.hcl
Labels: pr/no-changelog, backport/1.11, backport/1.12, backport/1.13

#14943 website: fix broken links
  website/content/api-docs/features/consistency.mdx
  website/content/api-docs/index.mdx
  website/content/commands/peering/establish.mdx
  website/content/docs/agent/sentinel.mdx
  website/content/docs/agent/telemetry.mdx
  website/content/docs/architecture/index.mdx
  website/content/docs/connect/ca/vault.mdx
  website/content/docs/connect/cluster-peering/create-manage-peering.mdx
  website/content/docs/connect/configuration.mdx
  website/content/docs/connect/dataplane/consul-dataplane.mdx
  website/content/docs/connect/nomad.mdx
  website/content/docs/connect/transparent-proxy.mdx
  website/content/docs/ecs/manual/secure-configuration.mdx
  website/content/docs/enterprise/sentinel.mdx
  website/content/docs/integrate/nia-integration.mdx
  website/content/docs/integrate/partnerships.mdx
  website/content/docs/intro/index.mdx
  website/content/docs/k8s/deployment-configurations/consul-enterprise.mdx
  website/content/docs/k8s/deployment-configurations/multi-cluster/index.mdx
  website/content/docs/k8s/deployment-configurations/multi-cluster/vms-and-kubernetes.mdx
  website/content/docs/k8s/deployment-configurations/vault/data-integration/bootstrap-token.mdx
  website/content/docs/k8s/deployment-configurations/vault/data-integration/connect-ca.mdx
  website/content/docs/k8s/deployment-configurations/vault/data-integration/enterprise-license.mdx
  website/content/docs/k8s/deployment-configurations/vault/data-integration/gossip.mdx
  website/content/docs/k8s/deployment-configurations/vault/data-integration/index.mdx
  website/content/docs/k8s/deployment-configurations/vault/data-integration/partition-token.mdx
  website/content/docs/k8s/deployment-configurations/vault/data-integration/replication-token.mdx
  website/content/docs/k8s/deployment-configurations/vault/data-integration/server-tls.mdx
  website/content/docs/k8s/deployment-configurations/vault/data-integration/snapshot-agent-config.mdx
  website/content/docs/k8s/deployment-configurations/vault/data-integration/webhook-certs.mdx
  website/content/docs/k8s/deployment-configurations/vault/index.mdx
  website/content/docs/k8s/deployment-configurations/vault/systems-integration.mdx
  website/content/docs/k8s/deployment-configurations/vault/wan-federation.mdx
  website/content/docs/k8s/helm.mdx
  website/content/docs/k8s/operations/gossip-encryption-key-rotation.mdx
  website/content/docs/lambda/index.mdx
  website/content/docs/lambda/registration/automate.mdx
  website/content/docs/lambda/registration/manual.mdx
  website/content/docs/nia/cli/task.mdx
  website/content/docs/nia/configuration.mdx
  website/content/docs/nia/enterprise/index.mdx
  website/content/docs/nia/index.mdx
  website/content/docs/nia/network-drivers/index.mdx
  website/content/docs/nia/network-drivers/terraform-cloud.mdx
  website/content/docs/nia/usage/requirements.mdx
  website/content/docs/security/acl/acl-federated-datacenters.mdx
  website/content/docs/security/acl/acl-policies.mdx
  website/content/docs/security/acl/acl-rules.mdx
  website/content/docs/security/acl/acl-tokens.mdx
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs, type/docs-cherrypick, theme/consul-terraform-sync, pr/no-changelog

#14921 ui: hide node name and meta on agentless instances
  .changelog/14921.txt
  ui/packages/consul-ui/app/components/consul/instance-checks/index.hbs
  ui/packages/consul-ui/app/components/consul/service-instance/list/index.hbs
  ui/packages/consul-ui/app/components/consul/service-instance/list/index.js
  ui/packages/consul-ui/tests/acceptance/dc/services/show.feature
  ui/packages/consul-ui/tests/pages/dc/services/show.js
Labels: theme/ui

#14753 [Docs] Add docs for memberlist metrics
  website/content/docs/agent/telemetry.mdx
Labels: type/docs, pr/no-changelog, pr/no-metrics-test

#14939 devdot GA: clear redirects
  website/redirects.js
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#14945 chore: Update Digital Team Files
  website/Makefile
  website/scripts/should-build.sh
  website/scripts/website-build.sh
  website/scripts/website-start.sh
Labels: type/docs, pr/no-changelog

#14952 docs: fix malformed yaml
  website/content/docs/api-gateway/configuration/routes.mdx
  website/content/docs/k8s/deployment-configurations/multi-cluster/index.mdx
  website/content/docs/k8s/deployment-configurations/multi-cluster/kubernetes.mdx
  website/content/docs/k8s/deployment-configurations/multi-cluster/vms-and-kubernetes.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#14829 connect: Bump Envoy 1.20 to 1.20.7, 1.21 to 1.21.5 and 1.22 to 1.22.5
  .changelog/14829.txt
  .circleci/config.yml
  agent/xds/envoy_versioning_test.go
  agent/xds/proxysupport/proxysupport.go
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, type/ci, theme/envoy/xds

#14938 ui: make terminated peers removable
  ui/packages/consul-ui/app/abilities/peer.js
Labels: theme/ui, pr/no-changelog

#14897 bump raft version to v1.3.11
  .changelog/14897.txt
  go.mod
  go.sum
Labels: pr/dependencies

#14932 Fix incorrect backoff-wait logic.
  agent/grpc-external/services/peerstream/subscription_blocking.go
Labels: pr/no-changelog

#14958 Add basic nonce management
  agent/grpc-external/services/peerstream/replication.go
  agent/grpc-external/services/peerstream/stream_resources.go
  agent/grpc-external/services/peerstream/stream_test.go
Labels: pr/no-changelog

#14933 Add -node-name flag to redirect-traffic command
  .changelog/14933.txt
  command/connect/redirecttraffic/redirect_traffic.go
  command/connect/redirecttraffic/redirect_traffic_test.go
  website/content/commands/connect/redirect-traffic.mdx
Labels: type/docs, theme/cli

#14957 Add consul.xds.server.streamStart metric
  .changelog/14957.txt
  agent/setup.go
  agent/xds/delta.go
  agent/xds/delta_test.go
  agent/xds/server.go
  website/content/docs/agent/telemetry.mdx
Labels: type/docs, theme/envoy/xds

#14936 adding configuration option cloud.scada_address
  .changelog/14936.txt
  agent/config/builder.go
  agent/config/config.go
  agent/config/runtime_test.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/config/testdata/full-config.hcl
  agent/config/testdata/full-config.json
  agent/hcp/config/config.go
Labels: theme/config

#14947 ui: peer detail view
  .changelog/14947.txt
  ui/GNUmakefile
  ui/packages/consul-peerings/app/components/consul/peer/bento-box/index.hbs
  ui/packages/consul-peerings/app/components/consul/peer/list/index.hbs
  ui/packages/consul-peerings/app/components/consul/peer/list/test-support.js
  ui/packages/consul-peerings/app/controllers/dc/peers/show/exported.js
  ui/packages/consul-peerings/app/controllers/dc/peers/show/index.js
  ui/packages/consul-peerings/app/templates/dc/peers/edit.hbs
  ui/packages/consul-peerings/app/templates/dc/peers/edit/addresses.hbs
  ui/packages/consul-peerings/app/templates/dc/peers/edit/index.hbs
  ui/packages/consul-peerings/app/templates/dc/peers/show.hbs
  ui/packages/consul-peerings/app/templates/dc/peers/show/addresses.hbs
  ui/packages/consul-peerings/app/templates/dc/peers/show/exported.hbs
  ui/packages/consul-peerings/app/templates/dc/peers/show/imported.hbs
  ui/packages/consul-peerings/app/templates/dc/peers/show/index.hbs
  ui/packages/consul-peerings/vendor/consul-peerings/routes.js
  ui/packages/consul-ui/.docfy-config.js
  ui/packages/consul-ui/app/adapters/service.js
  ui/packages/consul-ui/app/components/consul/service/list/index.hbs
  ui/packages/consul-ui/app/components/consul/service/search-bar/index.hbs
  ui/packages/consul-ui/app/components/consul/service/search-bar/index.js
  ui/packages/consul-ui/app/components/icon-definition/index.scss
  ui/packages/consul-ui/app/components/outlet/index.js
  ui/packages/consul-ui/app/components/peerings/provider/index.hbs
  ui/packages/consul-ui/app/components/peerings/provider/index.js
  ui/packages/consul-ui/app/components/popover-select/index.scss
  ui/packages/consul-ui/app/components/providers/dimension/README.mdx
  ui/packages/consul-ui/app/components/providers/dimension/index.hbs
  ui/packages/consul-ui/app/components/providers/dimension/index.js
  ui/packages/consul-ui/app/components/providers/search/index.hbs
  ui/packages/consul-ui/app/components/providers/search/index.js
  ui/packages/consul-ui/app/components/tab-nav/index.hbs
  ui/packages/consul-ui/app/components/tab-nav/index.js
  ui/packages/consul-ui/app/filter/predicates/service.js
  ui/packages/consul-ui/app/helpers/smart-date-format.js
  ui/packages/consul-ui/app/locations/fsm-with-optional.js
  ui/packages/consul-ui/app/models/peer.js
  ui/packages/consul-ui/app/models/service.js
  ui/packages/consul-ui/app/serializers/service.js
  ui/packages/consul-ui/app/services/repository/peer.js
  ui/packages/consul-ui/app/services/repository/service.js
  ui/packages/consul-ui/app/styles/debug.scss
  ui/packages/consul-ui/app/templates/dc/services/instance.hbs
  ui/packages/consul-ui/mock-api/v1/internal/ui/exported-services
  ui/packages/consul-ui/mock-api/v1/peering/_
  ui/packages/consul-ui/mock-api/v1/peerings
  ui/packages/consul-ui/package.json
  ui/packages/consul-ui/tailwind.config.js
  ui/packages/consul-ui/tests/acceptance/dc/peers/regenerate.feature
  ui/packages/consul-ui/tests/acceptance/dc/peers/show.feature
  ui/packages/consul-ui/tests/acceptance/steps/dc/peers/show-steps.js
  ui/packages/consul-ui/tests/pages.js
  ui/packages/consul-ui/tests/pages/dc/peers/index.js
  ui/packages/consul-ui/tests/pages/dc/peers/show.js
  ui/packages/consul-ui/tests/steps/interactions/visit.js
  ui/packages/consul-ui/translations/routes/en-us.yaml
  ui/yarn.lock
Labels: theme/ui

#14970 ui: Filter synthetic nodes on nodes list page
  .changelog/14970.txt
  ui/packages/consul-ui/app/templates/dc/nodes/index.hbs
  ui/packages/consul-ui/mock-api/v1/health/service/_
  ui/packages/consul-ui/tests/acceptance/dc/nodes/empty-ids.feature
  ui/packages/consul-ui/tests/acceptance/dc/nodes/index.feature
  ui/packages/consul-ui/tests/acceptance/dc/nodes/navigation.feature
  ui/packages/consul-ui/tests/acceptance/dc/nodes/no-leader.feature
  ui/packages/consul-ui/tests/acceptance/dc/nodes/sorting.feature
Labels: theme/ui

#14973 ui: Always sort consul-gateway to bottom sources list
  ui/packages/consul-ui/app/components/consul/service/search-bar/index.hbs
  ui/packages/consul-ui/app/components/consul/service/search-bar/index.js
Labels: theme/ui, pr/no-changelog

#14975 UI: Copy changes for peering detail page
  ui/packages/consul-ui/app/components/peerings/provider/index.js
  ui/packages/consul-ui/tests/acceptance/dc/peers/show.feature
  ui/packages/consul-ui/tests/pages/dc/peers/index.js
  ui/packages/consul-ui/translations/routes/en-us.yaml
Labels: theme/ui, pr/no-changelog

#14976 [OSS] increase protobuf size limit for cluster peering
  agent/consul/leader_peering.go
  agent/consul/leader_peering_test.go
  agent/grpc-external/server.go
  agent/grpc-external/services/peerstream/stream_resources.go
  website/content/docs/connect/cluster-peering/index.mdx
Labels: type/docs, pr/no-changelog

#14966 Reset wait on ensureServerAddrSubscription
  agent/grpc-external/services/peerstream/subscription_manager.go
Labels: pr/no-changelog

#14979 1.14 dataplane docs beta: Bump to beta3
  website/content/docs/connect/dataplane/index.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#14935 Fix alias check leak
  .changelog/14935.txt
  agent/agent.go
  agent/agent_test.go
Labels: backport/1.11, backport/1.12, backport/1.13, backport/1.14

#14977 ui: Bento-Box show scrollbars only when necessary
  ui/packages/consul-peerings/app/components/consul/peer/bento-box/index.hbs
Labels: theme/ui, pr/no-changelog

#14967 Add extra peering store tests
  agent/consul/state/peering_test.go
Labels: pr/no-changelog

#14960 proxycfg: rate-limit delivery of config snapshots
  .changelog/14960.txt
  agent/agent.go
  agent/agent_test.go
  agent/config/builder.go
  agent/config/config.go
  agent/config/default.go
  agent/config/runtime.go
  agent/config/runtime_test.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/config/testdata/full-config.hcl
  agent/config/testdata/full-config.json
  agent/proxycfg/manager.go
  agent/proxycfg/state.go
  agent/proxycfg/state_test.go
  website/content/docs/agent/config/config-files.mdx
Labels: type/docs, theme/config

#14986 UI: filter node healthchecks on agentless service instances
  .changelog/14986.txt
  ui/packages/consul-ui/app/components/consul/health-check/list/pageobject.js
  ui/packages/consul-ui/app/controllers/dc/services/instance/healthchecks.js
  ui/packages/consul-ui/app/templates/dc/services/instance/healthchecks.hbs
  ui/packages/consul-ui/tests/acceptance/dc/services/instances/health-checks.feature
  ui/packages/consul-ui/tests/acceptance/dc/services/instances/show.feature
  ui/packages/consul-ui/tests/steps/assertions/model.js
Labels: theme/ui

#14985 [1.12.x] Fix runStep usage
  agent/agent_test.go
Labels: pr/no-changelog

#14993 docs: improvements on language from cluster peering steps
  website/content/docs/connect/cluster-peering/k8s.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#14800 Add TCP keepalive settings to proxy config for mesh gateways
  .changelog/14800.txt
  agent/xds/clusters.go
  agent/xds/clusters_test.go
  agent/xds/config.go
  agent/xds/testdata/clusters/mesh-gateway-tcp-keepalives.latest.golden
  agent/xds/testdata/clusters/terminating-gateway-tcp-keepalives.latest.golden
  website/content/docs/connect/proxies/envoy.mdx
Labels: theme/envoy/xds, backport/1.11, backport/1.12, backport/1.13

#14988 proxycfg: fix goroutine leak when service is re-registered
  agent/proxycfg/state.go
Labels: pr/no-changelog

#13388 Feature: Health checks windows service
  .changelog/13388.txt
  agent/agent.go
  agent/checks/check.go
  agent/checks/check_windows_test.go
  agent/checks/os_service.go
  agent/checks/os_service_unix.go
  agent/checks/os_service_windows.go
  agent/config/builder.go
  agent/config/config.go
  agent/config/runtime.go
  agent/config/runtime_test.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/config/testdata/full-config.hcl
  agent/config/testdata/full-config.json
  agent/structs/check_definition.go
  agent/structs/check_definition_test.go
  agent/structs/check_type.go
  agent/structs/structs.go
  agent/txn_endpoint.go
  api/health.go
  proto/pbservice/healthcheck.gen.go
  proto/pbservice/healthcheck.pb.go
  proto/pbservice/healthcheck.proto
  website/content/api-docs/agent/check.mdx
  website/content/docs/discovery/checks.mdx
  website/content/docs/ecs/configuration-reference.mdx
Labels: type/docs, theme/config, pr/dependencies

#15004 proto: deep-copy PeeringTrustBundle using proto.Clone
  GNUmakefile
  proto/pbpeering/deep-copy.sh
  proto/pbpeering/peering.deepcopy.go
  proto/pbpeering/peering.go
Labels: pr/no-changelog

#15007 docs: formatting on backend application and delete peering CRDs
  website/content/docs/connect/cluster-peering/k8s.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#15005 ca: fix a masked bug in leaf cert generation that would not be notified of root cert rotation after the first one
  .changelog/15005.txt
  agent/cache-types/connect_ca_leaf.go
Labels: pr/no-metrics-test, backport/1.11, backport/1.12, backport/1.13

#14908 cache: prevent goroutine leak in agent cache
  .changelog/14908.txt
  agent/cache/cache.go
  agent/cache/cache_test.go
Labels: theme/agent-cache, pr/no-metrics-test, backport/1.11, backport/1.12, backport/1.13

#15020 Allow snapshot agent to log in with an auth method
  command/flags/flag_map_value.go
  command/flags/flag_map_value_test.go
  lib/retry/retry.go
  lib/retry/retry_test.go
  website/content/commands/snapshot/agent.mdx
Labels: type/docs, theme/cli, theme/internals, pr/no-changelog

#14972 bump relevant modules versions
  go.mod
  go.sum
Labels: pr/dependencies, pr/no-changelog

#15021 test: possibly fix flake in TestIntentionGetExact
  agent/intentions_endpoint_test.go
Labels: pr/no-changelog, pr/no-metrics-test, backport/1.11, backport/1.12, backport/1.13

#14965 Refactor client RPC timeouts
  .changelog/14965.txt
  agent/agent.go
  agent/agent_test.go
  agent/config/builder.go
  agent/config/config.go
  agent/config/default.go
  agent/config/runtime.go
  agent/config/runtime_test.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/config/testdata/full-config.hcl
  agent/config/testdata/full-config.json
  agent/consul/catalog_endpoint_test.go
  agent/consul/client.go
  agent/consul/client_test.go
  agent/consul/config.go
  agent/consul/rpc_test.go
  agent/consul/server.go
  agent/consul/server_test.go
  agent/pool/pool.go
  agent/setup.go
  agent/structs/structs.go
  internal/tools/proto-gen-rpc-glue/main.go
  proto/pbautoconf/auto_config.go
  proto/pbcommon/common.go
  proto/pbpeering/peering.rpcglue.pb.go
  proto/pbsubscribe/subscribe.go
  website/content/docs/agent/config/config-files.mdx
Labels: backport/1.11, backport/1.12, backport/1.13, backport/1.14

#15034 test: possibly fix flaky TestEnvoy/case-ingress-gateway-multiple-services test
  test/integration/connect/envoy/case-ingress-gateway-multiple-services/verify.bats
Labels: pr/no-changelog, pr/no-metrics-test, backport/1.11, backport/1.12, backport/1.13

#15033 Docs/fix front matter typo
  website/content/docs/k8s/connect/connect-ca-provider.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.11, backport/1.12, backport/1.13

#14994 peering: skip registering duplicate node and check from the peer
  agent/consul/leader_peering_test.go
  agent/grpc-external/services/peerstream/replication.go
Labels: pr/no-changelog

#15046 Remove unused methods from template
  internal/tools/proto-gen-rpc-glue/main.go
Labels: pr/no-changelog

#14974 ui: enable synthetic nodes in mock data
  ui/packages/consul-ui/app/utils/get-environment.js
  ui/packages/consul-ui/docs/bookmarklets.mdx
  ui/packages/consul-ui/mock-api/v1/health/service/_
  ui/packages/consul-ui/mock-api/v1/internal/ui/nodes
Labels: theme/ui, pr/no-changelog

#15035 Warn instead of returning error when missing intermediate mount tune permissions
  .changelog/15035.txt
  agent/connect/ca/provider_vault.go
  agent/connect/ca/provider_vault_test.go
Labels: theme/connect, backport/1.11, backport/1.12, backport/1.13, backport/1.14

#15036 Update enterprise license link
  website/content/docs/enterprise/license/faq.mdx
  website/content/docs/enterprise/license/overview.mdx
  website/content/docs/nia/enterprise/license.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.13, backport/1.14

#15053 chore: fix the module path to align with the code structure
  test/integration/consul-container/go.mod
  test/integration/consul-container/libs/cluster/cluster.go
  test/integration/consul-container/libs/node/consul-container.go
  test/integration/consul-container/metrics/leader_test.go
  test/integration/consul-container/upgrade/healthcheck_test.go
Labels: pr/no-changelog

#14930 Remove ability to specify external addresses in GenerateToken endpoint
  .changelog/14930.txt
  agent/peering_endpoint_test.go
  agent/rpc/peering/service.go
  agent/rpc/peering/service_test.go
  api/go.mod
  api/go.sum
  api/peering.go
  api/peering_test.go
  command/peering/generate/generate.go
  command/peering/generate/generate_test.go
  proto/pbpeering/peering.gen.go
  proto/pbpeering/peering.pb.go
  proto/pbpeering/peering.proto
  website/content/api-docs/peering.mdx
  website/content/commands/peering/generate-token.mdx
Labels: theme/api

#15064 update prometheus template args
  command/connect/envoy/bootstrap_tpl.go
Labels: theme/cli, pr/no-changelog, pr/no-metrics-test

#15065 fix: wan address isn't used by peering token
  .changelog/15065.txt
  agent/consul/peering_backend.go
  agent/consul/peering_backend_test.go
Labels: backport/1.13

#15023 ui: Fix token in cookie passthrough
  ui/packages/consul-ui/app/routes/application.js
  ui/packages/consul-ui/app/services/env.js
  ui/packages/consul-ui/app/services/hcp.js
  ui/packages/consul-ui/tests/acceptance/hcp-login-test.js
Labels: theme/ui, pr/no-changelog

#14166 Typo fix
  website/content/docs/k8s/annotations-and-labels.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#15071 Backport of Typo fix into stable-website
  website/content/docs/k8s/annotations-and-labels.mdx
Labels: pr/no-metrics-test

#15063 [CI-only] Update RedHat registry tag
  .github/workflows/build.yml
Labels: theme/contributing, pr/no-changelog, backport/1.11, backport/1.12, backport/1.13, backport/1.14

#15080 fixed broken link/typo in service mesh reg page
  website/content/docs/connect/registration/service-registration.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test, backport/1.11, backport/1.12, backport/1.13

#15069 integration test: specify image name for testing dev container
  test/integration/consul-container/libs/node/consul-container.go
  test/integration/consul-container/libs/node/consul-container_oss.go
  test/integration/consul-container/libs/node/node.go
  test/integration/consul-container/libs/utils/version_oss.go
  test/integration/consul-container/metrics/leader_test.go
  test/integration/consul-container/upgrade/README.md
  test/integration/consul-container/upgrade/healthcheck_test.go
Labels: pr/no-changelog

#15086 Return forbidden on permission denied
  agent/http.go
  agent/rpc/peering/service.go
  agent/rpc/peering/service_test.go
Labels: pr/no-changelog

#15003 builds: fix "Killed" error with make dev
  GNUmakefile
Labels: pr/no-changelog

#15050 Allow redirection to a different consul dns port
  .changelog/15050.txt
  command/connect/redirecttraffic/redirect_traffic.go
  command/connect/redirecttraffic/redirect_traffic_test.go
  sdk/iptables/iptables.go
  sdk/iptables/iptables_test.go
  website/content/commands/connect/redirect-traffic.mdx
Labels: backport/1.14

#15094 [OSS] chore: update main for release/1.14.x branch
  .github/workflows/nightly-test-1.14.x.yaml
  version/version.go
Labels: theme/contributing, pr/no-changelog, pr/no-metrics-test

#14813 docs: clarify 1.10 upgrade compatibility
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test, backport/1.11, backport/1.12, backport/1.13

#15032 Add docs about upgrading primary mesh gateways
  website/content/docs/connect/gateways/mesh-gateway/wan-federation-via-mesh-gateways.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#15104 docs: update versions to include .x in release notes
  website/content/docs/release-notes/consul-k8s/v0_49_x.mdx
Labels: type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test

#15066 Committing for - 15055
  agent/consul/fsm/fsm.go
  agent/consul/fsm/snapshot_oss_test.go
Labels: pr/no-changelog, backport/1.11, backport/1.12, backport/1.13, backport/1.14

#15022 chore: update to golangci-lint v1.50.0
  .golangci.yml
  GNUmakefile
  agent/consul/leader_peering.go
  agent/consul/leader_peering_test.go
  agent/consul/state/config_entry_test.go
  agent/consul/state/peering.go
  agent/grpc-external/services/peerstream/replication.go
  agent/grpc-external/services/peerstream/stream_resources.go
  agent/grpc-external/services/peerstream/subscription_manager.go
  agent/grpc-external/services/peerstream/subscription_manager_test.go
  agent/rpc/peering/service_test.go
  agent/xds/listeners.go
Labels: theme/envoy/xds, pr/no-changelog, pr/no-metrics-test, backport/1.14

#15019 test: fix flaky TestHealthServiceNodes_NodeMetaFilter by waiting until the streaming subsystem has a valid grpc connection
  agent/health_endpoint_test.go
  agent/rpcclient/health/health.go
Labels: theme/health-checks, pr/no-changelog, pr/no-metrics-test, backport/1.12, backport/1.13, backport/1.14

#15126 Move oss-only test to its own file
  agent/consul/fsm/snapshot_oss_test.go
  agent/consul/fsm/snapshot_test.go
Labels: pr/no-changelog, backport/1.11, backport/1.12, backport/1.13, backport/1.14

#15025 proxycfg: watch service-defaults config entries
  agent/consul/fsm/fsm.go
  agent/consul/state/config_entry_events.go
  agent/consul/state/config_entry_events_test.go
  agent/consul/state/events.go
  agent/consul/state/memdb.go
  agent/proxycfg-glue/config_entry.go
  proto/pbconfigentry/config_entry.gen.go
  proto/pbconfigentry/config_entry.go
  proto/pbconfigentry/config_entry.pb.binary.go
  proto/pbconfigentry/config_entry.pb.go
  proto/pbconfigentry/config_entry.proto
  proto/pbsubscribe/subscribe.pb.go
  proto/pbsubscribe/subscribe.proto
Labels: pr/no-changelog, backport/1.14

#15108 fix(peering): replicating wan address
  .changelog/15108.txt
  agent/grpc-external/services/peerstream/subscription_manager.go
  agent/grpc-external/services/peerstream/subscription_manager_test.go
Labels: backport/1.13, backport/1.14

#15122 [1.13 backport] auto cert 1.13.2 upgrade docs
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs, pr/no-changelog

#15141 docs: update Vault CA provider policy guidance
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test, backport/1.13, backport/1.14

#15143 Backport of docs: update Vault CA provider policy guidance into stable-website
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: pr/no-changelog, pr/no-metrics-test

#14996 test: ensure that all dependencies in a test agent use the test logger
  agent/acl_test.go
  agent/setup.go
  agent/testagent.go
  command/agent/agent.go
Labels: theme/cli, pr/no-changelog, pr/no-metrics-test

#15113 ui: fix - customize ember-auto-import publicAssetURL in production
  ui/packages/consul-ui/ember-cli-build.js
Labels: theme/ui, pr/no-changelog, backport/1.14

#14956 cache: refactor agent cache fetching to prevent unnecessary fetches on error
  .changelog/14956.txt
  agent/agent_test.go
  agent/cache/cache.go
  agent/cache/cache_test.go
  agent/cache/entry.go
  agent/cache/watch.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/testagent.go
Labels: theme/agent-cache, pr/no-metrics-test

#14833 config entry: hardcode proxy-defaults name as global
  .changelog/14833.txt
  api/config_entry.go
  command/config/write/config_write_test.go
Labels: theme/api, theme/cli

#15140 Fix bug that resulted in generating Envoy configs that use CDS with an EDS Configuration
  agent/xds/clusters.go
  agent/xds/testdata/clusters/mesh-gateway-with-imported-peered-services.latest.golden
Labels: theme/envoy/xds, pr/no-changelog, backport/1.14

#15147 Backport of ui: fix - customize ember-auto-import publicAssetURL in production into release/1.14.x
  ui/packages/consul-ui/ember-cli-build.js
Labels: theme/ui

#15148 UI: update hds usage to hds best practices
  ui/packages/consul-peerings/app/components/consul/peer/bento-box/index.hbs
  ui/packages/consul-peerings/app/templates/dc/peers/show/exported.hbs
  ui/packages/consul-ui/app/styles/tailwind.scss
  ui/packages/consul-ui/docs/hds.mdx
  ui/packages/consul-ui/tailwind.config.js
Labels: theme/ui, pr/no-changelog

#15156 ui: peer create redirect to show
  ui/packages/consul-peerings/app/components/consul/peer/form/initiate/index.hbs
  ui/packages/consul-peerings/app/controllers/dc/peers/index.js
  ui/packages/consul-peerings/app/templates/dc/peers/index.hbs
  ui/packages/consul-ui/tests/acceptance/dc/peers/establish.feature
Labels: theme/ui, pr/no-changelog, backport/1.14

#15160 fix(peering): nil pointer in calling handleUpdateService
  .changelog/15160.txt
  agent/grpc-external/services/peerstream/replication.go
Labels: backport/1.14

#15155 Allow consul debug on non-ACL consul servers
  .changelog/15155.txt
  agent/http.go
  agent/http_test.go
  api/api.go
  api/debug.go
  command/debug/debug.go
  command/debug/debug_test.go
Labels: theme/api, theme/cli, pr/no-metrics-test, backport/1.12, backport/1.13, backport/1.14

#15158 ui: Improve layout address list peer detail
  ui/packages/consul-peerings/app/components/consul/peer/address/list/index.hbs
Labels: theme/ui, pr/no-changelog, backport/1.14

#15159 ui: Fix PeerName is part of service uniqueness
  ui/packages/consul-ui/app/models/service.js
  ui/packages/consul-ui/app/utils/create-fingerprinter.js
Labels: theme/ui, pr/no-changelog, backport/1.14

#15178 Fix Peering Metrics Bug
  .changelog/15178.txt
  agent/consul/leader_peering.go
  agent/consul/leader_peering_test.go
Labels: backport/1.14

#15176 build: ensure 'make dev-docker' updates consul-dev:latest too
  GNUmakefile
Labels: pr/no-changelog, pr/no-metrics-test, backport/1.12, backport/1.13, backport/1.14

#15187 Fix broken link in Consul API Gateway docs
  website/content/docs/api-gateway/configuration/gatewayclassconfig.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.13

#15188 build: ensure 'make dev-docker' also produces a matching CLI binary at the same time
  GNUmakefile
Labels: pr/no-changelog, pr/no-metrics-test, backport/1.12, backport/1.13, backport/1.14

#15093 connect: Add Envoy 1.24 to integration tests, remove Envoy 1.20
  .changelog/15093.txt
  .circleci/config.yml
  agent/xds/envoy_versioning.go
  agent/xds/envoy_versioning_test.go
  agent/xds/proxysupport/proxysupport.go
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, type/ci, theme/envoy/xds, backport/1.14

#15209 Decrease retry time for failed peering connections.
  agent/consul/leader_peering.go
  agent/consul/leader_peering_test.go
Labels: pr/no-changelog, backport/1.14

#15168 Update required Helm chart version to match APIGW release notes
  website/content/docs/api-gateway/tech-specs.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.13
