Repository hashicorp/consul, pull requests merged in 2022-04, with the labels that each got.

#12655 Avoid using sys/mounts to enable namespaces
  .changelog/12655.txt
  agent/connect/ca/provider_vault.go
Labels: theme/connect

#12676 Implement Lambda Patching in the Serverless Plugin
  agent/proxycfg/testing_terminating_gateway.go
  agent/xds/serverless_plugin_oss_test.go
  agent/xds/serverlessplugin/copied.go
  agent/xds/serverlessplugin/lambda_patcher.go
  agent/xds/serverlessplugin/lambda_patcher_test.go
  agent/xds/serverlessplugin/patcher.go
  agent/xds/serverlessplugin/patcher_test.go
  agent/xds/serverlessplugin/serverlessplugin.go
  agent/xds/testdata/serverless_plugin/clusters/lambda-terminating-gateway.envoy-1-20-x.golden
  agent/xds/testdata/serverless_plugin/listeners/lambda-terminating-gateway.envoy-1-20-x.golden
  agent/xds/xdscommon/xdscommon.go
  agent/xds/xdscommon/xdscommon_oss_test.go
Labels: theme/envoy/xds, pr/no-changelog

#12680 Fix the Kubernetes service name for DNS
  website/content/docs/k8s/dns.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test

#12682 xds: errors from the xds serverless plugin are fatal
  agent/xds/delta.go
Labels: theme/envoy/xds, pr/no-changelog

#12675 mark disable_compat_1.9 to deprecate in 1.13, change default to true
  .changelog/12675.txt
  agent/agent.go
  agent/config/builder.go
  agent/http.go
  agent/metrics_test.go
  website/content/docs/agent/options.mdx
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs, theme/config

#12663 updated docs
  website/content/docs/nia/cli/index.mdx
  website/content/docs/nia/cli/start.mdx
  website/content/docs/nia/lorna.txt
  website/data/docs-nav-data.json
Labels: type/docs, theme/consul-terraform-sync

#12681 Tweak the Lambda Envoy configuration generated by the serverless patcher
  .changelog/12681.txt
  agent/xds/serverless_plugin_oss_test.go
  agent/xds/serverlessplugin/lambda_patcher.go
  agent/xds/serverlessplugin/patcher.go
  agent/xds/serverlessplugin/serverlessplugin.go
  agent/xds/testdata/serverless_plugin/listeners/lambda-terminating-gateway.envoy-1-20-x.golden
  agent/xds/testdata/serverless_plugin/routes/lambda-terminating-gateway.envoy-1-20-x.golden
Labels: theme/envoy/xds

#12599 ui: Initial Server Status Overview Page
  ui/packages/consul-ui/app/abilities/raft.js
  ui/packages/consul-ui/app/abilities/zone.js
  ui/packages/consul-ui/app/components/consul/server/card/layout.scss
  ui/packages/consul-ui/app/components/consul/server/list/index.hbs
  ui/packages/consul-ui/app/components/tile/index.scss
  ui/packages/consul-ui/app/models/dc.js
  ui/packages/consul-ui/app/services/repository/dc.js
  ui/packages/consul-ui/app/styles/base/decoration/base-placeholders.scss
  ui/packages/consul-ui/app/styles/base/decoration/base-variables.scss
  ui/packages/consul-ui/app/styles/routes.scss
  ui/packages/consul-ui/app/styles/routes/dc/overview/serverstatus.scss
  ui/packages/consul-ui/app/templates/application.hbs
  ui/packages/consul-ui/app/templates/dc/show.hbs
  ui/packages/consul-ui/app/templates/dc/show/index.hbs
  ui/packages/consul-ui/app/templates/dc/show/serverstatus.hbs
  ui/packages/consul-ui/mock-api/v1/operator/autopilot/state
  ui/packages/consul-ui/tests/unit/abilities/-test.js
  ui/packages/consul-ui/translations/common/en-us.yaml
  ui/packages/consul-ui/translations/routes/en-us.yaml
  ui/packages/consul-ui/vendor/consul-ui/routes.js
Labels: theme/ui, pr/no-changelog, pr/no-metrics-test

#12490 add a rate limiter to config auto-reload
  agent/agent.go
  agent/agent_test.go
  agent/config/builder.go
  agent/config/file_watcher.go
  agent/config/file_watcher_test.go
  agent/config/ratelimited_file_watcher.go
  agent/config/ratelimited_file_watcher_test.go
  agent/config/runtime.go
  agent/config/runtime_test.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/testagent.go
Labels: pr/no-changelog, pr/no-metrics-test

#12669 Updating helm docs with additionalVault and ACLs refactor functionality.
  website/content/docs/k8s/helm.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12687 docs: fixes broken url in acl overview page
  website/content/docs/security/acl/index.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12652 docs: Update links to K8s service mesh annotations
  website/content/docs/connect/transparent-proxy.mdx
  website/content/docs/k8s/connect/index.mdx
  website/content/docs/k8s/connect/ingress-controllers.mdx
  website/content/docs/k8s/installation/deployment-configurations/single-dc-multi-k8s.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.11

#12689 Update Helm docs to reflect 0.42.0 release
  website/content/docs/k8s/helm.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12690 docs: rename Connect Service Mesh Kubernetes to Consul Service Mesh on Kubernetes
  website/content/docs/k8s/connect/index.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12696 website: fix usages of img tag
  website/.gitignore
  website/Makefile
  website/README.md
  website/content/docs/ecs/architecture.mdx
  website/content/docs/integrate/partnerships.mdx
  website/next.config.js
  website/package.json
  website/redirects.js
  website/scripts/website-build.sh
  website/scripts/website-start.sh
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12674 build: conditionally install or reinstall protobuf supporting tools as needed
  GNUmakefile
  build-support/functions/00-vars.sh
  build-support/functions/10-util.sh
  build-support/scripts/build-docker.sh
  build-support/scripts/functions.sh
  build-support/scripts/proto-gen.sh
  build-support/scripts/protobuf.sh
  build-support/scripts/release.sh
  build-support/scripts/version.sh
Labels: pr/no-changelog, pr/no-metrics-test

#12672 Respect SNI with terminating gateways and log a warning if it isn't set alongside TLS
  .changelog/12672.txt
  agent/consul/config_endpoint.go
  agent/proxycfg/testing_terminating_gateway.go
  agent/structs/config_entry.go
  agent/structs/config_entry_gateways.go
  agent/xds/clusters.go
  agent/xds/clusters_test.go
  agent/xds/testdata/clusters/terminating-gateway-sni.envoy-1-20-x.golden
  website/content/docs/connect/config-entries/terminating-gateway.mdx
Labels: type/docs, backport/1.9, pr/no-changelog, backport/1.10, pr/no-metrics-test, backport/1.11, backport/1.12

#12609 [OSS] ca: move `ConnectCA.Sign` authorization logic to `CAManager`
  agent/consul/connect_ca_endpoint.go
  agent/consul/leader_connect_ca.go
Labels: pr/no-changelog, pr/no-metrics-test

#12565 routine: fix that acl stops replicating after regaining leadership (#12295)
  lib/routine/routine.go
  lib/routine/routine_test.go
Labels: backport/1.9, pr/no-changelog, backport/1.10, pr/no-metrics-test, backport/1.11, pr/no-docs, backport/1.12

#12699 Creating a changelog entry for #12565
  .changelog/12565.txt
Labels: backport/1.9, backport/1.10, backport/1.11, backport/1.12

#12701 syncing changes back from enterprise
  acl/policy_merger.go
  agent/delegate_mock_test.go
  api/acl_test.go
  command/acl/authmethod/create/authmethod_create_test.go
  command/acl/authmethod/update/authmethod_update_test.go
  command/connect/expose/expose_test.go
  test/integration/connect/envoy/case-basic/capture.sh
  test/integration/connect/envoy/case-http/capture.sh
Labels: theme/api, theme/acls, theme/cli, pr/no-changelog

#12671 build: remove unused tools from being installed
  GNUmakefile
  build-support/docker/Build-Go.dockerfile
Labels: pr/no-changelog, pr/no-metrics-test, backport/1.12

#12708 [middleware][rpc] lower log to trace
  agent/rpc/middleware/interceptors.go
Labels: pr/no-changelog

#12692 [rpc/middleware][consul] plumb intercept off, add server level happy test
  agent/consul/client_test.go
  agent/consul/options.go
  agent/consul/server.go
  agent/consul/server_test.go
  agent/rpc/middleware/interceptors.go
  agent/rpc/middleware/interceptors_test.go
  agent/setup.go
Labels: pr/no-changelog

#12612 k8s docs - ACLs refactor - Updating terminating gateway documentation to call out updating the role rather than the token with the policy
  website/content/docs/k8s/connect/terminating-gateways.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12698 Update branch list for 1.12, remove 1.8
  .release/ci.hcl
Labels: pr/no-changelog

#12693 ui: Ignore Service/Node permissions for Overview just use operator
  ui/packages/consul-ui/app/abilities/overview.js
Labels: theme/ui, pr/no-changelog, backport/1.12

#12617 Enable running autopilot state updates on all servers
  .changelog/12617.txt
  agent/consul/autopilot.go
  agent/consul/leader.go
  agent/consul/operator_autopilot_endpoint.go
  agent/consul/rpc_test.go
  agent/consul/server.go
  agent/metrics_test.go
  go.mod
  go.sum
  website/content/docs/agent/telemetry.mdx
Labels: pr/no-metrics-test, backport/1.12

#12712 backports #12692
  agent/consul/client_test.go
  agent/consul/options.go
  agent/consul/server.go
  agent/consul/server_test.go
  agent/rpc/middleware/interceptors.go
  agent/rpc/middleware/interceptors_test.go
  agent/setup.go
Labels: pr/no-changelog

#12717 [1.10.x] ci: run envoy integration tests on a real machine
  .circleci/config.yml
Labels: type/ci, pr/no-changelog, pr/no-metrics-test

#12718 [1.9.x] ci: run envoy integration tests on a real machine
  .circleci/config.yml
Labels: type/ci, pr/no-changelog, pr/no-metrics-test

#12691 Update k8s docs for Vault as a Secrets Backend
  package-lock.json
  website/content/docs/k8s/installation/vault/data-integration/bootstrap-token.mdx
  website/content/docs/k8s/installation/vault/data-integration/connect-ca.mdx
  website/content/docs/k8s/installation/vault/data-integration/enterprise-license.mdx
  website/content/docs/k8s/installation/vault/data-integration/gossip.mdx
  website/content/docs/k8s/installation/vault/data-integration/index.mdx
  website/content/docs/k8s/installation/vault/data-integration/partition-token.mdx
  website/content/docs/k8s/installation/vault/data-integration/replication-token.mdx
  website/content/docs/k8s/installation/vault/data-integration/server-tls.mdx
  website/content/docs/k8s/installation/vault/data-integration/snapshot-agent-config.mdx
  website/content/docs/k8s/installation/vault/enterprise-license.mdx
  website/content/docs/k8s/installation/vault/index.mdx
  website/content/docs/k8s/installation/vault/systems-integration.mdx
  website/data/docs-nav-data.json
  website/package-lock.json
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test

#12685 Add a field to disable following redirects on http checks
  .changelog/12685.txt
  agent/agent.go
  agent/checks/check.go
  agent/checks/check_test.go
  agent/config/builder.go
  agent/config/config.go
  agent/config/runtime.go
  agent/config/runtime_test.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/config/testdata/full-config.hcl
  agent/config/testdata/full-config.json
  agent/structs/check_definition.go
  agent/structs/check_type.go
  agent/structs/structs.go
  proto/pbservice/healthcheck.gen.go
  proto/pbservice/healthcheck.pb.go
  proto/pbservice/healthcheck.proto
  website/content/api-docs/agent/check.mdx
  website/content/docs/discovery/checks.mdx
Labels: type/docs, theme/config, backport/1.9, backport/1.10, pr/no-metrics-test, backport/1.11, backport/1.12

#12709 add changelog for rpc metric improv project
  .changelog/12311.txt
  .changelog/12573.txt
Labels: pr/no-changelog, pr/no-metrics-test, backport/1.12

#12720 docs: Updating Gossip EncryptionKey Rotation page with Vault use case
  website/content/docs/k8s/operations/gossip-encryption-key-rotation.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test

#12723 [1.12.x] WatchRoots gRPC endpoint (#12678)
  .changelog/12678.txt
  agent/consul/acl.go
  agent/consul/leader_connect_ca_test.go
  agent/consul/leader_test.go
  agent/consul/server.go
  agent/consul/state/catalog_events.go
  agent/consul/state/catalog_events_test.go
  agent/consul/state/connect_ca_events.go
  agent/consul/state/connect_ca_events_test.go
  agent/consul/state/state_store.go
  agent/consul/state/store_integration_test.go
  agent/consul/stream/event.go
  agent/consul/stream/event_publisher.go
  agent/consul/stream/event_publisher_test.go
  agent/consul/stream/subscription.go
  agent/consul/stream/subscription_test.go
  agent/grpc/private/services/subscribe/subscribe.go
  agent/grpc/private/services/subscribe/subscribe_test.go
  agent/grpc/public/services/connectca/acl_test.go
  agent/grpc/public/services/connectca/mock_ACLResolver.go
  agent/grpc/public/services/connectca/server.go
  agent/grpc/public/services/connectca/server_test.go
  agent/grpc/public/services/connectca/watch_roots.go
  agent/grpc/public/services/connectca/watch_roots_test.go
  agent/grpc/public/token.go
  agent/submatview/store_integration_test.go
  agent/xds/server.go
  proto-public/pbconnectca/ca.pb.binary.go
  proto-public/pbconnectca/ca.pb.go
  proto-public/pbconnectca/ca.proto
Labels: theme/envoy/xds, pr/no-changelog

#12724 [1.12.x] ca: move ConnectCA.Sign authorization logic to CAManager
  agent/consul/connect_ca_endpoint.go
  agent/consul/leader_connect_ca.go
Labels: pr/no-changelog

#12711 xds: ensure that all connect timeout configs can apply equally to tproxy direct dial connections
  .changelog/12711.txt
  agent/consul/discovery_chain_endpoint_test.go
  agent/consul/discoverychain/compile.go
  agent/consul/discoverychain/compile_test.go
  agent/discovery_chain_endpoint_test.go
  agent/proxycfg/connect_proxy.go
  agent/proxycfg/testing_tproxy.go
  agent/structs/discovery_chain.go
  agent/xds/clusters.go
  agent/xds/testdata/clusters/transparent-proxy-dial-instances-directly.envoy-1-20-x.golden
  api/discovery_chain.go
  api/discovery_chain_test.go
  website/content/docs/connect/l7-traffic/discovery-chain.mdx
  website/content/docs/connect/transparent-proxy.mdx
Labels: type/docs, theme/api, theme/envoy/xds, backport/1.10, pr/no-metrics-test, backport/1.11, backport/1.12

#12725 improve error msg for deregister critical service
  .changelog/12725.txt
  agent/agent.go
Labels: theme/operator-usability, backport/1.11, theme/logging, backport/1.12

#12354 ui: Add more explanatory texts for empty states
  .changelog/12354.txt
  ui/packages/consul-lock-sessions/app/templates/dc/nodes/show/sessions.hbs
  ui/packages/consul-ui/app/templates/dc/acls/auth-methods/index.hbs
  ui/packages/consul-ui/app/templates/dc/acls/auth-methods/show/binding-rules.hbs
  ui/packages/consul-ui/app/templates/dc/acls/auth-methods/show/nspace-rules.hbs
  ui/packages/consul-ui/app/templates/dc/acls/policies/index.hbs
  ui/packages/consul-ui/app/templates/dc/acls/roles/index.hbs
  ui/packages/consul-ui/app/templates/dc/acls/tokens/index.hbs
  ui/packages/consul-ui/app/templates/dc/intentions/index.hbs
  ui/packages/consul-ui/app/templates/dc/kv/index.hbs
  ui/packages/consul-ui/app/templates/dc/nodes/index.hbs
  ui/packages/consul-ui/app/templates/dc/nodes/show/healthchecks.hbs
  ui/packages/consul-ui/app/templates/dc/nodes/show/services.hbs
  ui/packages/consul-ui/app/templates/dc/services/index.hbs
  ui/packages/consul-ui/app/templates/dc/services/instance/exposedpaths.hbs
  ui/packages/consul-ui/app/templates/dc/services/instance/upstreams.hbs
  ui/packages/consul-ui/app/templates/dc/services/show/instances.hbs
  ui/packages/consul-ui/app/templates/dc/services/show/intentions/index.hbs
  ui/packages/consul-ui/app/templates/dc/services/show/services.hbs
  ui/packages/consul-ui/app/templates/dc/services/show/tags.hbs
  ui/packages/consul-ui/app/templates/dc/services/show/upstreams.hbs
  ui/packages/consul-ui/translations/routes/en-us.yaml
Labels: theme/ui, pr/no-metrics-test

#12741 fix broken test
  agent/discovery_chain_endpoint_test.go
Labels: pr/no-changelog, backport/1.10, backport/1.11, backport/1.12

#12745 [1.11.x] xds: ensure that all connect timeout configs can apply equally to tproxy direct dial connections
  .changelog/12711.txt
  agent/consul/discovery_chain_endpoint_test.go
  agent/consul/discoverychain/compile.go
  agent/consul/discoverychain/compile_test.go
  agent/discovery_chain_endpoint_test.go
  agent/proxycfg/connect_proxy.go
  agent/structs/discovery_chain.go
  agent/xds/clusters.go
  agent/xds/clusters_test.go
  agent/xds/testdata/clusters/transparent-proxy-dial-instances-directly.envoy-1-20-x.golden
  api/discovery_chain.go
  api/discovery_chain_test.go
  website/content/docs/connect/l7-traffic/discovery-chain.mdx
  website/content/docs/connect/transparent-proxy.mdx
Labels: type/docs, theme/api, theme/envoy/xds, pr/no-changelog, backport/1.10

#12744 docs: Upgrade Consul K8s update link to combat matrix
  website/content/docs/k8s/upgrade/index.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12742 ci: upsize many slow-running circleci builds
  .circleci/config.yml
Labels: type/ci, pr/no-changelog, backport/1.10, pr/no-metrics-test, backport/1.11, backport/1.12

#12748 [1.10.x] xds: ensure that all connect timeout configs can apply equally to tproxy direct dial connections
  .changelog/12711.txt
  agent/consul/discovery_chain_endpoint_test.go
  agent/consul/discoverychain/compile.go
  agent/consul/discoverychain/compile_test.go
  agent/discovery_chain_endpoint_test.go
  agent/proxycfg/state.go
  agent/structs/discovery_chain.go
  agent/xds/clusters.go
  agent/xds/clusters_test.go
  agent/xds/testdata/clusters/transparent-proxy-dial-instances-directly.envoy-1-20-x.golden
  agent/xds/testdata/clusters/transparent-proxy-dial-instances-directly.v2compat.envoy-1-16-x.golden
  api/discovery_chain.go
  api/discovery_chain_test.go
  website/content/docs/connect/l7-traffic/discovery-chain.mdx
  website/content/docs/connect/transparent-proxy.mdx
Labels: type/docs, theme/api, theme/envoy/xds, pr/no-changelog

#12746 backport/1.11.x: Use the GatewayService SNI field for upstream SAN validation
  .changelog/12672.txt
  agent/consul/config_endpoint.go
  agent/structs/config_entry.go
  agent/structs/config_entry_gateways.go
  agent/xds/clusters.go
  agent/xds/clusters_test.go
  agent/xds/testdata/clusters/terminating-gateway-sni.envoy-1-20-x.golden
  website/content/docs/connect/config-entries/terminating-gateway.mdx
Labels: type/docs, theme/envoy/xds, pr/no-changelog

#12747 backport/1.10.x: Use the GatewayService SNI field for upstream SAN validation
  .changelog/12672.txt
  agent/consul/config_endpoint.go
  agent/structs/config_entry.go
  agent/structs/config_entry_gateways.go
  agent/xds/clusters.go
  agent/xds/clusters_test.go
  agent/xds/testdata/clusters/terminating-gateway-sni.envoy-1-20-x.golden
  agent/xds/testdata/clusters/terminating-gateway-sni.v2compat.envoy-1-16-x.golden
  website/content/docs/connect/config-entries/terminating-gateway.mdx
Labels: type/docs, theme/envoy/xds, pr/no-changelog

#12749 [1.11.x] ci: upsize many slow-running circleci builds
  .circleci/config.yml
Labels: type/ci, pr/no-changelog, backport/1.10

#12751 website: redirect change consul k8s compatibility matrix link
  website/redirects.js
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12752 backport/1.11.x: Add a field to disable following redirects on http checks
  .changelog/12685.txt
  agent/agent.go
  agent/checks/check.go
  agent/checks/check_test.go
  agent/config/builder.go
  agent/config/config.go
  agent/config/runtime.go
  agent/config/runtime_test.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/config/testdata/full-config.hcl
  agent/config/testdata/full-config.json
  agent/structs/check_definition.go
  agent/structs/check_type.go
  agent/structs/structs.go
  proto/pbservice/healthcheck.gen.go
  proto/pbservice/healthcheck.pb.go
  proto/pbservice/healthcheck.proto
  website/content/api-docs/agent/check.mdx
  website/content/docs/discovery/checks.mdx
Labels: type/docs, theme/config, pr/no-changelog, pr/no-docs

#12753 backport/1.10.x: Add a field to disable following redirects on http checks
  .changelog/12685.txt
  agent/agent.go
  agent/checks/check.go
  agent/checks/check_test.go
  agent/config/builder.go
  agent/config/config.go
  agent/config/runtime.go
  agent/config/runtime_test.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/config/testdata/full-config.hcl
  agent/config/testdata/full-config.json
  agent/structs/check_definition.go
  agent/structs/check_type.go
  agent/structs/structs.go
  proto/pbservice/healthcheck.gen.go
  proto/pbservice/healthcheck.pb.go
  proto/pbservice/healthcheck.proto
  website/content/api-docs/agent/check.mdx
  website/content/docs/discovery/checks.mdx
Labels: type/docs, theme/config, pr/no-changelog, pr/no-docs

#12754 backport/1.9.x: Add a field to disable following redirects on http checks
  .changelog/12685.txt
  agent/agent.go
  agent/checks/check.go
  agent/checks/check_test.go
  agent/config/builder.go
  agent/config/config.go
  agent/config/runtime.go
  agent/config/runtime_test.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/structs/check_definition.go
  agent/structs/check_type.go
  agent/structs/structs.go
  proto/pbservice/healthcheck.gen.go
  proto/pbservice/healthcheck.pb.go
  proto/pbservice/healthcheck.proto
  website/content/api-docs/agent/check.mdx
  website/content/docs/discovery/checks.mdx
Labels: type/docs, theme/config, pr/no-changelog, pr/no-docs

#12750 backport/1.9.x: Use the GatewayService SNI field for upstream SAN validation
  .changelog/12672.txt
  agent/consul/config_endpoint.go
  agent/structs/config_entry.go
  agent/structs/config_entry_gateways.go
  agent/xds/clusters.go
  agent/xds/clusters_test.go
  agent/xds/testdata/clusters/terminating-gateway-sni.envoy-1-16-x.golden
  website/content/docs/connect/config-entries/terminating-gateway.mdx
Labels: type/docs, theme/envoy/xds, pr/no-changelog

#12755 redirect.js: fixing redirect to new compatibility matrix for k8s
  website/redirects.js
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12759 docs: Correcting an uncapitalized word setup at the beginning of titles to be capitalized in vault section.
  build-support/functions/20-build.sh
  website/content/docs/k8s/installation/vault/data-integration/bootstrap-token.mdx
  website/content/docs/k8s/installation/vault/data-integration/connect-ca.mdx
  website/content/docs/k8s/installation/vault/data-integration/enterprise-license.mdx
  website/content/docs/k8s/installation/vault/data-integration/gossip.mdx
  website/content/docs/k8s/installation/vault/data-integration/index.mdx
  website/content/docs/k8s/installation/vault/data-integration/partition-token.mdx
  website/content/docs/k8s/installation/vault/data-integration/replication-token.mdx
  website/content/docs/k8s/installation/vault/data-integration/server-tls.mdx
  website/content/docs/k8s/installation/vault/data-integration/snapshot-agent-config.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12727 add more labels to RequestRecorder
  .changelog/12727.txt
  agent/consul/options.go
  agent/consul/server.go
  agent/consul/server_test.go
  agent/metrics_test.go
  agent/rpc/middleware/interceptors.go
  agent/rpc/middleware/interceptors_test.go
Labels: backport/1.12

#12739 deps: update to latest go-discover
  .changelog/12739.txt
  go.mod
  go.sum
Labels: pr/dependencies, backport/1.12

#12757 add docs for new labels
  website/content/docs/agent/telemetry.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test, backport/1.12

#12761 add changelog for enterprise fix
  .changelog/_1728.txt
Labels: pr/no-changelog, backport/1.11, backport/1.12

#12740 ui: Don't automatically move rz read-replicas out of the rz
  ui/packages/consul-ui/app/services/repository/dc.js
Labels: theme/ui, pr/no-changelog, backport/1.12

#12758 ui: Show read-replica health status
  ui/packages/consul-ui/app/components/consul/server/card/index.hbs
Labels: theme/ui, pr/no-changelog, backport/1.12

#12772 add changelog for enterprise bug fix
  .changelog/_1737.txt
Labels: pr/no-changelog, backport/1.11, backport/1.12

#12769 Setting DOCKER_DEFAULT_PLATFORM in make dev-docker so arm64 can build an amd64 container with an amd64 binary.
  GNUmakefile
Labels: pr/no-changelog

#12767 backport/1.9.x: Update CI and release Go versions to 1.17.9
  .changelog/12767.txt
  .circleci/config.yml
  .github/workflows/build.yml
  build-support/docker/Build-Go.dockerfile
  build-support/docker/Test-Flake.dockerfile
Labels: type/ci, theme/contributing

#12766 backport/1.10.x: Update CI and release Go versions to 1.17.9
  .changelog/12766.txt
  .circleci/config.yml
  .github/workflows/build.yml
  build-support/docker/Build-Go.dockerfile
  build-support/docker/Test-Flake.dockerfile
Labels: type/ci, theme/contributing, pr/no-changelog

#12736 Update vault to 1.9.4
  .circleci/config.yml
Labels: type/ci, pr/no-changelog, pr/no-metrics-test, backport/1.12

#12774 acl: Adjust region handling in AWS IAM auth method
  .changelog/12774.txt
  agent/consul/authmethod/awsauth/aws.go
  agent/consul/authmethod/awsauth/aws_test.go
  internal/iamauth/config.go
  internal/iamauth/token.go
  internal/iamauth/token_test.go
  internal/iamauth/util.go
Labels: pr/no-metrics-test, backport/1.12

#12780 oss: Fix namespace default field names in expanded token output
  agent/consul/acl_endpoint.go
  api/acl.go
  command/acl/token/formatter.go
  command/acl/token/formatter_test.go
  command/acl/token/testdata/FormatTokenExpanded/oss/basic.json.golden
  command/acl/token/testdata/FormatTokenExpanded/oss/complex.json.golden
Labels: pr/no-changelog, pr/no-metrics-test, backport/1.12

#12785 add changelog from 1.10.10 release
  CHANGELOG.md
Labels: pr/no-changelog

#12784 add changelog from 1.11.5 release
  CHANGELOG.md
Labels: pr/no-changelog

#12782 Update latest version on website to 1.11.5
  website/data/version.js
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12787 `ConnectCA.Sign` gRPC Endpoint
  .changelog/12787.txt
  agent/connect/csr.go
  agent/consul/connect_ca_endpoint.go
  agent/consul/grpc_integration_test.go
  agent/consul/leader_connect_ca.go
  agent/consul/server.go
  agent/grpc/public/services/connectca/mock_ACLResolver.go
  agent/grpc/public/services/connectca/mock_CAManager.go
  agent/grpc/public/services/connectca/server.go
  agent/grpc/public/services/connectca/server_test.go
  agent/grpc/public/services/connectca/sign.go
  agent/grpc/public/services/connectca/sign_test.go
  agent/grpc/public/services/connectca/watch_roots.go
  agent/grpc/public/services/connectca/watch_roots_test.go
  proto-public/pbconnectca/ca.pb.binary.go
  proto-public/pbconnectca/ca.pb.go
  proto-public/pbconnectca/ca.proto
Labels: theme/connect

#12788 ui: Only show Optimistic Tolerance details in Enterprise
  ui/packages/consul-ui/app/styles/routes/dc/overview/serverstatus.scss
  ui/packages/consul-ui/app/templates/dc/show/serverstatus.hbs
Labels: theme/ui, pr/no-changelog, pr/no-metrics-test, backport/1.12

#12786 ui: Adds support for AWS-IAM Auth Methods
  .changelog/12786.txt
  ui/packages/consul-ui/app/components/consul/auth-method/index.scss
  ui/packages/consul-ui/app/components/consul/auth-method/view/index.hbs
  ui/packages/consul-ui/app/components/pill/index.scss
  ui/packages/consul-ui/app/templates/dc/acls/auth-methods/show/auth-method.hbs
  ui/packages/consul-ui/app/templates/dc/acls/auth-methods/show/binding-rules.hbs
  ui/packages/consul-ui/app/templates/dc/acls/auth-methods/show/nspace-rules.hbs
  ui/packages/consul-ui/mock-api/v1/acl/auth-methods
  ui/packages/consul-ui/package.json
  ui/packages/consul-ui/translations/common/en-us.yaml
  ui/yarn.lock
Labels: theme/ui, backport/1.12

#12790 ui:updated text color and added overview card hover states
  ui/packages/consul-ui/app/components/consul/server/list/index.scss
  ui/packages/consul-ui/app/styles/routes/dc/overview/license.scss
Labels: theme/ui, pr/no-changelog, backport/1.12

#12791 add queryBackend to the api query meta.
  .changelog/12791.txt
  api/api.go
Labels: theme/api, backport/1.12

#12797 acl: Fix tag parsing for IAM users and roles in IAM auth method
  .changelog/12797.txt
  internal/iamauth/auth_test.go
  internal/iamauth/iamauthtest/testing.go
  internal/iamauth/responses/responses.go
  internal/iamauth/responses/responses_test.go
  internal/iamauth/responsestest/testing.go
Labels: backport/1.12

#12079 Fix incorrect severity syslog messages
  .changelog/12079.txt
  .circleci/config.yml
  logging/logger.go
  logging/syslog.go
  logging/syslog_test.go
  logging/syslog_unsupported_test.go
Labels: type/bug, pr/no-metrics-test, pr/no-docs, backport/1.12

#12793 Set vault namespaces on vault client prior to logging in
  .changelog/12793.txt
  agent/connect/ca/provider_vault.go
Labels: theme/connect, backport/1.11, backport/1.12

#12799 docs: fixed redirect issue
  website/redirects.js
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-docs

#12796 Add an internal env var for HCP to enable specific features/views in the ui
  agent/config/builder.go
  agent/config/runtime.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/uiserver/ui_template_data.go
  agent/uiserver/uiserver_test.go
Labels: theme/config, pr/no-changelog, pr/no-metrics-test, backport/1.12

#12803 docs/nia: Terraform Cloud agent support
  website/content/docs/nia/api/tasks.mdx
  website/content/docs/nia/configuration.mdx
  website/content/docs/nia/network-drivers/terraform-cloud.mdx
Labels: type/docs, theme/consul-terraform-sync

#12738 ui: Fixup icons not displaying in Safari
  ui/packages/consul-ui/app/components/breadcrumbs/skin.scss
  ui/packages/consul-ui/app/components/csv-list/index.scss
  ui/packages/consul-ui/app/components/empty-state/skin.scss
  ui/packages/consul-ui/app/components/main-nav-vertical/skin.scss
  ui/packages/consul-ui/app/components/secret-button/layout.scss
  ui/packages/consul-ui/app/components/tooltip-panel/skin.scss
  ui/packages/consul-ui/app/components/tooltip/index.scss
  ui/packages/consul-ui/app/styles/base/icons/base-keyframes.scss
Labels: theme/ui, pr/no-changelog, backport/1.12

#12811 Docs: Rename and re-title docs page for installing Consul API Gateway
  website/content/docs/api-gateway/common-errors.mdx
  website/content/docs/api-gateway/consul-api-gateway-install.mdx
  website/data/docs-nav-data.json
  website/redirects.js
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.11, backport/1.12

#12808 Update go version to 1.18.1
  .changelog/12808.txt
  .circleci/config.yml
  .github/workflows/build.yml
  GNUmakefile
  agent/agent_test.go
  agent/connect_ca_endpoint_test.go
  agent/consul/leader_connect_ca.go
  api/api_test.go
  api/go.mod
  api/go.sum
  build-support/docker/Build-Go.dockerfile
  connect/proxy/proxy.go
  connect/service_test.go
  connect/tls.go
  connect/tls_test.go
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
  test/ca/certindex
  test/ca/myca.conf
  test/ca/serialfile
  test/hostname/Alice.cfg
  test/hostname/Alice.crt
  test/hostname/Alice.key
  test/hostname/Betty.crt
  test/hostname/Betty.key
  test/hostname/Bob.crt
  test/hostname/Bob.key
  test/hostname/Bonnie.crt
  test/hostname/Bonnie.key
  test/hostname/certindex
  test/hostname/myca.conf
  test/hostname/serialfile
  test/key/ourdomain.cer
  test/key/ourdomain.cfg
  test/key/ourdomain.key
  tlsutil/config.go
  tlsutil/config_test.go
Labels: theme/api, theme/connect, theme/tls, type/ci, pr/dependencies, theme/contributing, theme/certificates, backport/1.12

#12804 ui: Revert to Services route as default
  ui/packages/consul-ui/app/templates/application.hbs
  ui/packages/consul-ui/tests/acceptance/dc/forwarding.feature
  ui/packages/consul-ui/tests/acceptance/index-forwarding.feature
  ui/packages/consul-ui/tests/acceptance/page-navigation.feature
  ui/packages/consul-ui/vendor/consul-ui/routes.js
Labels: theme/ui, pr/no-changelog, backport/1.12

#12792 ui: Add documentation link to the Server Fault Tolerance panel
  ui/packages/consul-ui/app/styles/routes/dc/overview/serverstatus.scss
  ui/packages/consul-ui/app/templates/dc/show/serverstatus.hbs
  ui/packages/consul-ui/translations/routes/en-us.yaml
Labels: theme/ui, pr/no-changelog, backport/1.12

#12805 connect: Add Envoy 1.22 to integration tests, remove Envoy 1.18
  .changelog/12805.txt
  .circleci/config.yml
  agent/xds/delta.go
  agent/xds/delta_test.go
  agent/xds/envoy_versioning.go
  agent/xds/envoy_versioning_test.go
  agent/xds/listeners.go
  agent/xds/proxysupport/proxysupport.go
  agent/xds/testdata/listeners/connect-proxy-with-chain-and-overrides.latest.golden
  agent/xds/testdata/listeners/connect-proxy-with-grpc-chain.latest.golden
  agent/xds/testdata/listeners/connect-proxy-with-http-chain.latest.golden
  agent/xds/testdata/listeners/connect-proxy-with-http2-chain.latest.golden
  agent/xds/testdata/listeners/expose-checks.latest.golden
  agent/xds/testdata/listeners/expose-paths-local-app-paths.latest.golden
  agent/xds/testdata/listeners/expose-paths-new-cluster-http2.latest.golden
  agent/xds/testdata/listeners/http-listener-with-timeouts.latest.golden
  agent/xds/testdata/listeners/http-public-listener.latest.golden
  agent/xds/testdata/listeners/http-upstream.latest.golden
  agent/xds/testdata/listeners/ingress-http-multiple-services.latest.golden
  agent/xds/testdata/listeners/ingress-splitter-with-resolver-redirect.latest.golden
  agent/xds/testdata/listeners/ingress-with-sds-listener+service-level.latest.golden
  agent/xds/testdata/listeners/ingress-with-sds-listener-gw-level-http.latest.golden
  agent/xds/testdata/listeners/ingress-with-sds-service-level-mixed-no-tls.latest.golden
  agent/xds/testdata/listeners/ingress-with-sds-service-level.latest.golden
  agent/xds/testdata/listeners/ingress-with-single-tls-listener.latest.golden
  agent/xds/testdata/listeners/ingress-with-tls-min-version-listeners-gateway-defaults.latest.golden
  agent/xds/testdata/listeners/ingress-with-tls-mixed-listeners.latest.golden
  agent/xds/testdata/listeners/ingress-with-tls-mixed-min-version-listeners.latest.golden
  agent/xds/testdata/listeners/mesh-gateway-custom-addresses.latest.golden
  agent/xds/testdata/listeners/mesh-gateway-no-services.latest.golden
  agent/xds/testdata/listeners/mesh-gateway-tagged-addresses.latest.golden
  agent/xds/testdata/listeners/mesh-gateway-using-federation-states.latest.golden
  agent/xds/testdata/listeners/mesh-gateway.latest.golden
  agent/xds/testdata/listeners/splitter-with-resolver-redirect.latest.golden
  agent/xds/testdata/listeners/terminating-gateway-custom-and-tagged-addresses.latest.golden
  agent/xds/testdata/listeners/terminating-gateway-no-api-cert.latest.golden
  agent/xds/testdata/listeners/terminating-gateway-no-services.latest.golden
  agent/xds/testdata/listeners/terminating-gateway-service-subsets.latest.golden
  agent/xds/testdata/listeners/terminating-gateway-with-tls-incoming-cipher-suites.latest.golden
  agent/xds/testdata/listeners/terminating-gateway-with-tls-incoming-max-version.latest.golden
  agent/xds/testdata/listeners/terminating-gateway-with-tls-incoming-min-version.latest.golden
  agent/xds/testdata/listeners/terminating-gateway.latest.golden
  agent/xds/testdata/listeners/transparent-proxy-catalog-destinations-only.latest.golden
  agent/xds/testdata/listeners/transparent-proxy-dial-instances-directly.latest.golden
  agent/xds/testdata/listeners/transparent-proxy-http-upstream.latest.golden
  agent/xds/testdata/listeners/transparent-proxy-terminating-gateway.latest.golden
  agent/xds/testdata/listeners/transparent-proxy.latest.golden
  agent/xds/testdata/serverless_plugin/listeners/lambda-terminating-gateway-with-service-resolvers.latest.golden
  agent/xds/testdata/serverless_plugin/listeners/lambda-terminating-gateway.latest.golden
  agent/xds/xds_protocol_helpers_test.go
  command/connect/envoy/bootstrap_config.go
  command/connect/envoy/bootstrap_config_test.go
  command/connect/envoy/testdata/ingress-gateway-address-specified.golden
  command/connect/envoy/testdata/ingress-gateway-no-auto-register.golden
  command/connect/envoy/testdata/ingress-gateway-register-with-service-and-proxy-id.golden
  command/connect/envoy/testdata/ingress-gateway-register-with-service-without-proxy-id.golden
  command/connect/envoy/testdata/ingress-gateway.golden
  command/connect/envoy/testdata/prometheus-metrics.golden
  test/integration/connect/envoy/run-tests.sh
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, type/ci, theme/envoy/xds, type/docs-cherrypick, backport/1.12

#12815 ui: fix overview's renew license link
  ui/packages/consul-ui/translations/routes/en-us.yaml
Labels: theme/ui, pr/no-changelog, backport/1.12

#12795 ui:fixed bug where license was showing in oss
  ui/packages/consul-ui/app/abilities/license.js
  ui/packages/consul-ui/tests/unit/abilities/-test.js
Labels: theme/ui, pr/no-changelog, backport/1.12

#12817 ui: fix issue where license viewable - backport of #12795
  ui/packages/consul-ui/app/abilities/license.js
  ui/packages/consul-ui/tests/unit/abilities/-test.js
Labels: theme/ui, pr/no-changelog

#12818 Run arm64 builds on go1.18
  .circleci/config.yml
Labels: type/ci, pr/no-changelog

#12626 Emit Ready Server Events
  agent/consul/autopilot.go
  agent/consul/autopilot_test.go
  agent/consul/autopilotevents/mock_Publisher_test.go
  agent/consul/autopilotevents/mock_StateStore_test.go
  agent/consul/autopilotevents/mock_timeProvider_test.go
  agent/consul/autopilotevents/ready_servers_events.go
  agent/consul/autopilotevents/ready_servers_events_test.go
  agent/consul/state/connect_ca_events.go
  agent/consul/state/store_integration_test.go
  agent/consul/stream/event.go
  agent/consul/stream/event_publisher_test.go
  agent/consul/stream/string_types.go
  agent/consul/stream/subscription_test.go
Labels: pr/no-changelog, pr/no-metrics-test

#12824 Fix spelling for secrurity/acl mdx
  website/content/docs/security/acl/index.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12820 ca: fix a bug that caused a non blocking leaf cert query after a blocking leaf cert query to block
  .changelog/12820.txt
  agent/agent_endpoint_test.go
  agent/cache/cache.go
Labels: theme/agent-cache, backport/1.10, pr/no-metrics-test, backport/1.11, backport/1.12

#12823 updated docs
  website/content/docs/nia/compatibility.mdx
  website/content/docs/nia/configuration.mdx
  website/content/docs/nia/enterprise/license.mdx
Labels: type/docs, theme/consul-terraform-sync

#12830 Remove unused files
  INTERNALS.md
  codecov.yml
  main_test.go
  package-lock.json
  terraform/README.md
Labels: pr/no-changelog

#12828 docs: remove 1.9.x row in Envoy compatibility matrix table
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs-cherrypick, pr/no-changelog

#12833 website: remove unnecessary files
  website/Dockerfile
  website/global.d.ts
  website/next-env.d.ts
  website/next.config.js
  website/tsconfig.json
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12832 Update changelog for 1.12.0
  CHANGELOG.md
Labels: pr/no-changelog

#12807 acl: Clarify node/service identities must be lowercase
  .changelog/12807.txt
  agent/acl_endpoint_test.go
  agent/consul/acl_endpoint.go
Labels: theme/api

#12839 docs: fixed broken url
  website/content/docs/k8s/connect/connect-ca-provider.mdx
  website/redirects.js
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-docs

#12802 Adding documentation for WAN Federation with Vault as a secrets backend
  website/content/docs/k8s/installation/vault/wan-federation.mdx
  website/data/docs-nav-data.json
  website/public/img/k8s/consul-vault-wan-federation-mesh-communication.svg
  website/public/img/k8s/consul-vault-wan-federation-topology.svg
  website/public/img/k8s/consul-vault-wan-federation-vault-communication.svg
  website/public/img/k8s/consul-vault-wan-federation-vault-injector.svg
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12829 docs: Update Consul K8s compatibility matrix
  website/content/docs/k8s/installation/compatibility.mdx
  website/content/docs/k8s/installation/vault/systems-integration.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12821 docs: update acl token generation with uuidgen
  website/content/docs/k8s/installation/vault/data-integration/bootstrap-token.mdx
  website/content/docs/k8s/installation/vault/data-integration/partition-token.mdx
  website/content/docs/k8s/installation/vault/data-integration/replication-token.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test

#12840 docs: small spelling typo on consul k8s compat matrix
  website/content/docs/k8s/installation/compatibility.mdx
Labels: type/docs-cherrypick, pr/no-changelog

#12716 Add documentation for proposed kubernetes-service annotation
  website/content/docs/k8s/annotations-and-labels.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12846 change action to pull v1 instead of main
  .changelog/12846.txt
  .github/workflows/build.yml
Labels: theme/contributing, backport/1.10, backport/1.11, backport/1.12

#12847 Remove references to modules in consul/website/content/docs/enterprise
  website/content/docs/enterprise/admin-partitions.mdx
  website/content/docs/enterprise/audit-logging.mdx
  website/content/docs/enterprise/federation.mdx
  website/content/docs/enterprise/namespaces.mdx
  website/content/docs/enterprise/network-segments.mdx
  website/content/docs/enterprise/read-scale.mdx
  website/content/docs/enterprise/redundancy.mdx
  website/content/docs/enterprise/sentinel.mdx
Labels: type/docs, type/docs-cherrypick

#12827 add a general pull request template
  .github/pull_request_template.md
Labels: theme/contributing, pr/no-changelog, pr/no-metrics-test

#12844 update raft to v1.3.8
  .changelog/12844.txt
  agent/agent.go
  agent/consul/config.go
  agent/consul/server.go
  agent/consul/server_test.go
  go.mod
  go.sum
Labels: pr/dependencies

#12702 Add versions compatibility tests between Consul
  .circleci/config.yml
  GNUmakefile
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
  test/integration/consul-container/libs/cluster/cluster.go
  test/integration/consul-container/libs/node/consul-container.go
  test/integration/consul-container/libs/node/node.go
  test/integration/consul-container/libs/utils/utils.go
  test/integration/consul-container/upgrade/README.md
  test/integration/consul-container/upgrade/healthcheck_test.go
Labels: pr/no-changelog, pr/no-metrics-test, backport/1.12

#12768 Document consul.hashicorp.com/connect-inject-mount-volume
  website/content/docs/k8s/annotations-and-labels.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12855 changelog: snapshot-agent acl token fix for CLI and ENV
  .changelog/_12855.txt
  .gitignore
Labels: backport/1.10, backport/1.11, backport/1.12

#12857 add notarize darwin arm64 workflow
  .release/ci.hcl
Labels: backport/1.10, backport/1.11, backport/1.12

#12859 docs: Redirect /agent/config to /agent/config/config-files
  website/redirects.js
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12856 docs: updated connect docs and re-deploying missed changes
  website/content/docs/connect/configuration.mdx
  website/content/docs/connect/connect-internals.mdx
  website/data/docs-nav-data.json
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-docs

#12862 structs: ensure exported-services PeerName field can be addressed as peer_name
  agent/structs/config_entry_exports.go
  agent/structs/config_entry_test.go
  api/config_entry_exports.go
  command/config/write/config_write_test.go
Labels: theme/api, theme/cli, pr/no-changelog

#12640 health: ensure /v1/health/service/:service endpoint returns the most recent results when a filter is used with streaming
  .changelog/12640.txt
  agent/consul/health_endpoint.go
  agent/consul/health_endpoint_test.go
  agent/health_endpoint_test.go
  agent/rpcclient/health/view.go
  agent/structs/structs.go
Labels: backport/1.10, pr/no-metrics-test, backport/1.11, backport/1.12

#12866 [1.11.x] health: ensure /v1/health/service/:service endpoint returns the most recent results when a filter is used with streaming
  .changelog/12640.txt
  agent/consul/health_endpoint.go
  agent/consul/health_endpoint_test.go
  agent/health_endpoint_test.go
  agent/rpcclient/health/view.go
  agent/structs/structs.go
Labels: theme/health-checks, pr/no-changelog, backport/1.10

#12865 Upgrade Raft to v1.3.9 for saturation metrics
  .changelog/12865.txt
  go.mod
  go.sum
  website/content/docs/agent/telemetry.mdx
Labels: type/docs, pr/dependencies, pr/no-metrics-test

#12861 website(consul-api-gateway): add ReferencePolicy to overview docs
  website/content/docs/api-gateway/consul-api-gateway-install.mdx
  website/content/docs/api-gateway/index.mdx
  website/content/docs/api-gateway/tech-specs.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12863 Update product docs for release of Consul API Gateway v0.2
  website/content/docs/api-gateway/consul-api-gateway-install.mdx
  website/content/docs/api-gateway/index.mdx
  website/content/docs/api-gateway/tech-specs.mdx
  website/content/docs/api-gateway/upgrade-specific-versions.mdx
  website/content/docs/release-notes/consul-api-gateway/v0_1_x.mdx
  website/content/docs/release-notes/consul-api-gateway/v0_2_x.mdx
  website/data/docs-nav-data.json
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.11

#12868 [1.10.x] health: ensure /v1/health/service/:service endpoint returns the most recent results when a filter is used with streaming
  .changelog/12640.txt
  agent/consul/health_endpoint.go
  agent/consul/health_endpoint_test.go
  agent/health_endpoint_test.go
  agent/rpcclient/health/view.go
  agent/structs/structs.go
Labels: theme/health-checks, pr/no-changelog

#12871 Update version pin for consul-api-gateway install docs
  website/content/docs/api-gateway/consul-api-gateway-install.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.11

#12869 ci: Backport arm64 bulids
  .github/workflows/build.yml
Labels: theme/contributing, pr/no-changelog

#12872 docs: fixes makdown leakage
  website/content/docs/security/security-models/core.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12873 website(consul-api-gateway): fixup stray div tag and step 8 link
  website/content/docs/api-gateway/upgrade-specific-versions.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.11

#12874 Docs: updated versions on install page and other minor fixes.
  website/content/docs/api-gateway/consul-api-gateway-install.mdx
  website/content/docs/release-notes/consul-api-gateway/v0_2_x.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.11

#12875 Release 1.11.x #12871 backport
  website/content/docs/api-gateway/consul-api-gateway-install.mdx
Labels: type/docs, pr/no-changelog

#12876 Release 1.12.x #12871 backport
  website/content/docs/api-gateway/consul-api-gateway-install.mdx
Labels: type/docs, pr/no-changelog

#12877 Stable website #12871 backport
  website/content/docs/api-gateway/consul-api-gateway-install.mdx
Labels: type/docs, pr/no-changelog

#11810 Update enterprise packaging in feature docs
  website/content/docs/enterprise/admin-partitions.mdx
  website/content/docs/enterprise/audit-logging.mdx
  website/content/docs/enterprise/backups.mdx
  website/content/docs/enterprise/federation.mdx
  website/content/docs/enterprise/index.mdx
  website/content/docs/enterprise/namespaces.mdx
  website/content/docs/enterprise/network-segments.mdx
  website/content/docs/enterprise/read-scale.mdx
  website/content/docs/enterprise/redundancy.mdx
  website/content/docs/enterprise/sentinel.mdx
  website/content/docs/enterprise/upgrades.mdx
  website/content/docs/security/acl/auth-methods/oidc.mdx
Labels: type/docs, type/docs-cherrypick, theme/consul-terraform-sync, pr/no-changelog, theme/enterprise

#12594 Unify various status errors into one HTTP error type.
  agent/acl.go
  agent/acl_endpoint.go
  agent/acl_endpoint_test.go
  agent/agent_endpoint.go
  agent/agent_endpoint_test.go
  agent/catalog_endpoint.go
  agent/config_endpoint.go
  agent/config_endpoint_test.go
  agent/connect_auth.go
  agent/connect_ca_endpoint.go
  agent/coordinate_endpoint.go
  agent/coordinate_endpoint_test.go
  agent/discovery_chain_endpoint.go
  agent/discovery_chain_endpoint_test.go
  agent/event_endpoint.go
  agent/event_endpoint_test.go
  agent/federation_state_endpoint.go
  agent/health_endpoint.go
  agent/health_endpoint_test.go
  agent/http.go
  agent/http_oss.go
  agent/http_test.go
  agent/intentions_endpoint.go
  agent/intentions_endpoint_test.go
  agent/kvs_endpoint.go
  agent/operator_endpoint.go
  agent/prepared_query_endpoint.go
  agent/prepared_query_endpoint_test.go
  agent/session_endpoint.go
  agent/txn_endpoint.go
  agent/txn_endpoint_test.go
  agent/ui_endpoint.go
Labels: pr/no-changelog

#12891 Docs: update for API Gateway v0.2.1
  website/content/docs/api-gateway/consul-api-gateway-install.mdx
  website/content/docs/api-gateway/upgrade-specific-versions.mdx
  website/content/docs/release-notes/consul-api-gateway/v0_2_x.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.11

#12892 Cleanup peering files that used removed error types
  agent/peering_endpoint.go
Labels: pr/no-changelog

#12893 docs: add guidance on improving Consul resilience
  website/content/docs/architecture/improving-consul-resilience.mdx
  website/data/docs-nav-data.json
Labels: type/docs, type/docs-cherrypick, backport/1.8, backport/1.9, pr/no-changelog, backport/1.10, backport/1.11, backport/1.12

#12899 Docs: Merge #12847 into stable-website
  website/content/docs/enterprise/admin-partitions.mdx
  website/content/docs/enterprise/audit-logging.mdx
  website/content/docs/enterprise/federation.mdx
  website/content/docs/enterprise/namespaces.mdx
  website/content/docs/enterprise/network-segments.mdx
  website/content/docs/enterprise/read-scale.mdx
  website/content/docs/enterprise/redundancy.mdx
  website/content/docs/enterprise/sentinel.mdx
Labels: type/docs, pr/no-changelog

#12901 Docs: Merge #12847 into release/1.12.x
  website/content/docs/enterprise/admin-partitions.mdx
  website/content/docs/enterprise/audit-logging.mdx
  website/content/docs/enterprise/federation.mdx
  website/content/docs/enterprise/namespaces.mdx
  website/content/docs/enterprise/network-segments.mdx
  website/content/docs/enterprise/read-scale.mdx
  website/content/docs/enterprise/redundancy.mdx
  website/content/docs/enterprise/sentinel.mdx
Labels: type/docs, pr/no-changelog

#12902 docs: fix typo
  website/content/docs/enterprise/index.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12900 peering: Make Upstream peer-aware
  agent/config/builder.go
  agent/config/config.go
  agent/connect/sni.go
  agent/proxycfg/ingress_gateway.go
  agent/proxycfg/naming.go
  agent/proxycfg/naming_oss.go
  agent/proxycfg/naming_test.go
  agent/proxycfg/state.go
  agent/structs/connect_proxy_config.go
  agent/structs/service_definition.go
  agent/structs/structs.go
  agent/structs/structs_filtering_test.go
  agent/structs/structs_test.go
  api/agent.go
  proto/pbservice/service.gen.go
  proto/pbservice/service.pb.go
  proto/pbservice/service.proto
Labels: theme/api, theme/config, theme/connect, pr/no-changelog

#12762 docs: use correct previous name of recovery token
  website/content/commands/acl/set-agent-token.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.11
