Repository hashicorp/consul, pull requests merged in 2022-08, with the labels that each got.

#13977 Implement/Utilize secrets for Peering Replication Stream
  agent/consul/fsm/commands_oss.go
  agent/consul/fsm/snapshot_oss_test.go
  agent/consul/internal_endpoint_test.go
  agent/consul/leader_peering.go
  agent/consul/leader_peering_test.go
  agent/consul/peering_backend.go
  agent/consul/prepared_query_endpoint_test.go
  agent/consul/server.go
  agent/consul/state/peering.go
  agent/consul/state/peering_test.go
  agent/consul/state/schema.go
  agent/consul/state/schema_test.go
  agent/consul/state/state_store_test.go
  agent/consul/usagemetrics/usagemetrics_oss_test.go
  agent/grpc-external/services/peerstream/server.go
  agent/grpc-external/services/peerstream/server_test.go
  agent/grpc-external/services/peerstream/stream_resources.go
  agent/grpc-external/services/peerstream/stream_test.go
  agent/grpc-external/services/peerstream/subscription_manager_test.go
  agent/peering_endpoint_test.go
  agent/proxycfg-glue/exported_peered_services_test.go
  agent/proxycfg-glue/trust_bundle_test.go
  agent/rpc/peering/service.go
  agent/rpc/peering/service_test.go
  agent/structs/peering.go
  agent/structs/structs.go
  api/peering_test.go
  proto/pbpeering/peering.go
  proto/pbpeering/peering.pb.binary.go
  proto/pbpeering/peering.pb.go
  proto/pbpeering/peering.proto
  proto/pbpeerstream/peerstream.pb.binary.go
  proto/pbpeerstream/peerstream.pb.go
  proto/pbpeerstream/peerstream.proto
  proto/pbpeerstream/peerstream_grpc.pb.go
Labels: theme/api, pr/no-changelog, backport/1.13

#13871 docs: update enterprise licensing description
  website/content/docs/enterprise/license/overview.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.11, backport/1.12

#13859 Backport of Add ECS audit logging docs into release/1.12.x
  website/content/docs/ecs/enterprise.mdx
  website/content/docs/ecs/manual/secure-configuration.mdx
  website/content/docs/ecs/terraform/secure-configuration.mdx
Labels: type/docs

#13953 Tgtwy egress HTTP support
  agent/proxycfg/testing_tproxy.go
  agent/xds/listeners.go
  agent/xds/resources_test.go
  agent/xds/routes.go
  agent/xds/testdata/clusters/transparent-proxy-destination-http.latest.golden
  agent/xds/testdata/endpoints/transparent-proxy-destination-http.latest.golden
  agent/xds/testdata/listeners/transparent-proxy-destination-http.latest.golden
  agent/xds/testdata/routes/transparent-proxy-destination-http.latest.golden
Labels: theme/envoy/xds, pr/no-changelog, backport/1.13

#13963 peering: default to false
  agent/cache-types/trust_bundles.go
  agent/cache-types/trust_bundles_test.go
  agent/config/default.go
  agent/config/runtime_test.go
  agent/consul/config.go
  agent/consul/server_test.go
  agent/rpc/peering/service_test.go
  agent/testagent.go
  sdk/testutil/server.go
  test/integration/connect/envoy/case-cross-peers-http-router/alpha/base.hcl
  test/integration/connect/envoy/case-cross-peers-http-router/primary/base.hcl
  test/integration/connect/envoy/case-cross-peers-http/alpha/base.hcl
  test/integration/connect/envoy/case-cross-peers-http/primary/base.hcl
  test/integration/connect/envoy/case-cross-peers-resolver-redirect-tcp/alpha/base.hcl
  test/integration/connect/envoy/case-cross-peers-resolver-redirect-tcp/primary/base.hcl
  test/integration/connect/envoy/case-cross-peers/alpha/base.hcl
  test/integration/connect/envoy/case-cross-peers/primary/base.hcl
  website/content/docs/agent/config/config-files.mdx
Labels: theme/config, pr/no-changelog, theme/cluster-peering, backport/1.13

#13955 ci: Use pattern for CRT release branch config
  .github/workflows/build.yml
  .release/ci.hcl
Labels: pr/no-changelog, backport/1.11, backport/1.12, backport/1.13

#13989 Backport of peering: default to false into release/1.13.x
  agent/cache-types/trust_bundles.go
  agent/cache-types/trust_bundles_test.go
  agent/config/default.go
  agent/config/runtime_test.go
  agent/consul/config.go
  agent/consul/server_test.go
  agent/rpc/peering/service_test.go
  agent/testagent.go
  sdk/testutil/server.go
  test/integration/connect/envoy/case-cross-peers-http-router/alpha/base.hcl
  test/integration/connect/envoy/case-cross-peers-http-router/primary/base.hcl
  test/integration/connect/envoy/case-cross-peers-http/alpha/base.hcl
  test/integration/connect/envoy/case-cross-peers-http/primary/base.hcl
  test/integration/connect/envoy/case-cross-peers-resolver-redirect-tcp/alpha/base.hcl
  test/integration/connect/envoy/case-cross-peers-resolver-redirect-tcp/primary/base.hcl
  test/integration/connect/envoy/case-cross-peers/alpha/base.hcl
  test/integration/connect/envoy/case-cross-peers/primary/base.hcl
  website/content/docs/agent/config/config-files.mdx
Labels: type/docs, theme/config

#13898 fix: ipv4 destination dns resolution
  agent/xds/clusters.go
  agent/xds/testdata/clusters/transparent-proxy-terminating-gateway-destinations-only.latest.golden
Labels: theme/envoy/xds, pr/no-changelog, backport/1.13

#13979 Various peering fixes
  agent/consul/config_endpoint_test.go
  agent/consul/leader_peering.go
  agent/consul/leader_peering_test.go
  agent/grpc-external/services/peerstream/stream_resources.go
  agent/grpc-external/services/peerstream/stream_test.go
Labels: pr/no-changelog, backport/1.13

#13960 proxycfg-sources: fix hot loop when service not found in catalog
  agent/proxycfg-sources/catalog/config_source.go
Labels: pr/no-changelog, backport/1.13

#13995 chore: changelog for destinations
  .changelog/13613.txt
Labels: pr/no-changelog, backport/1.13

#14005 add token to the request when creating a cacheIntentions query
  agent/proxycfg-glue/intentions.go
Labels: pr/no-changelog, backport/1.13

#13906 Separate port and socket path validation for local agent
  agent/agent_endpoint.go
  agent/sidecar_service_test.go
  agent/structs/structs.go
  agent/structs/structs_test.go
Labels: backport/1.11, backport/1.12, backport/1.13

#14002 Fix audit docs to bring inline with main
  website/content/docs/ecs/enterprise.mdx
  website/content/docs/ecs/manual/secure-configuration.mdx
  website/content/docs/ecs/terraform/secure-configuration.mdx
Labels: type/docs, pr/no-changelog, pr/no-metrics-test

#14015 ui: Re-hook up regenerate button
  ui/packages/consul-peerings/app/components/consul/peer/form/generate/chart.xstate.js
  ui/packages/consul-peerings/app/components/consul/peer/form/generate/index.hbs
Labels: theme/ui, pr/no-changelog, backport/1.13

#14007 ui: peering UI fixes - api contract change / wrong link in peerings list
  ui/packages/consul-peerings/app/components/consul/peer/list/index.hbs
  ui/packages/consul-ui/app/services/repository/peer.js
Labels: theme/ui, pr/no-changelog, backport/1.13

#14016 ui: Ensure CopyableCode copy icon/button is fully clickable
  ui/packages/consul-ui/app/components/copyable-code/index.scss
Labels: theme/ui, pr/no-changelog, backport/1.13

#14028 fix(cli): error message in service deregister subcommand
  command/services/deregister/deregister.go
Labels: theme/cli, pr/no-changelog, backport/1.11, backport/1.12

#14026 ui: Add error states/messages for peering establishment
  ui/packages/consul-peerings/app/components/consul/peer/form/generate/index.hbs
  ui/packages/consul-peerings/app/components/consul/peer/form/initiate/index.hbs
Labels: theme/ui, pr/no-changelog, backport/1.13

#14025 ui: Make DataWriter also deal with more standard shaped errors
  ui/packages/consul-peerings/app/components/consul/peer/form/generate/index.hbs
  ui/packages/consul-peerings/app/components/consul/peer/form/initiate/index.hbs
  ui/packages/consul-ui/app/components/data-writer/index.hbs
  ui/packages/consul-ui/app/components/data-writer/index.js
Labels: theme/ui, pr/no-changelog, backport/1.13

#14021 ui: Ensure we dispatch validation state
  .changelog/14021.txt
  ui/packages/consul-ui/app/modifiers/validate.js
Labels: theme/ui, backport/1.12, backport/1.13

#14040 ui: Update peerings docs links
  ui/packages/consul-peerings/app/templates/dc/peers/index.hbs
Labels: theme/ui, pr/no-changelog, backport/1.13

#14024 Peering secret UUID management fixes
  agent/consul/fsm/commands_oss.go
  agent/consul/fsm/snapshot_oss.go
  agent/consul/fsm/snapshot_oss_test.go
  agent/consul/leader_peering_test.go
  agent/consul/peering_backend.go
  agent/consul/state/peering.go
  agent/consul/state/peering_test.go
  agent/grpc-external/services/peerstream/server.go
  agent/grpc-external/services/peerstream/server_test.go
  agent/grpc-external/services/peerstream/stream_resources.go
  agent/grpc-external/services/peerstream/stream_test.go
  agent/rpc/peering/service.go
  proto/pbpeering/peering.go
  proto/pbpeering/peering.pb.binary.go
  proto/pbpeering/peering.pb.go
  proto/pbpeering/peering.proto
Labels: pr/no-changelog, theme/cluster-peering, backport/1.13

#13675 Restructure Api Gateway Documentation
  website/content/docs/api-gateway/common-errors.mdx
  website/content/docs/api-gateway/configuration/gateway.mdx
  website/content/docs/api-gateway/configuration/gatewayclass.mdx
  website/content/docs/api-gateway/configuration/gatewayclassconfig.mdx
  website/content/docs/api-gateway/configuration/index.mdx
  website/content/docs/api-gateway/configuration/routes.mdx
  website/content/docs/api-gateway/consul-api-gateway-install.mdx
  website/content/docs/api-gateway/index.mdx
  website/content/docs/api-gateway/install.mdx
  website/content/docs/api-gateway/upgrades.mdx
  website/content/docs/api-gateway/usage.mdx
  website/data/docs-nav-data.json
  website/redirects.js
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#13790 introduces the post publish website event
  .release/ci.hcl
Labels: pr/no-changelog, backport/1.11, backport/1.12, backport/1.13

#14050 Retry docker build steps
  test/integration/connect/envoy/run-tests.sh
Labels: pr/no-changelog, backport/1.13

#13855 Add peering ACL docs
  website/content/api-docs/peering.mdx
  website/content/docs/security/acl/acl-rules.mdx
Labels: type/docs, pr/no-changelog, theme/cluster-peering, backport/1.13

#14055 Add debugging logs to freeport
  sdk/freeport/freeport.go
  sdk/testutil/server.go
  sdk/testutil/types.go
Labels: pr/no-changelog

#14043 Add retries and debugging to flaky test
  connect/proxy/config_test.go
Labels: theme/connect, pr/no-changelog, backport/1.13

#13958 Fix wildcard picking up services it shouldn't for ingress/terminating gateways
  .changelog/13958.txt
  agent/consul/state/catalog.go
  agent/consul/state/catalog_test.go
  agent/consul/state/config_entry.go
  agent/consul/state/config_entry_test.go
  agent/consul/state/state_store_test.go
Labels: backport/1.11, backport/1.12, backport/1.13

#13290 Backport of Update to API Snapshot documentation into release/1.10.x
  website/content/api-docs/snapshot.mdx
Labels: meta/stale

#13950 add config parameters doc for destination in service-defaults
  website/content/docs/connect/config-entries/service-defaults.mdx
  website/content/docs/connect/config-entries/terminating-gateway.mdx
  website/content/docs/connect/gateways/terminating-gateway.mdx
Labels: pr/no-changelog, backport/1.13

#14064 Backport of Made changes based on Adams suggestions into release/1.12.x
  website/content/docs/k8s/installation/vault/data-integration/bootstrap-token.mdx
  website/content/docs/k8s/installation/vault/data-integration/connect-ca.mdx
  website/content/docs/k8s/installation/vault/data-integration/enterprise-license.mdx
  website/content/docs/k8s/installation/vault/data-integration/gossip.mdx
  website/content/docs/k8s/installation/vault/data-integration/index.mdx
  website/content/docs/k8s/installation/vault/data-integration/partition-token.mdx
  website/content/docs/k8s/installation/vault/data-integration/replication-token.mdx
  website/content/docs/k8s/installation/vault/data-integration/server-tls.mdx
  website/content/docs/k8s/installation/vault/data-integration/snapshot-agent-config.mdx
  website/content/docs/k8s/installation/vault/data-integration/webhook-certs.mdx
  website/content/docs/k8s/installation/vault/systems-integration.mdx
  website/content/docs/k8s/installation/vault/wan-federation.mdx
Labels: type/docs, pr/no-changelog

#13830 Backport of docs: fix a trailing comma in JSON body into stable-website
  website/content/docs/connect/registration/sidecar-service.mdx
Labels: type/docs

#14067 freeport: Track tests which used ports
  sdk/freeport/freeport.go
Labels: pr/no-changelog, backport/1.13

#14008 docs: destination docs for k8s
  website/content/docs/k8s/connect/terminating-gateways.mdx
Labels: type/docs, pr/no-changelog, backport/1.13

#13831 Backport of docs: fix a trailing comma in JSON body into release/1.12.x
  website/content/docs/connect/registration/sidecar-service.mdx
Labels: type/docs

#14075 ui: Add undefined check for peer model creation
  ui/packages/consul-ui/app/services/repository/peer.js
Labels: theme/ui, pr/no-changelog, backport/1.13

#14079 Add retry in TestAgentConnectCALeafCert_good
  agent/agent_endpoint_test.go
  agent/config/config.go
Labels: theme/config, pr/no-changelog, backport/1.13

#14081 agent: Close existing active listeners when agent fails on an address
  .changelog/14081.txt
  agent/agent.go
  agent/agent_test.go
Labels: backport/1.13

#14070 docs: Update references for transparent proxy with peers
  website/content/docs/connect/registration/service-registration.mdx
  website/content/docs/connect/transparent-proxy.mdx
  website/content/docs/discovery/dns.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.13

#14066 Add Service Discovery Use Case
  website/content/docs/intro/usecases/what-is-a-service-mesh.mdx
  website/content/docs/intro/usecases/what-is-service-discovery.mdx
  website/data/docs-nav-data.json
  website/public/img/what_is_service_discovery_1.png
  website/public/img/what_is_service_discovery_2.png
  website/public/img/what_is_service_discovery_3.png
  website/public/img/what_is_service_discovery_4.png
  website/public/img/what_is_service_discovery_5.png
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.11, backport/1.12, backport/1.13

#14093 Updates upgrade docs to clarify Nomad bug is fixed
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.12, backport/1.13

#13909 PR - Change configuration example for CTS documentation to reflect localhost instead of upstream cluster url
  website/content/docs/nia/configuration.mdx
Labels: type/docs, type/docs-cherrypick, theme/consul-terraform-sync, pr/no-changelog, pr/no-metrics-test

#14077 cli: update agent log preamble to reflect per-listener TLS config
  command/agent/agent.go
Labels: theme/cli, pr/no-changelog, backport/1.12, backport/1.13

#14099 [1.12.x] Updates upgrade docs to clarify Nomad bug is fixed
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs, pr/no-changelog

#14056 Refactor sidecar_service method to separate port assignment
  agent/sidecar_service.go
  agent/sidecar_service_test.go
Labels: pr/no-changelog

#14112 fix: shadowed err in retryJoin()
  agent/retry_join.go
Labels: pr/no-changelog, backport/1.11, backport/1.12, backport/1.13

#14113 ui: fix - use actual intention for permission check intentions.edit
  ui/packages/consul-ui/app/templates/dc/intentions/edit.hbs
Labels: theme/ui, pr/no-changelog, backport/1.13

#14078 ui: don't surface partitions in services search source dropdown anymore
  ui/packages/consul-ui/app/components/consul/service/search-bar/index.hbs
Labels: theme/ui, pr/no-changelog, backport/1.13

#14111 ui: Improve display peer info in service list
  ui/packages/consul-ui/app/components/consul/bucket/list/index.js
  ui/packages/consul-ui/app/components/consul/service/list/index.hbs
  ui/packages/consul-ui/tests/integration/components/consul/bucket/list-test.js
Labels: theme/ui, pr/no-changelog, backport/1.13

#14130 docs: Update supported Envoy versions
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, pr/no-changelog, backport/1.13

#14104 Sync changes from 1.13.0 release
  CHANGELOG.md
  version/version.go
Labels: pr/no-changelog

#14010 Add Consul ECS v0.5 release notes
  website/content/docs/release-notes/consul-ecs/v0_4_x.mdx
  website/content/docs/release-notes/consul-ecs/v0_5_x.mdx
  website/data/docs-nav-data.json
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test, backport/1.12

#14126 Add docs to recreate peering token.
  website/content/docs/connect/cluster-peering/k8s.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.13

#14105 Sync changes from 1.13.0 release
  CHANGELOG.md
  version/version.go
Labels: pr/no-changelog

#14142 ci: Disable Arm RPM verifications
  .github/workflows/build.yml
Labels: theme/contributing, pr/no-changelog, backport/1.11, backport/1.12, backport/1.13

#14101 docs(consul-api-gateway): add v0.4.0 upgrade instructions
  website/content/docs/api-gateway/upgrades.mdx
Labels: pr/no-changelog

#14149 Handle breaking change for ServiceVirtualIP restore
  .changelog/14149.txt
  agent/consul/fsm/snapshot_oss.go
  agent/consul/fsm/snapshot_oss_test.go
  agent/structs/structs.go
Labels: theme/cluster-peering, backport/1.13

#14155 Use updated ia for API Gateway
  website/content/docs/api-gateway/common-errors.mdx
  website/content/docs/api-gateway/configuration/gateway.mdx
  website/content/docs/api-gateway/configuration/gatewayclass.mdx
  website/content/docs/api-gateway/configuration/gatewayclassconfig.mdx
  website/content/docs/api-gateway/configuration/index.mdx
  website/content/docs/api-gateway/configuration/routes.mdx
  website/content/docs/api-gateway/consul-api-gateway-install.mdx
  website/content/docs/api-gateway/index.mdx
  website/content/docs/api-gateway/install.mdx
  website/content/docs/api-gateway/upgrades.mdx
  website/content/docs/api-gateway/usage.mdx
  website/data/docs-nav-data.json
  website/redirects.js
Labels: type/docs, pr/no-changelog, pr/no-metrics-test

#14157 Update release 1.12 with new API GW IA for docs
  website/content/docs/api-gateway/common-errors.mdx
  website/content/docs/api-gateway/configuration/gateway.mdx
  website/content/docs/api-gateway/configuration/gatewayclass.mdx
  website/content/docs/api-gateway/configuration/gatewayclassconfig.mdx
  website/content/docs/api-gateway/configuration/index.mdx
  website/content/docs/api-gateway/configuration/routes.mdx
  website/content/docs/api-gateway/consul-api-gateway-install.mdx
  website/content/docs/api-gateway/index.mdx
  website/content/docs/api-gateway/install.mdx
  website/content/docs/api-gateway/upgrades.mdx
  website/content/docs/api-gateway/usage.mdx
  website/data/docs-nav-data.json
  website/redirects.js
Labels: type/docs, pr/no-changelog, pr/no-metrics-test

#14163 [OSS] docs: changelog 1.12.4 and 1.11.8
  CHANGELOG.md
Labels: pr/no-changelog, pr/no-metrics-test

#14164 [OSS] Release 1.12.4 Updates
  CHANGELOG.md
  version/version.go
Labels: pr/no-changelog, pr/no-metrics-test

#14165 [OSS] Release 1.11.8 Updates
  CHANGELOG.md
  version/version.go
Labels: pr/no-changelog, pr/no-metrics-test

#14160 Add changelog entry for peering fix
  .changelog/14119.txt
Labels: pr/no-changelog, backport/1.13

#14167 Sync changes from 1.13.1 release
  CHANGELOG.md
  version/version.go
Labels: pr/no-changelog

#14168 docs: changelog for 1.13.1
  CHANGELOG.md
Labels: pr/no-changelog

#14161 feat(telemetry): add labels to serf and memberlist metrics
  .changelog/14161.txt
  agent/consul/client_serf.go
  agent/consul/config.go
  agent/consul/server_oss.go
  agent/consul/server_serf.go
  go.mod
  go.sum
  website/content/docs/agent/telemetry.mdx
Labels: pr/dependencies, pr/no-metrics-test, backport/1.11, backport/1.12, backport/1.13

#14154 Add upgrade instructions and considerations for Consul 1.13.1
  website/content/docs/upgrading/instructions/index.mdx
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test

#13846 Cluster Peering Prepared Query Failover Documentation
  website/content/api-docs/query.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#14106 docs: update consul-k8s compat matrix and remove 1.10.x version
  website/content/docs/k8s/compatibility.mdx
Labels: type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test, backport/1.13

#14188 Update helm docs for cluster peering
  website/content/docs/k8s/helm.mdx
Labels: type/docs, pr/no-changelog, backport/1.13

#14191 peering: update docs with exposing servers
  website/content/docs/connect/cluster-peering/k8s.mdx
  website/content/docs/k8s/helm.mdx
Labels: type/docs, pr/no-changelog, backport/1.13

#14178 Refactor failover code to use Envoy's aggregate clusters
  .changelog/14178.txt
  agent/structs/discovery_chain.go
  agent/xds/clusters.go
  agent/xds/endpoints.go
  agent/xds/testdata/clusters/connect-proxy-with-chain-and-failover.latest.golden
  agent/xds/testdata/clusters/connect-proxy-with-tcp-chain-double-failover-through-local-gateway-triggered.latest.golden
  agent/xds/testdata/clusters/connect-proxy-with-tcp-chain-double-failover-through-local-gateway.latest.golden
  agent/xds/testdata/clusters/connect-proxy-with-tcp-chain-double-failover-through-remote-gateway-triggered.latest.golden
  agent/xds/testdata/clusters/connect-proxy-with-tcp-chain-double-failover-through-remote-gateway.latest.golden
  agent/xds/testdata/clusters/connect-proxy-with-tcp-chain-failover-through-local-gateway-triggered.latest.golden
  agent/xds/testdata/clusters/connect-proxy-with-tcp-chain-failover-through-local-gateway.latest.golden
  agent/xds/testdata/clusters/connect-proxy-with-tcp-chain-failover-through-remote-gateway-triggered.latest.golden
  agent/xds/testdata/clusters/connect-proxy-with-tcp-chain-failover-through-remote-gateway.latest.golden
  agent/xds/testdata/clusters/ingress-with-chain-and-failover.latest.golden
  agent/xds/testdata/clusters/ingress-with-tcp-chain-double-failover-through-local-gateway-triggered.latest.golden
  agent/xds/testdata/clusters/ingress-with-tcp-chain-double-failover-through-local-gateway.latest.golden
  agent/xds/testdata/clusters/ingress-with-tcp-chain-double-failover-through-remote-gateway-triggered.latest.golden
  agent/xds/testdata/clusters/ingress-with-tcp-chain-double-failover-through-remote-gateway.latest.golden
  agent/xds/testdata/clusters/ingress-with-tcp-chain-failover-through-local-gateway-triggered.latest.golden
  agent/xds/testdata/clusters/ingress-with-tcp-chain-failover-through-local-gateway.latest.golden
  agent/xds/testdata/clusters/ingress-with-tcp-chain-failover-through-remote-gateway-triggered.latest.golden
  agent/xds/testdata/clusters/ingress-with-tcp-chain-failover-through-remote-gateway.latest.golden
  agent/xds/testdata/endpoints/connect-proxy-with-chain-and-failover.latest.golden
  agent/xds/testdata/endpoints/connect-proxy-with-tcp-chain-double-failover-through-local-gateway-triggered.latest.golden
  agent/xds/testdata/endpoints/connect-proxy-with-tcp-chain-double-failover-through-local-gateway.latest.golden
  agent/xds/testdata/endpoints/connect-proxy-with-tcp-chain-double-failover-through-remote-gateway-triggered.latest.golden
  agent/xds/testdata/endpoints/connect-proxy-with-tcp-chain-double-failover-through-remote-gateway.latest.golden
  agent/xds/testdata/endpoints/connect-proxy-with-tcp-chain-failover-through-local-gateway-triggered.latest.golden
  agent/xds/testdata/endpoints/connect-proxy-with-tcp-chain-failover-through-local-gateway.latest.golden
  agent/xds/testdata/endpoints/connect-proxy-with-tcp-chain-failover-through-remote-gateway-triggered.latest.golden
  agent/xds/testdata/endpoints/connect-proxy-with-tcp-chain-failover-through-remote-gateway.latest.golden
  agent/xds/testdata/endpoints/ingress-with-chain-and-failover.latest.golden
  agent/xds/testdata/endpoints/ingress-with-tcp-chain-double-failover-through-local-gateway-triggered.latest.golden
  agent/xds/testdata/endpoints/ingress-with-tcp-chain-double-failover-through-local-gateway.latest.golden
  agent/xds/testdata/endpoints/ingress-with-tcp-chain-double-failover-through-remote-gateway-triggered.latest.golden
  agent/xds/testdata/endpoints/ingress-with-tcp-chain-double-failover-through-remote-gateway.latest.golden
  agent/xds/testdata/endpoints/ingress-with-tcp-chain-failover-through-local-gateway-triggered.latest.golden
  agent/xds/testdata/endpoints/ingress-with-tcp-chain-failover-through-local-gateway.latest.golden
  agent/xds/testdata/endpoints/ingress-with-tcp-chain-failover-through-remote-gateway-triggered.latest.golden
  agent/xds/testdata/endpoints/ingress-with-tcp-chain-failover-through-remote-gateway.latest.golden
  test/integration/connect/envoy/case-cfg-resolver-dc-failover-gateways-none/primary/verify.bats
  test/integration/connect/envoy/case-cfg-resolver-dc-failover-gateways-remote/primary/verify.bats
  test/integration/connect/envoy/case-cfg-resolver-svc-failover/verify.bats
Labels: theme/envoy/xds, pr/no-metrics-test

#14194 fix: missing segment and partition
  agent/consul/client_serf.go
  agent/consul/server_serf.go
Labels: pr/no-changelog, backport/1.13

#14162 Add `Targets` field to service resolver failovers.
  .changelog/14162.txt
  agent/structs/config_entry_discoverychain.go
  agent/structs/config_entry_discoverychain_oss.go
  agent/structs/config_entry_discoverychain_oss_test.go
  agent/structs/config_entry_discoverychain_test.go
  api/config_entry_discoverychain.go
  api/config_entry_discoverychain_test.go
  proto/pbconfigentry/config_entry.gen.go
  proto/pbconfigentry/config_entry.pb.binary.go
  proto/pbconfigentry/config_entry.pb.go
  proto/pbconfigentry/config_entry.proto
Labels: theme/api

#14175 Docs/capigw 040 route details prefix rewrite
  website/content/docs/api-gateway/configuration/gateway.mdx
  website/content/docs/api-gateway/configuration/meshservice.mdx
  website/content/docs/api-gateway/configuration/routes.mdx
  website/content/docs/api-gateway/usage.mdx
  website/data/docs-nav-data.json
Labels: type/docs, pr/no-changelog, pr/no-metrics-test, backport/1.13

#14205 Add missing install redirrect to redirrect.js for api-gateway docs
  website/redirects.js
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.11, backport/1.12, backport/1.13

#14199 [1.12] Backport of add a build job to build and push UBI images to DockerHub
  .github/workflows/build.yml
Labels: theme/contributing, pr/no-changelog

#14198 [1.11] Backport of add a build job to build and push UBI images to DockerHub
  .github/workflows/build.yml
Labels: theme/contributing, pr/no-changelog

#14215 Backport of Docs updates for Consul API Gateway v0.4.0 into stable-website
  website/content/docs/api-gateway/configuration/gateway.mdx
  website/content/docs/api-gateway/configuration/meshservice.mdx
  website/content/docs/api-gateway/configuration/routes.mdx
  website/content/docs/api-gateway/upgrades.mdx
  website/content/docs/api-gateway/usage.mdx
  website/content/docs/release-notes/consul-api-gateway/v0_4_x.mdx
  website/data/docs-nav-data.json
Labels: type/docs

#14216 Backport of Docs updates for Consul API Gateway v0.4.0 into release/1.13.x
  website/content/docs/api-gateway/configuration/gateway.mdx
  website/content/docs/api-gateway/configuration/meshservice.mdx
  website/content/docs/api-gateway/configuration/routes.mdx
  website/content/docs/api-gateway/upgrades.mdx
  website/content/docs/api-gateway/usage.mdx
  website/content/docs/release-notes/consul-api-gateway/v0_4_x.mdx
  website/data/docs-nav-data.json
Labels: type/docs

#14219 Backport of Docs updates for Consul API Gateway v0.4.0 into release/1.13.x
  website/content/docs/api-gateway/configuration/gateway.mdx
  website/content/docs/api-gateway/configuration/meshservice.mdx
  website/content/docs/api-gateway/configuration/routes.mdx
  website/content/docs/api-gateway/upgrades.mdx
  website/content/docs/api-gateway/usage.mdx
  website/content/docs/release-notes/consul-api-gateway/v0_4_x.mdx
  website/data/docs-nav-data.json
Labels: type/docs

#14217 Backport of Docs updates for Consul API Gateway v0.4.0 into release/1.11.x
  website/content/docs/api-gateway/configuration/gateway.mdx
  website/content/docs/api-gateway/configuration/meshservice.mdx
  website/content/docs/api-gateway/configuration/routes.mdx
  website/content/docs/api-gateway/upgrades.mdx
  website/content/docs/api-gateway/usage.mdx
  website/content/docs/release-notes/consul-api-gateway/v0_4_x.mdx
  website/data/docs-nav-data.json
Labels: type/docs

#14218 Backport of Docs updates for Consul API Gateway v0.4.0 into release/1.12.x
  website/content/docs/api-gateway/configuration/gateway.mdx
  website/content/docs/api-gateway/configuration/meshservice.mdx
  website/content/docs/api-gateway/configuration/routes.mdx
  website/content/docs/api-gateway/upgrades.mdx
  website/content/docs/api-gateway/usage.mdx
  website/content/docs/release-notes/consul-api-gateway/v0_4_x.mdx
  website/data/docs-nav-data.json
Labels: type/docs

#14220 ci: Replace Nomad integration tests with predictable compatibility matrix
  .circleci/config.yml
Labels: type/ci, pr/no-changelog, backport/1.11, backport/1.12, backport/1.13

#14233 Use the maximum jitter when calculating the timeout
  .changelog/14233.txt
  agent/consul/client_test.go
  agent/structs/structs.go
Labels: backport/1.12, backport/1.13

#14230 Use badge for <sup> tags in nav data JSON file
  website/data/docs-nav-data.json
Labels: type/docs

#14228 [1.12] Backport of ci: Replace Nomad integration tests with predictable compatibility matrix
  .circleci/config.yml
Labels: type/ci, pr/no-changelog

#14229 [1.11] Backport of ci: Replace Nomad integration tests with predictable compatibility matrix
  .circleci/config.yml
Labels: type/ci, pr/no-changelog

#14239 stable-website: missed backport to stable-website from 1.13 release
  website/content/docs/connect/cluster-peering/k8s.mdx
Labels: type/docs

#14242 set PRODUCT_VERSION for docker build
  Dockerfile
Labels: pr/no-changelog, pr/no-metrics-test, backport/1.11, backport/1.12, backport/1.13

#14249 Manually backport missing changes in APIGW docs
  website/content/docs/api-gateway/configuration/gateway.mdx
  website/content/docs/api-gateway/configuration/meshservice.mdx
  website/content/docs/api-gateway/configuration/routes.mdx
  website/content/docs/api-gateway/index.mdx
  website/content/docs/release-notes/consul-api-gateway/v0_4_x.mdx
Labels: type/docs, pr/no-changelog

#14250 Manually backport missing changes in APIGW docs
  website/content/docs/api-gateway/configuration/gateway.mdx
  website/content/docs/api-gateway/configuration/meshservice.mdx
  website/content/docs/api-gateway/configuration/routes.mdx
  website/content/docs/api-gateway/index.mdx
  website/content/docs/release-notes/consul-api-gateway/v0_4_x.mdx
Labels: type/docs, pr/no-changelog

#14248 Manually backport missing changes in APIGW docs
  website/content/docs/api-gateway/configuration/gateway.mdx
  website/content/docs/api-gateway/configuration/meshservice.mdx
  website/content/docs/api-gateway/configuration/routes.mdx
  website/content/docs/api-gateway/index.mdx
  website/content/docs/release-notes/consul-api-gateway/v0_4_x.mdx
Labels: type/docs, pr/no-changelog

#14251 Manually backport missing changes in APIGW docs
  website/content/docs/api-gateway/configuration/gateway.mdx
  website/content/docs/api-gateway/configuration/meshservice.mdx
  website/content/docs/api-gateway/configuration/routes.mdx
  website/content/docs/api-gateway/index.mdx
  website/content/docs/release-notes/consul-api-gateway/v0_4_x.mdx
Labels: type/docs, pr/no-changelog

#14237 Fix: upgrade pkg imdario/merg to prevent merge config panic
  agent/consul/merge_service_config_test.go
  go.mod
  go.sum
Labels: pr/dependencies, pr/no-changelog, backport/1.11, backport/1.12, backport/1.13

#14231 docs: fix broken markdown
  website/content/docs/agent/config/config-files.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.12

#14204 Add version label to Docker image
  Dockerfile
Labels: pr/no-changelog, backport/1.11, backport/1.12, backport/1.13

#14053 Add missing changelog for 1.9.17
  CHANGELOG.md
Labels: pr/no-changelog

#14259 docs: add 1.13 upgrade considerations
  website/content/docs/agent/config/config-files.mdx
  website/content/docs/upgrading/instructions/index.mdx
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#14257 Skip Lambda integration tests for fork PRs
  .circleci/config.yml
Labels: type/ci, theme/testing, pr/no-changelog, pr/no-docs, backport/1.12, backport/1.13

#14072 fix: missing MaxInboundConnections field in service-defaults config entry
  agent/consul/merge_service_config.go
  agent/consul/merge_service_config_test.go
  agent/structs/config_entry_test.go
  api/config_entry.go
  api/config_entry_test.go
  website/content/docs/connect/config-entries/service-defaults.mdx
Labels: type/docs, pr/no-changelog, backport/1.13

#14279 docs: add 1.13 upgrade considerations to changelog
  CHANGELOG.md
Labels: pr/no-changelog

#14289 Fix: add missing ent meta for test
  agent/consul/merge_service_config_test.go
Labels: pr/no-changelog, backport/1.13

#14286 Update requirements.mdx
  website/content/docs/ecs/requirements.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#14288 Add example code for cross-namespace certificateRefs
  website/content/docs/api-gateway/configuration/gateway.mdx
Labels: type/docs, pr/no-changelog, pr/no-metrics-test, backport/1.13

#14296 Cluster Peering Failover Discovery Chain Changes
  agent/connect/sni_test.go
  agent/consul/discovery_chain_endpoint_test.go
  agent/consul/discoverychain/compile.go
  agent/consul/discoverychain/compile_test.go
  agent/consul/state/peering_test.go
  agent/discovery_chain_endpoint_test.go
  agent/proxycfg/naming.go
  agent/proxycfg/naming_test.go
  agent/structs/config_entry_discoverychain.go
  agent/structs/discovery_chain.go
  agent/xds/failover_math_test.go
Labels: theme/connect, theme/envoy/xds, pr/no-changelog

#13967 docs: link pq docs to relevant DNS lookup section
  website/content/api-docs/query.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#14034 Allow uppercase in proxy launch -sidecar-for arg
  .changelog/14034.txt
  command/connect/proxy/proxy.go
  command/connect/proxy/proxy_test.go
Labels: theme/cli, theme/operator-usability, backport/1.11, backport/1.12, backport/1.13

#13999 docs: improve consistency of DNS lookup variables
  website/content/docs/discovery/dns.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#14282 ui: Update badge / pill icon sizing
  ui/packages/consul-ui/app/components/consul/external-source/index.scss
  ui/packages/consul-ui/app/components/consul/kind/index.scss
  ui/packages/consul-ui/app/components/pill/index.scss
Labels: theme/ui, pr/no-changelog

#14267 Updates docs for CRDs
  website/content/docs/connect/config-entries/ingress-gateway.mdx
  website/content/docs/connect/config-entries/mesh.mdx
  website/content/docs/connect/config-entries/proxy-defaults.mdx
  website/content/docs/connect/config-entries/service-defaults.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.13

#14144 [OSS] proxycfg: terminate stream on irrecoverable errors
  agent/proxycfg-glue/glue.go
  agent/proxycfg-glue/intention_upstreams.go
  agent/proxycfg-glue/intentions.go
  agent/proxycfg/data_sources.go
  agent/proxycfg/manager.go
  agent/proxycfg/state.go
  agent/submatview/local_materializer.go
  agent/submatview/store.go
  agent/submatview/store_test.go
  agent/xds/delta.go
  agent/xds/server.go
Labels: theme/envoy/xds, pr/no-changelog

#14318 Cherrypick merge of recent API Gateway docs addition
  website/content/docs/api-gateway/configuration/gateway.mdx
Labels: type/docs, pr/no-changelog

#14301 Clarify transparent proxy documentation
  website/content/docs/connect/cluster-peering/k8s.mdx
  website/content/docs/connect/transparent-proxy.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test

#13295 Clarify docs around using either Consul or Vault managed PKI paths
  website/content/docs/connect/ca/vault.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test

#14322 Backport of Clarify docs around using either Consul or Vault managed PKI paths into stable-website
  website/content/docs/connect/ca/vault.mdx
Labels: type/docs

#14323 Backport of Clarify docs around using either Consul or Vault managed PKI paths into release/1.13.x
  website/content/docs/connect/ca/vault.mdx
Labels: type/docs

#14017 dataplane: update envoy bootstrap params for consul-dataplane
  agent/consul/state/catalog.go
  agent/consul/state/catalog_test.go
  agent/grpc-external/services/dataplane/get_envoy_bootstrap_params.go
  agent/grpc-external/services/dataplane/get_envoy_bootstrap_params_test.go
  proto-public/pbdataplane/dataplane.pb.go
  proto-public/pbdataplane/dataplane.proto
Labels: pr/no-changelog, pr/no-metrics-test

#14275 ui: Replace file-mask with file-text icon usage on policy list
  ui/.gitignore
  ui/packages/consul-ui/app/components/composite-row/index.scss
  ui/packages/consul-ui/app/styles/base/icons/icons/index.scss
Labels: theme/ui, pr/no-changelog

#14281 doc: tproxy destination fixes
  website/content/docs/connect/config-entries/terminating-gateway.mdx
  website/content/docs/k8s/connect/terminating-gateways.mdx
Labels: type/docs, pr/no-changelog, pr/no-metrics-test, backport/1.13

#14269 Added new auto_encrypt.grpc_server_tls config option to control AutoTLS enabling of GRPC Server's TLS usage (for main branch)
  agent/config/builder.go
  agent/config/config.go
  agent/config/runtime_test.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/config/testdata/full-config.hcl
  agent/config/testdata/full-config.json
  agent/grpc-external/server.go
  tlsutil/config.go
  tlsutil/config_test.go
  website/content/docs/agent/config/config-files.mdx
Labels: type/docs, theme/config, theme/tls, pr/dependencies, theme/certificates, pr/no-changelog, backport/1.13

#14313 no-op: refactor usagemetrics tests for clarity and DRY cases
  agent/consul/usagemetrics/usagemetrics_oss_test.go
Labels: pr/no-changelog

#14329 Add 14269 changelog entry.
  .changelog/14269.txt
Labels: pr/no-changelog, pr/no-docs, backport/1.13

#14325 Fix: the inboundconnection limit filter should be placed in front of http co…
  agent/xds/listeners.go
  agent/xds/testdata/listeners/listener-max-inbound-connections.latest.golden
Labels: theme/envoy/xds, pr/no-changelog, backport/1.13

#14334 [1.10] docs: Correct Envoy support matrix
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, pr/no-changelog

#14335 [1.11] docs: Update latest Envoy to 1.20.6, make docs consistent
  .circleci/config.yml
  agent/xds/envoy_versioning_test.go
  agent/xds/proxysupport/proxysupport.go
  test/integration/connect/envoy/run-tests.sh
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, type/ci, theme/envoy/xds, pr/no-changelog

#14336 [1.12] connect: Update Envoy support to latest patches for 1.20 and 1.21
  .circleci/config.yml
  agent/xds/proxysupport/proxysupport.go
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, type/ci, theme/envoy/xds, pr/no-changelog

#14337 [1.13] docs: Update Envoy support matrix to match previous releases and code
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, pr/no-changelog

#14338 docs: Update Envoy support matrix to match the code
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, pr/no-changelog

#14344 Exit for loop when context is cancelled
  agent/consul/leader_peering.go
Labels: pr/no-changelog

#13932 docs: improve health check related docs
  website/content/api-docs/agent/check.mdx
  website/content/api-docs/health.mdx
  website/content/docs/discovery/checks.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.12

#13493 Fix Consul KV CLI 'GET' flags 'keys' and 'recurse' to be set together
  .changelog/13493.txt
  command/kv/get/kv_get.go
  command/kv/get/kv_get_test.go
Labels: theme/cli

#14004 peering: add peer health metric
  agent/consul/leader_peering.go
  agent/consul/leader_peering_test.go
  agent/consul/server.go
  agent/grpc-external/services/peerstream/server.go
  agent/grpc-external/services/peerstream/stream_resources.go
  agent/grpc-external/services/peerstream/stream_test.go
  agent/grpc-external/services/peerstream/stream_tracker.go
  agent/grpc-external/services/peerstream/stream_tracker_test.go
Labels: pr/no-changelog, theme/cluster-peering

#14314 Replace ring buffer with async version
  agent/consul/leader_peering.go
  agent/consul/leader_peering_test.go
  agent/consul/state/peering.go
  agent/rpc/peering/service.go
  proto/pbpeering/peering.go
Labels: pr/no-changelog, theme/cluster-peering

#14360 Updated consul monitoring with Newrelic APM
  website/content/docs/integrate/partnerships.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test

#14347 Update Kubernetes Terminating Gateway Docs
  website/content/docs/k8s/connect/terminating-gateways.mdx
Labels: type/docs

#14352 docs: Release notes for Consul 1.12, 1.13 and Consul K8s 0.47.0
  website/content/docs/lambda/invocation.mdx
  website/content/docs/release-notes/consul-api-gateway/v0_1_x.mdx
  website/content/docs/release-notes/consul-k8s/v0_47_x.mdx
  website/content/docs/release-notes/consul/v1_10_x.mdx
  website/content/docs/release-notes/consul/v1_11_x.mdx
  website/content/docs/release-notes/consul/v1_12_x.mdx
  website/content/docs/release-notes/consul/v1_13_x.mdx
  website/data/docs-nav-data.json
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test

#14370 docs: manual backport Consul 1.12 release notes
  website/content/docs/release-notes/consul/v1_12_x.mdx
  website/data/docs-nav-data.json
Labels: type/docs, pr/no-changelog, pr/no-metrics-test

#14355 Merge new Consul docs IA into dev-portal
  website/content/docs/concepts/service-discovery.mdx
  website/content/docs/concepts/service-mesh.mdx
  website/content/docs/integrate/download-tools.mdx
  website/content/docs/intro/usecases/index.mdx
  website/data/docs-nav-data.json
  website/redirects.js
Labels: type/docs

#14358 Replace references to Learn
  website/content/docs/concepts/service-discovery.mdx
  website/content/docs/concepts/service-mesh.mdx
  website/content/docs/connect/ca/vault.mdx
  website/content/docs/connect/configuration.mdx
  website/content/docs/dynamic-app-config/kv.mdx
  website/content/docs/ecs/manual/acl-controller.mdx
  website/content/docs/enterprise/admin-partitions.mdx
  website/content/docs/enterprise/audit-logging.mdx
  website/content/docs/enterprise/backups.mdx
  website/content/docs/enterprise/namespaces.mdx
  website/content/docs/enterprise/network-segments.mdx
  website/content/docs/enterprise/redundancy.mdx
  website/content/docs/enterprise/sentinel.mdx
  website/content/docs/enterprise/upgrades.mdx
  website/content/docs/guides/index.mdx
  website/content/docs/index.mdx
  website/content/docs/integrate/download-tools.mdx
  website/content/docs/intro/index.mdx
  website/content/docs/k8s/installation/multi-cluster/kubernetes.mdx
  website/content/docs/release-notes/consul/v1_11_x.mdx
  website/content/docs/upgrading/upgrade-specific.mdx
  website/data/docs-nav-data.json
Labels: type/docs, theme/consul-terraform-sync

#14373 Update max_ejection_percent on outlier detection for peered clusters to 100%
  .changelog/14373.txt
  agent/xds/clusters.go
  agent/xds/testdata/clusters/connect-proxy-with-peered-upstreams.latest.golden
  agent/xds/testdata/clusters/transparent-proxy-with-peered-upstreams.latest.golden
Labels: theme/envoy/xds

#14379 docs: Update Consul K8s release notes with explicit versions
  website/content/docs/release-notes/consul-k8s/v0_47_x.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test

#14369 docs: Cluster peering with Transparent Proxy updates
  website/content/docs/connect/cluster-peering/k8s.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test

#14378 Fix a breaking change to the API package introduced in #13835
  .changelog/14378.txt
  api/prepared_query.go
Labels: theme/api, backport/1.13

#14371 Adjust metrics reporting for peering tracker
  agent/consul/leader_peering.go
  agent/consul/leader_peering_test.go
  agent/consul/server.go
  agent/grpc-external/services/peerstream/server.go
  agent/grpc-external/services/peerstream/stream_resources.go
  agent/grpc-external/services/peerstream/stream_test.go
  agent/grpc-external/services/peerstream/stream_tracker.go
  agent/grpc-external/services/peerstream/stream_tracker_test.go
Labels: pr/no-changelog, pr/no-metrics-test, theme/cluster-peering

#14383 Backport of docs: Cluster peering with Transparent Proxy updates into stable-website
  website/content/docs/connect/cluster-peering/k8s.mdx
Labels: type/docs

#14364 Allow terminated peerings to be deleted
  .changelog/14364.txt
  agent/consul/leader_peering_test.go
  agent/consul/state/peering.go
  agent/consul/state/peering_test.go
  agent/rpc/peering/service.go
  agent/rpc/peering/service_test.go
Labels: backport/1.13

#13496 Fix incorrect name and doc for kv_entries metric
  agent/consul/usagemetrics/usagemetrics.go
  website/content/docs/agent/telemetry.mdx
Labels: type/docs, pr/no-changelog, pr/no-metrics-test, backport/1.13
