Repository hashicorp/consul, pull requests merged in 2022-06, with the labels that each got.

#12948 Backport of Support vault namespaces in connect CA into release/1.12.x
  .changelog/12904.txt
  agent/config/builder.go
  agent/connect/ca/provider.go
  agent/connect/ca/provider_vault.go
  agent/structs/connect_ca.go
  website/content/docs/connect/ca/vault.mdx
Labels: type/docs, theme/config, theme/connect, pr/no-changelog

#13256 Revert getPathSuffixUnescaped
  .changelog/13256.txt
  agent/acl_endpoint.go
  agent/agent_endpoint.go
  agent/catalog_endpoint.go
  agent/config_endpoint.go
  agent/coordinate_endpoint.go
  agent/discovery_chain_endpoint.go
  agent/event_endpoint.go
  agent/federation_state_endpoint.go
  agent/health_endpoint.go
  agent/http.go
  agent/http_test.go
  agent/intentions_endpoint.go
  agent/kvs_endpoint.go
  agent/peering_endpoint.go
  agent/prepared_query_endpoint.go
  agent/session_endpoint.go
  agent/ui_endpoint.go
Labels: theme/health-checks, backport/1.12

#13322 build: add 'make help' to simply list available make targets
  GNUmakefile
Labels: pr/no-changelog, pr/no-metrics-test

#13335 fix: ingress multiple grpc test
  agent/proxycfg/testing_ingress_gateway.go
Labels: pr/no-changelog

#13262 Backport of fix: multiple grpc/http2 services for ingress listeners into release/1.11.x
  .changelog/13127.txt
  agent/proxycfg/testing.go
  agent/structs/config_entry_gateways.go
  agent/structs/config_entry_gateways_test.go
  agent/xds/listeners_test.go
  agent/xds/routes_test.go
  agent/xds/testdata/listeners/ingress-grpc-multiple-services.envoy-1-20-x.golden
  agent/xds/testdata/routes/ingress-grpc-multiple-services.envoy-1-20-x.golden
Labels: theme/envoy/xds

#13338 build: ensure tools match go toolchain version
  build-support/scripts/devtools.sh
Labels: pr/no-changelog

#13325 chore(ci): add noop jobs for branch protections
  .circleci/config.yml
Labels: type/ci, pr/no-changelog, pr/no-metrics-test

#13328 chore(ci): add noop jobs for branch protections
  .circleci/config.yml
Labels: type/ci, pr/no-changelog, pr/no-metrics-test

#13321 Configure upstream TLS context with peer root certs
  agent/agent.go
  agent/cache-types/mock_TrustBundleReader_test.go
  agent/cache-types/trust_bundle.go
  agent/cache-types/trust_bundle_test.go
  agent/connect/ca/common.go
  agent/connect/ca/provider_aws.go
  agent/connect/ca/provider_vault.go
  agent/consul/leader_connect_ca.go
  agent/consul/leader_connect_ca_test.go
  agent/consul/server_connect.go
  agent/proxycfg-glue/glue.go
  agent/proxycfg/connect_proxy.go
  agent/proxycfg/data_sources.go
  agent/proxycfg/manager_test.go
  agent/proxycfg/snapshot.go
  agent/proxycfg/state.go
  agent/proxycfg/state_test.go
  agent/proxycfg/testing.go
  agent/proxycfg/testing_peering.go
  agent/xds/clusters.go
  agent/xds/endpoints.go
  agent/xds/listeners.go
  agent/xds/listeners_ingress.go
  agent/xds/testdata/clusters/connect-proxy-with-peered-upstreams.latest.golden
  lib/strings.go
  proto/pbpeering/peering.go
Labels: theme/envoy/xds, pr/no-changelog

#13344 Fix KVSGet method to handle QueryOptions properly
  .changelog/13344.txt
  agent/kvs_endpoint.go
Labels: backport/1.12

#13334 update multicluster docs for k8s to specify the correct k8sAuthMethodHost
  website/content/docs/k8s/installation/multi-cluster/index.mdx
  website/content/docs/k8s/installation/multi-cluster/kubernetes.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.10, pr/no-metrics-test, backport/1.11

#13346 [1.12.x] Revert getPathSuffixUnescaped
  .changelog/13256.txt
  agent/acl_endpoint.go
  agent/agent_endpoint.go
  agent/catalog_endpoint.go
  agent/config_endpoint.go
  agent/coordinate_endpoint.go
  agent/discovery_chain_endpoint.go
  agent/event_endpoint.go
  agent/federation_state_endpoint.go
  agent/health_endpoint.go
  agent/http.go
  agent/http_test.go
  agent/intentions_endpoint.go
  agent/kvs_endpoint.go
  agent/prepared_query_endpoint.go
  agent/session_endpoint.go
  agent/ui_endpoint.go
Labels: theme/health-checks

#13340 [OSS] Update public listener with roots for different trust domains
  acl/enterprisemeta_oss.go
  agent/agent.go
  agent/cache-types/trust_bundle_test.go
  agent/cache-types/trust_bundles.go
  agent/cache-types/trust_bundles_test.go
  agent/consul/state/catalog.go
  agent/consul/state/config_entry.go
  agent/consul/state/config_entry_oss_test.go
  agent/consul/state/peering.go
  agent/consul/state/peering_test.go
  agent/proxycfg-glue/glue.go
  agent/proxycfg/connect_proxy.go
  agent/proxycfg/data_sources.go
  agent/proxycfg/snapshot.go
  agent/proxycfg/state.go
  agent/proxycfg/state_test.go
  agent/proxycfg/testing.go
  agent/rpc/peering/service.go
  agent/rpc/peering/service_test.go
  agent/structs/peering.go
  agent/xds/listeners.go
  agent/xds/listeners_test.go
  agent/xds/testdata/listeners/connect-proxy-exported-to-peers.latest.golden
  proto/pbpeering/peering.go
  proto/pbpeering/peering.pb.go
  proto/pbpeering/peering.proto
  proto/prototest/testing.go
Labels: theme/acls, theme/envoy/xds, pr/no-changelog, pr/no-metrics-test

#13304 Add isLeader metric to track if a server is a leader
  .changelog/13304.txt
  .circleci/config.yml
  GNUmakefile
  agent/consul/leader.go
  agent/metrics_test.go
  agent/setup.go
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
  test/integration/consul-container/libs/cluster/cluster.go
  test/integration/consul-container/libs/utils/version_oss.go
  test/integration/consul-container/metrics/leader_test.go
  test/integration/consul-container/upgrade/healthcheck_test.go
  test/integration/consul-container/upgrade/util_test.go
  test/integration/consul-container/upgrade/version_oss.go
  website/content/docs/agent/telemetry.mdx
Labels: pr/load-test

#13362 peering: update how cross-peer upstreams and represented in proxycfg and rendered in xds
  agent/proxycfg/connect_proxy.go
  agent/proxycfg/manager_test.go
  agent/proxycfg/snapshot.go
  agent/proxycfg/state.go
  agent/proxycfg/state_test.go
  agent/proxycfg/testing_peering.go
  agent/proxycfg/upstreams.go
  agent/rpc/peering/subscription_manager.go
  agent/structs/structs.go
  agent/xds/clusters.go
  agent/xds/endpoints.go
  agent/xds/listeners.go
  agent/xds/testdata/clusters/connect-proxy-with-peered-upstreams.latest.golden
  agent/xds/xdscommon/xdscommon.go
Labels: theme/envoy/xds, pr/no-changelog

#13366 [OSS] xds: remove `HTTPCheckFetcher` dependency
  agent/agent.go
  agent/proxycfg/testing_connect_proxy.go
  agent/xds/clusters.go
  agent/xds/clusters_test.go
  agent/xds/delta.go
  agent/xds/endpoints_test.go
  agent/xds/listeners.go
  agent/xds/listeners_test.go
  agent/xds/resources.go
  agent/xds/routes_test.go
  agent/xds/server.go
  agent/xds/serverless_plugin_oss_test.go
  agent/xds/xds_protocol_helpers_test.go
Labels: theme/envoy/xds, pr/no-changelog, pr/no-metrics-test

#13363 Add latest changelog entries
  CHANGELOG.md
Labels: pr/no-changelog, backport/1.12

#13371 test: use a go mod replace trick for the compat test dependency on the main repo
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
Labels: pr/no-changelog, pr/no-metrics-test

#12722 UDP check for service stanza #12221
  .changelog/12722.txt
  agent/agent.go
  agent/agent_endpoint_test.go
  agent/catalog_endpoint_test.go
  agent/checks/check.go
  agent/checks/check_test.go
  agent/config/config.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/structs/check_definition.go
  agent/structs/check_type.go
  agent/structs/structs.go
  api/agent.go
  api/health.go
  api/txn_test.go
  build-support/scripts/devtools.sh
  proto/pbservice/healthcheck.gen.go
  proto/pbservice/healthcheck.pb.go
  proto/pbservice/healthcheck.proto
  website/content/api-docs/agent/check.mdx
  website/content/docs/discovery/checks.mdx
  website/content/docs/ecs/configuration-reference.mdx
Labels: type/docs, pr/no-metrics-test

#13339 peering: allow mesh gateways to proxy L4 peered traffic
  agent/agent.go
  agent/cache-types/exported_peered_services.go
  agent/cache-types/exported_peered_services_test.go
  agent/consul/acl.go
  agent/consul/internal_endpoint.go
  agent/consul/state/peering.go
  agent/proxycfg-glue/glue.go
  agent/proxycfg/data_sources.go
  agent/proxycfg/mesh_gateway.go
  agent/proxycfg/snapshot.go
  agent/proxycfg/state.go
  agent/proxycfg/state_test.go
  agent/proxycfg/testing.go
  agent/proxycfg/testing_mesh_gateway.go
  agent/rpc/peering/subscription_manager.go
  agent/structs/peering.go
  agent/xds/listeners.go
  agent/xds/listeners_test.go
  agent/xds/testdata/listeners/mesh-gateway-with-exported-peered-services.latest.golden
Labels: theme/envoy/xds, pr/no-changelog

#13373 test: break dep on main consul module
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
  test/integration/consul-container/libs/utils/retry.go
  test/integration/consul-container/metrics/leader_test.go
Labels: pr/no-changelog, pr/no-metrics-test

#13369 test: retry the compat tests as often as other tests
  .circleci/config.yml
Labels: type/ci, pr/no-changelog, pr/no-metrics-test

#13294 ci: Add package verifications to build workflow
  .github/scripts/docker_smoke.sh
  .github/scripts/verify_artifact.sh
  .github/scripts/verify_bin.sh
  .github/scripts/verify_deb.sh
  .github/scripts/verify_docker.sh
  .github/scripts/verify_rpm.sh
  .github/workflows/build.yml
Labels: theme/contributing, pr/no-changelog, backport/1.10, backport/1.11, backport/1.12

#13341 Egress gtw/connect destination intentions
  agent/consul/intention_endpoint.go
  agent/consul/internal_endpoint.go
  agent/consul/state/catalog.go
  agent/consul/state/config_entry.go
  agent/consul/state/config_entry_intention.go
  agent/consul/state/config_entry_test.go
  agent/consul/state/intention.go
  agent/consul/state/intention_test.go
  agent/structs/intention.go
  agent/structs/structs.go
Labels: pr/no-changelog, pr/no-metrics-test

#13354 Egress gtw/intention rpc endpoint
  agent/cache-types/intention_upstreams_destination.go
  agent/cache-types/intention_upstreams_destination_test.go
  agent/consul/helper_test.go
  agent/consul/internal_endpoint.go
  agent/consul/internal_endpoint_test.go
  agent/consul/state/catalog.go
  agent/consul/state/config_entry_intention.go
  agent/consul/state/intention.go
  agent/consul/state/intention_test.go
Labels: pr/no-changelog

#13389 peering: avoid a race between peering establishment and termination
  agent/consul/client_test.go
  agent/consul/leader_peering.go
  proto/pbpeering/peering.go
Labels: pr/no-changelog

#13397 Fix intentions wildcard dest
  agent/consul/state/config_entry_intention.go
Labels: pr/no-changelog, pr/no-metrics-test

#13394 ui: upgrade ember composable helper
  .changelog/13394.txt
  ui/packages/consul-lock-sessions/app/components/consul/lock-session/notifications/README.mdx
  ui/packages/consul-nspaces/app/components/consul/nspace/search-bar/index.hbs
  ui/packages/consul-partitions/app/components/consul/partition/search-bar/index.hbs
  ui/packages/consul-ui/app/components/consul/auth-method/search-bar/index.hbs
  ui/packages/consul-ui/app/components/consul/health-check/search-bar/index.hbs
  ui/packages/consul-ui/app/components/consul/intention/permission/form/index.hbs
  ui/packages/consul-ui/app/components/consul/intention/search-bar/index.hbs
  ui/packages/consul-ui/app/components/consul/kv/search-bar/index.hbs
  ui/packages/consul-ui/app/components/consul/node/search-bar/index.hbs
  ui/packages/consul-ui/app/components/consul/policy/search-bar/index.hbs
  ui/packages/consul-ui/app/components/consul/role/search-bar/index.hbs
  ui/packages/consul-ui/app/components/consul/server/card/index.hbs
  ui/packages/consul-ui/app/components/consul/service-instance/search-bar/index.hbs
  ui/packages/consul-ui/app/components/consul/service/search-bar/index.hbs
  ui/packages/consul-ui/app/components/consul/token/search-bar/index.hbs
  ui/packages/consul-ui/app/components/consul/upstream-instance/search-bar/index.hbs
  ui/packages/consul-ui/app/components/consul/upstream/search-bar/index.hbs
  ui/packages/consul-ui/app/components/disclosure-menu/menu/index.hbs
  ui/packages/consul-ui/app/components/form-group/element/index.hbs
  ui/packages/consul-ui/app/components/policy-form/index.hbs
  ui/packages/consul-ui/app/styles/base/icons/README.mdx
  ui/packages/consul-ui/app/templates/application.hbs
  ui/packages/consul-ui/app/templates/dc/services/show/topology.hbs
  ui/packages/consul-ui/package.json
  ui/yarn.lock
Labels: theme/ui

#13398 peering: allow protobuf requests to populate the default partition or namespace
  agent/consul/peering_backend.go
  agent/consul/peering_backend_oss.go
  agent/consul/peering_backend_oss_test.go
  agent/rpc/peering/service.go
  agent/rpc/peering/service_oss_test.go
  agent/rpc/peering/stream_test.go
Labels: pr/no-changelog

#13390 Add SourcePeer fields to relevant Intentions types
  acl/enterprisemeta_oss.go
  agent/structs/config_entry_intentions.go
  agent/structs/intention.go
  agent/structs/intention_test.go
  agent/structs/structs.go
  agent/structs/structs_filtering_test.go
  api/config_entry_intentions.go
  api/connect_intention.go
Labels: theme/api, theme/acls, pr/no-changelog

#13345 Change CTS docs to use the `start` subcommand.
  website/content/docs/nia/cli/index.mdx
  website/content/docs/nia/installation/run.mdx
Labels: type/docs, type/docs-cherrypick, theme/consul-terraform-sync, pr/no-changelog, pr/no-metrics-test

#13401 Updated the default service name to lower case
  website/content/docs/nia/configuration.mdx
Labels: type/docs, theme/consul-terraform-sync, pr/no-changelog, pr/no-metrics-test

#13376 Backport of ci: Add package verifications to build workflow onto release/1.11.x
  .github/scripts/verify_artifact.sh
  .github/scripts/verify_bin.sh
  .github/scripts/verify_deb.sh
  .github/scripts/verify_docker.sh
  .github/scripts/verify_rpm.sh
  .github/workflows/build.yml
Labels: theme/contributing, pr/no-changelog

#13375 Backport of ci: Add package verifications to build workflow onto release/1.10.x
  .github/scripts/verify_artifact.sh
  .github/scripts/verify_bin.sh
  .github/scripts/verify_deb.sh
  .github/scripts/verify_docker.sh
  .github/scripts/verify_rpm.sh
  .github/workflows/build.yml
Labels: theme/contributing, pr/no-changelog

#13377 Backport of ci: Add package verifications to build workflow into release/1.12.x
  .github/scripts/verify_artifact.sh
  .github/scripts/verify_bin.sh
  .github/scripts/verify_deb.sh
  .github/scripts/verify_docker.sh
  .github/scripts/verify_rpm.sh
  .github/workflows/build.yml
Labels: theme/contributing, pr/no-changelog

#13406 ci: Remove branch trigger for dev branch
  .github/workflows/build.yml
Labels: theme/contributing, pr/no-changelog

#13395 Backport gRPC upgrade to 1.12.x
  .changelog/13051.txt
  go.mod
  go.sum
Labels: pr/dependencies, pr/no-changelog, pr/no-metrics-test

#12771 ui: Disable licensing tab if the UI is running via HCP
  .circleci/config.yml
  ui/package.json
  ui/packages/consul-hcp/package.json
  ui/packages/consul-hcp/vendor/consul-hcp/routes.js
  ui/packages/consul-hcp/vendor/consul-hcp/services.js
  ui/packages/consul-ui/app/abilities/hcp.js
  ui/packages/consul-ui/app/abilities/server.js
  ui/packages/consul-ui/app/components/route/index.hbs
  ui/packages/consul-ui/app/components/route/index.js
  ui/packages/consul-ui/app/services/routlet.js
  ui/packages/consul-ui/app/templates/dc/show.hbs
  ui/packages/consul-ui/app/utils/routing/walk.js
  ui/packages/consul-ui/ember-cli-build.js
  ui/packages/consul-ui/lib/startup/templates/body.html.js
  ui/packages/consul-ui/package.json
  ui/packages/consul-ui/vendor/consul-ui/routes.js
Labels: theme/ui, type/ci, pr/no-changelog, pr/no-metrics-test, backport/1.12

#13413 chore(ci): fix false positive metrics check
  .github/scripts/metrics_checker.sh
Labels: theme/contributing, pr/no-changelog, backport/1.10, pr/no-metrics-test, backport/1.11, backport/1.12

#13419 peering: rename initiate to establish in the context of the APIs
  agent/consul/leader_peering.go
  agent/http_register.go
  agent/peering_endpoint.go
  agent/peering_endpoint_test.go
  agent/rpc/peering/service.go
  agent/rpc/peering/service_test.go
  agent/rpc/peering/stream_test.go
  api/peering.go
  api/peering_test.go
  proto/pbpeering/peering.gen.go
  proto/pbpeering/peering.go
  proto/pbpeering/peering.pb.binary.go
  proto/pbpeering/peering.pb.go
  proto/pbpeering/peering.proto
  proto/pbpeering/peering.rpcglue.pb.go
  proto/pbpeering/peering_grpc.pb.go
  test/integration/connect/envoy/helpers.bash
Labels: theme/api, pr/no-changelog, pr/no-metrics-test

#13316 Update website/content/docs/connect/ca/vault.mdx
  website/content/docs/connect/ca/vault.mdx
Labels: type/docs, pr/no-changelog

#13421 OSS: Add dns node lookup support in partitions
  .changelog/13421.txt
  agent/dns.go
  website/content/docs/discovery/dns.mdx
Labels: type/docs, pr/no-metrics-test

#13422 xds: allow for peered upstreams to use tagged addresses that are hostnames
  agent/proxycfg/connect_proxy.go
  agent/proxycfg/manager_test.go
  agent/proxycfg/snapshot.go
  agent/proxycfg/testing_peering.go
  agent/proxycfg/upstreams.go
  agent/xds/clusters.go
  agent/xds/endpoints.go
  agent/xds/testdata/clusters/connect-proxy-with-peered-upstreams.latest.golden
Labels: theme/envoy/xds, pr/no-changelog

#13404 Update RBAC to handle imported services
  agent/connect/uri_service.go
  agent/connect/uri_service_oss.go
  agent/connect/uri_service_oss_test.go
  agent/rpc/peering/subscription_manager.go
  agent/xds/listeners.go
  agent/xds/rbac.go
  agent/xds/rbac_test.go
  agent/xds/testdata/rbac/default-deny-peered-kitchen-sink--httpfilter.golden
  agent/xds/testdata/rbac/default-deny-peered-kitchen-sink.golden
  proto/pbpeering/peering.pb.go
  proto/pbpeering/peering.proto
Labels: theme/envoy/xds, pr/no-changelog

#13357 Add build date (oss)
  .changelog/13357.txt
  .circleci/bash_env.sh
  .github/workflows/build.yml
  GNUmakefile
  agent/agent_endpoint.go
  agent/config/builder.go
  agent/config/config.go
  agent/config/default.go
  agent/config/runtime.go
  agent/config/runtime_test.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  build-support/functions/10-util.sh
  build-support/scripts/build-date.sh
  command/agent/agent.go
  command/version/formatter.go
  command/version/formatter_test.go
  command/version/testdata/json.golden
  command/version/testdata/pretty.golden
  command/version/version.go
  version/version.go
Labels: theme/cli, theme/config, type/ci, theme/contributing

#13333 docs: Consul API Gateway scaling config
  website/content/docs/api-gateway/consul-api-gateway-install.mdx
Labels: type/docs, pr/no-changelog

#13378 Making the release branch (1.12.x) consistent with stable-website
  website/content/docs/ecs/terraform/install.mdx
Labels: type/docs, theme/consul-terraform-sync

#13367 Clean up imported nodes/services/checks as needed
  agent/consul/peering_backend.go
  agent/rpc/peering/replication.go
  agent/rpc/peering/service.go
  agent/rpc/peering/stream_test.go
  proto/pbservice/convert.go
Labels: pr/no-changelog

#13430 Update peering state and RPC for deferred deletion
  agent/consul/leader_peering.go
  agent/consul/leader_peering_test.go
  agent/consul/peering_backend.go
  agent/consul/state/peering.go
  agent/consul/state/peering_oss_test.go
  agent/consul/state/peering_test.go
  agent/consul/state/schema.go
  agent/consul/state/schema_test.go
  agent/peering_endpoint_test.go
  agent/rpc/peering/service.go
  agent/rpc/peering/service_test.go
  api/peering.go
  api/peering_test.go
  proto/pbpeering/peering.gen.go
  proto/pbpeering/peering.go
  proto/pbpeering/peering.pb.go
  proto/pbpeering/peering.proto
Labels: theme/api, pr/no-changelog

#13432 [docs] update terminating gateway docs for trust store path
  website/content/docs/k8s/connect/terminating-gateways.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test

#13435 peering: intentions list test
  agent/intentions_endpoint_test.go
Labels: pr/no-changelog

#13434 [1.11] connect: Update supported Envoy versions to 1.20.4, 1.19.5, 1.18.6, 1.17.4
  .changelog/13434.txt
  .circleci/config.yml
  agent/xds/envoy_versioning_test.go
  agent/xds/proxysupport/proxysupport.go
  test/integration/connect/envoy/run-tests.sh
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, type/ci, theme/envoy/xds, pr/no-changelog

#13446 [OSS-Preview] Add leader routine to clean up peerings
  agent/consul/enterprise_server_oss.go
  agent/consul/leader.go
  agent/consul/leader_peering.go
  agent/consul/leader_peering_test.go
  agent/consul/server.go
  agent/peering_endpoint_test.go
  agent/rpc/peering/service_test.go
  api/peering_test.go
Labels: theme/api, pr/no-changelog

#13444 connect: Use Envoy 1.22.2 instead of 1.22.1
  .circleci/config.yml
  agent/xds/envoy_versioning_test.go
  agent/xds/proxysupport/proxysupport.go
  test/integration/connect/envoy/run-tests.sh
  website/content/docs/connect/proxies/envoy.mdx
Labels: pr/no-changelog, backport/1.12

#13353 docs: show HCP Consul supports CTS enterprise
  website/content/docs/enterprise/index.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#13382 Load test, upgrade packer version, fix k6s installation
  .circleci/terraform/load-test/main.tf
  test/load/packer/README.md
  test/load/packer/consul-ami/consul.json
  test/load/packer/consul-ami/consul.pkr.hcl
  test/load/packer/loadtest-ami/loadtest.json
  test/load/packer/loadtest-ami/loadtest.pkr.hcl
  test/load/packer/loadtest-ami/scripts/install-k6.sh
  test/load/terraform/README.md
  test/load/terraform/test-servers.tf
  test/load/terraform/variables.tf
Labels: pr/load-test, pr/no-changelog, pr/no-metrics-test

#13426 Lambda Beta Documentation
  website/content/docs/agent/config/config-files.mdx
  website/content/docs/lambda/index.mdx
  website/content/docs/lambda/invocation.mdx
  website/content/docs/lambda/registration.mdx
  website/data/docs-nav-data.json
  website/public/img/connect_proxy_to_lambda.svg
  website/public/img/lambda_registrator_architecture.svg
  website/public/img/terminating_gateway_to_lambda.svg
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#13457 docs: instructions for interacting with the private gRPC server locally
  docs/rpc/README.md
  tools/private-grpc-proxy/main.go
Labels: pr/no-changelog, pr/no-metrics-test

#13460 xds: mesh gateways now have their own leaf certificate when involved in a peering
  agent/agent_endpoint.go
  agent/cache-types/connect_ca_leaf.go
  agent/cache-types/connect_ca_leaf_test.go
  agent/connect/testing_ca.go
  agent/connect/uri.go
  agent/connect/uri_mesh_gateway.go
  agent/connect/uri_mesh_gateway_oss.go
  agent/connect/uri_mesh_gateway_oss_test.go
  agent/connect/uri_signing.go
  agent/connect/uri_signing_test.go
  agent/connect/uri_test.go
  agent/consul/leader_connect_ca.go
  agent/consul/state/peering.go
  agent/consul/state/peering_test.go
  agent/proxycfg/mesh_gateway.go
  agent/proxycfg/snapshot.go
  agent/proxycfg/state_test.go
  agent/proxycfg/testing.go
  agent/proxycfg/testing_mesh_gateway.go
  agent/rpc/peering/service.go
  agent/structs/connect_ca.go
  agent/xds/clusters_test.go
  agent/xds/listeners.go
  agent/xds/listeners_test.go
  agent/xds/testdata/listeners/mesh-gateway-with-exported-peered-services.latest.golden
  proto/pbconnect/connect.gen.go
  proto/pbconnect/connect.pb.go
  proto/pbconnect/connect.proto
  proto/pbpeering/peering.pb.go
  proto/pbpeering/peering.proto
  proto/pbservice/healthcheck.proto
Labels: theme/connect, theme/envoy/xds, pr/no-changelog

#13461 xds: begin refactor to always pass test snapshots through all xDS types
  agent/xds/clusters_test.go
  agent/xds/endpoints_test.go
  agent/xds/listeners_test.go
  agent/xds/resources_oss_test.go
  agent/xds/resources_test.go
  agent/xds/routes_test.go
  agent/xds/testdata/clusters/connect-proxy-exported-to-peers.latest.golden
  agent/xds/testdata/clusters/mesh-gateway-with-exported-peered-services.latest.golden
  agent/xds/testdata/endpoints/connect-proxy-exported-to-peers.latest.golden
  agent/xds/testdata/endpoints/connect-proxy-with-peered-upstreams.latest.golden
  agent/xds/testdata/endpoints/mesh-gateway-with-exported-peered-services.latest.golden
  agent/xds/testdata/listeners/connect-proxy-with-peered-upstreams.latest.golden
  agent/xds/testdata/routes/connect-proxy-exported-to-peers.latest.golden
  agent/xds/testdata/routes/connect-proxy-with-peered-upstreams.latest.golden
  agent/xds/testdata/routes/mesh-gateway-with-exported-peered-services.latest.golden
Labels: theme/envoy/xds, pr/no-changelog

#13454 Add peering endpoint API docs
  website/content/api-docs/peering.mdx
  website/data/api-docs-nav-data.json
Labels: type/docs, pr/no-changelog

#13409 ui: Fix intl keys in order to render correct messages for empty states
  .changelog/13409.txt
  ui/packages/consul-ui/app/templates/dc/acls/auth-methods/index.hbs
  ui/packages/consul-ui/app/templates/dc/services/show/intentions/index.hbs
  ui/packages/consul-ui/app/utils/intl/missing-message.js
  ui/packages/consul-ui/translations/routes/en-us.yaml
Labels: theme/ui, pr/no-metrics-test, backport/1.12

#13459 Lambda documentation tweaks
  website/content/docs/lambda/registration.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#13469 Correct redhat tags
  .github/workflows/build.yml
Labels: theme/contributing, pr/no-changelog

#13476 Update index.mdx
  website/content/docs/k8s/installation/vault/data-integration/index.mdx
Labels: type/docs, pr/no-changelog

#13477 Add type info to options
  website/content/docs/agent/config/config-files.mdx
Labels: type/docs, pr/no-changelog

#13443 peering, state: account for peer intentions
  agent/consul/intention_endpoint.go
  agent/consul/state/config_entry_intention.go
  agent/consul/state/intention_test.go
  agent/structs/config_entry_intentions.go
  agent/structs/config_entry_intentions_test.go
Labels: pr/no-changelog

#13480 Merge pull request #13469 from hashicorp/correct-redhat-tags
  .github/workflows/build.yml
Labels: theme/contributing, pr/no-changelog

#13451 peering: block Intention.Apply ops
  agent/consul/intention_endpoint.go
  agent/consul/intention_endpoint_test.go
Labels: pr/no-changelog

#13391 feat: xDS Generation for Terminating Gateway Destinations
  agent/consul/config_endpoint_test.go
  agent/consul/merge_service_config.go
  agent/proxycfg/snapshot.go
  agent/proxycfg/terminating_gateway.go
  agent/proxycfg/testing_terminating_gateway.go
  agent/structs/config_entry.go
  agent/xds/clusters.go
  agent/xds/clusters_test.go
  agent/xds/listeners.go
  agent/xds/listeners_test.go
  agent/xds/testdata/clusters/transparent-proxy-terminating-gateway-destinations-only.latest.golden
  agent/xds/testdata/listeners/transparent-proxy-terminating-gateway-destinations-only.latest.golden
Labels: theme/envoy/xds, pr/no-changelog

#13466 Fix broken link in lambda docs
  website/content/docs/lambda/invocation.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.12

#13441 Docs - k8s - Webhook Certs on Vault
  website/content/docs/k8s/installation/vault/data-integration/bootstrap-token.mdx
  website/content/docs/k8s/installation/vault/data-integration/connect-ca.mdx
  website/content/docs/k8s/installation/vault/data-integration/enterprise-license.mdx
  website/content/docs/k8s/installation/vault/data-integration/gossip.mdx
  website/content/docs/k8s/installation/vault/data-integration/index.mdx
  website/content/docs/k8s/installation/vault/data-integration/partition-token.mdx
  website/content/docs/k8s/installation/vault/data-integration/replication-token.mdx
  website/content/docs/k8s/installation/vault/data-integration/server-tls.mdx
  website/content/docs/k8s/installation/vault/data-integration/snapshot-agent-config.mdx
  website/content/docs/k8s/installation/vault/data-integration/webhook-certs.mdx
  website/content/docs/k8s/installation/vault/wan-federation.mdx
  website/data/docs-nav-data.json
Labels: type/docs, pr/no-changelog

#13486 Docs cherry pick (forgot label before merging to main) - k8s - Webhook Certs on Vault (#13441)
  website/content/docs/k8s/installation/vault/data-integration/bootstrap-token.mdx
  website/content/docs/k8s/installation/vault/data-integration/connect-ca.mdx
  website/content/docs/k8s/installation/vault/data-integration/enterprise-license.mdx
  website/content/docs/k8s/installation/vault/data-integration/gossip.mdx
  website/content/docs/k8s/installation/vault/data-integration/index.mdx
  website/content/docs/k8s/installation/vault/data-integration/partition-token.mdx
  website/content/docs/k8s/installation/vault/data-integration/replication-token.mdx
  website/content/docs/k8s/installation/vault/data-integration/server-tls.mdx
  website/content/docs/k8s/installation/vault/data-integration/snapshot-agent-config.mdx
  website/content/docs/k8s/installation/vault/data-integration/webhook-certs.mdx
  website/content/docs/k8s/installation/vault/wan-federation.mdx
  website/data/docs-nav-data.json
Labels: type/docs, pr/no-changelog, pr/no-metrics-test

#13487 [docs] update helm values docs and annotations
  website/content/docs/k8s/annotations-and-labels.mdx
  website/content/docs/k8s/helm.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test

#13464 Additional service mesh docs updates for peering
  website/content/docs/connect/config-entries/exported-services.mdx
  website/content/docs/connect/registration/service-registration.mdx
Labels: type/docs, pr/no-changelog

#13507 docs: Use "error" to use standard log level value
  website/content/commands/monitor.mdx
  website/content/commands/snapshot/agent.mdx
  website/content/docs/agent/config/cli-flags.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.10, pr/no-metrics-test, backport/1.11

#13506 docs: Lambda consul service mesh naming suggestions
  website/content/docs/lambda/index.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#13514 docs: backport error value changes to 1.10.x
  website/content/commands/monitor.mdx
  website/content/commands/snapshot/agent.mdx
  website/content/docs/agent/options.mdx
Labels: type/docs, pr/no-changelog, pr/no-metrics-test

#13520 update github.com/containerd/containerd to 1.5.13
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
Labels: pr/no-changelog

#13438 Add server local blocking queries and watches
  agent/consul/watch/mock_StateStore_test.go
  agent/consul/watch/server_local.go
  agent/consul/watch/server_local_test.go
Labels: pr/no-changelog, pr/no-metrics-test

#13534 docs: move k8s compat matrix top level
  website/content/docs/k8s/compatibility.mdx
  website/data/docs-nav-data.json
  website/redirects.js
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test, backport/1.11

#13427 docs: Update docs for release of Consul API Gateway v0.3.0
  website/content/docs/api-gateway/consul-api-gateway-install.mdx
  website/content/docs/api-gateway/index.mdx
  website/content/docs/api-gateway/tech-specs.mdx
  website/content/docs/api-gateway/upgrade-specific-versions.mdx
  website/content/docs/release-notes/consul-api-gateway/v0_1_x.mdx
  website/content/docs/release-notes/consul-api-gateway/v0_2_x.mdx
  website/content/docs/release-notes/consul-api-gateway/v0_3_x.mdx
  website/data/docs-nav-data.json
Labels: type/docs, pr/do-not-merge, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test, backport/1.11, backport/1.12

#13501 docs: add peering helm value
  website/content/docs/k8s/helm.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#13433 docs: Cluster Peering for OSS Technical Preview
  website/content/api-docs/health.mdx
  website/content/api-docs/peering.mdx
  website/content/docs/connect/cluster-peering/create-manage-peering.mdx
  website/content/docs/connect/cluster-peering/index.mdx
  website/content/docs/connect/cluster-peering/k8s.mdx
  website/content/docs/connect/config-entries/exported-services.mdx
  website/content/docs/connect/config-entries/service-intentions.mdx
  website/content/docs/connect/registration/service-registration.mdx
  website/data/api-docs-nav-data.json
  website/data/docs-nav-data.json
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#13538 Add changelog entries for 1.13.0-alpha1 and 1.13.0-alpha2
  CHANGELOG.md
Labels: pr/no-changelog

#13542 Backport of docs: Update docs for release of Consul API Gateway v0.3.0 into stable-website
  website/content/docs/api-gateway/consul-api-gateway-install.mdx
Labels: type/docs

#13545 Backport of docs: Update docs for release of Consul API Gateway v0.3.0 into release/1.12.x
  website/content/docs/api-gateway/consul-api-gateway-install.mdx
Labels: type/docs

#13543 Backport of docs: Update docs for release of Consul API Gateway v0.3.0 into release/1.12.x
  website/content/docs/api-gateway/consul-api-gateway-install.mdx
Labels: type/docs

#13544 Backport of docs: Update docs for release of Consul API Gateway v0.3.0 into release/1.11.x
  website/content/docs/api-gateway/consul-api-gateway-install.mdx
Labels: type/docs

#13548 Backport of docs: Cluster Peering for OSS Technical Preview into stable-website
  website/content/api-docs/health.mdx
  website/content/api-docs/peering.mdx
  website/content/docs/connect/cluster-peering/create-manage-peering.mdx
  website/content/docs/connect/cluster-peering/index.mdx
  website/content/docs/connect/cluster-peering/k8s.mdx
  website/content/docs/connect/config-entries/exported-services.mdx
  website/content/docs/connect/config-entries/service-intentions.mdx
  website/content/docs/connect/registration/service-registration.mdx
  website/data/api-docs-nav-data.json
  website/data/docs-nav-data.json
Labels: type/docs

#13550 Docs/peering upstream annotation
  website/content/docs/k8s/annotations-and-labels.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test

#13551 manually add changes to backport
  website/content/docs/api-gateway/consul-api-gateway-install.mdx
  website/content/docs/api-gateway/index.mdx
  website/content/docs/api-gateway/tech-specs.mdx
  website/content/docs/api-gateway/upgrade-specific-versions.mdx
  website/content/docs/release-notes/consul-api-gateway/v0_1_x.mdx
  website/content/docs/release-notes/consul-api-gateway/v0_2_x.mdx
  website/content/docs/release-notes/consul-api-gateway/v0_3_x.mdx
  website/data/docs-nav-data.json
Labels: type/docs

#13557 Backport of docs: Update docs for release of Consul API Gateway v0.3.0 into release/1.11.x
  website/content/docs/api-gateway/consul-api-gateway-install.mdx
  website/content/docs/api-gateway/index.mdx
  website/content/docs/api-gateway/tech-specs.mdx
  website/content/docs/api-gateway/upgrade-specific-versions.mdx
  website/content/docs/release-notes/consul-api-gateway/v0_1_x.mdx
  website/content/docs/release-notes/consul-api-gateway/v0_2_x.mdx
  website/content/docs/release-notes/consul-api-gateway/v0_3_x.mdx
  website/data/docs-nav-data.json
Labels: type/docs, pr/no-changelog

#13556 Backport of docs: Update docs for release of Consul API Gateway v0.3.0 into release/1.12.x
  website/content/docs/api-gateway/consul-api-gateway-install.mdx
  website/content/docs/api-gateway/index.mdx
  website/content/docs/api-gateway/tech-specs.mdx
  website/content/docs/api-gateway/upgrade-specific-versions.mdx
  website/content/docs/release-notes/consul-api-gateway/v0_1_x.mdx
  website/content/docs/release-notes/consul-api-gateway/v0_2_x.mdx
  website/content/docs/release-notes/consul-api-gateway/v0_3_x.mdx
  website/data/docs-nav-data.json
Labels: type/docs, pr/no-changelog

#13526 docs: Clarify section on partitioned node DNS lookups
  website/content/docs/discovery/dns.mdx
Labels: type/docs, pr/no-changelog, backport/1.12

#13492 Docs for ECS Mesh Gateway
  website/content/docs/ecs/enterprise.mdx
  website/content/docs/ecs/index.mdx
  website/content/docs/ecs/manual/install.mdx
  website/content/docs/ecs/manual/secure-configuration.mdx
  website/content/docs/ecs/terraform/install.mdx
  website/content/docs/ecs/terraform/secure-configuration.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#13565 docs: Backport to stable-website cluster peering
  website/content/docs/connect/cluster-peering/create-manage-peering.mdx
  website/content/docs/connect/cluster-peering/k8s.mdx
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, pr/no-changelog, pr/no-metrics-test

#13569 docs: add Core requirements to cluster peering k8s docs
  website/content/docs/connect/cluster-peering/k8s.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test

#13572 Backport of docs: add Core requirements to cluster peering k8s docs into release/1.12.x
  website/content/docs/connect/cluster-peering/create-manage-peering.mdx
  website/content/docs/connect/cluster-peering/k8s.mdx
Labels: type/docs

#13561 Port over the index 0 -> 1 code that lived in the old rpc setQueryMeta function.
  agent/consul/watch/server_local.go
  agent/consul/watch/server_local_test.go
Labels: pr/no-changelog

#13558 Make memdb indexers generic
  agent/consul/state/acl_oss.go
  agent/consul/state/acl_schema.go
  agent/consul/state/acl_test.go
  agent/consul/state/catalog_schema.go
  agent/consul/state/config_entry_schema.go
  agent/consul/state/coordinate.go
  agent/consul/state/indexer.go
  agent/consul/state/kvs.go
  agent/consul/state/kvs_oss.go
  agent/consul/state/peering.go
  agent/consul/state/peering_oss.go
  agent/consul/state/query.go
  agent/consul/state/query_oss.go
  agent/consul/state/schema.go
  agent/consul/state/session.go
  agent/consul/state/session_oss.go
Labels: pr/no-changelog

#13570 oss: peering, http: get peer service intentions (#2098)
  agent/intentions_endpoint.go
  agent/intentions_endpoint_test.go
Labels: pr/no-changelog

#13567 Backport of Docs for ECS Mesh Gateway into stable-website
  website/content/docs/ecs/index.mdx
Labels: type/docs

#13568 Backport of Docs for ECS Mesh Gateway into release/1.12.x
  website/content/docs/ecs/index.mdx
Labels: type/docs

#13573 docs: cluster peering k8s - add indent to code block config tab to align with other branches
  website/content/docs/connect/cluster-peering/k8s.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test

#13563 Backport of [docs] update doc headers into stable-website
  website/content/docs/k8s/helm.mdx
Labels: type/docs

#13580 docs: 1.12.x backport formatting to stable-website for gossip key encryption
  website/content/docs/k8s/operations/gossip-encryption-key-rotation.mdx
Labels: type/docs, pr/no-changelog, pr/no-metrics-test

#13564 Backport of [docs] update doc headers into release/1.12.x
  website/content/docs/k8s/helm.mdx
Labels: type/docs

#13581 docs: add missing $ gossip key rotation exec command
  website/content/docs/k8s/operations/gossip-encryption-key-rotation.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test

#13222 docs: Update ECS docs for IAM auth method support
  website/content/docs/ecs/architecture.mdx
  website/content/docs/ecs/configuration-reference.mdx
  website/content/docs/ecs/enterprise.mdx
  website/content/docs/ecs/manual/acl-controller.mdx
  website/content/docs/ecs/manual/install.mdx
  website/content/docs/ecs/manual/secure-configuration.mdx
  website/content/docs/ecs/terraform/install.mdx
  website/content/docs/ecs/terraform/migrate-existing-tasks.mdx
  website/content/docs/ecs/terraform/secure-configuration.mdx
  website/public/img/consul-ecs-arch.png
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test

#13522 update terraform module location for consul aws modules
  website/content/docs/ecs/enterprise.mdx
  website/content/docs/ecs/terraform/migrate-existing-tasks.mdx
  website/content/docs/ecs/terraform/secure-configuration.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#13590 Clarify the wording of the peering limitations in the preview
  website/content/docs/connect/cluster-peering/index.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#13597 [1.12] Remove trigger-oss-merge CI job
  .circleci/config.yml
Labels: type/ci, pr/no-changelog

#13598 [1.11] Remove trigger-oss-merge CI job
  .circleci/config.yml
Labels: type/ci, pr/no-changelog

#13599 [1.10] Remove trigger-oss-merge CI job
  .circleci/config.yml
Labels: type/ci, pr/no-changelog

#13600 Remove trigger-oss-merge job
  .circleci/config.yml
Labels: type/ci, pr/no-changelog

#13541 [CI-only] Dev tag update for main
  .github/workflows/build.yml
  version/version.go
Labels: pr/no-changelog, pr/no-metrics-test

#13540 [CI-only] Dev tag update for 1.12.x
  .github/workflows/build.yml
  version/version.go
Labels: theme/contributing, pr/no-changelog, pr/no-metrics-test

#13539 [CI-only] Update dev image tagging on 1.11.x
  .github/workflows/build.yml
  version/version.go
Labels: theme/contributing, pr/no-changelog, pr/no-metrics-test

#13577 peering, internal: support UIServices, UINodes, UINodeInfo
  agent/consul/internal_endpoint.go
  agent/consul/internal_endpoint_test.go
  agent/structs/structs.go
  agent/ui_endpoint.go
  agent/ui_endpoint_test.go
Labels: pr/no-changelog

#13481 Add TLS support in Envoy Prometheus endpoint
  .changelog/13481.txt
  command/connect/envoy/bootstrap_config.go
  command/connect/envoy/bootstrap_config_test.go
  command/connect/envoy/bootstrap_tpl.go
  command/connect/envoy/envoy.go
  command/connect/envoy/envoy_test.go
  command/connect/envoy/testdata/prometheus-metrics-tls-ca-file.golden
  command/connect/envoy/testdata/prometheus-metrics-tls-ca-path.golden
Labels: theme/cli

#13603 Add HashiBox to community tools
  website/content/docs/download-tools.mdx
Labels: type/docs, type/docs-cherrypick

#13611 Update docs for prometheus TLS options
  website/content/commands/connect/envoy.mdx
  website/content/docs/k8s/annotations-and-labels.mdx
Labels: type/docs, pr/no-changelog

#13612 peering: replicate all SpiffeID values necessary for the importing side to do SAN validation
  agent/consul/state/config_entry.go
  agent/consul/state/peering.go
  agent/consul/state/peering_test.go
  agent/rpc/peering/service.go
  agent/rpc/peering/service_test.go
  agent/rpc/peering/stream_test.go
  agent/rpc/peering/subscription_blocking.go
  agent/rpc/peering/subscription_manager.go
  agent/rpc/peering/subscription_manager_test.go
  agent/rpc/peering/subscription_state.go
  agent/structs/discovery_chain.go
  agent/structs/peering.go
  lib/maps/maps.go
  lib/maps/maps_test.go
Labels: theme/internals, pr/no-changelog

#13601 Fix verifications by using updated arm package names
  .github/scripts/verify_artifact.sh
  .github/workflows/build.yml
Labels: theme/contributing, pr/no-changelog, backport/1.10, backport/1.11

#13614 Turn off sec-scanner check
  .release/security-scan.hcl
Labels: pr/no-changelog, backport/1.10, pr/no-metrics-test, backport/1.11, backport/1.12

#13610 test: run Envoy integration tests against both servers and clients
  .circleci/config.yml
  test/integration/connect/envoy/case-cfg-resolver-dc-failover-gateways-none/primary/verify.bats
  test/integration/connect/envoy/case-cfg-resolver-dc-failover-gateways-none/secondary/join.hcl
  test/integration/connect/envoy/case-cfg-resolver-dc-failover-gateways-remote/primary/verify.bats
  test/integration/connect/envoy/case-cfg-resolver-dc-failover-gateways-remote/secondary/join.hcl
  test/integration/connect/envoy/case-cross-peers/alpha/verify.bats
  test/integration/connect/envoy/case-cross-peers/primary/verify.bats
  test/integration/connect/envoy/case-gateways-local/primary/verify.bats
  test/integration/connect/envoy/case-gateways-local/secondary/join.hcl
  test/integration/connect/envoy/case-gateways-remote/secondary/join.hcl
  test/integration/connect/envoy/case-ingress-mesh-gateways-resolver/primary/verify.bats
  test/integration/connect/envoy/case-ingress-mesh-gateways-resolver/secondary/join.hcl
  test/integration/connect/envoy/case-multidc-rsa-ca/secondary/join.hcl
  test/integration/connect/envoy/case-wanfed-gw/primary/common.hcl
  test/integration/connect/envoy/case-wanfed-gw/primary/verify.bats
  test/integration/connect/envoy/case-wanfed-gw/secondary/common.hcl
  test/integration/connect/envoy/case-wanfed-gw/secondary/server.hcl
  test/integration/connect/envoy/case-wanfed-gw/secondary/verify.bats
  test/integration/connect/envoy/helpers.bash
  test/integration/connect/envoy/run-tests.sh
Labels: type/ci, pr/no-changelog

#13615 test: for upgrade compatibility tests retain assigned container ip addresses on upgrade
  test/integration/consul-container/libs/node/consul-container.go
Labels: pr/no-changelog

#13625 xds: have mesh gateways forward peered SpiffeIDs using the XFCC header
  agent/xds/listeners.go
  agent/xds/testdata/listeners/mesh-gateway-with-exported-peered-services-http-with-router.latest.golden
  agent/xds/testdata/listeners/mesh-gateway-with-exported-peered-services-http-with-splitter-crossing-partitions.latest.golden
  agent/xds/testdata/listeners/mesh-gateway-with-exported-peered-services-http.latest.golden
Labels: theme/envoy/xds, pr/no-changelog

#13626 [1.10] Backport of "Fix verifications by using updated arm package names (#13601)"
  .github/scripts/verify_artifact.sh
  .github/workflows/build.yml
Labels: theme/contributing, pr/no-changelog

#13627 [1.11] Backport of "Fix verifications by using updated arm package names (#13601)"
  .github/scripts/verify_artifact.sh
  .github/workflows/build.yml
Labels: theme/contributing, pr/no-changelog

#13628 [1.12] Backport of "Fix verifications by using updated arm package names (#13601)"
  .github/scripts/verify_artifact.sh
  .github/workflows/build.yml
Labels: theme/contributing, pr/no-changelog

#13574 Fix typo in cluster peering docs
  website/content/docs/connect/cluster-peering/create-manage-peering.mdx
  website/content/docs/connect/cluster-peering/index.mdx
  website/content/docs/connect/cluster-peering/k8s.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.12

#13621 ui: [Backport 1.12.x] Disable licensing tab if the UI is running via HCP
  .circleci/config.yml
  ui/package.json
  ui/packages/consul-hcp/package.json
  ui/packages/consul-hcp/vendor/consul-hcp/routes.js
  ui/packages/consul-hcp/vendor/consul-hcp/services.js
  ui/packages/consul-ui/app/abilities/hcp.js
  ui/packages/consul-ui/app/abilities/server.js
  ui/packages/consul-ui/app/components/route/index.hbs
  ui/packages/consul-ui/app/components/route/index.js
  ui/packages/consul-ui/app/services/routlet.js
  ui/packages/consul-ui/app/templates/dc/show.hbs
  ui/packages/consul-ui/app/utils/routing/walk.js
  ui/packages/consul-ui/ember-cli-build.js
  ui/packages/consul-ui/lib/startup/templates/body.html.js
  ui/packages/consul-ui/package.json
  ui/packages/consul-ui/vendor/consul-ui/routes.js
Labels: theme/ui, pr/no-changelog

#13629 xds: modify rbac rules to use the XFCC header for peered L7 enforcement
  agent/proxycfg/snapshot.go
  agent/xds/listeners.go
  agent/xds/rbac.go
  agent/xds/rbac_test.go
  agent/xds/routes.go
  agent/xds/testdata/clusters/mesh-gateway-with-exported-peered-services-http-with-splitter-crossing-partitions.latest.golden
  agent/xds/testdata/endpoints/mesh-gateway-with-exported-peered-services-http-with-splitter-crossing-partitions.latest.golden
  agent/xds/testdata/listeners/mesh-gateway-with-exported-peered-services-http-with-splitter-crossing-partitions.latest.golden
  agent/xds/testdata/rbac/default-deny-peered-kitchen-sink--httpfilter.golden
  agent/xds/testdata/routes/mesh-gateway-with-exported-peered-services-http-with-splitter-crossing-partitions.latest.golden
  command/connect/envoy/bootstrap_tpl.go
  command/connect/envoy/testdata/CONSUL_HTTP_ADDR-with-https-scheme-enables-tls.golden
  command/connect/envoy/testdata/access-log-path.golden
  command/connect/envoy/testdata/defaults-nodemeta.golden
  command/connect/envoy/testdata/defaults.golden
  command/connect/envoy/testdata/deprecated-grpc-addr-config.golden
  command/connect/envoy/testdata/existing-ca-file.golden
  command/connect/envoy/testdata/existing-ca-path.golden
  command/connect/envoy/testdata/extra_-multiple.golden
  command/connect/envoy/testdata/extra_-single.golden
  command/connect/envoy/testdata/grpc-addr-env.golden
  command/connect/envoy/testdata/grpc-addr-flag.golden
  command/connect/envoy/testdata/grpc-addr-unix.golden
  command/connect/envoy/testdata/ingress-gateway-address-specified.golden
  command/connect/envoy/testdata/ingress-gateway-no-auto-register.golden
  command/connect/envoy/testdata/ingress-gateway-nodemeta.golden
  command/connect/envoy/testdata/ingress-gateway-register-with-service-and-proxy-id.golden
  command/connect/envoy/testdata/ingress-gateway-register-with-service-without-proxy-id.golden
  command/connect/envoy/testdata/ingress-gateway.golden
  command/connect/envoy/testdata/prometheus-metrics-tls-ca-file.golden
  command/connect/envoy/testdata/prometheus-metrics-tls-ca-path.golden
  command/connect/envoy/testdata/prometheus-metrics.golden
  command/connect/envoy/testdata/stats-config-override.golden
  command/connect/envoy/testdata/token-arg.golden
  command/connect/envoy/testdata/token-env.golden
  command/connect/envoy/testdata/token-file-arg.golden
  command/connect/envoy/testdata/token-file-env.golden
  command/connect/envoy/testdata/xds-addr-config.golden
  command/connect/envoy/testdata/zipkin-tracing-config.golden
Labels: theme/cli, theme/envoy/xds, pr/no-changelog, pr/no-metrics-test

#13532 no 1.9 style metrics
  .changelog/13532.txt
  agent/agent.go
  agent/config/builder.go
  agent/config/config.go
  agent/config/runtime_test.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/config/testdata/full-config.hcl
  agent/config/testdata/full-config.json
  agent/http.go
  agent/metrics_test.go
  lib/telemetry.go
  website/content/docs/agent/config/config-files.mdx
  website/content/docs/agent/telemetry.mdx
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: theme/config, theme/internals

#13633 ui: Fix up peer ENT tests
  ui/packages/consul-ui/app/adapters/node.js
  ui/packages/consul-ui/app/adapters/service.js
  ui/packages/consul-ui/app/locations/fsm-with-optional.js
  ui/packages/consul-ui/tests/acceptance/dc/nodes/index.feature
  ui/packages/consul-ui/tests/acceptance/dc/services/list.feature
  ui/packages/consul-ui/tests/integration/adapters/node-test.js
  ui/packages/consul-ui/tests/integration/adapters/service-test.js
Labels: theme/ui, pr/no-changelog

#13646 Allow the /v1/internal/acl/authorize endpoint to authorize the “peering" resource
  acl/authorizer.go
  acl/authorizer_test.go
Labels: theme/acls, pr/no-changelog

#13647 Fix ENT drift in files
  agent/consul/helper_test.go
  agent/consul/internal_endpoint_test.go
Labels: pr/no-changelog

#13644 peering: add imported/exported counts to peering
  agent/peering_endpoint_test.go
  agent/rpc/peering/service_test.go
  api/peering.go
  api/peering_test.go
  proto/pbpeering/peering.gen.go
  proto/pbpeering/peering.pb.go
  proto/pbpeering/peering.proto
Labels: theme/api, pr/no-changelog

#13636 ui: peering chores
  ui/packages/consul-ui/app/components/consul/service/search-bar/index.hbs
  ui/packages/consul-ui/app/components/topology-metrics/index.js
  ui/packages/consul-ui/app/filter/predicates/service.js
  ui/packages/consul-ui/tests/unit/filter/predicates/service-test.js
Labels: theme/ui, pr/no-changelog

#13650 ui: allow searching services by admin-partition
  ui/packages/consul-ui/app/search/predicates/service.js
  ui/packages/consul-ui/tests/unit/search/predicates/service-test.js
  ui/packages/consul-ui/translations/common/en-us.yaml
  ui/packages/consul-ui/vendor/consul-ui/routes.js
Labels: theme/ui, pr/no-changelog
