Repository hashicorp/consul, pull requests merged in 2022-11, with the labels that each got.

#15218 Regenerate certificates.
  test/ca/certindex
  test/ca/serialfile
  test/client_certs/client.crt
  test/client_certs/client.key
  test/client_certs/consul-agent-ca-key.pem
  test/client_certs/consul-agent-ca.pem
  test/client_certs/dc1-client-consul-0-key.pem
  test/client_certs/dc1-client-consul-0.pem
  test/client_certs/dc1-server-consul-0-key.pem
  test/client_certs/dc1-server-consul-0.pem
  test/client_certs/path/rootca.crt
  test/client_certs/rootca.crt
  test/client_certs/rootca.key
  test/client_certs/server.crt
  test/client_certs/server.key
  test/hostname/Alice.crt
  test/hostname/Alice.key
  test/hostname/Betty.crt
  test/hostname/Betty.key
  test/hostname/Bob.crt
  test/hostname/Bob.key
  test/hostname/Bonnie.crt
  test/hostname/Bonnie.key
  test/hostname/certindex
  test/hostname/serialfile
  test/key/ourdomain.cer
  test/key/ourdomain.key
  tlsutil/config_test.go
Labels: pr/no-changelog, backport/1.14

#15220 Regenerate expired test certs
  test/ca/certindex
  test/ca/serialfile
  test/client_certs/client.crt
  test/client_certs/client.key
  test/client_certs/consul-agent-ca-key.pem
  test/client_certs/consul-agent-ca.pem
  test/client_certs/dc1-client-consul-0-key.pem
  test/client_certs/dc1-client-consul-0.pem
  test/client_certs/dc1-server-consul-0-key.pem
  test/client_certs/dc1-server-consul-0.pem
  test/client_certs/path/rootca.crt
  test/client_certs/rootca.crt
  test/client_certs/rootca.key
  test/client_certs/server.crt
  test/client_certs/server.key
  test/hostname/Alice.crt
  test/hostname/Alice.key
  test/hostname/Betty.crt
  test/hostname/Betty.key
  test/hostname/Bob.crt
  test/hostname/Bob.key
  test/hostname/Bonnie.crt
  test/hostname/Bonnie.key
  test/hostname/certindex
  test/hostname/serialfile
  test/key/ourdomain.cer
  test/key/ourdomain.key
  tlsutil/config_test.go
Labels: theme/tls, theme/certificates, pr/no-changelog, pr/no-metrics-test

#15084 [OSS] test: refactor testcontainers and add peering integ tests
  .circleci/config.yml
  agent/config/config.go
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
  test/integration/consul-container/libs/agent/agent.go
  test/integration/consul-container/libs/agent/builder.go
  test/integration/consul-container/libs/agent/container.go
  test/integration/consul-container/libs/agent/encryption.go
  test/integration/consul-container/libs/agent/log.go
  test/integration/consul-container/libs/assert/common.go
  test/integration/consul-container/libs/assert/peering.go
  test/integration/consul-container/libs/assert/service.go
  test/integration/consul-container/libs/cluster/cluster.go
  test/integration/consul-container/libs/cluster/network.go
  test/integration/consul-container/libs/node/consul-container.go
  test/integration/consul-container/libs/node/consul-container_oss.go
  test/integration/consul-container/libs/node/node.go
  test/integration/consul-container/libs/service/assets/Dockerfile-consul-envoy
  test/integration/consul-container/libs/service/common.go
  test/integration/consul-container/libs/service/connect.go
  test/integration/consul-container/libs/service/examples.go
  test/integration/consul-container/libs/service/gateway.go
  test/integration/consul-container/libs/service/helpers.go
  test/integration/consul-container/libs/service/log.go
  test/integration/consul-container/libs/service/service.go
  test/integration/consul-container/libs/utils/helpers.go
  test/integration/consul-container/libs/utils/utils.go
  test/integration/consul-container/test/basic/connect_service_test.go
  test/integration/consul-container/test/metrics/leader_test.go
  test/integration/consul-container/test/peering/rotate_server_and_ca_then_fail_test.go
  test/integration/consul-container/test/upgrade/README.md
  test/integration/consul-container/test/upgrade/healthcheck_test.go
Labels: type/ci, pr/no-changelog, backport/1.14

#15214 Prevent peering acceptor from subscribing to addr updates.
  agent/grpc-external/services/peerstream/stream_resources.go
  agent/grpc-external/services/peerstream/stream_test.go
Labels: pr/no-changelog

#15233 integ test: reduce flakiness due to compound output from retry
  .changelog/15233.txt
  test/integration/connect/envoy/case-basic/verify.bats
  test/integration/connect/envoy/case-centralconf/verify.bats
  test/integration/connect/envoy/case-cfg-resolver-cluster-peering-failover/primary/verify.bats
  test/integration/connect/envoy/case-cfg-resolver-svc-redirect-http/verify.bats
  test/integration/connect/envoy/case-cfg-resolver-svc-redirect-tcp/verify.bats
  test/integration/connect/envoy/case-cross-peer-control-plane-mgw/primary/verify.bats
  test/integration/connect/envoy/case-cross-peers-http-router/primary/verify.bats
  test/integration/connect/envoy/case-cross-peers-http/primary/verify.bats
  test/integration/connect/envoy/case-cross-peers-resolver-redirect-tcp/primary/verify.bats
  test/integration/connect/envoy/case-cross-peers/primary/verify.bats
  test/integration/connect/envoy/case-expose-checks/verify.bats
  test/integration/connect/envoy/case-gateways-local/primary/verify.bats
  test/integration/connect/envoy/case-gateways-remote/primary/verify.bats
  test/integration/connect/envoy/case-http/verify.bats
  test/integration/connect/envoy/case-ingress-gateway-simple/verify.bats
  test/integration/connect/envoy/case-ingress-gateway-tls/verify.bats
  test/integration/connect/envoy/case-ingress-mesh-gateways-resolver/primary/verify.bats
  test/integration/connect/envoy/case-multidc-rsa-ca/primary/verify.bats
  test/integration/connect/envoy/case-prometheus/verify.bats
  test/integration/connect/envoy/case-stats-proxy/verify.bats
  test/integration/connect/envoy/case-terminating-gateway-hostnames/verify.bats
  test/integration/connect/envoy/case-terminating-gateway-simple/verify.bats
  test/integration/connect/envoy/helpers.bash
Labels: backport/1.12, backport/1.13, backport/1.14

#15239 Added check for empty peeringsni in restrictPeeringEndpoints
  agent/grpc-middleware/auth_interceptor.go
  agent/grpc-middleware/auth_interceptor_test.go
Labels: pr/no-changelog, backport/1.14

#15177 docs: Update consul-dataplane docs for post-beta
  website/content/docs/agent/telemetry.mdx
  website/content/docs/connect/dataplane/consul-dataplane.mdx
  website/content/docs/connect/dataplane/index.mdx
  website/content/docs/connect/dataplane/telemetry.mdx
  website/content/docs/connect/proxies/envoy.mdx
  website/data/docs-nav-data.json
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test, backport/1.13, backport/1.14

#15252 convert stream status time fields to pointers
  agent/grpc-external/services/peerstream/stream_test.go
  agent/grpc-external/services/peerstream/stream_tracker.go
  agent/grpc-external/services/peerstream/stream_tracker_test.go
  agent/rpc/peering/service.go
  api/peering.go
  proto/pbpeering/peering.go
Labels: theme/api, pr/no-changelog

#15254 Backport various fixes from ENT.
  agent/grpc-external/services/peerstream/stream_test.go
  agent/rpc/peering/service_test.go
  agent/xds/testdata/listeners/custom-public-listener-http-2.latest.golden
  agent/xds/testdata/listeners/custom-public-listener-http-missing.latest.golden
  agent/xds/testdata/listeners/custom-public-listener-http.latest.golden
  agent/xds/testdata/listeners/custom-trace-listener.latest.golden
  agent/xds/testdata/listeners/grpc-public-listener.latest.golden
  agent/xds/testdata/listeners/http-listener-with-timeouts.latest.golden
  agent/xds/testdata/listeners/http-public-listener-no-xfcc.latest.golden
  agent/xds/testdata/listeners/http-public-listener.latest.golden
  agent/xds/testdata/listeners/http2-public-listener.latest.golden
  agent/xds/testdata/listeners/ingress-with-grpc-single-tls-listener.latest.golden
  agent/xds/testdata/listeners/ingress-with-http2-and-grpc-multiple-tls-listener.latest.golden
  agent/xds/testdata/listeners/ingress-with-http2-single-tls-listener.latest.golden
  agent/xds/testdata/listeners/ingress-with-sds-listener+service-level.latest.golden
  agent/xds/testdata/listeners/ingress-with-sds-listener-gw-level-http.latest.golden
  agent/xds/testdata/listeners/ingress-with-sds-service-level-mixed-no-tls.latest.golden
  agent/xds/testdata/listeners/ingress-with-sds-service-level.latest.golden
  agent/xds/testdata/listeners/ingress-with-single-tls-listener.latest.golden
  agent/xds/testdata/listeners/ingress-with-tls-min-version-listeners-gateway-defaults.latest.golden
  agent/xds/testdata/listeners/ingress-with-tls-mixed-listeners.latest.golden
  agent/xds/testdata/listeners/ingress-with-tls-mixed-min-version-listeners.latest.golden
Labels: theme/envoy/xds, pr/no-changelog, backport/1.14

#15247 Backport of docs: Update consul-dataplane docs for post-beta into stable-website
  website/content/docs/agent/telemetry.mdx
  website/content/docs/connect/dataplane/consul-dataplane.mdx
  website/content/docs/connect/dataplane/index.mdx
  website/content/docs/connect/dataplane/telemetry.mdx
  website/content/docs/connect/proxies/envoy.mdx
  website/data/docs-nav-data.json
Labels: type/docs

#15260 Backport tests from ent.
  agent/agent_test.go
  agent/grpc-external/services/peerstream/stream_test.go
Labels: pr/no-changelog, backport/1.14

#15256 Remove stray line from merge conflict
  website/content/commands/peering/generate-token.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#15243 fix: persist peering CA updates to dialing clusters
  agent/consul/fsm/snapshot_test.go
  agent/consul/state/peering.go
  agent/consul/state/peering_test.go
  agent/proxycfg-glue/trust_bundle_test.go
  test/integration/consul-container/libs/service/common.go
  test/integration/consul-container/libs/service/connect.go
  test/integration/consul-container/libs/service/gateway.go
  test/integration/consul-container/test/peering/rotate_server_and_ca_then_fail_test.go
Labels: pr/no-changelog, pr/no-metrics-test, backport/1.14

#15266 Manual backport of #15256
  website/content/commands/peering/generate-token.mdx
Labels: type/docs

#15268 docs: cluster peering docs feedback
  website/content/docs/connect/cluster-peering/k8s.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#15273 Fix a bug in mesh gateway proxycfg where ACL tokens aren't passed
  agent/proxycfg/mesh_gateway.go
  agent/proxycfg/state_test.go
Labels: pr/no-changelog, backport/1.14

#15185 Update hcp-scada-provider to fix diamond dependency problem with go-msgpack
  agent/checks/grpc.go
  agent/consul/leader_peering_test.go
  agent/consul/peering_backend_oss_test.go
  agent/consul/peering_backend_test.go
  agent/consul/prepared_query_endpoint_test.go
  agent/consul/server_test.go
  agent/grpc-external/services/acl/login_test.go
  agent/grpc-external/services/acl/logout_test.go
  agent/grpc-external/services/connectca/server_test.go
  agent/grpc-external/services/connectca/sign_test.go
  agent/grpc-external/services/dataplane/server_test.go
  agent/grpc-external/services/dns/server_test.go
  agent/grpc-external/services/serverdiscovery/server_test.go
  agent/grpc-external/stats_test.go
  agent/grpc-internal/client.go
  agent/grpc-internal/resolver/registry.go
  agent/grpc-internal/resolver/resolver.go
  agent/grpc-internal/services/subscribe/subscribe_test.go
  agent/grpc-internal/stats_test.go
  agent/rpc/peering/service_test.go
  agent/submatview/store_integration_test.go
  agent/xds/clusters.go
  go.mod
  go.sum
  proto-public/pbacl/acl.pb.go
  proto-public/pbconnectca/ca.pb.go
  proto-public/pbdataplane/dataplane.pb.go
  proto-public/pbdns/dns.pb.go
  proto-public/pbserverdiscovery/serverdiscovery.pb.go
  proto/pbacl/acl.pb.go
  proto/pbautoconf/auto_config.pb.go
  proto/pbcommon/common.pb.go
  proto/pbconfig/config.pb.go
  proto/pbconfigentry/config_entry.pb.go
  proto/pbconnect/connect.pb.go
  proto/pbpeering/peering.go
  proto/pbpeering/peering.pb.go
  proto/pbpeerstream/peerstream.pb.go
  proto/pbservice/healthcheck.pb.go
  proto/pbservice/node.pb.go
  proto/pbservice/service.pb.go
  proto/pbstatus/status.pb.go
  proto/pbsubscribe/subscribe.pb.go
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
Labels: pr/dependencies, pr/no-changelog, backport/1.14

#15277 [1.14.x] Update hcp-scada-provider to fix diamond dependency problem with go-msgpack
  agent/checks/grpc.go
  agent/consul/leader_peering_test.go
  agent/consul/peering_backend_oss_test.go
  agent/consul/peering_backend_test.go
  agent/consul/prepared_query_endpoint_test.go
  agent/consul/server_test.go
  agent/grpc-external/services/acl/login_test.go
  agent/grpc-external/services/acl/logout_test.go
  agent/grpc-external/services/connectca/server_test.go
  agent/grpc-external/services/connectca/sign_test.go
  agent/grpc-external/services/dataplane/server_test.go
  agent/grpc-external/services/dns/server_test.go
  agent/grpc-external/services/serverdiscovery/server_test.go
  agent/grpc-external/stats_test.go
  agent/grpc-internal/client.go
  agent/grpc-internal/resolver/registry.go
  agent/grpc-internal/resolver/resolver.go
  agent/grpc-internal/services/subscribe/subscribe_test.go
  agent/grpc-internal/stats_test.go
  agent/rpc/peering/service_test.go
  agent/submatview/store_integration_test.go
  agent/xds/clusters.go
  go.mod
  go.sum
  proto-public/pbacl/acl.pb.go
  proto-public/pbconnectca/ca.pb.go
  proto-public/pbdataplane/dataplane.pb.go
  proto-public/pbdns/dns.pb.go
  proto-public/pbserverdiscovery/serverdiscovery.pb.go
  proto/pbacl/acl.pb.go
  proto/pbautoconf/auto_config.pb.go
  proto/pbcommon/common.pb.go
  proto/pbconfig/config.pb.go
  proto/pbconfigentry/config_entry.pb.go
  proto/pbconnect/connect.pb.go
  proto/pbpeering/peering.go
  proto/pbpeering/peering.pb.go
  proto/pbpeerstream/peerstream.pb.go
  proto/pbservice/healthcheck.pb.go
  proto/pbservice/node.pb.go
  proto/pbservice/service.pb.go
  proto/pbstatus/status.pb.go
  proto/pbsubscribe/subscribe.pb.go
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
Labels: pr/dependencies, theme/envoy/xds

#15083 Avoid blocking child type updates on parent ack
  .changelog/15083.txt
  agent/xds/delta.go
  agent/xds/delta_test.go
  agent/xds/endpoints.go
  test/integration/consul-container/libs/service/common.go
  test/integration/consul-container/libs/service/connect.go
  test/integration/consul-container/libs/service/helpers.go
Labels: theme/envoy/xds

#15272 fix(mesh-gateway): remove deregistered service from mesh gateway
  .changelog/15272.txt
  agent/proxycfg/mesh_gateway.go
  agent/proxycfg/snapshot.go
Labels: backport/1.13, backport/1.14

#15285 Update api package exported services comment.
  api/config_entry_exports.go
Labels: theme/api, pr/no-changelog, backport/1.14

#15267 Bring back parameter ServerExternalAddresses in GenerateToken endpoint
  .changelog/14930.txt
  agent/consul/peering_backend.go
  agent/consul/peering_backend_test.go
  agent/grpc-external/services/peerstream/stream_test.go
  agent/peering_endpoint_test.go
  agent/proxycfg/mesh_gateway.go
  agent/rpc/peering/service.go
  agent/rpc/peering/service_test.go
  agent/rpc/peering/validate.go
  agent/rpc/peering/validate_test.go
  agent/structs/peering.go
  api/peering.go
  api/peering_test.go
  command/peering/generate/generate.go
  command/peering/generate/generate_test.go
  proto/pbpeering/peering.gen.go
  proto/pbpeering/peering.go
  proto/pbpeering/peering.pb.go
  proto/pbpeering/peering.proto
  website/content/api-docs/peering.mdx
  website/content/commands/peering/generate-token.mdx
Labels: type/docs, theme/api, theme/cli, pr/no-changelog, backport/1.14

#15287 Update dns-tools-compare.mdx
  website/content/docs/consul-vs-other/dns-tools-compare.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.13

#15296 Backport of Bring back parameter ServerExternalAddresses in GenerateToken endpoint into release/1.14.x
  .changelog/14930.txt
  agent/consul/peering_backend.go
  agent/consul/peering_backend_test.go
  agent/grpc-external/services/peerstream/stream_test.go
  agent/peering_endpoint_test.go
  agent/proxycfg/mesh_gateway.go
  agent/rpc/peering/service.go
  agent/rpc/peering/service_test.go
  agent/rpc/peering/validate.go
  agent/rpc/peering/validate_test.go
  agent/structs/peering.go
  api/peering.go
  api/peering_test.go
  command/peering/generate/generate.go
  command/peering/generate/generate_test.go
  proto/pbpeering/peering.gen.go
  proto/pbpeering/peering.go
  proto/pbpeering/peering.pb.go
  proto/pbpeering/peering.proto
  website/content/api-docs/peering.mdx
  website/content/commands/peering/generate-token.mdx
Labels: type/docs, theme/api, theme/cli

#15024 chore: remove unused argument from `MergeNodeServiceWithCentralConfig`
  agent/configentry/merge_service_config.go
  agent/consul/catalog_endpoint.go
  agent/consul/health_endpoint.go
  agent/grpc-external/services/dataplane/get_envoy_bootstrap_params.go
  agent/proxycfg-sources/catalog/config_source.go
Labels: pr/no-changelog

#15242 docs: fix links in ent-license faq
  website/content/docs/enterprise/license/faq.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test

#15304 Log Warnings When Peering With Mesh Gateway Mode None
  agent/proxycfg/connect_proxy.go
Labels: pr/no-changelog, backport/1.14

#15302 update config defaults, add docs
  .changelog/15302.txt
  agent/config/builder.go
  agent/config/default.go
  agent/config/runtime_oss_test.go
  agent/config/runtime_test.go
  api/agent_test.go
  api/connect_ca_test.go
  website/content/docs/agent/config/config-files.mdx
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs, theme/config

#15311 Add description for anon token policy
  website/content/docs/k8s/deployment-configurations/multi-cluster/vms-and-kubernetes.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#15317 update ACLs for cluster peering
  .changelog/15317.txt
  acl/acl.go
  agent/consul/prepared_query_endpoint_test.go
  agent/structs/aclfilter/filter.go
  agent/structs/aclfilter/filter_test.go
  agent/structs/structs.go
  agent/structs/structs_test.go
Labels: backport/1.14

#15319 Add peering incompatibility warning to upgrade docs.
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs, pr/no-changelog, backport/1.14

#15323 Backport of update config defaults, add docs into release/1.14.x
  .changelog/15302.txt
  agent/config/builder.go
  agent/config/default.go
  agent/config/runtime_oss_test.go
  agent/config/runtime_test.go
  api/agent_test.go
  api/connect_ca_test.go
  website/content/docs/agent/config/config-files.mdx
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs, theme/config

#15328 [OSS] fix: wait and try longer to peer through mesh gw
  agent/consul/leader_peering_test.go
  agent/consul/peering_backend.go
  agent/consul/peering_backend_test.go
  agent/rpc/peering/service.go
  agent/rpc/peering/service_test.go
Labels: pr/no-changelog, pr/no-metrics-test, backport/1.14

#15183 Add test coverage comments to PRs
  .circleci/config.yml
  .github/.gitattributes
  .github/go_test_coverage.txt
Labels: type/ci, pr/no-changelog, pr/no-metrics-test

#15341 Revert "Add test coverage comments to PRs"
  .circleci/config.yml
  .github/.gitattributes
  .github/go_test_coverage.txt
Labels: type/ci, theme/contributing, pr/no-changelog

#15339 Prevent serving TLS via ports.grpc
  .changelog/15339.txt
  agent/agent.go
  agent/config/builder.go
  agent/config/builder_test.go
  website/content/docs/agent/config/config-files.mdx
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs, theme/config, backport/1.14

#15320 connect: strip port from DNS SANs for ingress gateway leaf cert
  .changelog/15320.txt
  agent/connect/csr.go
  agent/connect/csr_test.go
Labels: backport/1.12, backport/1.13, backport/1.14

#15347 Fixup authz for data imported from peers
  acl/authorizer_oss.go
  acl/policy_authorizer.go
  acl/policy_authorizer_test.go
  agent/consul/acl.go
  agent/consul/catalog_endpoint.go
  agent/consul/filter.go
  agent/consul/health_endpoint.go
  agent/consul/internal_endpoint.go
  agent/consul/state/catalog_events.go
  agent/proxycfg-glue/exported_peered_services.go
  agent/proxycfg-glue/internal_service_dump.go
  agent/structs/aclfilter/filter_test.go
  agent/structs/structs.go
  agent/structs/structs_oss.go
  agent/structs/structs_test.go
Labels: theme/acls, pr/no-changelog, backport/1.14

#15351 ent changelog for peer in virtual dns queries
  .changelog/_3557.txt
Labels: pr/no-changelog, backport/1.14

#15356 Ensure that NodeDump imported nodes are filtered
  .changelog/15356.txt
  agent/structs/aclfilter/filter.go
  agent/structs/aclfilter/filter_test.go
  agent/structs/structs_oss.go
Labels: backport/1.13, backport/1.14

#15340 docs(peering): remove beta references
  .github/go_test_coverage.txt
  website/content/docs/architecture/index.mdx
  website/content/docs/connect/cluster-peering/create-manage-peering.mdx
  website/content/docs/connect/cluster-peering/index.mdx
  website/content/docs/connect/cluster-peering/k8s.mdx
  website/content/docs/connect/gateways/mesh-gateway/service-to-service-traffic-peers.mdx
Labels: type/docs, pr/no-changelog, pr/no-metrics-test, backport/1.14

#15361 Remove unnecessary default test config.
  test/integration/connect/envoy/consul-base-cfg/peering_server.hcl
  test/integration/connect/envoy/run-tests.sh
Labels: pr/no-changelog, backport/1.14

#14132 Leadership transfer cmd
  .changelog/14132.txt
  acl/MockAuthorizer.go
  acl/authorizer_test.go
  acl/errors_test.go
  agent/agent.go
  agent/consul/operator_backend.go
  agent/consul/operator_backend_test.go
  agent/consul/operator_raft_endpoint.go
  agent/consul/server.go
  agent/http_register.go
  agent/operator_endpoint.go
  agent/rpc/operator/service.go
  agent/rpc/operator/service_test.go
  api/operator_raft.go
  api/operator_raft_test.go
  command/operator/raft/transferleader/transfer_leader.go
  command/operator/raft/transferleader/transfer_leader_test.go
  command/registry.go
  proto/pboperator/operator.gen.go
  proto/pboperator/operator.pb.binary.go
  proto/pboperator/operator.pb.go
  proto/pboperator/operator.proto
  proto/pboperator/operator_grpc.pb.go
  website/content/api-docs/operator/raft.mdx
  website/content/commands/operator/raft.mdx
Labels: type/docs, theme/api, theme/cli

#15362 Backport of docs(peering): remove beta references into release/1.14.x
  .github/go_test_coverage.txt
  website/content/docs/architecture/index.mdx
  website/content/docs/connect/cluster-peering/create-manage-peering.mdx
  website/content/docs/connect/cluster-peering/index.mdx
  website/content/docs/connect/cluster-peering/k8s.mdx
  website/content/docs/connect/gateways/mesh-gateway/service-to-service-traffic-peers.mdx
Labels: type/docs, theme/contributing

#15343 Fixes broken links
  website/content/docs/connect/config-entries/service-resolver.mdx
Labels: type/docs, pr/no-changelog, pr/no-metrics-test, backport/1.11, backport/1.12, backport/1.13, backport/1.14

#15370 auto-config: relax node name validation for JWT authorization
  .changelog/15370.txt
  agent/config/builder.go
  agent/consul/auto_config_endpoint.go
  website/content/docs/agent/config/cli-flags.mdx
Labels: type/docs, theme/config, backport/1.13, backport/1.14

#15383 Derekm/release updates
  .changelog/14679.txt
  .changelog/_3557.txt
  CHANGELOG.md
  api/go.mod
  go.mod
  proto-public/go.mod
  proto-public/go.sum
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
  version/version.go
Labels: theme/api, pr/dependencies

#15382 Consul 1.14 post-release updates
  .changelog/14679.txt
  .changelog/_3557.txt
  CHANGELOG.md
  api/go.mod
  go.mod
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
Labels: pr/no-changelog

#15381 integ-test: remove unnecessary step since connection is already via mgw
  test/integration/connect/envoy/case-cross-peer-control-plane-mgw/alpha/verify.bats
Labels: pr/no-changelog, backport/1.14

#15388 docs: helm docs for consul-k8s 0.49.1
  website/content/docs/k8s/helm.mdx
Labels: type/docs

#15389 docs: update compatibility matrix
  website/content/docs/k8s/compatibility.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.13, backport/1.14

#15395 Fix issue with formatting in upgrade notes.
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.14

#15396 docs: make the h1 title consistent with the page_title
  website/content/docs/connect/gateways/mesh-gateway/wan-federation-via-mesh-gateways.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.14

#15408 Include addresses.grpc_tls in upgrade docs.
  website/content/docs/agent/config/config-files.mdx
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.14

#15394 fix: clarifying error message when acquiring a lock in remote dc
  agent/session_endpoint.go
  website/content/commands/lock.mdx
Labels: type/docs, pr/no-changelog, backport/1.12, backport/1.13, backport/1.14

#15397 docs: add nomad incompatibility to 1.14 docs
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.14

#15419 Backport of docs: add nomad incompatibility to 1.14 docs into release/1.14.x
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs

#15422 Update guidance for vault PKI CA provider
  website/content/docs/connect/ca/vault.mdx
  website/content/docs/k8s/connect/connect-ca-provider.mdx
  website/content/docs/k8s/deployment-configurations/vault/data-integration/connect-ca.mdx
Labels: type/docs, pr/no-changelog

#15253 Detect Vault 1.11+ import, update default issuer
  .changelog/15253.txt
  agent/connect/ca/provider_vault.go
  agent/connect/ca/provider_vault_test.go
Labels: theme/connect, theme/consul-vault, backport/1.12, backport/1.13, backport/1.14

#15400 docs: Consul K8s 1.0/Consul 1.14 GA Compat Matrix change
  website/content/docs/k8s/compatibility.mdx
Labels: type/docs-cherrypick, pr/no-changelog, backport/1.14

#15369 docs: Include env vars in consul-dataplane reference
  website/content/docs/connect/dataplane/consul-dataplane.mdx
  website/content/docs/connect/dataplane/index.mdx
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test

#15398 Update licensing docs to account for virtual agents.
  website/content/docs/enterprise/license/overview.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.14

#15432 Detect Vault 1.11+ import, update default issuer (#15253)
  .changelog/15253.txt
  agent/connect/ca/provider_vault.go
  agent/connect/ca/provider_vault_test.go
Labels: theme/connect

#15436 Detect Vault 1.11+ import, update default issuer (#15253)
  .changelog/15253.txt
  agent/connect/ca/provider_vault.go
  agent/connect/ca/provider_vault_test.go
Labels: theme/connect

#15443 generate helm docs
  website/content/docs/k8s/helm.mdx
Labels: type/docs, pr/no-changelog, backport/1.14

#15412 Improve language on 1.14 upgrade instructions.
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.14

#15446 Backport of Improve language on 1.14 upgrade instructions. into release/1.14.x
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs

#15428 docs: Update admin-partitions.mdx
  website/content/docs/enterprise/admin-partitions.mdx
Labels: type/docs, pr/no-changelog, backport/1.14

#15449 Backport of docs: Update admin-partitions.mdx into release/1.14.x
  website/content/docs/enterprise/admin-partitions.mdx
Labels: type/docs

#15015 Update docs for the release of Consul API Gateway v0.5
  website/content/docs/api-gateway/configuration/gatewayclass.mdx
  website/content/docs/api-gateway/configuration/gatewayclassconfig.mdx
  website/content/docs/api-gateway/configuration/meshservice.mdx
  website/content/docs/api-gateway/install.mdx
  website/content/docs/api-gateway/tech-specs.mdx
  website/content/docs/api-gateway/usage/errors.mdx
  website/content/docs/api-gateway/usage/reroute-http-requests.mdx
  website/content/docs/api-gateway/usage/route-to-peered-services.mdx
  website/content/docs/api-gateway/usage/usage.mdx
  website/content/docs/k8s/helm.mdx
  website/content/docs/release-notes/consul-api-gateway/v0_5_x.mdx
  website/data/docs-nav-data.json
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.13

#15437 Detect Vault 1.11+ import, update default issuer (#15253)
  .changelog/15253.txt
  agent/connect/ca/provider_vault.go
  agent/connect/ca/provider_vault_test.go
Labels: theme/connect

#15451 Backport of Update docs for the release of Consul API Gateway v0.5 into release/1.14.x
  website/content/docs/api-gateway/configuration/meshservice.mdx
  website/content/docs/api-gateway/usage/errors.mdx
  website/content/docs/api-gateway/usage/reroute-http-requests.mdx
  website/content/docs/api-gateway/usage/route-to-peered-services.mdx
  website/content/docs/api-gateway/usage/usage.mdx
  website/data/docs-nav-data.json
Labels: type/docs

#15423 Fix SDK to support older versions of Consul.
  .changelog/15423.txt
  api/go.mod
  api/go.sum
  sdk/go.mod
  sdk/go.sum
  sdk/testutil/server.go
Labels: theme/api, backport/1.14

#15452 Backport of Update docs for the release of Consul API Gateway v0.5 into release/1.13.x
  website/content/docs/api-gateway/configuration/gatewayclass.mdx
  website/content/docs/api-gateway/configuration/gatewayclassconfig.mdx
  website/content/docs/api-gateway/configuration/meshservice.mdx
  website/content/docs/api-gateway/install.mdx
  website/content/docs/api-gateway/tech-specs.mdx
  website/content/docs/api-gateway/usage/errors.mdx
  website/content/docs/api-gateway/usage/reroute-http-requests.mdx
  website/content/docs/api-gateway/usage/route-to-peered-services.mdx
  website/content/docs/api-gateway/usage/usage.mdx
  website/content/docs/k8s/helm.mdx
  website/content/docs/release-notes/consul-api-gateway/v0_5_x.mdx
  website/data/docs-nav-data.json
Labels: type/docs

#15459 Fix SDK to support older versions of Consul. (#15423)
  .changelog/15423.txt
  api/go.sum
  sdk/go.mod
  sdk/go.sum
  sdk/testutil/server.go
Labels: theme/api

#15463 docs: include upgrade path to 1.14
  website/content/docs/upgrading/instructions/index.mdx
Labels: type/docs, type/docs-cherrypick

#15466 Fix issue with connect Envoy choosing incorrect TLS settings.
  .changelog/15466.txt
  api/api.go
  command/connect/envoy/envoy.go
  command/connect/envoy/envoy_test.go
  command/connect/envoy/testdata/CONSUL_GRPC_ADDR-with-https-scheme-enables-tls.golden
  command/connect/envoy/testdata/CONSUL_HTTP_ADDR-with-https-scheme-does-not-affect-grpc-tls.golden
  command/connect/envoy/testdata/both-CONSUL_HTTP_ADDR-PLAIN-and-CONSUL_GRPC_ADDR-TLS-is-tls.golden
  command/connect/envoy/testdata/both-CONSUL_HTTP_ADDR-TLS-and-CONSUL_GRPC_ADDR-PLAIN-is-plain.golden
  website/content/commands/connect/envoy.mdx
Labels: theme/api, theme/cli, backport/1.14

#15469 Add Consul 1.14.0 known issue.
  CHANGELOG.md
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs-cherrypick, pr/no-changelog, backport/1.14

#15366 docs(peering): peering GA ACL updates
  website/content/docs/connect/cluster-peering/create-manage-peering.mdx
  website/content/docs/connect/cluster-peering/index.mdx
  website/content/docs/connect/config-entries/exported-services.mdx
  website/content/docs/connect/gateways/mesh-gateway/peering-via-mesh-gateways.mdx
  website/content/docs/connect/gateways/mesh-gateway/service-to-service-traffic-partitions.mdx
  website/content/docs/connect/gateways/mesh-gateway/service-to-service-traffic-peers.mdx
  website/content/docs/connect/gateways/mesh-gateway/service-to-service-traffic-wan-datacenters.mdx
  website/content/docs/connect/gateways/mesh-gateway/wan-federation-via-mesh-gateways.mdx
  website/content/docs/security/acl/acl-rules.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test

#15477 docs: clarify -retry-max
  website/content/docs/agent/config/cli-flags.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#15483 Backport of docs: Core 1.14 and K8s 1.0 release notes into release/1.14.x
  website/content/docs/release-notes/consul-k8s/v1_0_x.mdx
  website/content/docs/release-notes/consul/v1_14_x.mdx
  website/data/docs-nav-data.json
Labels: type/docs

#15484 docs: formatting release notes
  website/content/docs/release-notes/consul-k8s/v1_0_x.mdx
Labels: type/docs-cherrypick, pr/no-changelog

#15203 docs: clarify TLS cipher suite config
  website/content/docs/agent/config/config-files.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test, backport/1.13, backport/1.14

#15081 docs: remove unnecessary ent label
  website/content/docs/upgrading/instructions/upgrade-to-1-10-x.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test, backport/1.11, backport/1.12, backport/1.13

#14465 Support RFC 2782 SRV lookups for prepared queries
  .changelog/14465.txt
  agent/dns.go
  agent/dns_test.go
  website/content/docs/discovery/dns.mdx
Labels: type/docs

#15500 Add -grpc-ca-file and -grpc-ca-path CLI info on upgrade notes.
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs, pr/no-changelog, backport/1.14

#15513 Backport 1.14.1 changes
  CHANGELOG.md
  api/go.mod
  go.mod
  test/integration/consul-container/go.mod
  version/version.go
Labels: theme/api, pr/dependencies

#15514 Add 1.14.1 release updates.
  CHANGELOG.md
  api/go.mod
  go.mod
  test/integration/consul-container/go.mod
Labels: theme/api, pr/dependencies, pr/no-changelog

#15518 Release 1.14.1 stable-website sync
  .changelog/14679.txt
  .changelog/15423.txt
  .changelog/15466.txt
  .circleci/config.yml
  CHANGELOG.md
  agent/session_endpoint.go
  api/api.go
  api/go.mod
  api/go.sum
  command/connect/envoy/envoy.go
  command/connect/envoy/envoy_test.go
  command/connect/envoy/testdata/CONSUL_GRPC_ADDR-with-https-scheme-enables-tls.golden
  command/connect/envoy/testdata/CONSUL_HTTP_ADDR-with-https-scheme-does-not-affect-grpc-tls.golden
  command/connect/envoy/testdata/both-CONSUL_HTTP_ADDR-PLAIN-and-CONSUL_GRPC_ADDR-TLS-is-tls.golden
  command/connect/envoy/testdata/both-CONSUL_HTTP_ADDR-TLS-and-CONSUL_GRPC_ADDR-PLAIN-is-plain.golden
  go.mod
  go.sum
  proto-public/go.mod
  proto-public/go.sum
  sdk/go.mod
  sdk/go.sum
  sdk/testutil/server.go
  test/integration/connect/envoy/case-cross-peer-control-plane-mgw/alpha/verify.bats
  test/integration/consul-container/go.mod
  version/version.go
  website/content/commands/connect/envoy.mdx
  website/content/commands/lock.mdx
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs, theme/api, theme/cli, type/ci, pr/dependencies

#15487 docs: add retry_max agent config option
  website/content/docs/agent/config/config-files.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#15519 Fix typo in cluster peering docs
  website/content/docs/connect/cluster-peering/create-manage-peering.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.14

#15524 Backport of Fix typo in cluster peering docs into release/1.14.x
  website/content/docs/connect/cluster-peering/create-manage-peering.mdx
Labels: type/docs

#15516 Add changelog for snapshot agent updates
  .changelog/_3556.txt
Labels: pr/no-changelog, pr/no-docs, backport/1.14

#15504 Snapshot agent S3 doc updates
  website/content/commands/snapshot/agent.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.14

#15541 Use rpcHoldTimeout to calculate blocking timeout
  .changelog/15541.txt
  agent/consul/client_test.go
  agent/pool/pool.go
  agent/setup.go
Labels: backport/1.12, backport/1.13, backport/1.14

#15546 Use backport-compatible assertion
  .circleci/config.yml
  agent/consul/client_test.go
Labels: theme/connect, pr/no-changelog, backport/1.12, backport/1.13, backport/1.14

#15526 docs/peering/k8s: update docs with mesh and proxydefaults config
  website/content/docs/connect/cluster-peering/k8s.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.14

#15554 [OSS] Add boilerplate for proto files implementing BlockableQuery
  .changelog/_3729.txt
  internal/tools/proto-gen-rpc-glue/main.go
Labels: pr/no-changelog, backport/1.12, backport/1.13, backport/1.14

#15498 docs: add peering control plane diagrams
  website/content/docs/connect/gateways/mesh-gateway/peering-via-mesh-gateways.mdx
  website/public/img/consul-connect/mesh-gateway/cluster-peering-connectivity-with-mesh-gateways.png
  website/public/img/consul-connect/mesh-gateway/cluster-peering-connectivity-with-mesh-gateways.svg
  website/public/img/consul-connect/mesh-gateway/cluster-peering-connectivity-without-mesh-gateways.png
  website/public/img/consul-connect/mesh-gateway/cluster-peering-connectivity-without-mesh-gateways.svg
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#14839 [OSS] chore(ci): update backport-assistant to use gh automerge
  .github/workflows/backport-assistant.yml
Labels: theme/contributing, pr/no-changelog, pr/no-metrics-test, backport/1.12, backport/1.13, backport/1.14

#15570 Backport of [OSS] chore(ci): update backport-assistant to use gh automerge into release/1.12.x
  .github/workflows/backport-assistant.yml
Labels: theme/contributing

#15572 Backport of [OSS] chore(ci): update backport-assistant to use gh automerge into release/1.14.x
  .github/workflows/backport-assistant.yml
Labels: theme/contributing

#15571 Backport of [OSS] chore(ci): update backport-assistant to use gh automerge into release/1.13.x
  .github/workflows/backport-assistant.yml
Labels: theme/contributing

#15525 Fix Vault managed intermediate PKI bug
  .changelog/15525.txt
  agent/connect/ca/provider_vault.go
  agent/connect/ca/provider_vault_test.go
Labels: theme/connect, theme/consul-vault, backport/1.12, backport/1.13, backport/1.14

#15573 docs: Update Consul K8s Release Notes to mention updates to Cluster Peering
  website/content/docs/release-notes/consul-k8s/v1_0_x.mdx
  website/content/docs/release-notes/consul/v1_14_x.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#15581 Backport of docs: Update Consul K8s Release Notes to mention updates to Cluster Peering into stable-website
  website/content/docs/release-notes/consul-k8s/v1_0_x.mdx
  website/content/docs/release-notes/consul/v1_14_x.mdx
Labels: type/docs

#15582 Backport of docs: Update Consul K8s Release Notes to mention updates to Cluster Peering into release/1.14.x
  website/content/docs/release-notes/consul-k8s/v1_0_x.mdx
  website/content/docs/release-notes/consul/v1_14_x.mdx
Labels: type/docs

#15577 Backport of Fix Vault managed intermediate PKI bug into release/1.12.x
  .changelog/15525.txt
  agent/connect/ca/provider_vault.go
  agent/connect/ca/provider_vault_test.go
Labels: theme/connect

#15578 Backport of Fix Vault managed intermediate PKI bug into release/1.13.x
  .changelog/15525.txt
  agent/connect/ca/provider_vault.go
  agent/connect/ca/provider_vault_test.go
Labels: theme/connect

#15503 fix(peering): increase the gRPC limit to 8MB
  .changelog/15503.txt
  agent/consul/leader_peering.go
  agent/grpc-internal/client.go
  website/content/docs/connect/cluster-peering/index.mdx
Labels: type/docs-cherrypick, backport/1.14

#15580 docs: Fix language to describe clients previously ran on each node
  website/content/docs/connect/dataplane/index.mdx
  website/content/docs/k8s/architecture.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#15589 Backport of fix(peering): increase the gRPC limit to 8MB into release/1.14.x
  .changelog/15503.txt
  agent/consul/leader_peering.go
  agent/grpc-internal/client.go
  website/content/docs/connect/cluster-peering/index.mdx
Labels: type/docs

#15590 Backport of docs: Fix language to describe clients previously ran on each node into stable-website
  website/content/docs/connect/dataplane/index.mdx
  website/content/docs/k8s/architecture.mdx
Labels: type/docs

#15591 Backport of docs: Fix language to describe clients previously ran on each node into release/1.14.x
  website/content/docs/connect/dataplane/index.mdx
  website/content/docs/k8s/architecture.mdx
Labels: type/docs

#15562 docs: clarify envoy proxy configuration
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#15579 Backport of Fix Vault managed intermediate PKI bug into release/1.14.x
  .changelog/15525.txt
  agent/connect/ca/provider_vault.go
  agent/connect/ca/provider_vault_test.go
Labels: theme/connect

#15593 Backport of docs: clarify envoy proxy configuration into stable-website
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs

#15596 Add peering `.service` and `.node` DNS lookups.
  .changelog/15596.txt
  agent/dns.go
  agent/dns_oss.go
  agent/dns_oss_test.go
Labels: backport/1.14

#15592 docs: Clean up k8s cluster peering instructions
  website/content/docs/connect/cluster-peering/k8s.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#15600 Backport of docs: Clean up k8s cluster peering instructions into stable-website
  website/content/docs/connect/cluster-peering/k8s.mdx
Labels: type/docs

#15601 Backport of docs: Clean up k8s cluster peering instructions into release/1.14.x
  website/content/docs/connect/cluster-peering/k8s.mdx
Labels: type/docs

#15602 docs: typo on cluster peering k8s
  website/content/docs/connect/cluster-peering/k8s.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#15603 Backport of docs: typo on cluster peering k8s into stable-website
  website/content/docs/connect/cluster-peering/k8s.mdx
Labels: type/docs

#15604 Backport of docs: typo on cluster peering k8s into release/1.14.x
  website/content/docs/connect/cluster-peering/k8s.mdx
Labels: type/docs

#14727 Fix AWS IAM trusted identity entity_tags.<key>
  website/content/docs/security/acl/auth-methods/aws-iam.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test

#14340 Add support for configuring Envoys route idle_timeout
  .changelog/14340.txt
  agent/config/runtime_test.go
  agent/proxycfg/testing_upstreams.go
  agent/structs/config_entry_discoverychain.go
  agent/structs/config_entry_test.go
  agent/xds/config.go
  agent/xds/config_test.go
  agent/xds/listeners.go
  agent/xds/listeners_test.go
  agent/xds/routes.go
  agent/xds/testdata/listeners/http-listener-with-timeouts.latest.golden
  agent/xds/testdata/routes/connect-proxy-with-chain-and-router.latest.golden
  agent/xds/testdata/routes/ingress-with-chain-and-router-header-manip.latest.golden
  agent/xds/testdata/routes/ingress-with-chain-and-router.latest.golden
  api/config_entry_discoverychain.go
  api/config_entry_test.go
  command/helpers/helpers_test.go
  website/content/docs/connect/config-entries/service-router.mdx
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, theme/api, theme/cli, theme/config, theme/envoy/xds, meta/staleproof, backport/1.14

#15610 Remove log line about server mgmt token init
  .changelog/15610.txt
  agent/consul/acl_server.go
Labels: backport/1.14

#15529 Backport of Snapshot agent S3 doc updates into release/1.14.x
  website/content/commands/snapshot/agent.mdx
Labels: type/docs

#15605 Backport of Fix AWS IAM trusted identity entity_tags.<key> into stable-website
  website/content/docs/security/acl/auth-methods/aws-iam.mdx
Labels: type/docs

#15606 Backport of Fix AWS IAM trusted identity entity_tags.<key> into release/1.14.x
  website/content/docs/security/acl/auth-methods/aws-iam.mdx
Labels: type/docs

#15609 Backport of docs: Update acl-tokens.mdx into release/1.14.x
  website/content/docs/security/acl/acl-tokens.mdx
Labels: type/docs

#15615 peering: better represent non-passing states during peer check flattening
  .changelog/15615.txt
  agent/grpc-external/services/peerstream/subscription_manager.go
  agent/grpc-external/services/peerstream/subscription_manager_test.go
Labels: theme/cluster-peering, backport/1.13, backport/1.14

#15555 ui: Add ServerExternalAddresses to peer token create form
  .changelog/15555.txt
  ui/packages/consul-peerings/app/components/consul/peer/form/generate/fieldsets/index.hbs
  ui/packages/consul-peerings/app/components/consul/peer/form/generate/fieldsets/index.js
  ui/packages/consul-peerings/app/components/consul/peer/form/generate/index.hbs
  ui/packages/consul-peerings/app/components/consul/peer/form/index.hbs
  ui/packages/consul-ui/app/models/peer.js
  ui/packages/consul-ui/app/services/repository/peer.js
  ui/packages/consul-ui/tests/acceptance/dc/peers/create.feature
  ui/packages/consul-ui/translations/common/en-us.yaml
  ui/packages/consul-ui/translations/components/consul/en-us.yaml
Labels: theme/ui, backport/1.14

#15620 Backport of ui: Add ServerExternalAddresses to peer token create form into release/1.14.x
  .changelog/15555.txt
  ui/packages/consul-peerings/app/components/consul/peer/form/generate/fieldsets/index.hbs
  ui/packages/consul-peerings/app/components/consul/peer/form/generate/fieldsets/index.js
  ui/packages/consul-peerings/app/components/consul/peer/form/generate/index.hbs
  ui/packages/consul-peerings/app/components/consul/peer/form/index.hbs
  ui/packages/consul-ui/app/models/peer.js
  ui/packages/consul-ui/app/services/repository/peer.js
  ui/packages/consul-ui/tests/acceptance/dc/peers/create.feature
  ui/packages/consul-ui/translations/common/en-us.yaml
  ui/packages/consul-ui/translations/components/consul/en-us.yaml
Labels: theme/ui

#15621 added changelog for enterprise only change
  .changelog/_3783.txt
Labels: pr/no-changelog, backport/1.12, backport/1.13, backport/1.14

#15625 docs: fix typos helm install
  website/content/docs/k8s/compatibility.mdx
  website/content/docs/k8s/installation/install.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#15630 Backport of docs: fix typos helm install into release/1.14.x
  website/content/docs/k8s/compatibility.mdx
  website/content/docs/k8s/installation/install.mdx
Labels: type/docs

#15629 Backport of docs: fix typos helm install into stable-website
  website/content/docs/k8s/compatibility.mdx
  website/content/docs/k8s/installation/install.mdx
Labels: type/docs

#15613 CHANGELOG: add alpn config for ingress and connect proxy
  CHANGELOG.md
Labels: pr/no-changelog, backport/1.14
