Repository hashicorp/consul, pull requests merged in 2022-09, with the labels that each got.

#13998 Add new envoy tracing configuration
  .changelog/13998.txt
  agent/xds/config.go
  agent/xds/listeners.go
  agent/xds/listeners_test.go
  agent/xds/testdata/listeners/custom-trace-listener.latest.golden
  website/content/docs/connect/proxies/envoy.mdx
Labels: theme/envoy/xds, backport/1.13

#14439 Add Internal.ServiceDump support for querying by PeerName
  agent/consul/internal_endpoint.go
  agent/ui_endpoint.go
Labels: pr/no-changelog, backport/1.13

#14430 ui: chore upgrade to ember-qunit v5
  ui/packages/consul-ui/package.json
  ui/packages/consul-ui/tests/acceptance/dc/services/show-routing.feature
  ui/packages/consul-ui/tests/acceptance/submit-blank.feature
  ui/packages/consul-ui/tests/index.html
  ui/packages/consul-ui/tests/integration/components/data-source-test.js
  ui/packages/consul-ui/tests/integration/services/repository/auth-method-test.js
  ui/packages/consul-ui/tests/integration/services/repository/coordinate-test.js
  ui/packages/consul-ui/tests/integration/services/repository/dc-test.js
  ui/packages/consul-ui/tests/integration/services/repository/discovery-chain-test.js
  ui/packages/consul-ui/tests/integration/services/repository/kv-test.js
  ui/packages/consul-ui/tests/integration/services/repository/node-test.js
  ui/packages/consul-ui/tests/integration/services/repository/policy-test.js
  ui/packages/consul-ui/tests/integration/services/repository/role-test.js
  ui/packages/consul-ui/tests/integration/services/repository/service-test.js
  ui/packages/consul-ui/tests/integration/services/repository/session-test.js
  ui/packages/consul-ui/tests/integration/services/repository/token-test.js
  ui/packages/consul-ui/tests/integration/services/repository/topology-test.js
  ui/packages/consul-ui/tests/integration/services/routlet-test.js
  ui/packages/consul-ui/tests/integration/utils/dom/event-source/callable-test.js
  ui/packages/consul-ui/tests/steps/interactions/form.js
  ui/packages/consul-ui/tests/test-helper.js
  ui/packages/consul-ui/tests/unit/adapters/application-test.js
  ui/packages/consul-ui/tests/unit/mixins/with-blocking-actions-test.js
  ui/packages/consul-ui/tests/unit/routes/dc-test.js
  ui/packages/consul-ui/tests/unit/serializers/application-test.js
  ui/packages/consul-ui/tests/unit/serializers/kv-test.js
  ui/packages/consul-ui/tests/unit/utils/ascend-test.js
  ui/packages/consul-ui/tests/unit/utils/atob-test.js
  ui/packages/consul-ui/tests/unit/utils/btoa-test.js
  ui/packages/consul-ui/tests/unit/utils/dom/closest-test.js
  ui/packages/consul-ui/tests/unit/utils/dom/create-listeners-test.js
  ui/packages/consul-ui/tests/unit/utils/dom/event-source/blocking-test.js
  ui/packages/consul-ui/tests/unit/utils/dom/event-source/cache-test.js
  ui/packages/consul-ui/tests/unit/utils/dom/event-source/callable-test.js
  ui/packages/consul-ui/tests/unit/utils/dom/event-source/openable-test.js
  ui/packages/consul-ui/tests/unit/utils/http/create-url-test.js
  ui/packages/consul-ui/tests/unit/utils/isFolder-test.js
  ui/packages/consul-ui/tests/unit/utils/keyToArray-test.js
  ui/packages/consul-ui/tests/unit/utils/left-trim-test.js
  ui/packages/consul-ui/tests/unit/utils/promisedTimeout-test.js
  ui/packages/consul-ui/tests/unit/utils/right-trim-test.js
  ui/packages/consul-ui/tests/unit/utils/routing/walk-test.js
  ui/packages/consul-ui/tests/unit/utils/ucfirst-test.js
  ui/yarn.lock
Labels: theme/ui, pr/no-changelog

#14238 Add additional parameters to envoy passive health check config
  .changelog/14238.txt
  agent/consul/config_endpoint_test.go
  agent/structs/config_entry.go
  agent/structs/config_entry_test.go
  agent/structs/testing_connect_proxy_config.go
  agent/xds/clusters_test.go
  agent/xds/config.go
  agent/xds/testdata/clusters/custom-passive-healthcheck.latest.golden
  api/config_entry.go
  website/content/docs/connect/config-entries/service-defaults.mdx
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, theme/api, theme/envoy/xds, backport/1.12, backport/1.13

#14442 docs: minor changes to cluster peering k8s docs and typos
  website/content/docs/connect/cluster-peering/k8s.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test

#14343 ui: Use credentials for all HTTP API requests
  .changelog/14343.txt
  ui/packages/consul-ui/app/services/client/http.js
  ui/packages/consul-ui/app/utils/http/xhr.js
Labels: theme/ui

#14417 ui: Adds a HCP home link when in HCP
  ui/packages/consul-hcp/app/components/consul/hcp/home/index.hbs
  ui/packages/consul-hcp/app/components/consul/hcp/home/index.scss
  ui/packages/consul-hcp/vendor/consul-hcp/services.js
  ui/packages/consul-ui/app/components/hashicorp-consul/index.hbs
  ui/packages/consul-ui/app/components/main-nav-vertical/index.scss
  ui/packages/consul-ui/app/styles/base/icons/icons/index.scss
  ui/packages/consul-ui/app/styles/components.scss
  ui/packages/consul-ui/vendor/consul-ui/services.js
Labels: theme/ui, pr/no-changelog

#14339 [docs] update docs for kube-1.24 support
  website/content/docs/k8s/connect/index.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test

#14435 fix TestProxyConfigEntry
  agent/structs/config_entry_test.go
Labels: pr/no-changelog, backport/1.12, backport/1.13

#14423 [OSS] feat(cli): add initial peering cli commands
  .changelog/14423.txt
  command/flags/http.go
  command/peering/delete/delete.go
  command/peering/delete/delete_test.go
  command/peering/establish/establish.go
  command/peering/establish/establish_test.go
  command/peering/generate/generate.go
  command/peering/generate/generate_test.go
  command/peering/list/list.go
  command/peering/list/list_test.go
  command/peering/peering.go
  command/peering/read/read.go
  command/peering/read/read_test.go
  command/registry.go
  testrpc/wait.go
  website/content/api-docs/peering.mdx
  website/content/commands/index.mdx
  website/content/commands/peering/delete.mdx
  website/content/commands/peering/establish.mdx
  website/content/commands/peering/generate-token.mdx
  website/content/commands/peering/index.mdx
  website/content/commands/peering/list.mdx
  website/content/commands/peering/read.mdx
  website/content/docs/connect/cluster-peering/create-manage-peering.mdx
  website/data/commands-nav-data.json
Labels: type/docs, theme/cli, backport/1.13

#14459 update helm docs for release 0.48.0
  website/content/docs/k8s/helm.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test

#14462 docs: CNI Plugin docs backport
  website/content/docs/connect/transparent-proxy.mdx
  website/content/docs/k8s/deployment-configurations/clients-outside-kubernetes.mdx
  website/content/docs/k8s/deployment-configurations/consul-enterprise.mdx
  website/content/docs/k8s/deployment-configurations/multi-cluster/index.mdx
  website/content/docs/k8s/deployment-configurations/multi-cluster/kubernetes.mdx
  website/content/docs/k8s/deployment-configurations/multi-cluster/vms-and-kubernetes.mdx
  website/content/docs/k8s/deployment-configurations/servers-outside-kubernetes.mdx
  website/content/docs/k8s/deployment-configurations/single-dc-multi-k8s.mdx
  website/content/docs/k8s/deployment-configurations/vault/data-integration/bootstrap-token.mdx
  website/content/docs/k8s/deployment-configurations/vault/data-integration/connect-ca.mdx
  website/content/docs/k8s/deployment-configurations/vault/data-integration/enterprise-license.mdx
  website/content/docs/k8s/deployment-configurations/vault/data-integration/gossip.mdx
  website/content/docs/k8s/deployment-configurations/vault/data-integration/index.mdx
  website/content/docs/k8s/deployment-configurations/vault/data-integration/partition-token.mdx
  website/content/docs/k8s/deployment-configurations/vault/data-integration/replication-token.mdx
  website/content/docs/k8s/deployment-configurations/vault/data-integration/server-tls.mdx
  website/content/docs/k8s/deployment-configurations/vault/data-integration/snapshot-agent-config.mdx
  website/content/docs/k8s/deployment-configurations/vault/data-integration/webhook-certs.mdx
  website/content/docs/k8s/deployment-configurations/vault/index.mdx
  website/content/docs/k8s/deployment-configurations/vault/systems-integration.mdx
  website/content/docs/k8s/deployment-configurations/vault/wan-federation.mdx
  website/content/docs/k8s/installation/install-cli.mdx
  website/content/docs/k8s/installation/install.mdx
  website/content/docs/k8s/platforms/self-hosted-kubernetes.mdx
  website/data/docs-nav-data.json
  website/redirects.js
Labels: type/docs

#14467 Fix early return in prototest.AssertElementsMatch
  proto/prototest/testing.go
Labels: pr/no-changelog, backport/1.13

#14434 [OSS] fix(api): OSS<->ENT exported service incompatibility
  api/agent_test.go
  api/catalog_test.go
  api/config_entry_discoverychain_test.go
  api/config_entry_exports.go
  api/config_entry_exports_test.go
  api/config_entry_test.go
  api/coordinate_test.go
  api/health_test.go
  api/oss_test.go
  api/txn_test.go
Labels: theme/api, theme/health-checks, pr/no-changelog, pr/no-metrics-test, backport/1.13

#12816 gomodguard net/rpc usage
  .golangci.yml
Labels: pr/no-changelog, pr/no-metrics-test

#14471 fix(txn api): missing proxy config in registering proxy service
  agent/txn_endpoint.go
  agent/txn_endpoint_test.go
  api/catalog.go
  api/health.go
Labels: theme/api, theme/health-checks, pr/no-changelog

#14476 docs: Update single dc multiple k8s clusters doc
  website/content/docs/k8s/deployment-configurations/single-dc-multi-k8s.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.11, backport/1.12

#14429 Prune old expired intermediate certs when appending a new one
  .changelog/14429.txt
  agent/consul/leader_connect_ca.go
  agent/consul/leader_connect_ca_test.go
  agent/consul/leader_connect_test.go
Labels: backport/1.11, backport/1.12, backport/1.13

#14074 ui: Additionally use message for displaying errors in DataWriter
  ui/packages/consul-ui/app/components/data-writer/index.hbs
Labels: theme/ui, pr/no-changelog, backport/1.13

#14342 ui: Add support for prefixing the API path
  ui/packages/consul-ui/app/services/client/http.js
  ui/packages/consul-ui/app/utils/get-environment.js
  ui/packages/consul-ui/config/environment.js
  ui/packages/consul-ui/mock-api/prefixed-api/v1/catalog/.config
  ui/packages/consul-ui/mock-api/prefixed-api/v1/catalog/datacenters
  ui/packages/consul-ui/mock-api/prefixed-api/v1/internal/acl/authorize
  ui/packages/consul-ui/mock-api/prefixed-api/v1/internal/ui/services
  ui/packages/consul-ui/node-tests/config/environment.js
  ui/packages/consul-ui/tests/acceptance/api-prefix.feature
  ui/packages/consul-ui/tests/acceptance/steps/api-prefix-steps.js
  ui/packages/consul-ui/tests/steps.js
  ui/packages/consul-ui/tests/steps/doubles/http.js
Labels: theme/ui, pr/no-changelog

#14474 Add kv txn get-not-exists operation.
  .changelog/14474.txt
  agent/consul/kvs_endpoint.go
  agent/consul/state/txn.go
  agent/consul/state/txn_test.go
  api/txn.go
  website/content/api-docs/txn.mdx
Labels: type/docs, theme/api

#14499 Make `proto-public` a Go module
  go.mod
  proto-public/go.mod
  proto-public/go.sum
Labels: pr/dependencies, pr/no-changelog, pr/no-metrics-test

#14484 docs: small typos in single dc k8s clusters
  website/content/docs/k8s/deployment-configurations/single-dc-multi-k8s.mdx
  website/content/docs/k8s/installation/install.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test

#14485 Add SpiffeID for Consul server agents
  agent/connect/uri.go
  agent/connect/uri_server.go
  agent/connect/uri_signing.go
  agent/connect/uri_signing_test.go
  agent/connect/uri_test.go
  agent/consul/leader_connect_ca.go
  agent/consul/leader_connect_ca_test.go
  agent/structs/connect_ca.go
  proto/pbconnect/connect.gen.go
  proto/pbconnect/connect.pb.go
  proto/pbconnect/connect.proto
Labels: theme/connect, pr/no-changelog

#14057 Move sidecar port assignment logic to locked stage of add flow
  agent/agent.go
  agent/agent_endpoint.go
  agent/agent_test.go
  agent/sidecar_service.go
  agent/sidecar_service_test.go
  agent/structs/structs.go
Labels: pr/no-changelog, backport/1.11, backport/1.12, backport/1.13

#14488 docs: licensing improvements
  website/content/commands/license.mdx
  website/content/docs/agent/config/index.mdx
  website/content/docs/enterprise/license/overview.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test, backport/1.11, backport/1.12

#14510 ui: fix - proper await page object step
  ui/packages/consul-ui/package.json
  ui/packages/consul-ui/tests/acceptance/dc/nodes/show.feature
  ui/packages/consul-ui/tests/acceptance/dc/services/show-routing.feature
  ui/packages/consul-ui/tests/steps/assertions/page.js
  ui/yarn.lock
Labels: theme/ui, pr/no-changelog

#14285 peering: Subscribe to server address changes and push updates to peers
  .changelog/14285.txt
  agent/consul/autopilotevents/mock_StateStore_test.go
  agent/consul/autopilotevents/ready_servers_events.go
  agent/consul/autopilotevents/ready_servers_events_test.go
  agent/grpc-external/services/peerstream/replication.go
  agent/grpc-external/services/peerstream/server.go
  agent/grpc-external/services/peerstream/stream_resources.go
  agent/grpc-external/services/peerstream/stream_test.go
  agent/grpc-external/services/peerstream/subscription_manager.go
  agent/grpc-external/services/peerstream/subscription_manager_test.go
  agent/grpc-external/services/peerstream/subscription_state.go
  proto/pbpeering/peering.pb.binary.go
  proto/pbpeering/peering.pb.go
  proto/pbpeering/peering.proto
  proto/pbpeerstream/types.go
Labels: theme/cluster-peering, backport/1.13

#14489 ui: Use HCPURL / .HCPURL
  ui/packages/consul-hcp/app/components/consul/hcp/home/index.hbs
  ui/packages/consul-hcp/app/components/consul/hcp/home/index.test.js
  ui/packages/consul-ui/app/utils/get-environment.js
  ui/packages/consul-ui/tests/integration/components/consul/hcp/home-test.js
Labels: theme/ui, pr/no-changelog

#14495 ui: Detect token in a cookie and passthrough
  .changelog/14495.txt
  ui/packages/consul-ui/app/routes/application.js
  ui/packages/consul-ui/app/utils/get-environment.js
Labels: theme/ui

#14517 ui: update tab nav steps to use `isVisible` vs `clickable`
  ui/packages/consul-ui/app/components/tab-nav/pageobject.js
  ui/packages/consul-ui/tests/acceptance/dc/nodes/show.feature
  ui/packages/consul-ui/tests/acceptance/dc/services/instances/exposed-paths.feature
  ui/packages/consul-ui/tests/acceptance/dc/services/instances/upstreams.feature
  ui/packages/consul-ui/tests/acceptance/dc/services/show-routing.feature
  ui/packages/consul-ui/tests/acceptance/dc/services/show-topology.feature
  ui/packages/consul-ui/tests/acceptance/dc/services/show/intentions/index.feature
  ui/packages/consul-ui/tests/acceptance/dc/services/show/services.feature
  ui/packages/consul-ui/tests/acceptance/dc/services/show/tags.feature
  ui/packages/consul-ui/tests/acceptance/dc/services/show/topology/routing-config.feature
  ui/packages/consul-ui/tests/acceptance/dc/services/show/topology/stats.feature
  ui/packages/consul-ui/tests/acceptance/dc/services/show/upstreams.feature
Labels: theme/ui, pr/no-changelog

#14353 Nia/docs 0.7.0
  website/content/docs/nia/api/index.mdx
  website/content/docs/nia/api/status.mdx
  website/content/docs/nia/api/tasks.mdx
  website/content/docs/nia/architecture.mdx
  website/content/docs/nia/cli/start.mdx
  website/content/docs/nia/compatibility.mdx
  website/content/docs/nia/configuration.mdx
  website/content/docs/nia/installation/requirements.mdx
  website/content/docs/nia/installation/run.mdx
  website/content/docs/nia/usage/errors-ref.mdx
  website/content/docs/nia/usage/requirements.mdx
  website/content/docs/nia/usage/run-ha.mdx
  website/content/docs/nia/usage/run.mdx
  website/data/docs-nav-data.json
  website/public/img/nia/cts-ha-after.png
  website/public/img/nia/cts-ha-after.svg
  website/public/img/nia/cts-ha-before.png
  website/public/img/nia/cts-ha-before.svg
  website/redirects.js
Labels: type/docs, type/docs-cherrypick, theme/consul-terraform-sync, pr/no-changelog, pr/no-metrics-test, backport/1.11, backport/1.12, backport/1.13

#14294 Add separate grpc tls port.
  .changelog/14294.txt
  agent/agent.go
  agent/agent_endpoint.go
  agent/agent_endpoint_test.go
  agent/agent_test.go
  agent/config/builder.go
  agent/config/config.go
  agent/config/flags.go
  agent/config/runtime.go
  agent/config/runtime_test.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/config/testdata/full-config.hcl
  agent/config/testdata/full-config.json
  agent/consul/config.go
  agent/consul/leader.go
  agent/consul/leader_test.go
  agent/consul/peering_backend.go
  agent/consul/server.go
  agent/consul/server_serf.go
  agent/consul/server_test.go
  agent/grpc-external/server.go
  agent/http_test.go
  agent/metadata/server.go
  agent/metadata/server_test.go
  agent/testagent.go
  command/agent/agent.go
  command/connect/envoy/envoy.go
  command/connect/envoy/envoy_test.go
  command/connect/envoy/testdata/grpc-tls-addr-config.golden
  website/content/docs/agent/config/config-files.mdx
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: theme/cli, theme/config, theme/tls, theme/certificates

#14534 Docs: add limitations to Tech Specs
  website/content/docs/api-gateway/tech-specs.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.11, backport/1.12, backport/1.13

#14530 Backport of Nia/docs 0.7.0 into release/1.13.x
  website/content/docs/nia/api/index.mdx
  website/content/docs/nia/api/status.mdx
  website/content/docs/nia/api/tasks.mdx
  website/content/docs/nia/architecture.mdx
  website/content/docs/nia/cli/start.mdx
  website/content/docs/nia/compatibility.mdx
  website/content/docs/nia/configuration.mdx
  website/content/docs/nia/installation/requirements.mdx
  website/content/docs/nia/installation/run.mdx
  website/content/docs/nia/usage/errors-ref.mdx
  website/content/docs/nia/usage/requirements.mdx
  website/content/docs/nia/usage/run-ha.mdx
  website/content/docs/nia/usage/run.mdx
  website/data/docs-nav-data.json
  website/public/img/nia/cts-ha-after.png
  website/public/img/nia/cts-ha-after.svg
  website/public/img/nia/cts-ha-before.png
  website/public/img/nia/cts-ha-before.svg
  website/redirects.js
Labels: type/docs, theme/consul-terraform-sync

#14532 Backport of Nia/docs 0.7.0 into release/1.12.x
  website/content/docs/nia/api/index.mdx
  website/content/docs/nia/api/status.mdx
  website/content/docs/nia/api/tasks.mdx
  website/content/docs/nia/architecture.mdx
  website/content/docs/nia/cli/start.mdx
  website/content/docs/nia/compatibility.mdx
  website/content/docs/nia/configuration.mdx
  website/content/docs/nia/installation/requirements.mdx
  website/content/docs/nia/installation/run.mdx
  website/content/docs/nia/usage/errors-ref.mdx
  website/content/docs/nia/usage/requirements.mdx
  website/content/docs/nia/usage/run-ha.mdx
  website/content/docs/nia/usage/run.mdx
  website/data/docs-nav-data.json
  website/public/img/nia/cts-ha-after.png
  website/public/img/nia/cts-ha-after.svg
  website/public/img/nia/cts-ha-before.png
  website/public/img/nia/cts-ha-before.svg
  website/redirects.js
Labels: type/docs, theme/consul-terraform-sync

#14397 xDS Load Balancing
  .changelog/14397.txt
  agent/agent.go
  agent/consul/autopilot.go
  agent/consul/autopilotevents/ready_servers_events.go
  agent/consul/client_test.go
  agent/consul/options.go
  agent/consul/server.go
  agent/consul/state/usage.go
  agent/consul/state/usage_oss.go
  agent/consul/state/usage_test.go
  agent/consul/usagemetrics/usagemetrics.go
  agent/consul/xdscapacity/capacity.go
  agent/consul/xdscapacity/capacity_test.go
  agent/grpc-external/limiter/limiter.go
  agent/grpc-external/limiter/limiter_test.go
  agent/rpc/peering/service_test.go
  agent/setup.go
  agent/xds/delta.go
  agent/xds/delta_test.go
  agent/xds/server.go
  agent/xds/xds_protocol_helpers_test.go
  logging/names.go
  website/content/docs/agent/telemetry.mdx
Labels: type/docs, theme/config, theme/telemetry, theme/envoy/xds

#14541 PR #14057 follow up fix: service id parsing from sidecar id
  agent/agent.go
  agent/sidecar_service.go
  agent/sidecar_service_test.go
Labels: pr/no-changelog

#14523 docs: fix helm stanza in admin-partitions
  website/content/docs/enterprise/admin-partitions.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test, backport/1.11, backport/1.12

#14551 Backport of docs: fix helm stanza in admin-partitions into release/1.12.x
  website/content/docs/enterprise/admin-partitions.mdx
Labels: type/docs

#14549 Backport of docs: fix helm stanza in admin-partitions into release/1.13.x
  website/content/docs/enterprise/admin-partitions.mdx
Labels: type/docs

#14550 Backport of docs: fix helm stanza in admin-partitions into release/1.11.x
  website/content/docs/enterprise/admin-partitions.mdx
Labels: type/docs

#14193 Standardize on non-double-prefixed metrics
  .changelog/14475.txt
  agent/cache/cache.go
  agent/consul/intention_endpoint.go
  agent/consul/leader_peering.go
  agent/consul/usagemetrics/usagemetrics.go
  agent/consul/usagemetrics/usagemetrics_oss.go
  agent/consul/usagemetrics/usagemetrics_oss_test.go
Labels: theme/agent-cache, pr/no-changelog

#14546 [docs] update CNI docs to indicate how the CNI plugin is installed
  website/content/docs/k8s/installation/install.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#14445 Implement Cluster Peering Redirects
  .changelog/14445.txt
  agent/proxycfg/testing_upstreams.go
  agent/xds/clusters.go
  agent/xds/clusters_test.go
  agent/xds/endpoints.go
  agent/xds/endpoints_test.go
  agent/xds/listeners.go
  agent/xds/resources_test.go
  agent/xds/routes.go
  agent/xds/testdata/clusters/connect-proxy-with-chain-and-redirect-to-cluster-peer.latest.golden
  agent/xds/testdata/endpoints/connect-proxy-with-chain-and-redirect-to-cluster-peer.latest.golden
  agent/xds/testdata/listeners/connect-proxy-with-chain-and-failover-to-cluster-peer.latest.golden
  agent/xds/testdata/listeners/connect-proxy-with-chain-and-redirect-to-cluster-peer.latest.golden
  agent/xds/testdata/routes/connect-proxy-with-chain-and-failover-to-cluster-peer.latest.golden
  agent/xds/testdata/routes/connect-proxy-with-chain-and-redirect-to-cluster-peer.latest.golden
  test/integration/connect/envoy/case-cfg-resolver-cluster-peering-failover/primary/config_entries.hcl
  test/integration/connect/envoy/case-cfg-resolver-cluster-peering-failover/primary/service_s1.hcl
  test/integration/connect/envoy/case-cfg-resolver-cluster-peering-failover/primary/verify.bats
Labels: theme/envoy/xds

#14557 docs: Fix redirect to K8s and VM multi-cluster docs
  website/redirects.js
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#14554 [docs] use values.yaml instead of config.yaml everywhere for helm configurations
  website/content/docs/k8s/connect/connect-ca-provider.mdx
  website/content/docs/k8s/connect/ingress-gateways.mdx
  website/content/docs/k8s/connect/terminating-gateways.mdx
  website/content/docs/k8s/deployment-configurations/consul-enterprise.mdx
  website/content/docs/k8s/deployment-configurations/multi-cluster/kubernetes.mdx
  website/content/docs/k8s/deployment-configurations/servers-outside-kubernetes.mdx
  website/content/docs/k8s/deployment-configurations/single-dc-multi-k8s.mdx
  website/content/docs/k8s/helm.mdx
  website/content/docs/k8s/installation/install.mdx
  website/content/docs/k8s/upgrade/index.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test

#14513 Update the service resolver documentation to include cluster peering failover and redirects
  website/content/docs/connect/config-entries/service-resolver.mdx
Labels: type/docs, pr/no-changelog

#14522 ui: Add initial peering listing acceptance tests
  ui/packages/consul-peerings/app/components/consul/peer/list/test-support.js
  ui/packages/consul-ui/tests/acceptance/dc/peers/index.feature
  ui/packages/consul-ui/tests/acceptance/steps/dc/peers/index-steps.js
  ui/packages/consul-ui/tests/helpers/set-cookies.js
  ui/packages/consul-ui/tests/helpers/type-to-url.js
  ui/packages/consul-ui/tests/pages.js
  ui/packages/consul-ui/tests/pages/dc/peers/index.js
Labels: theme/ui, pr/no-changelog

#14524 ui: Fix up tippy console warning...
  ui/packages/consul-ui/app/components/peerings/badge/index.hbs
  ui/packages/consul-ui/app/components/peerings/badge/index.js
  ui/packages/consul-ui/app/modifiers/tooltip.js
  ui/packages/consul-ui/app/modifiers/tooltip.mdx
Labels: theme/ui, pr/no-changelog

#14519 ui: Pass through default environment settings when when booting dev/test
  ui/packages/consul-peerings/app/components/consul/peer/list/test-support.js
  ui/packages/consul-ui/config/environment.js
  ui/packages/consul-ui/lib/startup/templates/body.html.js
  ui/packages/consul-ui/node-tests/config/environment.js
  ui/packages/consul-ui/tests/acceptance/dc/peers/index.feature
  ui/packages/consul-ui/tests/acceptance/steps/dc/peers/index-steps.js
  ui/packages/consul-ui/tests/helpers/set-cookies.js
  ui/packages/consul-ui/tests/helpers/type-to-url.js
  ui/packages/consul-ui/tests/pages.js
  ui/packages/consul-ui/tests/pages/dc/peers/index.js
Labels: theme/ui, pr/no-changelog

#14395 Config-entry: Support proxy config in service-defaults
  .changelog/14395.txt
  agent/configentry/resolve.go
  agent/configentry/resolve_test.go
  agent/structs/config_entry.go
  api/config_entry.go
  api/config_entry_test.go
  website/content/docs/connect/config-entries/service-defaults.mdx
Labels: type/docs, theme/api, backport/1.13

#14566 Backport of Config-entry: Support proxy config in service-defaults into release/1.13.x
  .changelog/14395.txt
  agent/consul/merge_service_config.go
  agent/consul/merge_service_config_test.go
  agent/structs/config_entry.go
  api/config_entry.go
  api/config_entry_test.go
  website/content/docs/connect/config-entries/service-defaults.mdx
Labels: backport/1.11, backport/1.12

#14498 Port to 1.11.x: Add timeout to Client RPC calls (#11500)
  .changelog/11500.txt
  .changelog/14233.txt
  agent/consul/catalog_endpoint_test.go
  agent/consul/client.go
  agent/consul/client_test.go
  agent/consul/rpc_test.go
  agent/consul/server_test.go
  agent/pool/pool.go
  agent/setup.go
  agent/structs/structs.go
  go.mod
  go.sum
  internal/tools/proto-gen-rpc-glue/main.go
  proto/pbautoconf/auto_config.go
  proto/pbcommon/common.go
  proto/pbsubscribe/subscribe.go
Labels: pr/dependencies, pr/no-changelog

#14576 remove unneeded file and fix hasTimedOut to not return an error
  internal/tools/proto-gen-rpc-glue/main.go
  proto/pbcommon/common.go
Labels: pr/no-changelog, pr/no-metrics-test

#14577 Add input validation for auto-config JWT authorization checks.
  .changelog/14577.txt
  agent/consul/auto_config_endpoint.go
  agent/consul/auto_config_endpoint_test.go
Labels: backport/1.11, backport/1.12, backport/1.13

#14391 Document integration tests
  docs/README.md
  test/integration/connect/envoy/README.md
Labels: pr/no-changelog

#14583 Fix backported security check.
  agent/consul/auto_config_endpoint_test.go
  agent/dns/validation.go
  agent/dns/validation_test.go
Labels: pr/no-changelog

#14579 Add CSR check for number of URIs.
  .changelog/14579.txt
  agent/consul/auto_config_endpoint.go
  agent/consul/auto_config_endpoint_test.go
  agent/consul/leader_connect_ca.go
  agent/consul/leader_connect_ca_test.go
Labels: backport/1.11, backport/1.12, backport/1.13

#14585 Add CSR check for number of URIs.
  .changelog/14579.txt
  agent/consul/auto_config_endpoint.go
  agent/consul/auto_config_endpoint_test.go
  agent/consul/leader_connect_ca.go
  agent/consul/leader_connect_ca_test.go
Labels: pr/no-changelog

#14591 Add CSR check for number of URIs.
  .changelog/14579.txt
  agent/consul/auto_config_endpoint.go
  agent/consul/auto_config_endpoint_test.go
  agent/consul/leader_connect_ca.go
  agent/consul/leader_connect_ca_test.go
Labels: pr/no-changelog

#14590 Add CSR check for number of URIs.
  .changelog/14579.txt
  agent/consul/auto_config_endpoint.go
  agent/consul/auto_config_endpoint_test.go
  agent/consul/leader_connect_ca.go
  agent/consul/leader_connect_ca_test.go
Labels: pr/no-changelog

#14592 update enforcing consecutive 5xx type to pointer type
  api/config_entry.go
  api/config_entry_test.go
Labels: theme/api, pr/no-changelog, backport/1.12, backport/1.13

#14475 [OSS] feat: add PeerThroughMeshGateways to mesh config
  agent/structs/config_entry_mesh.go
  agent/structs/config_entry_test.go
  api/config_entry_mesh.go
  api/config_entry_test.go
  proto/pbconfigentry/config_entry.gen.go
  proto/pbconfigentry/config_entry.pb.binary.go
  proto/pbconfigentry/config_entry.pb.go
  proto/pbconfigentry/config_entry.proto
  website/content/docs/connect/config-entries/mesh.mdx
Labels: type/docs, theme/api, pr/no-changelog, pr/no-metrics-test

#14516 Fix inconsistent TTL behavior in CA providers
  .changelog/14516.txt
  agent/connect/ca/provider_vault.go
  agent/connect/ca/provider_vault_test.go
  agent/structs/connect_ca.go
  website/content/partials/http_api_connect_ca_common_options.mdx
Labels: type/docs, theme/connect, backport/1.11, backport/1.12, backport/1.13

#14600 Backport of Fix inconsistent TTL behavior in CA providers into release/1.11.x
  .changelog/14516.txt
  agent/connect/ca/provider_vault.go
  agent/connect/ca/provider_vault_test.go
  agent/structs/connect_ca.go
  website/content/partials/http_api_connect_ca_common_options.mdx
Labels: type/docs

#14609 website: fix links pointing at internal redirects
  website/content/docs/agent/config/cli-flags.mdx
  website/content/docs/agent/config/config-files.mdx
  website/content/docs/agent/index.mdx
  website/content/docs/agent/rpc.mdx
  website/content/docs/api-gateway/usage.mdx
  website/content/docs/connect/config-entries/ingress-gateway.mdx
  website/content/docs/connect/configuration.mdx
  website/content/docs/discovery/services.mdx
  website/content/docs/dynamic-app-config/watches.mdx
  website/content/docs/ecs/index.mdx
  website/content/docs/enterprise/index.mdx
  website/content/docs/enterprise/license/faq.mdx
  website/content/docs/k8s/deployment-configurations/servers-outside-kubernetes.mdx
  website/content/docs/k8s/helm.mdx
  website/content/docs/k8s/k8s-cli.mdx
  website/content/docs/k8s/upgrade/index.mdx
  website/content/docs/release-notes/consul-api-gateway/v0_2_x.mdx
  website/content/docs/release-notes/consul-api-gateway/v0_3_x.mdx
  website/content/docs/security/acl/acl-federated-datacenters.mdx
  website/content/docs/security/acl/acl-legacy.mdx
  website/content/docs/security/acl/acl-rules.mdx
  website/content/docs/security/acl/acl-tokens.mdx
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs, pr/no-changelog

#14574 ui: Remove ember-cli-uglify config
  ui/packages/consul-ui/ember-cli-build.js
Labels: theme/ui, pr/no-changelog

#14605 ui: Add AWS Lambda as potential external source
  ui/packages/consul-ui/app/components/consul/external-source/index.scss
  ui/packages/consul-ui/app/components/popover-select/index.scss
  ui/packages/consul-ui/app/helpers/service/external-source.js
  ui/packages/consul-ui/mock-api/v1/connect/_
  ui/packages/consul-ui/mock-api/v1/health/service/_
  ui/packages/consul-ui/mock-api/v1/internal/ui/gateway-services-nodes/_
  ui/packages/consul-ui/mock-api/v1/internal/ui/node/_
  ui/packages/consul-ui/mock-api/v1/internal/ui/services
  ui/packages/consul-ui/translations/common/en-us.yaml
Labels: theme/ui, pr/no-changelog

#14606 ui: Completely remove the Overview routes when running the UI in HCP
  .changelog/14606.txt
  ui/packages/consul-hcp/vendor/consul-hcp/routes.js
  ui/packages/consul-ui/app/abilities/overview.js
  ui/packages/consul-ui/app/utils/get-environment.js
Labels: theme/ui

#14573 connect: Bump latest Envoy to 1.23.1 in test matrix
  .changelog/14573.txt
  .circleci/config.yml
  agent/xds/envoy_versioning_test.go
  agent/xds/proxysupport/proxysupport.go
  test/integration/connect/envoy/run-tests.sh
  website/content/commands/connect/envoy.mdx
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, type/ci, theme/envoy/xds

#14608 Improve grpc_tls wording in docs.
  website/content/docs/agent/config/config-files.mdx
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs, pr/no-changelog

#14617 Backport of connect: Bump latest Envoy to 1.23.1 in test matrix into release/1.13.x
  .changelog/14573.txt
  .circleci/config.yml
  agent/xds/envoy_versioning_test.go
  agent/xds/proxysupport/proxysupport.go
  test/integration/connect/envoy/run-tests.sh
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, type/ci, theme/envoy/xds

#14620 Create new Consul API overview page
  website/content/api-docs/index.mdx
Labels: type/docs

#14603 Docs/what is consul devdot update
  website/content/docs/index.mdx
  website/content/docs/intro/index.mdx
  website/public/img/what-is-consul-overview-diagram.png
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test, backport/1.11, backport/1.12, backport/1.13

#14613 Add more content to integration test docs
  test/integration/connect/envoy/README.md
  test/integration/connect/envoy/run-tests.sh
Labels: pr/no-changelog

#14631 docs: update /install -> /downloads
  website/Makefile
  website/content/docs/concepts/service-discovery.mdx
  website/content/docs/concepts/service-mesh.mdx
  website/content/docs/install/index.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#14615 docs: add nginx ingress controller example
  website/content/docs/k8s/connect/ingress-controllers.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.11, backport/1.12

#14607 ui: Update mock intention metadata to only include possible values
  ui/packages/consul-ui/mock-api/v1/connect/_
  ui/packages/consul-ui/mock-api/v1/connect/intentions/_
  ui/packages/consul-ui/mock-api/v1/connect/intentions/exact
  ui/packages/consul-ui/mock-api/v1/internal/ui/service-topology/_
Labels: theme/ui, pr/no-changelog

#14634 docs: Fix spelling errors on website
  website/content/api-docs/features/consistency.mdx
  website/content/api-docs/index.mdx
  website/content/api-docs/query.mdx
  website/content/docs/api-gateway/configuration/gatewayclass.mdx
  website/content/docs/api-gateway/configuration/routes.mdx
  website/content/docs/api-gateway/upgrades.mdx
  website/content/docs/connect/config-entries/exported-services.mdx
  website/content/docs/connect/config-entries/service-resolver.mdx
  website/content/docs/connect/transparent-proxy.mdx
  website/content/docs/ecs/manual/secure-configuration.mdx
  website/content/docs/ecs/terraform/install.mdx
  website/content/docs/enterprise/admin-partitions.mdx
  website/content/docs/k8s/annotations-and-labels.mdx
  website/content/docs/lambda/index.mdx
  website/content/docs/lambda/registration.mdx
  website/content/docs/nia/configuration.mdx
  website/content/docs/release-notes/consul/v1_13_x.mdx
Labels: type/docs, type/docs-cherrypick, theme/consul-terraform-sync, pr/no-changelog

#14625 Backport of Docs/what is consul devdot update into release/1.13.x
  website/content/docs/index.mdx
  website/content/docs/intro/index.mdx
  website/public/img/what-is-consul-overview-diagram.png
Labels: type/docs

#14629 Backport of Docs/what is consul devdot update into release/1.13.x
  website/content/docs/index.mdx
  website/content/docs/intro/index.mdx
  website/public/img/what-is-consul-overview-diagram.png
Labels: type/docs

#14645 fix merge conflict markings
  website/content/docs/intro/index.mdx
Labels: type/docs

#14598 connect/ca: Don't discard old roots on primaryInitialize
  .changelog/14598.txt
  agent/consul/leader_connect_ca.go
  agent/consul/leader_connect_test.go
Labels: backport/1.11, backport/1.12, backport/1.13

#14640 Backport of docs: Fix spelling errors on website into stable-website
  website/content/api-docs/features/consistency.mdx
  website/content/api-docs/index.mdx
  website/content/api-docs/query.mdx
  website/content/docs/api-gateway/configuration/gatewayclass.mdx
  website/content/docs/api-gateway/configuration/routes.mdx
  website/content/docs/api-gateway/upgrades.mdx
  website/content/docs/connect/config-entries/exported-services.mdx
  website/content/docs/connect/transparent-proxy.mdx
  website/content/docs/ecs/manual/secure-configuration.mdx
  website/content/docs/ecs/terraform/install.mdx
  website/content/docs/enterprise/admin-partitions.mdx
  website/content/docs/k8s/annotations-and-labels.mdx
  website/content/docs/lambda/index.mdx
  website/content/docs/lambda/registration.mdx
  website/content/docs/nia/configuration.mdx
  website/content/docs/release-notes/consul/v1_13_x.mdx
Labels: pr/no-changelog

#14641 Backport of docs: Fix spelling errors on website into release/1.13.x
  website/content/api-docs/features/consistency.mdx
  website/content/api-docs/index.mdx
  website/content/api-docs/query.mdx
  website/content/docs/api-gateway/configuration/gatewayclass.mdx
  website/content/docs/api-gateway/configuration/routes.mdx
  website/content/docs/api-gateway/upgrades.mdx
  website/content/docs/connect/config-entries/exported-services.mdx
  website/content/docs/connect/transparent-proxy.mdx
  website/content/docs/ecs/manual/secure-configuration.mdx
  website/content/docs/ecs/terraform/install.mdx
  website/content/docs/enterprise/admin-partitions.mdx
  website/content/docs/k8s/annotations-and-labels.mdx
  website/content/docs/lambda/index.mdx
  website/content/docs/lambda/registration.mdx
  website/content/docs/nia/configuration.mdx
  website/content/docs/release-notes/consul/v1_13_x.mdx
Labels: pr/no-changelog

#14663 changelog: fix missing backtick
  .changelog/14429.txt
Labels: pr/no-changelog, backport/1.11, backport/1.12, backport/1.13

#14597 Update docs for merge-central-config support
  website/content/api-docs/catalog.mdx
  website/content/api-docs/health.mdx
Labels: type/docs, pr/no-changelog

#14668 Allow setting TLS for gRPC with deprecated options [1.13.x]
  .changelog/14668.txt
  agent/agent.go
  agent/config/builder.go
  agent/config/builder_test.go
  agent/config/config.go
  agent/config/deprecated.go
  agent/config/runtime_test.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/consul/server_test.go
  agent/grpc-external/server.go
  api/peering_test.go
  tlsutil/config.go
  tlsutil/config_test.go
Labels: theme/api, theme/config, theme/tls, theme/certificates

#14556 Add handling in agent cache for server leaf certs
  .changelog/14556.txt
  agent/agent.go
  agent/agent_endpoint_test.go
  agent/agent_test.go
  agent/cache-types/connect_ca_leaf.go
  agent/cache-types/connect_ca_leaf_test.go
  agent/config/builder.go
  agent/config/runtime_oss_test.go
  agent/config/runtime_test.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/connect/uri_server.go
  agent/connect/uri_test.go
  agent/consul/acl.go
  agent/consul/acl_client.go
  agent/consul/acl_server.go
  agent/consul/acl_test.go
  agent/consul/leader.go
  agent/consul/leader_test.go
  agent/consul/servercert/manager.go
  agent/consul/servercert/manager_test.go
  agent/structs/acl.go
  go.mod
  go.sum
  lib/retry/retry.go
  tlsutil/config.go
  tlsutil/config_test.go
Labels: theme/connect, theme/tls, theme/certificates

#14382 add health metric docs
  website/content/docs/agent/telemetry.mdx
Labels: type/docs, pr/no-changelog, pr/no-metrics-test

#14677 doc(peering): missing network requirement for peering and the partiti…
  website/content/api-docs/peering.mdx
  website/content/docs/connect/cluster-peering/create-manage-peering.mdx
Labels: type/docs, pr/no-changelog, backport/1.13

#14675 Docs/fix node lookup by removing tag/stable website manual backport
  website/content/docs/discovery/dns.mdx
Labels: type/docs, pr/no-changelog

#14604 ui: Add merge-central-config to relevant HTTP requests
  .changelog/14604.txt
  ui/packages/consul-ui/app/adapters/proxy.js
  ui/packages/consul-ui/app/adapters/service-instance.js
  ui/packages/consul-ui/app/adapters/service.js
  ui/packages/consul-ui/tests/acceptance/dc/services/instances/navigation.feature
  ui/packages/consul-ui/tests/integration/adapters/service-instance-test.js
  ui/packages/consul-ui/tests/integration/adapters/service-test.js
Labels: theme/ui

#14681 Backport of ui: Completely remove the Overview routes when running the UI in HCP into release/1.12.x
  .changelog/14606.txt
  ui/packages/consul-hcp/vendor/consul-hcp/routes.js
  ui/packages/consul-ui/app/abilities/overview.js
  ui/packages/consul-ui/app/utils/get-environment.js
Labels: theme/ui

#14679 docs: all enterprise locality labels now optional
  .changelog/14679.txt
  website/content/docs/agent/config/config-files.mdx
  website/content/docs/discovery/dns.mdx
Labels: type/docs

#14571 docs: fix peering metrics labels table
  website/content/docs/agent/telemetry.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test

#14689 Patch version update.
  CHANGELOG.md
  version/version.go
Labels: pr/no-changelog

#14688 Patch release changes.
  CHANGELOG.md
  version/version.go
Labels: pr/no-changelog

#14690 fixed typos in API landing page
  website/content/api-docs/index.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#14693 [OSS] chore: release updates for 1.13.2, 1.12.5, and 1.11.9
  CHANGELOG.md
  api/go.mod
  go.mod
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
Labels: theme/api, pr/dependencies, pr/no-changelog

#14698 chore: release updates for 1.13.2
  CHANGELOG.md
  api/go.mod
  go.mod
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
  version/version.go
Labels: theme/api, pr/dependencies, pr/no-changelog

#14709 Fix incorrect changelog labels.
  .changelog/14233.txt
  .changelog/14290.txt
  CHANGELOG.md
Labels: pr/no-changelog

#14711 fix missing changelog entries that were released
  .changelog/11500.txt
  .changelog/14233.txt
  CHANGELOG.md
Labels: pr/no-changelog

#14701 Fix md markup
  website/content/docs/connect/gateways/ingress-gateway.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test, backport/1.11, backport/1.12

#14719 Add 1.11.10 changelog entries.
  CHANGELOG.md
Labels: pr/no-changelog

#14716 fix missing changelog entries that were previously released
  .changelog/14233.txt
  .changelog/14269.txt
  .changelog/14290.txt
  .changelog/14364.txt
  CHANGELOG.md
Labels: pr/no-changelog

#14720 docs: fix missing bugfix changelog entries
  .changelog/11500.txt
  .changelog/11791.txt
  .changelog/11804.txt
  .changelog/11850.txt
  .changelog/12279.txt
  .changelog/14233.txt
  .changelog/14269.txt
  .changelog/14290.txt
  .changelog/14364.txt
  CHANGELOG.md
Labels: pr/no-changelog

#14702 Fix MD markup
  website/content/docs/connect/ca/vault.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test

#14722 Add new internal endpoint to list exported services to a peer
  agent/consul/internal_endpoint.go
  agent/consul/internal_endpoint_test.go
  agent/http_register.go
  agent/ui_endpoint.go
  agent/ui_endpoint_test.go
Labels: pr/no-changelog

#14735 fixed typos in CAPIgw usage docs
  website/content/docs/api-gateway/usage.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test, backport/1.11, backport/1.12, backport/1.13

#14733 [docs] update helm docs for sync catalog and vault
  website/content/docs/k8s/helm.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test, backport/1.12

#14616 Add envoy connection balancing.
  .changelog/14616.txt
  agent/configentry/resolve.go
  agent/configentry/resolve_test.go
  agent/structs/config_entry.go
  agent/structs/config_entry_test.go
  agent/xds/config.go
  agent/xds/config_test.go
  agent/xds/listeners.go
  agent/xds/listeners_test.go
  agent/xds/testdata/listeners/listener-balance-inbound-connections.latest.golden
  agent/xds/testdata/listeners/listener-balance-outbound-connections-bind-port.latest.golden
  api/config_entry.go
  api/config_entry_test.go
  website/content/docs/connect/config-entries/service-defaults.mdx
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, theme/api, theme/envoy/xds

#14723 add HCP integration component
  .changelog/14723.txt
  agent/agent.go
  agent/agent_test.go
  agent/config/builder.go
  agent/config/config.go
  agent/config/runtime.go
  agent/config/runtime_test.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/config/testdata/full-config.hcl
  agent/config/testdata/full-config.json
  agent/consul/client_serf.go
  agent/consul/leader_test.go
  agent/consul/options.go
  agent/consul/server.go
  agent/consul/server_serf.go
  agent/consul/server_test.go
  agent/hcp/bootstrap/bootstrap.go
  agent/hcp/bootstrap/testing.go
  agent/hcp/client.go
  agent/hcp/config/config.go
  agent/hcp/deps.go
  agent/hcp/discover/discover.go
  agent/hcp/manager.go
  agent/hcp/manager_test.go
  agent/hcp/mock_Client.go
  agent/hcp/scada/capabilities.go
  agent/hcp/scada/mock_Provider.go
  agent/hcp/scada/scada.go
  agent/hcp/testing.go
  agent/hcp/testserver/main.go
  agent/proxycfg/ingress_gateway.go
  agent/retry_join.go
  agent/retry_join_test.go
  agent/setup.go
  agent/testagent.go
  command/agent/agent.go
  command/agent/startup_logger.go
  go.mod
  go.sum
  lib/retry/retry.go
Labels: theme/cli, theme/config, pr/dependencies, theme/internals

#14755 Fix Link: Consul Enterprise Admin Partitions - Usage - CLI
  website/content/docs/enterprise/admin-partitions.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test, backport/1.12

#14745 docs: update to Vault secrets backend for partition init service account and Helm values for injector
  website/content/docs/k8s/deployment-configurations/vault/data-integration/partition-token.mdx
  website/content/docs/k8s/deployment-configurations/vault/systems-integration.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test, backport/1.12

#14763 Enable outbound peered requests to go through local mesh gateway
  agent/proxycfg/connect_proxy.go
  agent/proxycfg/manager_test.go
  agent/proxycfg/snapshot.go
  agent/proxycfg/state.go
  agent/proxycfg/testing_peering.go
  agent/proxycfg/upstreams.go
  agent/xds/clusters.go
  agent/xds/endpoints.go
  agent/xds/listeners.go
  agent/xds/resources_test.go
  agent/xds/testdata/clusters/local-mesh-gateway-with-peered-upstreams.latest.golden
  agent/xds/testdata/endpoints/local-mesh-gateway-with-peered-upstreams.latest.golden
  agent/xds/testdata/listeners/local-mesh-gateway-with-peered-upstreams.latest.golden
  agent/xds/testdata/routes/local-mesh-gateway-with-peered-upstreams.latest.golden
Labels: theme/envoy/xds, pr/no-changelog

#14765 Update k8s.mdx
  website/content/docs/connect/cluster-peering/k8s.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test

#14768 Make defaulting behaviour of connect.enabled clear
  website/content/docs/agent/config/config-files.mdx
Labels: type/docs, pr/no-changelog

#14773 README: Consul Readme improvements
  README.md
Labels: type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test, backport/1.11, backport/1.12

#14724 Support Stale Queries for Trust Bundle Lookups
  .changelog/14724.txt
  agent/cache-types/trust_bundle.go
  agent/cache-types/trust_bundles.go
  agent/consul/grpc_integration_test.go
  agent/consul/prepared_query_endpoint_test.go
  agent/grpc-external/options.go
  agent/grpc-external/options_test.go
  agent/grpc-external/services/connectca/sign.go
  agent/grpc-external/services/connectca/watch_roots.go
  agent/grpc-external/services/connectca/watch_roots_test.go
  agent/grpc-external/services/dataplane/get_envoy_bootstrap_params.go
  agent/grpc-external/services/dataplane/get_envoy_bootstrap_params_test.go
  agent/grpc-external/services/dataplane/get_supported_features.go
  agent/grpc-external/services/dataplane/get_supported_features_test.go
  agent/grpc-external/services/serverdiscovery/watch_servers.go
  agent/grpc-external/services/serverdiscovery/watch_servers_test.go
  agent/grpc-external/token.go
  agent/peering_endpoint.go
  agent/rpc/peering/service.go
  agent/rpc/peering/service_test.go
  agent/structs/structs.go
  agent/xds/delta.go
  agent/xds/server.go
Labels: theme/envoy/xds

#14764 docs: clarify license behavior on restart
  website/content/docs/enterprise/license/faq.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test, backport/1.11, backport/1.12

#14788 docs: clarify license behavior on restart
  website/content/docs/enterprise/license/faq.mdx
Labels: type/docs

#14749 feat(ingress gateway: support configuring limits in ingress-gateway c…
  .changelog/14749.txt
  agent/proxycfg/ingress_gateway.go
  agent/proxycfg/snapshot.go
  agent/structs/config_entry_gateways.go
  agent/xds/clusters.go
  agent/xds/clusters_test.go
  agent/xds/testdata/clusters/ingress-with-defaults-service-max-connections.latest.golden
  agent/xds/testdata/clusters/ingress-with-overwrite-defaults-service-max-connections.latest.golden
  agent/xds/testdata/clusters/ingress-with-service-max-connections.latest.golden
  api/config_entry_gateways.go
  api/config_entry_gateways_test.go
  proto/pbconfigentry/config_entry.gen.go
  proto/pbconfigentry/config_entry.pb.binary.go
  proto/pbconfigentry/config_entry.pb.go
  proto/pbconfigentry/config_entry.proto
  test/integration/connect/envoy/case-ingress-gateway-multiple-services/config_entries.hcl
  test/integration/connect/envoy/case-ingress-gateway-multiple-services/verify.bats
  website/content/docs/connect/config-entries/ingress-gateway.mdx
Labels: type/docs, theme/api, theme/envoy/xds, backport/1.11, backport/1.12, backport/1.13

#14707 ui: Add more acceptance tests for cluster peering
  ui/packages/consul-peerings/app/components/consul/peer/list/index.hbs
  ui/packages/consul-peerings/app/components/consul/peer/list/test-support.js
  ui/packages/consul-peerings/app/templates/dc/peers/index.hbs
  ui/packages/consul-ui/tests/acceptance/dc/peers/create.feature
  ui/packages/consul-ui/tests/acceptance/dc/peers/delete.feature
  ui/packages/consul-ui/tests/acceptance/dc/peers/establish.feature
  ui/packages/consul-ui/tests/acceptance/dc/peers/regenerate.feature
  ui/packages/consul-ui/tests/acceptance/steps/dc/peers/create-steps.js
  ui/packages/consul-ui/tests/acceptance/steps/dc/peers/delete-steps.js
  ui/packages/consul-ui/tests/acceptance/steps/dc/peers/establish-steps.js
  ui/packages/consul-ui/tests/acceptance/steps/dc/peers/regenerate-steps.js
  ui/packages/consul-ui/tests/pages.js
Labels: theme/ui, pr/no-changelog

#14527 ui: Amends to existing topology notice/banner texts
  .changelog/14527.txt
  ui/packages/consul-ui/translations/routes/en-us.yaml
Labels: theme/ui

#14567 ui: Move nvmrc to the root of the workspace
  ui/.nvmrc
Labels: theme/ui, pr/no-changelog

#14799 bug: watch local mesh gateways in non-default partitions with agentless
  agent/proxycfg/upstreams.go
Labels: pr/no-changelog

#14752 refresh of the Consul architecture overview page
  website/content/docs/architecture/index.mdx
  website/public/img/consul-arch.png
  website/public/img/consul-arch/consul-arch-overview-consensus.svg
  website/public/img/consul-arch/consul-arch-overview-control-plane.svg
  website/public/img/consul-arch/consul-arch-overview-lan-gossip-pool.svg
  website/public/img/consul-arch/consul-arch-overview-remote-dc-forwarding-cross-cluster.svg
  website/public/img/consul-arch/consul-arch-overview-rpc.svg
  website/public/img/consul-arch/consul-arch-overview-wan-gossip-cross-cluster.svg
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.11, backport/1.12, backport/1.13

#14783 Bear359 patch 1
  website/content/docs/integrate/partnerships.mdx
  website/public/img/consul_ecosystem_diagram2.png
Labels: type/docs-cherrypick, pr/no-changelog

#14804 Backport of refresh of the Consul architecture overview page into release/1.11.x
  website/content/docs/architecture/index.mdx
  website/public/img/consul-arch.png
  website/public/img/consul-arch/consul-arch-overview-consensus.svg
  website/public/img/consul-arch/consul-arch-overview-control-plane.svg
  website/public/img/consul-arch/consul-arch-overview-lan-gossip-pool.svg
  website/public/img/consul-arch/consul-arch-overview-remote-dc-forwarding-cross-cluster.svg
  website/public/img/consul-arch/consul-arch-overview-rpc.svg
  website/public/img/consul-arch/consul-arch-overview-wan-gossip-cross-cluster.svg
Labels: type/docs

#14807 docs: Consul K8s 0.49.x release notes
  website/content/docs/release-notes/consul-k8s/v0_49_x.mdx
  website/data/docs-nav-data.json
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test

#14774 docs: admin partition docs improvements
  website/content/docs/enterprise/admin-partitions.mdx
  website/content/docs/k8s/deployment-configurations/vault/data-integration/bootstrap-token.mdx
  website/content/docs/k8s/deployment-configurations/vault/data-integration/connect-ca.mdx
  website/content/docs/k8s/deployment-configurations/vault/data-integration/enterprise-license.mdx
  website/content/docs/k8s/deployment-configurations/vault/data-integration/gossip.mdx
  website/content/docs/k8s/deployment-configurations/vault/data-integration/partition-token.mdx
  website/content/docs/k8s/deployment-configurations/vault/data-integration/server-tls.mdx
  website/content/docs/k8s/deployment-configurations/vault/data-integration/snapshot-agent-config.mdx
  website/content/docs/k8s/deployment-configurations/vault/data-integration/webhook-certs.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test, backport/1.12

#14812 ui: fix link back to hcp not showing up
  ui/packages/consul-ui/lib/startup/templates/body.html.js
Labels: theme/ui, pr/no-changelog

#14793 Docs: Add OpenShift CNI to list of install options for kubernetes
  website/content/docs/k8s/installation/install.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test

#14824 docs: updated 0.49.x generated helm docs
  website/content/docs/k8s/helm.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog
