Repository hashicorp/consul, pull requests merged in 2022-01, with the labels that each got.

#11861 docs/nia: CTS delete task API and CLI
  website/content/docs/nia/api/tasks.mdx
  website/content/docs/nia/cli/task.mdx
Labels: type/docs, theme/consul-terraform-sync, pr/no-changelog

#11820 http: improve UI not enabled response message
  .changelog/11820.txt
  agent/http.go
Labels: theme/api, theme/operator-usability, backport/1.11

#11775 chore: created an issue template for Consul docs day
  .github/ISSUE_TEMPLATE/docs_day.md
Labels: type/docs, theme/contributing

#11928 Consul docs issue
  .github/ISSUE_TEMPLATE/docs_day.md
Labels: theme/contributing, event/consul-docs-day

#11929 docs: Clarification of Vault Consul K8s requirements for Auth Method
  website/content/docs/k8s/installation/vault/connect-ca.mdx
  website/content/docs/k8s/installation/vault/gossip.mdx
  website/content/docs/k8s/installation/vault/index.mdx
  website/content/docs/k8s/installation/vault/server-tls.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#11905 ui: Ensure disconnect error doesn't appear w/auth change on some pages
  .changelog/11905.txt
  ui/packages/consul-ui/app/components/data-loader/index.hbs
Labels: type/bug, theme/ui, backport/1.9, backport/1.10, backport/1.11

#11915 docs/nia: require condition "catalog-services" block's regexp to be configured
  website/content/docs/nia/configuration.mdx
  website/content/docs/nia/tasks.mdx
Labels: type/docs, theme/consul-terraform-sync

#11931 ui: Fix URL params decoding
  .changelog/11931.txt
  ui/packages/consul-ui/app/routing/route.js
  ui/packages/consul-ui/app/services/routlet.js
  ui/packages/consul-ui/app/templates/dc/kv/edit.hbs
  ui/packages/consul-ui/tests/acceptance/dc/kvs/edit.feature
  ui/packages/consul-ui/tests/pages/dc/kv/edit.js
Labels: theme/ui, backport/1.11

#11785 ui: Add XML syntax highlighting to key/value editor
  ui/packages/consul-ui/app/components/code-editor/index.js
  ui/packages/consul-ui/app/components/code-editor/skin.scss
  ui/packages/consul-ui/app/instance-initializers/ivy-codemirror.js
  ui/packages/consul-ui/app/services/code-mirror/linter.js
  ui/packages/consul-ui/ember-cli-build.js
  ui/packages/consul-ui/lib/startup/templates/body.html.js
Labels: theme/ui, backport/1.9, backport/1.10, backport/1.11

#11932 testing: Revert assertion for virtual IP flag
  agent/consul/system_metadata_test.go
Labels: pr/no-changelog

#11335 URL-encode/decode resource names for HTTP API
  .changelog/11335.txt
  agent/agent_endpoint.go
  agent/http.go
  agent/http_test.go
  api/agent.go
Labels: Hacktoberfest, hacktoberfest-accepted, backport/1.11

#11884 consul pls cert create usage example provided in CLI help shows outdated arguments
  command/tls/cert/tls_cert.go
Labels: backport/1.9, pr/no-changelog, backport/1.10, pr/no-metrics-test, backport/1.11

#11853 website: Update Nomad-related text
  website/content/docs/connect/nomad.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#11926 cli: Show node identities in acl token list output
  .changelog/11926.txt
  command/acl/token/formatter.go
  command/acl/token/testdata/FormatTokenList/complex.pretty-meta.golden
  command/acl/token/testdata/FormatTokenList/complex.pretty.golden
  website/content/commands/acl/token/list.mdx
Labels: theme/cli

#11933 ui: [Backport/1.9.x] Add XML syntax highlighting to key/value editor
  ui/packages/consul-ui/app/components/code-editor/index.js
  ui/packages/consul-ui/app/instance-initializers/ivy-codemirror.js
  ui/packages/consul-ui/app/services/code-mirror/linter.js
  ui/packages/consul-ui/app/styles/components/code-editor/skin.scss
  ui/packages/consul-ui/ember-cli-build.js
  ui/packages/consul-ui/lib/startup/templates/body.html.js
Labels: theme/ui, pr/no-changelog

#11934 ui: [Backport/1.9.x] Ensure disconnect error doesn't appear w/auth change on some pages
  .changelog/11905.txt
  ui/packages/consul-ui/app/components/data-loader/index.hbs
Labels: theme/ui, pr/no-changelog

#11900 ui: Configure routes in route config rather than classes
  ui/packages/consul-nspaces/vendor/consul-nspaces/routes.js
  ui/packages/consul-partitions/vendor/consul-partitions/routes.js
  ui/packages/consul-ui/app/router.js
  ui/packages/consul-ui/app/routes/dc/index.js
  ui/packages/consul-ui/app/routes/dc/intentions/create.js
  ui/packages/consul-ui/app/routes/dc/intentions/index.js
  ui/packages/consul-ui/app/routes/dc/kv/create.js
  ui/packages/consul-ui/app/routes/dc/kv/folder.js
  ui/packages/consul-ui/app/routes/dc/kv/index.js
  ui/packages/consul-ui/app/routes/dc/kv/root-create.js
  ui/packages/consul-ui/app/routes/dc/nodes/index.js
  ui/packages/consul-ui/app/routes/dc/nodes/show/healthchecks.js
  ui/packages/consul-ui/app/routes/dc/nodes/show/services.js
  ui/packages/consul-ui/app/routes/dc/services/index.js
  ui/packages/consul-ui/app/routes/dc/services/instance/healthchecks.js
  ui/packages/consul-ui/app/routes/dc/services/instance/index.js
  ui/packages/consul-ui/app/routes/dc/services/instance/upstreams.js
  ui/packages/consul-ui/app/routes/dc/services/show/intentions/create.js
  ui/packages/consul-ui/app/routes/dc/services/show/intentions/index.js
  ui/packages/consul-ui/app/routes/dc/services/show/services.js
  ui/packages/consul-ui/app/routes/dc/services/show/upstreams.js
  ui/packages/consul-ui/app/routing/route.js
  ui/packages/consul-ui/tests/unit/routes/dc/index-test.js
  ui/packages/consul-ui/tests/unit/routes/dc/intentions/create-test.js
  ui/packages/consul-ui/tests/unit/routes/dc/intentions/index-test.js
  ui/packages/consul-ui/tests/unit/routes/dc/kv/create-test.js
  ui/packages/consul-ui/tests/unit/routes/dc/kv/index-test.js
  ui/packages/consul-ui/tests/unit/routes/dc/kv/root-create-test.js
Labels: theme/ui, pr/no-changelog, pr/no-metrics-test

#11817 ui: Only allow partition creation with a single datacenter setup
  ui/packages/consul-partitions/app/templates/dc/partitions/index.hbs
  ui/packages/consul-ui/app/abilities/partition.js
Labels: theme/ui, pr/no-changelog, backport/1.11

#11938 ui: Add selective no-console eslint rule
  ui/packages/consul-ui/.dev.eslintrc.js
  ui/packages/consul-ui/.eslintrc.js
  ui/packages/consul-ui/app/locations/fsm-with-optional.js
  ui/packages/consul-ui/app/services/auth-providers/oauth2-code-with-url-provider.js
  ui/packages/consul-ui/package.json
Labels: theme/ui, pr/no-changelog

#11927 docs/nia: Update status API docs to table format
  website/content/docs/nia/api/status.mdx
Labels: type/docs, theme/consul-terraform-sync

#11599 Ensure consistency with error-handling across all handlers.
  agent/acl_endpoint.go
  agent/acl_endpoint_test.go
  agent/agent_endpoint.go
  agent/agent_endpoint_test.go
  agent/http.go
Labels: theme/internal-cleanup, pr/no-changelog

#11941 Fix test for ENT
  agent/local/state_test.go
Labels: pr/no-changelog

#11946 Fix test for ENT
  agent/agent_endpoint_test.go
Labels: pr/no-changelog

#11918 Fix a few small bugs
  .changelog/11918.txt
  agent/config/builder.go
  agent/config/builder_test.go
  agent/consul/client.go
  agent/consul/server.go
  command/snapshot/save/snapshot_save.go
  command/snapshot/save/snapshot_save_test.go
Labels: theme/cli, theme/config, backport/1.9, backport/1.10, backport/1.11

#11952 docs: Fix indentation for gossipEncryption when using Vault secrets backend
  website/content/docs/k8s/installation/vault/gossip.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#11945 tweaks to the language used in the requirements section
  website/content/docs/connect/config-entries/exported-services.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#11958 upgrade raft to v1.3.3
  .changelog/11958.txt
  go.mod
  go.sum
Labels: pr/dependencies, backport/1.10, backport/1.11

#11940 clone the service under lock to avoid a data race
  .changelog/11940.txt
  agent/local/state.go
  agent/local/state_test.go
Labels: backport/1.9, backport/1.10, backport/1.11

#11961 create a struct and copy the pointer to mutate it to avoid a data race
  .changelog/11940.txt
  agent/local/state.go
  vendor/github.com/hashicorp/raft/configuration.go
  vendor/github.com/hashicorp/raft/net_transport.go
  vendor/github.com/hashicorp/raft/raft.go
  vendor/modules.txt
Labels: pr/no-changelog

#11950 api: Return 404 when deregistering a non-existent check
  .changelog/11950.txt
  agent/acl.go
  agent/agent_endpoint_test.go
Labels: backport/1.11

#11960 Fix Windows logging to files
  .changelog/11960.txt
  logging/logger.go
Labels: theme/cli, theme/telemetry, backport/1.10, backport/1.11

#11963 docs: Redirect mesh-gateway page to new location
  website/redirects.next.js
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#11939 docs/nia - 'source_includes_var' changes
  website/content/docs/nia/configuration.mdx
  website/content/docs/nia/tasks.mdx
Labels: type/docs, theme/consul-terraform-sync

#11959 ui: Fix dark borders on certain visualizations
  .changelog/11959.txt
  ui/packages/consul-ui/app/components/consul/discovery-chain/skin.scss
  ui/packages/consul-ui/app/components/topology-metrics/card/index.scss
  ui/packages/consul-ui/app/components/topology-metrics/skin.scss
Labels: theme/ui, backport/1.11

#11913 ui: Upgrade AuthDialog
  ui/packages/consul-acls/app/components/consul/acl/selector/index.hbs
  ui/packages/consul-acls/app/components/consul/token/selector/index.hbs
  ui/packages/consul-acls/app/components/consul/token/selector/index.js
  ui/packages/consul-ui/app/abilities/authenticate.js
  ui/packages/consul-ui/app/components/auth-dialog/README.mdx
  ui/packages/consul-ui/app/components/auth-dialog/index.hbs
  ui/packages/consul-ui/app/components/auth-dialog/index.js
  ui/packages/consul-ui/app/components/auth-profile/README.mdx
  ui/packages/consul-ui/app/components/auth-profile/index.hbs
  ui/packages/consul-ui/app/components/auth-profile/index.js
  ui/packages/consul-ui/app/components/auth-profile/index.scss
  ui/packages/consul-ui/app/components/hashicorp-consul/index.hbs
  ui/packages/consul-ui/app/components/hashicorp-consul/index.js
  ui/packages/consul-ui/app/components/menu-panel/layout.scss
  ui/packages/consul-ui/app/components/menu-panel/skin.scss
  ui/packages/consul-ui/app/styles/components.scss
  ui/packages/consul-ui/app/styles/typography.scss
  ui/packages/consul-ui/tests/integration/components/auth-dialog-test.js
Labels: theme/ui, pr/no-changelog

#11937 ui: [BUGFIX] Fixes an issue when editing intentions from the service > intentions sub tab
  .changelog/11937.txt
  ui/packages/consul-ui/app/templates/dc/services/show/intentions/edit.hbs
  ui/packages/consul-ui/tests/acceptance/dc/services/show/intentions/create.feature
  ui/packages/consul-ui/tests/acceptance/dc/services/show/intentions/index.feature
  ui/packages/consul-ui/tests/acceptance/steps/dc/services/show/intentions/create-steps.js
  ui/packages/consul-ui/tests/acceptance/steps/dc/services/show/intentions/index-steps.js
  ui/packages/consul-ui/tests/helpers/type-to-url.js
  ui/packages/consul-ui/tests/pages/dc/intentions/edit.js
Labels: type/bug, theme/ui, backport/1.11

#11903 ui: Ensure service instance data does not get re-written on blocking refresh
  .changelog/11903.txt
  ui/packages/consul-ui/app/components/outlet/index.js
  ui/packages/consul-ui/app/components/route/index.hbs
  ui/packages/consul-ui/app/components/route/index.js
  ui/packages/consul-ui/app/filter/predicates/service-instance.js
  ui/packages/consul-ui/app/helpers/merge-checks.js
  ui/packages/consul-ui/app/models/proxy.js
  ui/packages/consul-ui/app/models/service-instance.js
  ui/packages/consul-ui/app/services/repository/proxy.js
  ui/packages/consul-ui/app/services/repository/service-instance.js
  ui/packages/consul-ui/app/services/routlet.js
  ui/packages/consul-ui/app/templates/dc/services/instance.hbs
  ui/packages/consul-ui/app/templates/dc/services/instance/addresses.hbs
  ui/packages/consul-ui/app/templates/dc/services/instance/exposedpaths.hbs
  ui/packages/consul-ui/app/templates/dc/services/instance/healthchecks.hbs
  ui/packages/consul-ui/app/templates/dc/services/instance/upstreams.hbs
  ui/packages/consul-ui/docs/bookmarklets.mdx
  ui/packages/consul-ui/mock-api/v1/catalog/connect/_
  ui/packages/consul-ui/mock-api/v1/catalog/connect/backend
  ui/packages/consul-ui/mock-api/v1/health/service/backend
  ui/packages/consul-ui/mock-api/v1/health/service/backend-sidecar-proxy
  ui/packages/consul-ui/tests/integration/services/routlet-test.js
Labels: type/bug, theme/ui, backport/1.11

#11968 ui: Remove KV pre-flight auth check
  .changelog/11968.txt
  ui/packages/consul-ui/app/abilities/kv.js
  ui/packages/consul-ui/app/services/repository/kv.js
Labels: theme/ui, backport/1.10, backport/1.11

#11973 Add missing entries to CHANGELOG.md
  CHANGELOG.md
Labels: pr/no-changelog

#11971 ui: [Backport/1.10.x] Remove KV pre-flight auth check
  .changelog/11968.txt
  ui/packages/consul-ui/app/abilities/kv.js
  ui/packages/consul-ui/app/services/repository/kv.js
Labels: theme/ui, pr/no-changelog

#11930 added line about wildcard intentions not supported for admin partitions
  website/content/docs/connect/intentions.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#11977 docs: kv doc improvements
  website/content/api-docs/kv.mdx
  website/content/commands/kv/get.mdx
  website/content/commands/kv/put.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, event/consul-docs-day

#11990 Add LastErrorMessage to /acl/replication docs
  website/content/api-docs/acl/index.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, event/consul-docs-day

#11989 Added HCL examples to service discovery page
  website/content/docs/discovery/services.mdx
Labels: type/docs, type/docs-cherrypick, event/consul-docs-day

#11978 Document Consul enterprise 1.10.0-1.10.4 forwards incompatibility with 1.11
  website/content/docs/upgrading/instructions/upgrade-to-1-10-x.mdx
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs, type/docs-cherrypick, backport/1.11, event/consul-docs-day

#12007 docs: clarify hcl/cli differences
  website/content/docs/agent/options.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, event/consul-docs-day

#11997 Adding texts in verify_leader metric
  website/content/docs/agent/telemetry.mdx
Labels: type/docs, type/docs-cherrypick

#12000 Updated health check docs page with HCL examples
  website/content/docs/discovery/checks.mdx
Labels: type/docs, type/docs-cherrypick, event/consul-docs-day

#12010 Add distributed tracing docs
  website/content/docs/connect/distributed-tracing.mdx
  website/data/docs-nav-data.json
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, event/consul-docs-day

#12017 Doc changes
  website/content/docs/connect/gateways/index.mdx
  website/public/img/consul-connect/svgs/consul_gateway_overview.svg
  website/public/img/consul-connect/svgs/consul_gateway_overview_wide.svg
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, event/consul-docs-day

#12016 Consul UI Screenshot Updates
  website/content/docs/connect/observability/ui-visualization.mdx
  website/content/docs/k8s/connect/observability/metrics.mdx
  website/content/docs/k8s/installation/multi-cluster/kubernetes.mdx
  website/public/img/data-center-dropdown.png
  website/public/img/ui-service-topology-view-hover.png
Labels: type/docs, type/docs-cherrypick, event/consul-docs-day

#11998 Add go-sockaddr examples for multiple interfaces
  website/content/docs/agent/index.mdx
  website/content/docs/agent/options.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, event/consul-docs-day

#12003 Update Web Components for Architecture pages
  website/content/docs/architecture/coordinates.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, event/consul-docs-day

#11979 ui: Ensure the partition is passed through to the request for the SSO auth URL
  .changelog/11979.txt
  ui/packages/consul-ui/app/components/auth-form/index.hbs
  ui/packages/consul-ui/app/components/token-source/README.mdx
  ui/packages/consul-ui/app/components/token-source/index.hbs
  ui/packages/consul-ui/app/serializers/oidc-provider.js
  ui/packages/consul-ui/app/services/repository/oidc-provider.js
  ui/packages/consul-ui/mock-api/v1/acl/oidc/callback
  ui/packages/consul-ui/mock-api/v1/internal/ui/oidc-auth-methods
  ui/packages/consul-ui/tests/acceptance/login.feature
  ui/packages/consul-ui/tests/helpers/set-cookies.js
  ui/packages/consul-ui/tests/helpers/type-to-url.js
  ui/packages/consul-ui/tests/steps.js
  ui/packages/consul-ui/tests/steps/doubles/http.js
  ui/packages/consul-ui/tests/steps/doubles/model.js
Labels: theme/ui, backport/1.11

#11805 ui: Adding Partition to topology card
  ui/packages/consul-ui/app/components/topology-metrics/card/index.hbs
  ui/packages/consul-ui/app/components/topology-metrics/card/index.scss
  ui/packages/consul-ui/app/components/topology-metrics/layout.scss
  ui/packages/consul-ui/app/components/topology-metrics/skin.scss
  ui/packages/consul-ui/app/styles/base/icons/base-variables.scss
  ui/packages/consul-ui/app/styles/base/icons/icon-placeholders.scss
  ui/packages/consul-ui/mock-api/v1/internal/ui/service-topology/_
Labels: theme/ui, pr/no-changelog, pr/no-metrics-test

#11992 Add CTS and API Gateway to docs on tools page
  website/content/docs/download-tools.mdx
Labels: type/docs, type/docs-cherrypick, event/consul-docs-day

#11995 Adding UI screenshots to L7 overview
  package-lock.json
  website/content/docs/connect/config-entries/service-resolver.mdx
  website/content/docs/connect/config-entries/service-router.mdx
  website/content/docs/connect/config-entries/service-splitter.mdx
  website/content/docs/connect/l7-traffic/index.mdx
  website/package-lock.json
  website/public/img/l7-routing/Resolver.png
  website/public/img/l7-routing/Router.png
  website/public/img/l7-routing/Splitter.png
  website/public/img/l7-routing/full.png
Labels: type/docs, type/docs-cherrypick, event/consul-docs-day

#12002 added screenshot of k8s service
  website/content/docs/k8s/service-sync.mdx
  website/public/img/k8s-service.png
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, event/consul-docs-day

#11576 ingress: allow setting TLS min version and cipher suites in ingress gateway config entries
  .changelog/11576.txt
  agent/structs/config_entry_gateways.go
  agent/structs/config_entry_test.go
  agent/xds/clusters.go
  agent/xds/listeners.go
  agent/xds/listeners_ingress.go
  agent/xds/listeners_test.go
  agent/xds/testdata/listeners/ingress-with-single-tls-listener.envoy-1-20-x.golden
  agent/xds/testdata/listeners/ingress-with-tls-listener-cipher-suites.envoy-1-20-x.golden
  agent/xds/testdata/listeners/ingress-with-tls-listener-max-version.envoy-1-20-x.golden
  agent/xds/testdata/listeners/ingress-with-tls-listener-min-version.envoy-1-20-x.golden
  agent/xds/testdata/listeners/ingress-with-tls-min-version-listeners-gateway-defaults.envoy-1-20-x.golden
  agent/xds/testdata/listeners/ingress-with-tls-mixed-min-version-listeners.envoy-1-20-x.golden
  api/config_entry_gateways.go
  api/config_entry_gateways_test.go
  api/config_entry_test.go
  command/config/write/config_write_test.go
  types/tls.go
  types/tls_test.go
Labels: theme/envoy/xds

#11983 docs: added another resolver example for DC and namespace failover
  website/content/docs/connect/config-entries/service-resolver.mdx
Labels: type/docs, type/docs-cherrypick, event/consul-docs-day

#12023 docs: Fix spelling errors
  website/content/docs/agent/config-entries.mdx
  website/content/docs/agent/index.mdx
  website/content/docs/agent/telemetry.mdx
  website/content/docs/connect/gateways/index.mdx
  website/content/docs/connect/gateways/mesh-gateway/service-to-service-traffic-partitions.mdx
  website/content/docs/connect/intentions.mdx
  website/content/docs/connect/proxies/integrate.mdx
  website/content/docs/connect/registration/service-registration.mdx
  website/content/docs/discovery/checks.mdx
  website/content/docs/ecs/index.mdx
  website/content/docs/enterprise/admin-partitions.mdx
  website/content/docs/k8s/installation/vault/index.mdx
  website/content/docs/k8s/installation/vault/server-tls.mdx
  website/content/docs/k8s/k8s-cli.mdx
  website/content/docs/k8s/operations/uninstall.mdx
  website/content/docs/nia/network-drivers/terraform.mdx
  website/content/docs/security/acl/acl-rules.mdx
  website/content/docs/upgrading/instructions/upgrade-to-1-10-x.mdx
Labels: type/docs, type/docs-cherrypick, theme/consul-terraform-sync, pr/no-changelog, event/consul-docs-day

#11964 Backport #11950 to release/1.11.x
  .changelog/11950.txt
  agent/acl.go
  agent/agent_endpoint_test.go
Labels: pr/no-changelog

#12008 Clarify CTS monitoring of service and instances
  website/content/docs/nia/index.mdx
Labels: type/docs, type/docs-cherrypick, theme/consul-terraform-sync, pr/no-changelog, event/consul-docs-day

#12028 Fix races in anti-entropy tests
  agent/local/state.go
  agent/local/state_test.go
Labels: pr/no-changelog, backport/1.11

#12006 CTS OSS vs Ent docs
  website/content/docs/nia/enterprise/index.mdx
  website/content/docs/nia/index.mdx
  website/content/docs/nia/installation/install.mdx
  website/content/docs/nia/network-drivers/index.mdx
Labels: type/docs-cherrypick, theme/consul-terraform-sync, pr/no-changelog, event/consul-docs-day

#12021 docs: Update uninstall to ensure CRDs are deleted
  website/content/docs/k8s/operations/uninstall.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, event/consul-docs-day

#12033 [1.10.x] update changelog
  .changelog/_1477.txt
Labels: pr/no-changelog

#12034 Clarifies external CA config
  website/content/docs/k8s/connect/connect-ca-provider.mdx
Labels: type/docs, type/docs-cherrypick

#11203 ui: First pass at writing some data layer related Eng docs
  ui/packages/consul-ui/docs/data-layer.mdx
Labels: theme/ui, pr/no-changelog

#11955 ui: Allow Route templateName paths to be relative
  ui/packages/consul-nspaces/vendor/consul-nspaces/routes.js
  ui/packages/consul-partitions/vendor/consul-partitions/routes.js
  ui/packages/consul-ui/app/router.js
  ui/packages/consul-ui/app/routes/dc/services/show/instances.js
  ui/packages/consul-ui/app/routing/route.js
  ui/packages/consul-ui/app/utils/path/resolve.js
  ui/packages/consul-ui/docs/significant-patterns.mdx
  ui/packages/consul-ui/tests/unit/utils/path/resolve-test.js
Labels: theme/ui, pr/no-changelog

#11982 ui: Some ACL component documentation
  ui/packages/consul-acls/app/components/consul/acl/selector/README.mdx
  ui/packages/consul-acls/app/components/consul/token/selector/README.mdx
  ui/packages/consul-acls/app/components/consul/token/selector/index.hbs
  ui/packages/consul-ui/.docfy-config.js
  ui/packages/consul-ui/app/components/hashicorp-consul/index.hbs
Labels: theme/ui, pr/no-changelog

#11988 ui: Alter position of dashboard button in the service instance header
  ui/packages/consul-ui/app/components/app-view/layout.scss
  ui/packages/consul-ui/app/styles/routes/dc/services/index.scss
  ui/packages/consul-ui/app/templates/dc/services/show.hbs
Labels: theme/ui, pr/no-changelog, backport/1.10, backport/1.11

#11981 ui: Fix up wiring or empty state login button
  ui/packages/consul-acls/app/components/consul/acl/selector/README.mdx
  ui/packages/consul-acls/app/components/consul/token/selector/README.mdx
  ui/packages/consul-acls/app/components/consul/token/selector/index.hbs
  ui/packages/consul-ui/.docfy-config.js
  ui/packages/consul-ui/app/components/hashicorp-consul/index.hbs
  ui/packages/consul-ui/tests/acceptance/navigation-links.feature
Labels: theme/ui, pr/no-changelog

#11985 ui: Adds a notice for non-primary intention creation
  .changelog/11985.txt
  ui/packages/consul-ui/app/components/consul/intention/form/index.hbs
Labels: type/enhancement, theme/ui, backport/1.11

#12014 docs: updated the description of min_quorum
  website/content/docs/agent/options.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, event/consul-docs-day

#12041 Fix race with tags
  agent/local/state.go
Labels: pr/no-changelog, backport/1.11

#12043 website: upgrade downloads page
  website/package-lock.json
  website/package.json
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12044 Update server-tls.mdx
  website/content/docs/k8s/installation/vault/server-tls.mdx
Labels: type/docs, type/docs-cherrypick

#12031 docs: Formatting for Consul K8s uninstall commands
  website/content/docs/k8s/operations/uninstall.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12037 [1.10.x] Backport CA and test fixes
  agent/connect/ca/provider_consul_test.go
  agent/connect/ca/testing.go
  agent/consul/connect_ca_endpoint_test.go
  agent/consul/fsm/commands_oss.go
  agent/consul/leader_connect_ca.go
  agent/consul/leader_connect_ca_test.go
  agent/consul/leader_connect_test.go
  agent/consul/state/connect_ca.go
  agent/structs/connect_ca.go
  lib/routine/routine.go
  testrpc/wait.go
Labels: theme/connect, theme/internals, pr/no-changelog

#12038 [1.9.x] Backport CA and test fixes
  agent/connect/ca/provider_consul_test.go
  agent/connect/ca/testing.go
  agent/consul/connect_ca_endpoint_test.go
  agent/consul/fsm/commands_oss.go
  agent/consul/leader_connect_ca.go
  agent/consul/leader_connect_ca_test.go
  agent/consul/leader_connect_test.go
  agent/consul/state/connect_ca.go
  agent/proxycfg/manager_test.go
  agent/structs/connect_ca.go
  testrpc/wait.go
Labels: theme/connect, pr/no-changelog

#12022 CA certificates relationship HL diagram
  website/content/docs/connect/ca/index.mdx
  website/public/img/cert-relationship.svg
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.11, event/consul-docs-day

#12049 OSS: Add virtual IP generation for terminating gateway backed services
  .changelog/12049.txt
  agent/consul/leader_connect.go
  agent/consul/leader_test.go
  agent/consul/state/catalog.go
  agent/consul/state/catalog_events.go
  agent/consul/state/catalog_events_test.go
  agent/consul/state/catalog_test.go
  agent/structs/structs.go
  agent/structs/system_metadata.go
  agent/xds/listeners.go
  agent/xds/listeners_test.go
  agent/xds/testdata/listeners/transparent-proxy-terminating-gateway.envoy-1-20-x.golden
Labels: theme/envoy/xds, backport/1.11

#12030 docs: Use long form of CLI arguments
  website/Makefile
  website/content/api-docs/acl/auth-methods.mdx
  website/content/api-docs/acl/binding-rules.mdx
  website/content/api-docs/acl/index.mdx
  website/content/api-docs/acl/policies.mdx
  website/content/api-docs/acl/roles.mdx
  website/content/api-docs/acl/tokens.mdx
  website/content/api-docs/admin-partitions.mdx
  website/content/api-docs/agent/service.mdx
  website/content/api-docs/catalog.mdx
  website/content/api-docs/connect/intentions.mdx
  website/content/api-docs/discovery-chain.mdx
  website/content/api-docs/features/filtering.mdx
  website/content/api-docs/health.mdx
  website/content/api-docs/namespaces.mdx
  website/content/api-docs/operator/raft.mdx
  website/content/api-docs/snapshot.mdx
  website/content/commands/connect/envoy.mdx
  website/content/commands/index.mdx
  website/content/commands/partition.mdx
  website/content/docs/connect/ca/consul.mdx
  website/content/docs/connect/dev.mdx
  website/content/docs/discovery/dns.mdx
  website/content/docs/enterprise/admin-partitions.mdx
  website/content/docs/install/index.mdx
  website/content/docs/k8s/connect/connect-ca-provider.mdx
  website/content/docs/k8s/connect/index.mdx
  website/content/docs/k8s/connect/ingress-controllers.mdx
  website/content/docs/k8s/connect/ingress-gateways.mdx
  website/content/docs/k8s/connect/terminating-gateways.mdx
  website/content/docs/k8s/crds/index.mdx
  website/content/docs/k8s/dns.mdx
  website/content/docs/k8s/helm.mdx
  website/content/docs/k8s/installation/deployment-configurations/consul-enterprise.mdx
  website/content/docs/k8s/installation/deployment-configurations/single-dc-multi-k8s.mdx
  website/content/docs/k8s/installation/install.mdx
  website/content/docs/k8s/installation/multi-cluster/kubernetes.mdx
  website/content/docs/k8s/installation/multi-cluster/vms-and-kubernetes.mdx
  website/content/docs/k8s/installation/vault/connect-ca.mdx
  website/content/docs/k8s/installation/vault/server-tls.mdx
  website/content/docs/k8s/operations/certificate-rotation.mdx
  website/content/docs/k8s/operations/gossip-encryption-key-rotation.mdx
  website/content/docs/k8s/operations/uninstall.mdx
  website/content/docs/k8s/upgrade/index.mdx
  website/content/docs/security/acl/acl-migrate-tokens.mdx
  website/content/docs/security/acl/auth-methods/oidc.mdx
  website/content/docs/troubleshoot/common-errors.mdx
  website/content/docs/upgrading/instructions/upgrade-to-1-2-x.mdx
  website/content/docs/upgrading/instructions/upgrade-to-1-6-x.mdx
  website/content/docs/upgrading/instructions/upgrade-to-1-8-x.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, event/consul-docs-day

#12050 Stage 1.9.14 release
  .github/workflows/build.yml
  .release/ci.hcl
  CHANGELOG.md
  version/version.go
Labels: theme/contributing

#12054 Stage 1.10.7 release
  .github/workflows/build.yml
  .release/ci.hcl
  CHANGELOG.md
  version/version.go
Labels: theme/contributing, pr/no-changelog

#12052 Create changelog and version updates for 1.11.2
  .github/workflows/build.yml
  .release/ci.hcl
  CHANGELOG.md
  version/version.go
Labels: theme/contributing, pr/no-changelog

#12055 Ma/release/1.11.2
  version/version.go
Labels: pr/no-changelog

#12039 docs: Clarify consul.version telemetry description
  website/content/docs/agent/telemetry.mdx
Labels: type/docs, type/docs-cherrypick

#11327 feat: versioned-docs
  website/next.config.js
  website/package-lock.json
  website/package.json
  website/pages/api-docs/[[...page]].jsx
  website/pages/commands/[[...page]].jsx
  website/pages/docs/[[...page]].jsx
Labels: type/docs, pr/no-changelog

#11661 ca: remove one call to Provider.ActiveRoot
  agent/consul/leader_connect_ca.go
  agent/consul/leader_connect_ca_test.go
  agent/consul/leader_metrics.go
Labels: theme/internal-cleanup, pr/no-changelog

#12074 Update Web Components for Agent pages
  website/content/docs/agent/config-entries.mdx
  website/content/docs/agent/index.mdx
  website/content/docs/agent/options.mdx
  website/content/docs/agent/sentinel.mdx
  website/content/docs/agent/telemetry.mdx
Labels: type/docs, type/docs-cherrypick, backport/1.8, backport/1.9, backport/1.10, event/consul-docs-day

#12076 docs: Show `consul intention list` in nav sidebar
  website/data/commands-nav-data.json
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.10, backport/1.11

#12086 Updating the docs to point out that 1.10.7 should be used instead of 1.10.6
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs, type/docs-cherrypick, backport/1.11

#12029 nia/docs: Standardize CTS config/parameter tables
  website/content/docs/nia/api/status.mdx
  website/content/docs/nia/api/tasks.mdx
  website/content/docs/nia/cli/index.mdx
  website/content/docs/nia/cli/task.mdx
Labels: type/docs, theme/consul-terraform-sync

#12077 [1.9.x] Backport docs change to show `consul intention list` in nav menu
  website/data/commands-nav-data.json
Labels: type/docs, pr/no-changelog

#12075 docs: Add HCL examples to agent config options
  website/content/docs/agent/options.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.11, event/consul-docs-day

#12093 Merge in changelog from 1.11.2
  CHANGELOG.md
Labels: pr/no-changelog

#12092 Merge in changelog from 1.10.7
  CHANGELOG.md
Labels: pr/no-changelog

#12095 Add changelog from latest releases
  CHANGELOG.md
Labels: pr/no-changelog

#12094 Merg in changelog from 1.9.14
  CHANGELOG.md
Labels: pr/no-changelog

#12099 Update website for latest version
  website/data/version.js
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12087 docs/nia: CTS Terraform v1.1 compatibility
  website/content/docs/nia/compatibility.mdx
Labels: type/docs, type/docs-cherrypick, theme/consul-terraform-sync

#12020 Add new page on multi DC ACLs
  website/content/docs/security/acl/acl-federated-datacenters.mdx
  website/data/docs-nav-data.json
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, event/consul-docs-day

#11365 Minor grammar change to ingress-gateway.mdx
  website/content/docs/connect/config-entries/ingress-gateway.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12004 Docs: Updating HTTP API endpoints with CLI equivalent links
  website/content/api-docs/acl/auth-methods.mdx
  website/content/api-docs/acl/binding-rules.mdx
  website/content/api-docs/acl/index.mdx
  website/content/api-docs/acl/policies.mdx
  website/content/api-docs/acl/roles.mdx
  website/content/api-docs/acl/tokens.mdx
  website/content/api-docs/admin-partitions.mdx
  website/content/api-docs/agent/index.mdx
  website/content/api-docs/agent/service.mdx
  website/content/api-docs/catalog.mdx
  website/content/api-docs/config.mdx
  website/content/api-docs/connect/ca.mdx
  website/content/api-docs/connect/intentions.mdx
  website/content/api-docs/coordinate.mdx
  website/content/api-docs/event.mdx
  website/content/api-docs/kv.mdx
  website/content/api-docs/namespaces.mdx
  website/content/api-docs/operator/area.mdx
  website/content/api-docs/operator/autopilot.mdx
  website/content/api-docs/operator/keyring.mdx
  website/content/api-docs/operator/license.mdx
  website/content/api-docs/operator/raft.mdx
  website/content/api-docs/snapshot.mdx
  website/content/api-docs/status.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, event/consul-docs-day

#12104 [Backport 1.10.x] URL-encode/decode resource names for HTTP API
  .changelog/11335.txt
  agent/agent_endpoint.go
  agent/http.go
  agent/http_test.go
  api/agent.go
Labels: theme/api, theme/operator-usability

#12105 [Backport 1.9.x] URL-encode/decode resource names for HTTP API
  .changelog/11335.txt
  agent/agent_endpoint.go
  agent/http.go
  agent/http_test.go
  api/agent.go
Labels: theme/api, theme/operator-usability

#12101 docs: show WAN fed with/without mesh gateways
  website/content/docs/connect/gateways/mesh-gateway/wan-federation-via-mesh-gateways.mdx
  website/public/img/wan-federation-connectivity-mesh-gateways.png
  website/public/img/wan-federation-connectivity-mesh-gateways.svg
  website/public/img/wan-federation-connectivity-traditional.png
  website/public/img/wan-federation-connectivity-traditional.svg
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#11936 docs: move K8s compatability matrix and add more details for compatibility
  website/content/docs/k8s/installation/compatibility.mdx
  website/content/docs/k8s/upgrade/compatibility.mdx
  website/data/docs-nav-data.json
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#11860 Update ECR tag in CRT Builds
  .github/workflows/build.yml
Labels: theme/contributing, backport/1.8, backport/1.9, pr/no-changelog, backport/1.10, backport/1.11

#11895 connect: Upgrade Envoy 1.20 to 1.20.1
  .changelog/11895.txt
  .circleci/config.yml
  agent/xds/envoy_versioning_test.go
  agent/xds/proxysupport/proxysupport.go
  test/integration/connect/envoy/run-tests.sh
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, type/ci, theme/envoy/xds, backport/1.11

#11898 updated configuration entry params for admin partitions 1.11
  website/content/docs/connect/config-entries/ingress-gateway.mdx
  website/content/docs/connect/config-entries/mesh.mdx
  website/content/docs/connect/config-entries/proxy-defaults.mdx
  website/content/docs/connect/config-entries/service-defaults.mdx
  website/content/docs/connect/config-entries/service-intentions.mdx
  website/content/docs/connect/config-entries/service-resolver.mdx
  website/content/docs/connect/config-entries/service-router.mdx
  website/content/docs/connect/config-entries/service-splitter.mdx
  website/content/docs/connect/config-entries/terminating-gateway.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test

#12100 docs: clarify gateways don't connect to public internet
  website/content/docs/connect/gateways/index.mdx
  website/content/docs/connect/gateways/ingress-gateway.mdx
  website/content/docs/connect/gateways/terminating-gateway.mdx
  website/public/img/consul-connect/svgs/consul_gateway_overview.svg
  website/public/img/consul-connect/svgs/consul_gateway_overview_wide.svg
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, event/consul-docs-day

#10797 minor typo
  website/content/docs/nia/architecture.mdx
Labels: type/docs, type/docs-cherrypick, theme/consul-terraform-sync, pr/no-changelog

#12081 ui: Fixup KV folder creation then further creation within that folder
  .changelog/12081.txt
  ui/packages/consul-ui/app/components/consul/kv/form/index.hbs
  ui/packages/consul-ui/app/services/repository/kv.js
  ui/packages/consul-ui/app/templates/dc/kv/edit.hbs
  ui/packages/consul-ui/tests/acceptance/dc/kvs/create.feature
Labels: theme/ui, backport/1.11

#11969 ui: Runtime Injectable Components
  ui/packages/consul-acls/vendor/consul-acls/routes.js
  ui/packages/consul-acls/vendor/consul-acls/services.js
  ui/packages/consul-nspaces/vendor/consul-nspaces/routes.js
  ui/packages/consul-nspaces/vendor/consul-nspaces/services.js
  ui/packages/consul-partitions/app/components/consul/partition/selector/index.hbs
  ui/packages/consul-partitions/vendor/consul-partitions/routes.js
  ui/packages/consul-partitions/vendor/consul-partitions/services.js
  ui/packages/consul-ui/app/instance-initializers/container.js
  ui/packages/consul-ui/app/router.js
  ui/packages/consul-ui/ember-cli-build.js
  ui/packages/consul-ui/lib/startup/templates/body.html.js
  ui/packages/consul-ui/vendor/consul-ui/routes-debug.js
  ui/packages/consul-ui/vendor/consul-ui/routes.js
  ui/packages/consul-ui/vendor/consul-ui/services-debug.js
  ui/packages/consul-ui/vendor/consul-ui/services.js
Labels: theme/ui, pr/no-changelog

#12056 docs: Document .addr DNS domain in SRV responses
  website/content/docs/discovery/dns.mdx
Labels: type/docs, type/docs-cherrypick, backport/1.8, backport/1.9, pr/no-changelog, backport/1.10, backport/1.11, event/consul-docs-day

#12120 website: chore: upgrades react-content
  website/package-lock.json
  website/package.json
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12108 Add GRPC to HealthCheckDefinition
  agent/txn_endpoint.go
  api/health.go
Labels: pr/no-changelog

#12123 Update k8s upgrade docs
  website/content/docs/k8s/upgrade/index.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12127 Update version to use 1.11.2 prefix
  version/version.go
Labels: pr/no-changelog

#12122 docs: Fix typo in service resolver's RingHashConfig
  website/content/docs/connect/config-entries/service-resolver.mdx
Labels: type/docs, type/docs-cherrypick, backport/1.9, pr/no-changelog, backport/1.10, backport/1.11

#12124 docs: Link to supported config kinds in `config write`
  website/content/commands/config/write.mdx
Labels: type/docs, type/docs-cherrypick, backport/1.8, backport/1.9, pr/no-changelog, backport/1.10, backport/1.11

#12121 [1.8.x] Backport docs for SRV .addr domain
  website/pages/docs/discovery/dns.mdx
Labels: type/docs, pr/no-changelog

#12128 update changelog
  .changelog/_1502.txt
Labels: pr/no-changelog, backport/1.11

#12130 [1.10.x] Backport docs for RingHashConfig typo
  website/content/docs/connect/config-entries/service-resolver.mdx
Labels: type/docs, pr/no-changelog

#12129 [1.9.x] Backport docs for RingHashConfig typo
  website/content/docs/connect/config-entries/service-resolver.mdx
Labels: type/docs, pr/no-changelog

#11827 [OSS] Remove remaining references to master
  .changelog/11827.txt
  agent/acl_endpoint_test.go
  agent/agent.go
  agent/agent_endpoint_test.go
  agent/consul/acl.go
  agent/consul/acl_endpoint_test.go
  agent/consul/acl_test.go
  agent/consul/acl_token_exp_test.go
  agent/consul/auto_config_backend_test.go
  agent/consul/connect_ca_endpoint_test.go
  agent/consul/federation_state_endpoint_test.go
  agent/consul/fsm/commands_oss_test.go
  agent/consul/intention_endpoint_test.go
  agent/consul/internal_endpoint_test.go
  agent/consul/leader_connect_test.go
  agent/consul/leader_test.go
  agent/consul/prepared_query_endpoint_test.go
  agent/consul/server_test.go
  agent/consul/state/prepared_query_test.go
  agent/local/state_test.go
  agent/structs/acl.go
  api/acl_test.go
  api/api_test.go
  api/catalog_test.go
  api/prepared_query_test.go
  sdk/testutil/README.md
  sdk/testutil/server.go
  ui/packages/consul-ui/mock-api/v1/acl/list
Labels: theme/api

#12139 lint: forbid require.New and assert.New
  .golangci.yml
Labels: pr/no-changelog

#12140 ci: Add explanation in forbidigo
  .golangci.yml
Labels: pr/no-changelog

#12011 docs: update config entry docs for proxy-defaults to follow new template
  website/content/docs/connect/config-entries/proxy-defaults.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, event/consul-docs-day

#11882 Provide an 'escape-hatch' for website-checker workflow
  .github/workflows/website-checker.yml
Labels: theme/contributing, pr/no-changelog

#12135 ui: Themeable icons
  ui/packages/consul-ui/app/components/pill/index.scss
  ui/packages/consul-ui/app/components/popover-select/index.scss
  ui/packages/consul-ui/app/styles/app.scss
  ui/packages/consul-ui/app/styles/base/color/base-variables.scss
  ui/packages/consul-ui/app/styles/base/color/lemon/frame-placeholders.scss
  ui/packages/consul-ui/app/styles/base/color/lemon/index.scss
  ui/packages/consul-ui/app/styles/base/color/lemon/themes/dark-high-contrast.scss
  ui/packages/consul-ui/app/styles/base/color/lemon/themes/dark.scss
  ui/packages/consul-ui/app/styles/base/color/lemon/themes/light-high-contrast.scss
  ui/packages/consul-ui/app/styles/base/color/lemon/themes/light.scss
  ui/packages/consul-ui/app/styles/base/color/vault/frame-placeholders.scss
  ui/packages/consul-ui/app/styles/base/color/vault/index.scss
  ui/packages/consul-ui/app/styles/base/color/vault/themes/dark-high-contrast.scss
  ui/packages/consul-ui/app/styles/base/color/vault/themes/dark.scss
  ui/packages/consul-ui/app/styles/base/color/vault/themes/light-high-contrast.scss
  ui/packages/consul-ui/app/styles/base/color/vault/themes/light.scss
  ui/packages/consul-ui/app/styles/base/icons/base-variables.scss
  ui/packages/consul-ui/app/styles/icons.scss
  ui/packages/consul-ui/app/styles/themes.scss
Labels: theme/ui

#12117 ui: Tweak some code related meta information
  ui/packages/consul-ui/app/utils/btoa.js
  ui/packages/consul-ui/app/utils/get-environment.js
  ui/packages/consul-ui/app/utils/keyToArray.js
  ui/packages/consul-ui/app/utils/maybe-call.js
  ui/packages/consul-ui/app/utils/merge-checks.js
  ui/packages/consul-ui/app/utils/routing/walk.js
  ui/packages/consul-ui/app/utils/tomography.js
Labels: theme/ui, pr/no-changelog, pr/no-metrics-test

#12134 ui: Enable theming
  ui/packages/consul-ui/app/components/pill/index.scss
  ui/packages/consul-ui/app/components/popover-select/index.scss
  ui/packages/consul-ui/app/styles/app.scss
  ui/packages/consul-ui/app/styles/base/color/base-variables.scss
  ui/packages/consul-ui/app/styles/base/color/lemon/frame-placeholders.scss
  ui/packages/consul-ui/app/styles/base/color/lemon/index.scss
  ui/packages/consul-ui/app/styles/base/color/lemon/themes/dark-high-contrast.scss
  ui/packages/consul-ui/app/styles/base/color/lemon/themes/dark.scss
  ui/packages/consul-ui/app/styles/base/color/lemon/themes/light-high-contrast.scss
  ui/packages/consul-ui/app/styles/base/color/lemon/themes/light.scss
  ui/packages/consul-ui/app/styles/base/color/vault/frame-placeholders.scss
  ui/packages/consul-ui/app/styles/base/color/vault/index.scss
  ui/packages/consul-ui/app/styles/base/color/vault/themes/dark-high-contrast.scss
  ui/packages/consul-ui/app/styles/base/color/vault/themes/dark.scss
  ui/packages/consul-ui/app/styles/base/color/vault/themes/light-high-contrast.scss
  ui/packages/consul-ui/app/styles/base/color/vault/themes/light.scss
  ui/packages/consul-ui/app/styles/base/icons/base-variables.scss
  ui/packages/consul-ui/app/styles/icons.scss
  ui/packages/consul-ui/app/styles/themes.scss
  ui/packages/consul-ui/app/utils/get-environment.js
  ui/packages/consul-ui/docs/bookmarklets.mdx
Labels: theme/ui, pr/no-changelog

#12148 docs: Formatting Consul K8s Vault docs
  website/content/docs/k8s/installation/install-cli.mdx
  website/content/docs/k8s/installation/vault/connect-ca.mdx
  website/content/docs/k8s/installation/vault/gossip.mdx
  website/content/docs/k8s/installation/vault/index.mdx
  website/content/docs/k8s/installation/vault/server-tls.mdx
Labels: type/docs-cherrypick, pr/no-changelog

#12156 docs: Vault Secrets Backend K8s, remove code tabs
  website/content/docs/k8s/installation/vault/connect-ca.mdx
  website/content/docs/k8s/installation/vault/gossip.mdx
  website/content/docs/k8s/installation/vault/index.mdx
  website/content/docs/k8s/installation/vault/server-tls.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12157 update main to reflect it is v1.12.0-dev
  version/version.go
Labels: pr/no-changelog

#12146 Generate bindata_assetfs.go
  agent/uiserver/bindata_assetfs.go
Labels: pr/no-changelog

#12151 ci: Push bindata_assetfs.go to a non-protected branch
  .circleci/config.yml
Labels: type/ci, pr/no-changelog

#12138 docs: 1.11.0 release notes
  website/content/docs/release-notes/1-10-0.mdx
  website/content/docs/release-notes/1-11-0.mdx
  website/data/docs-nav-data.json
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12150 Add api changes to agent endpoint for part 2
  api/acl.go
  api/catalog.go
  api/config_entry.go
  api/coordinate.go
  api/discovery_chain.go
Labels: pr/no-changelog

#11980 adding JSON examples to /docs/connect/observability/ui-visualization
  website/content/docs/connect/observability/ui-visualization.mdx
Labels: type/docs, theme/telemetry, type/docs-cherrypick, pr/no-changelog, event/consul-docs-day

#12159 Add missing consul.env file for linux packaging
  .release/linux/package/etc/consul.d/consul.env
Labels: pr/no-changelog, backport/1.10, backport/1.11

#12173 docs: Admin Partitions K8s requirement update
  website/content/docs/enterprise/admin-partitions.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12155 Deprecate port CLI option for CTS and updated example usage #12154
  website/content/docs/nia/cli/index.mdx
Labels: type/docs, theme/consul-terraform-sync, pr/no-changelog

#12176 Make systemd EnvironmentFile optional
  .changelog/12176.txt
  .release/linux/package/usr/lib/systemd/system/consul.service
Labels: backport/1.11

#12047 [1.10.x] Update memberlist to v0.3.1
  .changelog/12047.txt
  go.mod
  go.sum
  vendor/github.com/hashicorp/memberlist/config.go
  vendor/github.com/hashicorp/memberlist/label.go
  vendor/github.com/hashicorp/memberlist/memberlist.go
  vendor/github.com/hashicorp/memberlist/net.go
  vendor/github.com/hashicorp/memberlist/peeked_conn.go
  vendor/github.com/hashicorp/memberlist/security.go
  vendor/github.com/hashicorp/memberlist/state.go
  vendor/github.com/hashicorp/memberlist/transport.go
  vendor/github.com/hashicorp/memberlist/util.go
  vendor/modules.txt
Labels: pr/dependencies, pr/no-changelog

#12184 api: Remove incorrect usage of url.PathEscape
  api/acl.go
  api/agent.go
  api/catalog.go
  api/config_entry.go
  api/coordinate.go
  api/discovery_chain.go
Labels: type/bug, theme/api, pr/no-changelog
