Repository hashicorp/consul, pull requests merged in 2022-05, with the labels that each got.

#12887 chore(ci): add initial support for backport assistant
  .github/workflows/backport-assistant.yml
Labels: theme/contributing, pr/no-changelog

#12764 docs: Add example Envoy escape hatch configs
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12911 [sync oss] api: add peering api module
  agent/http_register.go
  agent/peering_endpoint.go
  agent/peering_endpoint_oss_test.go
  agent/peering_endpoint_test.go
  api/api_test.go
  api/peering.go
  api/peering_test.go
Labels: theme/api, pr/no-changelog

#12918 ci: upgrade bats and the circle machine executors to get integration tests to function again
  .circleci/config.yml
  test/integration/connect/envoy/Dockerfile-bats
  test/integration/connect/envoy/Dockerfile-test-sds-server
  test/integration/connect/envoy/run-tests.sh
Labels: type/ci, pr/no-changelog, backport/1.10, backport/1.11, backport/1.12

#12920 [1.10.x] ci: upgrade bats and the circle machine executors to get integration tests to function again
  .circleci/config.yml
  test/integration/connect/envoy/Dockerfile-bats
  test/integration/connect/envoy/run-tests.sh
Labels: type/ci, pr/no-changelog

#12921 chore(ci): fix backport assistant
  .github/workflows/backport-assistant.yml
Labels: pr/no-changelog

#12885 Store and return RPC error in ACL cache entries
  .changelog/12885.txt
  agent/consul/acl.go
  agent/consul/acl_test.go
  agent/structs/acl_cache.go
  agent/structs/acl_cache_test.go
Labels: pr/no-metrics-test, pr/no-docs

#12924 chore(ci): fix backport-assistant for stable website
  .github/workflows/backport-assistant.yml
Labels: theme/contributing, pr/no-changelog

#12917 Add config key to the promote-staging event
  .release/ci.hcl
Labels: pr/no-changelog, backport/1.10, pr/no-metrics-test, backport/1.11, backport/1.12

#12935 acl: gRPC login and logout endpoints
  .changelog/12935.txt
  acl/validation.go
  agent/consul/acl.go
  agent/consul/acl_authmethod.go
  agent/consul/acl_authmethod_test.go
  agent/consul/acl_endpoint.go
  agent/consul/acl_endpoint_oss.go
  agent/consul/acl_endpoint_test.go
  agent/consul/acl_server.go
  agent/consul/acl_server_oss.go
  agent/consul/acl_test.go
  agent/consul/acl_token_exp.go
  agent/consul/auth/binder.go
  agent/consul/auth/binder_oss.go
  agent/consul/auth/binder_test.go
  agent/consul/auth/login.go
  agent/consul/auth/mock_ACLCache.go
  agent/consul/auth/token_writer.go
  agent/consul/auth/token_writer_oss.go
  agent/consul/auth/token_writer_test.go
  agent/consul/grpc_integration_test.go
  agent/consul/server.go
  agent/consul/server_test.go
  agent/grpc/public/services/acl/login.go
  agent/grpc/public/services/acl/login_test.go
  agent/grpc/public/services/acl/logout.go
  agent/grpc/public/services/acl/logout_test.go
  agent/grpc/public/services/acl/mock_Login.go
  agent/grpc/public/services/acl/mock_TokenWriter.go
  agent/grpc/public/services/acl/mock_Validator.go
  agent/grpc/public/services/acl/server.go
  agent/grpc/public/services/acl/server_test.go
  agent/structs/acl.go
  agent/structs/acl_cache.go
  agent/structs/acl_cache_test.go
  agent/structs/acl_test.go
  agent/structs/structs.go
  command/logout/logout_test.go
  proto-public/pbacl/acl.pb.binary.go
  proto-public/pbacl/acl.pb.go
  proto-public/pbacl/acl.proto
Labels: theme/acls, theme/cli, pr/no-metrics-test

#12933 fix(ci): use correct variable syntax for build-distros job
  .circleci/config.yml
Labels: type/ci, pr/no-changelog, pr/no-metrics-test

#12897 ui: [Backport/1.12.x] Fixup icons not displaying in Safari (#12738)
  ui/packages/consul-ui/app/components/breadcrumbs/skin.scss
  ui/packages/consul-ui/app/components/csv-list/index.scss
  ui/packages/consul-ui/app/components/empty-state/skin.scss
  ui/packages/consul-ui/app/components/main-nav-vertical/skin.scss
  ui/packages/consul-ui/app/components/secret-button/layout.scss
  ui/packages/consul-ui/app/components/tooltip-panel/skin.scss
  ui/packages/consul-ui/app/components/tooltip/index.scss
  ui/packages/consul-ui/app/styles/base/icons/base-keyframes.scss
Labels: theme/ui, pr/no-changelog

#12896 ui: [Backport/1.12.x] Show read-replica health status (#12758)
  ui/packages/consul-ui/app/components/consul/server/card/index.hbs
Labels: theme/ui, pr/no-changelog

#12895 ui: [Backport/1.12.x] Revert to Services route as default (#12804)
  ui/packages/consul-ui/app/templates/application.hbs
  ui/packages/consul-ui/tests/acceptance/dc/forwarding.feature
  ui/packages/consul-ui/tests/acceptance/index-forwarding.feature
  ui/packages/consul-ui/tests/acceptance/page-navigation.feature
  ui/packages/consul-ui/vendor/consul-ui/routes.js
Labels: theme/ui, pr/no-changelog

#12941 Backport of Support x-forwarded-client-cert into release/1.12.x
  website/content/docs/connect/config-entries/mesh.mdx
Labels: type/docs, theme/api, theme/cli, theme/envoy/xds, pr/no-changelog

#12904 Support vault namespaces in connect CA
  .changelog/12904.txt
  agent/config/builder.go
  agent/connect/ca/provider.go
  agent/connect/ca/provider_vault.go
  agent/structs/connect_ca.go
  website/content/docs/connect/ca/vault.mdx
Labels: type/docs, theme/config, theme/connect

#12945 docs: 1.10.x k8s compat manual backport
  website/content/docs/k8s/upgrade/compatibility.mdx
Labels: type/docs, pr/no-changelog

#12944 docs: 1.11.x k8s compat matrix manual backport
  website/content/docs/k8s/installation/compatibility.mdx
Labels: type/docs, pr/no-changelog, backport/1.11

#12881 Validate port on mesh service registration
  .changelog/12881.txt
  agent/structs/structs.go
  agent/structs/structs_test.go
Labels: pr/no-metrics-test

#12907 docs: Restore agent config docs removed in PR #12562
  website/content/docs/agent/config/cli-flags.mdx
  website/content/docs/agent/config/config-files.mdx
  website/content/docs/agent/config/index.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12943 Update website/content/docs/connect/config-entries/mesh.mdx
  website/content/docs/connect/config-entries/mesh.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12908 build: speed up linting by 1.5x
  .circleci/config.yml
  .golangci.yml
Labels: type/ci, pr/no-changelog

#12934 api: add PeeeringList, polish
  agent/peering_endpoint_test.go
  api/peering.go
  api/peering_test.go
Labels: theme/api, pr/no-changelog, pr/no-metrics-test

#12946 docs: update k8s compat matrix for 1.9.x
  website/content/docs/k8s/upgrade/compatibility.mdx
Labels: type/docs, backport/1.9, pr/no-changelog

#12886 ci: add nightly action for UI testing release branches
  .github/workflows/nightly-release-ui-test.yaml
Labels: theme/ui, theme/contributing, pr/no-changelog

#12957 peering: add store.PeeringsForService implementation
  agent/consul/state/catalog.go
  agent/consul/state/config_entry.go
  agent/consul/state/config_entry_oss.go
  agent/consul/state/config_entry_oss_test.go
  agent/consul/state/peering.go
  agent/consul/state/peering_test.go
  agent/structs/peering.go
Labels: pr/no-changelog

#12939 Added CTS health endpoint docs
  website/content/docs/nia/api/health.mdx
  website/content/docs/nia/api/status.mdx
  website/content/docs/nia/api/tasks.mdx
  website/content/docs/nia/cli/start.mdx
  website/data/docs-nav-data.json
Labels: type/docs, theme/consul-terraform-sync

#12928 chore(ci): exempt backport PRs from changelog-checker
  .github/workflows/changelog-checker.yml
Labels: theme/contributing, pr/no-changelog

#12977 chore(ci): fix nightly UI test syntaxx
  .github/workflows/nightly-release-ui-test.yaml
Labels: theme/contributing, pr/no-changelog

#12961 Ma/fix enterprise version string oss
  .changelog/12961.txt
  agent/agent.go
  agent/agent_endpoint.go
  agent/agent_endpoint_oss_test.go
  agent/config/builder.go
  agent/config/config.go
  agent/config/default.go
  agent/config/runtime.go
  agent/config/runtime_test.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  version/version.go
Labels: theme/config, pr/no-metrics-test, backport/1.12

#12976 change mod go version to 1.18
  go.mod
  go.sum
Labels: pr/dependencies, pr/no-changelog

#12978 Create clients with specific version for integration tests
  test/integration/consul-container/upgrade/healthcheck_test.go
  test/integration/consul-container/upgrade/version_oss.go
Labels: pr/no-changelog, pr/no-metrics-test

#12984 sync changes to healthcheck tests
  test/integration/consul-container/upgrade/healthcheck_test.go
  test/integration/consul-container/upgrade/version_oss.go
Labels: pr/no-changelog, pr/no-metrics-test

#12898 ui: [Backport/1.12.x] Add documentation link to the Server Fault Tolerance panel (#12792)
  ui/packages/consul-ui/app/styles/routes/dc/overview/serverstatus.scss
  ui/packages/consul-ui/app/templates/dc/show/serverstatus.hbs
  ui/packages/consul-ui/translations/routes/en-us.yaml
Labels: theme/ui, pr/no-changelog

#12968 docs: provide option for installing using a specific version via Helm
  website/content/docs/k8s/installation/install.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.11

#12985 UI: update improve server fault tolerance link
  ui/packages/consul-ui/translations/routes/en-us.yaml
Labels: theme/ui, pr/no-changelog

#12551 Add some docs on pprof usage
  docs/debug/pprof.md
  docs/debug/pprof_cpu_nodes.png
Labels: pr/no-changelog

#12964 expose meta tags for peering
  agent/peering_endpoint_test.go
  agent/rpc/peering/service.go
  agent/rpc/peering/service_test.go
  agent/rpc/peering/testing.go
  agent/structs/structs.go
  api/peering.go
  api/peering_test.go
  proto/pbpeering/peering.pb.go
  proto/pbpeering/peering.proto
Labels: theme/api, pr/no-changelog, pr/no-metrics-test

#12986 add err msg on PeeringRead not found
  agent/peering_endpoint.go
  agent/peering_endpoint_test.go
Labels: pr/no-changelog

#12463 Improve consistency mode docs
  agent/http.go
  website/content/api-docs/features/consistency.mdx
  website/public/img/consistency-modes/consistency-mode-consistent.png
  website/public/img/consistency-modes/consistency-mode-consistent.svg
  website/public/img/consistency-modes/consistency-mode-cross-datacenter-federation-mesh-gateways.png
  website/public/img/consistency-modes/consistency-mode-cross-datacenter-federation-mesh-gateways.svg
  website/public/img/consistency-modes/consistency-mode-cross-datacenter-federation-traditional.png
  website/public/img/consistency-modes/consistency-mode-cross-datacenter-federation-traditional.svg
  website/public/img/consistency-modes/consistency-mode-default.png
  website/public/img/consistency-modes/consistency-mode-default.svg
  website/public/img/consistency-modes/consistency-mode-stale.png
  website/public/img/consistency-modes/consistency-mode-stale.svg
Labels: type/docs, type/docs-cherrypick, backport/1.8, backport/1.9, pr/no-changelog, backport/1.10, pr/no-metrics-test, backport/1.11

#12990 remove replace directive for istio.io/gogo-genproto
  go.mod
Labels: pr/dependencies, pr/no-changelog

#13009 Document consul_datacenter param.
  website/content/docs/ecs/terraform/install.mdx
Labels: type/docs, pr/no-changelog

#12997 Nia/get all tasks endpoint
  website/content/docs/nia/api/tasks.mdx
Labels: type/docs, theme/consul-terraform-sync

#13013 add general runstep test helper instead of copying it all over the place
  agent/agent_endpoint_test.go
  agent/consul/acl_test.go
  agent/consul/config_endpoint_test.go
  agent/consul/connect_ca_endpoint_test.go
  agent/consul/discovery_chain_endpoint_test.go
  agent/consul/health_endpoint_test.go
  agent/consul/intention_endpoint_test.go
  agent/consul/internal_endpoint_test.go
  agent/consul/leader_connect_ca_test.go
  agent/consul/leader_connect_test.go
  agent/consul/peering_backend_test.go
  agent/consul/rpc_test.go
  agent/consul/state/catalog_test.go
  agent/consul/state/coordinate_test.go
  agent/consul/state/peering_test.go
  agent/consul/stream/event_publisher_test.go
  agent/grpc/private/services/subscribe/subscribe_test.go
  agent/health_endpoint_test.go
  agent/rpc/peering/stream_test.go
  agent/rpc/peering/stream_tracker_test.go
  agent/rpc/peering/subscription_manager_test.go
  agent/rpc/peering/testing.go
  agent/rpcclient/health/view_test.go
  agent/submatview/store_test.go
  agent/xds/delta_test.go
  agent/xds/xds_protocol_helpers_test.go
  api/config_entry_exports_test.go
  api/config_entry_test.go
  lib/ttlcache/eviction_test.go
  sdk/testutil/assertions.go
Labels: pr/no-changelog, pr/no-metrics-test

#13015 remove remaining shim runStep functions
  agent/consul/config_endpoint_test.go
  agent/consul/state/catalog_test.go
  agent/consul/stream/event_publisher_test.go
  agent/grpc/private/services/subscribe/subscribe_test.go
  agent/rpc/peering/testing.go
  agent/rpcclient/health/view_test.go
  agent/submatview/store_test.go
  agent/xds/xds_protocol_helpers_test.go
  api/config_entry_test.go
  lib/ttlcache/eviction_test.go
Labels: theme/api, theme/envoy/xds, theme/internals, pr/no-changelog, pr/no-metrics-test

#13014 Added get all tasks endpoint docs for beta
  website/content/docs/release-notes/consul-terraform-sync/v0_6_0_beta.mdx
Labels: type/docs

#13000 Backport of docs: Fix spelling errors across site into release/1.12.x
  website/content/docs/agent/config/config-files.mdx
  website/content/docs/architecture/improving-consul-resilience.mdx
  website/content/docs/architecture/index.mdx
  website/content/docs/connect/config-entries/proxy-defaults.mdx
  website/content/docs/connect/config-entries/service-router.mdx
  website/content/docs/connect/gateways/mesh-gateway/service-to-service-traffic-datacenters.mdx
  website/content/docs/connect/gateways/mesh-gateway/wan-federation-via-mesh-gateways.mdx
  website/content/docs/connect/proxies/envoy.mdx
  website/content/docs/discovery/dns.mdx
  website/content/docs/ecs/manual/acl-controller.mdx
  website/content/docs/ecs/manual/install.mdx
  website/content/docs/ecs/manual/secure-configuration.mdx
  website/content/docs/ecs/task-resource-usage.mdx
  website/content/docs/enterprise/network-segments.mdx
  website/content/docs/intro/usecases/what-is-a-service-mesh.mdx
  website/content/docs/k8s/annotations-and-labels.mdx
  website/content/docs/k8s/architecture.mdx
  website/content/docs/k8s/connect/terminating-gateways.mdx
  website/content/docs/k8s/installation/compatibility.mdx
  website/content/docs/k8s/installation/deployment-configurations/consul-enterprise.mdx
  website/content/docs/k8s/installation/install-cli.mdx
  website/content/docs/k8s/installation/vault/data-integration/bootstrap-token.mdx
  website/content/docs/k8s/installation/vault/data-integration/index.mdx
  website/content/docs/k8s/installation/vault/data-integration/server-tls.mdx
  website/content/docs/k8s/installation/vault/index.mdx
  website/content/docs/k8s/installation/vault/systems-integration.mdx
  website/content/docs/k8s/installation/vault/wan-federation.mdx
  website/content/docs/k8s/upgrade/index.mdx
  website/content/docs/nia/configuration.mdx
  website/content/docs/nia/installation/install.mdx
  website/content/docs/release-notes/consul/v1_11_x.mdx
  website/content/docs/security/acl/acl-policies.mdx
  website/content/docs/security/acl/acl-roles.mdx
  website/content/docs/security/acl/acl-tokens.mdx
  website/content/docs/security/acl/auth-methods/aws-iam.mdx
  website/content/docs/security/acl/index.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12967 CTS 0.6.0 Beta Docs: Health endpoint and service registration
  website/content/docs/release-notes/consul-terraform-sync/v0_6_0_beta.mdx
Labels: type/docs, theme/consul-terraform-sync

#12880 docs: add section to 1.12 upgrade notes about new TLS config style
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs, pr/no-changelog, pr/no-metrics-test, backport/1.12

#12966 docs: Update Admin Partitions with more explicit commands by using shell variables
  website/content/docs/enterprise/admin-partitions.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.11

#13026 Updates to fed docs for 0.43.0
  website/content/docs/k8s/installation/multi-cluster/index.mdx
  website/content/docs/k8s/installation/multi-cluster/kubernetes.mdx
  website/content/docs/k8s/installation/multi-cluster/vms-and-kubernetes.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#13031 docs: fix versions for admin partitions 1.11.x docs
  website/content/docs/enterprise/admin-partitions.mdx
Labels: type/docs

#13036 test: ensure this package uses freeport for port allocation
  agent/rpc/peering/service_test.go
Labels: pr/no-changelog, pr/no-metrics-test

#13035 docs: Address comments from admin partitions docs changes around networking requirements
  website/content/docs/enterprise/admin-partitions.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.11

#13034 internal: port RPC glue changes from Enterprise
  internal/tools/proto-gen-rpc-glue/e2e/source.pb.go
  internal/tools/proto-gen-rpc-glue/e2e/source.rpcglue.pb.go.golden
  internal/tools/proto-gen-rpc-glue/main.go
  proto/pbpeering/peering.go
  proto/pbpeering/peering.pb.go
  proto/pbpeering/peering.proto
  proto/pbpeering/peering.rpcglue.pb.go
Labels: pr/no-changelog, pr/no-metrics-test

#12974 docs: Remove unnecessary use of CodeBlockConfig
  website/content/docs/agent/config/config-files.mdx
  website/content/docs/api-gateway/consul-api-gateway-install.mdx
  website/content/docs/connect/config-entries/exported-services.mdx
  website/content/docs/connect/config-entries/proxy-defaults.mdx
  website/content/docs/connect/registration/service-registration.mdx
  website/content/docs/security/acl/acl-policies.mdx
  website/content/docs/security/acl/acl-rules.mdx
  website/content/docs/security/acl/acl-tokens.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#12916 Beta CTS Docs
  website/content/docs/release-notes/consul-terraform-sync/v0_6_0_beta.mdx
  website/data/docs-nav-data.json
Labels: type/docs, type/docs-cherrypick, theme/consul-terraform-sync, pr/no-changelog, backport/1.12

#13038 structs: add convenience methods to sort slices of ServiceName values
  agent/structs/structs.go
  agent/structs/structs_oss.go
  agent/structs/structs_test.go
Labels: pr/no-changelog

#13056 fix small typo in multi-cluster k8s install docs
  website/content/docs/k8s/installation/multi-cluster/kubernetes.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#13057 Consul k8s docs typo
  website/content/docs/k8s/installation/multi-cluster/kubernetes.mdx
Labels: type/docs

#13047 docs: add enterprise image to vault license data integration example
  website/content/docs/k8s/installation/vault/data-integration/enterprise-license.mdx
Labels: type/docs-cherrypick, pr/no-changelog

#13061 [OSS] Add upsert handling for receiving CheckServiceNode
  acl/enterprisemeta_oss.go
  agent/consul/fsm/snapshot_oss.go
  agent/consul/leader_peering.go
  agent/consul/peering_backend.go
  agent/rpc/peering/service.go
  agent/rpc/peering/service_test.go
  agent/rpc/peering/stream_test.go
  agent/rpc/peering/subscription_view.go
  agent/rpc/peering/testing.go
  agent/structs/structs.go
Labels: theme/acls, pr/no-changelog

#12936 Update CHANGELOG.md
  CHANGELOG.md
Labels: pr/no-changelog

#13048 peering: add TrustBundleListByService endpoint
  agent/rpc/peering/service.go
  agent/rpc/peering/service_test.go
  proto/pbpeering/peering.pb.binary.go
  proto/pbpeering/peering.pb.go
  proto/pbpeering/peering.proto
  proto/pbpeering/peering.rpcglue.pb.go
Labels: pr/no-changelog, pr/no-metrics-test

#13066 Actually block when syncing subscriptions
  agent/rpc/peering/subscription_manager.go
Labels: pr/no-changelog

#12965 chore(ci): deprecate cherry-pick script and enable backport merge
  .circleci/config.yml
  .circleci/scripts/cherry-picker.sh
  .github/CONTRIBUTING.md
  .github/workflows/backport-assistant.yml
  .github/workflows/backport-reminder.yml
  .github/workflows/pr-metrics-test-checker.yml
Labels: type/ci, theme/contributing, pr/no-changelog, pr/no-metrics-test

#13069 peering: fix panic in test
  api/peering_test.go
Labels: theme/api, pr/no-changelog

#12972 docs: Fix JSON formatted example ACL policies
  website/content/docs/discovery/checks.mdx
  website/content/docs/security/acl/acl-policies.mdx
  website/content/docs/security/acl/acl-roles.mdx
  website/content/docs/security/acl/acl-rules.mdx
  website/content/docs/security/acl/acl-tokens.mdx
  website/content/docs/security/acl/index.mdx
  website/redirects.js
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test

#13079 chore(ci): fix automerge spelling
  .github/workflows/backport-assistant.yml
Labels: theme/contributing, pr/no-changelog, pr/no-metrics-test

#13071 When a host header is defined override `req.Host` in the metrics ui
  .changelog/13071.txt
  agent/ui_endpoint.go
Labels: backport/1.10, pr/no-metrics-test, backport/1.11, backport/1.12

#13075 chore(ci): replace cherry-pick.sh with backport-assistant
  .circleci/config.yml
  .circleci/scripts/cherry-picker.sh
  .github/workflows/backport-assistant.yml
  .github/workflows/backport-reminder.yml
  .github/workflows/changelog-checker.yml
Labels: type/ci, theme/contributing, pr/no-changelog

#13078 chore(ci): fix automerge spelling
  .github/workflows/backport-assistant.yml
Labels: theme/contributing, pr/no-changelog, pr/no-metrics-test

#13077 chore(ci): replace cherry-pick.sh with backport-assistant
  .circleci/config.yml
  .circleci/scripts/cherry-picker.sh
  .github/workflows/backport-assistant.yml
  .github/workflows/backport-reminder.yml
  .github/workflows/changelog-checker.yml
Labels: type/ci, theme/contributing, pr/no-changelog

#13076 Patches to peering initiation for POC demo
  agent/rpc/peering/service.go
  agent/rpc/peering/service_test.go
  agent/rpc/peering/validate.go
  agent/rpc/peering/validate_test.go
  proto/pbpeering/peering.pb.go
  proto/pbpeering/peering.proto
Labels: pr/no-changelog

#13054 docs/nia: Add service registration configurations
  website/content/docs/nia/api/tasks.mdx
  website/content/docs/nia/configuration.mdx
Labels: type/docs, theme/consul-terraform-sync

#13065 Update pr-labeler.yml
  .github/workflows/pr-labeler.yml
Labels: backport/1.9, pr/no-changelog, pr/no-metrics-test, backport/1.11, backport/1.12

#13003 chore(ci): fixes and spilt nightly tests per release branch
  .github/workflows/nightly-test-1.10.x.yaml
  .github/workflows/nightly-test-1.11.x.yaml
  .github/workflows/nightly-test-1.12.x.yaml
  .github/workflows/nightly-test-main.yaml
Labels: theme/contributing, pr/no-changelog, pr/no-metrics-test

#13087 [stable-website] docs: Backport fix JSON formatted example ACL policies
  website/content/docs/discovery/checks.mdx
  website/content/docs/security/acl/acl-policies.mdx
  website/content/docs/security/acl/acl-roles.mdx
  website/content/docs/security/acl/acl-rules.mdx
  website/content/docs/security/acl/acl-tokens.mdx
  website/content/docs/security/acl/index.mdx
  website/redirects.js
Labels: type/docs, pr/no-changelog, pr/no-metrics-test

#13086 [1.12.x] docs: Backport fix JSON formatted example ACL policies
  website/content/docs/discovery/checks.mdx
  website/content/docs/security/acl/acl-policies.mdx
  website/content/docs/security/acl/acl-roles.mdx
  website/content/docs/security/acl/acl-rules.mdx
  website/content/docs/security/acl/acl-tokens.mdx
  website/content/docs/security/acl/index.mdx
  website/redirects.js
Labels: type/docs, pr/no-changelog, pr/no-metrics-test

#13098 fix insecure cidr_blocks in load test
  test/load/terraform/consul.tf
  test/load/terraform/test-servers.tf
Labels: pr/load-test, pr/no-changelog

#12883 docs: specify 1.12.0+ent incompat with nomad
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs-cherrypick, pr/no-changelog, backport/1.12

#13103 Manual cherrypick to docs
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs

#13072 add a github workflow to trigger ent->oss merge on every PR merged
  .github/workflows/oss-merge-trigger.yml
Labels: pr/no-changelog, pr/no-metrics-test

#13105 fix yaml alignment for oss to ent merge job
  .github/workflows/oss-merge-trigger.yml
Labels: theme/contributing, pr/no-changelog, pr/no-metrics-test

#13084 [CI-only] Build and publish dev dockerhub images
  .github/workflows/build.yml
  .release/ci.hcl
Labels: theme/contributing, backport/1.8, backport/1.9, pr/no-changelog, backport/1.10, pr/no-metrics-test, backport/1.11, backport/1.12

#13108 Remove unused constant in retry.go
  lib/retry/retry.go
Labels: theme/internals, pr/no-changelog

#13110 Corrected "visualization" typo
  ui/packages/consul-ui/translations/routes/en-us.yaml
Labels: theme/ui, pr/no-changelog, backport/1.12

#13118 config: prevent top-level `verify_incoming` enabling mTLS on gRPC port
  .changelog/13118.txt
  agent/config/builder.go
  agent/config/config.go
  agent/config/deprecated.go
  agent/config/deprecated_test.go
Labels: type/bug, theme/config, backport/1.12

#13111 docs: Updating compatibility matrix for consul-k8s version 0.44.0
  website/content/docs/k8s/installation/compatibility.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.11

#13115 add oss merge PR creation workflow trigger
  .github/workflows/oss-merge-trigger.yml
Labels: theme/contributing, pr/no-changelog, pr/no-metrics-test

#13117 add oss->ent merge trigger job
  .github/workflows/oss-merge-trigger.yml
Labels: theme/contributing, pr/no-changelog, pr/no-metrics-test

#13126 test: cleanup and unflake parts of the upgrade compat tests
  GNUmakefile
  test/integration/consul-container/libs/node/consul-container.go
  test/integration/consul-container/libs/node/consul-container_oss.go
  test/integration/consul-container/libs/node/node.go
  test/integration/consul-container/upgrade/healthcheck_test.go
  test/integration/consul-container/upgrade/util_test.go
Labels: pr/no-changelog, pr/no-metrics-test

#13119 Backport of config: prevent top-level `verify_incoming` enabling mTLS on gRPC port into release/1.12.x
  .changelog/13118.txt
  agent/config/builder.go
  agent/config/config.go
  agent/config/deprecated.go
  agent/config/deprecated_test.go
Labels: theme/config

#13022 Update index.mdx
  website/content/docs/security/acl/index.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test

#13132 fix 'releases/*.*.x' to 'release/*.*.x'
  .github/workflows/backport-assistant.yml
  .github/workflows/oss-merge-trigger.yml
Labels: pr/no-changelog, backport/1.10, pr/no-metrics-test, backport/1.11, backport/1.12

#13146 test: fix incorrect use of t instead of r in retry test
  agent/dns/dns_test.go
Labels: pr/no-changelog, backport/1.10, pr/no-metrics-test, backport/1.11, backport/1.12

#13145 test: fix more flakes in the compatibility test
  test/integration/consul-container/libs/cluster/cluster.go
  test/integration/consul-container/upgrade/healthcheck_test.go
  test/integration/consul-container/upgrade/util_test.go
Labels: pr/no-changelog, pr/no-metrics-test

#13150 peering: replicate discovery chains information to importing peers
  agent/consul/state/config_entry.go
  agent/consul/state/peering.go
  agent/consul/state/peering_test.go
  agent/rpc/peering/replication.go
  agent/rpc/peering/service.go
  agent/rpc/peering/service_test.go
  agent/rpc/peering/subscription_blocking.go
  agent/rpc/peering/subscription_manager.go
  agent/rpc/peering/subscription_manager_test.go
  agent/rpc/peering/subscription_state.go
  agent/rpc/peering/subscription_state_test.go
  agent/rpc/peering/subscription_view.go
  agent/rpc/peering/subscription_view_test.go
  agent/structs/peering.go
  lib/maps/maps.go
  lib/maps/maps_test.go
Labels: theme/internals, pr/no-changelog, pr/no-metrics-test

#13091 Retry on bad dogstatsd connection
  .changelog/13091.txt
  agent/acl_test.go
  agent/agent.go
  agent/agent_endpoint.go
  agent/agent_endpoint_test.go
  agent/config/builder.go
  agent/config/config.go
  agent/config/default.go
  agent/config/runtime_test.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/config/testdata/full-config.hcl
  agent/config/testdata/full-config.json
  agent/setup.go
  agent/testagent.go
  connect/proxy/proxy.go
  lib/telemetry.go
  lib/telemetry_test.go
Labels: theme/config, theme/connect, theme/contributing, theme/internals

#13157 test: TestServer_RPC_MetricsIntercept should use a concurrency-safe metrics store
  agent/consul/server_test.go
Labels: pr/no-changelog, backport/1.12

#13151 peering: accept replication stream of discovery chain information at the importing side
  agent/peering_endpoint.go
  agent/rpc/peering/health_snapshot.go
  agent/rpc/peering/health_snapshot_test.go
  agent/rpc/peering/replication.go
  agent/rpc/peering/service.go
  agent/rpc/peering/stream_test.go
  agent/rpc/peering/testing.go
  agent/rpc/peering/validate.go
  agent/structs/structs_oss.go
  go.mod
  go.sum
  proto/pbpeering/peering.go
  proto/pbservice/convert.go
Labels: pr/dependencies, pr/no-changelog, pr/no-metrics-test

#13128 docs/nia: Update license configs and compatibility page
  website/content/docs/nia/api/health.mdx
  website/content/docs/nia/cli/start.mdx
  website/content/docs/nia/compatibility.mdx
  website/content/docs/nia/configuration.mdx
  website/content/docs/nia/enterprise/license.mdx
Labels: type/docs, theme/consul-terraform-sync

#13161 telemetry: remove unused arg
  lib/telemetry.go
  lib/telemetry_test.go
Labels: theme/internals, pr/no-changelog, backport/1.12

#13144 [OSS] proxycfg: remove dependency on `cache.UpdateEvent`
  agent/agent.go
  agent/cache/watch.go
  agent/proxycfg/connect_proxy.go
  agent/proxycfg/glue.go
  agent/proxycfg/ingress_gateway.go
  agent/proxycfg/manager.go
  agent/proxycfg/manager_test.go
  agent/proxycfg/mesh_gateway.go
  agent/proxycfg/mesh_gateway_oss.go
  agent/proxycfg/state.go
  agent/proxycfg/state_test.go
  agent/proxycfg/terminating_gateway.go
  agent/proxycfg/testing.go
  agent/proxycfg/testing_connect_proxy.go
  agent/proxycfg/testing_ingress_gateway.go
  agent/proxycfg/testing_mesh_gateway.go
  agent/proxycfg/testing_terminating_gateway.go
  agent/proxycfg/testing_tproxy.go
  agent/proxycfg/testing_upstreams.go
  agent/proxycfg/upstreams.go
  agent/rpcclient/health/health.go
  agent/rpcclient/health/health_test.go
  agent/submatview/store.go
  agent/submatview/store_integration_test.go
  agent/xds/clusters_test.go
  agent/xds/listeners_test.go
Labels: theme/envoy/xds, theme/agent-cache, pr/no-changelog

#13125 docs/nia - Update CTS service id format
  website/content/docs/nia/configuration.mdx
Labels: type/docs, theme/consul-terraform-sync, pr/no-changelog, pr/no-metrics-test

#13174 update docs
  website/content/docs/nia/cli/index.mdx
Labels: type/docs, theme/consul-terraform-sync

#13168 agent: allow for service discovery queries involving peer name to use streaming
  agent/consul/state/catalog_events.go
  agent/health_endpoint_test.go
  agent/rpcclient/health/view.go
  agent/rpcclient/health/view_test.go
  proto/pbservice/ids.go
  proto/pbservice/ids_test.go
  proto/pbsubscribe/subscribe.pb.go
  proto/pbsubscribe/subscribe.proto
Labels: theme/health-checks, pr/no-changelog

#13162 ci: name unnamed GHA workflows
  .github/workflows/backport-reminder.yml
  .github/workflows/changelog-checker.yml
  .github/workflows/load-test.yml
  .github/workflows/website-checker.yml
Labels: theme/contributing, pr/no-changelog

#13167 Remove RequestId field from cts health api docs.
  website/content/docs/nia/api/health.mdx
Labels: type/docs, theme/consul-terraform-sync

#13178 Fix tests broken in #13173
  agent/consul/stream/event_publisher_test.go
Labels: pr/no-changelog

#13175 test: fix flaky test TestEventBufferFuzz
  agent/consul/stream/event_buffer_test.go
Labels: pr/no-changelog, backport/1.10, pr/no-metrics-test, backport/1.11, backport/1.12

#13176 Upgrade golangci-lint for go v1.18
  .circleci/config.yml
  GNUmakefile
  agent/consul/acl_test.go
Labels: pr/no-changelog

#12841 First step in migrating to using buf instead of protoc
  .circleci/config.yml
  GNUmakefile
  agent/grpc/private/internal/testservice/simple.proto
  agent/grpc/public/services/acl/logout.go
  agent/grpc/public/services/connectca/watch_roots.go
  agent/grpc/public/services/connectca/watch_roots_test.go
  agent/grpc/public/services/dataplane/get_envoy_bootstrap_params.go
  agent/grpc/public/services/dataplane/get_supported_features.go
  agent/grpc/public/services/dataplane/get_supported_features_test.go
  build-support/scripts/protobuf.sh
  proto-public/buf.gen.yaml
  proto-public/buf.yaml
  proto-public/pbacl/acl.pb.binary.go
  proto-public/pbacl/acl.pb.go
  proto-public/pbacl/acl.proto
  proto-public/pbacl/acl_grpc.pb.go
  proto-public/pbconnectca/ca.pb.binary.go
  proto-public/pbconnectca/ca.pb.go
  proto-public/pbconnectca/ca.proto
  proto-public/pbconnectca/ca_grpc.pb.go
  proto-public/pbdataplane/dataplane.pb.go
  proto-public/pbdataplane/dataplane.proto
  proto-public/pbdataplane/dataplane_grpc.pb.go
  proto-public/pbserverdiscovery/serverdiscovery.pb.go
  proto-public/pbserverdiscovery/serverdiscovery.proto
  proto-public/pbserverdiscovery/serverdiscovery_grpc.pb.go
  proto/buf.gen.yaml
  proto/buf.yaml
  proto/pbacl/acl.pb.go
  proto/pbacl/acl.proto
  proto/pbautoconf/auto_config.pb.go
  proto/pbautoconf/auto_config.proto
  proto/pbcommon/common.pb.go
  proto/pbcommon/common.proto
  proto/pbconfig/config.pb.go
  proto/pbconfig/config.proto
  proto/pbconnect/connect.pb.go
  proto/pbconnect/connect.proto
  proto/pbpeering/peering.pb.go
  proto/pbpeering/peering.proto
  proto/pbpeering/peering_grpc.pb.go
  proto/pbservice/healthcheck.pb.go
  proto/pbservice/healthcheck.proto
  proto/pbservice/node.pb.go
  proto/pbservice/node.proto
  proto/pbservice/service.pb.go
  proto/pbservice/service.proto
  proto/pbstatus/status.pb.go
  proto/pbstatus/status.proto
  proto/pbsubscribe/subscribe.pb.go
  proto/pbsubscribe/subscribe.proto
  proto/pbsubscribe/subscribe_grpc.pb.go
Labels: pr/no-changelog, pr/no-metrics-test

#13187 ci: github actions run with TERM=dumb and can't do tput commands
  build-support/functions/00-vars.sh
Labels: pr/no-changelog, pr/no-metrics-test

#13172 docs/nia: Updating Consul config to table format
  website/content/docs/nia/configuration.mdx
  website/content/docs/nia/network-drivers/terraform-cloud.mdx
Labels: type/docs, theme/consul-terraform-sync

#13164 peering: expose IsLeader, hung up on dialer if follower
  agent/consul/peering_backend.go
  agent/rpc/peering/service.go
  agent/rpc/peering/stream_test.go
Labels: pr/no-changelog

#13189 docs/nia: Add CTS service address config
  website/content/docs/nia/configuration.mdx
Labels: type/docs, theme/consul-terraform-sync

#13159 feat: add endpoint struct to ServiceConfigEntry
  agent/structs/config_entry.go
  agent/structs/config_entry_test.go
  api/config_entry.go
  api/config_entry_test.go
  command/config/write/config_write_test.go
  test/integration/connect/envoy/Dockerfile-bats
Labels: theme/api, pr/no-changelog

#13188 ui: Alignment of L7 permissions
  ui/packages/consul-ui/app/components/horizontal-kv-list/layout.scss
Labels: theme/ui, pr/no-changelog, backport/1.12

#13179 fix: non-leader agents return 404 on Get Intention exact api
  agent/intentions_endpoint.go
  agent/intentions_endpoint_test.go
Labels: pr/no-changelog, backport/1.11, backport/1.12

#13206 CTIA-5 cherry pick fix endpoint returning 500
  agent/intentions_endpoint.go
  agent/intentions_endpoint_test.go
Labels: pr/no-changelog

#13205 CTIA-5 cherry pick fix endpoint returning 500
  agent/intentions_endpoint.go
  agent/intentions_endpoint_test.go
Labels: pr/no-changelog

#13199 [CI-only] Update tagging for dev_tags
  .github/workflows/build.yml
Labels: backport/1.8, backport/1.9, pr/no-changelog, backport/1.10, pr/no-metrics-test, backport/1.11, backport/1.12

#13211 Backport of [CI-only] Update tagging for dev_tags into release/1.11.x
  .github/workflows/build.yml
  .release/ci.hcl
Labels: pr/no-changelog, pr/no-metrics-test

#13212 Backport of [CI-only] Update tagging for dev_tags into release/1.12.x
  .github/workflows/build.yml
  .release/ci.hcl
Labels: pr/no-changelog, pr/no-metrics-test

#13214 CTIA-5 cherry pick fix endpoint returning 500 (#13205)
  agent/intentions_endpoint.go
  agent/intentions_endpoint_test.go
Labels: pr/no-changelog

#13143 Add connection limit setting to service defaults
  .changelog/13143.txt
  .golangci.yml
  agent/grpc/private/internal/testservice/simple.proto
  agent/structs/config_entry.go
  agent/structs/structs.go
  agent/xds/clusters.go
  agent/xds/clusters_test.go
  agent/xds/config.go
  agent/xds/listeners.go
  agent/xds/listeners_test.go
  agent/xds/routes.go
  agent/xds/routes_test.go
  agent/xds/testdata/clusters/custom-max-inbound-connections.latest.golden
  agent/xds/testdata/listeners/listener-max-inbound-connections.latest.golden
  agent/xds/xds_protocol_helpers_test.go
  agent/xds/z_xds_packages.go
  build-support/scripts/envoy-library-references.sh
  go.mod
  go.sum
  proto-public/pbacl/acl.pb.go
  proto-public/pbconnectca/ca.pb.go
  proto-public/pbdataplane/dataplane.pb.go
  proto-public/pbserverdiscovery/serverdiscovery.pb.go
  proto/pbacl/acl.pb.go
  proto/pbautoconf/auto_config.pb.go
  proto/pbcommon/common.pb.go
  proto/pbconfig/config.pb.go
  proto/pbconnect/connect.pb.go
  proto/pbpeering/peering.pb.go
  proto/pbservice/healthcheck.pb.go
  proto/pbservice/node.pb.go
  proto/pbservice/service.pb.go
  proto/pbstatus/status.pb.go
  proto/pbsubscribe/subscribe.pb.go
Labels: pr/dependencies, theme/envoy/xds

#13213 peering: disable requirement for mesh gateways initially
  agent/rpc/peering/replication.go
  agent/rpc/peering/service.go
  agent/rpc/peering/stream_test.go
  agent/rpc/peering/subscription_manager.go
  agent/rpc/peering/subscription_state.go
  agent/rpc/peering/subscription_view.go
Labels: pr/no-changelog, pr/no-metrics-test

#13207 Update CHANGELOG to mention removal of Envoy 1.17.4 and 1.18.6
  CHANGELOG.md
Labels: pr/no-changelog, backport/1.12

#13218 peering: replicate expected SNI, SPIFFE, and service protocol to peers
  agent/connect/sni.go
  agent/connect/sni_test.go
  agent/connect/testing_ca.go
  agent/consul/server.go
  agent/consul/state/peering.go
  agent/consul/state/peering_test.go
  agent/rpc/peering/service.go
  agent/rpc/peering/service_test.go
  agent/rpc/peering/stream_test.go
  agent/rpc/peering/subscription_manager.go
  agent/rpc/peering/subscription_manager_test.go
  agent/rpc/peering/subscription_state.go
  agent/rpc/peering/subscription_state_test.go
  agent/structs/peering.go
  agent/structs/structs.go
  proto/pbservice/service.gen.go
  proto/pbservice/service.pb.binary.go
  proto/pbservice/service.pb.go
  proto/pbservice/service.proto
  proto/prototest/testing.go
Labels: theme/connect, pr/no-changelog, pr/no-metrics-test

#13225 Merge changes from release/1.12.0
  .github/workflows/build.yml
  .release/ci.hcl
  CHANGELOG.md
Labels: theme/contributing, pr/no-changelog

#13191 docs/nia: update for 0.6 GA
  website/content/docs/release-notes/consul-terraform-sync/v0_6_0_beta.mdx
  website/content/docs/release-notes/consul-terraform-sync/v0_6_x.mdx
  website/data/docs-nav-data.json
Labels: type/docs, theme/consul-terraform-sync, pr/no-changelog, pr/no-metrics-test

#13107 Nia/docs 0.6.0
  website/content/docs/nia/api/health.mdx
  website/content/docs/nia/api/status.mdx
  website/content/docs/nia/api/tasks.mdx
  website/content/docs/nia/cli/index.mdx
  website/content/docs/nia/cli/start.mdx
  website/content/docs/nia/compatibility.mdx
  website/content/docs/nia/configuration.mdx
  website/content/docs/nia/enterprise/license.mdx
  website/content/docs/nia/lorna.txt
  website/content/docs/nia/network-drivers/terraform-cloud.mdx
  website/content/docs/release-notes/consul-terraform-sync/v0_6_0_beta.mdx
  website/content/docs/release-notes/consul-terraform-sync/v0_6_x.mdx
  website/data/docs-nav-data.json
Labels: type/docs, type/docs-cherrypick, theme/consul-terraform-sync, pr/no-changelog, pr/no-metrics-test

#13008 update docs for single-dc-multi-k8s install
  website/content/docs/k8s/installation/deployment-configurations/single-dc-multi-k8s.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test

#13204 api: ensure peering API endpoints do not use protobufs
  .circleci/config.yml
  GNUmakefile
  agent/peering_endpoint.go
  agent/peering_endpoint_test.go
  api/peering.go
  api/peering_test.go
  build-support/scripts/devtools.sh
  proto/pbpeering/peering.gen.go
  proto/pbpeering/peering.go
  proto/pbpeering/peering.pb.go
  proto/pbpeering/peering.proto
Labels: theme/api, pr/no-changelog, pr/no-metrics-test

#13227 remove a source of test panics
  agent/agent_endpoint_test.go
  agent/intentions_endpoint_test.go
Labels: pr/no-changelog, backport/1.10, backport/1.11, backport/1.12

#13228 Backport of Nia/docs 0.6.0 into stable-website
  website/content/docs/nia/api/health.mdx
  website/content/docs/nia/api/status.mdx
  website/content/docs/nia/api/tasks.mdx
  website/content/docs/nia/cli/index.mdx
  website/content/docs/nia/cli/start.mdx
  website/content/docs/nia/compatibility.mdx
  website/content/docs/nia/configuration.mdx
  website/content/docs/nia/enterprise/license.mdx
  website/content/docs/nia/lorna.txt
  website/content/docs/nia/network-drivers/terraform-cloud.mdx
  website/content/docs/release-notes/consul-terraform-sync/v0_6_0_beta.mdx
  website/content/docs/release-notes/consul-terraform-sync/v0_6_x.mdx
  website/data/docs-nav-data.json
Labels: type/docs, theme/consul-terraform-sync

#13229 Backport of Nia/docs 0.6.0 into release/1.12.x
  website/content/docs/nia/api/health.mdx
  website/content/docs/nia/api/status.mdx
  website/content/docs/nia/api/tasks.mdx
  website/content/docs/nia/cli/index.mdx
  website/content/docs/nia/cli/start.mdx
  website/content/docs/nia/compatibility.mdx
  website/content/docs/nia/configuration.mdx
  website/content/docs/nia/enterprise/license.mdx
  website/content/docs/nia/lorna.txt
  website/content/docs/nia/network-drivers/terraform-cloud.mdx
  website/content/docs/release-notes/consul-terraform-sync/v0_6_0_beta.mdx
  website/content/docs/release-notes/consul-terraform-sync/v0_6_x.mdx
  website/data/docs-nav-data.json
Labels: type/docs, theme/consul-terraform-sync

#13001 Add support for merge-central-config query param
  .changelog/13001.txt
  agent/catalog_endpoint.go
  agent/catalog_endpoint_test.go
  agent/consul/catalog_endpoint.go
  agent/consul/config_endpoint.go
  agent/consul/health_endpoint.go
  agent/consul/merge_service_config.go
  agent/consul/merge_service_config_test.go
  agent/consul/server_register.go
  agent/health_endpoint.go
  agent/health_endpoint_test.go
  agent/rpcclient/health/health.go
  agent/rpcclient/health/health_test.go
  agent/service_manager.go
  agent/service_manager_test.go
  agent/structs/structs.go
  api/api.go
  logging/names.go
Labels: theme/api, theme/health-checks, theme/telemetry

#13006 HTTP API Docs: Separate path parameters from query parameters
  website/content/api-docs/acl/auth-methods.mdx
  website/content/api-docs/acl/binding-rules.mdx
  website/content/api-docs/acl/index.mdx
  website/content/api-docs/acl/policies.mdx
  website/content/api-docs/acl/roles.mdx
  website/content/api-docs/acl/tokens.mdx
  website/content/api-docs/admin-partitions.mdx
  website/content/api-docs/agent/check.mdx
  website/content/api-docs/agent/connect.mdx
  website/content/api-docs/agent/index.mdx
  website/content/api-docs/agent/service.mdx
  website/content/api-docs/catalog.mdx
  website/content/api-docs/config.mdx
  website/content/api-docs/connect/ca.mdx
  website/content/api-docs/connect/intentions.mdx
  website/content/api-docs/coordinate.mdx
  website/content/api-docs/discovery-chain.mdx
  website/content/api-docs/event.mdx
  website/content/api-docs/health.mdx
  website/content/api-docs/kv.mdx
  website/content/api-docs/namespaces.mdx
  website/content/api-docs/operator/area.mdx
  website/content/api-docs/operator/autopilot.mdx
  website/content/api-docs/operator/keyring.mdx
  website/content/api-docs/operator/license.mdx
  website/content/api-docs/operator/raft.mdx
  website/content/api-docs/operator/segment.mdx
  website/content/api-docs/query.mdx
  website/content/api-docs/session.mdx
  website/content/api-docs/snapshot.mdx
  website/content/api-docs/status.mdx
  website/content/api-docs/txn.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test

#13240 Add changelog from 1.10.11
  CHANGELOG.md
Labels: pr/no-changelog

#13241 Add changelog from 1.11.6
  CHANGELOG.md
Labels: pr/no-changelog

#13226 rename "endpoint" to "destination"
  agent/consul/state/catalog.go
  agent/consul/state/catalog_events_test.go
  agent/consul/state/catalog_test.go
  agent/consul/state/config_entry.go
  agent/consul/state/config_entry_test.go
  agent/structs/config_entry.go
  agent/structs/config_entry_gateways.go
  agent/structs/config_entry_test.go
  api/config_entry.go
  api/config_entry_test.go
  command/config/write/config_write_test.go
Labels: pr/no-changelog, pr/no-metrics-test

#13232 [CI-only] Support UBI images
  .github/workflows/build.yml
  .release/docker/docker-entrypoint-ubi.sh
  Dockerfile
Labels: theme/contributing, pr/no-changelog, backport/1.10, pr/no-metrics-test, backport/1.11, backport/1.12

#13252 Backport of [CI-only] Support UBI images into release/1.10.x
  .github/workflows/build.yml
  .release/docker/docker-entrypoint-ubi.sh
  Dockerfile
Labels: pr/no-changelog, pr/no-metrics-test

#13255 Remove tests failing on ent
  agent/catalog_endpoint_test.go
  agent/health_endpoint_test.go
Labels: theme/health-checks, pr/no-changelog

#13068 Enable manual triggering of load test
  .github/workflows/load-test.yml
Labels: pr/load-test, pr/no-changelog

#13239 ui: Typography update for view-only Intentions
  ui/packages/consul-ui/app/components/consul/intention/permission/form/skin.scss
  ui/packages/consul-ui/app/styles/base/reset/base-variables.scss
  ui/packages/consul-ui/app/styles/base/reset/minireset.scss
Labels: theme/ui, pr/no-changelog, backport/1.12

#13260 Add support for streaming CA roots to peers
  agent/consul/peering_backend.go
  agent/rpc/peering/replication.go
  agent/rpc/peering/service.go
  agent/rpc/peering/service_test.go
  agent/rpc/peering/stream_test.go
  agent/rpc/peering/subscription_manager.go
  agent/rpc/peering/subscription_manager_test.go
  agent/rpc/peering/subscription_state.go
  proto/pbpeering/types.go
Labels: pr/no-changelog

#13266 Termporarily disable validation of merge central config response
  agent/catalog_endpoint_test.go
  agent/health_endpoint_test.go
Labels: theme/health-checks, pr/no-changelog
