Repository hashicorp/consul, pull requests merged in 2023-07, with the labels that each got.

#17198 Fix typo
  website/content/docs/services/configuration/services-configuration-reference.mdx
Labels: type/docs, pr/no-changelog, meta/stale, backport/1.14, backport/1.15, backport/1.16

#17993 Backport of Fix typo into release/1.14.x
  website/content/docs/services/configuration/services-configuration-reference.mdx
Labels: type/docs

#17994 Backport of Fix typo into release/1.15.x
  website/content/docs/services/configuration/services-configuration-reference.mdx
Labels: type/docs

#18002 Backport of: Expose JWKS cluster config through JWTProviderConfigEntry (#17978)
  .changelog/17978.txt
  agent/proxycfg/proxycfg.deepcopy.go
  agent/structs/config_entry_jwt_provider.go
  agent/structs/config_entry_jwt_provider_test.go
  agent/xds/clusters.go
  agent/xds/clusters_test.go
  agent/xds/testdata/jwt_authn_clusters/http-provider-with-hostname-and-port.golden
  agent/xds/testdata/jwt_authn_clusters/http-provider-with-hostname-no-port.golden
  agent/xds/testdata/jwt_authn_clusters/http-provider-with-ip-and-port.golden
  agent/xds/testdata/jwt_authn_clusters/http-provider-with-ip-no-port.golden
  agent/xds/testdata/jwt_authn_clusters/https-provider-with-hostname-and-port.golden
  agent/xds/testdata/jwt_authn_clusters/https-provider-with-hostname-no-port.golden
  agent/xds/testdata/jwt_authn_clusters/https-provider-with-ip-and-port.golden
  agent/xds/testdata/jwt_authn_clusters/https-provider-with-ip-no-port.golden
  api/config_entry_jwt_provider.go
  api/config_entry_jwt_provider_test.go
  proto/private/pbconfigentry/config_entry.gen.go
  proto/private/pbconfigentry/config_entry.pb.binary.go
  proto/private/pbconfigentry/config_entry.pb.go
  proto/private/pbconfigentry/config_entry.proto
Labels: theme/api, theme/envoy/xds, pr/no-backport

#17980 Integration test for ext-authz Envoy extension
  test/integration/consul-container/libs/cluster/agent.go
  test/integration/consul-container/test/envoy_extensions/ext_authz_test.go
  test/integration/consul-container/test/envoy_extensions/testdata/policies/policy.rego
Labels: pr/no-changelog, pr/no-metrics-test, pr/no-docs, backport/1.16

#17894 Fix incorrect protocol for transparent proxy upstreams.
  .changelog/17894.txt
  agent/configentry/resolve.go
  agent/consul/config_endpoint_test.go
Labels: backport/1.16

#18008 Manual backport of #17894.
  .changelog/17894.txt
  agent/configentry/resolve.go
  agent/consul/config_endpoint_test.go
Labels: pr/no-backport

#18009 Manual backport of #17894.
  .changelog/17894.txt
  agent/configentry/resolve.go
  agent/consul/config_endpoint_test.go
Labels: pr/no-backport

#17939 feat: include nodes count in operator usage endpoint and cli command
  .changelog/17939.txt
  agent/consul/state/usage.go
  agent/operator_endpoint_oss_test.go
  agent/structs/structs.go
  api/operator_usage.go
  command/operator/usage/instances/usage_instances.go
  command/operator/usage/instances/usage_instances_oss_test.go
  website/content/api-docs/operator/usage.mdx
  website/content/commands/operator/usage.mdx
Labels: type/docs, pr/no-changelog, backport/1.16

#18012 Backport of feat: include nodes count in operator usage endpoint and cli command into release/1.16.x
  .changelog/17939.txt
  agent/consul/state/usage.go
  agent/operator_endpoint_oss_test.go
  agent/structs/structs.go
  api/operator_usage.go
  command/operator/usage/instances/usage_instances.go
  command/operator/usage/instances/usage_instances_oss_test.go
  website/content/api-docs/operator/usage.mdx
  website/content/commands/operator/usage.mdx
Labels: type/docs, theme/api, theme/cli

#17997 Fixes Traffic rate limitting docs
  website/content/docs/agent/limits/index.mdx
Labels: pr/no-changelog, backport/1.16

#18016 Backport of Fixes Traffic rate limitting docs into release/1.16.x
  website/content/docs/agent/limits/index.mdx
Labels: type/docs

#17221 Fix removed service-to-service peering links
  website/content/docs/connect/gateways/mesh-gateway/peering-via-mesh-gateways.mdx
  website/content/docs/lambda/invoke-from-lambda.mdx
Labels: type/docs, pr/no-changelog, pr/no-metrics-test, backport/1.15, backport/1.16

#18014 Backport of [OSS] Improve Gateway Test Coverage of Catalog Health into release/1.16.x
  .changelog/18011.txt
  command/connect/envoy/envoy.go
  test/integration/consul-container/libs/assert/service.go
  test/integration/consul-container/libs/topology/peering_topology.go
  test/integration/consul-container/test/basic/connect_service_test.go
  test/integration/consul-container/test/gateways/gateway_endpoint_test.go
  test/integration/consul-container/test/gateways/http_route_test.go
  test/integration/consul-container/test/gateways/ingress_gateway_test.go
Labels: theme/cli

#18022 updated typo in tab heading
  website/content/docs/connect/proxies/envoy-extensions/usage/ext-authz.mdx
Labels: type/docs, pr/no-changelog, pr/no-metrics-test, backport/1.16

#18013 Backport of [OSS] Improve Gateway Test Coverage of Catalog Health into release/1.15.x
  .changelog/18011.txt
  command/connect/envoy/envoy.go
  test/integration/consul-container/libs/assert/service.go
  test/integration/consul-container/libs/topology/peering_topology.go
  test/integration/consul-container/test/basic/connect_service_test.go
  test/integration/consul-container/test/gateways/gateway_endpoint_test.go
  test/integration/consul-container/test/gateways/http_route_test.go
  test/integration/consul-container/test/gateways/ingress_gateway_test.go
Labels: theme/cli

#18023 Backport of updated typo in tab heading into release/1.16.x
  website/content/docs/connect/proxies/envoy-extensions/usage/ext-authz.mdx
Labels: type/docs

#17990 Document that DNS lookups can target cluster peers
  website/content/docs/services/discovery/dns-static-lookups.mdx
Labels: type/docs, pr/no-changelog, backport/1.15, backport/1.16

#18021 Backport of docs: Sameness "beta" warning into release/1.16.x
  website/content/docs/connect/cluster-peering/usage/create-sameness-groups.mdx
  website/content/docs/connect/config-entries/sameness-group.mdx
Labels: type/docs

#18026 Backport of Document that DNS lookups can target cluster peers into release/1.16.x
  website/content/docs/services/discovery/dns-static-lookups.mdx
Labels: type/docs

#18025 Backport of Document that DNS lookups can target cluster peers into release/1.15.x
  website/content/docs/services/discovery/dns-static-lookups.mdx
Labels: type/docs

#18005 Add first integration test for jwt auth with intentions
  agent/xds/listeners.go
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
  test/integration/consul-container/libs/utils/helpers.go
  test/integration/consul-container/test/jwtauth/jwt_auth_test.go
Labels: pr/no-changelog, pr/no-docs, backport/1.16

#18030 fix stand-in text for name field
  website/content/docs/connect/config-entries/control-plane-request-limit.mdx
Labels: type/docs, pr/no-changelog, pr/no-metrics-test, backport/1.16

#18031 Backport of fix stand-in text for name field into release/1.16.x
  website/content/docs/connect/config-entries/control-plane-request-limit.mdx
Labels: type/docs

#18033 removed sameness conf entry from failover nav
  website/data/docs-nav-data.json
Labels: type/docs, pr/no-changelog, pr/no-metrics-test, backport/1.16

#18034 Backport of removed sameness conf entry from failover nav into release/1.16.x
  website/data/docs-nav-data.json
Labels: type/docs

#18032 docs - add service sync annotations and k8s service weight annotation
  website/content/docs/k8s/annotations-and-labels.mdx
  website/content/docs/k8s/service-sync.mdx
Labels: pr/no-changelog, backport/1.16

#18036 Backport of docs - add service sync annotations and k8s service weight annotation into release/1.16.x
  website/content/docs/k8s/annotations-and-labels.mdx
  website/content/docs/k8s/service-sync.mdx
Labels: type/docs

#18038 Backport of docs - add service sync annotations and k8s service weight annotation into release/1.14.x
  website/content/docs/k8s/annotations-and-labels.mdx
  website/content/docs/k8s/service-sync.mdx
Labels: type/docs

#18039 Backport of docs - add service sync annotations and k8s service weight annotation into release/1.15.x
  website/content/docs/k8s/annotations-and-labels.mdx
  website/content/docs/k8s/service-sync.mdx
Labels: type/docs

#18037 docs - add jobs use case for service mesh k8s
  website/content/docs/k8s/connect/index.mdx
Labels: type/docs, pr/no-changelog, backport/1.14, backport/1.15, backport/1.16

#18045 docs - address feedback on service mesh overview for k8s
  website/content/docs/k8s/connect/index.mdx
Labels: type/docs, pr/no-changelog, backport/1.14, backport/1.15, backport/1.16

#18043 Backport of docs - add jobs use case for service mesh k8s into release/1.16.x
  website/content/docs/k8s/connect/index.mdx
Labels: type/docs

#18054 Update Consul on Kubernetes Helm Docs
  website/content/docs/k8s/helm.mdx
Labels: type/docs, pr/no-backport

#18057 docs - helm consul k8s 1.1.x helm chart reference
  website/content/docs/k8s/helm.mdx
Labels: type/docs, pr/no-changelog, pr/no-backport

#18024 [OSS] Fix initial_fetch_timeout to wait for all xDS resources
  .changelog/18024.txt
  agent/proxycfg/api_gateway.go
  agent/proxycfg/ingress_gateway.go
  agent/proxycfg/snapshot.go
  agent/proxycfg/state.go
  agent/proxycfg/testing_api_gateway.go
  command/connect/envoy/bootstrap_tpl.go
  command/connect/envoy/testdata/CONSUL_GRPC_ADDR-with-https-scheme-enables-tls.golden
  command/connect/envoy/testdata/CONSUL_HTTP_ADDR-with-https-scheme-does-not-affect-grpc-tls.golden
  command/connect/envoy/testdata/access-log-path.golden
  command/connect/envoy/testdata/access-logs-enabled-custom.golden
  command/connect/envoy/testdata/access-logs-enabled.golden
  command/connect/envoy/testdata/acl-enabled-and-token.golden
  command/connect/envoy/testdata/acl-enabled-but-no-token.golden
  command/connect/envoy/testdata/both-CONSUL_HTTP_ADDR-PLAIN-and-CONSUL_GRPC_ADDR-TLS-is-tls.golden
  command/connect/envoy/testdata/both-CONSUL_HTTP_ADDR-TLS-and-CONSUL_GRPC_ADDR-PLAIN-is-plain.golden
  command/connect/envoy/testdata/defaults-nodemeta.golden
  command/connect/envoy/testdata/defaults.golden
  command/connect/envoy/testdata/deprecated-grpc-addr-config.golden
  command/connect/envoy/testdata/envoy-readiness-probe.golden
  command/connect/envoy/testdata/existing-ca-file.golden
  command/connect/envoy/testdata/existing-ca-path.golden
  command/connect/envoy/testdata/extra_-multiple.golden
  command/connect/envoy/testdata/extra_-single.golden
  command/connect/envoy/testdata/grpc-addr-env.golden
  command/connect/envoy/testdata/grpc-addr-flag.golden
  command/connect/envoy/testdata/grpc-addr-unix-with-tls.golden
  command/connect/envoy/testdata/grpc-addr-unix.golden
  command/connect/envoy/testdata/grpc-tls-addr-config.golden
  command/connect/envoy/testdata/ingress-gateway-address-specified.golden
  command/connect/envoy/testdata/ingress-gateway-no-auto-register.golden
  command/connect/envoy/testdata/ingress-gateway-nodemeta.golden
  command/connect/envoy/testdata/ingress-gateway-register-with-service-and-proxy-id.golden
  command/connect/envoy/testdata/ingress-gateway-register-with-service-without-proxy-id.golden
  command/connect/envoy/testdata/ingress-gateway.golden
  command/connect/envoy/testdata/prometheus-metrics-tls-ca-file.golden
  command/connect/envoy/testdata/prometheus-metrics-tls-ca-path.golden
  command/connect/envoy/testdata/prometheus-metrics.golden
  command/connect/envoy/testdata/stats-config-override.golden
  command/connect/envoy/testdata/telemetry-collector.golden
  command/connect/envoy/testdata/token-arg.golden
  command/connect/envoy/testdata/token-env.golden
  command/connect/envoy/testdata/token-file-arg.golden
  command/connect/envoy/testdata/token-file-env.golden
  command/connect/envoy/testdata/xds-addr-config.golden
  command/connect/envoy/testdata/zipkin-tracing-config.golden
  test/integration/consul-container/test/gateways/ingress_gateway_test.go
Labels: theme/cli, backport/1.15, backport/1.16

#18065 Backport of [OSS] Fix initial_fetch_timeout to wait for all xDS resources into release/1.16.x
  .changelog/18024.txt
  agent/proxycfg/api_gateway.go
  agent/proxycfg/ingress_gateway.go
  agent/proxycfg/snapshot.go
  agent/proxycfg/state.go
  agent/proxycfg/testing_api_gateway.go
  command/connect/envoy/bootstrap_tpl.go
  command/connect/envoy/testdata/CONSUL_GRPC_ADDR-with-https-scheme-enables-tls.golden
  command/connect/envoy/testdata/CONSUL_HTTP_ADDR-with-https-scheme-does-not-affect-grpc-tls.golden
  command/connect/envoy/testdata/access-log-path.golden
  command/connect/envoy/testdata/access-logs-enabled-custom.golden
  command/connect/envoy/testdata/access-logs-enabled.golden
  command/connect/envoy/testdata/acl-enabled-and-token.golden
  command/connect/envoy/testdata/acl-enabled-but-no-token.golden
  command/connect/envoy/testdata/both-CONSUL_HTTP_ADDR-PLAIN-and-CONSUL_GRPC_ADDR-TLS-is-tls.golden
  command/connect/envoy/testdata/both-CONSUL_HTTP_ADDR-TLS-and-CONSUL_GRPC_ADDR-PLAIN-is-plain.golden
  command/connect/envoy/testdata/defaults-nodemeta.golden
  command/connect/envoy/testdata/defaults.golden
  command/connect/envoy/testdata/deprecated-grpc-addr-config.golden
  command/connect/envoy/testdata/envoy-readiness-probe.golden
  command/connect/envoy/testdata/existing-ca-file.golden
  command/connect/envoy/testdata/existing-ca-path.golden
  command/connect/envoy/testdata/extra_-multiple.golden
  command/connect/envoy/testdata/extra_-single.golden
  command/connect/envoy/testdata/grpc-addr-env.golden
  command/connect/envoy/testdata/grpc-addr-flag.golden
  command/connect/envoy/testdata/grpc-addr-unix-with-tls.golden
  command/connect/envoy/testdata/grpc-addr-unix.golden
  command/connect/envoy/testdata/grpc-tls-addr-config.golden
  command/connect/envoy/testdata/ingress-gateway-address-specified.golden
  command/connect/envoy/testdata/ingress-gateway-no-auto-register.golden
  command/connect/envoy/testdata/ingress-gateway-nodemeta.golden
  command/connect/envoy/testdata/ingress-gateway-register-with-service-and-proxy-id.golden
  command/connect/envoy/testdata/ingress-gateway-register-with-service-without-proxy-id.golden
  command/connect/envoy/testdata/ingress-gateway.golden
  command/connect/envoy/testdata/prometheus-metrics-tls-ca-file.golden
  command/connect/envoy/testdata/prometheus-metrics-tls-ca-path.golden
  command/connect/envoy/testdata/prometheus-metrics.golden
  command/connect/envoy/testdata/stats-config-override.golden
  command/connect/envoy/testdata/telemetry-collector.golden
  command/connect/envoy/testdata/token-arg.golden
  command/connect/envoy/testdata/token-env.golden
  command/connect/envoy/testdata/token-file-arg.golden
  command/connect/envoy/testdata/token-file-env.golden
  command/connect/envoy/testdata/xds-addr-config.golden
  command/connect/envoy/testdata/zipkin-tracing-config.golden
  test/integration/consul-container/test/gateways/ingress_gateway_test.go
Labels: theme/cli

#17913 Update VERSION to reflect next patch release
  version/VERSION
Labels: pr/no-changelog, pr/no-backport

#17899 Backport of Update docs into release/1.16.x
  website/content/docs/connect/config-entries/service-defaults.mdx
Labels: type/docs

#17999 ui: fix typos for peer service imports
  ui/packages/consul-ui/translations/routes/en-us.yaml
Labels: theme/ui, pr/no-changelog, pr/no-metrics-test, pr/no-docs, pr/update-ui-assets, backport/1.14, backport/1.15, backport/1.16

#18076 test: fix FIPS inline cert test message
  agent/structs/config_entry_inline_certificate_test.go
Labels: pr/no-changelog, backport/1.16

#18080 Fix a couple typos in Agent Telemetry Metrics docs
  .changelog/18080.txt
  website/content/docs/agent/telemetry.mdx
Labels: type/docs, pr/no-metrics-test, backport/1.14, backport/1.15, backport/1.16

#18084 Backport of Fix a couple typos in Agent Telemetry Metrics docs into release/1.16.x
  .changelog/18080.txt
  website/content/docs/agent/telemetry.mdx
Labels: type/docs

#18083 Backport of Fix a couple typos in Agent Telemetry Metrics docs into release/1.15.x
  .changelog/18080.txt
  website/content/docs/agent/telemetry.mdx
Labels: type/docs

#18069 docs updates - cluster peering and virtual services
  website/content/docs/k8s/connect/cluster-peering/tech-specs.mdx
  website/content/docs/k8s/connect/cluster-peering/usage/establish-peering.mdx
  website/content/docs/k8s/l7-traffic/failover-tproxy.mdx
  website/content/docs/k8s/l7-traffic/route-to-virtual-services.mdx
Labels: type/docs, pr/no-changelog, backport/1.16

#17279 Update service-mesh-compare.mdx
  website/content/docs/consul-vs-other/service-mesh-compare.mdx
Labels: type/docs, pr/no-changelog, backport/1.13, backport/1.14, backport/1.15

#18087 Backport of docs updates - cluster peering and virtual services into release/1.16.x
  website/content/docs/k8s/connect/cluster-peering/tech-specs.mdx
  website/content/docs/k8s/connect/cluster-peering/usage/establish-peering.mdx
  website/content/docs/k8s/l7-traffic/failover-tproxy.mdx
  website/content/docs/k8s/l7-traffic/route-to-virtual-services.mdx
Labels: type/docs

#18090 Backport of Update service-mesh-compare.mdx into release/1.14.x
  website/content/docs/consul-vs-other/service-mesh-compare.mdx
Labels: type/docs

#18085 Update helm docs on main
  website/content/docs/k8s/helm.mdx
Labels: type/docs, pr/no-changelog, pr/no-metrics-test, pr/no-backport

#18088 ci: use gotestsum v1.10.1 [NET-4042]
  .github/workflows/reusable-unit-split.yml
  .github/workflows/reusable-unit.yml
  .github/workflows/test-integrations.yml
Labels: type/ci, theme/contributing, pr/no-changelog, backport/1.14, backport/1.15, backport/1.16

#18075 Docs: Update proxy lifecycle annotations and consul-dataplane flags
  website/content/docs/connect/dataplane/consul-dataplane.mdx
  website/content/docs/k8s/annotations-and-labels.mdx
Labels: type/docs, pr/no-changelog, pr/no-metrics-test, backport/1.16

#18095 Backport of Docs: Update proxy lifecycle annotations and consul-dataplane flags into release/1.16.x
  website/content/docs/connect/dataplane/consul-dataplane.mdx
  website/content/docs/k8s/annotations-and-labels.mdx
Labels: type/docs, pr/no-changelog, pr/no-metrics-test, pr/no-backport

#18072 Backport of ui: fix typos for peer service imports into release/1.14.x
  ui/packages/consul-ui/translations/routes/en-us.yaml
Labels: theme/ui

#18073 Backport of ui: fix typos for peer service imports into release/1.15.x
  ui/packages/consul-ui/translations/routes/en-us.yaml
Labels: theme/ui

#18082 Backport of Fix a couple typos in Agent Telemetry Metrics docs into release/1.14.x
  .changelog/18080.txt
  website/content/docs/agent/telemetry.mdx
Labels: type/docs

#17885 Passes configured role name to Vault for AWS auth in Connect CA
  .changelog/17885.txt
  agent/connect/ca/provider_vault_auth_aws.go
  agent/connect/ca/provider_vault_auth_test.go
Labels: theme/connect, backport/1.15, backport/1.16

#18098 Backport of Passes configured role name to Vault for AWS auth in Connect CA into release/1.15.x
  .changelog/17885.txt
  agent/connect/ca/provider_vault_auth_aws.go
  agent/connect/ca/provider_vault_auth_test.go
Labels: theme/connect

#18051 Docs for dataplane upgrade on k8s
  website/content/docs/k8s/upgrade/index.mdx
Labels: type/docs, pr/no-changelog, backport/1.14, backport/1.15, backport/1.16

#18100 [NET-4876] docs - update upgrade index page to not recommend consul leave.
  website/content/docs/upgrading/index.mdx
Labels: type/docs, pr/no-changelog, backport/1.12, backport/1.13, backport/1.14, backport/1.15, backport/1.16

#18094 Backport of ci: use gotestsum v1.10.1 [NET-4042] into release/1.16.x
  .github/workflows/reusable-unit-split.yml
  .github/workflows/reusable-unit.yml
  .github/workflows/test-integrations.yml
Labels: type/ci, theme/contributing

#18093 Backport of ci: use gotestsum v1.10.1 [NET-4042] into release/1.15.x
  .github/workflows/reusable-unit-split.yml
  .github/workflows/reusable-unit.yml
  .github/workflows/test-integrations.yml
Labels: type/ci, theme/contributing

#18105 Backport of Docs for dataplane upgrade on k8s into release/1.16.x
  website/content/docs/k8s/upgrade/index.mdx
Labels: type/docs

#18104 Backport of Docs for dataplane upgrade on k8s into release/1.15.x
  website/content/docs/k8s/upgrade/index.mdx
Labels: type/docs

#18108 Backport of [NET-4876] docs - update upgrade index page to not recommend consul leave. into release/1.14.x
  website/content/docs/upgrading/index.mdx
Labels: type/docs

#18109 Backport of [NET-4876] docs - update upgrade index page to not recommend consul leave. into release/1.15.x
  website/content/docs/upgrading/index.mdx
Labels: type/docs

#18111 docs - Docs for dataplane upgrade on k8s (#18051)
  website/content/docs/k8s/upgrade/index.mdx
Labels: type/docs, pr/no-backport

#17754 Displays Consul version of each nodes in UI nodes section
  .changelog/17754.txt
  agent/agent.go
  agent/agent_endpoint_test.go
  agent/consul/leader.go
  agent/consul/state/catalog.go
  agent/consul/state/catalog_test.go
  agent/consul/state/state_store_test.go
  agent/local/state_test.go
  agent/structs/structs.go
  agent/ui_endpoint.go
  agent/ui_endpoint_test.go
  api/catalog_test.go
  api/txn_test.go
  sdk/testutil/server.go
  ui/packages/consul-ui/app/components/consul/node/list/index.hbs
  ui/packages/consul-ui/app/components/consul/node/search-bar/index.hbs
  ui/packages/consul-ui/app/filter/predicates/node.js
  ui/packages/consul-ui/app/models/node.js
  ui/packages/consul-ui/app/serializers/application.js
  ui/packages/consul-ui/app/sort/comparators/node.js
  ui/packages/consul-ui/app/templates/dc/nodes/index.hbs
  ui/packages/consul-ui/mock-api/v1/internal/ui/node/_
  ui/packages/consul-ui/mock-api/v1/internal/ui/nodes
  ui/packages/consul-ui/tests/unit/sort/comparators/node-test.js
  ui/packages/consul-ui/translations/common/en-us.yaml
  ui/packages/consul-ui/vendor/consul-ui/routes.js
Labels: theme/ui, backport/1.16

#18114 Add updated helm docs for consul-k8s 0.49.8
  website/content/docs/k8s/helm.mdx
Labels: type/docs, pr/no-changelog, pr/no-metrics-test, pr/no-backport

#18081 api gw 1.16 updates
  website/content/docs/api-gateway/configuration/gateway.mdx
  website/content/docs/api-gateway/configuration/index.mdx
  website/content/docs/api-gateway/configuration/routes.mdx
  website/content/docs/api-gateway/install.mdx
  website/content/docs/api-gateway/usage/usage.mdx
Labels: type/docs, pr/no-changelog, pr/no-metrics-test, pr/no-backport

#18067 [NET-4103] ci: build s390x
  .github/workflows/build-distros.yml
  .github/workflows/build.yml
  .github/workflows/go-tests.yml
  .github/workflows/reusable-dev-build.yml
Labels: type/ci, theme/contributing, pr/no-changelog, backport/1.15, backport/1.16

#18116 :ermahgerd "Sevice Mesh" -> "Service Mesh"
  website/content/docs/connect/nomad.mdx
Labels: type/docs, pr/no-changelog, pr/no-metrics-test, backport/1.12, backport/1.13, backport/1.14, backport/1.15, backport/1.16

#18121 Backport of :ermahgerd "Sevice Mesh" -> "Service Mesh" into release/1.14.x
  website/content/docs/connect/nomad.mdx
Labels: type/docs

#18122 Backport of :ermahgerd "Sevice Mesh" -> "Service Mesh" into release/1.15.x
  website/content/docs/connect/nomad.mdx
Labels: type/docs

#18123 Backport of :ermahgerd "Sevice Mesh" -> "Service Mesh" into release/1.16.x
  website/content/docs/connect/nomad.mdx
Labels: type/docs

#18120 Backport of :ermahgerd "Sevice Mesh" -> "Service Mesh" into release/1.13.x
  website/content/docs/connect/nomad.mdx
Labels: type/docs

#18119 Backport of :ermahgerd "Sevice Mesh" -> "Service Mesh" into release/1.12.x
  website/content/docs/connect/nomad.mdx
Labels: type/docs

#18106 Backport of [NET-4876] docs - update upgrade index page to not recommend consul leave. into release/1.12.x
  website/content/docs/upgrading/index.mdx
Labels: type/docs

#18107 Backport of [NET-4876] docs - update upgrade index page to not recommend consul leave. into release/1.13.x
  website/content/docs/upgrading/index.mdx
Labels: type/docs

#18124 [NET-4895] ci - api tests and consul container tests error because of dependency bugs with go 1.20.6. Pin go to 1.20.5.
  .github/workflows/go-tests.yml
  .github/workflows/reusable-unit.yml
  .github/workflows/test-integrations.yml
Labels: type/ci, theme/contributing, pr/no-changelog, backport/1.13, backport/1.14, backport/1.15, backport/1.16

#18102 Add ingress gateway deprecation notices to docs
  website/content/docs/concepts/service-mesh.mdx
  website/content/docs/connect/config-entries/ingress-gateway.mdx
  website/content/docs/connect/gateways/index.mdx
  website/content/docs/connect/gateways/ingress-gateway/index.mdx
  website/content/docs/k8s/connect/ingress-gateways.mdx
Labels: type/docs, pr/no-changelog, pr/no-metrics-test, backport/1.16

#18004 Add docs for jwt cluster configuration
  website/content/docs/connect/config-entries/jwt-provider.mdx
Labels: type/docs, pr/no-changelog, backport/1.16

#18135 Backport of Add docs for jwt cluster configuration into release/1.16.x
  website/content/docs/connect/config-entries/jwt-provider.mdx
Labels: type/docs

#18134 Docs: fix unmatched bracket for health checks page
  website/content/docs/services/usage/checks.mdx
Labels: type/docs, pr/no-changelog, backport/1.15, backport/1.16

#18137 Backport of Docs: fix unmatched bracket for health checks page into release/1.16.x
  website/content/docs/services/usage/checks.mdx
Labels: type/docs

#18131 Backport of Add ingress gateway deprecation notices to docs into release/1.16.x
  website/content/docs/concepts/service-mesh.mdx
  website/content/docs/connect/config-entries/ingress-gateway.mdx
  website/content/docs/connect/gateways/index.mdx
  website/content/docs/connect/gateways/ingress-gateway/index.mdx
  website/content/docs/k8s/connect/ingress-gateways.mdx
Labels: type/docs

#18053 NET-4657/add resource service client
  agent/acl_test.go
  agent/agent.go
  agent/consul/client.go
  agent/consul/server.go
Labels: pr/no-changelog, pr/no-backport

#18112 Fix bug with Vault CA provider
  .changelog/18112.txt
  agent/connect/ca/mock_Provider.go
  agent/connect/ca/provider.go
  agent/connect/ca/provider_aws.go
  agent/connect/ca/provider_aws_test.go
  agent/connect/ca/provider_consul.go
  agent/connect/ca/provider_consul_test.go
  agent/connect/ca/provider_vault.go
  agent/connect/ca/provider_vault_test.go
  agent/consul/leader_connect_ca.go
  agent/consul/leader_connect_ca_test.go
  agent/consul/leader_connect_test.go
Labels: theme/connect, backport/1.14, backport/1.15, backport/1.16

#18129 [NET-4897] net/http host header is now verified and request.host that contains socked now error
  .github/workflows/go-tests.yml
  api/api.go
Labels: theme/api, type/ci, theme/contributing, pr/no-changelog, backport/1.13, backport/1.14, backport/1.15, backport/1.16

#18139 add a conditional around setting LANFilter.AllSegments to make sure it is valid
  agent/ui_endpoint.go
Labels: pr/no-changelog, backport/1.16

#18130 chore: bump upgrade integrations tests to 1.15, 116 [NET-4743]
  .github/workflows/test-integrations.yml
  test/integration/consul-container/libs/utils/version.go
Labels: type/ci, theme/contributing, pr/no-changelog, backport/1.15, backport/1.16

#18133 re org registry
  agent/consul/client_test.go
  agent/consul/options.go
  agent/consul/server.go
  agent/consul/type_registry.go
  agent/rpc/peering/service_test.go
  agent/setup.go
  docs/resources/guide.md
Labels: pr/no-changelog, pr/no-backport

#18149 fix: update delegateMock used in ENT
  agent/delegate_mock_test.go
Labels: pr/no-changelog, pr/no-backport

#18062 Use JWT-auth filter in metadata mode & Delegate validation to RBAC filter
  agent/xds/jwt_authn.go
  agent/xds/jwt_authn_test.go
  agent/xds/listeners.go
  agent/xds/rbac.go
  agent/xds/rbac_test.go
  agent/xds/testdata/jwt_authn/intention-with-path.golden
  agent/xds/testdata/jwt_authn/local-provider.golden
  agent/xds/testdata/jwt_authn/multiple-providers-and-one-permission.golden
  agent/xds/testdata/jwt_authn/no-provider.golden
  agent/xds/testdata/jwt_authn/remote-provider.golden
  agent/xds/testdata/jwt_authn/top-level-provider-with-permission.golden
  agent/xds/testdata/rbac/empty-top-level-jwt-with-one-permission--httpfilter.golden
  agent/xds/testdata/rbac/top-level-jwt-no-permissions--httpfilter.golden
  agent/xds/testdata/rbac/top-level-jwt-with-multiple-permissions--httpfilter.golden
  agent/xds/testdata/rbac/top-level-jwt-with-one-permission--httpfilter.golden
  test/integration/consul-container/test/jwtauth/jwt_auth_test.go
Labels: theme/envoy/xds, pr/no-changelog, backport/1.16

#18154 Change docs to say 168h instead of 7d for server_rejoin_age_max
  website/content/docs/agent/config/config-files.mdx
Labels: type/docs, pr/no-changelog, backport/1.15, backport/1.16

#18155 Backport of Change docs to say 168h instead of 7d for server_rejoin_age_max into release/1.15.x
  website/content/docs/agent/config/config-files.mdx
Labels: type/docs

#18156 Backport of Change docs to say 168h instead of 7d for server_rejoin_age_max into release/1.16.x
  website/content/docs/agent/config/config-files.mdx
Labels: type/docs

#18113 Backport of Displays Consul version of each nodes in UI nodes section into release/1.16.x
  .changelog/17754.txt
  agent/agent.go
  agent/agent_endpoint_test.go
  agent/consul/leader.go
  agent/consul/state/catalog.go
  agent/consul/state/catalog_test.go
  agent/consul/state/state_store_test.go
  agent/local/state_test.go
  agent/structs/structs.go
  agent/ui_endpoint.go
  agent/ui_endpoint_test.go
  api/catalog_test.go
  api/txn_test.go
  sdk/testutil/server.go
  ui/packages/consul-ui/app/components/consul/node/list/index.hbs
  ui/packages/consul-ui/app/components/consul/node/search-bar/index.hbs
  ui/packages/consul-ui/app/filter/predicates/node.js
  ui/packages/consul-ui/app/models/node.js
  ui/packages/consul-ui/app/serializers/application.js
  ui/packages/consul-ui/app/sort/comparators/node.js
  ui/packages/consul-ui/app/templates/dc/nodes/index.hbs
  ui/packages/consul-ui/mock-api/v1/internal/ui/node/_
  ui/packages/consul-ui/mock-api/v1/internal/ui/nodes
  ui/packages/consul-ui/tests/unit/sort/comparators/node-test.js
  ui/packages/consul-ui/translations/common/en-us.yaml
  ui/packages/consul-ui/vendor/consul-ui/routes.js
Labels: theme/ui

#18157 Re-order expected/actual for assertContainerState in consul container tests
  GNUmakefile
  test/integration/consul-container/libs/assert/service.go
Labels: pr/no-changelog, pr/no-docs, backport/1.16

#18161 Backport of Fix bug with Vault CA provider into release/1.16.x
  .changelog/18112.txt
  agent/connect/ca/mock_Provider.go
  agent/connect/ca/provider.go
  agent/connect/ca/provider_aws.go
  agent/connect/ca/provider_aws_test.go
  agent/connect/ca/provider_consul.go
  agent/connect/ca/provider_consul_test.go
  agent/connect/ca/provider_vault.go
  agent/connect/ca/provider_vault_test.go
  agent/consul/leader_connect_ca.go
  agent/consul/leader_connect_ca_test.go
  agent/consul/leader_connect_test.go
Labels: theme/connect

#17943 group and document make file
  Makefile
  build-support/scripts/envoy-library-references.sh
  docs/README.md
Labels: pr/no-changelog, pr/no-backport

#17823 Add `testing/deployer` (neé `consul-topology`) [NET-4610]
  .github/workflows/reusable-lint.yml
  testing/deployer/.gitignore
  testing/deployer/README.md
  testing/deployer/TODO.md
  testing/deployer/go.mod
  testing/deployer/go.sum
  testing/deployer/sprawl/acl.go
  testing/deployer/sprawl/acl_rules.go
  testing/deployer/sprawl/boot.go
  testing/deployer/sprawl/catalog.go
  testing/deployer/sprawl/configentries.go
  testing/deployer/sprawl/consul.go
  testing/deployer/sprawl/debug.go
  testing/deployer/sprawl/details.go
  testing/deployer/sprawl/ent.go
  testing/deployer/sprawl/helpers.go
  testing/deployer/sprawl/internal/build/docker.go
  testing/deployer/sprawl/internal/runner/exec.go
  testing/deployer/sprawl/internal/secrets/store.go
  testing/deployer/sprawl/internal/tfgen/agent.go
  testing/deployer/sprawl/internal/tfgen/digest.go
  testing/deployer/sprawl/internal/tfgen/dns.go
  testing/deployer/sprawl/internal/tfgen/docker.go
  testing/deployer/sprawl/internal/tfgen/docker_test.go
  testing/deployer/sprawl/internal/tfgen/gen.go
  testing/deployer/sprawl/internal/tfgen/io.go
  testing/deployer/sprawl/internal/tfgen/nodes.go
  testing/deployer/sprawl/internal/tfgen/prelude.go
  testing/deployer/sprawl/internal/tfgen/proxy.go
  testing/deployer/sprawl/internal/tfgen/res.go
  testing/deployer/sprawl/internal/tfgen/templates/container-app-dataplane.tf.tmpl
  testing/deployer/sprawl/internal/tfgen/templates/container-app-sidecar.tf.tmpl
  testing/deployer/sprawl/internal/tfgen/templates/container-app.tf.tmpl
  testing/deployer/sprawl/internal/tfgen/templates/container-consul.tf.tmpl
  testing/deployer/sprawl/internal/tfgen/templates/container-coredns.tf.tmpl
  testing/deployer/sprawl/internal/tfgen/templates/container-mgw.tf.tmpl
  testing/deployer/sprawl/internal/tfgen/templates/container-pause.tf.tmpl
  testing/deployer/sprawl/internal/tfgen/templates/container-proxy.tf.tmpl
  testing/deployer/sprawl/internal/tfgen/tfgen.go
  testing/deployer/sprawl/peering.go
  testing/deployer/sprawl/sprawl.go
  testing/deployer/sprawl/sprawltest/sprawltest.go
  testing/deployer/sprawl/sprawltest/test_test.go
  testing/deployer/sprawl/tls.go
  testing/deployer/topology/compile.go
  testing/deployer/topology/default_cdp.go
  testing/deployer/topology/default_consul.go
  testing/deployer/topology/default_envoy.go
  testing/deployer/topology/ids.go
  testing/deployer/topology/images.go
  testing/deployer/topology/images_test.go
  testing/deployer/topology/topology.go
  testing/deployer/topology/util.go
  testing/deployer/topology/util_test.go
  testing/deployer/util/consul.go
  testing/deployer/util/files.go
  testing/deployer/util/internal/ipamutils/doc.go
  testing/deployer/util/internal/ipamutils/utils.go
  testing/deployer/util/internal/ipamutils/utils_test.go
  testing/deployer/util/net.go
Labels: pr/no-changelog, pr/no-backport

#18162 Fix a bug that wrongly trims domains when there is an overlap with DC name 1.14.x
  .changelog/17160.txt
  agent/dns.go
  agent/dns_test.go
Labels: pr/no-changelog, pr/no-backport

#18163 Fix a bug that wrongly trims domains when there is an overlap with DC name 1.15.x
  .changelog/17160.txt
  agent/dns.go
  agent/dns_test.go
Labels: pr/no-changelog, pr/no-backport

#18164 Fix a bug that wrongly trims domains when there is an overlap with DC 1.16.x
  .changelog/17160.txt
  agent/dns.go
  agent/dns_test.go
Labels: pr/no-changelog, pr/no-backport

#18147 Backport of chore: bump upgrade integrations tests to 1.15, 116 [NET-4743] into release/1.15.x
  .github/workflows/test-integrations.yml
  test/integration/consul-container/libs/utils/version.go
Labels: type/ci, theme/contributing

#18148 Backport of chore: bump upgrade integrations tests to 1.15, 116 [NET-4743] into release/1.16.x
  .github/workflows/test-integrations.yml
  test/integration/consul-container/libs/utils/version.go
Labels: type/ci, theme/contributing

#18169 [NET-4792] Add integrations tests for jwt-auth
  test/integration/consul-container/libs/cluster/cluster.go
  test/integration/consul-container/libs/service/connect.go
  test/integration/consul-container/test/jwtauth/jwt_auth_test.go
Labels: pr/no-changelog, pr/no-docs, backport/1.16

#18028 Add FIPS reference to consul enterprise docs
  website/content/docs/enterprise/index.mdx
Labels: pr/no-changelog, backport/1.16

#18175 Backport of Add FIPS reference to consul enterprise docs into release/1.16.x
  website/content/docs/enterprise/index.mdx
Labels: type/docs

#18176 docs - remove Sentinel from enterprise features list
  website/content/docs/dynamic-app-config/kv.mdx
  website/content/docs/enterprise/index.mdx
  website/content/docs/enterprise/sentinel.mdx
  website/data/docs-nav-data.json
  website/redirects.js
Labels: type/docs, pr/no-changelog, backport/1.16

#18182 Backport of docs - remove Sentinel from enterprise features list into release/1.16.x
  website/content/docs/dynamic-app-config/kv.mdx
  website/content/docs/enterprise/index.mdx
  website/content/docs/enterprise/sentinel.mdx
  website/data/docs-nav-data.json
  website/redirects.js
Labels: type/docs

#18185 Fix typo on docs telemetry page
  website/content/docs/agent/telemetry.mdx
Labels: type/docs

#18186 [NET-4865] Bump golang.org/x/net to 0.12.0
  .changelog/18186.txt
  api/go.mod
  api/go.sum
  envoyextensions/go.mod
  envoyextensions/go.sum
  go.mod
  go.sum
  proto-public/go.mod
  proto-public/go.sum
  test-integ/go.mod
  test-integ/go.sum
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
  troubleshoot/go.mod
  troubleshoot/go.sum
Labels: theme/api, pr/dependencies, theme/security, backport/1.14, backport/1.15, backport/1.16

#18184 [NET-3700] add `omitempty` to api prepared query targets
  api/prepared_query.go
Labels: type/bug, theme/api, pr/no-changelog, pr/no-backport

#18178 Mutate before validate (NET-4907)
  agent/grpc-external/services/resource/write.go
  internal/resource/registry.go
Labels: pr/no-changelog, pr/no-backport

#18190 [NET-4865] security: Update Go version to 1.20.6
  .changelog/18190.txt
  .github/workflows/build.yml
  build-support/docker/Build-Go.dockerfile
Labels: type/ci, theme/contributing, theme/security, backport/1.14, backport/1.15, backport/1.16

#18183 Improve XDS test coverage: JWT auth edition
  agent/xds/clusters_test.go
  agent/xds/listeners_test.go
  agent/xds/testdata/clusters/connect-proxy-with-jwt-config-entry-with-local.latest.golden
  agent/xds/testdata/clusters/connect-proxy-with-jwt-config-entry-with-remote-jwks.latest.golden
  agent/xds/testdata/listeners/connect-proxy-with-jwt-config-entry-with-local.latest.golden
Labels: theme/envoy/xds, pr/no-changelog, pr/no-docs, backport/1.16

#18194 Backport of [NET-4865] security: Update Go version to 1.20.6 into release/1.15.x
  .changelog/18190.txt
  .github/workflows/build.yml
  build-support/docker/Build-Go.dockerfile
Labels: type/ci, theme/contributing

#18196 Backport of Improve XDS test coverage: JWT auth edition into release/1.16.x
  agent/xds/clusters_test.go
  agent/xds/listeners_test.go
  agent/xds/testdata/clusters/connect-proxy-with-jwt-config-entry-with-local.latest.golden
  agent/xds/testdata/clusters/connect-proxy-with-jwt-config-entry-with-remote-jwks.latest.golden
  agent/xds/testdata/listeners/connect-proxy-with-jwt-config-entry-with-local.latest.golden
Labels: theme/envoy/xds

#18195 Backport of [NET-4865] security: Update Go version to 1.20.6 into release/1.16.x
  .changelog/18190.txt
  .github/workflows/build.yml
  build-support/docker/Build-Go.dockerfile
Labels: type/ci, theme/contributing

#18191 update readme.md
  docs/README.md
  test-integ/peering_commontopo/README.md
Labels: pr/no-changelog, pr/no-backport

#18197 Update submodules to latest following 1.16.0
  api/go.mod
  envoyextensions/go.mod
  envoyextensions/go.sum
  go.mod
  test/integration/consul-container/go.mod
  testing/deployer/go.mod
  testing/deployer/go.sum
  troubleshoot/go.mod
  troubleshoot/go.sum
Labels: theme/api, pr/dependencies, pr/no-changelog, backport/1.16

#18203 Backport of Fix Backport Assistant PR commenting into release/1.16.x
  .github/workflows/backport-assistant.yml
  .github/workflows/backport-reminder.yml
Labels: type/ci, theme/contributing

#18202 Backport of Fix Backport Assistant PR commenting into release/1.15.x
  .github/workflows/backport-assistant.yml
  .github/workflows/backport-reminder.yml
Labels: type/ci, theme/contributing

#18206 docs: fix the description of client rpc
  agent/consul/client.go
  website/content/docs/agent/telemetry.mdx
Labels: type/docs, pr/no-changelog, pr/no-metrics-test, backport/1.15, backport/1.16

#18208 NET-4804: Add dashboard for monitoring consul-k8s
  grafana/README.md
  grafana/consul-k8s-control-plane-monitoring.json
Labels: pr/no-changelog, pr/no-backport

#18213 Backport of docs: fix the description of client rpc into release/1.16.x
  agent/consul/client.go
  website/content/docs/agent/telemetry.mdx
Labels: type/docs

#18210 Backport of Explicitly enable WebSocket upgrades into release/1.15.x
  .changelog/18150.txt
  agent/xds/listeners.go
  agent/xds/testdata/builtin_extension/listeners/lambda-and-lua-connect-proxy.latest.golden
  agent/xds/testdata/builtin_extension/listeners/lambda-connect-proxy-opposite-meta.latest.golden
  agent/xds/testdata/builtin_extension/listeners/lambda-connect-proxy-tproxy.latest.golden
  agent/xds/testdata/builtin_extension/listeners/lambda-connect-proxy-with-terminating-gateway-upstream.latest.golden
  agent/xds/testdata/builtin_extension/listeners/lambda-connect-proxy.latest.golden
  agent/xds/testdata/builtin_extension/listeners/lambda-terminating-gateway-with-service-resolvers.latest.golden
  agent/xds/testdata/builtin_extension/listeners/lambda-terminating-gateway.latest.golden
  agent/xds/testdata/builtin_extension/listeners/lua-connect-proxy-with-terminating-gateway-upstream.latest.golden
  agent/xds/testdata/builtin_extension/listeners/lua-inbound-applies-to-inbound.latest.golden
  agent/xds/testdata/builtin_extension/listeners/lua-inbound-doesnt-apply-to-local-upstreams.latest.golden
  agent/xds/testdata/builtin_extension/listeners/lua-outbound-applies-to-local-upstreams-tproxy.latest.golden
  agent/xds/testdata/builtin_extension/listeners/lua-outbound-applies-to-local-upstreams.latest.golden
  agent/xds/testdata/builtin_extension/listeners/lua-outbound-doesnt-apply-to-inbound.latest.golden
  agent/xds/testdata/listeners/api-gateway-http-listener-with-http-route.latest.golden
  agent/xds/testdata/listeners/api-gateway-tcp-listener-with-tcp-and-http-route.latest.golden
  agent/xds/testdata/listeners/api-gateway-with-http-route-and-inline-certificate.latest.golden
  agent/xds/testdata/listeners/connect-proxy-with-chain-and-overrides.latest.golden
  agent/xds/testdata/listeners/connect-proxy-with-grpc-chain.latest.golden
  agent/xds/testdata/listeners/connect-proxy-with-http-chain.latest.golden
  agent/xds/testdata/listeners/connect-proxy-with-http2-chain.latest.golden
  agent/xds/testdata/listeners/custom-trace-listener.latest.golden
  agent/xds/testdata/listeners/expose-checks.latest.golden
  agent/xds/testdata/listeners/expose-paths-local-app-paths.latest.golden
  agent/xds/testdata/listeners/expose-paths-new-cluster-http2.latest.golden
  agent/xds/testdata/listeners/grpc-public-listener.latest.golden
  agent/xds/testdata/listeners/http-listener-with-timeouts.latest.golden
  agent/xds/testdata/listeners/http-public-listener-no-xfcc.latest.golden
  agent/xds/testdata/listeners/http-public-listener.latest.golden
  agent/xds/testdata/listeners/http-upstream.latest.golden
  agent/xds/testdata/listeners/http2-public-listener.latest.golden
  agent/xds/testdata/listeners/ingress-grpc-multiple-services.latest.golden
  agent/xds/testdata/listeners/ingress-http-multiple-services.latest.golden
  agent/xds/testdata/listeners/ingress-splitter-with-resolver-redirect.latest.golden
  agent/xds/testdata/listeners/ingress-with-grpc-single-tls-listener.latest.golden
  agent/xds/testdata/listeners/ingress-with-http2-and-grpc-multiple-tls-listener.latest.golden
  agent/xds/testdata/listeners/ingress-with-http2-single-tls-listener.latest.golden
  agent/xds/testdata/listeners/ingress-with-sds-listener+service-level.latest.golden
  agent/xds/testdata/listeners/ingress-with-sds-listener-gw-level-http.latest.golden
  agent/xds/testdata/listeners/ingress-with-sds-service-level-mixed-no-tls.latest.golden
  agent/xds/testdata/listeners/ingress-with-sds-service-level.latest.golden
  agent/xds/testdata/listeners/ingress-with-single-tls-listener.latest.golden
  agent/xds/testdata/listeners/ingress-with-tls-min-version-listeners-gateway-defaults.latest.golden
  agent/xds/testdata/listeners/ingress-with-tls-mixed-listeners.latest.golden
  agent/xds/testdata/listeners/ingress-with-tls-mixed-min-version-listeners.latest.golden
  agent/xds/testdata/listeners/mesh-gateway-with-exported-peered-services-http-with-router.latest.golden
  agent/xds/testdata/listeners/mesh-gateway-with-exported-peered-services-http.latest.golden
  agent/xds/testdata/listeners/splitter-with-resolver-redirect.latest.golden
  agent/xds/testdata/listeners/telemetry-collector.latest.golden
  agent/xds/testdata/listeners/terminating-gateway-service-subsets.latest.golden
  agent/xds/testdata/listeners/transparent-proxy-destination-http.latest.golden
  agent/xds/testdata/listeners/transparent-proxy-http-upstream.latest.golden
  agent/xds/testdata/listeners/transparent-proxy-terminating-gateway-destinations-only.latest.golden
  agent/xds/xds_protocol_helpers_test.go
Labels: type/docs, theme/api, theme/cli, theme/config, theme/ui, theme/connect, theme/tls, type/ci, pr/dependencies, theme/envoy/xds, theme/contributing, theme/internals, theme/certificates, theme/agent-cache, theme/consul-terraform-sync

#18209 Backport of Explicitly enable WebSocket upgrades into release/1.14.x
  .changelog/18150.txt
  agent/xds/listeners.go
  agent/xds/testdata/clusters/custom-passive-healthcheck.latest.golden
  agent/xds/testdata/listeners/connect-proxy-with-chain-and-overrides.latest.golden
  agent/xds/testdata/listeners/connect-proxy-with-grpc-chain.latest.golden
  agent/xds/testdata/listeners/connect-proxy-with-http-chain.latest.golden
  agent/xds/testdata/listeners/connect-proxy-with-http2-chain.latest.golden
  agent/xds/testdata/listeners/custom-trace-listener.latest.golden
  agent/xds/testdata/listeners/expose-checks.latest.golden
  agent/xds/testdata/listeners/expose-paths-local-app-paths.latest.golden
  agent/xds/testdata/listeners/expose-paths-new-cluster-http2.latest.golden
  agent/xds/testdata/listeners/grpc-public-listener.latest.golden
  agent/xds/testdata/listeners/http-listener-with-timeouts.latest.golden
  agent/xds/testdata/listeners/http-public-listener-no-xfcc.latest.golden
  agent/xds/testdata/listeners/http-public-listener.latest.golden
  agent/xds/testdata/listeners/http-upstream.latest.golden
  agent/xds/testdata/listeners/http2-public-listener.latest.golden
  agent/xds/testdata/listeners/ingress-grpc-multiple-services.latest.golden
  agent/xds/testdata/listeners/ingress-http-multiple-services.latest.golden
  agent/xds/testdata/listeners/ingress-splitter-with-resolver-redirect.latest.golden
  agent/xds/testdata/listeners/ingress-with-grpc-single-tls-listener.latest.golden
  agent/xds/testdata/listeners/ingress-with-http2-and-grpc-multiple-tls-listener.latest.golden
  agent/xds/testdata/listeners/ingress-with-http2-single-tls-listener.latest.golden
  agent/xds/testdata/listeners/ingress-with-sds-listener+service-level.latest.golden
  agent/xds/testdata/listeners/ingress-with-sds-listener-gw-level-http.latest.golden
  agent/xds/testdata/listeners/ingress-with-sds-service-level-mixed-no-tls.latest.golden
  agent/xds/testdata/listeners/ingress-with-sds-service-level.latest.golden
  agent/xds/testdata/listeners/ingress-with-single-tls-listener.latest.golden
  agent/xds/testdata/listeners/ingress-with-tls-min-version-listeners-gateway-defaults.latest.golden
  agent/xds/testdata/listeners/ingress-with-tls-mixed-listeners.latest.golden
  agent/xds/testdata/listeners/ingress-with-tls-mixed-min-version-listeners.latest.golden
  agent/xds/testdata/listeners/mesh-gateway-with-exported-peered-services-http-with-router.latest.golden
  agent/xds/testdata/listeners/mesh-gateway-with-exported-peered-services-http.latest.golden
  agent/xds/testdata/listeners/splitter-with-resolver-redirect.latest.golden
  agent/xds/testdata/listeners/terminating-gateway-service-subsets.latest.golden
  agent/xds/testdata/listeners/transparent-proxy-destination-http.latest.golden
  agent/xds/testdata/listeners/transparent-proxy-http-upstream.latest.golden
  agent/xds/testdata/listeners/transparent-proxy-terminating-gateway-destinations-only.latest.golden
  agent/xds/testdata/routes/connect-proxy-with-chain-and-failover-to-cluster-peer.latest.golden
  agent/xds/testdata/routes/connect-proxy-with-chain-and-redirect-to-cluster-peer.latest.golden
  agent/xds/testdata/routes/connect-proxy-with-chain-external-sni.latest.golden
  agent/xds/testdata/routes/connect-proxy-with-chain.latest.golden
  agent/xds/testdata/routes/ingress-grpc-multiple-services.latest.golden
  agent/xds/testdata/routes/ingress-with-chain-and-router.latest.golden
  agent/xds/testdata/routes/ingress-with-sds-listener-level-wildcard.latest.golden
  agent/xds/testdata/routes/ingress-with-sds-listener-level.latest.golden
  agent/xds/testdata/routes/ingress-with-sds-service-level-mixed-tls.latest.golden
  agent/xds/testdata/routes/ingress-with-sds-service-level.latest.golden
  agent/xds/testdata/serverless_plugin/listeners/lambda-connect-proxy-opposite-meta.latest.golden
  agent/xds/testdata/serverless_plugin/listeners/lambda-connect-proxy.latest.golden
  agent/xds/testdata/serverless_plugin/listeners/lambda-terminating-gateway-with-service-resolvers.latest.golden
  agent/xds/testdata/serverless_plugin/listeners/lambda-terminating-gateway.latest.golden
  agent/xds/xds_protocol_helpers_test.go
Labels: theme/envoy/xds

#18165 [OSS] Improve xDS Code Coverage - Clusters
  agent/proxycfg/testing_peering.go
  agent/xds/clusters.go
  agent/xds/clusters_test.go
  agent/xds/failover_policy.go
  agent/xds/listeners.go
  agent/xds/resources_test.go
  agent/xds/routes.go
  agent/xds/testdata/clusters/connect-proxy-with-chain-http2.latest.golden
  agent/xds/testdata/clusters/connect-proxy-with-peered-upstreams-escape-overrides.latest.golden
  agent/xds/testdata/clusters/connect-proxy-with-peered-upstreams-http2.latest.golden
  agent/xds/testdata/clusters/custom-upstream-with-prepared-query.latest.golden
  agent/xds/testdata/clusters/enterprise-connect-proxy-with-chain-http2.latest.golden
  agent/xds/testdata/clusters/expose-checks.latest.golden
  agent/xds/testdata/clusters/ingress-with-defaults-passive-health-check.latest.golden
  agent/xds/testdata/clusters/ingress-with-overwrite-defaults-passive-health-check.latest.golden
  agent/xds/testdata/clusters/ingress-with-service-passive-health-check.latest.golden
  agent/xds/testdata/clusters/mesh-gateway-using-federation-control-plane.latest.golden
  agent/xds/testdata/clusters/mesh-gateway-with-imported-peered-services.latest.golden
  agent/xds/testdata/endpoints/connect-proxy-with-peered-upstreams-escape-overrides.latest.golden
  agent/xds/testdata/endpoints/connect-proxy-with-peered-upstreams-http2.latest.golden
  agent/xds/testdata/listeners/connect-proxy-with-peered-upstreams-escape-overrides.latest.golden
  agent/xds/testdata/listeners/connect-proxy-with-peered-upstreams-http2.latest.golden
  agent/xds/testdata/listeners/mesh-gateway-using-federation-control-plane.latest.golden
  agent/xds/testdata/routes/connect-proxy-with-peered-upstreams-escape-overrides.latest.golden
  agent/xds/testdata/routes/connect-proxy-with-peered-upstreams-http2.latest.golden
  agent/xds/testdata/secrets/connect-proxy-with-peered-upstreams-escape-overrides.latest.golden
  agent/xds/testdata/secrets/connect-proxy-with-peered-upstreams-http2.latest.golden
Labels: theme/envoy/xds, pr/no-changelog, pr/no-backport

#18218 NET-4222 take config file consul container
  test-integ/go.mod
  test-integ/go.sum
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
  test/integration/consul-container/libs/assert/grpc.go
  test/integration/consul-container/libs/cluster/agent.go
  test/integration/consul-container/libs/topology/peering_topology.go
  test/integration/consul-container/libs/topology/service_topology.go
  test/integration/consul-container/test/basic/connect_service_test.go
  test/integration/consul-container/test/gateways/ingress_gateway_test.go
  test/integration/consul-container/test/observability/access_logs_test.go
  test/integration/consul-container/test/troubleshoot/troubleshoot_test.go
Labels: pr/no-changelog, pr/no-backport

#18007 Envoy Integration Test Windows
  .changelog/18007.txt
  .github/scripts/get_runner_classes_windows.sh
  .github/workflows/reusable-dev-build-windows.yml
  .github/workflows/test-integrations-windows.yml
  .release/docker/docker-entrypoint-windows.sh
  Dockerfile-windows
  build-support/windows/Dockerfile-consul-dev-windows
  build-support/windows/Dockerfile-consul-local-windows
  build-support/windows/Dockerfile-openzipkin-windows
  build-support/windows/build-consul-dev-image.sh
  build-support/windows/build-consul-local-images.sh
  build-support/windows/build-test-sds-server-image.sh
  build-support/windows/windows-test.md
  test/integration/connect/envoy/Dockerfile-consul-envoy-windows
  test/integration/connect/envoy/Dockerfile-tcpdump-windows
  test/integration/connect/envoy/Dockerfile-test-sds-server-windows
  test/integration/connect/envoy/WINDOWS-TEST.md
  test/integration/connect/envoy/case-dogstatsd-udp/verify.bats
  test/integration/connect/envoy/case-gateways-local/secondary/setup.sh
  test/integration/connect/envoy/case-grpc/service_s1.hcl
  test/integration/connect/envoy/case-grpc/verify.bats
  test/integration/connect/envoy/case-http-badauthz/setup.sh
  test/integration/connect/envoy/case-ingress-gateway-tls/verify.bats
  test/integration/connect/envoy/case-wanfed-gw/global-setup-windows.sh
  test/integration/connect/envoy/case-zipkin/verify.bats
  test/integration/connect/envoy/docker-windows.md
  test/integration/connect/envoy/docs/img/linux-arch.png
  test/integration/connect/envoy/docs/img/windows-arch-singlecontainer.png
  test/integration/connect/envoy/docs/img/windows-linux-arch.png
  test/integration/connect/envoy/docs/windows-testing-architecture.md
  test/integration/connect/envoy/helpers.windows.bash
  test/integration/connect/envoy/main_test.go
  test/integration/connect/envoy/run-tests.windows.sh
  test/integration/connect/envoy/windows-troubleshooting.md
Labels: theme/cli, type/ci, pr/dependencies, theme/contributing, pr/no-backport

#18215 fix typos and update ecs compat table
  website/content/docs/ecs/compatibility.mdx
  website/content/docs/lambda/registration/automate.mdx
  website/content/docs/nia/usage/run-ha.mdx
Labels: type/docs, theme/consul-terraform-sync, pr/no-changelog, pr/no-metrics-test, backport/1.16

#18220 Backport of fix typos and update ecs compat table into release/1.16.x
  website/content/docs/ecs/compatibility.mdx
  website/content/docs/lambda/registration/automate.mdx
  website/content/docs/nia/usage/run-ha.mdx
Labels: type/docs, theme/consul-terraform-sync

#18216 [OSS] proxystate: add proxystate protos
  proto-public/pbmesh/v1alpha1/access_logs.pb.binary.go
  proto-public/pbmesh/v1alpha1/access_logs.pb.go
  proto-public/pbmesh/v1alpha1/access_logs.proto
  proto-public/pbmesh/v1alpha1/address.pb.binary.go
  proto-public/pbmesh/v1alpha1/address.pb.go
  proto-public/pbmesh/v1alpha1/address.proto
  proto-public/pbmesh/v1alpha1/cluster.pb.binary.go
  proto-public/pbmesh/v1alpha1/cluster.pb.go
  proto-public/pbmesh/v1alpha1/cluster.proto
  proto-public/pbmesh/v1alpha1/endpoints.pb.binary.go
  proto-public/pbmesh/v1alpha1/endpoints.pb.go
  proto-public/pbmesh/v1alpha1/endpoints.proto
  proto-public/pbmesh/v1alpha1/escape_hatches.pb.binary.go
  proto-public/pbmesh/v1alpha1/escape_hatches.pb.go
  proto-public/pbmesh/v1alpha1/escape_hatches.proto
  proto-public/pbmesh/v1alpha1/header_mutations.pb.binary.go
  proto-public/pbmesh/v1alpha1/header_mutations.pb.go
  proto-public/pbmesh/v1alpha1/header_mutations.proto
  proto-public/pbmesh/v1alpha1/intentions.pb.binary.go
  proto-public/pbmesh/v1alpha1/intentions.pb.go
  proto-public/pbmesh/v1alpha1/intentions.proto
  proto-public/pbmesh/v1alpha1/listener.pb.binary.go
  proto-public/pbmesh/v1alpha1/listener.pb.go
  proto-public/pbmesh/v1alpha1/listener.proto
  proto-public/pbmesh/v1alpha1/proxy_state.pb.binary.go
  proto-public/pbmesh/v1alpha1/proxy_state.pb.go
  proto-public/pbmesh/v1alpha1/proxy_state.proto
  proto-public/pbmesh/v1alpha1/references.pb.binary.go
  proto-public/pbmesh/v1alpha1/references.pb.go
  proto-public/pbmesh/v1alpha1/references.proto
  proto-public/pbmesh/v1alpha1/route.pb.binary.go
  proto-public/pbmesh/v1alpha1/route.pb.go
  proto-public/pbmesh/v1alpha1/route.proto
  proto-public/pbmesh/v1alpha1/transport_socket.pb.binary.go
  proto-public/pbmesh/v1alpha1/transport_socket.pb.go
  proto-public/pbmesh/v1alpha1/transport_socket.proto
  proto-public/pbmesh/v1alpha1/upstreams_configuration.pb.go
  proto-public/pbmesh/v1alpha1/upstreams_configuration.proto
Labels: pr/no-changelog, pr/no-docs, pr/no-backport

#18224 ci: don't verify s390x
  .github/workflows/build.yml
Labels: type/ci, theme/contributing, pr/no-changelog, backport/1.15, backport/1.16

#18226 Backport of ci: don't verify s390x into release/1.16.x
  .github/workflows/build.yml
Labels: type/ci, theme/contributing

#18225 Backport of ci: don't verify s390x into release/1.15.x
  .github/workflows/build.yml
Labels: type/ci, theme/contributing

#18207 [NET-4122] Doc guidance for federation with externalServers
  website/content/docs/k8s/deployment-configurations/servers-outside-kubernetes.mdx
  website/content/docs/k8s/helm.mdx
Labels: type/docs, pr/no-changelog, backport/1.14, backport/1.15, backport/1.16

#18231 Backport of [NET-4122] Doc guidance for federation with externalServers into release/1.14.x
  website/content/docs/k8s/deployment-configurations/servers-outside-kubernetes.mdx
  website/content/docs/k8s/helm.mdx
Labels: type/docs

#18233 Backport of [NET-4122] Doc guidance for federation with externalServers into release/1.16.x
  website/content/docs/k8s/deployment-configurations/servers-outside-kubernetes.mdx
  website/content/docs/k8s/helm.mdx
Labels: type/docs

#18232 Backport of [NET-4122] Doc guidance for federation with externalServers into release/1.15.x
  website/content/docs/k8s/deployment-configurations/servers-outside-kubernetes.mdx
  website/content/docs/k8s/helm.mdx
Labels: type/docs

#18237 Clarify license reporting timing and GDPR compliance
  website/content/docs/enterprise/license/utilization-reporting.mdx
Labels: type/docs, pr/no-changelog, pr/no-metrics-test, backport/1.16

#18238 Backport of Clarify license reporting timing and GDPR compliance into release/1.16.x
  website/content/docs/enterprise/license/utilization-reporting.mdx
Labels: type/docs

#18241 Fix Github Workflow File
  .github/workflows/test-integrations-windows.yml
Labels: type/ci, theme/contributing, pr/no-changelog, pr/no-backport

#18236 NET-4996 - filter go-tests and test-integration workflows from running on docs only and ui only changes
  .github/workflows/go-tests.yml
  .github/workflows/test-integrations.yml
Labels: type/ci, theme/contributing, pr/no-changelog, backport/1.14, backport/1.15, backport/1.16

#18242 Backport of NET-4996 - filter go-tests and test-integration workflows from running on docs only and ui only changes into release/1.14.x
  .github/workflows/go-tests.yml
  .github/workflows/test-integrations.yml
Labels: type/ci, theme/contributing

#18243 Backport of NET-4996 - filter go-tests and test-integration workflows from running on docs only and ui only changes into release/1.15.x
  .github/workflows/go-tests.yml
  .github/workflows/test-integrations.yml
Labels: type/ci, theme/contributing

#18244 Backport of NET-4996 - filter go-tests and test-integration workflows from running on docs only and ui only changes into release/1.16.x
  .github/workflows/go-tests.yml
  .github/workflows/test-integrations.yml
Labels: type/ci, theme/contributing

#18235 Align build arch matrix with enterprise
  .github/workflows/build.yml
Labels: type/ci, theme/contributing, pr/no-changelog, backport/1.16
