Repository hashicorp/consul, pull requests merged in 2023-03, with the labels that each got.

#16298 add provider ca auth-method support for azure
  .changelog/16298.txt
  agent/connect/ca/provider_vault.go
  agent/connect/ca/provider_vault_auth.go
  agent/connect/ca/provider_vault_auth_aws.go
  agent/connect/ca/provider_vault_auth_azure.go
  agent/connect/ca/provider_vault_auth_gcp.go
  agent/connect/ca/provider_vault_auth_test.go
  agent/connect/ca/provider_vault_test.go
Labels: type/enhancement, theme/connect, theme/consul-vault

#16469 Backport of Docs/services refactor docs day 122022 into release/1.14.x
  website/content/api-docs/agent/check.mdx
  website/content/api-docs/agent/service.mdx
  website/content/api-docs/api-structure.mdx
  website/content/api-docs/catalog.mdx
  website/content/api-docs/features/consistency.mdx
  website/content/api-docs/query.mdx
  website/content/commands/services/deregister.mdx
  website/content/commands/services/register.mdx
  website/content/docs/agent/config/cli-flags.mdx
  website/content/docs/agent/config/config-files.mdx
  website/content/docs/agent/index.mdx
  website/content/docs/architecture/anti-entropy.mdx
  website/content/docs/architecture/index.mdx
  website/content/docs/architecture/scale.mdx
  website/content/docs/connect/cluster-peering/configuration.mdx
  website/content/docs/connect/cluster-peering/tech-specs.mdx
  website/content/docs/connect/cluster-peering/usage/create-cluster-peering.mdx
  website/content/docs/connect/config-entries/ingress-gateway.mdx
  website/content/docs/connect/config-entries/service-defaults.mdx
  website/content/docs/connect/configuration.mdx
  website/content/docs/connect/gateways/ingress-gateway.mdx
  website/content/docs/connect/native/index.mdx
  website/content/docs/connect/observability/index.mdx
  website/content/docs/connect/proxies/index.mdx
  website/content/docs/connect/proxies/managed-deprecated.mdx
  website/content/docs/connect/registration/index.mdx
  website/content/docs/connect/registration/service-registration.mdx
  website/content/docs/connect/registration/sidecar-service.mdx
  website/content/docs/consul-vs-other/dns-tools-compare.mdx
  website/content/docs/discovery/checks.mdx
  website/content/docs/discovery/dns.mdx
  website/content/docs/discovery/services.mdx
  website/content/docs/ecs/configuration-reference.mdx
  website/content/docs/ecs/manual/install.mdx
  website/content/docs/enterprise/admin-partitions.mdx
  website/content/docs/intro/index.mdx
  website/content/docs/k8s/connect/cluster-peering/usage/establish-peering.mdx
  website/content/docs/k8s/dns.mdx
  website/content/docs/k8s/service-sync.mdx
  website/content/docs/nia/configuration.mdx
  website/content/docs/release-notes/consul/v1_13_x.mdx
  website/content/docs/security/acl/acl-rules.mdx
  website/content/docs/security/acl/acl-tokens.mdx
  website/content/docs/services/configuration/checks-configuration-reference.mdx
  website/content/docs/services/configuration/services-configuration-overview.mdx
  website/content/docs/services/configuration/services-configuration-reference.mdx
  website/content/docs/services/discovery/dns-configuration.mdx
  website/content/docs/services/discovery/dns-dynamic-lookups.mdx
  website/content/docs/services/discovery/dns-overview.mdx
  website/content/docs/services/discovery/dns-static-lookups.mdx
  website/content/docs/services/services.mdx
  website/content/docs/services/usage/checks.mdx
  website/content/docs/services/usage/define-services.mdx
  website/content/docs/services/usage/register-services-checks.mdx
  website/content/docs/upgrading/upgrade-specific.mdx
  website/data/docs-nav-data.json
Labels: type/docs

#16470 Backport of Docs/services refactor docs day 122022 into release/1.15.x
  website/content/api-docs/agent/check.mdx
  website/content/api-docs/agent/service.mdx
  website/content/api-docs/api-structure.mdx
  website/content/api-docs/catalog.mdx
  website/content/api-docs/features/consistency.mdx
  website/content/api-docs/query.mdx
  website/content/commands/services/deregister.mdx
  website/content/commands/services/register.mdx
  website/content/docs/agent/config/cli-flags.mdx
  website/content/docs/agent/config/config-files.mdx
  website/content/docs/agent/index.mdx
  website/content/docs/architecture/anti-entropy.mdx
  website/content/docs/architecture/index.mdx
  website/content/docs/architecture/scale.mdx
  website/content/docs/connect/cluster-peering/tech-specs.mdx
  website/content/docs/connect/config-entries/ingress-gateway.mdx
  website/content/docs/connect/config-entries/service-defaults.mdx
  website/content/docs/connect/configuration.mdx
  website/content/docs/connect/gateways/ingress-gateway.mdx
  website/content/docs/connect/native/index.mdx
  website/content/docs/connect/observability/index.mdx
  website/content/docs/connect/proxies/index.mdx
  website/content/docs/connect/proxies/managed-deprecated.mdx
  website/content/docs/connect/registration/index.mdx
  website/content/docs/connect/registration/service-registration.mdx
  website/content/docs/connect/registration/sidecar-service.mdx
  website/content/docs/consul-vs-other/dns-tools-compare.mdx
  website/content/docs/discovery/checks.mdx
  website/content/docs/discovery/dns.mdx
  website/content/docs/discovery/services.mdx
  website/content/docs/ecs/configuration-reference.mdx
  website/content/docs/ecs/manual/install.mdx
  website/content/docs/enterprise/admin-partitions.mdx
  website/content/docs/intro/index.mdx
  website/content/docs/k8s/connect/cluster-peering/usage/establish-peering.mdx
  website/content/docs/k8s/dns.mdx
  website/content/docs/k8s/service-sync.mdx
  website/content/docs/nia/configuration.mdx
  website/content/docs/release-notes/consul/v1_13_x.mdx
  website/content/docs/security/acl/acl-rules.mdx
  website/content/docs/security/acl/acl-tokens.mdx
  website/content/docs/services/configuration/checks-configuration-reference.mdx
  website/content/docs/services/configuration/services-configuration-overview.mdx
  website/content/docs/services/configuration/services-configuration-reference.mdx
  website/content/docs/services/discovery/dns-configuration.mdx
  website/content/docs/services/discovery/dns-dynamic-lookups.mdx
  website/content/docs/services/discovery/dns-overview.mdx
  website/content/docs/services/discovery/dns-static-lookups.mdx
  website/content/docs/services/services.mdx
  website/content/docs/services/usage/checks.mdx
  website/content/docs/services/usage/define-services.mdx
  website/content/docs/services/usage/register-services-checks.mdx
  website/content/docs/troubleshoot/troubleshoot-services.mdx
  website/content/docs/upgrading/upgrade-specific.mdx
  website/data/docs-nav-data.json
Labels: type/docs, pr/no-changelog

#16477 Changed titles for services pages to sentence style cap
  website/content/docs/services/configuration/checks-configuration-reference.mdx
  website/content/docs/services/configuration/services-configuration-overview.mdx
  website/content/docs/services/configuration/services-configuration-reference.mdx
  website/content/docs/services/discovery/dns-configuration.mdx
  website/content/docs/services/discovery/dns-dynamic-lookups.mdx
  website/content/docs/services/discovery/dns-overview.mdx
  website/content/docs/services/discovery/dns-static-lookups.mdx
  website/content/docs/services/services.mdx
  website/content/docs/services/usage/checks.mdx
  website/content/docs/services/usage/define-services.mdx
  website/content/docs/services/usage/register-services-checks.mdx
Labels: type/docs, pr/no-changelog, backport/1.14, backport/1.15

#16481 docs: Consul 1.15.0 and Consul K8s 1.0 release notes
  website/content/docs/release-notes/consul-k8s/v0_49_x.mdx
  website/content/docs/release-notes/consul-k8s/v1_0_x.mdx
  website/content/docs/release-notes/consul-k8s/v1_1_x.mdx
  website/content/docs/release-notes/consul/v1_15_x.mdx
  website/data/docs-nav-data.json
Labels: type/docs, pr/no-changelog, pr/no-metrics-test, backport/1.15

#16427 update changelog and version
  CHANGELOG.md
  version/VERSION
Labels: pr/no-changelog

#16485 fix (cli): return error msg if acl policy not found
  .changelog/16485.txt
  command/acl/policy/read/policy_read.go
  command/acl/policy/read/policy_read_test.go
Labels: theme/cli, backport/1.15

#16484 update services nav titles
  website/data/docs-nav-data.json
Labels: type/docs, pr/no-changelog, backport/1.14, backport/1.15

#16487 Backport of update services nav titles into release/1.14.x
  website/data/docs-nav-data.json
Labels: type/docs

#16488 Backport of update services nav titles into release/1.15.x
  website/data/docs-nav-data.json
Labels: type/docs

#16288 Improve ux to help users avoid overwriting fields of ACL tokens, roles and policies
  .changelog/16288.txt
  command/acl/token/update/token_update.go
  command/acl/token/update/token_update_test.go
  website/content/commands/acl/token/update.mdx
Labels: type/docs, theme/cli, backport/1.15

#16486 Backport of fix (cli): return error msg if acl policy not found into release/1.15.x
  .changelog/16485.txt
  command/acl/policy/read/policy_read.go
  command/acl/policy/read/policy_read_test.go
Labels: theme/cli

#16490 NET-2292: port ingress-gateway test case "http" from BATS addendum
  test/integration/consul-container/libs/assert/service.go
  test/integration/consul-container/libs/cluster/cluster.go
  test/integration/consul-container/libs/topology/peering_topology.go
  test/integration/consul-container/test/basic/connect_service_test.go
  test/integration/consul-container/test/observability/access_logs_test.go
  test/integration/consul-container/test/peering/rotate_server_and_ca_then_fail_test.go
  test/integration/consul-container/test/troubleshoot/troubleshoot_test.go
  test/integration/consul-container/test/upgrade/acl_node_test.go
  test/integration/consul-container/test/upgrade/ingress_gateway_test.go
  test/integration/consul-container/test/upgrade/l7_traffic_management/resolver_default_subset_test.go
  test/integration/consul-container/test/upgrade/peering_control_plane_mgw_test.go
  test/integration/consul-container/test/upgrade/peering_http_test.go
Labels: pr/no-changelog, backport/1.15

#16494 docs: Update release notes with Envoy compat issue
  website/content/docs/release-notes/consul/v1_15_x.mdx
Labels: type/docs, pr/no-changelog, backport/1.15

#16496 Backport of docs: Update release notes with Envoy compat issue into release/1.15.x
  website/content/docs/release-notes/consul/v1_15_x.mdx
Labels: type/docs

#16491 Backport #16274
  .changelog/16274.txt
  .circleci/config.yml
  envoyextensions/xdscommon/envoy_versioning_test.go
  envoyextensions/xdscommon/proxysupport.go
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, type/ci, pr/no-changelog

#16501 Suppress AlreadyRegisteredError to fix test retries
  lib/telemetry.go
Labels: theme/internals, pr/no-changelog, pr/no-metrics-test, backport/1.15

#16489 Backport of Improve ux to help users avoid overwriting fields of ACL tokens, roles and policies into release/1.15.x
  .changelog/16288.txt
  command/acl/token/update/token_update.go
  command/acl/token/update/token_update_test.go
  website/content/commands/acl/token/update.mdx
Labels: type/docs, theme/cli

#16504 Backport of Suppress AlreadyRegisteredError to fix test retries into release/1.15.x
  lib/telemetry.go
Labels: theme/internals

#16509 Speed up test by registering services concurrently
  agent/dns_test.go
Labels: pr/no-changelog, backport/1.15

#16266 add provider ca support for jwt file base auth
  .changelog/16266.txt
  agent/connect/ca/provider_vault.go
  agent/connect/ca/provider_vault_auth_jwt.go
  agent/connect/ca/provider_vault_auth_test.go
  agent/connect/ca/provider_vault_test.go
Labels: type/enhancement, theme/connect, theme/consul-vault

#16507 Remove merge conflict leftovers on Consul at Scale page
  website/content/docs/architecture/scale.mdx
Labels: type/docs, pr/no-changelog, backport/1.13, backport/1.14, backport/1.15

#16515 Backport of Remove merge conflict leftovers on Consul at Scale page into release/1.15.x
  website/content/docs/architecture/scale.mdx
Labels: type/docs

#16262 add provider ca auth support for kubernetes
  .changelog/16262.txt
  agent/connect/ca/provider_vault.go
  agent/connect/ca/provider_vault_auth_k8s.go
  agent/connect/ca/provider_vault_auth_test.go
  agent/connect/ca/provider_vault_test.go
Labels: type/enhancement, theme/connect, theme/consul-vault

#16516 Merge pull request #4538 from hashicorp/NET-2396
  test/integration/consul-container/libs/assert/service.go
  test/integration/consul-container/libs/service/helpers.go
  test/integration/consul-container/libs/topology/peering_topology.go
  test/integration/consul-container/libs/topology/service_topology.go
  test/integration/consul-container/test/basic/connect_service_test.go
  test/integration/consul-container/test/common.go
  test/integration/consul-container/test/gateways/gateway_endpoint_test.go
  test/integration/consul-container/test/gateways/http_route_test.go
  test/integration/consul-container/test/observability/access_logs_test.go
  test/integration/consul-container/test/peering/rotate_server_and_ca_then_fail_test.go
  test/integration/consul-container/test/upgrade/fullstopupgrade_test.go
  test/integration/consul-container/test/upgrade/healthcheck_test.go
  test/integration/consul-container/test/upgrade/helper_test.go
  test/integration/consul-container/test/upgrade/ingress_gateway_test.go
  test/integration/consul-container/test/upgrade/l7_traffic_management/resolver_default_subset_test.go
  test/integration/consul-container/test/upgrade/peering_control_plane_mgw_test.go
  test/integration/consul-container/test/upgrade/peering_http_test.go
  test/integration/consul-container/test/upgrade/tenancy_ent_test.go
  test/integration/consul-container/test/wanfed/wanfed_peering_test.go
Labels: pr/no-changelog

#16517 Merge pull request #4584 from hashicorp/refactor_cluster_config
  test/integration/consul-container/libs/topology/peering_topology.go
  test/integration/consul-container/test/basic/connect_service_test.go
  test/integration/consul-container/test/common.go
  test/integration/consul-container/test/gateways/gateway_endpoint_test.go
  test/integration/consul-container/test/gateways/http_route_test.go
  test/integration/consul-container/test/observability/access_logs_test.go
  test/integration/consul-container/test/ratelimit/ratelimit_test.go
  test/integration/consul-container/test/troubleshoot/troubleshoot_test.go
  test/integration/consul-container/test/upgrade/acl_node_test.go
  test/integration/consul-container/test/upgrade/healthcheck_test.go
  test/integration/consul-container/test/upgrade/ingress_gateway_test.go
  test/integration/consul-container/test/upgrade/l7_traffic_management/resolver_default_subset_test.go
Labels: pr/no-changelog

#16495 Add ServiceResolver RequestTimeout for route timeouts to make TerminatingGateway upstream timeouts configurable
  .changelog/16495.txt
  agent/consul/discoverychain/compile.go
  agent/proxycfg/testing_ingress_gateway.go
  agent/proxycfg/testing_mesh_gateway.go
  agent/proxycfg/testing_upstreams.go
  agent/structs/config_entry_discoverychain.go
  agent/structs/discovery_chain.go
  agent/xds/routes.go
  agent/xds/testdata/routes/connect-proxy-with-chain-and-failover-to-cluster-peer.latest.golden
  agent/xds/testdata/routes/connect-proxy-with-chain-and-overrides.latest.golden
  agent/xds/testdata/routes/connect-proxy-with-chain-and-redirect-to-cluster-peer.latest.golden
  agent/xds/testdata/routes/connect-proxy-with-chain-external-sni.latest.golden
  agent/xds/testdata/routes/connect-proxy-with-chain.latest.golden
  agent/xds/testdata/routes/ingress-grpc-multiple-services.latest.golden
  agent/xds/testdata/routes/ingress-http-multiple-services.latest.golden
  agent/xds/testdata/routes/ingress-with-sds-listener-level-wildcard.latest.golden
  agent/xds/testdata/routes/ingress-with-sds-listener-level.latest.golden
  agent/xds/testdata/routes/ingress-with-sds-service-level-mixed-tls.latest.golden
  agent/xds/testdata/routes/ingress-with-sds-service-level.latest.golden
  api/config_entry_discoverychain.go
  proto/private/pbconfigentry/config_entry.gen.go
  proto/private/pbconfigentry/config_entry.pb.go
  proto/private/pbconfigentry/config_entry.proto
  website/content/docs/connect/config-entries/service-resolver.mdx
Labels: theme/envoy/xds, theme/terminating-gw, backport/1.15

#16498 Fix issue where terminating gateway service resolvers weren't properly cleaned up
  .changelog/16498.txt
  agent/proxycfg/state_test.go
  agent/proxycfg/terminating_gateway.go
  test/integration/connect/envoy/helpers.bash
Labels: theme/terminating-gw, backport/1.15

#16505 Add support for failover policies
  agent/consul/discoverychain/compile.go
  agent/structs/config_entry.go
  agent/structs/config_entry_discoverychain.go
  agent/structs/config_entry_discoverychain_oss.go
  agent/structs/config_entry_discoverychain_oss_test.go
  agent/structs/config_entry_test.go
  agent/structs/discovery_chain.go
  agent/structs/structs.deepcopy.go
  api/config_entry_discoverychain.go
  api/discovery_chain.go
  proto/private/pbconfigentry/config_entry.gen.go
  proto/private/pbconfigentry/config_entry.pb.binary.go
  proto/private/pbconfigentry/config_entry.pb.go
  proto/private/pbconfigentry/config_entry.proto
Labels: theme/api, pr/no-changelog

#16520 Backport of Add ServiceResolver RequestTimeout for route timeouts to make TerminatingGateway upstream timeouts configurable into release/1.15.x
  .changelog/16495.txt
  agent/consul/discoverychain/compile.go
  agent/proxycfg/testing_ingress_gateway.go
  agent/proxycfg/testing_mesh_gateway.go
  agent/proxycfg/testing_upstreams.go
  agent/structs/config_entry_discoverychain.go
  agent/structs/discovery_chain.go
  agent/xds/routes.go
  agent/xds/testdata/routes/connect-proxy-with-chain-and-failover-to-cluster-peer.latest.golden
  agent/xds/testdata/routes/connect-proxy-with-chain-and-overrides.latest.golden
  agent/xds/testdata/routes/connect-proxy-with-chain-and-redirect-to-cluster-peer.latest.golden
  agent/xds/testdata/routes/connect-proxy-with-chain-external-sni.latest.golden
  agent/xds/testdata/routes/connect-proxy-with-chain.latest.golden
  agent/xds/testdata/routes/ingress-grpc-multiple-services.latest.golden
  agent/xds/testdata/routes/ingress-http-multiple-services.latest.golden
  agent/xds/testdata/routes/ingress-with-sds-listener-level-wildcard.latest.golden
  agent/xds/testdata/routes/ingress-with-sds-listener-level.latest.golden
  agent/xds/testdata/routes/ingress-with-sds-service-level-mixed-tls.latest.golden
  agent/xds/testdata/routes/ingress-with-sds-service-level.latest.golden
  api/config_entry_discoverychain.go
  proto/pbconfigentry/config_entry.gen.go
  proto/pbconfigentry/config_entry.pb.go
  proto/pbconfigentry/config_entry.proto
  website/content/docs/connect/config-entries/service-resolver.mdx
Labels: theme/envoy/xds

#16518 modified unsupported envoy version error
  command/connect/envoy/envoy.go
  command/connect/envoy/envoy_test.go
Labels: pr/no-changelog, backport/1.15

#16524 Backport of modified unsupported envoy version error into release/1.15.x
  command/connect/envoy/envoy.go
  command/connect/envoy/envoy_test.go
Labels: theme/cli

#16433 Remove private prefix from proto-gen-rpc-glue e2e test
  internal/tools/proto-gen-rpc-glue/e2e/source.pb.go
Labels: pr/no-changelog

#16499 Fix resolution of service resolvers with subsets for external upstreams
  .changelog/16499.txt
  agent/rpcclient/health/view.go
  agent/rpcclient/health/view_test.go
  test/integration/connect/envoy/case-terminating-gateway-subsets/capture.sh
  test/integration/connect/envoy/case-terminating-gateway-subsets/service_s3.hcl
  test/integration/connect/envoy/case-terminating-gateway-subsets/setup.sh
  test/integration/connect/envoy/case-terminating-gateway-subsets/vars.sh
  test/integration/connect/envoy/case-terminating-gateway-subsets/verify.bats
  test/integration/connect/envoy/helpers.bash
Labels: theme/envoy/xds, theme/terminating-gw, backport/1.15

#16523 fixed broken links associated with cluster peering updates
  website/content/docs/api-gateway/usage/route-to-peered-services.mdx
  website/content/docs/connect/cluster-peering/index.mdx
  website/content/docs/k8s/annotations-and-labels.mdx
  website/content/docs/k8s/connect/cluster-peering/usage/establish-peering.mdx
  website/content/docs/k8s/crds/index.mdx
  website/content/docs/release-notes/consul-k8s/v0_47_x.mdx
  website/redirects.js
Labels: type/docs, pr/no-changelog, backport/1.14, backport/1.15

#16526 Backport of fixed broken links associated with cluster peering updates into release/1.14.x
  website/content/docs/connect/cluster-peering/index.mdx
  website/content/docs/k8s/connect/cluster-peering/usage/establish-peering.mdx
  website/redirects.js
Labels: type/docs

#16259 add provider ca support for approle auth-method
  .changelog/16259.txt
  agent/connect/ca/provider_vault.go
  agent/connect/ca/provider_vault_auth_approle.go
  agent/connect/ca/provider_vault_auth_test.go
  agent/connect/ca/provider_vault_test.go
Labels: type/enhancement, theme/connect, theme/consul-vault

#16346 update connect/ca's vault AuthMethod conf section
  website/content/docs/connect/ca/vault.mdx
Labels: type/docs, pr/no-changelog

#16527 Backport of fixed broken links associated with cluster peering updates into release/1.15.x
  website/content/docs/api-gateway/usage/route-to-peered-services.mdx
  website/content/docs/connect/cluster-peering/index.mdx
  website/content/docs/k8s/annotations-and-labels.mdx
  website/content/docs/k8s/connect/cluster-peering/usage/establish-peering.mdx
  website/content/docs/k8s/crds/index.mdx
  website/content/docs/release-notes/consul-k8s/v0_47_x.mdx
  website/redirects.js
Labels: type/docs

#16497 proxycfg: ensure that an irrecoverable error in proxycfg closes the xds session and triggers a replacement proxycfg watcher
  .changelog/16497.txt
  agent/agent.go
  agent/config/builder.go
  agent/config/runtime.go
  agent/config/runtime_test.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/proxycfg-sources/local/sync.go
  agent/proxycfg/manager.go
  agent/proxycfg/state.go
  agent/proxycfg_test.go
  agent/testagent.go
Labels: backport/1.15

#16529 Backport of proxycfg: ensure that an irrecoverable error in proxycfg closes the xds session and triggers a replacement proxycfg watcher into release/1.15.x
  .changelog/16497.txt
  agent/agent.go
  agent/config/builder.go
  agent/config/runtime.go
  agent/config/runtime_test.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/proxycfg-sources/local/sync.go
  agent/proxycfg/manager.go
  agent/proxycfg/state.go
  agent/proxycfg_test.go
  agent/testagent.go
Labels: theme/config

#16512 NET-2903 Normalize weight for http routes
  .changelog/16512.txt
  agent/structs/config_entry_routes.go
  agent/structs/config_entry_routes_test.go
  website/content/docs/connect/gateways/api-gateway/configuration/http-route.mdx
Labels: theme/api-gw, backport/1.15

#16508 Add some basic UI improvements for api-gateway services
  .changelog/16508.txt
  ui/packages/consul-ui/app/components/consul/kind/index.hbs
  ui/packages/consul-ui/app/components/consul/kind/index.js
  ui/packages/consul-ui/app/components/consul/service/search-bar/index.hbs
  ui/packages/consul-ui/app/filter/predicates/service.js
  ui/packages/consul-ui/app/models/service-instance.js
  ui/packages/consul-ui/mock-api/v1/internal/ui/exported-services
  ui/packages/consul-ui/mock-api/v1/internal/ui/services
  ui/packages/consul-ui/tests/acceptance/dc/services/index.feature
  ui/packages/consul-ui/tests/acceptance/dc/services/show/services.feature
  ui/packages/consul-ui/translations/common/en-us.yaml
Labels: theme/ui, backport/1.15

#16532 Backport of NET-2903 Normalize weight for http routes into release/1.15.x
  .changelog/16512.txt
  agent/structs/config_entry_routes.go
  agent/structs/config_entry_routes_test.go
  website/content/docs/connect/gateways/api-gateway/configuration/http-route.mdx
Labels: type/docs

#16533 Backport of Add some basic UI improvements for api-gateway services into release/1.15.x
  .changelog/16508.txt
  ui/packages/consul-ui/app/components/consul/kind/index.hbs
  ui/packages/consul-ui/app/components/consul/kind/index.js
  ui/packages/consul-ui/app/components/consul/service/search-bar/index.hbs
  ui/packages/consul-ui/app/filter/predicates/service.js
  ui/packages/consul-ui/app/models/service-instance.js
  ui/packages/consul-ui/mock-api/v1/internal/ui/exported-services
  ui/packages/consul-ui/mock-api/v1/internal/ui/services
  ui/packages/consul-ui/tests/acceptance/dc/services/index.feature
  ui/packages/consul-ui/tests/acceptance/dc/services/show/services.feature
  ui/packages/consul-ui/translations/common/en-us.yaml
Labels: theme/ui

#16534 fixes empty link in DNS usage page
  website/content/docs/services/discovery/dns-static-lookups.mdx
Labels: type/docs, pr/no-changelog, backport/1.14, backport/1.15

#16535 Backport of fixes empty link in DNS usage page into release/1.14.x
  website/content/docs/services/discovery/dns-static-lookups.mdx
Labels: type/docs

#16536 Backport of fixes empty link in DNS usage page into release/1.15.x
  website/content/docs/services/discovery/dns-static-lookups.mdx
Labels: type/docs

#16531 NET-2904 Fixes API Gateway Route Service Weight Division Error
  .changelog/16531.txt
  agent/xds/routes.go
  test/integration/connect/envoy/case-api-gateway-http-simple/setup.sh
  test/integration/connect/envoy/case-api-gateway-http-simple/verify.bats
Labels: theme/envoy/xds, backport/1.15

#16506 Improve ux around ACL token to help users avoid overwriting node/service identities
  .changelog/16506.txt
  command/acl/token/update/token_update.go
  command/acl/token/update/token_update_test.go
  website/content/commands/acl/policy/update.mdx
  website/content/commands/acl/token/update.mdx
Labels: type/docs, theme/cli, backport/1.15

#16542 Backport of Follow-up fixes to consul connect envoy command into release/1.15.x
  .changelog/16530.txt
  command/connect/envoy/envoy.go
  command/connect/envoy/envoy_test.go
Labels: theme/cli

#16544 Merge pull request #4573 from hashicorp/NET-2841
  test/integration/consul-container/test/healthcheck/healthcheck_test.go
  test/integration/consul-container/test/upgrade/acl_node_test.go
  test/integration/consul-container/test/upgrade/fullstopupgrade_test.go
  test/integration/consul-container/test/upgrade/ingress_gateway_test.go
  test/integration/consul-container/test/upgrade/l7_traffic_management/resolver_default_subset_test.go
  test/integration/consul-container/test/upgrade/peering_control_plane_mgw_test.go
  test/integration/consul-container/test/upgrade/peering_http_test.go
  test/integration/consul-container/test/upgrade/tenancy_ent_test.go
  test/integration/consul-container/test/upgrade/upgrade.go
Labels: pr/no-changelog

#16543 upgrade test: discovery chain across partition
  test/integration/consul-container/libs/assert/service.go
  test/integration/consul-container/libs/cluster/agent.go
  test/integration/consul-container/libs/cluster/builder.go
  test/integration/consul-container/libs/cluster/cluster.go
  test/integration/consul-container/libs/cluster/container.go
  test/integration/consul-container/test/upgrade/peering_http_test.go
Labels: pr/no-changelog

#16458 Update the consul-k8s cli docs for the new `proxy log` subcommand
  website/content/docs/k8s/k8s-cli.mdx
  website/content/docs/release-notes/consul-k8s/v1_1_x.mdx
Labels: type/docs, pr/no-changelog, backport/1.15

#16547 Backport of Update the consul-k8s cli docs for the new `proxy log` subcommand into release/1.15.x
  website/content/docs/k8s/k8s-cli.mdx
  website/content/docs/release-notes/consul-k8s/v1_1_x.mdx
Labels: type/docs

#16546 Delete test-link-rewrites.yml
  .github/workflows/test-link-rewrites.yml
Labels: theme/contributing, pr/no-changelog

#16519 feat: update notification to use hds toast component
  .changelog/16519.txt
  ui/packages/consul-lock-sessions/app/components/consul/lock-session/notifications/index.hbs
  ui/packages/consul-nspaces/app/components/consul/nspace/notifications/index.hbs
  ui/packages/consul-partitions/app/components/consul/partition/notifications/index.hbs
  ui/packages/consul-peerings/app/components/consul/peer/notifications/index.hbs
  ui/packages/consul-ui/app/components/app/index.scss
  ui/packages/consul-ui/app/components/app/notification/index.hbs
  ui/packages/consul-ui/app/components/consul/intention/form/index.hbs
  ui/packages/consul-ui/app/components/consul/intention/list/components.scss
  ui/packages/consul-ui/app/components/data-loader/index.hbs
  ui/packages/consul-ui/app/components/data-writer/index.hbs
  ui/packages/consul-ui/app/components/hashicorp-consul/index.hbs
  ui/packages/consul-ui/app/components/notice/README.mdx
  ui/packages/consul-ui/app/components/notice/index.hbs
  ui/packages/consul-ui/app/components/notice/index.scss
  ui/packages/consul-ui/app/components/notice/layout.scss
  ui/packages/consul-ui/app/components/notice/skin.scss
  ui/packages/consul-ui/app/modifiers/notification.mdx
  ui/packages/consul-ui/app/styles/components.scss
  ui/packages/consul-ui/app/styles/layout.scss
  ui/packages/consul-ui/app/templates/dc/kv/index.hbs
  ui/packages/consul-ui/app/templates/dc/nodes/show.hbs
  ui/packages/consul-ui/app/templates/dc/services/instance.hbs
  ui/packages/consul-ui/app/templates/dc/services/show.hbs
  ui/packages/consul-ui/app/templates/dc/show/license.hbs
  ui/packages/consul-ui/app/templates/dc/show/serverstatus.hbs
  ui/packages/consul-ui/tests/acceptance/dc/acls/policies/as-many/add-existing.feature
  ui/packages/consul-ui/tests/acceptance/dc/acls/policies/as-many/add-new.feature
  ui/packages/consul-ui/tests/acceptance/dc/acls/policies/create.feature
  ui/packages/consul-ui/tests/acceptance/dc/acls/policies/delete.feature
  ui/packages/consul-ui/tests/acceptance/dc/acls/policies/update.feature
  ui/packages/consul-ui/tests/acceptance/dc/acls/roles/as-many/add-existing.feature
  ui/packages/consul-ui/tests/acceptance/dc/acls/roles/as-many/add-new.feature
  ui/packages/consul-ui/tests/acceptance/dc/acls/roles/create.feature
  ui/packages/consul-ui/tests/acceptance/dc/acls/roles/update.feature
  ui/packages/consul-ui/tests/acceptance/dc/acls/tokens/clone.feature
  ui/packages/consul-ui/tests/acceptance/dc/acls/tokens/create.feature
  ui/packages/consul-ui/tests/acceptance/dc/acls/tokens/own-no-delete.feature
  ui/packages/consul-ui/tests/acceptance/dc/acls/tokens/update.feature
  ui/packages/consul-ui/tests/acceptance/dc/acls/tokens/use.feature
  ui/packages/consul-ui/tests/acceptance/dc/intentions/create.feature
  ui/packages/consul-ui/tests/acceptance/dc/intentions/delete.feature
  ui/packages/consul-ui/tests/acceptance/dc/intentions/update.feature
  ui/packages/consul-ui/tests/acceptance/dc/kvs/create.feature
  ui/packages/consul-ui/tests/acceptance/dc/kvs/delete.feature
  ui/packages/consul-ui/tests/acceptance/dc/kvs/sessions/invalidate.feature
  ui/packages/consul-ui/tests/acceptance/dc/kvs/update.feature
  ui/packages/consul-ui/tests/acceptance/dc/nodes/sessions/invalidate.feature
  ui/packages/consul-ui/tests/acceptance/dc/nspaces/delete.feature
  ui/packages/consul-ui/tests/acceptance/dc/nspaces/update.feature
  ui/packages/consul-ui/tests/acceptance/dc/peers/delete.feature
  ui/packages/consul-ui/tests/acceptance/dc/peers/establish.feature
  ui/packages/consul-ui/tests/acceptance/dc/services/show.feature
  ui/packages/consul-ui/tests/acceptance/dc/services/show/intentions/create.feature
  ui/packages/consul-ui/tests/acceptance/dc/services/show/intentions/index.feature
  ui/packages/consul-ui/tests/acceptance/dc/services/show/topology/intentions.feature
  ui/packages/consul-ui/tests/acceptance/deleting.feature
  ui/packages/consul-ui/tests/acceptance/login.feature
  ui/packages/consul-ui/tests/acceptance/settings/update.feature
Labels: theme/ui

#16545 Fix flakey tests related to ACL token updates
  command/acl/token/update/token_update_test.go
Labels: theme/cli, pr/no-changelog, backport/1.15

#16548 Backport of Fix flakey tests related to ACL token updates into release/1.15.x
  command/acl/token/update/token_update_test.go
Labels: theme/cli, pr/no-changelog

#16224 support vault auth config for alicloud ca provider
  .changelog/16224.txt
  agent/connect/ca/provider_vault.go
  agent/connect/ca/provider_vault_auth_alicloud.go
  agent/connect/ca/provider_vault_auth_test.go
  agent/connect/ca/provider_vault_test.go
  go.mod
  go.sum
Labels: type/enhancement, theme/connect, pr/dependencies, theme/consul-vault

#16554 Backport of Update docs to reflect functionality into release/1.14.x
  website/content/docs/enterprise/index.mdx
Labels: type/docs

#16553 upgrade test: use retry with ModifyIndex and remove ent test file
  test/integration/consul-container/test/upgrade/fullstopupgrade_test.go
  test/integration/consul-container/test/upgrade/tenancy_ent_test.go
Labels: pr/no-changelog

#16522 add agent locality and replicate it across peer streams
  agent/agent.go
  agent/config/builder.go
  agent/config/config.go
  agent/config/runtime.go
  agent/config/runtime_test.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/consul/config.go
  agent/consul/leader_peering.go
  agent/consul/leader_peering_test.go
  agent/consul/server.go
  agent/consul/state/peering.go
  agent/consul/state/peering_test.go
  agent/rpc/peering/service.go
  agent/structs/peering.go
  agent/structs/structs.go
  api/peering.go
  proto/private/pbpeering/peering.gen.go
  proto/private/pbpeering/peering.go
  proto/private/pbpeering/peering.pb.binary.go
  proto/private/pbpeering/peering.pb.go
  proto/private/pbpeering/peering.proto
Labels: theme/api, theme/config, pr/no-changelog

#16556 docs: Document config entry permissions
  website/content/api-docs/config.mdx
Labels: type/docs, pr/no-changelog

#16561 Manual Backport of Add ServiceResolver RequestTimeout for route timeouts to make TerminatingGateway upstream timeouts configurable into release/1.14.x
  .changelog/16495.txt
  agent/consul/discoverychain/compile.go
  agent/proxycfg/testing_ingress_gateway.go
  agent/proxycfg/testing_mesh_gateway.go
  agent/proxycfg/testing_upstreams.go
  agent/structs/config_entry_discoverychain.go
  agent/structs/discovery_chain.go
  agent/xds/routes.go
  agent/xds/testdata/routes/connect-proxy-with-chain-and-failover-to-cluster-peer.latest.golden
  agent/xds/testdata/routes/connect-proxy-with-chain-and-overrides.latest.golden
  agent/xds/testdata/routes/connect-proxy-with-chain-and-redirect-to-cluster-peer.latest.golden
  agent/xds/testdata/routes/connect-proxy-with-chain-external-sni.latest.golden
  agent/xds/testdata/routes/connect-proxy-with-chain.latest.golden
  agent/xds/testdata/routes/ingress-grpc-multiple-services.latest.golden
  agent/xds/testdata/routes/ingress-http-multiple-services.latest.golden
  agent/xds/testdata/routes/ingress-with-sds-listener-level-wildcard.latest.golden
  agent/xds/testdata/routes/ingress-with-sds-listener-level.latest.golden
  agent/xds/testdata/routes/ingress-with-sds-service-level-mixed-tls.latest.golden
  agent/xds/testdata/routes/ingress-with-sds-service-level.latest.golden
  api/config_entry_discoverychain.go
  proto/pbconfigentry/config_entry.gen.go
  proto/pbconfigentry/config_entry.pb.go
  proto/pbconfigentry/config_entry.proto
  website/content/docs/connect/config-entries/service-resolver.mdx
Labels: type/docs, theme/api, theme/envoy/xds

#16563 Manual Backport of Add ServiceResolver RequestTimeout for route timeouts to make TerminatingGateway upstream timeouts configurable into release/1.13.x
  .changelog/16495.txt
  agent/consul/discoverychain/compile.go
  agent/proxycfg/testing_ingress_gateway.go
  agent/proxycfg/testing_mesh_gateway.go
  agent/proxycfg/testing_upstreams.go
  agent/structs/config_entry_discoverychain.go
  agent/structs/discovery_chain.go
  agent/xds/routes.go
  agent/xds/testdata/routes/connect-proxy-with-chain-and-overrides.latest.golden
  agent/xds/testdata/routes/connect-proxy-with-chain-external-sni.latest.golden
  agent/xds/testdata/routes/connect-proxy-with-chain.latest.golden
  agent/xds/testdata/routes/ingress-grpc-multiple-services.latest.golden
  agent/xds/testdata/routes/ingress-http-multiple-services.latest.golden
  agent/xds/testdata/routes/ingress-with-sds-listener-level-wildcard.latest.golden
  agent/xds/testdata/routes/ingress-with-sds-listener-level.latest.golden
  agent/xds/testdata/routes/ingress-with-sds-service-level-mixed-tls.latest.golden
  agent/xds/testdata/routes/ingress-with-sds-service-level.latest.golden
  api/config_entry_discoverychain.go
  proto/pbconfigentry/config_entry.gen.go
  proto/pbconfigentry/config_entry.pb.go
  proto/pbconfigentry/config_entry.proto
  website/content/docs/connect/config-entries/service-resolver.mdx
Labels: type/docs, theme/api, theme/envoy/xds

#16566 Broken link fixes
  website/content/docs/concepts/service-discovery.mdx
  website/content/docs/intro/index.mdx
  website/content/docs/nia/usage/requirements.mdx
Labels: type/docs, theme/consul-terraform-sync, pr/no-changelog

#16570 Fix Peering Service Cleanup Bug
  .changelog/16570.txt
  agent/consul/state/catalog.go
  agent/consul/state/catalog_test.go
  agent/consul/state/usage.go
  agent/structs/structs.go
Labels: backport/1.13, backport/1.14, backport/1.15

#16576 Update changelog with patch releases
  CHANGELOG.md
Labels: pr/no-changelog

#16578 Bump submodules from latest 1.15.1 patch release
  api/go.mod
  envoyextensions/go.mod
  envoyextensions/go.sum
  go.mod
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
  troubleshoot/go.mod
  troubleshoot/go.sum
Labels: theme/api, pr/dependencies, pr/no-changelog

#16567 added a backport-checker GitHub action
  .github/workflows/backport-checker.yml
Labels: theme/contributing, pr/no-changelog, backport/1.13, backport/1.14, backport/1.15

#16586 Backport of docs: Document config entry permissions into release/1.15.x
  website/content/api-docs/config.mdx
Labels: type/docs

#16528 GRPC stub for the ResourceService
  agent/consul/server.go
  agent/grpc-external/services/resource/server.go
  agent/grpc-external/services/resource/server_test.go
  agent/grpc-middleware/rate_limit_mappings.gen.go
  proto-public/pbresource/resource.pb.binary.go
  proto-public/pbresource/resource.pb.go
  proto-public/pbresource/resource.proto
  proto-public/pbresource/resource_grpc.pb.go
Labels: pr/no-changelog, pr/no-backport

#16574 UI: Fix htmlsafe errors throughout the app
  .changelog/16574.txt
  ui/packages/consul-ui/package.json
  ui/yarn.lock
Labels: theme/ui, backport/1.15

#16582 Backport of added a backport-checker GitHub action into release/1.13.x
  .github/workflows/backport-checker.yml
Labels: theme/contributing

#16584 Backport of added a backport-checker GitHub action into release/1.15.x
  .github/workflows/backport-checker.yml
Labels: theme/contributing

#16583 Backport of added a backport-checker GitHub action into release/1.14.x
  .github/workflows/backport-checker.yml
Labels: theme/contributing

#16590 Add namespace file with build tag for OSS tests
  test/integration/consul-container/test/gateways/gateway_endpoint_test.go
  test/integration/consul-container/test/gateways/http_route_test.go
  test/integration/consul-container/test/gateways/namespace_oss.go
Labels: pr/no-changelog, pr/no-backport

#16416 [Manual Backport]: add prepare and bump version workflows for 1.13.x
  .github/workflows/build.yml
  .release/ci.hcl
  ui/packages/consul-ui/config/utils.js
  version/VERSION
  version/version.go
Labels: pr/no-changelog, pr/no-backport

#16593 JIRA pr check: Filter out OSS/ENT merges
  .github/workflows/jira-pr.yaml
Labels: pr/no-changelog, pr/no-metrics-test, pr/no-backport

#16594 Backport of JIRA pr check: Filter out OSS/ENT merges into release/1.15.x
  .github/workflows/jira-pr.yaml
Labels: theme/contributing

#16417 [Manual Backport]: add prepare and bump version workflows for 1.14.x
  .github/workflows/build.yml
  .release/ci.hcl
  ui/packages/consul-ui/config/utils.js
  version/VERSION
  version/version.go
Labels: pr/no-changelog, pr/no-backport

#16581 Allow Setting Locality on Services and Nodes
  agent/agent.go
  agent/agent_endpoint.go
  agent/agent_test.go
  agent/config/config.go
  agent/config/runtime.go
  agent/config/runtime_test.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/consul/config.go
  agent/consul/leader_peering.go
  agent/consul/leader_peering_test.go
  agent/consul/state/catalog.go
  agent/consul/state/catalog_test.go
  agent/consul/state/peering_test.go
  agent/local/state.go
  agent/local/state_test.go
  agent/rpc/peering/service.go
  agent/structs/peering.go
  agent/structs/service_definition.go
  agent/structs/structs.deepcopy.go
  agent/structs/structs.go
  api/agent.go
  api/agent_test.go
  api/api_test.go
  api/catalog.go
  api/catalog_test.go
  api/peering.go
  proto/private/pbcommon/common.gen.go
  proto/private/pbcommon/common.go
  proto/private/pbcommon/common.pb.binary.go
  proto/private/pbcommon/common.pb.go
  proto/private/pbcommon/common.proto
  proto/private/pbpeering/peering.gen.go
  proto/private/pbpeering/peering.go
  proto/private/pbpeering/peering.pb.binary.go
  proto/private/pbpeering/peering.pb.go
  proto/private/pbpeering/peering.proto
  proto/private/pbservice/convert.go
  proto/private/pbservice/node.gen.go
  proto/private/pbservice/node.pb.go
  proto/private/pbservice/node.proto
  proto/private/pbservice/service.gen.go
  proto/private/pbservice/service.pb.go
  proto/private/pbservice/service.proto
  sdk/testutil/server.go
Labels: theme/api, theme/config, pr/no-changelog

#16588 Add Peer Locality to Discovery Chains
  agent/configentry/discoverychain.go
  agent/consul/discoverychain/compile.go
  agent/consul/discoverychain/compile_test.go
  agent/consul/state/config_entry.go
  agent/consul/state/config_entry_test.go
  agent/structs/config_entry_discoverychain.go
  agent/structs/discovery_chain.go
  agent/structs/structs.deepcopy.go
Labels: pr/no-changelog, pr/no-backport

#16604 fixes for unsupported partitions field in CRD metadata block
  website/content/docs/connect/config-entries/ingress-gateway.mdx
  website/content/docs/connect/config-entries/service-defaults.mdx
  website/content/docs/services/usage/define-services.mdx
Labels: type/docs, pr/no-changelog, backport/1.14, backport/1.15

#16606 Backport of fixes for unsupported partitions field in CRD metadata block into release/1.15.x
  website/content/docs/connect/config-entries/ingress-gateway.mdx
  website/content/docs/connect/config-entries/service-defaults.mdx
  website/content/docs/services/usage/define-services.mdx
Labels: type/docs

#16605 Backport of fixes for unsupported partitions field in CRD metadata block into release/1.14.x
  website/content/docs/connect/config-entries/ingress-gateway.mdx
  website/content/docs/connect/config-entries/service-defaults.mdx
  website/content/docs/services/usage/define-services.mdx
Labels: type/docs, theme/api, theme/health-checks, theme/acls, theme/cli, theme/config, theme/ui, theme/connect, theme/tls, theme/telemetry, type/ci, pr/dependencies, theme/envoy/xds, theme/contributing, theme/internals, theme/certificates, theme/agent-cache, theme/consul-terraform-sync

#16603 Create a weekly 404 checker for all Consul docs content
  .github/workflows/broken-link-check.yml
Labels: theme/contributing, pr/no-changelog, pr/no-backport

#16585 [CC-4365] HCP Metrics xDS Config for Envoy
  .changelog/16585.txt
  agent/proxycfg/connect_proxy.go
  agent/proxycfg/state_test.go
  agent/proxycfg/testing_connect_proxy.go
  agent/xds/resources_test.go
  agent/xds/testdata/clusters/hcp-metrics.latest.golden
  agent/xds/testdata/endpoints/hcp-metrics.latest.golden
  agent/xds/testdata/listeners/hcp-metrics.latest.golden
  agent/xds/testdata/routes/hcp-metrics.latest.golden
  agent/xds/testdata/secrets/hcp-metrics.latest.golden
  api/connect.go
Labels: theme/api, theme/cli, theme/envoy/xds

#16597 Consul WAN Fed with Vault Secrets Backend document updates
  website/content/docs/k8s/deployment-configurations/vault/wan-federation.mdx
Labels: type/docs, pr/no-changelog, backport/1.12, backport/1.13, backport/1.14, backport/1.15

#16511 Allow HCP metrics collection for Envoy proxies
  .changelog/16585.txt
  agent/proxycfg/connect_proxy.go
  agent/proxycfg/state_test.go
  agent/proxycfg/testing_connect_proxy.go
  agent/xds/resources_test.go
  agent/xds/testdata/clusters/hcp-metrics.latest.golden
  agent/xds/testdata/endpoints/hcp-metrics.latest.golden
  agent/xds/testdata/listeners/hcp-metrics.latest.golden
  agent/xds/testdata/routes/hcp-metrics.latest.golden
  agent/xds/testdata/secrets/hcp-metrics.latest.golden
  api/connect.go
  command/connect/envoy/bootstrap_config.go
  command/connect/envoy/bootstrap_config_test.go
  command/connect/envoy/bootstrap_tpl.go
  command/connect/envoy/envoy_test.go
  command/connect/envoy/testdata/hcp-metrics.golden
  website/content/commands/connect/envoy.mdx
Labels: type/docs, theme/cli, pr/no-changelog, backport/1.15

#16611 Backport of Allow HCP metrics collection for Envoy proxies into release/1.15.x
  .changelog/16585.txt
  agent/proxycfg/connect_proxy.go
  agent/proxycfg/state_test.go
  agent/proxycfg/testing_connect_proxy.go
  agent/xds/resources_test.go
  agent/xds/testdata/clusters/hcp-metrics.latest.golden
  agent/xds/testdata/endpoints/hcp-metrics.latest.golden
  agent/xds/testdata/listeners/hcp-metrics.latest.golden
  agent/xds/testdata/routes/hcp-metrics.latest.golden
  agent/xds/testdata/secrets/hcp-metrics.latest.golden
  api/connect.go
  command/connect/envoy/bootstrap_config.go
  command/connect/envoy/bootstrap_config_test.go
  command/connect/envoy/bootstrap_tpl.go
  command/connect/envoy/envoy_test.go
  command/connect/envoy/testdata/hcp-metrics.golden
  website/content/commands/connect/envoy.mdx
Labels: type/docs, theme/api, theme/cli, theme/envoy/xds, pr/no-changelog, pr/no-backport

#16602 Add copywrite setup file
  .copywrite.hcl
Labels: pr/no-changelog, pr/no-backport

#16608 Add sameness-group configuration entry.
  agent/consul/state/config_entry.go
  agent/consul/state/config_entry_sameness_group_oss.go
  agent/consul/state/config_entry_sameness_group_oss_test.go
  agent/consul/state/config_entry_schema.go
  agent/consul/usagemetrics/usagemetrics_oss_test.go
  agent/structs/config_entry.go
  agent/structs/config_entry_sameness_group.go
  agent/structs/config_entry_sameness_group_oss.go
  api/config_entry.go
  api/config_entry_samness_group.go
Labels: theme/api, pr/no-changelog, pr/no-backport

#16592 Preserve CARoots when updating Vault CA configuration
  .changelog/16592.txt
  agent/consul/leader_connect_ca.go
  agent/consul/leader_connect_ca_test.go
Labels: backport/1.13, backport/1.14, backport/1.15

#16628 Docs discovery typo
  website/content/docs/services/discovery/dns-dynamic-lookups.mdx
Labels: type/docs, pr/no-changelog, backport/1.14, backport/1.15

#16630 Fix issue with trust bundle read ACL check.
  .changelog/_4696.txt
  agent/proxycfg-glue/trust_bundle.go
  agent/rpc/peering/service.go
Labels: pr/no-changelog, backport/1.14, backport/1.15

#16622 Basic resource type registry
  internal/resource/registry.go
  internal/resource/registry_test.go
Labels: pr/no-changelog, pr/no-backport

#16612 Backport ENT-4704
  agent/structs/config_entry_routes.go
  agent/structs/config_entry_status.go
  test/integration/consul-container/test/gateways/http_route_test.go
Labels: pr/no-changelog, pr/no-backport

#16600 Add known issues to Raft WAL docs.
  website/content/docs/agent/wal-logstore/enable.mdx
  website/content/docs/agent/wal-logstore/index.mdx
Labels: type/docs, pr/no-changelog, pr/no-metrics-test, backport/1.15

#16638 Backport of Add known issues to Raft WAL docs. into release/1.15.x
  website/content/docs/agent/wal-logstore/enable.mdx
  website/content/docs/agent/wal-logstore/index.mdx
Labels: type/docs

#16636 Tune 404 checker to exclude false-positives and use intended file path
  .github/workflows/broken-link-check.yml
Labels: theme/contributing, pr/no-changelog, pr/no-backport

#16627 Update e2e tests for namespaces
  agent/structs/config_entry_routes.go
  test/integration/consul-container/libs/service/connect.go
  test/integration/consul-container/libs/service/gateway.go
  test/integration/consul-container/libs/service/helpers.go
  test/integration/consul-container/libs/topology/peering_topology.go
  test/integration/consul-container/test/gateways/gateway_endpoint_test.go
  test/integration/consul-container/test/gateways/http_route_test.go
  test/integration/consul-container/test/upgrade/healthcheck_test.go
  test/integration/consul-container/test/upgrade/ingress_gateway_test.go
  test/integration/consul-container/test/upgrade/peering_http_test.go
  test/integration/consul-container/test/wanfed/wanfed_peering_test.go
Labels: pr/no-changelog, backport/1.15

#16642 net 2731 ip config entry OSS version
  agent/consul/state/config_entry.go
  agent/structs/config_entry.go
  agent/structs/config_entry_oss.go
  api/config_entry.go
  api/config_entry_rate_limit_ip.go
Labels: theme/api, pr/no-changelog, pr/no-backport

#16643 Fix Confusing Spiffe Ids in Golden Tests
  agent/structs/testing_catalog.go
  agent/xds/testdata/clusters/connect-proxy-with-chain-and-failover-to-cluster-peer.latest.golden
  agent/xds/testdata/clusters/connect-proxy-with-chain-and-redirect-to-cluster-peer.latest.golden
  agent/xds/testdata/clusters/ingress-with-chain-and-failover-to-cluster-peer.latest.golden
Labels: theme/envoy/xds, pr/no-changelog, pr/no-backport

#16653 Backport of First cluster grpc service should be NodePort for the second cluster to connect into release/1.15.x
  website/content/docs/k8s/deployment-configurations/single-dc-multi-k8s.mdx
Labels: type/docs

#16652 Add in query options for catalog service existing in a specific namespace when creating service for tests
  test/integration/consul-container/test/gateways/gateway_endpoint_test.go
Labels: pr/no-changelog, pr/no-docs, pr/no-backport

#16591 Backport of UI: Fix htmlsafe errors throughout the app into release/1.15.x
  .changelog/16574.txt
  ui/packages/consul-ui/package.json
  ui/yarn.lock
Labels: theme/ui

#16660 fix: add AccessorID property to PUT token request
  .changelog/16660.txt
  ui/packages/consul-ui/app/adapters/token.js
Labels: theme/ui, backport/1.15

#16662 Backport of fix: add AccessorID property to PUT token request into release/1.15.x
  .changelog/16660.txt
  ui/packages/consul-ui/app/adapters/token.js
Labels: theme/ui

#16664 Add Sameness Group Support to Service Resolver Failover and Redirects
  agent/configentry/discoverychain.go
  agent/consul/state/config_entry.go
  agent/consul/state/config_entry_sameness_group_oss.go
  agent/structs/config_entry_discoverychain.go
  agent/structs/config_entry_discoverychain_oss.go
  agent/structs/config_entry_discoverychain_oss_test.go
  api/config_entry_discoverychain.go
  proto/private/pbconfigentry/config_entry.gen.go
  proto/private/pbconfigentry/config_entry.pb.go
  proto/private/pbconfigentry/config_entry.proto
Labels: theme/api, pr/no-changelog, pr/no-backport

#16661 [API Gateway] Fix invalid cluster causing gateway programming delay
  .changelog/16661.txt
  agent/consul/discoverychain/gateway.go
  agent/consul/discoverychain/gateway_test.go
  agent/xds/resources_test.go
  agent/xds/testdata/clusters/api-gateway-with-http-route-and-inline-certificate.latest.golden
  agent/xds/testdata/endpoints/api-gateway-with-http-route-and-inline-certificate.latest.golden
  agent/xds/testdata/listeners/api-gateway-with-http-route-and-inline-certificate.latest.golden
  agent/xds/testdata/routes/api-gateway-with-http-route-and-inline-certificate.latest.golden
  agent/xds/testdata/secrets/api-gateway-with-http-route-and-inline-certificate.latest.golden
  test/integration/consul-container/test/gateways/gateway_endpoint_test.go
  test/integration/consul-container/test/gateways/http_route_test.go
Labels: theme/envoy/xds, theme/api-gw, backport/1.15

#16668 Backport of [API Gateway] Fix invalid cluster causing gateway programming delay into release/1.15.x
  .changelog/16661.txt
  agent/consul/discoverychain/gateway.go
  agent/consul/discoverychain/gateway_test.go
  agent/xds/resources_test.go
  agent/xds/testdata/clusters/api-gateway-with-http-route-and-inline-certificate.latest.golden
  agent/xds/testdata/endpoints/api-gateway-with-http-route-and-inline-certificate.latest.golden
  agent/xds/testdata/listeners/api-gateway-with-http-route-and-inline-certificate.latest.golden
  agent/xds/testdata/routes/api-gateway-with-http-route-and-inline-certificate.latest.golden
  agent/xds/testdata/secrets/api-gateway-with-http-route-and-inline-certificate.latest.golden
  test/integration/consul-container/libs/assert/service.go
  test/integration/consul-container/libs/cluster/agent.go
  test/integration/consul-container/libs/cluster/builder.go
  test/integration/consul-container/libs/cluster/cluster.go
  test/integration/consul-container/libs/cluster/container.go
  test/integration/consul-container/libs/service/connect.go
  test/integration/consul-container/libs/service/gateway.go
  test/integration/consul-container/libs/service/helpers.go
  test/integration/consul-container/libs/topology/peering_topology.go
  test/integration/consul-container/libs/topology/service_topology.go
  test/integration/consul-container/test/basic/connect_service_test.go
  test/integration/consul-container/test/gateways/gateway_endpoint_test.go
  test/integration/consul-container/test/gateways/http_route_test.go
  test/integration/consul-container/test/gateways/namespace_oss.go
  test/integration/consul-container/test/observability/access_logs_test.go
  test/integration/consul-container/test/peering/rotate_server_and_ca_then_fail_test.go
  test/integration/consul-container/test/troubleshoot/troubleshoot_upstream_test.go
  test/integration/consul-container/test/upgrade/acl_node_test.go
  test/integration/consul-container/test/upgrade/l7_traffic_management/resolver_default_subset_test.go
  test/integration/consul-container/test/upgrade/peering_control_plane_mgw_test.go
  test/integration/consul-container/test/upgrade/peering_http_test.go
  test/integration/consul-container/test/wanfed/wanfed_peering_test.go
Labels: theme/envoy/xds

#16647 Snapshot restore tests
  .changelog/16647.txt
  go.mod
  go.sum
  test/integration/consul-container/libs/cluster/builder.go
  test/integration/consul-container/libs/cluster/container.go
  test/integration/consul-container/libs/topology/peering_topology.go
  test/integration/consul-container/test/snapshot/snapshot_restore_test.go
Labels: backport/1.15

#16671 Add Sameness Groups to Discovery Chains
  agent/configentry/discoverychain.go
  agent/consul/discoverychain/compile.go
  agent/consul/state/config_entry.go
  agent/structs/config_entry_discoverychain.go
  agent/structs/config_entry_discoverychain_test.go
  agent/structs/config_entry_sameness_group.go
  agent/structs/discovery_chain.go
Labels: pr/no-changelog, pr/no-backport

#16656 Update GH actions to create Jira issue automatically
  .github/workflows/jira-issues.yaml
  .github/workflows/jira-pr.yaml
Labels: theme/contributing, pr/no-changelog, pr/no-backport

#16677 Fix route subscription when using namespaces
  .changelog/_16677.txt
  agent/proxycfg/api_gateway.go
Labels: pr/no-docs, backport/1.15

#16651 Backport/squashing fix for enterprise meta
  .changelog/16651.txt
  agent/structs/config_entry_routes.go
  agent/structs/config_entry_status.go
Labels: pr/no-changelog, pr/no-docs, pr/no-backport

#16675 [release/1.15.x] peering: peering partition failover fixes
  .changelog/16675.txt
  agent/proxycfg/upstreams.go
  agent/xds/clusters.go
Labels: pr/no-changelog, backport/1.14

#16686 Fix jira sync actions, remove custom fields
  .github/workflows/jira-issues.yaml
  .github/workflows/jira-pr.yaml
Labels: theme/contributing

#16688 Docs/update jira sync pr issue
  .github/workflows/jira-issues.yaml
  .github/workflows/jira-pr.yaml
Labels: theme/contributing, pr/no-changelog, pr/no-backport

#16689 Docs: Jira sync Update issuetype to bug
  .github/workflows/jira-issues.yaml
  .github/workflows/jira-pr.yaml
Labels: type/docs, pr/no-changelog, pr/no-backport

#16679 Backport of Add validation for apigw creation with no routes into release/1.15.x
  .changelog/16649.txt
  agent/structs/config_entry_discoverychain_test.go
  agent/structs/config_entry_gateways.go
  agent/structs/config_entry_gateways_test.go
  website/content/commands/config/delete.mdx
  website/content/commands/config/list.mdx
  website/content/commands/config/read.mdx
  website/content/commands/config/write.mdx
Labels: type/docs

#16610 NET-2397: Add readme.md to upgrade test subdirectory
  docs/README.md
  test/integration/consul-container/test/upgrade/README.md
  test/integration/consul-container/test/util/upgrade_tests_workflow.png
Labels: type/docs, pr/no-changelog, backport/1.15

#16693 [release/1.14.x] peering: peering partition failover fixes
  .changelog/16693.txt
  agent/proxycfg/upstreams.go
  agent/xds/clusters.go
Labels: theme/envoy/xds, pr/no-changelog, pr/no-backport

#16692 chore: replace hardcoded node name with a constant
  api/health_test.go
Labels: theme/api, theme/health-checks, pr/no-changelog, pr/no-backport

#16695 Fix broken links from api docs
  website/content/api-docs/connect/intentions.mdx
  website/content/commands/intention/check.mdx
  website/content/commands/intention/create.mdx
  website/content/commands/intention/delete.mdx
  website/content/commands/intention/get.mdx
  website/content/commands/intention/list.mdx
  website/content/commands/intention/match.mdx
Labels: type/docs, pr/no-changelog, backport/1.13, backport/1.14, backport/1.15

#16616 UI: update Ember to 3.28.6
  .circleci/config.yml
  build-support/docker/Build-UI.dockerfile
  ui/.nvmrc
  ui/GNUmakefile
  ui/package.json
  ui/packages/consul-ui/.eslintrc.js
  ui/packages/consul-ui/app/components/auth-dialog/index.js
  ui/packages/consul-ui/app/components/consul/intention/form/fieldsets/index.js
  ui/packages/consul-ui/app/components/consul/intention/permission/form/index.js
  ui/packages/consul-ui/app/components/consul/kv/form/index.js
  ui/packages/consul-ui/app/components/data-collection/index.js
  ui/packages/consul-ui/app/components/data-form/index.js
  ui/packages/consul-ui/app/components/data-loader/index.js
  ui/packages/consul-ui/app/components/list-collection/index.js
  ui/packages/consul-ui/app/components/tabular-collection/index.js
  ui/packages/consul-ui/app/instance-initializers/container.js
  ui/packages/consul-ui/app/models/partition.js
  ui/packages/consul-ui/app/modifiers/with-copyable.js
  ui/packages/consul-ui/app/router.js
  ui/packages/consul-ui/app/routing/route.js
  ui/packages/consul-ui/app/services/auth-providers/oauth2-code-with-url-provider.js
  ui/packages/consul-ui/app/templates/application.hbs
  ui/packages/consul-ui/app/templates/debug.hbs
  ui/packages/consul-ui/config/ember-cli-update.json
  ui/packages/consul-ui/package.json
  ui/yarn.lock
Labels: theme/ui, type/ci, pr/no-changelog, pr/no-backport

#16697 Backport of Fix broken links from api docs into release/1.13.x
  website/content/api-docs/connect/intentions.mdx
  website/content/commands/intention/check.mdx
  website/content/commands/intention/create.mdx
  website/content/commands/intention/delete.mdx
  website/content/commands/intention/get.mdx
  website/content/commands/intention/list.mdx
  website/content/commands/intention/match.mdx
Labels: type/docs

#16698 Backport of Fix broken links from api docs into release/1.14.x
  website/content/api-docs/connect/intentions.mdx
  website/content/commands/intention/check.mdx
  website/content/commands/intention/create.mdx
  website/content/commands/intention/delete.mdx
  website/content/commands/intention/get.mdx
  website/content/commands/intention/list.mdx
  website/content/commands/intention/match.mdx
Labels: type/docs

#16699 Backport of Fix broken links from api docs into release/1.15.x
  website/content/api-docs/connect/intentions.mdx
  website/content/commands/intention/check.mdx
  website/content/commands/intention/create.mdx
  website/content/commands/intention/delete.mdx
  website/content/commands/intention/get.mdx
  website/content/commands/intention/list.mdx
  website/content/commands/intention/match.mdx
Labels: type/docs

#16696 NET-2397: Add readme.md to upgrade test subdirectory (#16610)
  docs/README.md
  test/integration/consul-container/test/upgrade/README.md
  test/integration/consul-container/test/util/upgrade_tests_workflow.png
Labels: pr/no-changelog, pr/no-backport

#16701 Regen helm docs
  website/content/docs/k8s/helm.mdx
Labels: type/docs, pr/no-changelog, pr/no-docs, backport/1.15

#16691 Remove unused are hosts set check
  agent/proxycfg/api_gateway.go
  agent/proxycfg/proxycfg.deepcopy.go
  agent/proxycfg/snapshot.go
Labels: pr/no-changelog, pr/no-docs, backport/1.15

#16669 [NET-3029] Migrate build-distros to GHA
  .github/workflows/build-distros.yml
  .github/workflows/build.yml
Labels: theme/contributing, pr/no-changelog, backport/1.13, backport/1.14, backport/1.15

#16710 Update envoy extension docs, service-defaults, add multi-config examp…
  website/content/docs/connect/config-entries/service-defaults.mdx
  website/content/docs/connect/proxies/envoy-extensions/usage/lua.mdx
Labels: type/docs, pr/no-changelog, backport/1.15

#16720 Backport of Update envoy extension docs, service-defaults, add multi-config examp… into release/1.15.x
  website/content/docs/connect/config-entries/service-defaults.mdx
  website/content/docs/connect/proxies/envoy-extensions/usage/lua.mdx
Labels: type/docs

#16719 fix build workflow
  .github/workflows/build.yml
Labels: theme/contributing, pr/no-changelog, backport/1.13, backport/1.14, backport/1.15

#16711 Helm docs without developer.hashicorp.com prefix
  website/content/docs/k8s/helm.mdx
Labels: type/docs, pr/no-changelog, backport/1.15

#16712 add extra resiliency to snapshot restore test
  test/integration/consul-container/test/snapshot/snapshot_restore_test.go
Labels: pr/no-changelog, pr/no-backport

#16718 Backport of [NET-3029] Migrate build-distros to GHA into release/1.15.x
  .github/workflows/build-distros.yml
  .github/workflows/build.yml
Labels: theme/contributing

#16730 Backport of fix: add AccessorID property to PUT token request into release/1.14.x
  .changelog/16660.txt
  ui/packages/consul-ui/app/adapters/token.js
  ui/packages/consul-ui/config/utils.js
  ui/packages/consul-ui/node-tests/config/utils.js
Labels: theme/ui

#16725 Backport of Helm docs without developer.hashicorp.com prefix into release/1.15.x
  website/content/docs/k8s/helm.mdx
Labels: type/docs

#16721 fix: gracefully fail on invalid port number
  agent/config/builder.go
Labels: theme/config, pr/no-changelog, pr/no-backport

#16707 Backport of Regen helm docs into release/1.15.x
  website/content/docs/k8s/helm.mdx
Labels: type/docs

#16703 Copyright headers for config files git + circleci
  .circleci/bash_env.sh
  .circleci/config.yml
  .circleci/scripts/rerun-fails-report.sh
  .circleci/terraform/load-test/main.tf
  .circleci/terraform/load-test/variables.tf
  .github/ISSUE_TEMPLATE/config.yml
  .github/dependabot.yml
  .github/pr-labeler.yml
  .github/scripts/metrics_checker.sh
  .github/scripts/verify_artifact.sh
  .github/scripts/verify_bin.sh
  .github/scripts/verify_deb.sh
  .github/scripts/verify_docker.sh
  .github/scripts/verify_rpm.sh
  .github/workflows/backport-assistant.yml
  .github/workflows/backport-checker.yml
  .github/workflows/backport-reminder.yml
  .github/workflows/bot-auto-approve.yaml
  .github/workflows/broken-link-check.yml
  .github/workflows/build.yml
  .github/workflows/changelog-checker.yml
  .github/workflows/check-legacy-links-format.yml
  .github/workflows/embedded-asset-checker.yml
  .github/workflows/issue-comment-created.yml
  .github/workflows/jira-issues.yaml
  .github/workflows/jira-pr.yaml
  .github/workflows/load-test.yml
  .github/workflows/nightly-test-1.12.x.yaml
  .github/workflows/nightly-test-1.13.x.yaml
  .github/workflows/nightly-test-1.14.x.yaml
  .github/workflows/nightly-test-1.15.x.yaml
  .github/workflows/nightly-test-main.yaml
  .github/workflows/oss-merge-trigger.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/pr-metrics-test-checker.yml
  .github/workflows/stale.yml
  .release/ci.hcl
  .release/docker/docker-entrypoint-ubi.sh
  .release/docker/docker-entrypoint.sh
  .release/linux/package/etc/consul.d/consul.hcl
  .release/release-metadata.hcl
  .release/security-scan.hcl
Labels: type/ci, theme/contributing, pr/no-changelog, pr/no-docs, pr/no-backport

#16729 Fix Prepared Query Peering Failover Bug
  .changelog/16729.txt
  agent/consul/prepared_query_endpoint.go
  agent/consul/prepared_query_endpoint_test.go
Labels: backport/1.14, backport/1.15

#16738 Refactor xDS tests
  agent/agent_endpoint_test.go
  agent/proxycfg/manager_test.go
  agent/proxycfg/testing.go
  agent/proxycfg/testing_api_gateway.go
  agent/proxycfg/testing_connect_proxy.go
  agent/proxycfg/testing_ingress_gateway.go
  agent/proxycfg/testing_upstreams.go
  agent/proxycfg_test.go
  agent/sidecar_service_test.go
  agent/structs/discovery_chain.go
  agent/structs/testing_connect_proxy_config.go
  agent/xds/clusters_test.go
  agent/xds/delta_envoy_extender_oss_test.go
  agent/xds/endpoints_test.go
  agent/xds/extensionruntime/runtime_config_oss_test.go
  agent/xds/listeners_test.go
  agent/xds/resources_test.go
  agent/xds/routes_test.go
  agent/xds/testdata/endpoints/connect-proxy-with-chain-and-redirect-to-cluster-peer.latest.golden
  agent/xds/testdata/listeners/connect-proxy-with-chain-and-failover-to-cluster-peer.latest.golden
  agent/xds/testdata/listeners/connect-proxy-with-chain-and-redirect-to-cluster-peer.latest.golden
  agent/xds/validateupstream-test/validateupstream_test.go
  agent/xds/xds_protocol_helpers_test.go
  command/services/config_test.go
Labels: theme/cli, theme/envoy/xds, pr/no-changelog, backport/1.15

#16690 delete config when nil
  agent/consul/multilimiter/mock_RateLimiter.go
  agent/consul/multilimiter/multilimiter.go
  agent/consul/multilimiter/multilimiter_test.go
  agent/consul/rate/handler.go
  agent/consul/rate/handler_test.go
Labels: pr/no-changelog, pr/no-backport

#16741 Backport of Refactor xDS tests into release/1.15.x
  agent/agent_endpoint_test.go
  agent/proxycfg/manager_test.go
  agent/proxycfg/testing.go
  agent/proxycfg/testing_api_gateway.go
  agent/proxycfg/testing_connect_proxy.go
  agent/proxycfg/testing_ingress_gateway.go
  agent/proxycfg/testing_upstreams.go
  agent/proxycfg_test.go
  agent/sidecar_service_test.go
  agent/structs/discovery_chain.go
  agent/structs/testing_connect_proxy_config.go
  agent/xds/clusters_test.go
  agent/xds/delta_envoy_extender_oss_test.go
  agent/xds/endpoints_test.go
  agent/xds/extensionruntime/runtime_config_oss_test.go
  agent/xds/golden_test.go
  agent/xds/listeners_test.go
  agent/xds/resources_test.go
  agent/xds/routes_test.go
  agent/xds/testdata/endpoints/connect-proxy-with-chain-and-redirect-to-cluster-peer.latest.golden
  agent/xds/testdata/listeners/connect-proxy-with-chain-and-failover-to-cluster-peer.latest.golden
  agent/xds/testdata/listeners/connect-proxy-with-chain-and-redirect-to-cluster-peer.latest.golden
  agent/xds/validateupstream-test/validateupstream_test.go
  agent/xds/xds_protocol_helpers_test.go
  command/services/config_test.go
Labels: theme/cli, theme/envoy/xds
