Repository hashicorp/consul, pull requests merged in 2023-02, with the labels that each got.

#15859 APIGateway HTTPRoute scaffolding
  agent/structs/config_entry_routes.go
  proto/pbconfigentry/config_entry.gen.go
  proto/pbconfigentry/config_entry.go
  proto/pbconfigentry/config_entry.pb.binary.go
  proto/pbconfigentry/config_entry.pb.go
  proto/pbconfigentry/config_entry.proto
Labels: pr/no-changelog

#16011 Backport of Major updates and reorganizing of checks.mdx into stable-website
  website/content/docs/discovery/checks.mdx
Labels: type/docs

#16070 add troubleshoot cli
  command/registry.go
  command/troubleshoot/connect/troubleshoot_connect.go
  command/troubleshoot/connect/troubleshoot_connect_test.go
  command/troubleshoot/upstreams/troubleshoot_upstreams.go
  command/troubleshoot/upstreams/troubleshoot_upstreams_test.go
  troubleshoot/connect/troubleshoot_connect.go
Labels: theme/cli, pr/no-changelog

#16126 Ent merge move envoy extension proto
  proto/pbcommon/common.gen.go
  proto/pbcommon/common.pb.binary.go
  proto/pbcommon/common.pb.go
  proto/pbcommon/common.proto
  proto/pbcommon/convert_pbstruct.go
  proto/pbcommon/convert_pbstruct_test.go
  proto/pbconfigentry/config_entry.gen.go
  proto/pbconfigentry/config_entry.go
  proto/pbconfigentry/config_entry.pb.binary.go
  proto/pbconfigentry/config_entry.pb.go
  proto/pbconfigentry/config_entry.proto
  proto/pbservice/convert.go
  proto/pbservice/service.pb.go
  proto/pbservice/service.proto
Labels: pr/no-changelog, pr/no-docs

#16129 update troubleshoot CLI
  command/registry.go
  command/troubleshoot/proxy/troubleshoot_proxy.go
  command/troubleshoot/proxy/troubleshoot_proxy_test.go
  command/troubleshoot/troubleshoot.go
  command/troubleshoot/troubleshoot_test.go
  command/troubleshoot/upstreams/troubleshoot_upstreams.go
  troubleshoot/troubleshoot_proxy.go
Labels: theme/cli, pr/no-changelog

#16082 Docs: change connect to SM for mTLS page
  website/content/docs/connect/connect-internals.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.12, backport/1.13, backport/1.14

#16137 Backport of Docs: change connect to SM for mTLS page into release/1.14.x
  website/content/docs/connect/connect-internals.mdx
Labels: type/docs

#16136 Backport of Docs: change connect to SM for mTLS page into release/1.13.x
  website/content/docs/connect/connect-internals.mdx
Labels: type/docs

#16135 Backport of Docs: change connect to SM for mTLS page into release/1.12.x
  website/content/docs/connect/connect-internals.mdx
Labels: type/docs

#16139 validate certs and get stats
  command/troubleshoot/proxy/troubleshoot_proxy.go
  troubleshoot/certs.go
  troubleshoot/stats.go
  troubleshoot/troubleshoot_proxy.go
  troubleshoot/utils.go
Labels: theme/cli, pr/no-changelog

#16132 refactor: move service to service validation to troubleshoot package
  agent/xds/clusters_test.go
  agent/xds/delta.go
  agent/xds/delta_envoy_extender_oss_test.go
  agent/xds/delta_test.go
  agent/xds/endpoints.go
  agent/xds/endpoints_test.go
  agent/xds/golden_test.go
  agent/xds/listeners_test.go
  agent/xds/resources.go
  agent/xds/resources_test.go
  agent/xds/routes_test.go
  agent/xds/server.go
  agent/xds/testcommon/testcommon.go
  agent/xds/xds_protocol_helpers_test.go
  agent/xds/xdscommon/envoy_versioning.go
  agent/xds/xdscommon/envoy_versioning_test.go
  agent/xds/xdscommon/xdscommon.go
  troubleshoot/validateupstream/testdata/test-leaf-cert.golden
  troubleshoot/validateupstream/testdata/test-leaf-key.golden
  troubleshoot/validateupstream/testdata/test-root-cert.golden
  troubleshoot/validateupstream/testdata/validateupstream/clusters.json
  troubleshoot/validateupstream/testdata/validateupstream/config.json
  troubleshoot/validateupstream/validateupstream.go
  troubleshoot/validateupstream/validateupstream_test.go
Labels: theme/envoy/xds, pr/no-changelog

#15945 rate: add prometheus definitions, docs, and clearer names
  agent/consul/rate/handler.go
  agent/consul/rate/handler_test.go
  agent/consul/rate/metrics.go
  test/integration/consul-container/test/ratelimit/ratelimit_test.go
  website/content/docs/agent/telemetry.mdx
Labels: type/docs, pr/no-changelog

#16087 NET-2087: Create basic upgrade test skeleton for traffic management
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
  test/integration/consul-container/libs/assert/envoy.go
  test/integration/consul-container/libs/assert/service.go
  test/integration/consul-container/libs/cluster/cluster.go
  test/integration/consul-container/libs/service/helpers.go
  test/integration/consul-container/libs/topology/peering_topology.go
  test/integration/consul-container/libs/utils/version.go
  test/integration/consul-container/test/basic/connect_service_test.go
  test/integration/consul-container/test/observability/access_logs_test.go
  test/integration/consul-container/test/peering/rotate_server_and_ca_then_fail_test.go
  test/integration/consul-container/test/upgrade/l7_traffic_management/traffic_management_test.go
Labels: pr/no-changelog

#15956 [OSS] Add Peer field to service-defaults upstream overrides
  .changelog/15956.txt
  agent/cache-types/resolved_service_config_test.go
  agent/configentry/merge_service_config.go
  agent/configentry/merge_service_config_test.go
  agent/configentry/resolve.go
  agent/configentry/resolve_test.go
  agent/consul/config_endpoint.go
  agent/consul/config_endpoint_test.go
  agent/consul/state/config_entry.go
  agent/proxycfg-glue/resolved_service_config.go
  agent/service_manager.go
  agent/service_manager_test.go
  agent/structs/config_entry.go
  agent/structs/config_entry_test.go
  agent/structs/connect_proxy_config_oss.go
  agent/structs/structs.deepcopy.go
  agent/structs/structs.go
  agent/xds/routes.go
  api/config_entry.go
  proto/pbconfigentry/config_entry.gen.go
  proto/pbconfigentry/config_entry.pb.go
  proto/pbconfigentry/config_entry.proto
Labels: theme/envoy/xds

#16058 API Gateway Controller Logic
  agent/consul/fsm_data_store.go
  agent/consul/gateways/controller_gateways.go
  agent/consul/gateways/controller_gateways_test.go
  agent/consul/gateways/datastore.go
  agent/consul/gateways/mock_DataStore.go
  agent/consul/leader_connect.go
Labels: pr/no-changelog, theme/api-gw

#16122 docs(service-defaults): upstream overrides for peered services
  website/content/docs/connect/config-entries/service-defaults.mdx
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs, pr/no-changelog

#16142 fix goroutine leak in renew testing
  agent/connect/ca/provider_vault_test.go
Labels: theme/internal-cleanup, theme/connect, pr/no-changelog, pr/no-docs

#16033 docs: use proxy health checks when enabled
  website/content/docs/k8s/annotations-and-labels.mdx
Labels: type/docs, pr/no-changelog, backport/1.13, backport/1.14

#16151 Backport of docs: use proxy health checks when enabled into release/1.14.x
  website/content/docs/k8s/annotations-and-labels.mdx
Labels: type/docs

#16148 command: Fix logger not initializing properly in envoy command
  command/connect/envoy/envoy.go
Labels: theme/cli, pr/no-changelog, backport/1.13, backport/1.14

#16155 Backport of docs: use proxy health checks when enabled into stable-website
  website/content/docs/k8s/annotations-and-labels.mdx
Labels: type/docs

#16157 Update helm docs based on consul-k8s release/1.0.x branch
  website/content/docs/k8s/helm.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#16160 Update helm docs based on consul-k8s release/0.49.x branch to 1.13.x
  website/content/docs/k8s/helm.mdx
Labels: type/docs, pr/no-changelog

#15922 Remove legacy acl policies
  .changelog/15922.txt
  acl/acl_test.go
  acl/authorizer.go
  acl/policy.go
  acl/policy_test.go
  agent/acl_endpoint.go
  agent/acl_test.go
  agent/agent_endpoint_test.go
  agent/consul/acl.go
  agent/consul/acl_endpoint.go
  agent/consul/acl_endpoint_legacy.go
  agent/consul/acl_replication_test.go
  agent/consul/acl_test.go
  agent/consul/auth/token_writer.go
  agent/consul/auth/token_writer_test.go
  agent/consul/autopilotevents/ready_servers_events_test.go
  agent/consul/catalog_endpoint_test.go
  agent/consul/filter_test.go
  agent/consul/fsm/snapshot_test.go
  agent/consul/leader.go
  agent/consul/state/acl.go
  agent/consul/state/acl_test.go
  agent/consul/state/connect_ca_events_test.go
  agent/consul/state/store_integration_test.go
  agent/grpc-external/testutils/acl.go
  agent/grpc-internal/services/subscribe/subscribe_test.go
  agent/proxycfg-glue/intention_upstreams_test.go
  agent/rpc/peering/service_test.go
  agent/structs/acl.go
  agent/structs/acl_test.go
  agent/structs/aclfilter/filter_test.go
  agent/structs/config_entry_discoverychain_test.go
  agent/structs/config_entry_test.go
  agent/structs/intention_test.go
  agent/xds/delta_test.go
  api/agent.go
  api/agent_test.go
  api/api_test.go
  api/operator_license.go
  ui/packages/consul-ui/app/abilities/token.js
  ui/packages/consul-ui/app/models/token.js
  ui/packages/consul-ui/tests/integration/helpers/token/is-legacy-test.js
  ui/packages/consul-ui/tests/unit/helpers/token/is-legacy-test.js
Labels: theme/api, theme/acls, theme/cli, theme/ui, theme/envoy/xds

#16124 Set `codegen-tools` to be a dependency of `deep-copy`
  GNUmakefile
Labels: pr/no-changelog

#16099 feat: update rpc retry criteria
  agent/consul/client.go
  agent/consul/rpc.go
  agent/consul/rpc_test.go
Labels: pr/no-changelog

#16123 Document how numRetries can't be set to 0
  website/content/docs/connect/config-entries/service-router.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.11, backport/1.12, backport/1.13, backport/1.14

#16168 Backport of Document how numRetries can't be set to 0 into release/1.14.x
  website/content/docs/connect/config-entries/service-router.mdx
Labels: type/docs

#16170 Backport of Document how numRetries can't be set to 0 into release/1.12.x
  website/content/docs/connect/config-entries/service-router.mdx
Labels: type/docs

#16171 Backport of Document how numRetries can't be set to 0 into release/1.13.x
  website/content/docs/connect/config-entries/service-router.mdx
Labels: type/docs

#16167 Backport of Document how numRetries can't be set to 0 into stable-website
  website/content/docs/connect/config-entries/service-router.mdx
Labels: type/docs

#16169 Backport of Document how numRetries can't be set to 0 into release/1.11.x
  website/content/docs/connect/config-entries/service-router.mdx
Labels: type/docs

#16166 docs: refine server TLS Vault PKI role config
  website/content/docs/k8s/deployment-configurations/vault/data-integration/server-tls.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#16173 Backport of docs: refine server TLS Vault PKI role config into stable-website
  website/content/docs/k8s/deployment-configurations/vault/data-integration/server-tls.mdx
Labels: type/docs

#16109 Add links in release-notes for the last five patch releases
  website/content/docs/release-notes/consul/v1_12_x.mdx
  website/content/docs/release-notes/consul/v1_13_x.mdx
  website/content/docs/release-notes/consul/v1_14_x.mdx
Labels: type/docs, pr/no-changelog

#16140 NET-2087: Restart proxy sidecar during cluster upgrade
  test/integration/consul-container/libs/service/connect.go
  test/integration/consul-container/test/upgrade/peer_control_plane_mgw_test.go
  test/integration/consul-container/test/upgrade/peers_http_test.go
  test/integration/consul-container/test/upgrade/traffic_management_default_subset_test.go
Labels: pr/no-changelog

#16149 docs(service-resolver): clarify the default time unit in service-resolver.ConnectTimeout
  website/content/docs/connect/config-entries/service-resolver.mdx
Labels: type/docs, pr/no-changelog, backport/1.14

#16165 Net 2229/rpc reduce max retries 2
  agent/consul/client.go
  agent/consul/rpc.go
  agent/consul/rpc_test.go
  lib/cluster.go
  lib/cluster_test.go
Labels: theme/internals, pr/no-changelog

#16175 Backport of docs(service-resolver): clarify the default time unit in service-resolver.ConnectTimeout into release/1.14.x
  website/content/docs/connect/config-entries/service-resolver.mdx
Labels: type/docs

#16113 Remove empty tags 2
  .changelog/14244.txt
  api/prepared_query.go
  api/prepared_query_test.go
Labels: theme/api, pr/no-changelog

#16128 change log level
  agent/consul/rate/handler.go
  test/integration/consul-container/test/ratelimit/ratelimit_test.go
Labels: pr/no-changelog

#16178 Rotate Circle CI SSH Key
  .circleci/config.yml
Labels: type/ci, pr/no-changelog, backport/1.12, backport/1.13, backport/1.14

#16182 Backport of Rotate Circle CI SSH Key into release/1.13.x
  .circleci/config.yml
Labels: type/ci

#16180 revert UI acl changes from #15922
  ui/packages/consul-ui/app/abilities/token.js
  ui/packages/consul-ui/app/models/token.js
  ui/packages/consul-ui/tests/integration/helpers/token/is-legacy-test.js
  ui/packages/consul-ui/tests/unit/helpers/token/is-legacy-test.js
Labels: theme/ui, pr/no-changelog

#16183 Backport of Rotate Circle CI SSH Key into release/1.14.x
  .circleci/config.yml
Labels: type/ci

#16181 Backport of Rotate Circle CI SSH Key into release/1.12.x
  .circleci/config.yml
Labels: type/ci

#16184 exclude inbound/outbound listeners from upstreams output
  troubleshoot/proxy/troubleshoot_proxy.go
Labels: pr/no-changelog

#16161 Add missing doc for gRPC TLS
  website/content/docs/install/ports.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#16185 Backport of Add missing doc for gRPC TLS into stable-website
  website/content/docs/install/ports.mdx
Labels: type/docs

#16186 Backport of Add missing doc for gRPC TLS into release/1.14.x
  website/content/docs/install/ports.mdx
Labels: type/docs

#16179 docs: update redirected links
  website/content/commands/acl/bootstrap.mdx
  website/content/commands/force-leave.mdx
  website/content/commands/lock.mdx
  website/content/docs/api-gateway/install.mdx
  website/content/docs/api-gateway/usage/errors.mdx
  website/content/docs/architecture/scale.mdx
  website/content/docs/connect/gateways/mesh-gateway/service-to-service-traffic-wan-datacenters.mdx
  website/content/docs/connect/gateways/mesh-gateway/wan-federation-via-mesh-gateways.mdx
  website/content/docs/dynamic-app-config/kv.mdx
  website/content/docs/release-notes/consul/v1_11_x.mdx
  website/content/docs/security/acl/index.mdx
  website/content/docs/troubleshoot/common-errors.mdx
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#16192 add cert tests
  troubleshoot/proxy/certs.go
  troubleshoot/proxy/certs_test.go
  troubleshoot/proxy/troubleshoot_proxy.go
Labels: pr/no-changelog

#16044 Update token language to distinguish Accessor and Secret ID usage
  .changelog/16044.txt
  acl/policy.go
  agent/acl_endpoint.go
  agent/acl_test.go
  agent/agent_endpoint_test.go
  agent/consul/acl.go
  agent/consul/acl_endpoint.go
  agent/consul/acl_endpoint_test.go
  agent/consul/acl_replication.go
  agent/consul/acl_test.go
  agent/consul/connect_ca_endpoint.go
  agent/consul/federation_state_endpoint.go
  agent/consul/internal_endpoint.go
  agent/consul/operator_autopilot_endpoint.go
  agent/consul/operator_raft_endpoint.go
  agent/consul/prepared_query_endpoint.go
  agent/consul/snapshot_endpoint.go
  agent/consul/state/acl.go
  agent/consul/txn_endpoint.go
  agent/structs/acl.go
  agent/xds/server.go
  agent/xds/xds_protocol_helpers_test.go
  api/acl.go
  command/acl/acl_helpers.go
  command/acl/token/clone/token_clone.go
  command/acl/token/clone/token_clone_test.go
  command/acl/token/delete/token_delete.go
  command/acl/token/delete/token_delete_test.go
  command/acl/token/read/token_read.go
  command/acl/token/read/token_read_test.go
  command/acl/token/token.go
  command/acl/token/update/token_update.go
  command/acl/token/update/token_update_test.go
  website/content/docs/security/acl/acl-tokens.mdx
Labels: theme/api, theme/cli

#16164 Upgrade test: verify the agent token is working after upgrade
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
  test/integration/consul-container/libs/assert/service.go
  test/integration/consul-container/libs/cluster/agent.go
  test/integration/consul-container/libs/cluster/builder.go
  test/integration/consul-container/libs/cluster/cluster.go
  test/integration/consul-container/libs/cluster/container.go
  test/integration/consul-container/libs/topology/peering_topology.go
  test/integration/consul-container/libs/utils/utils.go
  test/integration/consul-container/test/observability/access_logs_test.go
  test/integration/consul-container/test/upgrade/acl_node_test.go
  test/integration/consul-container/test/upgrade/traffic_management_default_subset_test.go
Labels: pr/no-changelog

#16195 revert method name change in xds server protocol for version compatibility
  agent/acl_test.go
  agent/consul/acl.go
  agent/consul/acl_endpoint.go
  agent/consul/acl_test.go
  agent/consul/connect_ca_endpoint.go
  agent/consul/federation_state_endpoint.go
  agent/consul/internal_endpoint.go
  agent/consul/operator_autopilot_endpoint.go
  agent/consul/operator_raft_endpoint.go
  agent/consul/prepared_query_endpoint.go
  agent/consul/snapshot_endpoint.go
  agent/consul/txn_endpoint.go
  agent/xds/server.go
Labels: theme/envoy/xds, pr/no-changelog

#16143 remove redundant vault api retry logic
  agent/connect/ca/provider_vault.go
  agent/connect/ca/provider_vault_test.go
Labels: theme/internal-cleanup, theme/connect, pr/no-changelog, pr/no-docs

#16197 get upstream IPs
  command/troubleshoot/upstreams/troubleshoot_upstreams.go
  troubleshoot/proxy/testdata/listeners.json
  troubleshoot/proxy/troubleshoot_proxy.go
  troubleshoot/proxy/upstreams.go
  troubleshoot/proxy/upstreams_test.go
Labels: theme/cli, pr/no-changelog

#16196 feat: envoy extension - http local rate limit
  agent/envoyextensions/builtin/http/localratelimit/copied.go
  agent/envoyextensions/builtin/http/localratelimit/ratelimit.go
  agent/envoyextensions/builtin/http/localratelimit/ratelimit_test.go
  agent/envoyextensions/registered_extensions.go
  agent/xds/delta_envoy_extender_oss_test.go
  agent/xds/testdata/builtin_extension/clusters/http-local-ratelimit-applyto-filter.latest.golden
  agent/xds/testdata/builtin_extension/endpoints/http-local-ratelimit-applyto-filter.latest.golden
  agent/xds/testdata/builtin_extension/listeners/http-local-ratelimit-applyto-filter.latest.golden
  agent/xds/testdata/builtin_extension/routes/http-local-ratelimit-applyto-filter.latest.golden
  api/config_entry.go
  go.mod
  test/integration/connect/envoy/case-envoyext-ratelimit/capture.sh
  test/integration/connect/envoy/case-envoyext-ratelimit/service_s1.hcl
  test/integration/connect/envoy/case-envoyext-ratelimit/service_s2.hcl
  test/integration/connect/envoy/case-envoyext-ratelimit/setup.sh
  test/integration/connect/envoy/case-envoyext-ratelimit/vars.sh
  test/integration/connect/envoy/case-envoyext-ratelimit/verify.bats
Labels: theme/api, pr/dependencies, theme/envoy/xds, pr/no-changelog

#16176 Adding experimental support for a more efficient LogStore implementation
  .changelog/16176.txt
  agent/agent.go
  agent/config/builder.go
  agent/config/config.go
  agent/config/default.go
  agent/config/deprecated.go
  agent/config/deprecated_test.go
  agent/config/runtime.go
  agent/config/runtime_test.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/config/testdata/full-config.hcl
  agent/config/testdata/full-config.json
  agent/consul/config.go
  agent/consul/fsm/fsm.go
  agent/consul/fsm/log_verification_chunking_shim.go
  agent/consul/leader.go
  agent/consul/leader_log_verification.go
  agent/consul/server.go
  agent/consul/server_log_verification.go
  agent/structs/structs.go
  docs/config/checklist-adding-config-fields.md
  go.mod
  go.sum
Labels: theme/config, pr/dependencies

#16188 Add additional controller implementations
  agent/consul/controller/controller.go
  agent/consul/gateways/bind.go
  agent/consul/gateways/bind_test.go
  agent/consul/gateways/controller_gateways.go
  agent/consul/gateways/controller_gateways_test.go
  agent/consul/gateways/controller_routes.go
  agent/consul/gateways/datastore.go
  agent/consul/gateways/gateway_meta.go
  agent/consul/gateways/gateway_meta_test.go
  agent/consul/gateways/mock_DataStore.go
  agent/consul/leader_connect.go
  agent/structs/config_entry_gateways.go
  agent/structs/config_entry_gateways_test.go
  agent/structs/config_entry_routes.go
  agent/structs/config_entry_status.go
  agent/structs/deep-copy.sh
  agent/structs/structs.deepcopy.go
  api/config_entry_routes.go
  api/config_entry_status.go
  proto/pbconfigentry/config_entry.gen.go
  proto/pbconfigentry/config_entry.pb.go
  proto/pbconfigentry/config_entry.proto
Labels: pr/no-changelog

#16205 oss: Add the `operator usage instances` command and api endpoint
  .changelog/16205.txt
  agent/catalog_endpoint.go
  agent/consul/operator_usage_endpoint.go
  agent/consul/state/usage.go
  agent/consul/state/usage_oss.go
  agent/consul/state/usage_test.go
  agent/consul/usagemetrics/usagemetrics.go
  agent/consul/usagemetrics/usagemetrics_oss.go
  agent/consul/usagemetrics/usagemetrics_oss_test.go
  agent/consul/xdscapacity/capacity.go
  agent/http_register.go
  agent/operator_endpoint.go
  agent/operator_endpoint_oss_test.go
  agent/structs/structs.go
  agent/structs/structs_oss.go
  api/api.go
  api/operator_usage.go
  api/operator_usage_test.go
  command/operator/usage/instances/usage_instances.go
  command/operator/usage/instances/usage_instances_oss.go
  command/operator/usage/instances/usage_instances_oss_test.go
  command/operator/usage/instances/usage_instances_test.go
  command/operator/usage/usage.go
  command/registry.go
Labels: theme/api, theme/cli

#16208 troubleshoot: output messages for the troubleshoot proxy command
  agent/xds/validateupstream-test/validateupstream_test.go
  command/troubleshoot/proxy/troubleshoot_proxy.go
  troubleshoot/go.mod
  troubleshoot/go.sum
  troubleshoot/proxy/certs.go
  troubleshoot/proxy/certs_test.go
  troubleshoot/proxy/troubleshoot_proxy.go
  troubleshoot/proxy/utils.go
  troubleshoot/proxy/validateupstream.go
  troubleshoot/proxy/validateupstream_test.go
  troubleshoot/validate/validate.go
  troubleshoot/validate/validate_test.go
Labels: theme/cli, theme/envoy/xds, pr/no-changelog

#16194 Implement APIGateway proxycfg snapshot
  agent/config/builder.go
  agent/consul/state/config_entry.go
  agent/grpc-external/services/dataplane/get_envoy_bootstrap_params.go
  agent/proxycfg/api_gateway.go
  agent/proxycfg/deep-copy.sh
  agent/proxycfg/proxycfg.deepcopy.go
  agent/proxycfg/snapshot.go
  agent/proxycfg/state.go
  agent/proxycfg/upstreams.go
  agent/structs/config_entry_gateways.go
  agent/structs/config_entry_routes.go
  agent/structs/deep-copy.sh
  agent/structs/structs.deepcopy.go
  agent/structs/structs.go
  agent/xds/clusters.go
  agent/xds/delta.go
  agent/xds/endpoints.go
  agent/xds/listeners.go
  agent/xds/resources.go
  agent/xds/routes.go
  agent/xds/secrets.go
  agent/xds/server.go
  envoyextensions/xdscommon/xdscommon.go
  proto-public/pbdataplane/dataplane.pb.go
  proto-public/pbdataplane/dataplane.proto
Labels: theme/config, theme/envoy/xds, pr/no-changelog, theme/api-gw

#16209 UI: CC-4033 - Update padding for the content wrapper
  ui/packages/consul-ui/app/styles/layouts/index.scss
Labels: theme/ui, pr/no-changelog

#16210 troubleshoot: handle tproxy dialed directly case
  troubleshoot/validate/validate.go
  troubleshoot/validate/validate_test.go
Labels: pr/no-changelog

#16105 ACL error improvements: incomplete bootstrapping and non-existent token
  .changelog/16105.txt
  acl/errors.go
  agent/acl_endpoint.go
  agent/acl_endpoint_test.go
  agent/consul/acl_endpoint.go
  agent/consul/acl_endpoint_test.go
  agent/consul/acl_replication_test.go
  agent/consul/acl_server.go
  api/acl_test.go
  api/api_test.go
  command/acl/acl_helpers.go
  command/acl/authmethod/delete/authmethod_delete_test.go
  command/acl/bindingrule/delete/bindingrule_delete_test.go
  command/acl/policy/delete/policy_delete_test.go
  command/acl/token/delete/token_delete_test.go
  command/logout/logout_test.go
Labels: theme/api, theme/cli

#16211 update troubleshoot CLI, update flags and upstreams output
  command/troubleshoot/proxy/troubleshoot_proxy.go
  command/troubleshoot/upstreams/troubleshoot_upstreams.go
  troubleshoot/proxy/troubleshoot_proxy.go
Labels: theme/cli, pr/no-changelog

#16212 Merge pull request #4216 from hashicorp/NET-2252-add-assert-fortioname
  test/integration/consul-container/libs/assert/service.go
  test/integration/consul-container/libs/cluster/container.go
  test/integration/consul-container/libs/service/helpers.go
  test/integration/consul-container/libs/topology/peering_topology.go
  test/integration/consul-container/test/basic/connect_service_test.go
  test/integration/consul-container/test/observability/access_logs_test.go
  test/integration/consul-container/test/peering/rotate_server_and_ca_then_fail_test.go
  test/integration/consul-container/test/upgrade/peer_control_plane_mgw_test.go
  test/integration/consul-container/test/upgrade/peers_http_test.go
  test/integration/consul-container/test/upgrade/traffic_management_default_subset_test.go
Labels: pr/no-changelog

#16214 Clean-up Gateway Controller Binding Logic
  agent/consul/gateways/bind.go
  agent/consul/gateways/bind_test.go
  agent/consul/gateways/controller_gateways.go
  agent/consul/gateways/controller_gateways_test.go
  agent/consul/gateways/gateway_meta.go
  agent/consul/gateways/gateway_meta_test.go
  agent/structs/config_entry_gateways.go
Labels: pr/no-changelog

#16187 Update checks.mdx
  website/content/docs/discovery/checks.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test

#16215 troubleshoot basic envoy stats for an upstream
  troubleshoot/proxy/stats.go
  troubleshoot/proxy/troubleshoot_proxy.go
Labels: pr/no-changelog

#16219 Add some fixes to allow for registering via consul connect envoy -gateway api
  api/agent.go
  api/config_entry_routes.go
  command/connect/envoy/envoy.go
Labels: theme/api, theme/cli, pr/no-changelog

#16200 Synthesize anonymous token pre-bootstrap when needed
  acl/acl.go
  agent/consul/acl_server.go
  agent/consul/leader.go
  api/acl_test.go
  api/api_test.go
Labels: theme/acls, pr/no-changelog

#16226 update the api in envoyextensions and troubleshoot modules
  envoyextensions/go.mod
  go.mod
  troubleshoot/go.mod
  troubleshoot/go.sum
Labels: pr/dependencies, pr/no-changelog

#16230 Fix peering acceptors in secondary datacenters.
  .changelog/16230.txt
  agent/consul/leader.go
  agent/consul/leader_test.go
  test/integration/consul-container/test/wanfed/wanfed_peering_test.go
Labels: backport/1.14

#16225 [API Gateway] Add integration test for conflicted TCP listeners
  agent/proxycfg/snapshot.go
  agent/structs/config_entry_gateways.go
  test/integration/connect/envoy/case-api-gateway-tcp-conflicted/capture.sh
  test/integration/connect/envoy/case-api-gateway-tcp-conflicted/service_gateway.hcl
  test/integration/connect/envoy/case-api-gateway-tcp-conflicted/setup.sh
  test/integration/connect/envoy/case-api-gateway-tcp-conflicted/vars.sh
  test/integration/connect/envoy/case-api-gateway-tcp-conflicted/verify.bats
  test/integration/connect/envoy/case-api-gateway-tcp-simple/verify.bats
  test/integration/connect/envoy/helpers.bash
Labels: pr/no-changelog

#16133 Backport of Docs: change connect to SM for mTLS page into stable-website
  website/content/docs/connect/connect-internals.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.13, backport/1.14

#16233 Fix peering acceptors in secondary datacenters.
  .changelog/16230.txt
  agent/consul/leader.go
  agent/consul/leader_test.go
Labels: theme/acls, type/ci, theme/contributing, theme/agent-cache

#16235 troubleshoot: make output have tables and colors
  command/agent/agent_test.go
  command/cli/cli.go
  command/cli/formatting.go
  command/troubleshoot/proxy/troubleshoot_proxy.go
  command/troubleshoot/proxy/troubleshoot_proxy_test.go
  command/troubleshoot/upstreams/troubleshoot_upstreams.go
  command/troubleshoot/upstreams/troubleshoot_upstreams_test.go
  go.mod
  go.sum
Labels: theme/cli, pr/dependencies, pr/no-changelog

#16237 [API Gateway] Fix missing references to enterprise metadata
  agent/proxycfg/api_gateway.go
Labels: pr/no-changelog, theme/api-gw

#16228 [API Gateway] Update simple test to leverage intentions and multiple listeners
  agent/proxycfg/api_gateway.go
  agent/proxycfg/proxycfg.deepcopy.go
  agent/proxycfg/snapshot.go
  agent/proxycfg/snapshot_test.go
  agent/proxycfg/upstreams.go
  test/integration/connect/envoy/case-api-gateway-tcp-simple/setup.sh
  test/integration/connect/envoy/case-api-gateway-tcp-simple/verify.bats
Labels: pr/no-changelog, theme/api-gw

#16239 UI: add Vercel info to the ui readme
  ui/packages/consul-ui/README.md
Labels: theme/ui, pr/no-changelog

#16241 Bump x/time to 0.3.0 and fix related breakage linked to RPCRateLimit
  agent/config/builder.go
  agent/config/runtime_test.go
  go.mod
  go.sum
Labels: theme/config, pr/dependencies, pr/no-changelog

#16204 UI: CC-4032 - Update sidebar width
  .changelog/16204.txt
  ui/packages/consul-ui/app/components/app/index.scss
  ui/packages/consul-ui/app/components/main-nav-vertical/layout.scss
  ui/packages/consul-ui/app/styles/variables/layout.scss
  ui/packages/consul-ui/app/templates/application.hbs
Labels: theme/ui

#16231 upgrade test: peering with http router config entry
  test/integration/consul-container/libs/assert/envoy.go
  test/integration/consul-container/libs/assert/service.go
  test/integration/consul-container/libs/service/connect.go
  test/integration/consul-container/libs/service/gateway.go
  test/integration/consul-container/libs/service/helpers.go
  test/integration/consul-container/libs/topology/peering_topology.go
  test/integration/consul-container/test/upgrade/peering_control_plane_mgw_test.go
  test/integration/consul-container/test/upgrade/peering_http_test.go
Labels: pr/no-changelog

#16236 [API Gateway] Add integration test for HTTP routes
  agent/connect/sni.go
  agent/consul/discoverychain/gateway.go
  agent/consul/discoverychain/gateway_httproute.go
  agent/consul/discoverychain/gateway_test.go
  agent/consul/gateways/controller_gateways.go
  agent/consul/gateways/controller_gateways_test.go
  agent/proxycfg/snapshot.go
  agent/proxycfg/snapshot_test.go
  api/config_entry_routes.go
  test/integration/connect/envoy/case-api-gateway-http-simple/capture.sh
  test/integration/connect/envoy/case-api-gateway-http-simple/service_gateway.hcl
  test/integration/connect/envoy/case-api-gateway-http-simple/setup.sh
  test/integration/connect/envoy/case-api-gateway-http-simple/vars.sh
  test/integration/connect/envoy/case-api-gateway-http-simple/verify.bats
Labels: theme/api, theme/connect, pr/no-changelog, theme/api-gw

#16246 integ test: fix retry upstream test
  test/integration/connect/envoy/case-dogstatsd-udp/verify.bats
  test/integration/connect/envoy/case-statsd-udp/verify.bats
  test/integration/connect/envoy/case-zipkin/verify.bats
  test/integration/connect/envoy/helpers.bash
Labels: pr/no-changelog

#16243 get clusters from route if listener uses RDS
  troubleshoot/proxy/testdata/listeners.json
  troubleshoot/proxy/testdata/upstreams/config.json
  troubleshoot/proxy/upstreams.go
  troubleshoot/proxy/upstreams_test.go
Labels: pr/no-changelog

#16247 Update index.mdx
  website/content/docs/connect/dataplane/index.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.14

#16248 Backport of Update index.mdx into stable-website
  website/content/docs/connect/dataplane/index.mdx
Labels: type/docs

#16256 [OSS] Post Consul 1.15 updates
  .github/workflows/nightly-test-1.15.x.yaml
  version/VERSION
Labels: theme/contributing, pr/no-changelog

#16223 add integration tests for troubleshoot
  test/integration/consul-container/libs/service/connect.go
  test/integration/consul-container/libs/service/examples.go
  test/integration/consul-container/libs/service/gateway.go
  test/integration/consul-container/libs/service/helpers.go
  test/integration/consul-container/libs/service/service.go
  test/integration/consul-container/libs/topology/service_topology.go
  test/integration/consul-container/test/observability/access_logs_test.go
  test/integration/consul-container/test/troubleshoot/troubleshoot_test.go
Labels: pr/no-changelog, backport/1.15

#16271 upgrade test: fix flaky peering through mesh gateway
  test/integration/consul-container/libs/assert/envoy.go
  test/integration/consul-container/libs/service/connect.go
  test/integration/consul-container/libs/service/examples.go
  test/integration/consul-container/libs/service/gateway.go
  test/integration/consul-container/libs/service/service.go
  test/integration/consul-container/libs/topology/peering_topology.go
  test/integration/consul-container/test/peering/rotate_server_and_ca_then_fail_test.go
  test/integration/consul-container/test/upgrade/peering_control_plane_mgw_test.go
  test/integration/consul-container/test/upgrade/peering_http_test.go
Labels: pr/no-changelog, backport/1.15

#16254 Support inline-certificate as payload of config-entry wrapper
  proto/pbconfigentry/config_entry.go
  proto/pbconfigentry/config_entry.pb.go
  proto/pbconfigentry/config_entry.proto
Labels: pr/no-changelog, theme/api-gw, backport/1.15

#16274 [OSS] connect: Bump Envoy 1.22.5 to 1.22.7, 1.23.2 to 1.23.4, 1.24.0 to 1.24.2, add 1.25.1, remove 1.21.5
  .changelog/16274.txt
  .circleci/config.yml
  envoyextensions/xdscommon/envoy_versioning_test.go
  envoyextensions/xdscommon/proxysupport.go
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, type/ci

#16277 Fix nil-pointer panics from proxycfg package.
  agent/proxycfg/api_gateway.go
  agent/proxycfg/ingress_gateway.go
  agent/proxycfg/manager.go
  agent/proxycfg/state.go
Labels: pr/no-changelog, backport/1.15

#16269 Backport xDS performance fix to 1.13.x
  .changelog/16269.txt
  .circleci/config.yml
  GNUmakefile
  agent/proxycfg/deep-copy.sh
  agent/proxycfg/internal/watch/watchmap.go
  agent/proxycfg/internal/watch/watchmap_test.go
  agent/proxycfg/manager_test.go
  agent/proxycfg/proxycfg.deepcopy.go
  agent/proxycfg/proxycfg.go
  agent/proxycfg/snapshot.go
  agent/proxycfg/snapshot_test.go
  agent/proxycfg/state.go
  agent/structs/deep-copy.sh
  agent/structs/structs.deepcopy.go
  agent/structs/structs.go
  build-support/scripts/devtools.sh
  proto/pbpeering/deep-copy.sh
  proto/pbpeering/peering.deepcopy.go
Labels: type/ci

#16276 Fix infinite recursion in inline-certificate config entry
  agent/structs/config_entry_inline_certificate.go
  api/config_entry_inline_certificate.go
  api/config_entry_inline_certificate_test.go
Labels: theme/api, pr/no-changelog, theme/api-gw, backport/1.15

#16281 Backport of Fix infinite recursion in inline-certificate config entry into release/1.15.x
  agent/structs/config_entry_inline_certificate.go
  api/config_entry_inline_certificate.go
  api/config_entry_inline_certificate_test.go
Labels: theme/api

#16264 Docs/reformat service splitters conf entry
  website/content/docs/connect/config-entries/service-splitter.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test

#16257 Fix mesh gateways incorrectly matching peer locality.
  .changelog/16257.txt
  agent/proxycfg/testing_mesh_gateway.go
  agent/proxycfg/testing_upstreams.go
  agent/structs/testing_catalog.go
  agent/xds/endpoints.go
Labels: theme/envoy/xds, backport/1.14, backport/1.15

#16286 Backport of Fix mesh gateways incorrectly matching peer locality. into release/1.14.x
  .changelog/16257.txt
  agent/proxycfg/testing_mesh_gateway.go
  agent/proxycfg/testing_upstreams.go
  agent/structs/testing_catalog.go
  agent/xds/endpoints.go
Labels: theme/envoy/xds

#16287 Backport of Fix mesh gateways incorrectly matching peer locality. into release/1.15.x
  .changelog/16257.txt
  agent/proxycfg/testing_mesh_gateway.go
  agent/proxycfg/testing_upstreams.go
  agent/structs/testing_catalog.go
  agent/xds/endpoints.go
Labels: theme/envoy/xds

#16221 API Gateway Envoy Golden Listener Tests
  agent/proxycfg/testing_api_gateway.go
  agent/xds/listeners_test.go
  agent/xds/testdata/listeners/api-gateway-http-listener-with-http-route.latest.golden
  agent/xds/testdata/listeners/api-gateway-http-listener.latest.golden
  agent/xds/testdata/listeners/api-gateway-nil-config-entry.latest.golden
  agent/xds/testdata/listeners/api-gateway-tcp-listener-with-tcp-and-http-route.latest.golden
  agent/xds/testdata/listeners/api-gateway-tcp-listener-with-tcp-route.latest.golden
  agent/xds/testdata/listeners/api-gateway-tcp-listener.latest.golden
  agent/xds/testdata/listeners/api-gateway-tcp-listeners.latest.golden
  agent/xds/testdata/listeners/api-gateway.latest.golden
  test/integration/connect/envoy/case-api-gateway-tcp-conflicted/setup.sh
  test/integration/connect/envoy/case-api-gateway-tcp-simple/setup.sh
  test/integration/connect/envoy/case-api-gateway-tcp-simple/verify.bats
Labels: theme/envoy/xds, pr/no-changelog, theme/api-gw

#16297 Fix up API Gateway go tests
  test/integration/consul-container/libs/cluster/agent.go
  test/integration/consul-container/libs/cluster/cluster.go
  test/integration/consul-container/libs/cluster/container.go
  test/integration/consul-container/libs/service/connect.go
  test/integration/consul-container/libs/service/examples.go
  test/integration/consul-container/libs/service/gateway.go
  test/integration/consul-container/libs/service/service.go
  test/integration/consul-container/test/gateways/gateway_endpoint_test.go
Labels: pr/no-changelog

#16294 troubleshoot: fixes and updated messages
  agent/xds/validateupstream-test/validateupstream_test.go
  command/troubleshoot/proxy/troubleshoot_proxy.go
  command/troubleshoot/upstreams/troubleshoot_upstreams.go
  test/integration/consul-container/test/troubleshoot/troubleshoot_test.go
  troubleshoot/proxy/certs.go
  troubleshoot/proxy/certs_test.go
  troubleshoot/proxy/stats.go
  troubleshoot/proxy/troubleshoot_proxy.go
  troubleshoot/proxy/upstreams.go
  troubleshoot/proxy/upstreams_test.go
  troubleshoot/validate/validate.go
  troubleshoot/validate/validate_test.go
Labels: theme/cli, theme/envoy/xds, pr/no-changelog, backport/1.15

#16295 Inline API Gateway TLS cert code
  agent/proxycfg/proxycfg.deepcopy.go
  agent/proxycfg/snapshot.go
  agent/proxycfg/testing_api_gateway.go
  agent/structs/config_entry_inline_certificate.go
  agent/structs/config_entry_status.go
  agent/xds/delta.go
  agent/xds/listeners.go
  agent/xds/listeners_ingress.go
  agent/xds/listeners_test.go
  agent/xds/resources.go
  agent/xds/resources_test.go
  agent/xds/secrets.go
  agent/xds/testcommon/testcommon.go
  agent/xds/testdata/clusters/api-gateway-with-tcp-route-and-inline-certificate.envoy-1-21-x.golden
  agent/xds/testdata/clusters/api-gateway-with-tcp-route-and-inline-certificate.latest.golden
  agent/xds/testdata/endpoints/api-gateway-with-tcp-route-and-inline-certificate.latest.golden
  agent/xds/testdata/listeners/api-gateway-http-listener-with-http-route.latest.golden
  agent/xds/testdata/listeners/api-gateway-http-listener.latest.golden
  agent/xds/testdata/listeners/api-gateway-nil-config-entry.latest.golden
  agent/xds/testdata/listeners/api-gateway-tcp-listener-with-tcp-and-http-route.latest.golden
  agent/xds/testdata/listeners/api-gateway-tcp-listener-with-tcp-route.latest.golden
  agent/xds/testdata/listeners/api-gateway-tcp-listener.latest.golden
  agent/xds/testdata/listeners/api-gateway-with-tcp-route-and-inline-certificate.latest.golden
  agent/xds/testdata/routes/api-gateway-with-tcp-route-and-inline-certificate.latest.golden
  agent/xds/testdata/secrets/api-gateway-with-tcp-route-and-inline-certificate.latest.golden
  agent/xds/testdata/secrets/connect-proxy-exported-to-peers.latest.golden
  agent/xds/testdata/secrets/connect-proxy-with-chain-and-failover-to-cluster-peer.latest.golden
  agent/xds/testdata/secrets/connect-proxy-with-chain-and-redirect-to-cluster-peer.latest.golden
  agent/xds/testdata/secrets/connect-proxy-with-peered-upstreams.latest.golden
  agent/xds/testdata/secrets/defaults.latest.golden
  agent/xds/testdata/secrets/local-mesh-gateway-with-peered-upstreams.latest.golden
  agent/xds/testdata/secrets/mesh-gateway-peering-control-plane.latest.golden
  agent/xds/testdata/secrets/mesh-gateway-with-exported-peered-services-http-with-router.latest.golden
  agent/xds/testdata/secrets/mesh-gateway-with-exported-peered-services-http.latest.golden
  agent/xds/testdata/secrets/mesh-gateway-with-exported-peered-services.latest.golden
  agent/xds/testdata/secrets/mesh-gateway-with-imported-peered-services.latest.golden
  agent/xds/testdata/secrets/mesh-gateway-with-peer-through-mesh-gateway-enabled.latest.golden
  agent/xds/testdata/secrets/transparent-proxy-destination-http.latest.golden
  agent/xds/testdata/secrets/transparent-proxy-destination.latest.golden
  agent/xds/testdata/secrets/transparent-proxy-terminating-gateway-destinations-only.latest.golden
  agent/xds/testdata/secrets/transparent-proxy-with-peered-upstreams.latest.golden
  agent/xds/testdata/secrets/transparent-proxy.latest.golden
  test/integration/connect/envoy/case-api-gateway-http-tls-overlapping-hosts/capture.sh
  test/integration/connect/envoy/case-api-gateway-http-tls-overlapping-hosts/service_gateway.hcl
  test/integration/connect/envoy/case-api-gateway-http-tls-overlapping-hosts/setup.sh
  test/integration/connect/envoy/case-api-gateway-http-tls-overlapping-hosts/vars.sh
  test/integration/connect/envoy/case-api-gateway-http-tls-overlapping-hosts/verify.bats
  test/integration/connect/envoy/case-api-gateway-tcp-tls-overlapping-hosts/capture.sh
  test/integration/connect/envoy/case-api-gateway-tcp-tls-overlapping-hosts/service_gateway.hcl
  test/integration/connect/envoy/case-api-gateway-tcp-tls-overlapping-hosts/setup.sh
  test/integration/connect/envoy/case-api-gateway-tcp-tls-overlapping-hosts/vars.sh
  test/integration/connect/envoy/case-api-gateway-tcp-tls-overlapping-hosts/verify.bats
  test/integration/connect/envoy/helpers.bash
Labels: pr/no-changelog, theme/api-gw, backport/1.15

#16307 ISSUE_TEMPLATE: Update issue template to include ask for HCL config files for bugs
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: theme/contributing, pr/no-changelog

#16300 Fix hostname alignment checks for HTTPRoutes
  agent/consul/discoverychain/gateway.go
  agent/consul/discoverychain/gateway_test.go
  agent/consul/gateways/controller_gateways.go
  agent/proxycfg/snapshot.go
  agent/structs/config_entry_gateways.go
  agent/structs/config_entry_routes.go
  test/integration/connect/envoy/case-api-gateway-http-hostnames/capture.sh
  test/integration/connect/envoy/case-api-gateway-http-hostnames/service_gateway.hcl
  test/integration/connect/envoy/case-api-gateway-http-hostnames/setup.sh
  test/integration/connect/envoy/case-api-gateway-http-hostnames/vars.sh
  test/integration/connect/envoy/case-api-gateway-http-hostnames/verify.bats
Labels: pr/no-changelog, theme/api-gw, backport/1.15

#16309 Backport: troubleshoot: fixes and updated messages
  agent/xds/validateupstream-test/validateupstream_test.go
  command/troubleshoot/proxy/troubleshoot_proxy.go
  command/troubleshoot/upstreams/troubleshoot_upstreams.go
  test/integration/consul-container/test/troubleshoot/troubleshoot_upstream_test.go
  troubleshoot/proxy/certs.go
  troubleshoot/proxy/certs_test.go
  troubleshoot/proxy/stats.go
  troubleshoot/proxy/troubleshoot_proxy.go
  troubleshoot/proxy/upstreams.go
  troubleshoot/proxy/upstreams_test.go
  troubleshoot/validate/validate.go
  troubleshoot/validate/validate_test.go
Labels: theme/api, theme/cli, theme/envoy/xds, pr/no-changelog

#16305 Fix panicky xDS test flakes
  agent/xds/testing.go
Labels: theme/envoy/xds, pr/no-changelog, backport/1.15

#16304 Add stricter validation and some normalization code for API Gateway ConfigEntries
  agent/structs/config_entry_gateways.go
  agent/structs/config_entry_inline_certificate.go
  agent/structs/config_entry_inline_certificate_test.go
  agent/structs/config_entry_routes.go
  agent/structs/config_entry_routes_test.go
  api/config_entry_inline_certificate_test.go
Labels: pr/no-changelog, theme/api-gw, backport/1.15

#16310 Backport of Fix panicky xDS test flakes into release/1.15.x
  agent/xds/testing.go
Labels: theme/envoy/xds

#16313 ISSUE TEMPLATE: update issue templates to include comments instead of inline text for instructions
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/ui_issues.md
  .github/pull_request_template.md
Labels: theme/contributing, pr/no-changelog

#16306 Backport of Inline API Gateway TLS cert code into release/1.15.x
  agent/proxycfg/proxycfg.deepcopy.go
  agent/proxycfg/snapshot.go
  agent/proxycfg/testing_api_gateway.go
  agent/structs/config_entry_inline_certificate.go
  agent/structs/config_entry_status.go
  agent/xds/delta.go
  agent/xds/listeners.go
  agent/xds/listeners_ingress.go
  agent/xds/listeners_test.go
  agent/xds/resources.go
  agent/xds/resources_test.go
  agent/xds/secrets.go
  agent/xds/testcommon/testcommon.go
  agent/xds/testdata/clusters/api-gateway-with-tcp-route-and-inline-certificate.latest.golden
  agent/xds/testdata/endpoints/api-gateway-with-tcp-route-and-inline-certificate.latest.golden
  agent/xds/testdata/listeners/api-gateway-http-listener-with-http-route.latest.golden
  agent/xds/testdata/listeners/api-gateway-http-listener.latest.golden
  agent/xds/testdata/listeners/api-gateway-nil-config-entry.latest.golden
  agent/xds/testdata/listeners/api-gateway-tcp-listener-with-tcp-and-http-route.latest.golden
  agent/xds/testdata/listeners/api-gateway-tcp-listener-with-tcp-route.latest.golden
  agent/xds/testdata/listeners/api-gateway-tcp-listener.latest.golden
  agent/xds/testdata/listeners/api-gateway-with-tcp-route-and-inline-certificate.latest.golden
  agent/xds/testdata/listeners/api-gateway.latest.golden
  agent/xds/testdata/routes/api-gateway-with-tcp-route-and-inline-certificate.latest.golden
  agent/xds/testdata/secrets/api-gateway-with-tcp-route-and-inline-certificate.latest.golden
  agent/xds/testdata/secrets/connect-proxy-exported-to-peers.latest.golden
  agent/xds/testdata/secrets/connect-proxy-with-chain-and-failover-to-cluster-peer.latest.golden
  agent/xds/testdata/secrets/connect-proxy-with-chain-and-redirect-to-cluster-peer.latest.golden
  agent/xds/testdata/secrets/connect-proxy-with-peered-upstreams.latest.golden
  agent/xds/testdata/secrets/defaults.latest.golden
  agent/xds/testdata/secrets/local-mesh-gateway-with-peered-upstreams.latest.golden
  agent/xds/testdata/secrets/mesh-gateway-peering-control-plane.latest.golden
  agent/xds/testdata/secrets/mesh-gateway-with-exported-peered-services-http-with-router.latest.golden
  agent/xds/testdata/secrets/mesh-gateway-with-exported-peered-services-http.latest.golden
  agent/xds/testdata/secrets/mesh-gateway-with-exported-peered-services.latest.golden
  agent/xds/testdata/secrets/mesh-gateway-with-imported-peered-services.latest.golden
  agent/xds/testdata/secrets/mesh-gateway-with-peer-through-mesh-gateway-enabled.latest.golden
  agent/xds/testdata/secrets/transparent-proxy-destination-http.latest.golden
  agent/xds/testdata/secrets/transparent-proxy-destination.latest.golden
  agent/xds/testdata/secrets/transparent-proxy-terminating-gateway-destinations-only.latest.golden
  agent/xds/testdata/secrets/transparent-proxy-with-peered-upstreams.latest.golden
  agent/xds/testdata/secrets/transparent-proxy.latest.golden
  test/integration/connect/envoy/case-api-gateway-http-tls-overlapping-hosts/capture.sh
  test/integration/connect/envoy/case-api-gateway-http-tls-overlapping-hosts/service_gateway.hcl
  test/integration/connect/envoy/case-api-gateway-http-tls-overlapping-hosts/setup.sh
  test/integration/connect/envoy/case-api-gateway-http-tls-overlapping-hosts/vars.sh
  test/integration/connect/envoy/case-api-gateway-http-tls-overlapping-hosts/verify.bats
  test/integration/connect/envoy/case-api-gateway-tcp-tls-overlapping-hosts/capture.sh
  test/integration/connect/envoy/case-api-gateway-tcp-tls-overlapping-hosts/service_gateway.hcl
  test/integration/connect/envoy/case-api-gateway-tcp-tls-overlapping-hosts/setup.sh
  test/integration/connect/envoy/case-api-gateway-tcp-tls-overlapping-hosts/vars.sh
  test/integration/connect/envoy/case-api-gateway-tcp-tls-overlapping-hosts/verify.bats
  test/integration/connect/envoy/helpers.bash
Labels: theme/envoy/xds

#16263 [OSS] security: update go to 1.20.1
  .changelog/16263.txt
  .circleci/config.yml
  .github/workflows/build.yml
  GNUmakefile
  agent/agent_test.go
  agent/consul/auto_config_endpoint_test.go
  agent/consul/internal_endpoint_test.go
  agent/consul/leader_peering_test.go
  agent/consul/state/acl_test.go
  agent/coordinate_endpoint_test.go
  agent/grpc-external/limiter/limiter_test.go
  agent/prepared_query_endpoint_test.go
  agent/testagent.go
  agent/txn_endpoint_test.go
  api/go.mod
  build-support/docker/Build-Go.dockerfile
  command/members/members_test.go
  envoyextensions/go.mod
  go.mod
  lib/rand.go
  main.go
  proto-public/pbdns/mock_DNSServiceClient.go
  proto-public/pbdns/mock_DNSServiceServer.go
  proto-public/pbdns/mock_UnsafeDNSServiceServer.go
  sdk/freeport/freeport.go
  sdk/go.mod
  test/integration/consul-container/go.mod
  tlsutil/config_test.go
  troubleshoot/go.mod
Labels: type/ci, theme/contributing, backport/1.15

#16315 Backport of Fix hostname alignment checks for HTTPRoutes into release/1.15.x
  agent/consul/discoverychain/gateway.go
  agent/consul/discoverychain/gateway_test.go
  agent/consul/gateways/controller_gateways.go
  agent/proxycfg/snapshot.go
  agent/structs/config_entry_gateways.go
  agent/structs/config_entry_routes.go
  test/integration/connect/envoy/case-api-gateway-http-hostnames/capture.sh
  test/integration/connect/envoy/case-api-gateway-http-hostnames/service_gateway.hcl
  test/integration/connect/envoy/case-api-gateway-http-hostnames/setup.sh
  test/integration/connect/envoy/case-api-gateway-http-hostnames/vars.sh
  test/integration/connect/envoy/case-api-gateway-http-hostnames/verify.bats
Labels: pr/no-changelog

#16314 Backport of [OSS] security: update go to 1.20.1 into release/1.15.x
  .changelog/16263.txt
  .circleci/config.yml
  .github/workflows/build.yml
  GNUmakefile
  agent/agent_test.go
  agent/consul/auto_config_endpoint_test.go
  agent/consul/internal_endpoint_test.go
  agent/consul/leader_peering_test.go
  agent/consul/state/acl_test.go
  agent/coordinate_endpoint_test.go
  agent/grpc-external/limiter/limiter_test.go
  agent/prepared_query_endpoint_test.go
  agent/testagent.go
  agent/txn_endpoint_test.go
  api/go.mod
  build-support/docker/Build-Go.dockerfile
  command/members/members_test.go
  envoyextensions/go.mod
  go.mod
  lib/rand.go
  main.go
  proto-public/pbdns/mock_DNSServiceClient.go
  proto-public/pbdns/mock_DNSServiceServer.go
  proto-public/pbdns/mock_UnsafeDNSServiceServer.go
  sdk/freeport/freeport.go
  sdk/go.mod
  test/integration/consul-container/go.mod
  tlsutil/config_test.go
  troubleshoot/go.mod
Labels: theme/api, theme/cli, theme/tls, type/ci, pr/dependencies, theme/contributing, theme/internals, theme/certificates

#16317 Backport of Add stricter validation and some normalization code for API Gateway ConfigEntries into release/1.15.x
  agent/structs/config_entry_gateways.go
  agent/structs/config_entry_inline_certificate.go
  agent/structs/config_entry_inline_certificate_test.go
  agent/structs/config_entry_routes.go
  agent/structs/config_entry_routes_test.go
  api/config_entry_inline_certificate_test.go
Labels: theme/api, pr/no-changelog

#16284 new docs for consul and consul-k8s troubleshoot command
  .changelog/16284.txt
  website/content/commands/index.mdx
  website/content/commands/troubleshoot/index.mdx
  website/content/commands/troubleshoot/proxy.mdx
  website/content/commands/troubleshoot/upstreams.mdx
  website/content/docs/k8s/k8s-cli.mdx
  website/data/commands-nav-data.json
Labels: type/docs, backport/1.15

#16316 Normalize all API Gateway references
  agent/structs/config_entry_gateways.go
  agent/structs/config_entry_routes.go
Labels: pr/no-changelog, backport/1.15

#16322 Fix HTTPRoute and TCPRoute expectation for enterprise metadata
  agent/structs/config_entry_routes_test.go
Labels: pr/no-changelog, backport/1.15

#16321 Manual Backport of [OSS] security: update go to 1.20.1 into release/1.14.x
  .changelog/16263.txt
  .circleci/config.yml
  .github/workflows/build.yml
  .golangci.yml
  GNUmakefile
  agent/agent_test.go
  agent/consul/auto_config_endpoint_test.go
  agent/consul/internal_endpoint_test.go
  agent/consul/leader_peering_test.go
  agent/consul/state/acl_test.go
  agent/coordinate_endpoint_test.go
  agent/grpc-external/limiter/limiter_test.go
  agent/prepared_query_endpoint_test.go
  agent/rpc/middleware/interceptors_test.go
  agent/testagent.go
  agent/txn_endpoint_test.go
  api/go.mod
  api/go.sum
  build-support/docker/Build-Go.dockerfile
  command/members/members_test.go
  go.mod
  go.sum
  lib/rand.go
  main.go
  proto-public/pbdns/mock_DNSServiceClient.go
  proto-public/pbdns/mock_DNSServiceServer.go
  proto-public/pbdns/mock_UnsafeDNSServiceServer.go
  sdk/freeport/freeport.go
  sdk/go.mod
  test/integration/consul-container/go.mod
  tlsutil/config_test.go
Labels: type/docs, theme/api, theme/health-checks, theme/acls, theme/cli, theme/config, theme/ui, theme/connect, theme/tls, theme/telemetry, type/ci, pr/dependencies, theme/envoy/xds, theme/contributing, theme/internals, theme/certificates, theme/agent-cache

#16323 fix: revert go mod compat for sdk,api to 1.19
  api/go.mod
  envoyextensions/go.mod
  sdk/freeport/freeport.go
  sdk/go.mod
  troubleshoot/go.mod
Labels: theme/api, pr/no-changelog, backport/1.14, backport/1.15

#16328 Backport of fix: revert go mod compat for sdk,api to 1.19 into release/1.15.x
  api/go.mod
  envoyextensions/go.mod
  sdk/freeport/freeport.go
  sdk/go.mod
  troubleshoot/go.mod
Labels: theme/api

#16301 fix: add tls config to unix socket when https is used
  .changelog/16301.txt
  agent/agent.go
  agent/http_test.go
Labels: backport/1.13, backport/1.14, backport/1.15

#16338 fix rate limit tests flakiness
  test/integration/consul-container/test/ratelimit/ratelimit_test.go
Labels: pr/no-changelog

#16049 chore: document and unit test sdk/testutil/retry
  sdk/testutil/retry/retry.go
  sdk/testutil/retry/retry_test.go
Labels: pr/no-changelog

#16340 [API Gateway] Validate listener name is not empty
  agent/structs/config_entry_gateways.go
  agent/structs/config_entry_gateways_test.go
  api/config_entry_gateways.go
  test/integration/connect/envoy/case-api-gateway-tcp-conflicted/setup.sh
Labels: pr/no-changelog, theme/api-gw, backport/1.15

#16341 Backport of [API Gateway] Validate listener name is not empty into release/1.15.x
  agent/structs/config_entry_gateways.go
  agent/structs/config_entry_gateways_test.go
  api/config_entry_gateways.go
  test/integration/connect/envoy/case-api-gateway-tcp-conflicted/setup.sh
Labels: theme/api

#16339 Fix issue with peer services incorrectly appearing as connect-enabled.
  .changelog/16339.txt
  agent/consul/state/catalog.go
  agent/consul/state/catalog_test.go
  agent/consul/state/peering.go
  agent/consul/state/peering_test.go
  agent/grpc-external/services/peerstream/stream_test.go
  agent/grpc-external/services/peerstream/subscription_manager.go
  agent/grpc-external/services/peerstream/subscription_manager_test.go
  agent/proxycfg-glue/exported_peered_services_test.go
  agent/structs/peering.go
  agent/structs/structs.go
Labels: backport/1.14, backport/1.15

#16348 [API Gateway] Turn down controller log levels
  agent/consul/gateways/controller_gateways.go
Labels: pr/no-changelog, theme/api-gw, backport/1.15

#16350 [API Gateway] Fix targeting service splitters in HTTPRoutes
  agent/consul/discoverychain/gateway.go
  agent/consul/discoverychain/gateway_test.go
  agent/structs/config_entry_routes.go
  test/integration/connect/envoy/case-api-gateway-http-splitter-targets/capture.sh
  test/integration/connect/envoy/case-api-gateway-http-splitter-targets/service_gateway.hcl
  test/integration/connect/envoy/case-api-gateway-http-splitter-targets/service_s3.hcl
  test/integration/connect/envoy/case-api-gateway-http-splitter-targets/setup.sh
  test/integration/connect/envoy/case-api-gateway-http-splitter-targets/vars.sh
  test/integration/connect/envoy/case-api-gateway-http-splitter-targets/verify.bats
Labels: pr/no-changelog, theme/api-gw, backport/1.15

#16347 [API Gateway] Various fixes for Config Entry fields
  agent/consul/discoverychain/gateway_httproute.go
  agent/structs/config_entry_routes.go
  agent/structs/structs.deepcopy.go
  api/config_entry_routes.go
  proto/private/pbconfigentry/config_entry.gen.go
  proto/private/pbconfigentry/config_entry.pb.go
  proto/private/pbconfigentry/config_entry.proto
Labels: theme/api, pr/no-changelog, theme/api-gw, backport/1.15

#16356 upgrade test: splitter and resolver config entry in peered cluster
  test/integration/consul-container/libs/assert/service.go
  test/integration/consul-container/libs/cluster/container.go
  test/integration/consul-container/libs/service/connect.go
  test/integration/consul-container/libs/service/examples.go
  test/integration/consul-container/libs/service/gateway.go
  test/integration/consul-container/libs/service/helpers.go
  test/integration/consul-container/libs/service/service.go
  test/integration/consul-container/test/upgrade/peering_http_test.go
Labels: pr/no-changelog, backport/1.15

#16358 Upgrade Alpine image to 3.17
  .changelog/16358.txt
  Dockerfile
  test/integration/connect/envoy/Dockerfile-tcpdump
  test/integration/connect/envoy/helpers.bash
Labels: backport/1.13, backport/1.14, backport/1.15

#16360 Update existing docs from Consul API Gateway -> API Gateway for Kubernetes
  website/content/docs/api-gateway/index.mdx
  website/content/docs/api-gateway/install.mdx
  website/content/docs/api-gateway/tech-specs.mdx
  website/content/docs/api-gateway/upgrades.mdx
  website/content/docs/api-gateway/usage/usage.mdx
  website/data/docs-nav-data.json
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test, theme/api-gw, backport/1.15

#16296 NET-2286: Add tests for service resolver with onlypassing set to true
  test/integration/consul-container/libs/assert/envoy.go
  test/integration/consul-container/libs/cluster/cluster.go
  test/integration/consul-container/libs/service/helpers.go
  test/integration/consul-container/test/upgrade/l7_traffic_management/resolver_default_subset_test.go
  test/integration/consul-container/test/upgrade/l7_traffic_management/resolver_subset_onlypassing_test.go
  test/integration/consul-container/test/upgrade/peering_http_test.go
Labels: pr/no-changelog, backport/1.15

#16369 Add changelog entry for API Gateway (Beta)
  .changelog/16369.txt
Labels: theme/api-gw, backport/1.15

#16377 [API Gateway] Fix infinite loop in controller and binding non-accepted routes and gateways
  agent/consul/gateways/controller_gateways.go
  agent/consul/gateways/controller_gateways_test.go
  agent/structs/config_entry_status.go
Labels: pr/no-changelog, theme/api-gw, backport/1.15

#16373 Revert "feat: envoy extension - http local rate limit (#16196)"
  agent/envoyextensions/builtin/http/localratelimit/copied.go
  agent/envoyextensions/builtin/http/localratelimit/ratelimit.go
  agent/envoyextensions/builtin/http/localratelimit/ratelimit_test.go
  agent/envoyextensions/registered_extensions.go
  agent/xds/delta_envoy_extender_oss_test.go
  agent/xds/testdata/builtin_extension/clusters/http-local-ratelimit-applyto-filter.latest.golden
  agent/xds/testdata/builtin_extension/endpoints/http-local-ratelimit-applyto-filter.latest.golden
  agent/xds/testdata/builtin_extension/listeners/http-local-ratelimit-applyto-filter.latest.golden
  agent/xds/testdata/builtin_extension/routes/http-local-ratelimit-applyto-filter.latest.golden
  api/config_entry.go
  go.mod
  test/integration/connect/envoy/case-envoyext-ratelimit/capture.sh
  test/integration/connect/envoy/case-envoyext-ratelimit/service_s1.hcl
  test/integration/connect/envoy/case-envoyext-ratelimit/service_s2.hcl
  test/integration/connect/envoy/case-envoyext-ratelimit/setup.sh
  test/integration/connect/envoy/case-envoyext-ratelimit/vars.sh
  test/integration/connect/envoy/case-envoyext-ratelimit/verify.bats
Labels: theme/api, pr/dependencies, theme/envoy/xds, pr/no-changelog

#16342 Rate limiter/add ip prefix
  agent/consul/multilimiter/multilimiter.go
  agent/consul/multilimiter/multilimiter_test.go
Labels: pr/no-changelog

#16285 Documentation update: Adding K8S clusters to external Consul servers
  website/content/docs/k8s/deployment-configurations/servers-outside-kubernetes.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.14

#16380 Backport of Documentation update: Adding K8S clusters to external Consul servers into release/1.15.x
  website/content/docs/k8s/deployment-configurations/servers-outside-kubernetes.mdx
Labels: type/docs

#16258 Add docs for usage endpoint and command
  website/content/api-docs/operator/usage.mdx
  website/content/commands/operator/index.mdx
  website/content/commands/operator/usage.mdx
  website/data/api-docs-nav-data.json
  website/data/commands-nav-data.json
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.15

#16366 Backport of Update existing docs from Consul API Gateway -> API Gateway for Kubernetes into stable-website
  website/content/docs/api-gateway/index.mdx
  website/content/docs/api-gateway/install.mdx
  website/content/docs/api-gateway/tech-specs.mdx
  website/content/docs/api-gateway/upgrades.mdx
  website/content/docs/api-gateway/usage/usage.mdx
  website/data/docs-nav-data.json
Labels: type/docs

#16371 NET-2285: Assert total number of expected instances by Consul
  test/integration/consul-container/test/upgrade/l7_traffic_management/resolver_default_subset_test.go
Labels: pr/no-changelog

#16374 [OSS] set BRANCH_NAME to release-1.15.x
  .github/workflows/nightly-test-1.15.x.yaml
Labels: pr/no-changelog, pr/no-metrics-test, pr/no-docs

#16345 Docs/rate limiting 1.15
  website/content/docs/agent/config/config-files.mdx
  website/content/docs/agent/config/index.mdx
  website/content/docs/agent/index.mdx
  website/content/docs/agent/limits/index.mdx
  website/content/docs/agent/limits/init-rate-limits.mdx
  website/content/docs/agent/limits/set-global-traffic-rate-limits.mdx
  website/content/docs/agent/telemetry.mdx
  website/data/docs-nav-data.json
Labels: type/docs, pr/no-changelog, pr/no-metrics-test, backport/1.15

#16384 Backport of Docs/rate limiting 1.15 into release/1.15.x
  website/content/docs/agent/config/config-files.mdx
  website/content/docs/agent/config/index.mdx
  website/content/docs/agent/index.mdx
  website/content/docs/agent/limits/index.mdx
  website/content/docs/agent/limits/init-rate-limits.mdx
  website/content/docs/agent/limits/set-global-traffic-rate-limits.mdx
  website/content/docs/agent/telemetry.mdx
  website/data/docs-nav-data.json
Labels: type/docs
