Repository hashicorp/consul, pull requests merged in 2023-01, with the labels that each got.

#15866 Fix agent cache incorrectly notifying unchanged protobufs.
  .changelog/15866.txt
  agent/cache/watch.go
  agent/cache/watch_test.go
Labels: theme/agent-cache, backport/1.14

#15888 Backport of Fix agent cache incorrectly notifying unchanged protobufs. into release/1.14.x
  .changelog/15866.txt
  agent/cache/watch.go
  agent/cache/watch_test.go
Labels: theme/agent-cache

#15865 Fix issue with incorrect proxycfg watch on upstream peer-targets.
  .changelog/15865.txt
  agent/proxycfg/snapshot.go
  agent/proxycfg/upstreams.go
  agent/xds/clusters.go
  agent/xds/listeners.go
Labels: theme/envoy/xds, backport/1.14

#15889 Backport of Fix issue with incorrect proxycfg watch on upstream peer-targets. into release/1.14.x
  .changelog/15865.txt
  agent/proxycfg/snapshot.go
  agent/proxycfg/upstreams.go
  agent/xds/clusters.go
  agent/xds/listeners.go
Labels: theme/envoy/xds

#15695 fix cli string for id flag in transfer leadership cli
  command/operator/raft/transferleader/transfer_leader.go
Labels: theme/cli, pr/no-changelog

#15346 grpc/acl: relax permissions required for "core" endpoints
  .changelog/15346.txt
  agent/grpc-external/services/connectca/sign_test.go
  agent/grpc-external/services/connectca/watch_roots.go
  agent/grpc-external/services/connectca/watch_roots_test.go
  agent/grpc-external/services/dataplane/get_envoy_bootstrap_params_test.go
  agent/grpc-external/services/dataplane/get_supported_features.go
  agent/grpc-external/services/dataplane/get_supported_features_test.go
  agent/grpc-external/services/serverdiscovery/watch_servers.go
  agent/grpc-external/services/serverdiscovery/watch_servers_test.go
  agent/grpc-external/testutils/acl.go
  agent/grpc-external/utils.go
Labels: backport/1.14

#15154 Update links to new get started tutorials
  website/content/docs/agent/config/index.mdx
  website/content/docs/agent/index.mdx
  website/content/docs/connect/index.mdx
  website/content/docs/install/index.mdx
  website/content/docs/k8s/index.mdx
  website/content/docs/k8s/installation/install.mdx
  website/content/docs/nia/usage/requirements.mdx
  website/data/docs-nav-data.json
Labels: type/docs, theme/consul-terraform-sync, meta/stale

#15879 Wire up the rate limiter to net/rpc calls
  agent/consul/rate/handler.go
  agent/consul/rate/mock_RequestLimitsHandler.go
  agent/consul/server.go
  agent/rpc/middleware/interceptors.go
Labels: pr/no-changelog

#14437 Allow Operator Generated bootstrap token
  .changelog/14437.txt
  agent/acl_endpoint.go
  agent/acl_endpoint_test.go
  agent/consul/acl_endpoint.go
  agent/consul/acl_endpoint_test.go
  agent/structs/acl.go
  api/acl.go
  command/acl/bootstrap/bootstrap.go
  command/acl/bootstrap/bootstrap_test.go
  website/content/api-docs/acl/index.mdx
  website/content/commands/acl/bootstrap.mdx
Labels: type/docs, theme/api, theme/acls, theme/cli, theme/operator-usability, meta/staleproof

#15885 Refactoring the peering integ test to accommodate coming changes of o…
  test/integration/consul-container/libs/assert/service.go
  test/integration/consul-container/libs/cluster/cluster.go
  test/integration/consul-container/libs/cluster/helpers.go
  test/integration/consul-container/libs/service/connect.go
  test/integration/consul-container/libs/service/examples.go
  test/integration/consul-container/libs/service/gateway.go
  test/integration/consul-container/libs/service/service.go
  test/integration/consul-container/test/basic/connect_service_test.go
  test/integration/consul-container/test/peering/rotate_server_and_ca_then_fail_test.go
  test/integration/consul-container/test/topology/peering_topology.go
  test/integration/consul-container/test/upgrade/peers_http_test.go
Labels: pr/no-changelog

#15197 Update api gateway version to latest
  website/content/docs/api-gateway/install.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, meta/stale, backport/1.13, backport/1.14

#15901 Backport of Update api gateway version to latest into release/1.14.x
  website/content/docs/api-gateway/install.mdx
Labels: type/docs

#15107 fix: return error when config file with unknown extension is passed
  .changelog/15107.txt
  agent/config/builder.go
  agent/config/builder_test.go
Labels: theme/config, meta/stale

#15895 Fix missing comment in generated enterprise rate-limit file
  internal/tools/protoc-gen-consul-rate-limit/postprocess/main.go
Labels: pr/no-changelog

#15904 grpc/acl: fix bug where ACL token was required even if disabled
  agent/grpc-external/services/connectca/sign_test.go
  agent/grpc-external/services/dataplane/get_supported_features_test.go
  agent/grpc-external/testutils/acl.go
  agent/grpc-external/utils.go
Labels: pr/no-changelog, backport/1.14

#15903 Fix TLS_BadVerify test assertions on macOS
  agent/checks/check_test.go
Labels: pr/no-changelog, pr/no-metrics-test, pr/no-docs

#15631 Onboard consul to use new version/VERSION file and reproducible actions
  .github/workflows/build.yml
  .release/ci.hcl
  ui/packages/consul-ui/config/utils.js
  version/VERSION
  version/version.go
Labels: theme/contributing, pr/no-changelog, backport/1.12, backport/1.13, backport/1.14

#14890 docs: Fix link
  website/content/docs/consul-vs-other/dns-tools-compare.mdx
Labels: type/docs-cherrypick, pr/no-changelog, meta/stale

#15914 Backport of docs: Fix link into stable-website
  website/content/docs/consul-vs-other/dns-tools-compare.mdx
Labels: type/docs

#15916 Update example link for Consul K8s NGINX ingress controller
  website/content/docs/k8s/connect/ingress-controllers.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.11, backport/1.12, backport/1.13, backport/1.14

#15926 Backport of Update example link for Consul K8s NGINX ingress controller into release/1.12.x
  website/content/docs/k8s/connect/ingress-controllers.mdx
Labels: type/docs

#15927 Backport of Update example link for Consul K8s NGINX ingress controller into release/1.13.x
  website/content/docs/k8s/connect/ingress-controllers.mdx
Labels: type/docs

#15923 Backport of Update example link for Consul K8s NGINX ingress controller into stable-website
  website/content/docs/k8s/connect/ingress-controllers.mdx
Labels: type/docs

#15924 Backport of Update example link for Consul K8s NGINX ingress controller into release/1.14.x
  website/content/docs/k8s/connect/ingress-controllers.mdx
Labels: type/docs

#15920 Fix usage of protoc-gen-go-binary
  GNUmakefile
  build-support/scripts/devtools.sh
  proto-public/annotations/ratelimit/ratelimit.pb.binary.go
  proto-public/buf.gen.yaml
  proto-public/pbacl/acl.pb.binary.go
  proto-public/pbconnectca/ca.pb.binary.go
  proto-public/pbdataplane/dataplane.pb.binary.go
  proto-public/pbdns/dns.pb.binary.go
  proto-public/pbserverdiscovery/serverdiscovery.pb.binary.go
  proto/buf.gen.yaml
  proto/pbacl/acl.pb.binary.go
  proto/pbautoconf/auto_config.pb.binary.go
  proto/pbcommon/common.pb.binary.go
  proto/pbconfig/config.pb.binary.go
  proto/pbconfigentry/config_entry.pb.binary.go
  proto/pbconnect/connect.pb.binary.go
  proto/pboperator/operator.pb.binary.go
  proto/pbpeering/peering.pb.binary.go
  proto/pbpeerstream/peerstream.pb.binary.go
  proto/pbservice/healthcheck.pb.binary.go
  proto/pbservice/node.pb.binary.go
  proto/pbservice/service.pb.binary.go
  proto/pbstatus/status.pb.binary.go
  proto/pbsubscribe/subscribe.pb.binary.go
Labels: pr/no-changelog

#15912 docs: fix markdown heading levels
  website/content/api-docs/acl/tokens.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#15932 Backport of docs: fix markdown heading levels into release/1.14.x
  website/content/api-docs/acl/tokens.mdx
Labels: type/docs

#15931 Backport of docs: fix markdown heading levels into stable-website
  website/content/api-docs/acl/tokens.mdx
Labels: type/docs

#15822 inject logger and create logdrop sink
  agent/agent.go
  agent/consul/rate/handler.go
  agent/consul/rate/metrics.go
  agent/consul/server.go
  agent/log-drop/log-drop.go
  agent/log-drop/log-drop_test.go
  agent/log-drop/mock_Logger.go
  agent/log-drop/mock_SinkAdapter.go
  agent/setup.go
  website/content/docs/agent/telemetry.mdx
Labels: pr/no-changelog, pr/no-metrics-test

#15913 Fix issue where TLS configuration was ignored for unix sockets in consul connect envoy.
  .changelog/15913.txt
  command/connect/envoy/envoy.go
  command/connect/envoy/envoy_test.go
  command/connect/envoy/testdata/grpc-addr-unix-with-tls.golden
Labels: theme/cli, backport/1.14

#15934 Backport of Fix issue where TLS configuration was ignored for unix sockets in consul connect envoy. into release/1.14.x
  .changelog/15913.txt
  command/connect/envoy/envoy.go
  command/connect/envoy/envoy_test.go
  command/connect/envoy/testdata/grpc-addr-unix-with-tls.golden
Labels: theme/cli

#15936 Update the README for the Consul API
  api/README.md
Labels: type/docs, theme/api, pr/no-changelog

#15935 docs: cluster peering upgrade clarification
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#15938 Backport of docs: cluster peering upgrade clarification into stable-website
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs

#15891 emit metrics for global rate limiting
  agent/consul/rate/handler.go
  agent/consul/rate/handler_test.go
  agent/metrics/testing.go
  connect/proxy/listener_test.go
Labels: pr/no-changelog

#15884 Output user-friendly name for anonymous token
  .changelog/15884.txt
  acl/acl.go
  acl/errors.go
  acl/testing.go
  agent/acl.go
  agent/agent.go
  agent/consul/acl.go
  agent/consul/acl_endpoint.go
  agent/consul/acl_endpoint_test.go
  agent/consul/acl_token_exp_test.go
  agent/consul/intention_endpoint.go
  agent/consul/internal_endpoint.go
  agent/consul/leader.go
  agent/consul/leader_test.go
  agent/consul/rpc_test.go
  agent/consul/state/acl.go
  agent/consul/state/acl_test.go
  agent/grpc-external/testutils/acl.go
  agent/grpc-external/utils.go
  agent/local/state.go
  agent/structs/acl.go
  command/acl/acl_helpers.go
Labels: theme/acls, theme/cli, theme/operator-usability

#15946 [OSS] feat: add access log config to consul envoy connect
  command/connect/envoy/bootstrap_tpl.go
  command/connect/envoy/envoy.go
  command/connect/envoy/envoy_test.go
  command/connect/envoy/testdata/access-logs-enabled-custom.golden
  command/connect/envoy/testdata/access-logs-enabled.golden
Labels: theme/cli, pr/no-changelog

#15828 Add new config_file_service_registration token
  .changelog/15828.txt
  agent/acl_test.go
  agent/agent.go
  agent/agent_endpoint.go
  agent/agent_endpoint_test.go
  agent/config/builder.go
  agent/config/config.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/local/state.go
  agent/local/state_internal_test.go
  agent/local/state_test.go
  agent/proxycfg-glue/service_http_checks_test.go
  agent/proxycfg-sources/catalog/config_source_test.go
  agent/proxycfg-sources/local/sync_test.go
  agent/token/persistence.go
  agent/token/persistence_test.go
  agent/token/store.go
  agent/token/store_test.go
  agent/user_event_test.go
  api/agent.go
  api/agent_test.go
  command/acl/agenttokens/agent_tokens.go
  website/content/api-docs/agent/index.mdx
  website/content/commands/acl/set-agent-token.mdx
  website/content/docs/agent/config/config-files.mdx
Labels: theme/api, theme/cli, theme/config

#15948 [OSS] docs(access logs): new docs for access logging
  .changelog/15864.txt
  website/content/commands/connect/envoy.mdx
  website/content/docs/connect/config-entries/proxy-defaults.mdx
  website/content/docs/connect/observability/access-logs.mdx
  website/data/docs-nav-data.json
Labels: type/docs, pr/no-changelog

#15939 Backport of docs: cluster peering upgrade clarification into release/1.14.x
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs

#15953 ui/fix linting error and failing ui test
  ui/packages/consul-ui/config/utils.js
  ui/packages/consul-ui/node-tests/config/utils.js
Labels: theme/ui, pr/no-changelog

#15951 [OSS] feat: add access logs to dataplane bootstrap rpc
  agent/grpc-external/services/dataplane/get_envoy_bootstrap_params.go
  agent/grpc-external/services/dataplane/get_envoy_bootstrap_params_test.go
  command/connect/envoy/envoy.go
  go.mod
  proto-public/pbdataplane/dataplane.pb.go
  proto-public/pbdataplane/dataplane.proto
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
Labels: theme/cli, pr/no-changelog

#15959 test: general cleanup and fixes for the container integration test suite
  .circleci/config.yml
  GNUmakefile
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
  test/integration/consul-container/libs/agent/agent.go
  test/integration/consul-container/libs/agent/builder.go
  test/integration/consul-container/libs/agent/container.go
  test/integration/consul-container/libs/agent/encryption.go
  test/integration/consul-container/libs/assert/service.go
  test/integration/consul-container/libs/cluster/agent.go
  test/integration/consul-container/libs/cluster/app.go
  test/integration/consul-container/libs/cluster/builder.go
  test/integration/consul-container/libs/cluster/cluster.go
  test/integration/consul-container/libs/cluster/config.go
  test/integration/consul-container/libs/cluster/container.go
  test/integration/consul-container/libs/cluster/encryption.go
  test/integration/consul-container/libs/cluster/helpers.go
  test/integration/consul-container/libs/cluster/log.go
  test/integration/consul-container/libs/cluster/network.go
  test/integration/consul-container/libs/service/connect.go
  test/integration/consul-container/libs/service/examples.go
  test/integration/consul-container/libs/service/gateway.go
  test/integration/consul-container/libs/service/helpers.go
  test/integration/consul-container/libs/service/service.go
  test/integration/consul-container/libs/topology/peering_topology.go
  test/integration/consul-container/libs/utils/debug.go
  test/integration/consul-container/libs/utils/defer.go
  test/integration/consul-container/libs/utils/docker.go
  test/integration/consul-container/libs/utils/utils.go
  test/integration/consul-container/libs/utils/version.go
  test/integration/consul-container/libs/utils/version_oss.go
  test/integration/consul-container/test/basic/connect_service_test.go
  test/integration/consul-container/test/metrics/leader_test.go
  test/integration/consul-container/test/peering/rotate_server_and_ca_then_fail_test.go
  test/integration/consul-container/test/topology/peering_topology.go
  test/integration/consul-container/test/upgrade/README.md
  test/integration/consul-container/test/upgrade/fullstopupgrade_test.go
  test/integration/consul-container/test/upgrade/healthcheck_test.go
  test/integration/consul-container/test/upgrade/helper_test.go
  test/integration/consul-container/test/upgrade/peers_http_test.go
Labels: type/ci, pr/no-changelog, pr/no-metrics-test

#15958 removed Consul requirements from documentation as it may be confusing
  website/content/docs/connect/config-entries/exported-services.mdx
  website/content/docs/connect/config-entries/ingress-gateway.mdx
  website/content/docs/connect/config-entries/proxy-defaults.mdx
  website/content/docs/connect/config-entries/service-defaults.mdx
  website/content/docs/connect/config-entries/service-router.mdx
Labels: type/docs, pr/no-changelog

#15965 Backport of Update go-discover to support ECS discovery into release/1.13.x
  .changelog/13782.txt
  go.mod
  go.sum
  website/content/docs/install/cloud-auto-join.mdx
Labels: type/docs, pr/dependencies

#15964 Backport of Update go-discover to support ECS discovery into release/1.12.x
  .changelog/13782.txt
  go.mod
  go.sum
  website/content/docs/install/cloud-auto-join.mdx
Labels: type/docs, pr/dependencies

#15971 Update TG Docs with SAN match option when using SNI
  website/content/docs/connect/config-entries/terminating-gateway.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, backport/1.12, backport/1.13

#15973 Backport of Update TG Docs with SAN match option when using SNI into release/1.14.x
  website/content/docs/connect/config-entries/terminating-gateway.mdx
Labels: type/docs

#15975 Backport of Update TG Docs with SAN match option when using SNI into release/1.13.x
  website/content/docs/connect/config-entries/terminating-gateway.mdx
Labels: type/docs

#15972 Backport of Update TG Docs with SAN match option when using SNI into stable-website
  website/content/docs/connect/config-entries/terminating-gateway.mdx
Labels: type/docs

#15968 avoid logging RPC errors when it's specific rate limiter errors
  agent/consul/rpc.go
Labels: pr/no-changelog, pr/no-metrics-test

#15967 Warn if ACL is enabled but no token is provided to Envoy
  .changelog/15967.txt
  agent/grpc-external/metadata_test.go
  agent/xds/delta.go
  agent/xds/delta_test.go
  agent/xds/server.go
  agent/xds/xds_protocol_helpers_test.go
  command/connect/envoy/envoy.go
  command/connect/envoy/envoy_test.go
  command/connect/envoy/testdata/acl-enabled-and-token.golden
  command/connect/envoy/testdata/acl-enabled-but-no-token.golden
  website/content/docs/agent/telemetry.mdx
Labels: theme/cli, theme/envoy/xds

#15989 fixes pre-devdot links in service defaults ref docs
  website/content/docs/connect/config-entries/service-defaults.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog, pr/no-metrics-test, backport/1.11, backport/1.12, backport/1.13, backport/1.14

#15991 Backport of fixes pre-devdot links in service defaults ref docs into release/1.14.x
  website/content/docs/connect/config-entries/service-defaults.mdx
Labels: type/docs

#15990 Backport of fixes pre-devdot links in service defaults ref docs into stable-website
  website/content/docs/connect/config-entries/service-defaults.mdx
Labels: type/docs

#15997 [OSS] chore(ci): fix compat ent compat tests for sidecars and gateways
  test/integration/consul-container/libs/service/assets/Dockerfile-consul-envoy
  test/integration/consul-container/libs/service/connect.go
  test/integration/consul-container/libs/service/gateway.go
Labels: pr/no-changelog

#15980 [website] chore: updates generated author docs
  website/README.md
  website/package-lock.json
  website/package.json
Labels: type/docs, pr/no-changelog

#15999 [docs] Adjusting links for rewrite project
  website/content/api-docs/operator/segment.mdx
  website/content/docs/connect/connectivity-tasks.mdx
  website/content/docs/connect/gateways/index.mdx
  website/content/docs/connect/gateways/terminating-gateway.mdx
  website/content/docs/discovery/services.mdx
  website/content/docs/enterprise/network-segments/network-segments-overview.mdx
  website/content/docs/integrate/partnerships.mdx
  website/content/docs/lambda/registration/index.mdx
Labels: type/docs, pr/no-changelog

#16000 Fix configuration merging for implicit tproxy upstreams.
  .changelog/16000.txt
  agent/configentry/resolve.go
  agent/configentry/resolve_test.go
  agent/consul/config_endpoint_test.go
  agent/proxycfg/connect_proxy.go
  agent/proxycfg/naming.go
  agent/proxycfg/snapshot.go
  agent/service_manager_test.go
  agent/xds/clusters.go
  agent/xds/endpoints.go
  agent/xds/listeners.go
Labels: theme/envoy/xds, backport/1.14

#15970 Support Vault agent auth config for AWS/GCP CA provider auth
  .changelog/15970.txt
  agent/connect/ca/provider_vault.go
  agent/connect/ca/provider_vault_auth.go
  agent/connect/ca/provider_vault_auth_aws.go
  agent/connect/ca/provider_vault_auth_gcp.go
  agent/connect/ca/provider_vault_auth_test.go
  agent/connect/ca/provider_vault_test.go
  go.mod
  go.sum
Labels: theme/connect, pr/dependencies

#15969 Add envoy assertion in Golang
  test/integration/consul-container/libs/assert/envoy.go
  test/integration/consul-container/libs/service/examples.go
  test/integration/consul-container/libs/service/helpers.go
  test/integration/consul-container/libs/service/service.go
  test/integration/consul-container/test/basic/connect_service_test.go
  test/integration/consul-container/test/peering/rotate_server_and_ca_then_fail_test.go
Labels: pr/dependencies, pr/no-changelog

#15897 Native API Gateway Config Entries
  acl/errors.go
  agent/consul/controller/controller_test.go
  agent/consul/fsm/fsm.go
  agent/consul/gateways/controller_gateways.go
  agent/consul/gateways/controller_routes.go
  agent/consul/state/config_entry.go
  agent/consul/state/config_entry_events.go
  agent/consul/state/config_entry_events_test.go
  agent/consul/state/events.go
  agent/consul/state/events_test.go
  agent/consul/state/memdb.go
  agent/consul/usagemetrics/usagemetrics_oss_test.go
  agent/proxycfg-glue/config_entry.go
  agent/structs/config_entry.go
  agent/structs/config_entry_discoverychain_test.go
  agent/structs/config_entry_gateways.go
  agent/structs/config_entry_gateways_test.go
  agent/structs/config_entry_inline_certificate.go
  agent/structs/config_entry_inline_certificate_test.go
  agent/structs/config_entry_routes.go
  agent/structs/config_entry_routes_test.go
  agent/structs/config_entry_status.go
  agent/structs/config_entry_test.go
  api/config_entry.go
  api/config_entry_gateways.go
  api/config_entry_inline_certificate.go
  api/config_entry_routes.go
  api/config_entry_status.go
  command/helpers/helpers_test.go
  proto/pbconfigentry/config_entry.gen.go
  proto/pbconfigentry/config_entry.go
  proto/pbconfigentry/config_entry.pb.binary.go
  proto/pbconfigentry/config_entry.pb.go
  proto/pbconfigentry/config_entry.proto
  proto/pbsubscribe/subscribe.pb.go
  proto/pbsubscribe/subscribe.proto
  website/data/docs-nav-data.json
Labels: type/docs, theme/api, theme/acls, theme/cli, pr/no-changelog

#15960 Integration test for server rate limiting
  agent/consul/rate/handler.go
  test/integration/consul-container/libs/cluster/agent.go
  test/integration/consul-container/libs/cluster/container.go
  test/integration/consul-container/test/ratelimit/ratelimit_test.go
Labels: pr/no-changelog

#15806 Major updates and reorganizing of checks.mdx
  website/content/docs/discovery/checks.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#16007 Backport of Fix configuration merging for implicit tproxy upstreams
  .changelog/16000.txt
  agent/configentry/resolve.go
  agent/configentry/resolve_test.go
  agent/consul/config_endpoint_test.go
  agent/proxycfg/connect_proxy.go
  agent/proxycfg/naming.go
  agent/proxycfg/snapshot.go
  agent/service_manager_test.go
  agent/xds/clusters.go
  agent/xds/endpoints.go
  agent/xds/listeners.go
Labels: theme/envoy/xds

#16015 Add support for envoy readiness flags
  .changelog/16015.txt
  command/connect/envoy/envoy.go
  command/connect/envoy/envoy_test.go
  command/connect/envoy/testdata/envoy-readiness-probe.golden
  website/content/commands/connect/envoy.mdx
Labels: type/docs, theme/cli, backport/1.13, backport/1.14

#16019 Add support for envoy readiness flags (#16015)
  .changelog/16015.txt
  command/connect/envoy/envoy.go
  command/connect/envoy/envoy_test.go
  command/connect/envoy/testdata/envoy-readiness-probe.golden
  website/content/commands/connect/envoy.mdx
Labels: type/docs, theme/cli

#16018 Add support for envoy readiness flags (#16015)
  .changelog/16015.txt
  command/connect/envoy/envoy.go
  command/connect/envoy/envoy_test.go
  command/connect/envoy/testdata/envoy-readiness-probe.golden
  website/content/commands/connect/envoy.mdx
Labels: type/docs, theme/cli

#16026 Backport of docs: link fixes for Envoy proxy page into release/1.14.x
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs

#16021 Fix proxy-defaults incorrectly merging config on upstreams.
  agent/configentry/resolve.go
  agent/configentry/resolve_test.go
  agent/consul/config_endpoint_test.go
  agent/service_manager_test.go
Labels: pr/no-changelog, backport/1.14

#15950 Implement BindRoutesToGateways
  agent/consul/gateways/bind.go
  agent/consul/gateways/bind_test.go
  agent/structs/config_entry_gateways.go
  agent/structs/config_entry_gateways_test.go
  agent/structs/config_entry_routes.go
Labels: pr/dependencies, pr/no-changelog

#16032 Backport of Update gossip.mdx into release/1.14.x
  website/content/docs/k8s/deployment-configurations/vault/data-integration/gossip.mdx
Labels: type/docs

#16029 test: prevent the container tests from depending on consul
  .circleci/config.yml
  GNUmakefile
Labels: type/ci, pr/no-changelog, pr/no-metrics-test

#16008 test(integration): add access logging test
  test/integration/consul-container/libs/assert/service.go
  test/integration/consul-container/libs/cluster/agent.go
  test/integration/consul-container/libs/cluster/container.go
  test/integration/consul-container/libs/service/connect.go
  test/integration/consul-container/libs/service/examples.go
  test/integration/consul-container/libs/service/gateway.go
  test/integration/consul-container/libs/service/helpers.go
  test/integration/consul-container/libs/service/service.go
  test/integration/consul-container/libs/topology/peering_topology.go
  test/integration/consul-container/test/basic/connect_service_test.go
  test/integration/consul-container/test/observability/access_logs_test.go
  test/integration/consul-container/test/observability/metrics_leader_test.go
  test/integration/consul-container/test/peering/rotate_server_and_ca_then_fail_test.go
Labels: pr/no-changelog

#15957 docs: clarify reloadable config option usage
  website/content/docs/agent/config/index.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#16037 Backport of docs: clarify reloadable config option usage into release/1.14.x
  website/content/docs/agent/config/index.mdx
Labels: type/docs

#16036 Backport of docs: clarify reloadable config option usage into stable-website
  website/content/docs/agent/config/index.mdx
Labels: type/docs

#16038 [docs] Updating MD links in ConfigEntryReference components
  website/content/docs/connect/config-entries/ingress-gateway.mdx
  website/content/docs/connect/config-entries/mesh.mdx
  website/content/docs/connect/config-entries/proxy-defaults.mdx
  website/content/docs/connect/config-entries/service-defaults.mdx
  website/content/docs/connect/config-entries/service-intentions.mdx
  website/content/docs/connect/config-entries/service-resolver.mdx
  website/content/docs/connect/config-entries/service-router.mdx
  website/content/docs/connect/config-entries/service-splitter.mdx
  website/content/docs/connect/config-entries/terminating-gateway.mdx
Labels: type/docs, pr/no-changelog

#16045 test: container tests wait for available networks
  test/integration/consul-container/libs/cluster/cluster.go
  test/integration/consul-container/libs/cluster/network.go
Labels: pr/no-changelog, pr/no-metrics-test

#16043 docs: clarify service defaults example
  website/content/docs/connect/config-entries/service-defaults.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#16048 Backport of docs: clarify service defaults example into release/1.14.x
  website/content/docs/connect/config-entries/service-defaults.mdx
Labels: type/docs

#16047 Backport of docs: clarify service defaults example into stable-website
  website/content/docs/connect/config-entries/service-defaults.mdx
Labels: type/docs

#16031 Backport of Update gossip.mdx into stable-website
  website/content/docs/k8s/deployment-configurations/vault/data-integration/gossip.mdx
Labels: type/docs

#16009 Warn when the token query param is used for auth
  .changelog/16009.txt
  agent/acl_endpoint_test.go
  agent/agent_endpoint_test.go
  agent/coordinate_endpoint_test.go
  agent/event_endpoint_test.go
  agent/http.go
  agent/prepared_query_endpoint_test.go
  agent/snapshot_endpoint_test.go
  website/content/api-docs/api-structure.mdx
  website/content/docs/security/acl/acl-legacy.mdx
  website/content/docs/security/acl/acl-policies.mdx
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs, theme/api, theme/auth

#16035 test: run integration tests in parallel
  .circleci/config.yml
  test/integration/consul-container/test/basic/connect_service_test.go
  test/integration/consul-container/test/observability/metrics_leader_test.go
  test/integration/consul-container/test/peering/rotate_server_and_ca_then_fail_test.go
  test/integration/consul-container/test/ratelimit/ratelimit_test.go
  test/integration/consul-container/test/upgrade/fullstopupgrade_test.go
  test/integration/consul-container/test/upgrade/healthcheck_test.go
  test/integration/consul-container/test/upgrade/peers_http_test.go
Labels: pr/no-changelog

#16067 Post upgrade test validation: envoy endpoint and register service
  test/integration/consul-container/libs/assert/envoy.go
  test/integration/consul-container/libs/service/helpers.go
  test/integration/consul-container/libs/topology/peering_topology.go
  test/integration/consul-container/test/basic/connect_service_test.go
  test/integration/consul-container/test/upgrade/peers_http_test.go
Labels: pr/no-changelog

#16054 Run config entry controller routines on leader
  agent/consul/leader_connect.go
  agent/consul/server.go
  logging/names.go
Labels: theme/telemetry, pr/no-changelog, theme/api-gw

#16022 feat: panic handler in rpc rate limit interceptor
  agent/consul/server.go
  agent/rpc/middleware/interceptors.go
  agent/rpc/middleware/interceptors_test.go
  agent/rpc/middleware/recovery.go
Labels: pr/no-changelog

#16068 flaky test: use retry long to wait for config entry upgrade
  test/integration/connect/envoy/case-badauthz/verify.bats
Labels: pr/no-changelog

#16073 Update service-resolver.mdx
  website/content/docs/connect/config-entries/service-resolver.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#16071 docs: update Nomad 1.14 upgrade note to detail additonal info.
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs, type/docs-cherrypick, pr/no-changelog

#16052 Add trigger for doing reconciliation based on watch sets
  agent/consul/controller/controller.go
  agent/consul/controller/controller_test.go
  agent/consul/controller/reconciler_test.go
Labels: pr/no-changelog

#16069 Mw/lambda envoy extension parse region (#4107)
  agent/proxycfg/testing_terminating_gateway.go
  agent/xds/builtin_extension_oss_test.go
  agent/xds/builtinextensions/lambda/lambda.go
  agent/xds/builtinextensions/lambda/lambda_test.go
  agent/xds/testdata/builtin_extension/listeners/lambda-connect-proxy-opposite-meta.latest.golden
  agent/xds/testdata/builtin_extension/listeners/lambda-connect-proxy.latest.golden
  agent/xds/testdata/builtin_extension/listeners/lambda-terminating-gateway-with-service-resolvers.latest.golden
  agent/xds/testdata/builtin_extension/listeners/lambda-terminating-gateway.latest.golden
  agent/xds/xdscommon/xdscommon_oss_test.go
Labels: theme/envoy/xds, pr/no-changelog

#16057 Match route and listener protocols when binding
  agent/consul/gateways/bind.go
  agent/consul/gateways/bind_test.go
  agent/consul/gateways/gateway_meta.go
  agent/consul/gateways/gateway_meta_test.go
  agent/structs/config_entry_gateways.go
  agent/structs/config_entry_gateways_test.go
  agent/structs/config_entry_routes.go
Labels: pr/no-changelog, theme/api-gw

#16092 integ test: remove hardcoded upstream local bind port and max number …
  test/integration/consul-container/libs/cluster/agent.go
  test/integration/consul-container/libs/cluster/container.go
  test/integration/consul-container/libs/service/connect.go
  test/integration/consul-container/libs/service/gateway.go
  test/integration/consul-container/libs/service/helpers.go
Labels: pr/no-changelog

#16091 Upgrade test: peering control plane traffic through mesh gateway
  test/integration/consul-container/libs/assert/envoy.go
  test/integration/consul-container/libs/service/connect.go
  test/integration/consul-container/libs/service/examples.go
  test/integration/consul-container/libs/service/gateway.go
  test/integration/consul-container/libs/service/helpers.go
  test/integration/consul-container/libs/service/service.go
  test/integration/consul-container/libs/topology/peering_topology.go
  test/integration/consul-container/test/peering/rotate_server_and_ca_then_fail_test.go
  test/integration/consul-container/test/upgrade/peer_control_plane_mgw_test.go
Labels: pr/no-changelog

#16053 Add a server-only method for updating ConfigEntry Statuses
  agent/consul/fsm/commands_oss.go
  agent/consul/fsm/commands_oss_test.go
  agent/consul/state/catalog_events_test.go
  agent/consul/state/config_entry.go
  agent/consul/state/config_entry_events_test.go
  agent/consul/state/intention.go
  agent/structs/config_entry.go
  agent/structs/config_entry_gateways.go
  agent/structs/config_entry_routes.go
  proto/pbconfigentry/config_entry.gen.go
  proto/pbconfigentry/config_entry.pb.go
  proto/pbconfigentry/config_entry.proto
Labels: pr/no-changelog, pr/no-metrics-test

#16096 troubleshoot: service to service validation
  agent/proxycfg/testing_tproxy.go
  agent/xds/builtin_extension_oss_test.go
  agent/xds/builtinextensions/validate/validate.go
  agent/xds/builtinextensions/validate/validate_test.go
  agent/xds/builtinextensiontemplate/template.go
  agent/xds/listeners.go
  agent/xds/listeners_test.go
  agent/xds/server.go
  agent/xds/testdata/builtin_extension/clusters/lambda-connect-proxy-tproxy.latest.golden
  agent/xds/testdata/builtin_extension/endpoints/lambda-connect-proxy-tproxy.latest.golden
  agent/xds/testdata/builtin_extension/listeners/lambda-connect-proxy-tproxy.latest.golden
  agent/xds/testdata/builtin_extension/routes/lambda-connect-proxy-tproxy.latest.golden
  agent/xds/testdata/validateupstream/clusters.json
  agent/xds/testdata/validateupstream/config.json
  agent/xds/validateupstream.go
  agent/xds/validateupstream_test.go
  agent/xds/xdscommon/xdscommon.go
Labels: theme/envoy/xds, pr/no-changelog, pr/no-docs

#16102 Apply 1.12.9 chagnelog and prep for next release
  CHANGELOG.md
  version/version.go
Labels: pr/no-changelog

#16101 Apply 1.13.6 changelog and prep for next release
  CHANGELOG.md
  version/version.go
Labels: pr/no-changelog

#16098 Changelog for Consul 1.14.4, 1.13.6, and 1.12.9
  CHANGELOG.md
Labels: pr/no-changelog

#16094 add missing field to oss license struct
  api/operator_license.go
Labels: theme/api, pr/no-changelog

#16100 Upgrade test: retain sidecar containers during upgrade.
  test/integration/consul-container/libs/assert/envoy.go
  test/integration/consul-container/libs/cluster/agent.go
  test/integration/consul-container/libs/cluster/cluster.go
  test/integration/consul-container/libs/cluster/container.go
  test/integration/consul-container/libs/service/connect.go
  test/integration/consul-container/test/upgrade/peers_http_test.go
Labels: pr/no-changelog

#16077 Update docs for tls commands
  command/tls/ca/create/tls_ca_create.go
  command/tls/ca/tls_ca.go
  command/tls/cert/tls_cert.go
  website/content/commands/tls/ca.mdx
Labels: type/docs, theme/cli, pr/no-changelog

#16110 Add extension validation on config save and refactor extensions.
  agent/envoyextensions/builtin/aws-lambda/aws_lambda.go
  agent/envoyextensions/builtin/aws-lambda/aws_lambda_test.go
  agent/envoyextensions/builtin/aws-lambda/copied.go
  agent/envoyextensions/builtin/lua/copied.go
  agent/envoyextensions/builtin/lua/lua.go
  agent/envoyextensions/builtin/lua/lua_test.go
  agent/envoyextensions/builtin/validate/validate.go
  agent/envoyextensions/builtin/validate/validate_test.go
  agent/envoyextensions/extensioncommon/basic_envoy_extender.go
  agent/envoyextensions/extensioncommon/envoy_extender.go
  agent/envoyextensions/extensioncommon/runtime_config.go
  agent/envoyextensions/extensioncommon/runtime_config_test.go
  agent/envoyextensions/registered_extensions.go
  agent/envoyextensions/registered_extensions_test.go
  agent/proxycfg/testing_terminating_gateway.go
  agent/structs/config_entry.go
  agent/structs/config_entry_test.go
  agent/structs/envoy_extension.go
  agent/xds/builtinextensions/lambda/lambda_test.go
  agent/xds/builtinextensiontemplate/plugin.go
  agent/xds/delta.go
  agent/xds/delta_envoy_extender_oss_test.go
  agent/xds/extensionruntime/runtime_config.go
  agent/xds/extensionruntime/runtime_config_oss_test.go
  agent/xds/extensions.go
  agent/xds/validateupstream.go
  agent/xds/xdscommon/xdscommon.go
  proto/pbconfigentry/config_entry.gen.go
Labels: theme/envoy/xds, pr/no-changelog

#16085 feat: apply retry policy to read only grpc endpoints
  agent/grpc-internal/client.go
Labels: pr/no-changelog

#16112 improvement: prevent filter being added twice from any enovy extension
  agent/envoyextensions/extensioncommon/basic_envoy_extender.go
  test/integration/connect/envoy/case-lua/setup.sh
  test/integration/connect/envoy/case-lua/verify.bats
Labels: pr/no-changelog

#16114 Add Envoy extension metrics.
  agent/xds/delta.go
  agent/xds/delta_test.go
Labels: theme/envoy/xds, pr/no-changelog

#15988 Add a flag for enabling debug logs to the `connect envoy` command
  .changelog/15988.txt
  command/connect/envoy/envoy.go
  website/content/commands/connect/envoy.mdx
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, theme/cli, type/docs-cherrypick, backport/1.12, backport/1.13, backport/1.14
