Repository hashicorp/consul, pull requests merged in 2023-06, with the labels that each got.

#17537 Avoid panic applying TProxy Envoy extensions
  agent/proxycfg/testing_tproxy.go
  agent/xds/delta_envoy_extender_oss_test.go
  agent/xds/resources_test.go
  agent/xds/testdata/builtin_extension/clusters/lua-outbound-applies-to-local-upstreams-tproxy.latest.golden
  agent/xds/testdata/builtin_extension/endpoints/lua-outbound-applies-to-local-upstreams-tproxy.latest.golden
  agent/xds/testdata/builtin_extension/listeners/lua-outbound-applies-to-local-upstreams-tproxy.latest.golden
  agent/xds/testdata/builtin_extension/routes/lua-outbound-applies-to-local-upstreams-tproxy.latest.golden
  envoyextensions/extensioncommon/basic_envoy_extender.go
  envoyextensions/extensioncommon/upstream_envoy_extender.go
Labels: theme/envoy/xds, pr/no-changelog, pr/no-metrics-test, pr/no-docs, backport/1.15

#17541 Revert "Backport of fix(connect envoy): set initial_fetch_timeout to wait for initial xDS into release/1.14"
  .changelog/17317.txt
  .changelog/17541.txt
  command/connect/envoy/bootstrap_tpl.go
  command/connect/envoy/testdata/CONSUL_GRPC_ADDR-with-https-scheme-enables-tls.golden
  command/connect/envoy/testdata/CONSUL_HTTP_ADDR-with-https-scheme-does-not-affect-grpc-tls.golden
  command/connect/envoy/testdata/access-log-path.golden
  command/connect/envoy/testdata/both-CONSUL_HTTP_ADDR-PLAIN-and-CONSUL_GRPC_ADDR-TLS-is-tls.golden
  command/connect/envoy/testdata/both-CONSUL_HTTP_ADDR-TLS-and-CONSUL_GRPC_ADDR-PLAIN-is-plain.golden
  command/connect/envoy/testdata/defaults-nodemeta.golden
  command/connect/envoy/testdata/defaults.golden
  command/connect/envoy/testdata/deprecated-grpc-addr-config.golden
  command/connect/envoy/testdata/envoy-readiness-probe.golden
  command/connect/envoy/testdata/existing-ca-file.golden
  command/connect/envoy/testdata/existing-ca-path.golden
  command/connect/envoy/testdata/extra_-multiple.golden
  command/connect/envoy/testdata/extra_-single.golden
  command/connect/envoy/testdata/grpc-addr-env.golden
  command/connect/envoy/testdata/grpc-addr-flag.golden
  command/connect/envoy/testdata/grpc-addr-unix-with-tls.golden
  command/connect/envoy/testdata/grpc-addr-unix.golden
  command/connect/envoy/testdata/grpc-tls-addr-config.golden
  command/connect/envoy/testdata/ingress-gateway-address-specified.golden
  command/connect/envoy/testdata/ingress-gateway-no-auto-register.golden
  command/connect/envoy/testdata/ingress-gateway-nodemeta.golden
  command/connect/envoy/testdata/ingress-gateway-register-with-service-and-proxy-id.golden
  command/connect/envoy/testdata/ingress-gateway-register-with-service-without-proxy-id.golden
  command/connect/envoy/testdata/ingress-gateway.golden
  command/connect/envoy/testdata/prometheus-metrics-tls-ca-file.golden
  command/connect/envoy/testdata/prometheus-metrics-tls-ca-path.golden
  command/connect/envoy/testdata/prometheus-metrics.golden
  command/connect/envoy/testdata/stats-config-override.golden
  command/connect/envoy/testdata/token-arg.golden
  command/connect/envoy/testdata/token-env.golden
  command/connect/envoy/testdata/token-file-arg.golden
  command/connect/envoy/testdata/token-file-env.golden
  command/connect/envoy/testdata/xds-addr-config.golden
  command/connect/envoy/testdata/zipkin-tracing-config.golden
Labels: theme/cli, pr/no-backport

#17539 Manual backport 1.15.x of Avoid panic applying TProxy Envoy extensions
  agent/proxycfg/testing_tproxy.go
  agent/xds/delta_envoy_extender_oss_test.go
  agent/xds/resources_test.go
  agent/xds/testdata/builtin_extension/clusters/lua-outbound-applies-to-local-upstreams-tproxy.latest.golden
  agent/xds/testdata/builtin_extension/endpoints/lua-outbound-applies-to-local-upstreams-tproxy.latest.golden
  agent/xds/testdata/builtin_extension/listeners/lua-outbound-applies-to-local-upstreams-tproxy.latest.golden
  agent/xds/testdata/builtin_extension/routes/lua-outbound-applies-to-local-upstreams-tproxy.latest.golden
  envoyextensions/extensioncommon/basic_envoy_extender.go
  envoyextensions/extensioncommon/upstream_envoy_extender.go
Labels: theme/envoy/xds, pr/no-changelog, pr/no-docs, pr/no-backport

#17540 Revert "fix(connect envoy): set initial_fetch_timeout to wait for initial xDS…"
  .changelog/17317.txt
  command/connect/envoy/bootstrap_tpl.go
  command/connect/envoy/testdata/CONSUL_GRPC_ADDR-with-https-scheme-enables-tls.golden
  command/connect/envoy/testdata/CONSUL_HTTP_ADDR-with-https-scheme-does-not-affect-grpc-tls.golden
  command/connect/envoy/testdata/access-log-path.golden
  command/connect/envoy/testdata/access-logs-enabled-custom.golden
  command/connect/envoy/testdata/access-logs-enabled.golden
  command/connect/envoy/testdata/acl-enabled-and-token.golden
  command/connect/envoy/testdata/acl-enabled-but-no-token.golden
  command/connect/envoy/testdata/both-CONSUL_HTTP_ADDR-PLAIN-and-CONSUL_GRPC_ADDR-TLS-is-tls.golden
  command/connect/envoy/testdata/both-CONSUL_HTTP_ADDR-TLS-and-CONSUL_GRPC_ADDR-PLAIN-is-plain.golden
  command/connect/envoy/testdata/defaults-nodemeta.golden
  command/connect/envoy/testdata/defaults.golden
  command/connect/envoy/testdata/deprecated-grpc-addr-config.golden
  command/connect/envoy/testdata/envoy-readiness-probe.golden
  command/connect/envoy/testdata/existing-ca-file.golden
  command/connect/envoy/testdata/existing-ca-path.golden
  command/connect/envoy/testdata/extra_-multiple.golden
  command/connect/envoy/testdata/extra_-single.golden
  command/connect/envoy/testdata/grpc-addr-env.golden
  command/connect/envoy/testdata/grpc-addr-flag.golden
  command/connect/envoy/testdata/grpc-addr-unix-with-tls.golden
  command/connect/envoy/testdata/grpc-addr-unix.golden
  command/connect/envoy/testdata/grpc-tls-addr-config.golden
  command/connect/envoy/testdata/ingress-gateway-address-specified.golden
  command/connect/envoy/testdata/ingress-gateway-no-auto-register.golden
  command/connect/envoy/testdata/ingress-gateway-nodemeta.golden
  command/connect/envoy/testdata/ingress-gateway-register-with-service-and-proxy-id.golden
  command/connect/envoy/testdata/ingress-gateway-register-with-service-without-proxy-id.golden
  command/connect/envoy/testdata/ingress-gateway.golden
  command/connect/envoy/testdata/prometheus-metrics-tls-ca-file.golden
  command/connect/envoy/testdata/prometheus-metrics-tls-ca-path.golden
  command/connect/envoy/testdata/prometheus-metrics.golden
  command/connect/envoy/testdata/stats-config-override.golden
  command/connect/envoy/testdata/telemetry-collector.golden
  command/connect/envoy/testdata/token-arg.golden
  command/connect/envoy/testdata/token-env.golden
  command/connect/envoy/testdata/token-file-arg.golden
  command/connect/envoy/testdata/token-file-env.golden
  command/connect/envoy/testdata/xds-addr-config.golden
  command/connect/envoy/testdata/zipkin-tracing-config.golden
Labels: theme/cli, pr/no-changelog, backport/1.15

#17543 Backport of Revert "fix(connect envoy): set initial_fetch_timeout to wait for initial xDS…" into release/1.15.x
  .changelog/17317.txt
  command/connect/envoy/bootstrap_tpl.go
  command/connect/envoy/testdata/CONSUL_GRPC_ADDR-with-https-scheme-enables-tls.golden
  command/connect/envoy/testdata/CONSUL_HTTP_ADDR-with-https-scheme-does-not-affect-grpc-tls.golden
  command/connect/envoy/testdata/access-log-path.golden
  command/connect/envoy/testdata/access-logs-enabled-custom.golden
  command/connect/envoy/testdata/access-logs-enabled.golden
  command/connect/envoy/testdata/acl-enabled-and-token.golden
  command/connect/envoy/testdata/acl-enabled-but-no-token.golden
  command/connect/envoy/testdata/both-CONSUL_HTTP_ADDR-PLAIN-and-CONSUL_GRPC_ADDR-TLS-is-tls.golden
  command/connect/envoy/testdata/both-CONSUL_HTTP_ADDR-TLS-and-CONSUL_GRPC_ADDR-PLAIN-is-plain.golden
  command/connect/envoy/testdata/defaults-nodemeta.golden
  command/connect/envoy/testdata/defaults.golden
  command/connect/envoy/testdata/deprecated-grpc-addr-config.golden
  command/connect/envoy/testdata/envoy-readiness-probe.golden
  command/connect/envoy/testdata/existing-ca-file.golden
  command/connect/envoy/testdata/existing-ca-path.golden
  command/connect/envoy/testdata/extra_-multiple.golden
  command/connect/envoy/testdata/extra_-single.golden
  command/connect/envoy/testdata/grpc-addr-env.golden
  command/connect/envoy/testdata/grpc-addr-flag.golden
  command/connect/envoy/testdata/grpc-addr-unix-with-tls.golden
  command/connect/envoy/testdata/grpc-addr-unix.golden
  command/connect/envoy/testdata/grpc-tls-addr-config.golden
  command/connect/envoy/testdata/ingress-gateway-address-specified.golden
  command/connect/envoy/testdata/ingress-gateway-no-auto-register.golden
  command/connect/envoy/testdata/ingress-gateway-nodemeta.golden
  command/connect/envoy/testdata/ingress-gateway-register-with-service-and-proxy-id.golden
  command/connect/envoy/testdata/ingress-gateway-register-with-service-without-proxy-id.golden
  command/connect/envoy/testdata/ingress-gateway.golden
  command/connect/envoy/testdata/prometheus-metrics-tls-ca-file.golden
  command/connect/envoy/testdata/prometheus-metrics-tls-ca-path.golden
  command/connect/envoy/testdata/prometheus-metrics.golden
  command/connect/envoy/testdata/stats-config-override.golden
  command/connect/envoy/testdata/telemetry-collector.golden
  command/connect/envoy/testdata/token-arg.golden
  command/connect/envoy/testdata/token-env.golden
  command/connect/envoy/testdata/token-file-arg.golden
  command/connect/envoy/testdata/token-file-env.golden
  command/connect/envoy/testdata/xds-addr-config.golden
  command/connect/envoy/testdata/zipkin-tracing-config.golden
Labels: theme/cli

#17545 Update list of Envoy versions
  .changelog/17545.txt
  .github/workflows/test-integrations.yml
  envoyextensions/xdscommon/envoy_versioning_test.go
  envoyextensions/xdscommon/proxysupport.go
  website/content/docs/connect/proxies/envoy.mdx
Labels: theme/envoy/xds, pr/no-backport

#17512 docs: add note about Nomad support for Consul 1.13.8
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs, pr/no-changelog, backport/1.13, backport/1.14, backport/1.15

#17548 Backport of docs: add note about Nomad support for Consul 1.13.8 into release/1.13.x
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs

#17550 Backport of docs: add note about Nomad support for Consul 1.13.8 into release/1.15.x
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs

#17549 Backport of docs: add note about Nomad support for Consul 1.13.8 into release/1.14.x
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs

#17535 add changelog for reporting
  .changelog/5102.txt
Labels: pr/no-changelog, backport/1.13, backport/1.14, backport/1.15

#17554 chore: fix the error message format
  agent/agent.go
Labels: pr/no-changelog, backport/1.14, backport/1.15

#16845 Resolves issue-16844 - systemd notify by default
  .changelog/16845.txt
  .release/linux/package/usr/lib/systemd/system/consul.service
Labels: type/bug, backport/1.13, backport/1.14, backport/1.15

#17558 add changelog entries for 1.15.3
  CHANGELOG.md
Labels: pr/no-changelog, pr/no-docs, pr/no-backport

#17473 Backport of add docs for consul-k8s config read command into release/1.15.x
  website/content/docs/k8s/k8s-cli.mdx
Labels: type/docs

#17566 Fix up case where subscription is terminated due to ACLs changing or a snapshot restore occurring
  .changelog/17566.txt
  agent/proxycfg-glue/glue.go
Labels: backport/1.15

#17560 continue anti-entropy sync when failures exist
  agent/local/state.go
Labels: pr/no-changelog, pr/no-docs, backport/1.14, backport/1.15

#17568 Generate helm docs for release consul-k8s 1.1.2
  website/content/docs/k8s/helm.mdx
Labels: type/docs, pr/no-changelog, pr/no-metrics-test, backport/1.15

#17521 docs: clarify the behavior of prepending hostname to metrics
  website/content/docs/agent/config/config-files.mdx
  website/content/docs/agent/telemetry.mdx
Labels: type/docs, pr/no-changelog, pr/no-metrics-test, backport/1.14, backport/1.15

#17569 Add Prop Override Envoy extension integration test
  test/integration/connect/envoy/case-property-override/capture.sh
  test/integration/connect/envoy/case-property-override/service_s1.hcl
  test/integration/connect/envoy/case-property-override/service_s2.hcl
  test/integration/connect/envoy/case-property-override/setup.sh
  test/integration/connect/envoy/case-property-override/vars.sh
  test/integration/connect/envoy/case-property-override/verify.bats
  test/integration/connect/envoy/helpers.bash
Labels: pr/no-changelog, pr/no-metrics-test, pr/no-docs, pr/no-backport

#17577 Fix metric names in Consul agent telemetry docs
  .changelog/17577.txt
  website/content/docs/agent/telemetry.mdx
Labels: type/docs, pr/no-metrics-test, backport/1.14, backport/1.15, pr/no-backport

#17584 Fix Property Override Services parsing
  agent/envoyextensions/builtin/property-override/property_override.go
  agent/envoyextensions/builtin/property-override/property_override_test.go
  test/integration/connect/envoy/case-property-override/capture.sh
  test/integration/connect/envoy/case-property-override/service_s1.hcl
  test/integration/connect/envoy/case-property-override/service_s3.hcl
  test/integration/connect/envoy/case-property-override/setup.sh
  test/integration/connect/envoy/case-property-override/vars.sh
  test/integration/connect/envoy/case-property-override/verify.bats
Labels: pr/no-changelog, pr/no-metrics-test, pr/no-docs, pr/no-backport

#17547 Update list of Envoy versions
  .changelog/17547.txt
  .github/workflows/test-integrations.yml
  agent/xds/envoy_versioning_test.go
  agent/xds/proxysupport/proxysupport.go
  website/content/docs/connect/proxies/envoy.mdx
Labels: theme/envoy/xds, pr/no-backport

#17580 Backport of docs: clarify the behavior of prepending hostname to metrics into release/1.15.x
  website/content/docs/agent/config/config-files.mdx
  website/content/docs/agent/telemetry.mdx
Labels: type/docs

#17592 Update tests for fips
  agent/consul/merge_test.go
  agent/grpc-external/services/dataplane/get_supported_features_test.go
  tlsutil/config_test.go
  version/version.go
Labels: theme/tls, theme/certificates, pr/no-changelog, pr/no-backport

#17599 fix rate limiting mapping to be the same between api and struct packages
  agent/consul/rate/handler.go
  agent/rpc/middleware/rate_limit_mappings.go
  api/config_entry_rate_limit_ip.go
Labels: theme/api, pr/no-changelog, pr/no-backport

#17605 Disable terminating-gateway for property-override
  agent/envoyextensions/builtin/property-override/property_override.go
  agent/envoyextensions/builtin/property-override/property_override_test.go
Labels: pr/no-changelog, pr/no-metrics-test, pr/no-docs, pr/no-backport

#17606 [OSS] Post Consul 1.16 updates
  .github/workflows/nightly-test-1.16.x.yaml
  version/VERSION
Labels: pr/no-changelog, pr/no-metrics-test, pr/no-docs, pr/no-backport

#17607 Add writeAuditRPCEvent to agent_oss
  .changelog/_5740.txt
  .changelog/_5750.txt
  agent/agent.go
  agent/agent_oss.go
  agent/config/config.go
Labels: pr/no-changelog, backport/1.16

#17608 Backport of Add writeAuditRPCEvent to agent_oss into release/1.16.x
  .changelog/_5740.txt
  .changelog/_5750.txt
  agent/agent.go
  agent/agent_oss.go
  agent/config/config.go
Labels: theme/config

#17612 Add Envoy and Consul version constraints to Envoy extensions
  agent/envoyextensions/registered_extensions.go
  agent/envoyextensions/registered_extensions_test.go
  agent/structs/envoy_extension.go
  agent/structs/structs_filtering_test.go
  agent/xds/delta.go
  agent/xds/delta_envoy_extender_oss_test.go
  agent/xds/delta_test.go
  agent/xds/testdata/builtin_extension/clusters/lua-outbound-doesnt-apply-to-local-upstreams-with-consul-constraint-violation.latest.golden
  agent/xds/testdata/builtin_extension/clusters/lua-outbound-doesnt-apply-to-local-upstreams-with-envoy-constraint-violation.latest.golden
  agent/xds/testdata/builtin_extension/endpoints/lua-outbound-doesnt-apply-to-local-upstreams-with-consul-constraint-violation.latest.golden
  agent/xds/testdata/builtin_extension/endpoints/lua-outbound-doesnt-apply-to-local-upstreams-with-envoy-constraint-violation.latest.golden
  agent/xds/testdata/builtin_extension/listeners/lua-outbound-doesnt-apply-to-local-upstreams-with-consul-constraint-violation.latest.golden
  agent/xds/testdata/builtin_extension/listeners/lua-outbound-doesnt-apply-to-local-upstreams-with-envoy-constraint-violation.latest.golden
  agent/xds/testdata/builtin_extension/routes/lua-outbound-doesnt-apply-to-local-upstreams-with-consul-constraint-violation.latest.golden
  agent/xds/testdata/builtin_extension/routes/lua-outbound-doesnt-apply-to-local-upstreams-with-envoy-constraint-violation.latest.golden
  api/config_entry.go
  envoyextensions/xdscommon/envoy_versioning.go
  envoyextensions/xdscommon/envoy_versioning_test.go
  proto/private/pbcommon/common.gen.go
  proto/private/pbcommon/common.pb.go
  proto/private/pbcommon/common.proto
  proto/private/pbcommon/convert_pbstruct.go
Labels: theme/api, theme/envoy/xds, pr/no-changelog, pr/no-metrics-test, backport/1.16

#17609 [API Gateway] Fix trust domain for external peered services in synthesis code
  .changelog/17609.txt
  agent/proxycfg/snapshot.go
Labels: theme/api-gw, backport/1.15, backport/1.16

#17614 backport ent changes to oss
  .changelog/_5669.txt
  api/api_test.go
  sdk/testutil/server.go
Labels: theme/api, pr/no-changelog, backport/1.16

#17617 Backport of backport ent changes to oss into release/1.16.x
  .changelog/_5669.txt
  api/api_test.go
  sdk/testutil/server.go
Labels: theme/api

#17619 Update intentions.mdx
  website/content/api-docs/connect/intentions.mdx
Labels: type/docs, pr/no-changelog, backport/1.13, backport/1.14, backport/1.15, backport/1.16

#17620 Backport of Update intentions.mdx into release/1.13.x
  website/content/api-docs/connect/intentions.mdx
Labels: type/docs

#17621 Backport of Update intentions.mdx into release/1.14.x
  website/content/api-docs/connect/intentions.mdx
Labels: type/docs

#17622 Backport of Update intentions.mdx into release/1.15.x
  website/content/api-docs/connect/intentions.mdx
Labels: type/docs

#17626 Update submodules for 1.16.0-rc1 release
  go.mod
  go.sum
  test/integration/consul-container/go.mod
Labels: pr/dependencies, pr/no-changelog, pr/no-metrics-test, pr/no-docs, pr/no-backport

#17625 enterprise changelog update for audit
  .changelog/_5805.txt
Labels: pr/no-changelog, backport/1.16

#17546 Update list of Envoy versions
  .changelog/17546.txt
  .github/workflows/test-integrations.yml
  envoyextensions/xdscommon/envoy_versioning_test.go
  envoyextensions/xdscommon/proxysupport.go
  website/content/docs/connect/proxies/envoy.mdx
Labels: theme/envoy/xds, backport/1.16

#17632 Backport of Update list of Envoy versions into release/1.16.x
  .changelog/17546.txt
  .github/workflows/test-integrations.yml
  envoyextensions/xdscommon/envoy_versioning_test.go
  envoyextensions/xdscommon/proxysupport.go
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, type/ci, theme/contributing

#17631 [API Gateway] Fix rate limiting for API gateways
  .changelog/17631.txt
  agent/consul/state/state_store_test.go
  agent/consul/state/usage.go
  agent/consul/state/usage_test.go
  agent/consul/usagemetrics/usagemetrics_oss_test.go
  agent/operator_endpoint_oss_test.go
  agent/structs/testing_catalog.go
  api/operator_usage_test.go
Labels: theme/api-gw, backport/1.15, backport/1.16

#17635 Backport of [API Gateway] Fix rate limiting for API gateways into release/1.16.x
  .changelog/17631.txt
  agent/consul/state/state_store_test.go
  agent/consul/state/usage.go
  agent/consul/state/usage_test.go
  agent/consul/usagemetrics/usagemetrics_oss_test.go
  agent/operator_endpoint_oss_test.go
  agent/structs/testing_catalog.go
  api/operator_usage_test.go
Labels: theme/api

#17634 Backport of [API Gateway] Fix rate limiting for API gateways into release/1.15.x
  .changelog/17631.txt
  agent/consul/state/state_store_test.go
  agent/consul/state/usage.go
  agent/consul/state/usage_test.go
  agent/consul/usagemetrics/usagemetrics_oss_test.go
  agent/operator_endpoint_oss_test.go
  agent/structs/testing_catalog.go
  api/operator_usage_test.go
Labels: theme/api

#17636 cache: fix a few minor goroutine leaks in leaf certs and the agent cache
  .changelog/17636.txt
  agent/cache-types/connect_ca_leaf.go
  agent/cache/cache.go
Labels: theme/agent-cache, pr/no-metrics-test, backport/1.13, backport/1.14

#17637 sort some imports that are wonky between oss and ent
  agent/agent_endpoint.go
  agent/agent_endpoint_test.go
  agent/proxycfg/mesh_gateway.go
Labels: pr/no-changelog, pr/no-metrics-test, pr/no-backport

#17638 [1.14.x] cache: fix a few minor goroutine leaks in leaf certs and the agent cache
  .changelog/17636.txt
  agent/cache-types/connect_ca_leaf.go
  agent/cache/cache.go
Labels: theme/agent-cache, pr/no-metrics-test, pr/no-backport

#17624 PmTLS and tproxy improvements with failover and L7 traffic mgmt for k8s
  website/content/docs/connect/failover/index.mdx
  website/content/docs/connect/l7-traffic/index.mdx
  website/content/docs/k8s/connect/index.mdx
  website/content/docs/k8s/connect/onboarding-tproxy-mode.mdx
  website/content/docs/k8s/connect/transparent-proxy/enable-transparent-proxy.mdx
  website/content/docs/k8s/connect/transparent-proxy/index.mdx
  website/content/docs/k8s/l7-traffic/failover-tproxy.mdx
  website/content/docs/k8s/l7-traffic/route-to-virtual-services.mdx
  website/data/docs-nav-data.json
Labels: type/docs, pr/do-not-merge, pr/no-changelog, pr/no-metrics-test, backport/1.16

#17645 Backport of PmTLS and tproxy improvements with failover and L7 traffic mgmt for k8s into release/1.16.x
  website/content/docs/connect/failover/index.mdx
  website/content/docs/connect/l7-traffic/index.mdx
  website/content/docs/k8s/connect/index.mdx
  website/content/docs/k8s/connect/onboarding-tproxy-mode.mdx
  website/content/docs/k8s/connect/transparent-proxy/enable-transparent-proxy.mdx
  website/content/docs/k8s/connect/transparent-proxy/index.mdx
  website/content/docs/k8s/l7-traffic/failover-tproxy.mdx
  website/content/docs/k8s/l7-traffic/route-to-virtual-services.mdx
  website/data/docs-nav-data.json
Labels: type/docs

#17647 chore(website): delete check-legacy-links-format.yml
  .github/workflows/check-legacy-links-format.yml
Labels: pr/no-changelog, backport/1.14, backport/1.15, backport/1.16

#17650 Backport of chore(website): delete check-legacy-links-format.yml into release/1.16.x
  .github/workflows/check-legacy-links-format.yml
Labels: type/ci, theme/contributing

#17652 Backport of docs: Reference doc updates for permissive mTLS settings into release/1.16.x
  website/content/api-docs/config.mdx
  website/content/commands/config/list.mdx
  website/content/docs/connect/config-entries/mesh.mdx
  website/content/docs/connect/config-entries/proxy-defaults.mdx
  website/content/docs/connect/config-entries/service-defaults.mdx
  website/content/docs/release-notes/consul/v1_13_x.mdx
  website/content/docs/services/discovery/dns-configuration.mdx
Labels: type/docs

#17450 Backport of CI: do not upload test metrics to datadog on forks into release/1.14.x
  .github/workflows/reusable-unit-split.yml
  .github/workflows/reusable-unit.yml
  .github/workflows/test-integrations.yml
Labels: type/ci, theme/contributing

#17644 api-gateway: stop adding all header filters to virtual host when generating xDS
  agent/xds/resources_test.go
  agent/xds/routes.go
  agent/xds/testdata/routes/api-gateway-with-http-route-and-inline-certificate.latest.golden
Labels: theme/envoy/xds, pr/no-changelog, backport/1.16

#17654 fix: add agent info reporting log
  command/agent/agent.go
Labels: theme/cli, pr/no-changelog, backport/1.13, backport/1.14, backport/1.15, backport/1.16

#17451 Backport of CI: do not upload test metrics to datadog on forks into release/1.15.x
  .github/workflows/reusable-unit-split.yml
  .github/workflows/reusable-unit.yml
  .github/workflows/test-integrations.yml
Labels: type/ci, theme/contributing

#17662 Backport of fix: add agent info reporting log into release/1.16.x
  command/agent/agent.go
Labels: theme/cli

#17651 Add new Consul 1.16 docs
  website/content/docs/agent/config/config-files.mdx
  website/content/docs/agent/config/index.mdx
  website/content/docs/agent/limits/index.mdx
  website/content/docs/agent/limits/set-global-traffic-rate-limits.mdx
  website/content/docs/agent/limits/usage/init-rate-limits.mdx
  website/content/docs/agent/limits/usage/limit-request-rates-from-ips.mdx
  website/content/docs/agent/limits/usage/monitor-rate-limits.mdx
  website/content/docs/agent/limits/usage/set-global-traffic-rate-limits.mdx
  website/content/docs/connect/config-entries/control-plane-request-limit.mdx
  website/content/docs/connect/proxies/envoy-extensions/configuration/ext-authz.mdx
  website/content/docs/connect/proxies/envoy-extensions/configuration/property-override.mdx
  website/content/docs/connect/proxies/envoy-extensions/configuration/wasm.mdx
  website/content/docs/connect/proxies/envoy-extensions/index.mdx
  website/content/docs/connect/proxies/envoy-extensions/usage/ext-authz.mdx
  website/content/docs/connect/proxies/envoy-extensions/usage/property-override.mdx
  website/content/docs/connect/proxies/envoy-extensions/usage/wasm.mdx
  website/content/docs/enterprise/license/utilization-reporting.mdx
  website/content/partials/envoy_ext_rule_matcher.mdx
  website/data/docs-nav-data.json
Labels: type/docs, pr/no-changelog, backport/1.16

#17666 Backport of Add new Consul 1.16 docs into release/1.16.x
  website/content/docs/agent/config/config-files.mdx
  website/content/docs/agent/config/index.mdx
  website/content/docs/agent/limits/index.mdx
  website/content/docs/agent/limits/set-global-traffic-rate-limits.mdx
  website/content/docs/agent/limits/usage/init-rate-limits.mdx
  website/content/docs/agent/limits/usage/limit-request-rates-from-ips.mdx
  website/content/docs/agent/limits/usage/monitor-rate-limits.mdx
  website/content/docs/agent/limits/usage/set-global-traffic-rate-limits.mdx
  website/content/docs/connect/config-entries/control-plane-request-limit.mdx
  website/content/docs/connect/proxies/envoy-extensions/configuration/ext-authz.mdx
  website/content/docs/connect/proxies/envoy-extensions/configuration/property-override.mdx
  website/content/docs/connect/proxies/envoy-extensions/configuration/wasm.mdx
  website/content/docs/connect/proxies/envoy-extensions/index.mdx
  website/content/docs/connect/proxies/envoy-extensions/usage/ext-authz.mdx
  website/content/docs/connect/proxies/envoy-extensions/usage/property-override.mdx
  website/content/docs/connect/proxies/envoy-extensions/usage/wasm.mdx
  website/content/docs/enterprise/license/utilization-reporting.mdx
  website/content/partials/envoy_ext_rule_matcher.mdx
  website/data/docs-nav-data.json
Labels: type/docs

#17657 Default `ProxyType` for builtin extensions
  agent/envoyextensions/builtin/http/localratelimit/ratelimit.go
  agent/envoyextensions/builtin/http/localratelimit/ratelimit_test.go
  agent/envoyextensions/builtin/lua/lua.go
  agent/envoyextensions/builtin/lua/lua_test.go
  agent/envoyextensions/builtin/property-override/property_override.go
  agent/envoyextensions/builtin/property-override/property_override_test.go
Labels: pr/no-changelog, pr/no-metrics-test, pr/no-docs, backport/1.16

#17655 Backport of Add generic experiments configuration and use it to enable catalog v2 resources into release/1.16.x
  GNUmakefile
  agent/config/builder.go
  agent/config/config.go
  agent/config/default.go
  agent/config/runtime.go
  agent/config/runtime_test.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/config/testdata/full-config.hcl
  agent/config/testdata/full-config.json
  agent/consul/options.go
  agent/consul/server.go
  agent/setup.go
Labels: theme/config

#17656 Update service-defaults.mdx
  website/content/docs/connect/config-entries/service-defaults.mdx
Labels: type/docs, pr/no-changelog, pr/no-metrics-test, backport/1.15, backport/1.16

#17670 Remove "BETA" marker from config entries
  website/data/docs-nav-data.json
Labels: type/docs, pr/no-changelog, pr/no-backport

#17627 CAPIgw for K8s installation updates for 1.16
  website/content/docs/api-gateway/configuration/gateway.mdx
  website/content/docs/api-gateway/install.mdx
  website/content/docs/api-gateway/tech-specs.mdx
  website/content/docs/api-gateway/upgrades.mdx
Labels: type/docs, pr/do-not-merge, pr/no-changelog, pr/no-metrics-test, backport/1.16

#17677 additional feedback on API gateway upgrades
  website/content/docs/api-gateway/upgrades.mdx
Labels: type/docs, pr/no-changelog, pr/no-metrics-test, backport/1.16

#17593 Fix two WAL metrics in docs/agent/telemetry.mdx
  .changelog/17593.txt
  website/content/docs/agent/telemetry.mdx
Labels: type/docs, pr/no-metrics-test, backport/1.15

#17672 Backport of Update service-defaults.mdx into release/1.16.x
  website/content/docs/connect/config-entries/service-defaults.mdx
Labels: type/docs

#17671 Backport of Update service-defaults.mdx into release/1.15.x
  website/content/docs/connect/config-entries/service-defaults.mdx
Labels: type/docs

#17683 updated failover for k8s w-tproxy page title
  website/content/docs/k8s/l7-traffic/failover-tproxy.mdx
Labels: type/docs, pr/no-changelog, pr/no-metrics-test, backport/1.16

#17685 Backport of updated failover for k8s w-tproxy page title into release/1.16.x
  website/content/docs/k8s/l7-traffic/failover-tproxy.mdx
Labels: type/docs

#17682 Backport of Fix two WAL metrics in docs/agent/telemetry.mdx into release/1.15.x
  .changelog/17593.txt
  website/content/docs/agent/telemetry.mdx
Labels: type/docs

#17675 Backport of CAPIgw for K8s installation updates for 1.16 into release/1.16.x
  website/content/docs/api-gateway/configuration/gateway.mdx
  website/content/docs/api-gateway/install.mdx
  website/content/docs/api-gateway/tech-specs.mdx
  website/content/docs/api-gateway/upgrades.mdx
Labels: type/docs

#17590 Backport of Fix metric names in Consul agent telemetry docs into release/1.15.x
  .changelog/17577.txt
  website/content/docs/agent/telemetry.mdx
Labels: type/docs

#17589 Backport of Fix metric names in Consul agent telemetry docs into release/1.14.x
  .changelog/17577.txt
  website/content/docs/agent/telemetry.mdx
Labels: type/docs

#17665 Add release notes 1.16 rc
  website/content/docs/agent/limits/index.mdx
  website/content/docs/api-gateway/install.mdx
  website/content/docs/enterprise/fips.mdx
  website/content/docs/release-notes/consul/v1_16_x.mdx
  website/data/docs-nav-data.json
Labels: type/docs, pr/no-changelog, backport/1.16

#17687 Fix release notes links
  website/content/docs/release-notes/consul/v1_16_x.mdx
Labels: type/docs, pr/no-changelog, pr/no-metrics-test, backport/1.16

#17689 Backport of Fix release notes links into release/1.16.x
  website/content/docs/release-notes/consul/v1_16_x.mdx
Labels: type/docs

#17688 adding redirects for tproxy and envoy extensions
  website/redirects.js
Labels: type/docs, pr/no-changelog, pr/no-metrics-test, backport/1.16

#17690 Backport of adding redirects for tproxy and envoy extensions into release/1.16.x
  website/redirects.js
Labels: type/docs

#17691 Fix FIPS copy
  website/content/docs/enterprise/fips.mdx
Labels: type/docs, pr/no-changelog, backport/1.16

#17692 Backport of Fix FIPS copy into release/1.16.x
  website/content/docs/enterprise/fips.mdx
Labels: type/docs

#17596 [NET-4107][Supportability] Log Level set to TRACE and duration set to 5m for consul-debug
  .changelog/17596.txt
  command/debug/debug.go
  website/content/commands/debug.mdx
Labels: type/docs, theme/cli, pr/no-metrics-test, pr/no-backport

#17483 fix: stop peering delete routine on leader loss
  .changelog/17483.txt
  .changelog/_5614.txt
  agent/consul/leader.go
Labels: backport/1.13, backport/1.14, backport/1.15, backport/1.16

#17696 Refactor disco chain prioritize by locality structs
  agent/consul/discoverychain/compile.go
  agent/consul/discoverychain/compile_test.go
  agent/structs/discovery_chain.go
  agent/structs/structs.deepcopy.go
Labels: pr/no-changelog, backport/1.16

#17697 Backport of ENT backport for ext-authz extension updates into release/1.16.x
  agent/envoyextensions/builtin/ext-authz/ext_authz.go
  agent/envoyextensions/builtin/ext-authz/structs.go
  agent/xds/testdata/builtin_extension/listeners/ext-authz-http-local-grpc-service.latest.golden
  agent/xds/testdata/builtin_extension/listeners/ext-authz-http-local-http-service.latest.golden
  agent/xds/testdata/builtin_extension/listeners/ext-authz-http-upstream-grpc-service.latest.golden
  agent/xds/testdata/builtin_extension/listeners/ext-authz-http-upstream-http-service.latest.golden
  agent/xds/testdata/builtin_extension/listeners/ext-authz-tcp-local-grpc-service.latest.golden
Labels: theme/envoy/xds

#17698 Backport of docs: Update default values for Envoy extension proxy types into release/1.16.x
  website/content/docs/connect/proxies/envoy-extensions/configuration/property-override.mdx
  website/content/docs/connect/proxies/envoy-extensions/usage/lua.mdx
  website/content/docs/connect/proxies/envoy-extensions/usage/property-override.mdx
Labels: type/docs

#17075 agent: remove agent cache dependency from service mesh leaf certificate management
  .changelog/17075.txt
  agent/agent.go
  agent/agent_endpoint.go
  agent/agent_endpoint_test.go
  agent/agent_test.go
  agent/auto-config/auto_config_test.go
  agent/auto-config/auto_encrypt_test.go
  agent/auto-config/config.go
  agent/auto-config/mock_test.go
  agent/auto-config/tls.go
  agent/cache-types/connect_ca_leaf.go
  agent/cache-types/connect_ca_leaf_oss.go
  agent/cache-types/connect_ca_leaf_test.go
  agent/cache-types/norace_test.go
  agent/cache-types/race_test.go
  agent/consul/servercert/manager.go
  agent/consul/servercert/manager_test.go
  agent/leafcert/cached_roots.go
  agent/leafcert/cert.go
  agent/leafcert/generate.go
  agent/leafcert/leafcert.go
  agent/leafcert/leafcert_test.go
  agent/leafcert/roots.go
  agent/leafcert/signer_netrpc.go
  agent/leafcert/signer_test.go
  agent/leafcert/structs.go
  agent/leafcert/structs_test.go
  agent/leafcert/util.go
  agent/leafcert/util_test.go
  agent/leafcert/watch.go
  agent/proxycfg-glue/glue.go
  agent/proxycfg-glue/leafcerts.go
  agent/proxycfg/api_gateway.go
  agent/proxycfg/connect_proxy.go
  agent/proxycfg/data_sources.go
  agent/proxycfg/ingress_gateway.go
  agent/proxycfg/manager_test.go
  agent/proxycfg/mesh_gateway.go
  agent/proxycfg/state_test.go
  agent/proxycfg/terminating_gateway.go
  agent/proxycfg/testing.go
  agent/setup.go
Labels: theme/agent-cache, pr/no-metrics-test, pr/no-backport, backport/1.16

#17695 [chore]: Pin github action workflows
  .github/workflows/bot-auto-approve.yaml
  .github/workflows/broken-link-check.yml
  .github/workflows/build-artifacts.yml
  .github/workflows/build-distros.yml
  .github/workflows/build.yml
  .github/workflows/changelog-checker.yml
  .github/workflows/embedded-asset-checker.yml
  .github/workflows/frontend.yml
  .github/workflows/go-tests.yml
  .github/workflows/issue-comment-created.yml
  .github/workflows/jira-issues.yaml
  .github/workflows/jira-pr.yaml
  .github/workflows/nightly-test-1.13.x.yaml
  .github/workflows/nightly-test-1.14.x.yaml
  .github/workflows/nightly-test-1.15.x.yaml
  .github/workflows/nightly-test-1.16.x.yaml
  .github/workflows/nightly-test-main.yaml
  .github/workflows/pr-labeler.yml
  .github/workflows/pr-metrics-test-checker.yml
  .github/workflows/reusable-check-go-mod.yml
  .github/workflows/reusable-dev-build.yml
  .github/workflows/reusable-lint.yml
  .github/workflows/reusable-unit-split.yml
  .github/workflows/reusable-unit.yml
  .github/workflows/stale.yml
  .github/workflows/test-integrations.yml
  .github/workflows/verify-envoy-version.yml
Labels: type/ci, theme/contributing, pr/no-changelog, pr/no-metrics-test, pr/no-docs, pr/no-backport

#17706 docs: missing changelog for _5517
  .changelog/_5517.txt
Labels: pr/no-changelog, backport/1.14, backport/1.15, backport/1.16

#17711 add enterprise notes for IP-based rate limits
  website/content/docs/agent/limits/index.mdx
  website/content/docs/agent/limits/usage/limit-request-rates-from-ips.mdx
  website/content/docs/connect/config-entries/control-plane-request-limit.mdx
  website/content/docs/enterprise/index.mdx
  website/content/docs/release-notes/consul/v1_16_x.mdx
Labels: type/docs, pr/no-changelog, pr/no-metrics-test, backport/1.16

#17714 Backport of add enterprise notes for IP-based rate limits into release/1.16.x
  website/content/docs/agent/limits/index.mdx
  website/content/docs/agent/limits/usage/limit-request-rates-from-ips.mdx
  website/content/docs/connect/config-entries/control-plane-request-limit.mdx
  website/content/docs/enterprise/index.mdx
  website/content/docs/release-notes/consul/v1_16_x.mdx
Labels: type/docs

#17713 Update consul-k8s compat matrix
  website/content/docs/k8s/compatibility.mdx
Labels: type/docs, pr/no-changelog, pr/no-metrics-test, backport/1.16

#17715 Backport of Update consul-k8s compat matrix into release/1.16.x
  website/content/docs/k8s/compatibility.mdx
Labels: type/docs, pr/no-changelog, pr/no-metrics-test

#17716 Remove extraneous version info for Config entries
  website/content/docs/connect/config-entries/exported-services.mdx
  website/content/docs/connect/config-entries/mesh.mdx
  website/content/docs/connect/config-entries/terminating-gateway.mdx
Labels: type/docs, pr/no-changelog, pr/no-metrics-test, backport/1.15, backport/1.16

#17717 Backport of Remove extraneous version info for Config entries into release/1.15.x
  website/content/docs/connect/config-entries/exported-services.mdx
  website/content/docs/connect/config-entries/mesh.mdx
  website/content/docs/connect/config-entries/terminating-gateway.mdx
Labels: type/docs, pr/no-changelog, pr/no-metrics-test

#17718 Backport of Remove extraneous version info for Config entries into release/1.16.x
  website/content/docs/connect/config-entries/exported-services.mdx
  website/content/docs/connect/config-entries/mesh.mdx
  website/content/docs/connect/config-entries/terminating-gateway.mdx
Labels: type/docs, pr/no-changelog, pr/no-metrics-test

#17527 docs: fix typo in link to section
  website/content/docs/k8s/upgrade/index.mdx
Labels: type/docs, pr/no-changelog, backport/1.14, backport/1.15

#17722 Backport of docs: fix typo in link to section into release/1.16.x
  website/content/docs/k8s/upgrade/index.mdx
Labels: type/docs

#17721 Backport of docs: fix typo in link to section into release/1.15.x
  website/content/docs/k8s/upgrade/index.mdx
Labels: type/docs

#17720 Backport of docs: fix typo in link to section into release/1.14.x
  website/content/docs/k8s/upgrade/index.mdx
Labels: type/docs

#17719 Bump Alpine to 3.18
  .changelog/17719.txt
  Dockerfile
Labels: backport/1.16

#16465 NET-1825: New ACL token creation docs
  website/content/docs/security/acl/tokens/create/create-a-mesh-gateway-token.mdx
  website/content/docs/security/acl/tokens/create/create-a-service-token.mdx
  website/content/docs/security/acl/tokens/create/create-a-terminating-gateway-token.mdx
  website/content/docs/security/acl/tokens/create/create-a-ui-token.mdx
  website/content/docs/security/acl/tokens/create/create-an-agent-token.mdx
  website/content/docs/security/acl/tokens/create/create-an-ingress-gateway-token.mdx
  website/content/docs/security/acl/tokens/index.mdx
  website/content/partials/create-token-auth-methods.mdx
  website/content/partials/create-token-requirements.mdx
  website/data/docs-nav-data.json
Labels: type/docs, pr/no-changelog, pr/no-metrics-test, backport/1.14, backport/1.15, backport/1.16

#17731 Disable peering queries by default in proxycfg
  .changelog/17731.txt
  agent/agent.go
  agent/proxycfg/connect_proxy.go
  agent/proxycfg/manager.go
  agent/proxycfg/mesh_gateway.go
  agent/proxycfg/state.go
  agent/proxycfg/state_test.go
  agent/proxycfg/testing.go
  agent/proxycfg/testing_connect_proxy.go
  agent/proxycfg/testing_ingress_gateway.go
  agent/proxycfg/testing_mesh_gateway.go
  agent/proxycfg/testing_peering.go
  agent/proxycfg/testing_terminating_gateway.go
  agent/proxycfg/testing_tproxy.go
  agent/proxycfg/upstreams.go
  agent/xds/clusters_test.go
  agent/xds/listeners_test.go
  agent/xds/resources_test.go
Labels: theme/envoy/xds, pr/no-backport

#17735 Backport of NET-1825: New ACL token creation docs into release/1.16.x
  website/content/docs/security/acl/tokens/create/create-a-mesh-gateway-token.mdx
  website/content/docs/security/acl/tokens/create/create-a-service-token.mdx
  website/content/docs/security/acl/tokens/create/create-a-terminating-gateway-token.mdx
  website/content/docs/security/acl/tokens/create/create-a-ui-token.mdx
  website/content/docs/security/acl/tokens/create/create-an-agent-token.mdx
  website/content/docs/security/acl/tokens/create/create-an-ingress-gateway-token.mdx
  website/content/docs/security/acl/tokens/index.mdx
  website/content/partials/create-token-auth-methods.mdx
  website/content/partials/create-token-requirements.mdx
  website/data/docs-nav-data.json
Labels: type/docs

#17582 [NET-3865] [Supportability] Additional Information in the output of 'consul operator raft list-peers'
  .changelog/17582.txt
  agent/consul/operator_raft_endpoint.go
  agent/consul/operator_raft_endpoint_test.go
  agent/structs/operator.go
  api/operator_raft.go
  command/operator/raft/listpeers/operator_raft_list.go
  command/operator/raft/listpeers/operator_raft_list_test.go
  website/content/commands/operator/raft.mdx
Labels: type/docs, theme/api, theme/cli, backport/1.14, backport/1.15, backport/1.16

#17740 OSS merge: Update error handling login when applying extensions
  agent/xds/delta.go
Labels: type/bug, theme/envoy/xds, pr/no-changelog, pr/no-metrics-test, pr/no-docs, backport/1.16

#17742 Backport of OSS merge: Update error handling login when applying extensions into release/1.16.x
  agent/xds/delta.go
Labels: theme/envoy/xds

#17723 Add truncation to body
  agent/hcp/client/metrics_client.go
  agent/hcp/client/metrics_client_test.go
Labels: pr/no-changelog, backport/1.15, backport/1.16

#17744 Backport/docs/add enterprise note rate limits by ip/sharply busy porpoise
  website/content/docs/release-notes/consul/v1_16_x.mdx
Labels: type/docs, theme/api, theme/cli, theme/config, type/ci, pr/dependencies, theme/envoy/xds, theme/contributing, pr/no-changelog, pr/no-metrics-test, backport/1.16

#17752 docs - update Envoy and Dataplane compat matrix
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, pr/no-changelog, pr/no-metrics-test, backport/1.16

#17753 Backport of docs - update Envoy and Dataplane compat matrix into release/1.16.x
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs

#17559 Post-release updates for 1.15.x
  CHANGELOG.md
  envoyextensions/go.mod
  envoyextensions/go.sum
  go.mod
  test/integration/consul-container/go.mod
  troubleshoot/go.mod
  troubleshoot/go.sum
  version/VERSION
Labels: pr/dependencies, pr/no-backport

#17751 Updated docs added explanation.
  website/content/commands/operator/raft.mdx
Labels: type/docs

#17749 Update index.mdx
  website/content/docs/k8s/upgrade/index.mdx
Labels: type/docs, pr/no-changelog, backport/1.14, backport/1.15, backport/1.16

#17761 Backport of Update index.mdx into release/1.15.x
  website/content/docs/k8s/upgrade/index.mdx
Labels: type/docs

#17762 Backport of Update index.mdx into release/1.16.x
  website/content/docs/k8s/upgrade/index.mdx
Labels: type/docs

#17764 added redirects and updated links
  website/content/docs/connect/gateways/index.mdx
  website/content/docs/connect/gateways/mesh-gateway/index.mdx
  website/content/docs/connect/gateways/mesh-gateway/peering-via-mesh-gateways.mdx
  website/content/docs/enterprise/admin-partitions.mdx
  website/content/docs/lambda/invoke-from-lambda.mdx
  website/redirects.js
Labels: type/docs, pr/no-changelog, pr/no-metrics-test, backport/1.15, backport/1.16

#17757 Improve Transparent Proxy Virtual Services and Failovers
  .changelog/17757.txt
Labels: backport/1.16

#17758 docs - remove use of consul leave during upgrade instructions as it caused leadership changes
  website/content/docs/upgrading/instructions/general-process.mdx
Labels: type/docs, pr/no-changelog, backport/1.13, backport/1.14, backport/1.15, backport/1.16

#17772 Backport of docs - remove use of consul leave during upgrade instructions as it caused leadership changes into release/1.15.x
  website/content/docs/upgrading/instructions/general-process.mdx
Labels: type/docs

#17770 Backport of docs - remove use of consul leave during upgrade instructions as it caused leadership changes into release/1.13.x
  website/content/docs/upgrading/instructions/general-process.mdx
Labels: type/docs

#17775 Fix issue with streaming service health watches.
  .changelog/17775.txt
  agent/agent.go
  agent/consul/watch/server_local.go
  agent/proxycfg-glue/health_blocking.go
  agent/proxycfg-glue/health_blocking_test.go
Labels: backport/1.16

#17759 Property Override validation improvements
  .changelog/17759.txt
  agent/envoyextensions/builtin/property-override/property_override.go
  agent/envoyextensions/builtin/property-override/property_override_test.go
  agent/envoyextensions/builtin/property-override/structpatcher.go
  agent/envoyextensions/builtin/property-override/structpatcher_test.go
Labels: backport/1.16

#17767 Backport of added redirects and updated links into release/1.16.x
  website/content/docs/connect/gateways/index.mdx
  website/content/docs/connect/gateways/mesh-gateway/index.mdx
  website/content/docs/connect/gateways/mesh-gateway/peering-via-mesh-gateways.mdx
  website/content/docs/enterprise/admin-partitions.mdx
  website/content/docs/lambda/invoke-from-lambda.mdx
  website/redirects.js
Labels: type/docs

#17782 Update license get explanation
  website/content/commands/license.mdx
Labels: type/docs, backport/1.14, backport/1.15, backport/1.16

#17785 Backport of Update license get explanation into release/1.16.x
  website/content/commands/license.mdx
Labels: type/docs

#17784 Backport of Update license get explanation into release/1.15.x
  website/content/commands/license.mdx
Labels: type/docs

#17783 Backport of Update license get explanation into release/1.14.x
  website/content/commands/license.mdx
Labels: type/docs

#17787 docs - redo cherry pick from Consul K8s upgrade doc #17760
  website/content/docs/k8s/upgrade/index.mdx
Labels: type/docs, pr/no-changelog, pr/no-backport

#17777 Add Patch index to Prop Override validation errors
  agent/envoyextensions/builtin/property-override/property_override.go
  agent/envoyextensions/builtin/property-override/property_override_test.go
Labels: theme/envoy/xds, pr/no-changelog, pr/no-docs, backport/1.16

#17755 Stop referenced jwt providers from being deleted
  .changelog/17755.txt
  agent/consul/state/config_entry.go
  agent/consul/state/config_entry_test.go
Labels: backport/1.16

#17435 Implement a Catalog Controllers Lifecycle Integration Test
  internal/catalog/catalogtest/run_test.go
  internal/catalog/catalogtest/test_integration_v1alpha1.go
  internal/catalog/catalogtest/test_lifecycle_v1alpha1.go
  internal/catalog/exports.go
  internal/resource/resourcetest/builder.go
  internal/resource/resourcetest/client.go
  proto/private/prototest/testing.go
Labels: pr/no-changelog, pr/no-backport

#17750 Add node id/name to config
  agent/config/builder.go
  agent/config/runtime_test.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/hcp/client/client.go
  agent/hcp/client/client_test.go
  agent/hcp/client/metrics_client.go
  agent/hcp/client/metrics_client_test.go
  agent/hcp/client/mock_metrics_client.go
  agent/hcp/config/config.go
  agent/hcp/deps.go
  agent/hcp/deps_test.go
  agent/setup.go
Labels: theme/config, pr/no-changelog, backport/1.15, backport/1.16

#17795 Backport of Add node id/name to config into release/1.15.x
  agent/config/builder.go
  agent/config/runtime_test.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/hcp/client/client.go
  agent/hcp/client/client_test.go
  agent/hcp/client/metrics_client.go
  agent/hcp/client/metrics_client_test.go
  agent/hcp/client/mock_metrics_client.go
  agent/hcp/config/config.go
  agent/hcp/deps.go
  agent/hcp/deps_test.go
  agent/setup.go
Labels: theme/config

#17674 Catalog V2 Container Based Integration Test
  GNUmakefile
  build-support/scripts/check-allowed-imports.sh
  internal/resource/resourcetest/builder.go
  internal/resource/resourcetest/client.go
  internal/resource/resourcetest/testing.go
  sdk/testutil/context.go
  sdk/testutil/retry/counter.go
  sdk/testutil/retry/retry.go
  sdk/testutil/retry/retry_test.go
  sdk/testutil/retry/timer.go
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
  test/integration/consul-container/libs/cluster/agent.go
  test/integration/consul-container/libs/cluster/container.go
  test/integration/consul-container/libs/cluster/network.go
  test/integration/consul-container/libs/utils/docker.go
  test/integration/consul-container/test/catalog/catalog_test.go
  test/integration/consul-container/test/upgrade/catalog/catalog_test.go
Labels: pr/no-changelog, pr/no-backport

#17796 Backport of Add node id/name to config into release/1.16.x
  agent/config/builder.go
  agent/config/runtime_test.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/hcp/client/client.go
  agent/hcp/client/client_test.go
  agent/hcp/client/metrics_client.go
  agent/hcp/client/metrics_client_test.go
  agent/hcp/client/mock_metrics_client.go
  agent/hcp/config/config.go
  agent/hcp/deps.go
  agent/hcp/deps_test.go
  agent/setup.go
Labels: theme/config

#17763 Fix Docs for Trails Leader By
  website/content/commands/operator/raft.mdx
Labels: type/docs, pr/no-changelog, backport/1.14, backport/1.15, backport/1.16

#17726 Backport of [NET-4107][Supportability] Log Level set to TRACE and duration set to 5m for consul-debug into release/1.13.x
  .changelog/17596.txt
  command/debug/debug.go
  website/content/commands/debug.mdx
Labels: theme/cli

#17727 Backport of [NET-4107][Supportability] Log Level set to TRACE and duration set to 5m for consul-debug into release/1.15.x
  .changelog/17596.txt
  command/debug/debug.go
  website/content/commands/debug.mdx
Labels: type/docs, theme/cli

#17729 Backport of [NET-4107][Supportability] Log Level set to TRACE and duration set to 5m for consul-debug into release/1.14.x
  .changelog/17596.txt
  command/debug/debug.go
  website/content/commands/debug.mdx
Labels: theme/cli

#17737 Backport of [NET-3865] [Supportability] Additional Information in the output of 'consul operator raft list-peers' into release/1.15.x
  .changelog/17582.txt
  agent/consul/operator_raft_endpoint.go
  agent/consul/operator_raft_endpoint_test.go
  agent/structs/operator.go
  api/operator_raft.go
  command/operator/raft/listpeers/operator_raft_list.go
  command/operator/raft/listpeers/operator_raft_list_test.go
  website/content/commands/operator/raft.mdx
Labels: type/docs, theme/api, theme/cli

#17799 Improve Prop Override docs examples
  test/integration/connect/envoy/case-property-override/setup.sh
  test/integration/connect/envoy/case-property-override/verify.bats
  website/content/docs/connect/proxies/envoy-extensions/configuration/property-override.mdx
  website/content/docs/connect/proxies/envoy-extensions/usage/property-override.mdx
Labels: type/docs, pr/no-changelog, backport/1.16

#17811 Backport of Improve Prop Override docs examples into release/1.16.x
  test/integration/connect/envoy/case-property-override/setup.sh
  test/integration/connect/envoy/case-property-override/verify.bats
  website/content/docs/connect/proxies/envoy-extensions/configuration/property-override.mdx
  website/content/docs/connect/proxies/envoy-extensions/usage/property-override.mdx
Labels: type/docs

#17747 Test permissive mTLS filter chain is not configured with tproxy disabled
  agent/xds/listeners_test.go
  agent/xds/testdata/listeners/connect-proxy-without-tproxy-and-permissive-mtls.latest.golden
Labels: theme/envoy/xds, pr/no-changelog, pr/no-docs, backport/1.16

#17800 Add documentation for remote debugging of integration tests.
  docs/README.md
  test/integration/consul-container/test/debugging.md
  test/integration/consul-container/test/util/test_debug_breakpoint_hit.png
  test/integration/consul-container/test/util/test_debug_configuration.png
  test/integration/consul-container/test/util/test_debug_info.png
  test/integration/consul-container/test/util/test_debug_remote_configuration.png
  test/integration/consul-container/test/util/test_debug_remote_connected.png
  test/integration/consul-container/test/util/test_debug_resume_program.png
Labels: pr/no-changelog, pr/no-backport

#17801 Clarify limitations of Prop Override extension
  website/content/docs/connect/proxies/envoy-extensions/configuration/property-override.mdx
  website/content/docs/connect/proxies/envoy-extensions/usage/property-override.mdx
Labels: type/docs, pr/no-changelog, backport/1.16

#17813 Backport of Clarify limitations of Prop Override extension into release/1.16.x
  website/content/docs/connect/proxies/envoy-extensions/configuration/property-override.mdx
  website/content/docs/connect/proxies/envoy-extensions/usage/property-override.mdx
Labels: type/docs

#17810 Fix formatting for webhook-certs Consul tutorial
  website/content/docs/k8s/deployment-configurations/vault/data-integration/webhook-certs.mdx
Labels: type/docs, pr/no-changelog, backport/1.14, backport/1.15, backport/1.16

#17816 Add jwt-authn metrics to jwt-provider docs
  website/content/docs/connect/config-entries/jwt-provider.mdx
Labels: type/docs, pr/no-changelog, pr/no-metrics-test, backport/1.16
