Repository hashicorp/consul, pull requests merged in 2024-02, with the labels that each got.

#20405 website: fix husky command
  website/.husky/pre-commit
  website/package-lock.json
  website/package.json
Labels: type/docs, pr/no-changelog, backport/1.17

#20437 Rev VERSION for 1.19.0-dev
  version/VERSION
Labels: pr/no-changelog, pr/no-backport

#20398 Controller testing docs
  docs/v2-architecture/controller-architecture/guide.md
  docs/v2-architecture/controller-architecture/testing.md
Labels: pr/no-changelog, pr/no-backport

#20439 Resolve Consul DNS in OpenShift
  .changelog/20439.txt
  website/content/docs/k8s/dns.mdx
Labels: type/docs, backport/1.15, backport/1.16, backport/1.17

#20444 Backport of Resolve Consul DNS in OpenShift into release/1.15.x
  .changelog/20439.txt
  website/content/docs/k8s/dns.mdx
Labels: type/docs

#20446 Backport of Resolve Consul DNS in OpenShift into release/1.17.x
  .changelog/20439.txt
  website/content/docs/k8s/dns.mdx
Labels: type/docs

#20445 Backport of Resolve Consul DNS in OpenShift into release/1.16.x
  .changelog/20439.txt
  website/content/docs/k8s/dns.mdx
Labels: type/docs

#20441 Fix typo
  website/content/docs/connect/cluster-peering/usage/establish-cluster-peering.mdx
Labels: type/docs, pr/no-changelog, backport/1.17, backport/1.18

#20448 Backport of Fix typo into release/1.17.x
  website/content/docs/connect/cluster-peering/usage/establish-cluster-peering.mdx
Labels: type/docs

#20449 Backport of Fix typo into release/1.18.x
  website/content/docs/connect/cluster-peering/usage/establish-cluster-peering.mdx
Labels: type/docs

#20370 Add nav bar item to show HCP link status and encourage folks to link
  ui/packages/consul-ui/app/abilities/operator.js
  ui/packages/consul-ui/app/components/hashicorp-consul/index.hbs
  ui/packages/consul-ui/app/components/hcp-nav-item/index.hbs
  ui/packages/consul-ui/app/components/hcp-nav-item/index.js
  ui/packages/consul-ui/app/helpers/hcp-resource-id-to-link.js
  ui/packages/consul-ui/app/services/hcp-link-status.js
  ui/packages/consul-ui/app/services/repository/hcp-link.js
  ui/packages/consul-ui/mock-api/api/hcp/v2/link/global
  ui/packages/consul-ui/tests/acceptance/link-to-hcp-test.js
  ui/packages/consul-ui/tests/integration/components/hcp-nav-item-test.js
  ui/packages/consul-ui/tests/integration/helpers/hcp-resource-id-to-link-test.js
  ui/packages/consul-ui/tests/unit/abilities/-test.js
Labels: theme/ui, pr/no-changelog, pr/no-backport

#20438 Backport of website: fix husky command into release/1.17.x
  website/.husky/pre-commit
  website/package-lock.json
  website/package.json
Labels: type/docs

#20452 Fix SDK iptables.Config marshalling
  sdk/iptables/iptables.go
  sdk/iptables/iptables_test.go
Labels: pr/no-changelog, pr/no-backport

#20451 Fix SDK iptables.Config marshalling
  sdk/iptables/iptables.go
  sdk/iptables/iptables_test.go
Labels: pr/no-changelog, backport/1.18

#20456 Trigger the V1 Compat exported-services Controller when V1 Config Entries are Updated
  agent/consul/fsm/fsm.go
  agent/consul/server.go
  agent/consul/state/config_entry_events.go
  agent/consul/state/events.go
  agent/consul/state/memdb.go
  agent/consul/stream/event_publisher.go
  agent/consul/stream/event_publisher_test.go
  agent/consul/v2_config_entry_exports_shim.go
  agent/consul/v2_config_entry_exports_shim_test.go
  internal/multicluster/internal/controllers/v1compat/controller.go
  logging/names.go
  proto/private/pbconfigentry/config_entry.gen.go
  proto/private/pbconfigentry/config_entry.go
  proto/private/pbconfigentry/config_entry.pb.binary.go
  proto/private/pbconfigentry/config_entry.pb.go
  proto/private/pbconfigentry/config_entry.proto
  proto/private/pbsubscribe/subscribe.pb.go
  proto/private/pbsubscribe/subscribe.proto
Labels: theme/telemetry, pr/no-changelog, backport/1.18

#20447 missing prefix /
  agent/grpc-external/server.go
  command/resource/client/client.go
  command/resource/client/grpc-flags.go
  test/integration/consul-container/libs/cluster/agent.go
  test/integration/consul-container/libs/cluster/container.go
  test/integration/consul-container/test/resource/grpc_forwarding_test.go
Labels: pr/no-changelog, backport/1.18

#20455 Debug failing CICD tests
  test/integration/consul-container/libs/cluster/container.go
Labels: pr/no-changelog, pr/no-backport

#20421 v2: ensure the controller caches are fully populated before first use
  agent/grpc-external/services/resource/watch.go
  agent/grpc-external/services/resource/watch_test.go
  grpcmocks/proto-public/pbresource/mock_isWatchEvent_Event.go
  internal/controller/mem_consistency_test.go
  internal/controller/runner.go
  internal/storage/conformance/conformance.go
  internal/storage/inmem/snapshot_test.go
  internal/storage/inmem/store.go
  internal/storage/inmem/watch.go
  internal/storage/raft/conformance_test.go
  proto-public/pbresource/resource.pb.binary.go
  proto-public/pbresource/resource.pb.go
  proto-public/pbresource/resource.proto
  proto-public/pbresource/resource_deepcopy.gen.go
  proto-public/pbresource/resource_json.gen.go
Labels: pr/no-changelog, pr/no-metrics-test, backport/1.18

#20459 Backport of missing prefix / into release/1.18.x
  agent/grpc-external/server.go
  command/resource/client/client.go
  command/resource/client/grpc-flags.go
  test/integration/consul-container/libs/cluster/agent.go
  test/integration/consul-container/libs/cluster/container.go
  test/integration/consul-container/test/resource/grpc_forwarding_test.go
Labels: theme/cli

#20435 internal/hcp: prevent write loop on telemetrystate resource updates
  internal/hcp/internal/controllers/telemetrystate/controller.go
  internal/hcp/internal/controllers/telemetrystate/controller_test.go
Labels: pr/no-changelog, backport/1.18

#20461 Xw/service prefix for rc1
  agent/grpc-external/server.go
  command/resource/client/client.go
  command/resource/client/grpc-flags.go
  test/integration/consul-container/libs/cluster/agent.go
  test/integration/consul-container/libs/cluster/container.go
  test/integration/consul-container/test/resource/grpc_forwarding_test.go
Labels: theme/cli, pr/no-changelog, pr/no-backport

#20458 catalog: improve the bound workload identity encoding on services
  internal/catalog/exports.go
  internal/catalog/internal/controllers/endpoints/bound.go
  internal/catalog/internal/controllers/endpoints/bound_test.go
  internal/catalog/internal/controllers/endpoints/status.go
Labels: pr/no-changelog, pr/no-metrics-test, backport/1.18

#20466 feat(v2dns): catalog v2 workload query support
  agent/agent.go
  agent/discovery/discovery.go
  agent/discovery/discovery_test.go
  agent/discovery/mock_CatalogDataFetcher.go
  agent/discovery/query_fetcher_v1.go
  agent/discovery/query_fetcher_v1_ce.go
  agent/discovery/query_fetcher_v1_ce_test.go
  agent/discovery/query_fetcher_v1_test.go
  agent/discovery/query_fetcher_v2.go
  agent/discovery/query_fetcher_v2_test.go
  agent/discovery/query_locality.go
  agent/discovery/query_locality_ce.go
  agent/discovery/query_locality_ce_test.go
  agent/discovery/query_locality_test.go
  agent/dns/mock_DNSRouter.go
  agent/dns/parser.go
  agent/dns/parser_test.go
  agent/dns/router.go
  agent/dns/router_ce.go
  agent/dns/router_query.go
  agent/dns/router_query_ce.go
  agent/dns/router_query_ce_test.go
  agent/dns/router_query_test.go
  agent/dns/router_test.go
  agent/dns/server.go
  agent/grpc-external/services/dns/server_v2.go
Labels: pr/no-changelog, backport/1.18

#20470 NET-7488 - dns v2 add support for prepared queries in catalog v1 data model
  agent/discovery/discovery.go
  agent/discovery/query_fetcher_v1.go
  agent/discovery/query_fetcher_v2.go
  agent/dns/router.go
  agent/dns/router_query.go
  agent/dns/router_query_test.go
  agent/dns_service_lookup_test.go
Labels: pr/no-changelog, backport/1.18

#20468 DNS V2 - Revise discovery result to have service and node name and address fields.
  agent/discovery/discovery.go
  agent/discovery/discovery_test.go
  agent/discovery/query_fetcher_v1.go
  agent/discovery/query_fetcher_v1_test.go
  agent/discovery/query_fetcher_v2.go
  agent/discovery/query_fetcher_v2_test.go
  agent/dns/router.go
  agent/dns/router_ce.go
  agent/dns/router_ce_test.go
  agent/dns/router_query.go
  agent/dns/router_query_test.go
  agent/dns/router_test.go
  agent/dns_service_lookup_test.go
Labels: pr/no-changelog, backport/1.18

#20367 Refreshed service discovery docs
  website/content/docs/discover/dns/configure.mdx
  website/content/docs/discover/dns/dynamic-lookup.mdx
  website/content/docs/discover/dns/index.mdx
  website/content/docs/discover/dns/k8s.mdx
  website/content/docs/discover/dns/prepared-query.mdx
  website/content/docs/discover/dns/static-lookup.mdx
  website/content/partials/feature/consul-dns.mdx
  website/data/docs-nav-data.json
Labels: type/docs

#20475 First past at refreshing deploy consul section, update all links
  website/content/commands/troubleshoot/ports.mdx
  website/content/docs/architecture/catalog/v2.mdx
  website/content/docs/architecture/consensus.mdx
  website/content/docs/architecture/index.mdx
  website/content/docs/connect/proxy/deploy-sidecar.mdx
  website/content/docs/connect/proxy/index.mdx
  website/content/docs/connect/proxy/transparent-proxy/enable.mdx
  website/content/docs/connect/proxy/transparent-proxy/k8s.mdx
  website/content/docs/deploy/scale.mdx
  website/content/docs/deploy/server/k8s/examples/clients-outside.mdx
  website/content/docs/deploy/server/k8s/examples/enterprise.mdx
  website/content/docs/deploy/server/k8s/examples/vault/data-integration/bootstrap-token.mdx
  website/content/docs/deploy/server/k8s/examples/vault/data-integration/enterprise-license.mdx
  website/content/docs/deploy/server/k8s/examples/vault/data-integration/gossip-encryption-key.mdx
  website/content/docs/deploy/server/k8s/examples/vault/data-integration/index.mdx
  website/content/docs/deploy/server/k8s/examples/vault/data-integration/partition-token.mdx
  website/content/docs/deploy/server/k8s/examples/vault/data-integration/replication-token.mdx
  website/content/docs/deploy/server/k8s/examples/vault/data-integration/server-tls.mdx
  website/content/docs/deploy/server/k8s/examples/vault/data-integration/service-mesh-certificate.mdx
  website/content/docs/deploy/server/k8s/examples/vault/data-integration/snapshot-agent-config.mdx
  website/content/docs/deploy/server/k8s/examples/vault/data-integration/webhook-certificates.mdx
  website/content/docs/deploy/server/k8s/examples/vault/index.mdx
  website/content/docs/deploy/server/k8s/examples/vault/system-integration.mdx
  website/content/docs/deploy/server/k8s/examples/vault/wan.mdx
  website/content/docs/deploy/server/k8s/requirements.mdx
  website/content/docs/deploy/server/wal/enable.mdx
  website/content/docs/deploy/server/wal/index.mdx
  website/content/docs/deploy/server/wal/monitor-raft.mdx
  website/content/docs/deploy/service-mesh/deploy-sidecar.mdx
  website/content/docs/enterprise/index.mdx
  website/content/docs/enterprise/license/faq.mdx
  website/content/docs/integrate/consul.mdx
  website/content/docs/intro.mdx
  website/content/docs/link/mesh-gateway/admin-partition.mdx
  website/content/docs/link/mesh-gateway/federation.mdx
  website/content/docs/link/mesh-gateway/index.mdx
  website/content/docs/monitor-consul/telemetry/index.mdx
  website/content/docs/reference-cli/agent.mdx
  website/content/docs/reference-cli/consul-dataplane.mdx
  website/content/docs/reference/agent.mdx
  website/content/docs/reference/k8s/helm.mdx
  website/content/docs/reference/service.mdx
  website/content/docs/register/index.mdx
  website/content/docs/release-notes/consul-k8s/v1_0_x.mdx
  website/content/docs/release-notes/consul-k8s/v1_1_x.mdx
  website/content/docs/release-notes/consul-k8s/v1_2_x.mdx
  website/content/docs/release-notes/consul/v1_11_x.mdx
  website/content/docs/release-notes/consul/v1_15_x.mdx
  website/content/docs/release-notes/consul/v1_16_x.mdx
  website/content/docs/release-notes/ecs/v0_7_x.mdx
  website/content/docs/secure-consul/acl/enable-federated-datacenters.mdx
  website/content/docs/secure-mesh/certificate/rotate/gossip.mdx
  website/content/docs/secure-mesh/intention/index.mdx
  website/content/docs/upgrade/k8s/compatibility.mdx
  website/content/docs/upgrade/k8s/index.mdx
  website/content/docs/upgrade/version-specific.mdx
Labels: type/docs

#20429 [1.17.x] Skip filter chain created by permissive mtls
  .changelog/20406.txt
  agent/xds/delta_envoy_extender_ce_test.go
  agent/xds/testdata/builtin_extension/clusters/tproxy-and-permissive-mtls-and-envoy-extension.latest.golden
  agent/xds/testdata/builtin_extension/endpoints/tproxy-and-permissive-mtls-and-envoy-extension.latest.golden
  agent/xds/testdata/builtin_extension/listeners/tproxy-and-permissive-mtls-and-envoy-extension.latest.golden
  agent/xds/testdata/builtin_extension/routes/tproxy-and-permissive-mtls-and-envoy-extension.latest.golden
  envoyextensions/extensioncommon/basic_envoy_extender.go
  website/content/docs/k8s/connect/onboarding-tproxy-mode.mdx
Labels: pr/no-backport

#20289 ci: sync point release branches in addition to .x
  .github/workflows/ce-merge-trigger.yml
Labels: type/ci, theme/contributing, pr/no-changelog, pr/no-backport

#20290 ci: sync point release branches in addition to .x
  .github/workflows/ce-merge-trigger.yml
Labels: type/ci, theme/contributing, pr/no-changelog, pr/no-backport

#20482 Do not parallelize DNS tests because they consume too many ports
  agent/dns_node_lookup_test.go
  agent/dns_service_lookup_test.go
  agent/dns_test.go
Labels: pr/no-changelog, backport/1.16, backport/1.17, backport/1.18

#20481 Fix issue with persisting proxy-defaults
  .changelog/20481.txt
  agent/config_endpoint_test.go
  agent/consul/state/config_entry.go
  agent/structs/config_entry.go
  agent/structs/config_entry_test.go
Labels: backport/1.15, backport/1.16, backport/1.17, backport/1.18

#20478 Backport/cdp hcp telemetry/1.18.0 rc1
  internal/hcp/internal/controllers/telemetrystate/controller.go
  internal/hcp/internal/controllers/telemetrystate/controller_test.go
Labels: pr/no-changelog, pr/no-backport

#20493 Manual Backport of Exported services CLI and docs into release/1.18.x (#20331)
  .changelog/20331.txt
  command/registry.go
  command/services/exportedservices/exported_services.go
  command/services/exportedservices/exported_services_test.go
  website/content/api-docs/exported-services.mdx
  website/content/commands/services/exported-services.mdx
  website/data/api-docs-nav-data.json
  website/data/commands-nav-data.json
Labels: type/docs, theme/cli, pr/no-backport

#20496 NET-6776 - Update Routes controller to use ComputedFailoverPolicy CE
  agent/consul/testdata/v2-resource-dependencies.md
  internal/mesh/internal/controllers/routes/controller.go
  internal/mesh/internal/controllers/routes/controller_test.go
  internal/mesh/internal/controllers/routes/generate.go
  internal/mesh/internal/controllers/routes/generate_test.go
  internal/mesh/internal/controllers/routes/loader/loader.go
  internal/mesh/internal/controllers/routes/loader/loader_test.go
  internal/mesh/internal/controllers/routes/loader/memoized.go
  internal/mesh/internal/controllers/routes/loader/related.go
  internal/mesh/internal/controllers/routes/xroutemapper/xroutemapper.go
  internal/mesh/internal/controllers/routes/xroutemapper/xroutemapper_test.go
  internal/mesh/internal/controllers/sidecarproxy/builder/destinations_test.go
  internal/mesh/internal/controllers/sidecarproxy/cache/cache_test.go
  internal/mesh/internal/types/decoded.go
  proto-public/pbcatalog/v2beta1/computed_failover_policy_extras.go
  proto-public/pbcatalog/v2beta1/computed_failover_policy_extras_test.go
  proto-public/pbcatalog/v2beta1/failover_policy_extras.go
  proto-public/pbcatalog/v2beta1/failover_policy_extras_test.go
Labels: pr/no-changelog, pr/no-backport, consul-india

#20345 Fix audit-log encoding issue (CC-7337)
  .changelog/20345.txt
  agent/http.go
  agent/http_ce.go
Labels: backport/1.15, backport/1.16, consul-india, backport/1.17

#20483 NET-7630 - Fix TXT record creation on node queries
  agent/dns/router.go
  agent/dns/router_query.go
  agent/dns_node_lookup_test.go
  agent/dns_service_lookup_test.go
  agent/dns_test.go
Labels: pr/no-changelog, backport/1.18

#20491 NET-7631 - Fix Node records that point to external/ non-IP addresses
  agent/dns/router.go
  agent/dns_node_lookup_test.go
  agent/dns_service_lookup_test.go
Labels: pr/no-changelog, backport/1.18

#20484 [NET-7280] Add APIGW support to the gatewayproxy controller
  internal/mesh/internal/controllers/apigateways/controller.go
  internal/mesh/internal/controllers/apigateways/controller_test.go
  internal/mesh/internal/controllers/apigateways/fetcher/data_fetcher.go
  internal/mesh/internal/controllers/apigateways/fetcher/data_fetcher_test.go
  internal/mesh/internal/controllers/gatewayproxy/controller.go
  internal/mesh/internal/types/api_gateway.go
  internal/mesh/internal/types/decoded.go
  internal/mesh/internal/types/types.go
Labels: pr/no-changelog, pr/no-docs, theme/api-gw, pr/no-backport

#20480 feat(v2dns): catalog v2 SOA and NS support
  agent/discovery/discovery.go
  agent/discovery/query_fetcher_v2.go
  agent/discovery/query_fetcher_v2_test.go
  agent/dns/router.go
  agent/dns/router_ce_test.go
  agent/dns/router_test.go
Labels: pr/no-changelog, backport/1.18

#20476 Panic for unregistered types
  agent/consul/client_test.go
  agent/consul/server_test.go
  agent/consul/testdata/v2-resource-dependencies.md
  agent/rpc/peering/service_test.go
  internal/controller/runner.go
  internal/mesh/internal/controllers/register.go
Labels: pr/no-changelog, backport/1.18

#20508 Fix Gatewayproxy Controller and Re-Enable APIGW v2 Controller
  internal/mesh/internal/controllers/gatewayproxy/controller.go
  internal/mesh/internal/controllers/register.go
Labels: pr/no-changelog, pr/no-docs, theme/api-gw, pr/no-backport

#20479 add more integration tests
  test/integration/consul-container/test/resource/grpc_forwarding_test.go
Labels: pr/no-changelog, backport/1.18

#20516 Register the multicluster types for the catalogtest integration tests
  internal/catalog/catalogtest/run_test.go
Labels: pr/no-changelog, pr/no-backport

#20517 V1 Compat Exported Services Controller Optimizations
  agent/consul/server.go
  internal/multicluster/exports.go
  internal/multicluster/internal/controllers/register.go
  internal/multicluster/internal/controllers/v1compat/controller.go
Labels: pr/no-changelog, backport/1.18

#20453 add traffic permissions excludes and tests
  .github/workflows/test-integrations.yml
  agent/xds/rbac_test.go
  agent/xds/response/response.go
  agent/xds/testdata/rbac/v2-L4-deny-L7-allow--httpfilter.golden
  agent/xds/testdata/rbac/v2-L4-deny-L7-allow.golden
  agent/xds/testdata/rbac/v2-path-excludes--httpfilter.golden
  agent/xds/testdata/rbac/v2-path-excludes.golden
  agent/xds/testdata/rbac/v2-path-method-header-excludes--httpfilter.golden
  agent/xds/testdata/rbac/v2-path-method-header-excludes.golden
  agent/xds/testdata/rbac/v2-single-permission-multiple-destination-rules--httpfilter.golden
  agent/xds/testdata/rbac/v2-single-permission-multiple-destination-rules.golden
  agent/xds/testdata/rbac/v2-single-permission-with-excludes--httpfilter.golden
  agent/xds/testdata/rbac/v2-single-permission-with-excludes.golden
  agent/xds/testdata/rbac/v2-single-permission-with-kitchen-sink-perms--httpfilter.golden
  agent/xds/testdata/rbac/v2-single-permission-with-kitchen-sink-perms.golden
  agent/xdsv2/rbac_resources.go
  internal/auth/internal/types/errors.go
  internal/auth/internal/types/traffic_permissions.go
  internal/auth/internal/types/traffic_permissions_ce_test.go
  internal/auth/internal/types/traffic_permissions_test.go
  internal/mesh/internal/controllers/sidecarproxy/builder/local_app.go
  internal/mesh/internal/controllers/sidecarproxy/builder/local_app_test.go
  proto-public/pbauth/v2beta1/traffic_permission_extras_test.go
  proto-public/pbauth/v2beta1/traffic_permissions_extras.go
  proto-public/pbmesh/v2beta1/pbproxystate/traffic_permissions.pb.binary.go
  proto-public/pbmesh/v2beta1/pbproxystate/traffic_permissions.pb.go
  proto-public/pbmesh/v2beta1/pbproxystate/traffic_permissions.proto
  proto-public/pbmesh/v2beta1/pbproxystate/traffic_permissions_deepcopy.gen.go
  proto-public/pbmesh/v2beta1/pbproxystate/traffic_permissions_json.gen.go
  test-integ/catalogv2/traffic_permissions_test.go
  test-integ/topoutil/asserter.go
  test/integration/consul-container/libs/assert/envoy.go
Labels: pr/no-changelog, backport/1.18

#20271 [NET-7414] Reconcile PST for mesh gateway workloads on change to ComputedExportedServices
  agent/consul/testdata/v2-resource-dependencies.md
  internal/mesh/internal/controllers/gatewayproxy/controller.go
  internal/mesh/internal/controllers/gatewayproxy/fetcher/data_fetcher.go
  internal/mesh/internal/controllers/gatewayproxy/mapper/meshgatewayworkloads.go
Labels: theme/mesh-gw, pr/no-changelog, pr/no-backport

#20520 Backport of add traffic permissions excludes and tests into release/1.18.x
  .github/workflows/test-integrations.yml
  agent/xds/rbac_test.go
  agent/xds/response/response.go
  agent/xds/testdata/rbac/v2-L4-deny-L7-allow--httpfilter.golden
  agent/xds/testdata/rbac/v2-L4-deny-L7-allow.golden
  agent/xds/testdata/rbac/v2-path-excludes--httpfilter.golden
  agent/xds/testdata/rbac/v2-path-excludes.golden
  agent/xds/testdata/rbac/v2-path-method-header-excludes--httpfilter.golden
  agent/xds/testdata/rbac/v2-path-method-header-excludes.golden
  agent/xds/testdata/rbac/v2-single-permission-multiple-destination-rules--httpfilter.golden
  agent/xds/testdata/rbac/v2-single-permission-multiple-destination-rules.golden
  agent/xds/testdata/rbac/v2-single-permission-with-excludes--httpfilter.golden
  agent/xds/testdata/rbac/v2-single-permission-with-excludes.golden
  agent/xds/testdata/rbac/v2-single-permission-with-kitchen-sink-perms--httpfilter.golden
  agent/xds/testdata/rbac/v2-single-permission-with-kitchen-sink-perms.golden
  agent/xdsv2/rbac_resources.go
  internal/auth/internal/types/errors.go
  internal/auth/internal/types/traffic_permissions.go
  internal/auth/internal/types/traffic_permissions_ce_test.go
  internal/auth/internal/types/traffic_permissions_test.go
  internal/mesh/internal/controllers/sidecarproxy/builder/local_app.go
  internal/mesh/internal/controllers/sidecarproxy/builder/local_app_test.go
  proto-public/pbauth/v2beta1/traffic_permission_extras_test.go
  proto-public/pbauth/v2beta1/traffic_permissions_extras.go
  proto-public/pbmesh/v2beta1/pbproxystate/traffic_permissions.pb.binary.go
  proto-public/pbmesh/v2beta1/pbproxystate/traffic_permissions.pb.go
  proto-public/pbmesh/v2beta1/pbproxystate/traffic_permissions.proto
  proto-public/pbmesh/v2beta1/pbproxystate/traffic_permissions_deepcopy.gen.go
  proto-public/pbmesh/v2beta1/pbproxystate/traffic_permissions_json.gen.go
  test-integ/catalogv2/traffic_permissions_test.go
  test-integ/topoutil/asserter.go
  test/integration/consul-container/libs/assert/envoy.go
Labels: type/ci, theme/envoy/xds, theme/contributing

#20523 [NET-7657] Remove proto definitions for GatewayClass + GatewayClassConfig
  proto-public/go.mod
  proto-public/go.sum
  proto-public/pbmesh/v2beta1/gateway_class.pb.binary.go
  proto-public/pbmesh/v2beta1/gateway_class.pb.go
  proto-public/pbmesh/v2beta1/gateway_class.proto
  proto-public/pbmesh/v2beta1/gateway_class_deepcopy.gen.go
  proto-public/pbmesh/v2beta1/gateway_class_json.gen.go
  proto-public/pbmesh/v2beta1/gatewayclassconfig.pb.binary.go
  proto-public/pbmesh/v2beta1/gatewayclassconfig.pb.go
  proto-public/pbmesh/v2beta1/gatewayclassconfig.proto
  proto-public/pbmesh/v2beta1/gatewayclassconfig_deepcopy.gen.go
  proto-public/pbmesh/v2beta1/gatewayclassconfig_json.gen.go
  proto-public/pbmesh/v2beta1/resources.rtypes.go
  test-integ/go.mod
  test-integ/go.sum
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
  testing/deployer/go.mod
  testing/deployer/go.sum
Labels: pr/no-changelog, backport/1.18

#20510 Add tests for gw proxy controller
  internal/mesh/internal/controllers/gatewayproxy/builder/builder_test.go
  internal/mesh/internal/controllers/gatewayproxy/controller.go
  internal/mesh/internal/controllers/gatewayproxy/controller_test.go
  internal/resource/resourcetest/tenancy.go
Labels: theme/mesh-gw, pr/no-changelog, pr/no-docs, theme/api-gw, backport/1.18

#20521 [CC-7434] Skip collecting data directory metrics in dev mode
  lib/hoststats/collector.go
  lib/hoststats/collector_test.go
Labels: theme/internals, pr/no-changelog, backport/1.17, backport/1.18

#20522 fix typos in docs for `consul snapshot agent`
  website/content/commands/snapshot/agent.mdx
Labels: pr/no-changelog, pr/no-backport

#20529 Backport of [CC-7434] Skip collecting data directory metrics in dev mode into release/1.18.x
  lib/hoststats/collector.go
  lib/hoststats/collector_test.go
Labels: theme/internals

#20528 Backport of [CC-7434] Skip collecting data directory metrics in dev mode into release/1.17.x
  lib/hoststats/collector.go
  lib/hoststats/collector_test.go
Labels: theme/internals

#20464 Update cache section for certain API calls
  website/content/docs/agent/config/config-files.mdx
Labels: type/docs

#20525 DNS v2 Multiple fixes.
  agent/config/runtime.go
  agent/discovery/query_fetcher_v1.go
  agent/discovery/query_fetcher_v1_ce.go
  agent/dns/router.go
  agent/dns/router_ce.go
  agent/dns/router_query.go
  agent/dns/router_response.go
  agent/dns/router_test.go
  agent/dns_node_lookup_test.go
  agent/dns_service_lookup_test.go
  agent/dns_test.go
Labels: theme/config, pr/no-changelog, backport/1.18

#20519 Fix: avoid redundant logs on failures to export metrics
  agent/hcp/client/http_client.go
  agent/hcp/client/http_client_test.go
  agent/hcp/telemetry_provider.go
Labels: pr/no-changelog, pr/no-metrics-test, backport/1.16, backport/1.17, backport/1.18

#20514 Fix logging when we fail to export metrics to hcp
  .changelog/20514.txt
  agent/hcp/deps.go
  agent/hcp/deps_test.go
Labels: backport/1.17, backport/1.18

#20531 Move sameness groups to v2beta1 version
  internal/auth/internal/controllers/trafficpermissions/builder.go
  internal/auth/internal/controllers/trafficpermissions/expander/expander_ce/expander_ce.go
  internal/auth/internal/controllers/trafficpermissions/expander/interface.go
  internal/catalog/internal/controllers/failover/controller.go
  internal/catalog/internal/controllers/failover/expander/expander_ce/expander_test.go
  internal/multicluster/internal/controllers/exportedservices/builder.go
  internal/multicluster/internal/controllers/exportedservices/controller.go
  internal/multicluster/internal/controllers/exportedservices/expander/expander_ce/expander.go
  internal/multicluster/internal/types/decoded.go
  proto-public/pbmulticluster/v2/resources.rtypes.go
  proto-public/pbmulticluster/v2/sameness_group.pb.go
  proto-public/pbmulticluster/v2beta1/resources.rtypes.go
  proto-public/pbmulticluster/v2beta1/sameness_group.pb.binary.go
  proto-public/pbmulticluster/v2beta1/sameness_group.pb.go
  proto-public/pbmulticluster/v2beta1/sameness_group.proto
  proto-public/pbmulticluster/v2beta1/sameness_group_deepcopy.gen.go
  proto-public/pbmulticluster/v2beta1/sameness_group_json.gen.go
  testing/deployer/util/v2.go
Labels: pr/no-changelog, backport/1.18

#20543 Fixes gatewayproxy controller tests for ent
  internal/mesh/internal/controllers/gatewayproxy/controller_test.go
Labels: theme/mesh-gw, pr/no-changelog, pr/no-docs, theme/api-gw, pr/no-backport

#20544 Add default intention policy
  .changelog/20544.txt
  acl/authorizer.go
  acl/chained_authorizer.go
  agent/agent.go
  agent/agent_endpoint.go
  agent/agent_endpoint_test.go
  agent/config/builder.go
  agent/config/config.go
  agent/config/runtime.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/consul/acl.go
  agent/consul/client.go
  agent/consul/config.go
  agent/consul/intention_endpoint.go
  agent/consul/intention_endpoint_test.go
  agent/consul/internal_endpoint.go
  agent/consul/internal_endpoint_test.go
  agent/consul/server.go
  agent/consul/state/catalog.go
  agent/consul/state/intention.go
  agent/consul/state/intention_test.go
  agent/consul/util.go
  agent/proxycfg-glue/glue.go
  agent/proxycfg-glue/intention_upstreams.go
  agent/proxycfg-glue/intention_upstreams_test.go
  agent/structs/intention.go
Labels: theme/acls, theme/config, backport/1.18

#20546 Backport of Add default intention policy into release/1.18.x
  .changelog/20544.txt
  acl/authorizer.go
  acl/chained_authorizer.go
  agent/agent.go
  agent/agent_endpoint.go
  agent/agent_endpoint_test.go
  agent/config/builder.go
  agent/config/config.go
  agent/config/runtime.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/consul/acl.go
  agent/consul/client.go
  agent/consul/config.go
  agent/consul/intention_endpoint.go
  agent/consul/intention_endpoint_test.go
  agent/consul/internal_endpoint.go
  agent/consul/internal_endpoint_test.go
  agent/consul/server.go
  agent/consul/state/catalog.go
  agent/consul/state/intention.go
  agent/consul/state/intention_test.go
  agent/consul/util.go
  agent/proxycfg-glue/glue.go
  agent/proxycfg-glue/intention_upstreams.go
  agent/proxycfg-glue/intention_upstreams_test.go
  agent/structs/intention.go
Labels: theme/acls, theme/config

#20511 Decouple xds capacity controller and raft-autopilot
  .changelog/20511.txt
  agent/consul/xdscapacity/capacity.go
Labels: backport/1.15, backport/1.16, backport/1.17, backport/1.18

#20545 use go 1.21.7
  .changelog/20545.txt
  .go-version
Labels: backport/1.15, backport/1.16, backport/1.17, backport/1.18

#20556 NET-7637 / NET-7659/NET-7636/NET-7647/NET-7648/NET-7646/NET-7649/NET-7645 - Multiple DNS v2 fixes
  agent/discovery/discovery.go
  agent/discovery/query_fetcher_v1.go
  agent/discovery/query_fetcher_v1_ce.go
  agent/dns/router.go
  agent/dns/router_query.go
  agent/dns/router_query_test.go
  agent/dns/router_test.go
  agent/dns_service_lookup_test.go
  agent/dns_test.go
Labels: pr/no-changelog, backport/1.18

#20563 feat(v2dns): prepared query ttls
  agent/discovery/discovery.go
  agent/discovery/query_fetcher_v1.go
  agent/discovery/query_fetcher_v1_test.go
  agent/discovery/query_fetcher_v2.go
  agent/discovery/query_fetcher_v2_test.go
  agent/dns/router.go
  agent/dns/router_test.go
  agent/dns_service_lookup_test.go
Labels: pr/no-changelog, backport/1.18

#20552 chor: remove temporary CONSUL_HCP_LINK_ENABLED env flag
  ui/packages/consul-ui/app/services/hcp-link-status.js
  ui/packages/consul-ui/tests/acceptance/link-to-hcp-test.js
  ui/packages/consul-ui/tests/integration/components/link-to-hcp-banner-test.js
Labels: theme/ui, pr/no-changelog, pr/no-metrics-test, backport/1.18

#20562 Allow reuse of cache indexes
  internal/controller/cache/index/convenience_test.go
  internal/controller/cache/index/index.go
  internal/controller/cache/index/index_test.go
  internal/controller/cache/index/txn.go
  internal/controller/cache/index/txn_test.go
  internal/controller/cache/indexers/decoded_indexer_test.go
  internal/controller/cache/indexers/id_indexer_test.go
  internal/controller/cache/indexers/ref_indexer_test.go
  internal/controller/cache/kind.go
Labels: pr/no-changelog, backport/1.18

#20474 Cc 7147 link to hcp modal
  .changelog/20474.txt
  ui/packages/consul-ui/app/components/hcp-nav-item/index.js
  ui/packages/consul-ui/app/components/link-to-hcp-banner/index.js
  ui/packages/consul-ui/app/components/link-to-hcp-modal/index.hbs
  ui/packages/consul-ui/app/components/link-to-hcp-modal/index.js
  ui/packages/consul-ui/app/components/link-to-hcp-modal/index.scss
  ui/packages/consul-ui/app/controllers/application.js
  ui/packages/consul-ui/app/helpers/hcp-authentication-link.js
  ui/packages/consul-ui/app/services/hcp-link-modal.js
  ui/packages/consul-ui/app/styles/components.scss
  ui/packages/consul-ui/app/templates/application.hbs
  ui/packages/consul-ui/tests/acceptance/link-to-hcp-test.js
  ui/packages/consul-ui/tests/integration/components/link-to-hcp-modal-test.js
  ui/packages/consul-ui/tests/integration/helpers/hcp-authentication-link-test.js
Labels: theme/ui, pr/no-metrics-test, pr/no-backport, backport/1.18

#20547 mesh: add ComputedImplicitDestinations resource for future use
  docs/v2-architecture/controller-architecture/controllers.md
  internal/catalog/exports.go
  internal/controller/controller.go
  internal/controller/dependency/simple.go
  internal/controller/dependency/simple_test.go
  internal/controller/testing.go
  internal/mesh/internal/controllers/implicitdestinations/auth_helper_test.go
  internal/mesh/internal/controllers/implicitdestinations/controller.go
  internal/mesh/internal/controllers/implicitdestinations/controller_test.go
  internal/mesh/internal/controllers/implicitdestinations/index.go
  internal/mesh/internal/controllers/implicitdestinations/index_test.go
  internal/mesh/internal/controllers/implicitdestinations/mapper.go
  internal/mesh/internal/controllers/implicitdestinations/status.go
  internal/mesh/internal/controllers/register.go
  internal/mesh/internal/controllers/routes/generate.go
  internal/mesh/internal/types/computed_implicit_destinations.go
  internal/mesh/internal/types/computed_implicit_destinations_test.go
  internal/mesh/internal/types/decoded.go
  internal/mesh/internal/types/types.go
  internal/resource/bound_refs.go
  proto-public/pbmesh/v2beta1/computed_implicit_destinations.pb.binary.go
  proto-public/pbmesh/v2beta1/computed_implicit_destinations.pb.go
  proto-public/pbmesh/v2beta1/computed_implicit_destinations.proto
  proto-public/pbmesh/v2beta1/computed_implicit_destinations_deepcopy.gen.go
  proto-public/pbmesh/v2beta1/computed_implicit_destinations_json.gen.go
  proto-public/pbmesh/v2beta1/resources.rtypes.go
Labels: pr/no-changelog, pr/no-metrics-test, backport/1.18

#20569 docs: Add legacy api gateway deprecation to Consul release notes
  website/content/docs/release-notes/consul-k8s/v1_2_x.mdx
  website/content/docs/release-notes/consul/v1_16_x.mdx
Labels: type/docs, pr/no-changelog, backport/1.16, backport/1.17, backport/1.18

#20574 Backport of docs: Add legacy api gateway deprecation to Consul release notes into release/1.16.x
  website/content/docs/release-notes/consul-k8s/v1_2_x.mdx
  website/content/docs/release-notes/consul/v1_16_x.mdx
Labels: type/docs

#20575 Backport of docs: Add legacy api gateway deprecation to Consul release notes into release/1.17.x
  website/content/docs/release-notes/consul-k8s/v1_2_x.mdx
  website/content/docs/release-notes/consul/v1_16_x.mdx
Labels: type/docs

#20576 Backport of docs: Add legacy api gateway deprecation to Consul release notes into release/1.18.x
  website/content/docs/release-notes/consul-k8s/v1_2_x.mdx
  website/content/docs/release-notes/consul/v1_16_x.mdx
Labels: type/docs

#20573 Backport/cc 7146/hcp link item in the nav bar
  ui/packages/consul-ui/app/abilities/operator.js
  ui/packages/consul-ui/app/components/hashicorp-consul/index.hbs
  ui/packages/consul-ui/app/components/hcp-nav-item/index.hbs
  ui/packages/consul-ui/app/components/hcp-nav-item/index.js
  ui/packages/consul-ui/app/helpers/hcp-resource-id-to-link.js
  ui/packages/consul-ui/app/services/hcp-link-status.js
  ui/packages/consul-ui/app/services/repository/hcp-link.js
  ui/packages/consul-ui/mock-api/api/hcp/v2/link/global
  ui/packages/consul-ui/tests/acceptance/link-to-hcp-test.js
  ui/packages/consul-ui/tests/integration/components/hcp-nav-item-test.js
  ui/packages/consul-ui/tests/integration/helpers/hcp-resource-id-to-link-test.js
  ui/packages/consul-ui/tests/unit/abilities/-test.js
Labels: theme/ui, pr/no-changelog, pr/no-backport

#20577 chor: remove temporary CONSUL_HCP_LINK_ENABLED env flag
  ui/packages/consul-ui/app/services/hcp-link-status.js
  ui/packages/consul-ui/tests/acceptance/link-to-hcp-test.js
  ui/packages/consul-ui/tests/integration/components/link-to-hcp-banner-test.js
Labels: theme/ui, pr/no-changelog, pr/no-metrics-test, pr/no-backport

#20564 feat(v2dns): catalog v2 service query support
  agent/discovery/discovery.go
  agent/discovery/query_fetcher_v1.go
  agent/discovery/query_fetcher_v1_test.go
  agent/discovery/query_fetcher_v2.go
  agent/discovery/query_fetcher_v2_test.go
  agent/dns/router.go
  agent/dns/router_ce.go
  agent/dns/router_test.go
Labels: pr/no-changelog, backport/1.18

#20571 set up ent and CE specific DNS tests to be able to run v1 and v2
  agent/dns_ce_test.go
Labels: pr/no-changelog, backport/1.18

#20580 Backport/cc 7147 link to hcp modal/kindly verified snipe manually
  .changelog/20474.txt
  ui/packages/consul-ui/app/components/hcp-nav-item/index.js
  ui/packages/consul-ui/app/components/link-to-hcp-banner/index.js
  ui/packages/consul-ui/app/components/link-to-hcp-modal/index.hbs
  ui/packages/consul-ui/app/components/link-to-hcp-modal/index.js
  ui/packages/consul-ui/app/components/link-to-hcp-modal/index.scss
  ui/packages/consul-ui/app/controllers/application.js
  ui/packages/consul-ui/app/helpers/hcp-authentication-link.js
  ui/packages/consul-ui/app/services/hcp-link-modal.js
  ui/packages/consul-ui/app/styles/components.scss
  ui/packages/consul-ui/app/templates/application.hbs
  ui/packages/consul-ui/tests/acceptance/link-to-hcp-test.js
  ui/packages/consul-ui/tests/integration/components/link-to-hcp-modal-test.js
  ui/packages/consul-ui/tests/integration/helpers/hcp-authentication-link-test.js
Labels: theme/ui, pr/no-metrics-test, pr/no-backport

#20401 Move HCP Manager lifecycle management out of Link controller
  agent/agent_test.go
  agent/consul/server.go
  agent/hcp/bootstrap/bootstrap.go
  agent/hcp/bootstrap/bootstrap_test.go
  agent/hcp/bootstrap/config-loader/loader.go
  agent/hcp/bootstrap/config-loader/loader_test.go
  agent/hcp/bootstrap/constants/constants.go
  agent/hcp/link_watch.go
  agent/hcp/link_watch_test.go
  agent/hcp/manager.go
  agent/hcp/manager_lifecycle.go
  agent/hcp/manager_lifecycle_test.go
  agent/hcp/manager_test.go
  internal/hcp/exports.go
  internal/hcp/internal/controllers/link/controller.go
  internal/hcp/internal/controllers/link/controller_test.go
  internal/hcp/internal/controllers/link/finalizer.go
  internal/hcp/internal/controllers/link/status.go
  internal/hcp/internal/controllers/register.go
Labels: theme/api, theme/config, theme/internals, pr/no-changelog, backport/1.18

#20536 [NET-7450] Fix listenerToProtocol function for input
  internal/mesh/internal/controllers/apigateways/controller.go
  internal/mesh/internal/controllers/apigateways/controller_test.go
Labels: pr/no-changelog, pr/no-docs, theme/api-gw, pr/no-backport

#20581 feat(v2dns): enable peering queries
  agent/discovery/query_fetcher_v1.go
  agent/discovery/query_fetcher_v1_test.go
  agent/discovery/query_fetcher_v2.go
  agent/dns_ce_test.go
Labels: pr/no-changelog, backport/1.18

#20583 NET-7644/NET-7634 - Implement query lookup for tagged addresses on nodes and services including WAN translation.
  agent/agent.go
  agent/catalog_endpoint.go
  agent/discovery/discovery.go
  agent/discovery/query_fetcher_v1.go
  agent/discovery/query_fetcher_v1_test.go
  agent/dns.go
  agent/dns/router.go
  agent/dns/router_query.go
  agent/dns/router_service_question_test.go
  agent/dns/router_test.go
  agent/dns/server.go
  agent/dns_node_lookup_test.go
  agent/dns_service_lookup_test.go
  agent/dns_test.go
  agent/health_endpoint.go
  agent/prepared_query_endpoint.go
  agent/translate_addr.go
  internal/dnsutil/dns.go
Labels: theme/health-checks, pr/no-changelog, backport/1.18

#20553 mesh: use ComputedImplicitDestinations resource in the sidecar controller
  internal/controller/helper.go
  internal/mesh/internal/controllers/gatewayproxy/builder/builder_test.go
  internal/mesh/internal/controllers/gatewayproxy/controller.go
  internal/mesh/internal/controllers/gatewayproxy/fetcher/data_fetcher.go
  internal/mesh/internal/controllers/gatewayproxy/fetcher/data_fetcher_test.go
  internal/mesh/internal/controllers/gatewayproxy/mapper/meshgatewayworkloads.go
  internal/mesh/internal/controllers/implicitdestinations/index.go
  internal/mesh/internal/controllers/implicitdestinations/index_test.go
  internal/mesh/internal/controllers/implicitdestinations/mapper.go
  internal/mesh/internal/controllers/register.go
  internal/mesh/internal/controllers/sidecarproxy/builder/destination_multiport_test.go
  internal/mesh/internal/controllers/sidecarproxy/builder/destinations_test.go
  internal/mesh/internal/controllers/sidecarproxy/cache/cache.go
  internal/mesh/internal/controllers/sidecarproxy/cache/cache_test.go
  internal/mesh/internal/controllers/sidecarproxy/controller.go
  internal/mesh/internal/controllers/sidecarproxy/controller_test.go
  internal/mesh/internal/controllers/sidecarproxy/data_fetcher.go
  internal/mesh/internal/controllers/sidecarproxy/data_fetcher_test.go
  internal/mesh/internal/controllers/sidecarproxy/fetcher/data_fetcher.go
  internal/mesh/internal/controllers/sidecarproxy/helper_test.go
  internal/mesh/internal/controllers/sidecarproxy/mapper.go
  internal/mesh/internal/meshindexes/computed_routes.go
  internal/mesh/internal/meshindexes/computed_routes_test.go
  internal/mesh/internal/types/computed_explicit_destinations.go
  internal/mesh/internal/types/computed_routes.go
  internal/mesh/internal/types/computed_routes_test.go
  proto-public/pbmesh/v2beta1/computed_routes.pb.go
  proto-public/pbmesh/v2beta1/computed_routes.proto
Labels: pr/no-changelog, pr/no-metrics-test, backport/1.18

#20415 Backport of docs: Fix indention of wal object in agent config into release/1.17.x
  website/content/docs/agent/config/config-files.mdx
Labels: type/docs

#20586 [NET-7948] Bump Envoy version on 1.16.x to address multiple CVEs
  .changelog/20586.txt
  .github/workflows/test-integrations-windows.yml
  .github/workflows/test-integrations.yml
  envoyextensions/xdscommon/envoy_versioning_test.go
  envoyextensions/xdscommon/proxysupport.go
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/ci, theme/contributing, pr/no-backport

#20587 [NET-7948] Bump Envoy version on 1.17.x to address multiple CVEs
  .changelog/20587.txt
  .github/workflows/test-integrations-windows.yml
  .github/workflows/test-integrations.yml
  envoyextensions/xdscommon/envoy_versioning_test.go
  envoyextensions/xdscommon/proxysupport.go
  website/content/docs/connect/proxies/envoy.mdx
Labels: theme/envoy/xds, pr/no-backport

#20590 [NET-7948] Bump Envoy version on 1.15.x (LTS) to address multiple CVEs
  .changelog/20590.txt
  .github/workflows/test-integrations.yml
  envoyextensions/xdscommon/envoy_versioning_test.go
  envoyextensions/xdscommon/proxysupport.go
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, type/ci, theme/contributing, pr/no-backport

#20589 [NET-7948] Bump Envoy version to address multiple CVEs
  .changelog/20589.txt
  .github/workflows/nightly-test-integrations-1.15.x.yml
  .github/workflows/nightly-test-integrations-1.16.x.yml
  .github/workflows/nightly-test-integrations-1.17.x.yml
  .github/workflows/nightly-test-integrations.yml
  .github/workflows/test-integrations-windows.yml
  .github/workflows/test-integrations.yml
  envoyextensions/xdscommon/envoy_versioning_test.go
  envoyextensions/xdscommon/proxysupport.go
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, type/ci, theme/contributing, backport/1.18

#20599 Backport of [NET-7948] Bump Envoy version to address multiple CVEs into release/1.18.x
  .changelog/20589.txt
  .github/workflows/nightly-test-integrations-1.15.x.yml
  .github/workflows/nightly-test-integrations-1.16.x.yml
  .github/workflows/nightly-test-integrations-1.17.x.yml
  .github/workflows/nightly-test-integrations.yml
  .github/workflows/test-integrations-windows.yml
  .github/workflows/test-integrations.yml
  envoyextensions/xdscommon/envoy_versioning_test.go
  envoyextensions/xdscommon/proxysupport.go
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, type/ci, theme/contributing

#20473 Updated docs for Consul ECS 0.8.x, architecture, tproxy support
  website/content/docs/ecs/architecture.mdx
  website/content/docs/ecs/reference/compatibility.mdx
  website/content/docs/ecs/reference/configuration-reference.mdx
  website/content/docs/ecs/tech-specs.mdx
  website/public/img/ecs/consul-on-ecs-architecture-dataplanes-dark.jpg
  website/public/img/ecs/consul-on-ecs-architecture-dataplanes-dark.png
  website/public/img/ecs/consul-on-ecs-architecture-dataplanes.jpg
  website/public/img/ecs/consul-on-ecs-architecture-dataplanes.png
Labels: type/docs, pr/no-changelog, backport/1.18

#20603 Backport of Updated docs for Consul ECS 0.8.x, architecture, tproxy support into release/1.18.x
  website/content/docs/ecs/architecture.mdx
  website/content/docs/ecs/reference/compatibility.mdx
  website/content/docs/ecs/reference/configuration-reference.mdx
  website/content/docs/ecs/tech-specs.mdx
  website/public/img/ecs/consul-on-ecs-architecture-dataplanes-dark.jpg
  website/public/img/ecs/consul-on-ecs-architecture-dataplanes-dark.png
  website/public/img/ecs/consul-on-ecs-architecture-dataplanes.jpg
  website/public/img/ecs/consul-on-ecs-architecture-dataplanes.png
Labels: type/docs

#20606 resource: reconcile managed types every ~8hrs
  agent/consul/controller/controller.go
  agent/consul/controller/queue/defer.go
  agent/consul/controller/queue/queue.go
  agent/consul/controller/queue_test.go
  agent/consul/controller/reconciler_test.go
  internal/controller/controller.go
  internal/controller/controller_test.go
  internal/controller/runner.go
Labels: pr/no-changelog, pr/no-backport

#20555 docs: document behaviour of tls.https.verify_outgoing
  website/content/docs/agent/config/config-files.mdx
Labels: type/docs, pr/no-changelog, backport/1.12, backport/1.13, backport/1.14, backport/1.15, backport/1.16, backport/1.17, backport/1.18

#20597 Refactor xTP tests
  internal/auth/internal/controllers/trafficpermissions/controller_test.go
  internal/auth/internal/types/namespace_traffic_permissions.go
  internal/auth/internal/types/namespace_traffic_permissions_test.go
  internal/auth/internal/types/partition_traffic_permissions.go
  internal/auth/internal/types/partition_traffic_permissions_test.go
  internal/auth/internal/types/traffic_permissions.go
  internal/auth/internal/types/traffic_permissions_ce_test.go
  internal/auth/internal/types/traffic_permissions_test.go
  internal/auth/internal/types/validate.go
  internal/auth/internal/types/validate_ce.go
Labels: pr/no-changelog, backport/1.18

#20593 Add BoundReferences to ComputedTrafficPermissions
  internal/auth/internal/controllers/trafficpermissions/builder.go
  internal/auth/internal/controllers/trafficpermissions/controller.go
  internal/auth/internal/controllers/trafficpermissions/controller_test.go
  internal/auth/internal/controllers/trafficpermissions/index.go
  proto-public/pbauth/v2beta1/computed_traffic_permissions.pb.go
  proto-public/pbauth/v2beta1/computed_traffic_permissions.proto
Labels: pr/no-changelog, backport/1.18

#20612 Backport of docs: document behaviour of tls.https.verify_outgoing into release/1.15.x
  website/content/docs/agent/config/config-files.mdx
Labels: type/docs

#20607 [NET-7015] DNS v2 + Catalog v2 int test
  agent/dns_catalogv2_test.go
Labels: pr/no-changelog, backport/1.18

#20613 Backport of docs: document behaviour of tls.https.verify_outgoing into release/1.16.x
  website/content/docs/agent/config/config-files.mdx
Labels: type/docs

#20614 Backport of docs: document behaviour of tls.https.verify_outgoing into release/1.17.x
  website/content/docs/agent/config/config-files.mdx
Labels: type/docs

#20615 Backport of docs: document behaviour of tls.https.verify_outgoing into release/1.18.x
  website/content/docs/agent/config/config-files.mdx
Labels: type/docs

#20624 Add samenessgroup registration for enterprise
  internal/auth/internal/controllers/trafficpermissions/controller_test.go
Labels: pr/no-changelog, backport/1.18

#20619 1.15.10 release
  CHANGELOG.md
  version/VERSION
Labels: pr/no-backport

#20620 1.16.6 release changelog
  CHANGELOG.md
  version/VERSION
Labels: pr/no-backport

#20621 1.17.3 release
  CHANGELOG.md
  version/VERSION
Labels: pr/no-backport

#20527 [CC-7411] Fix environment variable precedence when linking to HCP
  agent/config/builder.go
  agent/config/builder_test.go
  agent/config/runtime_test.go
  agent/hcp/config/config.go
Labels: theme/config, pr/no-changelog, backport/1.18

#20622 Update ComputedTrafficPermissions ACL hooks
  internal/auth/internal/types/computed_traffic_permissions.go
  internal/auth/internal/types/computed_traffic_permissions_test.go
  internal/auth/internal/types/workload_identity_test.go
Labels: pr/no-changelog, backport/1.18

#20626 Backport of [CC-7411] Fix environment variable precedence when linking to HCP into release/1.18.x
  agent/config/builder.go
  agent/config/builder_test.go
  agent/config/runtime_test.go
  agent/hcp/config/config.go
Labels: theme/config

#20600 chor: adds informative error message when acls disabled and read-only…
  ui/packages/consul-ui/app/components/link-to-hcp-modal/index.hbs
  ui/packages/consul-ui/app/components/link-to-hcp-modal/index.scss
  ui/packages/consul-ui/tests/integration/components/link-to-hcp-modal-test.js
Labels: theme/ui, pr/no-changelog, pr/no-metrics-test, backport/1.18

#20630 Backport/link to hcp modal error when acls disabled/severely cool sparrow manual
  ui/packages/consul-ui/app/components/link-to-hcp-modal/index.hbs
  ui/packages/consul-ui/app/components/link-to-hcp-modal/index.scss
  ui/packages/consul-ui/tests/integration/components/link-to-hcp-modal-test.js
Labels: theme/ui, pr/no-changelog, pr/no-metrics-test, pr/no-backport

#20632 add missing changelog for 1.15.10
  CHANGELOG.md
Labels: pr/no-changelog, backport/1.15

#20633 update releasing changelog
  CHANGELOG.md
Labels: pr/no-changelog, pr/no-backport

#20635 update changelog 1.16.x
  CHANGELOG.md
  version/VERSION
Labels: pr/no-changelog, pr/no-backport

#20634 update changelog 1.15.x
  CHANGELOG.md
  version/VERSION
Labels: pr/no-changelog, pr/no-backport

#20595 [NET-7953] Added computed gateway routes protos and generated code
  proto-public/pbmesh/v2beta1/computed_gateway_routes.pb.binary.go
  proto-public/pbmesh/v2beta1/computed_gateway_routes.pb.go
  proto-public/pbmesh/v2beta1/computed_gateway_routes.proto
  proto-public/pbmesh/v2beta1/computed_gateway_routes_deepcopy.gen.go
  proto-public/pbmesh/v2beta1/computed_gateway_routes_json.gen.go
  proto-public/pbmesh/v2beta1/resources.rtypes.go
Labels: pr/no-changelog, pr/no-docs, theme/api-gw, pr/no-backport

#20637 update entry sequence
  CHANGELOG.md
Labels: pr/no-changelog, pr/no-backport

#20640 [CE] Misc cleanup for V2 DNS
  .gitignore
  agent/discovery/query_fetcher_v1.go
  agent/discovery/query_fetcher_v1_ce.go
  agent/discovery/query_fetcher_v2.go
  agent/dns/parser.go
  agent/dns/recursor.go
  agent/dns/router.go
  agent/dns/router_ce.go
  agent/dns/router_ce_test.go
  agent/dns/router_service_test.go
  agent/dns/router_test.go
  agent/dns_catalogv2_test.go
Labels: pr/no-changelog, backport/1.18

#20642 Ensure all topics are refreshed on FSM restore and add supervisor loop to v1 controller subscriptions
  .changelog/20642.txt
  agent/consul/controller/controller.go
  agent/consul/fsm/fsm.go
  agent/consul/gateways/controller_gateways.go
  agent/consul/stream/event_publisher.go
Labels: backport/1.18

#20643 fix(v2dns): add node ttl to workloads, comment cleanup, and changelog
  .changelog/20643.txt
  agent/discovery/discovery.go
  agent/discovery/query_fetcher_v1.go
  agent/discovery/query_fetcher_v1_test.go
  agent/dns/parser_test.go
  agent/dns/router.go
  agent/dns/router_test.go
  agent/dns/server_test.go
  agent/dns_node_lookup_test.go
  agent/dns_service_lookup_test.go
  agent/dns_test.go
  agent/grpc-external/services/dns/server_v2.go
Labels: backport/1.18

#20644 chor: change cluster name param to have datacenter.name as default value
  ui/packages/consul-ui/app/components/hcp-nav-item/index.js
  ui/packages/consul-ui/app/components/link-to-hcp-banner/index.js
  ui/packages/consul-ui/app/components/link-to-hcp-modal/index.hbs
  ui/packages/consul-ui/app/components/link-to-hcp-modal/index.js
  ui/packages/consul-ui/app/helpers/hcp-authentication-link.js
  ui/packages/consul-ui/app/services/hcp-link-modal.js
  ui/packages/consul-ui/tests/acceptance/link-to-hcp-test.js
  ui/packages/consul-ui/tests/integration/components/link-to-hcp-modal-test.js
  ui/packages/consul-ui/tests/integration/helpers/hcp-authentication-link-test.js
Labels: theme/ui, pr/no-changelog, pr/no-metrics-test, backport/1.18

#20652 Backport of chor: change cluster name param to have datacenter.name as default value into release/1.18.x
  ui/packages/consul-ui/app/components/hcp-nav-item/index.js
  ui/packages/consul-ui/app/components/link-to-hcp-banner/index.js
  ui/packages/consul-ui/app/components/link-to-hcp-modal/index.hbs
  ui/packages/consul-ui/app/components/link-to-hcp-modal/index.js
  ui/packages/consul-ui/app/helpers/hcp-authentication-link.js
  ui/packages/consul-ui/app/services/hcp-link-modal.js
  ui/packages/consul-ui/tests/acceptance/link-to-hcp-test.js
  ui/packages/consul-ui/tests/integration/components/link-to-hcp-modal-test.js
  ui/packages/consul-ui/tests/integration/helpers/hcp-authentication-link-test.js
Labels: theme/ui

#20631 docs: developer docs for resource finalizers
  docs/v2-architecture/controller-architecture/guide.md
Labels: pr/no-changelog, pr/no-backport

#20657 [CE] fix(v2dns): allow secondary datacenters
  agent/agent.go
  agent/config/builder_test.go
  agent/consul/options.go
  agent/consul/server.go
  agent/dns/router.go
  agent/dns_catalogv2_test.go
Labels: theme/config, pr/no-changelog, pr/no-backport

#20658 [CE ]Backport of fix(v2dns): allow secondary datacenters
  agent/agent.go
  agent/config/builder_test.go
  agent/consul/options.go
  agent/consul/server.go
  agent/dns/router.go
  agent/dns_catalogv2_test.go
Labels: theme/config, pr/no-changelog, pr/no-backport

#20654 Add enterprise docs for deny action
  proto-public/pbauth/v2beta1/traffic_permissions.pb.go
  proto-public/pbauth/v2beta1/traffic_permissions.proto
  website/content/docs/k8s/multiport/reference/trafficpermissions.mdx
Labels: type/docs, pr/no-changelog, pr/no-backport

#20664 Update VERSION for release 1.18.0
  version/VERSION
Labels: pr/no-changelog, pr/no-backport

#20666 Update helm docs for consul-k8s 1.1.10 release
  website/content/docs/k8s/helm.mdx
Labels: type/docs, pr/no-changelog, pr/no-metrics-test, pr/no-backport, type/docs-cherrypick

#20671 Backport of Add enterprise docs for deny action into release/1.18.x
  proto-public/pbauth/v2beta1/traffic_permissions.pb.go
  proto-public/pbauth/v2beta1/traffic_permissions.proto
  website/content/docs/k8s/multiport/reference/trafficpermissions.mdx
Labels: type/docs

#20667 Update helm docs for consul-k8s 1.2.6 release
  website/content/docs/k8s/helm.mdx
Labels: type/docs, theme/health-checks, theme/acls, theme/config, theme/connect, type/ci, theme/envoy/xds, theme/contributing, pr/no-changelog, pr/no-metrics-test, pr/no-backport, type/docs-cherrypick

#20668 Update helm docs for consul-k8s 1.3.3 release
  website/content/docs/k8s/helm.mdx
Labels: type/docs, theme/acls, theme/config, theme/connect, type/ci, theme/contributing, pr/no-changelog, pr/no-metrics-test, pr/no-backport, type/docs-cherrypick

#20661 Consul Kubernetes Datadog Integration Docs Update
  website/content/docs/k8s/deployment-configurations/datadog.mdx
  website/data/docs-nav-data.json
Labels: type/docs, pr/no-changelog, pr/no-metrics-test, backport/1.16, backport/1.17

#20676 Backport of Consul Kubernetes Datadog Integration Docs Update into release/1.16.x
  website/content/docs/k8s/deployment-configurations/datadog.mdx
  website/data/docs-nav-data.json
Labels: type/docs

#20678 [CE] Test tenancies for exported-services config manager
  internal/multicluster/internal/controllers/v1compat/controller.go
  internal/multicluster/internal/controllers/v1compat/controller_test.go
  internal/multicluster/internal/controllers/v1compat/mock_AggregatedConfig.go
Labels: pr/no-changelog, pr/no-backport

#20673 v2tenancy: add optional LicenseFeature to type Registration struct
  Makefile
  agent/consul/server_ce.go
  agent/consul/server_grpc.go
  agent/grpc-external/services/resource/delete.go
  agent/grpc-external/services/resource/list.go
  agent/grpc-external/services/resource/mock_Registry.go
  agent/grpc-external/services/resource/mutate_and_validate.go
  agent/grpc-external/services/resource/read.go
  agent/grpc-external/services/resource/server.go
  agent/grpc-external/services/resource/server_ce.go
  agent/grpc-external/services/resource/server_test.go
  agent/grpc-external/services/resource/testing/builder.go
  agent/grpc-external/services/resource/testing/builder_ce.go
  agent/grpc-external/services/resource/watch.go
  agent/grpc-external/services/resource/write.go
  agent/grpc-external/services/resource/write_test.go
  grpcmocks/proto-public/pbacl/mock_ACLServiceClient.go
  grpcmocks/proto-public/pbacl/mock_ACLServiceServer.go
  grpcmocks/proto-public/pbacl/mock_UnsafeACLServiceServer.go
  grpcmocks/proto-public/pbconnectca/mock_ConnectCAServiceClient.go
  grpcmocks/proto-public/pbconnectca/mock_ConnectCAServiceServer.go
  grpcmocks/proto-public/pbconnectca/mock_ConnectCAService_WatchRootsClient.go
  grpcmocks/proto-public/pbconnectca/mock_ConnectCAService_WatchRootsServer.go
  grpcmocks/proto-public/pbconnectca/mock_UnsafeConnectCAServiceServer.go
  grpcmocks/proto-public/pbdataplane/mock_DataplaneServiceClient.go
  grpcmocks/proto-public/pbdataplane/mock_DataplaneServiceServer.go
  grpcmocks/proto-public/pbdataplane/mock_UnsafeDataplaneServiceServer.go
  grpcmocks/proto-public/pbdataplane/mock_isGetEnvoyBootstrapParamsRequest_NodeSpec.go
  grpcmocks/proto-public/pbdns/mock_DNSServiceClient.go
  grpcmocks/proto-public/pbdns/mock_DNSServiceServer.go
  grpcmocks/proto-public/pbdns/mock_UnsafeDNSServiceServer.go
  grpcmocks/proto-public/pbresource/mock_ResourceServiceClient.go
  grpcmocks/proto-public/pbresource/mock_ResourceServiceServer.go
  grpcmocks/proto-public/pbresource/mock_ResourceService_WatchListClient.go
  grpcmocks/proto-public/pbresource/mock_ResourceService_WatchListServer.go
  grpcmocks/proto-public/pbresource/mock_UnsafeResourceServiceServer.go
  grpcmocks/proto-public/pbresource/mock_isWatchEvent_Event.go
  grpcmocks/proto-public/pbserverdiscovery/mock_ServerDiscoveryServiceClient.go
  grpcmocks/proto-public/pbserverdiscovery/mock_ServerDiscoveryServiceServer.go
  grpcmocks/proto-public/pbserverdiscovery/mock_ServerDiscoveryService_WatchServersClient.go
  grpcmocks/proto-public/pbserverdiscovery/mock_ServerDiscoveryService_WatchServersServer.go
  grpcmocks/proto-public/pbserverdiscovery/mock_UnsafeServerDiscoveryServiceServer.go
  internal/resource/registry.go
Labels: pr/no-changelog, pr/no-backport

#19785 [NET-6741] make: Add target for updating dependencies across all modules
  Makefile
Labels: pr/no-changelog, pr/no-metrics-test, backport/1.15, backport/1.16, backport/1.17, backport/1.18

#20679 NET-7813 - DNS : SERVFAIL when resolving PTR records
  .changelog/20679.txt
  agent/discovery/query_fetcher_v1.go
  agent/dns.go
  agent/dns_reverse_lookup_test.go
  agent/dns_service_lookup_test.go
  agent/dns_test.go
Labels: backport/1.17

#20682 feat: add alert to link to hcp modal to ask a user refresh a page; up…
  ui/packages/consul-ui/app/components/link-to-hcp-modal/index.hbs
  ui/packages/consul-ui/app/components/link-to-hcp-modal/index.scss
  ui/packages/consul-ui/tests/integration/components/link-to-hcp-modal-test.js
Labels: theme/ui, pr/no-changelog, pr/no-metrics-test, backport/1.18

#20690 Backport of feat: add alert to link to hcp modal to ask a user refresh a page; up… into release/1.18.x
  ui/packages/consul-ui/app/components/link-to-hcp-modal/index.hbs
  ui/packages/consul-ui/app/components/link-to-hcp-modal/index.scss
  ui/packages/consul-ui/tests/integration/components/link-to-hcp-modal-test.js
Labels: theme/ui

#20691 feat: add alert to link to hcp modal to ask a user refresh a page; up…
  ui/packages/consul-ui/app/components/link-to-hcp-modal/index.hbs
  ui/packages/consul-ui/app/components/link-to-hcp-modal/index.scss
  ui/packages/consul-ui/tests/integration/components/link-to-hcp-modal-test.js
Labels: theme/ui, pr/no-changelog, pr/no-metrics-test, pr/no-backport

#20697 docs: GKE Autopilot section
  website/content/docs/connect/gateways/api-gateway/install-k8s.mdx
  website/content/docs/k8s/installation/install.mdx
Labels: type/docs, pr/no-changelog, backport/1.16, backport/1.17, backport/1.18

#20700 Backport of docs: GKE Autopilot section into release/1.18.x
  website/content/docs/connect/gateways/api-gateway/install-k8s.mdx
  website/content/docs/k8s/installation/install.mdx
Labels: type/docs

#20702 Fix malformed MDX in install-k8s
  website/content/docs/connect/gateways/api-gateway/install-k8s.mdx
Labels: type/docs, pr/no-changelog, backport/1.17, backport/1.18

#20704 Backport of Fix malformed MDX in install-k8s into release/1.18.x
  website/content/docs/connect/gateways/api-gateway/install-k8s.mdx
Labels: type/docs

#20703 Backport of Fix malformed MDX in install-k8s into release/1.17.x
  website/content/docs/connect/gateways/api-gateway/install-k8s.mdx
Labels: type/docs

#20694 deployer: add a bunch of test coverage and fix a few panics
  .github/workflows/go-tests.yml
  testing/deployer/sprawl/sprawltest/test_test.go
  testing/deployer/topology/compile.go
  testing/deployer/topology/compile_test.go
  testing/deployer/topology/topology.go
Labels: theme/testing, pr/no-changelog, pr/no-metrics-test, pr/no-backport

#20707 docs: format API GW tab docs
  website/content/docs/connect/gateways/api-gateway/install-k8s.mdx
Labels: pr/no-changelog, backport/1.17, backport/1.18

#20708 Backport of docs: format API GW tab docs into release/1.17.x
  website/content/docs/connect/gateways/api-gateway/install-k8s.mdx
Labels: type/docs

#20709 Backport of docs: format API GW tab docs into release/1.18.x
  website/content/docs/connect/gateways/api-gateway/install-k8s.mdx
Labels: type/docs

#20701 docs: manual backport #20697
  website/content/docs/api-gateway/install.mdx
  website/content/docs/k8s/installation/install.mdx
  website/redirects.js
Labels: type/docs, pr/no-changelog, pr/no-backport

#20669 Update API and API Docs regarding disabling gossip for a partition.
  .changelog/20669.txt
  api/partition.go
  proto-public/pbtenancy/v2beta1/partition.pb.go
  proto-public/pbtenancy/v2beta1/partition.proto
  website/content/api-docs/admin-partitions.mdx
Labels: type/docs, theme/api, backport/1.18
