Repository hashicorp/consul, pull requests merged in 2024-10, with the labels that each got.

#21797 update serf links
  internal/gossip/libserf/serf.go
  website/content/docs/architecture/coordinates.mdx
  website/content/docs/architecture/gossip.mdx
  website/content/docs/install/glossary.mdx
  website/content/docs/security/encryption/index.mdx
  website/content/docs/troubleshoot/faq.mdx
Labels: type/docs, pr/no-changelog, backport/1.19, backport/1.20

#21804 docs: Add missing `&&` in DNS forwading tutorial
  website/content/docs/services/discovery/dns-forwarding/enable.mdx
Labels: type/docs, pr/no-changelog, backport/1.19, backport/1.20

#21806 Added grafana dashboards
  .changelog/21806.txt
  grafana/README.md
  grafana/consuldataplanedashboard.json
  grafana/consulservicedashboard.json
  grafana/consulservicetoservicedashboard.json
Labels: backport/1.20

#21808 Backport of docs: Add missing `&&` in DNS forwading tutorial into release/1.19.x
  website/content/docs/services/discovery/dns-forwarding/enable.mdx
Labels: type/docs

#21809 Backport of docs: Add missing `&&` in DNS forwading tutorial into release/1.20.x
  website/content/docs/services/discovery/dns-forwarding/enable.mdx
Labels: type/docs

#21812 Backport of Adds grafana dashboards (#21806)
  .changelog/21806.txt
  grafana/README.md
  grafana/consuldataplanedashboard.json
  grafana/consulservicedashboard.json
  grafana/consulservicetoservicedashboard.json
Labels: pr/no-backport

#21813 Upgrade test improvements for 1.20.x
  .github/workflows/nightly-test-integrations-1.20.x.yml
  test/integration/consul-container/test/upgrade/README.md
  test/integration/consul-container/test/upgrade/peering/peering_http_test.go
Labels: type/ci, theme/contributing, pr/no-changelog, backport/1.20

#21815 Backport of Upgrade test improvements for 1.20.x into release/1.20.x
  .github/workflows/nightly-test-integrations-1.20.x.yml
  test/integration/consul-container/test/upgrade/README.md
  test/integration/consul-container/test/upgrade/peering/peering_http_test.go
Labels: type/ci, theme/contributing

#21790 Backport of Add partition field for catalog deregister docs into release/1.20.x
  website/content/api-docs/catalog.mdx
Labels: type/docs

#21791 Backport of Add partition field for catalog deregister docs into release/1.19.x
  website/content/api-docs/catalog.mdx
Labels: type/docs

#21820 Update ENVOY_VERSIONS
  envoyextensions/xdscommon/ENVOY_VERSIONS
Labels: pr/no-changelog, backport/all

#21819 ci: ensure int test docker pull goes through proxy
  .github/workflows/test-integrations.yml
Labels: type/ci, theme/contributing, pr/no-changelog, backport/all

#21824 Backport of ci: ensure int test docker pull goes through proxy into release/1.20.x
  .github/workflows/test-integrations.yml
Labels: type/ci, theme/contributing

#21827 Prepare for release of 1.20.0
  CHANGELOG.md
  api/go.mod
  api/go.sum
  envoyextensions/go.mod
  envoyextensions/go.sum
  go.mod
  test-integ/go.mod
  test/integration/consul-container/go.mod
  testing/deployer/go.mod
  troubleshoot/go.mod
  troubleshoot/go.sum
Labels: theme/api, pr/dependencies, pr/no-changelog, pr/no-backport

#21829 Post-release updates for 1.20.0
  .github/workflows/nightly-test-1.19.x.yaml
  .github/workflows/nightly-test-1.20.x.yaml
  .release/versions.hcl
  CHANGELOG.md
Labels: type/ci, theme/contributing, pr/no-changelog, backport/1.20

#21835 Manual backport of docs: Consul DNS views on Kubernetes (#21802) Beta into release/1.20.x
  website/content/docs/k8s/dns/enable.mdx
  website/content/docs/k8s/dns/views/enable.mdx
  website/content/docs/k8s/dns/views/index.mdx
  website/content/docs/services/discovery/dns-cache.mdx
  website/content/docs/services/discovery/dns-forwarding/index.mdx
  website/content/docs/services/discovery/dns-overview.mdx
  website/data/docs-nav-data.json
  website/redirects.js
Labels: type/docs, pr/no-changelog, pr/no-backport

#21837 Prepare branch for future patch release
  version/VERSION
Labels: pr/no-changelog, pr/no-backport

#21840 [NET-1151 NET-11228] api: Add fields for HTTP request normalization and L7 intentions header additions (1.19)
  api/config_entry_intentions.go
  api/config_entry_mesh.go
  command/helpers/helpers_test.go
Labels: theme/api, theme/cli, pr/no-changelog, pr/no-backport

#21841 [NET-1151 NET-11228] api: Add fields for HTTP request normalization and L7 intentions header additions (1.18)
  api/config_entry_intentions.go
  api/config_entry_mesh.go
  command/helpers/helpers_test.go
Labels: theme/api, theme/cli, pr/no-changelog, pr/no-backport

#21842 [NET-1151 NET-11228] api: Add fields for HTTP request normalization and L7 intentions header additions (1.15)
  api/config_entry_intentions.go
  api/config_entry_mesh.go
  command/helpers/helpers_test.go
Labels: theme/api, theme/cli, pr/no-changelog, pr/no-backport

#21845 Backport of api: remove dependency on proto-public, protobuf, and grpc into release/1.20.x
  .changelog/21780.txt
  api/go.mod
  api/go.sum
  api/raw_test.go
  envoyextensions/go.sum
Labels: theme/api

#21846 Manual backport of api: remove dependency on proto-public, protobuf, and grpc into release/1.19.x
  .changelog/21780.txt
  api/go.mod
  api/go.sum
  api/raw_test.go
  envoyextensions/go.sum
Labels: theme/api, pr/no-backport

#21847 Manual backport of api: remove dependency on proto-public, protobuf, and grpc into release/1.18.x
  .changelog/21780.txt
  api/go.mod
  api/go.sum
  api/raw_test.go
  envoyextensions/go.sum
Labels: theme/api, pr/no-backport

#21848 Suppress CVE-2024-9143
  .release/security-scan.hcl
Labels: pr/no-changelog, backport/ent/1.15, backport/all, backport/ent/1.18, backport/1.20, backport/ent/1.19

#21337 docs: clarify Envoy and dataplane LTS support policy
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, pr/no-changelog, backport/1.20

#21849 Backport of docs: clarify Envoy and dataplane LTS support policy into release/1.20.x
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs

#21843 Update compatibility matrix to include 1.20.x
  website/content/docs/k8s/compatibility.mdx
Labels: type/docs, pr/no-changelog, backport/1.20

#21851 Backport of Update compatibility matrix to include 1.20.x into release/1.20.x
  website/content/docs/k8s/compatibility.mdx
Labels: type/docs

#21852 Update Envoy compatibility matrices to include consul 1.20.x and dataplane 1.6.x
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, pr/no-changelog, backport/1.20

#21853 Backport of Update Envoy compatibility matrices to include consul 1.20.x and dataplane 1.6.x into release/1.20.x
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs

#21864 Upgrade envoy version in nightly integration tests
  .github/workflows/nightly-test-integrations.yml
Labels: type/ci, theme/contributing, pr/no-changelog, pr/no-backport

#21861 chore: retain retracted api submodule version
  api/go.mod
Labels: theme/api, pr/no-changelog, backport/1.20

#21865 Backport of chore: retain retracted api submodule version into release/1.20.x
  api/go.mod
Labels: theme/api

#21855 [NET-1151 NET-11046] docs: clarify request normalization and L7 headers feature availability
  website/content/docs/connect/config-entries/mesh.mdx
  website/content/docs/connect/config-entries/service-intentions.mdx
  website/content/docs/connect/security.mdx
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs, pr/no-changelog, backport/1.20

#21856 [NET-1151 NET-11046] docs: Add request normalization, L7 headers options, and security guidance to release/1.19.x
  website/content/docs/connect/config-entries/mesh.mdx
  website/content/docs/connect/config-entries/service-intentions.mdx
  website/content/docs/connect/intentions/index.mdx
  website/content/docs/connect/security.mdx
  website/content/docs/security/security-models/core.mdx
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs, pr/no-changelog, pr/no-backport

#21880 Backport of [NET-1151 NET-11046] docs: clarify request normalization and L7 headers feature availability into release/1.20.x
  website/content/docs/connect/config-entries/mesh.mdx
  website/content/docs/connect/config-entries/service-intentions.mdx
  website/content/docs/connect/security.mdx
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs

#21858 [NET-1151 NET-11046] docs: Add request normalization, L7 headers options, and security guidance to release/1.15.x
  website/content/docs/connect/config-entries/mesh.mdx
  website/content/docs/connect/config-entries/service-intentions.mdx
  website/content/docs/connect/intentions/index.mdx
  website/content/docs/connect/security.mdx
  website/content/docs/security/security-models/core.mdx
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs, pr/no-backport

#21857 [NET-1151 NET-11046] docs: Add request normalization, L7 headers options, and security guidance to release/1.18.x
  website/content/docs/connect/config-entries/mesh.mdx
  website/content/docs/connect/config-entries/service-intentions.mdx
  website/content/docs/connect/intentions/index.mdx
  website/content/docs/connect/security.mdx
  website/content/docs/security/security-models/core.mdx
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs, pr/no-backport

#21655 Allow multiple endpoints in Envoy clusters configured with hostnames
  .changelog/21655.txt
  agent/xds/clusters.go
Labels: theme/envoy/xds, pr/no-backport

#21860 Backport of docs: clarify Envoy and dataplane LTS support policy into release/1.18.x
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, pr/no-changelog, pr/no-backport

#21859 Backport of docs: clarify Envoy and dataplane LTS support policy into release/1.19.x
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, pr/no-changelog, pr/no-backport

#21886 Stage 1.20.1
  CHANGELOG.md
  version/VERSION
Labels: pr/no-changelog, pr/no-backport

#21888 Stage 1.19.3
  CHANGELOG.md
  version/VERSION
Labels: pr/no-docs, pr/no-backport

#21887 Stage 1.18.5
  CHANGELOG.md
  version/VERSION
Labels: pr/no-docs, pr/no-backport

#21889 Stage 1.15.15
  CHANGELOG.md
  version/VERSION
Labels: pr/no-docs, pr/no-backport

#21891 backport to 1.18.5 - centos logic to point to vault.centos.org for centos:7 since it is EOL
  .github/scripts/verify_rpm.sh
Labels: theme/contributing, pr/no-changelog, pr/no-backport

#21892 backport to 1.18.x - centos logic to point to vault.centos.org for centos:7 since it is EOL
  .github/scripts/verify_rpm.sh
Labels: theme/contributing, pr/no-changelog, pr/no-backport

#21894 fix verify_artifact call to verify_rpm
  .github/scripts/verify_artifact.sh
Labels: pr/no-changelog, pr/no-backport

#21895 pass docker version in verify_artifact for verify_rpm
  .github/scripts/verify_artifact.sh
Labels: theme/contributing, pr/no-changelog, pr/no-backport

#21896 Update changelog
  CHANGELOG.md
Labels: pr/no-changelog, pr/no-backport

#21897 update changelogs
  CHANGELOG.md
Labels: pr/no-docs, pr/no-backport

#21898 update changelogs
  CHANGELOG.md
Labels: pr/no-changelog, pr/no-backport

#21899 update changelogs
  CHANGELOG.md
Labels: pr/no-changelog, pr/no-backport

#21900 Update changelog
  CHANGELOG.md
Labels: pr/no-changelog, pr/no-backport

#21907 bump version
  version/VERSION
Labels: pr/no-changelog, pr/no-backport

#21905 bump version
  version/VERSION
Labels: pr/no-changelog, pr/no-backport

#21904 bump version
  version/VERSION
Labels: pr/no-changelog, pr/no-backport
