Repository hashicorp/consul, pull requests merged in 2024-06, with the labels that each got.

#21239 update TestHTTPHandlers_AgentMetrics_LeaderShipMetrics to use 3 servers instead of 2 to allow quorum when leadership flails.
  agent/metrics_test.go
Labels: pr/no-changelog, backport/all

#21242 [NET-8953] ci: disable Ent-only nightly tests on CE
  .github/workflows/nightly-test-1.14.x.yaml
  .github/workflows/nightly-test-1.15.x.yaml
  .github/workflows/nightly-test-1.17.x.yaml
  .github/workflows/nightly-test-integrations-1.15.x.yml
  .github/workflows/nightly-test-integrations-1.17.x.yml
Labels: type/ci, theme/contributing, pr/no-changelog, pr/no-backport

#21252 [NET-8953] docs: add backport policy section to CONTRIBUTING
  .github/CONTRIBUTING.md
  contributing/INTERNALS.md
  contributing/README.md
Labels: theme/contributing, pr/no-changelog, backport/1.19, backport/1.18

#21253 Backport of [NET-8953] docs: add backport policy section to CONTRIBUTING into release/1.19.x
  .github/CONTRIBUTING.md
  contributing/INTERNALS.md
  contributing/README.md
Labels: theme/contributing

#21254 Backport of [NET-8953] docs: add backport policy section to CONTRIBUTING into release/1.18.x
  .github/CONTRIBUTING.md
  contributing/INTERNALS.md
  contributing/README.md
Labels: theme/contributing

#21205 Backport of Fixes annotation and introduce tabs for static-client spec into release/1.18.x
  website/content/docs/k8s/connect/terminating-gateways.mdx
Labels: type/docs

#21250 docs: add a note for DNS resolver recommendations
  website/content/docs/services/discovery/dns-configuration.mdx
Labels: type/docs, pr/no-changelog, backport/all

#21255 Backport of docs: add a note for DNS resolver recommendations into release/1.19.x
  website/content/docs/services/discovery/dns-configuration.mdx
Labels: type/docs

#21256 Backport of docs: add a note for DNS resolver recommendations into release/1.18.x
  website/content/docs/services/discovery/dns-configuration.mdx
Labels: type/docs

#21251 security: resolve incorrect type conversions
  .changelog/21251.txt
  agent/consul/leader_registrator_v2.go
  agent/xds/proxystateconverter/endpoints.go
  agent/xds/proxystateconverter/listeners.go
  agent/xds/response/response.go
  agent/xds/testing.go
  api/api.go
Labels: theme/api, theme/envoy/xds, theme/security, backport/all

#21258 Backport of security: resolve incorrect type conversions into release/1.18.x
  .changelog/21251.txt
  agent/consul/leader_registrator_v2.go
  agent/xds/proxystateconverter/endpoints.go
  agent/xds/proxystateconverter/listeners.go
  agent/xds/response/response.go
  agent/xds/testing.go
  api/api.go
Labels: theme/api, theme/envoy/xds

#21257 Backport of security: resolve incorrect type conversions into release/1.19.x
  .changelog/21251.txt
  agent/consul/leader_registrator_v2.go
  agent/xds/proxystateconverter/endpoints.go
  agent/xds/proxystateconverter/listeners.go
  agent/xds/response/response.go
  agent/xds/testing.go
  api/api.go
Labels: theme/api, theme/envoy/xds

#21263 [NET-9445] chore: update submodule versions
  api/go.mod
  envoyextensions/go.mod
  go.mod
  test-integ/go.mod
  test/integration/consul-container/go.mod
  testing/deployer/go.mod
  troubleshoot/go.mod
  troubleshoot/go.sum
Labels: theme/api, pr/dependencies, pr/no-changelog, pr/no-backport

#21265 update go version to 1.22.4
  .changelog/21265.txt
  .go-version
  go.mod
Labels: pr/dependencies, backport/all

#21271 [NET-8971] docs: update LTS Envoy versions to include 1.29.4
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, pr/no-changelog, backport/1.19, backport/1.18

#21273 Backport of [NET-8971] docs: update LTS Envoy versions to include 1.29.4 into release/1.19.x
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs

#21272 [NET-8971] docs: update LTS Envoy versions to include 1.29.4 (1.15)
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, pr/no-changelog, pr/no-backport

#21276 Backport of [NET-8971] docs: update LTS Envoy versions to include 1.29.4 into release/1.19.0
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, pr/no-changelog, pr/no-backport

#21275 Manual backport of chore: remove stable-website to release/1.15.x
  .github/CONTRIBUTING.md
  .github/workflows/backport-assistant.yml
  .github/workflows/website-checker.yml
Labels: type/ci, theme/contributing, pr/no-changelog, pr/no-backport

#21277 Bump Envoy Versions
  .changelog/21277.txt
  .github/workflows/nightly-test-integ-peering_commontopo.yml
  .github/workflows/nightly-test-integrations-1.15.x.yml
  .github/workflows/nightly-test-integrations-1.17.x.yml
  .github/workflows/nightly-test-integrations-1.18.x.yml
  .github/workflows/nightly-test-integrations-1.19.x.yml
  .github/workflows/nightly-test-integrations.yml
  .github/workflows/test-integrations.yml
  Makefile
  envoyextensions/xdscommon/envoy_versioning_test.go
  envoyextensions/xdscommon/proxysupport.go
  test/integration/connect/envoy/run-tests.sh
Labels: type/ci, theme/contributing, backport/ent/1.17, backport/ent/1.15, backport/1.19, backport/1.18, backport/ent/1.16

#21289 Backport of Bump Envoy Versions into release/1.19.x
  .changelog/21277.txt
  .github/workflows/nightly-test-integ-peering_commontopo.yml
  .github/workflows/nightly-test-integrations-1.15.x.yml
  .github/workflows/nightly-test-integrations-1.17.x.yml
  .github/workflows/nightly-test-integrations.yml
  .github/workflows/test-integrations.yml
  Makefile
  envoyextensions/xdscommon/envoy_versioning_test.go
  envoyextensions/xdscommon/proxysupport.go
  test/integration/connect/envoy/run-tests.sh
Labels: type/ci, theme/contributing

#21286 Fix broken link in wal-logstore/index.mdx
  website/content/docs/agent/wal-logstore/index.mdx
Labels: type/docs, pr/no-changelog, backport/1.19

#21278 docs: remove multiport docs, add v1dns flag
  website/content/commands/resource.mdx
  website/content/docs/architecture/catalog.mdx
  website/content/docs/architecture/v2/catalog.mdx
  website/content/docs/architecture/v2/groups.mdx
  website/content/docs/architecture/v2/index.mdx
  website/content/docs/install/ports.mdx
  website/content/docs/k8s/helm.mdx
  website/content/docs/k8s/multiport/configure.mdx
  website/content/docs/k8s/multiport/index.mdx
  website/content/docs/k8s/multiport/reference/grpcroute.mdx
  website/content/docs/k8s/multiport/reference/httproute.mdx
  website/content/docs/k8s/multiport/reference/proxyconfiguration.mdx
  website/content/docs/k8s/multiport/reference/tcproute.mdx
  website/content/docs/k8s/multiport/reference/trafficpermissions.mdx
  website/content/docs/k8s/multiport/traffic-split.mdx
  website/content/docs/release-notes/consul/v1_17_x.mdx
  website/content/docs/security/acl/acl-rules.mdx
  website/data/commands-nav-data.json
  website/data/docs-nav-data.json
  website/redirects.js
Labels: type/docs, pr/no-changelog, backport/1.19

#21294 Backport of docs: remove multiport docs, add v1dns flag into release/1.19.x
  website/content/commands/resource.mdx
  website/content/docs/architecture/catalog.mdx
  website/content/docs/architecture/v2/catalog.mdx
  website/content/docs/architecture/v2/groups.mdx
  website/content/docs/architecture/v2/index.mdx
  website/content/docs/install/ports.mdx
  website/content/docs/k8s/helm.mdx
  website/content/docs/k8s/multiport/configure.mdx
  website/content/docs/k8s/multiport/index.mdx
  website/content/docs/k8s/multiport/reference/grpcroute.mdx
  website/content/docs/k8s/multiport/reference/httproute.mdx
  website/content/docs/k8s/multiport/reference/proxyconfiguration.mdx
  website/content/docs/k8s/multiport/reference/tcproute.mdx
  website/content/docs/k8s/multiport/reference/trafficpermissions.mdx
  website/content/docs/k8s/multiport/traffic-split.mdx
  website/content/docs/release-notes/consul/v1_17_x.mdx
  website/content/docs/security/acl/acl-rules.mdx
  website/data/commands-nav-data.json
  website/data/docs-nav-data.json
  website/redirects.js
Labels: type/docs

#21296 ci: fix nightly cron schedules to run once
  .github/workflows/nightly-test-integ-peering_commontopo.yml
  .github/workflows/nightly-test-integrations-1.15.x.yml
  .github/workflows/nightly-test-integrations-1.17.x.yml
  .github/workflows/nightly-test-integrations-1.18.x.yml
  .github/workflows/nightly-test-integrations-1.19.x.yml
  .github/workflows/nightly-test-integrations.yml
Labels: type/ci, theme/contributing, pr/no-changelog, pr/no-backport

#21300 ci: fix a few missed Envoy version changes in latest bump
  .github/workflows/nightly-test-integrations-1.19.x.yml
  .github/workflows/nightly-test-integrations.yml
Labels: type/ci, theme/contributing, pr/no-changelog, pr/no-backport

#21301 Backport of update go version to 1.22.4 into release/1.19.0
  .changelog/21265.txt
  .go-version
  go.mod
Labels: pr/dependencies, pr/no-backport

#21303 Use text/template instead of html/template for ACL template policy generation
  agent/structs/acl_templated_policy.go
Labels: pr/no-changelog, backport/all

#21304 Use text/template instead of html/template for ACL template policy generation
  agent/structs/acl_templated_policy.go
Labels: pr/no-changelog, pr/no-backport

#21307 Configure linter to forbid use of html/template
  .golangci.yml
Labels: pr/no-changelog, backport/all

#21314 docs: stage changelog for release
  CHANGELOG.md
Labels: pr/no-changelog, pr/no-backport

#21317 docs: update changelog.md for 1.19.0
  CHANGELOG.md
Labels: pr/no-changelog, backport/1.19

#21319 chore: update versions.hcl for 1.19.0 release
  .release/versions.hcl
Labels: pr/no-changelog, pr/no-backport

#21329 docs: k8s updates for the 1.5.0 release
  website/content/docs/k8s/compatibility.mdx
  website/content/docs/k8s/helm.mdx
Labels: type/docs, pr/no-changelog, backport/1.19

#21295 docs: simplify Envoy version support docs
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, pr/no-changelog, backport/1.19

#21332 Backport of docs: simplify Envoy version support docs into release/1.19.x
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, pr/no-backport

#21330 Backport of docs: k8s updates for the 1.5.0 release into release/1.19.x
  website/content/docs/k8s/compatibility.mdx
  website/content/docs/k8s/helm.mdx
Labels: type/docs

#21331 docs: known issue with v2dns SRV requests
  website/content/docs/release-notes/consul/v1_19_x.mdx
Labels: type/docs, pr/no-changelog, backport/1.19

#21339 security: fix AliasCheck panic
  .changelog/21339.txt
  agent/checks/alias.go
Labels: theme/security, backport/all

#21340 Backport of docs: known issue with v2dns SRV requests into release/1.19.x
  website/content/docs/release-notes/consul/v1_19_x.mdx
Labels: type/docs

#21335 Backport of docs: simplify Envoy version support docs into release/1.15.x
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, pr/no-backport

#21334 Backport of docs: simplify Envoy version support docs into release/1.17.x
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, pr/no-backport

#21333 Backport of docs: simplify Envoy version support docs into release/1.18.x
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, pr/no-backport

#21342 [Security] Close cross scripting vulnerability
  .changelog/21342.txt
  agent/kvs_endpoint.go
Labels: theme/security, backport/all

#21349 ci: skip 1.18 nightly int tests on CE
  .github/workflows/nightly-test-1.18.x.yaml
  .github/workflows/nightly-test-integrations-1.18.x.yml
Labels: type/ci, theme/contributing, pr/no-changelog, pr/no-backport

#21343 ci: fix file parsing in conditional-skip script
  .github/scripts/check_skip_ci.sh
  .github/workflows/go-tests.yml
  .github/workflows/security-scan.yml
  .github/workflows/test-integrations.yml
Labels: type/ci, theme/contributing, pr/no-changelog, backport/all

#20680 Create documentation for Argo Rollouts Plugin.
  website/content/docs/k8s/deployment-configurations/argo-rollouts-configuration.mdx
  website/data/docs-nav-data.json
Labels: type/docs, pr/no-changelog, backport/1.19

#21362 Backport of Create documentation for Argo Rollouts Plugin. into release/1.19.x
  website/content/docs/k8s/deployment-configurations/argo-rollouts-configuration.mdx
  website/data/docs-nav-data.json
Labels: type/docs

#21363 docs: Add argo rollouts to 1.19.x release notes
  website/content/docs/release-notes/consul-k8s/v1_5_x.mdx
  website/content/docs/release-notes/consul/v1_19_x.mdx
Labels: type/docs, pr/no-changelog, backport/1.19

#21367 Backport of docs: Add argo rollouts to 1.19.x release notes into release/1.19.x
  website/content/docs/release-notes/consul-k8s/v1_5_x.mdx
  website/content/docs/release-notes/consul/v1_19_x.mdx
Labels: type/docs

#21361 fix(dns): bug with standard lookup tags not working; SRV questions returning duplicate hostnames
  .changelog/21361.txt
  agent/dns/discovery_results_fetcher.go
  agent/dns/discovery_results_fetcher_test.go
  agent/dns/message_serializer.go
  agent/dns/router_service_test.go
  agent/dns/router_v2_services_test.go
  agent/dns_service_lookup_test.go
  website/content/docs/release-notes/consul/v1_19_x.mdx
Labels: type/docs, backport/1.19, backport/ent/1.18

#21369 Backport of fix(dns): bug with standard lookup tags not working; SRV questions returning duplicate hostnames into release/1.19.x
  .changelog/21361.txt
  agent/dns/discovery_results_fetcher.go
  agent/dns/discovery_results_fetcher_test.go
  agent/dns/message_serializer.go
  agent/dns/router_service_test.go
  agent/dns/router_v2_services_test.go
  agent/dns_service_lookup_test.go
  website/content/docs/release-notes/consul/v1_19_x.mdx
Labels: type/docs

#21326 build: cross compile darwin builds
  .github/workflows/build.yml
Labels: type/ci, theme/contributing, pr/no-changelog, backport/all

#21373 Backport of build: cross compile darwin builds into release/1.19.x
  .github/workflows/build.yml
Labels: type/ci, theme/contributing
