Repository hashicorp/consul, pull requests merged in 2024-04, with the labels that each got.

#20937 remove self-referencing link on network segments page
  website/content/docs/enterprise/network-segments/network-segments-overview.mdx
Labels: type/docs, pr/no-changelog, backport/1.18

#20941 Backport of remove self-referencing link on network segments page into release/1.18.x
  website/content/docs/enterprise/network-segments/network-segments-overview.mdx
Labels: type/docs

#20935 Documentation: update python SDKs list
  website/content/api-docs/libraries-and-sdks.mdx
Labels: type/docs, pr/no-changelog, backport/1.16, backport/1.17, backport/1.18

#20944 Backport of Documentation: update python SDKs list into release/1.18.x
  website/content/api-docs/libraries-and-sdks.mdx
Labels: type/docs

#20943 Backport of Documentation: update python SDKs list into release/1.17.x
  website/content/api-docs/libraries-and-sdks.mdx
Labels: type/docs

#20942 Backport of Documentation: update python SDKs list into release/1.16.x
  website/content/api-docs/libraries-and-sdks.mdx
Labels: type/docs

#19881 [NET-5772] Make tcp external service registered on terminating gw reachable from peered cluster
  .changelog/19881.txt
  agent/xds/listeners.go
  agent/xds/resources_test.go
  agent/xds/testdata/listeners/terminating-gateway-with-peer-trust-bundle.latest.golden
Labels: theme/envoy/xds, theme/terminating-gw, theme/cluster-peering, backport/1.18

#20946 Backport of [NET-5772] Make tcp external service registered on terminating gw reachable from peered cluster into release/1.18.x
  .changelog/19881.txt
  agent/xds/listeners.go
  agent/xds/resources_test.go
  agent/xds/testdata/listeners/terminating-gateway-with-peer-trust-bundle.latest.golden
Labels: theme/envoy/xds

#20950 NET-8524 Remove registation of api gateway controller
  internal/mesh/internal/controllers/register.go
Labels: pr/no-changelog, backport/1.18

#20951 docs: fix apply DNS ACL token via CLI
  website/content/docs/security/acl/tokens/create/create-a-dns-token.mdx
Labels: type/docs, pr/no-changelog, backport/1.18

#20953 Backport of docs: fix apply DNS ACL token via CLI into release/1.18.x
  website/content/docs/security/acl/tokens/create/create-a-dns-token.mdx
Labels: type/docs

#20948 Add diagrams for write flow through Raft
  docs/persistence/README.md
  docs/persistence/write-deep-dive.png
  docs/persistence/write-overview.png
Labels: pr/no-changelog, pr/no-backport

#20956 security: bump go, x/net and envoy versions
  .changelog/20956.txt
  .github/workflows/nightly-test-integrations.yml
  .github/workflows/test-integrations-windows.yml
  .github/workflows/test-integrations.yml
  .go-version
  api/go.mod
  api/go.sum
  envoyextensions/go.mod
  envoyextensions/go.sum
  envoyextensions/xdscommon/envoy_versioning_test.go
  envoyextensions/xdscommon/proxysupport.go
  go.mod
  go.sum
  proto-public/go.mod
  proto-public/go.sum
  sdk/go.mod
  sdk/go.sum
  test-integ/go.mod
  test-integ/go.sum
  test/integration/connect/envoy/test-sds-server/go.mod
  test/integration/connect/envoy/test-sds-server/go.sum
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
  testing/deployer/go.mod
  testing/deployer/go.sum
  troubleshoot/go.mod
  troubleshoot/go.sum
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, theme/api, type/ci, pr/dependencies, theme/contributing, theme/security, pr/no-backport

#20958 Backport of security: bump go, x/net and envoy versions into release/1.18.x
  .changelog/20956.txt
  .github/workflows/nightly-test-integrations.yml
  .github/workflows/test-integrations-windows.yml
  .github/workflows/test-integrations.yml
  .go-version
  api/go.mod
  api/go.sum
  envoyextensions/go.mod
  envoyextensions/go.sum
  envoyextensions/xdscommon/envoy_versioning_test.go
  envoyextensions/xdscommon/proxysupport.go
  go.mod
  go.sum
  proto-public/go.mod
  proto-public/go.sum
  sdk/go.mod
  sdk/go.sum
  test-integ/go.mod
  test-integ/go.sum
  test/integration/connect/envoy/test-sds-server/go.mod
  test/integration/connect/envoy/test-sds-server/go.sum
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
  testing/deployer/go.mod
  testing/deployer/go.sum
  troubleshoot/go.mod
  troubleshoot/go.sum
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, theme/api, type/ci, pr/dependencies, theme/contributing, pr/no-backport

#20959 Backport of security: bump go, x/net and envoy versions into release/1.17.x
  .changelog/20956.txt
  .github/workflows/test-integrations-windows.yml
  .github/workflows/test-integrations.yml
  .go-version
  api/go.mod
  api/go.sum
  envoyextensions/go.mod
  envoyextensions/go.sum
  envoyextensions/xdscommon/envoy_versioning_test.go
  envoyextensions/xdscommon/proxysupport.go
  go.mod
  go.sum
  proto-public/go.mod
  proto-public/go.sum
  sdk/go.mod
  sdk/go.sum
  test-integ/go.mod
  test-integ/go.sum
  test/integration/connect/envoy/test-sds-server/go.mod
  test/integration/connect/envoy/test-sds-server/go.sum
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
  testing/deployer/go.mod
  testing/deployer/go.sum
  troubleshoot/go.mod
  troubleshoot/go.sum
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, theme/api, type/ci, pr/dependencies, theme/contributing, pr/no-backport

#20960 Backport of security: bump go, x/net and envoy versions into release/1.16.x
  .changelog/20956.txt
  .github/workflows/test-integrations-windows.yml
  .github/workflows/test-integrations.yml
  .go-version
  api/go.mod
  api/go.sum
  envoyextensions/go.mod
  envoyextensions/go.sum
  envoyextensions/xdscommon/envoy_versioning_test.go
  envoyextensions/xdscommon/proxysupport.go
  go.mod
  go.sum
  proto-public/go.mod
  proto-public/go.sum
  sdk/go.mod
  sdk/go.sum
  test/integration/connect/envoy/test-sds-server/go.mod
  test/integration/connect/envoy/test-sds-server/go.sum
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
  troubleshoot/go.mod
  troubleshoot/go.sum
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, theme/api, type/ci, pr/dependencies, theme/contributing, pr/no-backport

#20964 ci: fix Envoy int test versions
  .github/workflows/nightly-test-integrations-1.15.x.yml
  .github/workflows/nightly-test-integrations-1.16.x.yml
  .github/workflows/nightly-test-integrations-1.17.x.yml
  .github/workflows/test-integrations.yml
Labels: type/ci, theme/contributing, pr/no-changelog, backport/1.15, backport/1.16, backport/1.17, backport/1.18

#20962 Backport of security: bump go, x/net and envoy versions into release/1.15.x
  .changelog/20956.txt
  .github/workflows/test-integrations-windows.yml
  .github/workflows/test-integrations.yml
  .go-version
  api/go.mod
  api/go.sum
  envoyextensions/go.mod
  envoyextensions/go.sum
  envoyextensions/xdscommon/envoy_versioning_test.go
  envoyextensions/xdscommon/proxysupport.go
  go.mod
  go.sum
  proto-public/go.mod
  proto-public/go.sum
  sdk/go.mod
  sdk/go.sum
  test/integration/connect/envoy/test-sds-server/go.mod
  test/integration/connect/envoy/test-sds-server/go.sum
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
  troubleshoot/go.mod
  troubleshoot/go.sum
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, theme/api, type/ci, pr/dependencies, theme/contributing, pr/no-backport

#20968 Backport of ci: fix Envoy int test versions into release/1.18.x
  .github/workflows/nightly-test-integrations-1.15.x.yml
  .github/workflows/nightly-test-integrations-1.16.x.yml
  .github/workflows/nightly-test-integrations-1.17.x.yml
  .github/workflows/test-integrations.yml
Labels: type/ci, theme/contributing

#20973 update go-control-plane envoy dependency to 0.12.0
  .changelog/20973.txt
  .golangci.yml
  agent/grpc-internal/balancer/balancer.go
  agent/grpc-internal/balancer/balancer_test.go
  agent/grpc-internal/resolver/resolver_test.go
  envoyextensions/go.mod
  envoyextensions/go.sum
  go.mod
  go.sum
  test-integ/go.mod
  test-integ/go.sum
  test/integration/connect/envoy/test-sds-server/go.mod
  test/integration/connect/envoy/test-sds-server/go.sum
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
  troubleshoot/go.mod
  troubleshoot/go.sum
Labels: pr/dependencies, pr/no-backport

#20976 Add an agent config option to diable per tenancy usage metrics.
  .changelog/_9142.txt
  agent/config/builder.go
  agent/config/config.go
  agent/config/runtime_test.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/config/testdata/full-config.hcl
  agent/config/testdata/full-config.json
  agent/consul/config.go
  agent/consul/server.go
  agent/consul/usagemetrics/usagemetrics.go
  agent/consul/usagemetrics/usagemetrics_ce.go
  agent/consul/usagemetrics/usagemetrics_ce_test.go
  agent/consul/usagemetrics/usagemetrics_test.go
  lib/telemetry.go
  website/content/docs/agent/config/config-files.mdx
Labels: type/docs, theme/config, theme/internals, pr/no-changelog, pr/no-backport

#20977 fix: consume ignored entries in CE downgrade via Ent snapshot
  .changelog/20977.txt
  agent/consul/fsm/fsm.go
  agent/consul/fsm/snapshot_ce_test.go
Labels: backport/1.18

#20974 FIX: wrong indentation of to block in Example yaml
  website/content/docs/connect/gateways/api-gateway/configuration/routes.mdx
Labels: type/docs, pr/no-changelog, backport/1.17, backport/1.18

#20980 Backport of FIX: wrong indentation of to block in Example yaml into release/1.18.x
  website/content/docs/connect/gateways/api-gateway/configuration/routes.mdx
Labels: type/docs

#20979 Backport of FIX: wrong indentation of to block in Example yaml into release/1.17.x
  website/content/docs/connect/gateways/api-gateway/configuration/routes.mdx
Labels: type/docs

#20873 [NET-8091] Add file-system-certificate config entry for API gateway
  .changelog/20873.txt
  agent/consul/fsm/decode_downgrade.go
  agent/consul/fsm/fsm.go
  agent/consul/gateways/controller_gateways.go
  agent/consul/state/config_entry.go
  agent/consul/state/config_entry_events.go
  agent/consul/state/events.go
  agent/consul/state/memdb.go
  agent/consul/usagemetrics/usagemetrics_test.go
  agent/proxycfg-glue/config_entry.go
  agent/proxycfg/api_gateway.go
  agent/proxycfg/proxycfg.deepcopy.go
  agent/proxycfg/snapshot.go
  agent/proxycfg/state.go
  agent/structs/config_entry.go
  agent/structs/config_entry_file_system_certificate.go
  agent/structs/config_entry_gateways.go
  agent/structs/deep-copy.sh
  agent/structs/structs.deepcopy.go
  agent/xds/listeners_apigateway.go
  agent/xds/listeners_ingress.go
  agent/xds/secrets.go
  api/config_entry.go
  api/config_entry_file_system_certificate.go
  envoyextensions/xdscommon/xdscommon.go
  proto/private/pbconfigentry/config_entry.gen.go
  proto/private/pbconfigentry/config_entry.go
  proto/private/pbconfigentry/config_entry.pb.binary.go
  proto/private/pbconfigentry/config_entry.pb.go
  proto/private/pbconfigentry/config_entry.proto
  proto/private/pbsubscribe/subscribe.pb.go
  proto/private/pbsubscribe/subscribe.proto
  website/content/api-docs/config.mdx
  website/content/docs/connect/config-entries/api-gateway.mdx
  website/content/docs/connect/config-entries/file-system-certificate.mdx
  website/content/docs/connect/gateways/api-gateway/configuration/index.mdx
  website/data/docs-nav-data.json
Labels: theme/api, theme/envoy/xds, backport/1.18

#20945 Net 6820 customize mesh gateway limits
  .changelog/20945.txt
  agent/proxycfg/mesh_gateway.go
  agent/proxycfg/proxycfg.deepcopy.go
  agent/proxycfg/snapshot.go
  agent/proxycfg/state.go
  agent/proxycfg/testing_mesh_gateway.go
  agent/xds/clusters.go
  agent/xds/resources_test.go
  agent/xds/testdata/clusters/mesh-gateway-with-limits.latest.golden
  agent/xds/testdata/endpoints/mesh-gateway-with-limits.latest.golden
  agent/xds/testdata/listeners/mesh-gateway-with-limits.latest.golden
  agent/xds/testdata/routes/mesh-gateway-with-limits.latest.golden
  agent/xds/testdata/secrets/mesh-gateway-with-limits.latest.golden
Labels: theme/envoy/xds, backport/1.18

#21000 docs: Initial HCP Rebrand
  website/content/docs/nia/api/tasks.mdx
  website/content/docs/nia/architecture.mdx
  website/content/docs/nia/compatibility.mdx
  website/content/docs/nia/configuration.mdx
  website/content/docs/nia/enterprise/index.mdx
  website/content/docs/nia/index.mdx
  website/content/docs/nia/network-drivers/hcp-terraform.mdx
  website/content/docs/nia/network-drivers/index.mdx
  website/content/docs/nia/usage/requirements.mdx
  website/content/docs/nia/usage/run-ha.mdx
  website/content/docs/release-notes/consul-terraform-sync/v0_6_x.mdx
  website/data/docs-nav-data.json
  website/redirects.js
Labels: type/docs, pr/no-changelog, backport/1.18

#20983 Backport of Net 6820 customize mesh gateway limits into release/1.18.x
  .changelog/20945.txt
  agent/proxycfg/mesh_gateway.go
  agent/proxycfg/proxycfg.deepcopy.go
  agent/proxycfg/snapshot.go
  agent/proxycfg/state.go
  agent/proxycfg/testing_mesh_gateway.go
  agent/structs/config_entry_gateways.go
  agent/xds/clusters.go
  agent/xds/resources_test.go
  agent/xds/testdata/clusters/mesh-gateway-with-limits.latest.golden
  agent/xds/testdata/endpoints/mesh-gateway-with-limits.latest.golden
  agent/xds/testdata/listeners/mesh-gateway-with-limits.latest.golden
  agent/xds/testdata/routes/mesh-gateway-with-limits.latest.golden
  agent/xds/testdata/secrets/mesh-gateway-with-limits.latest.golden
Labels: pr/dependencies, theme/envoy/xds

#21015 Backport of docs: Enterprise upgrade instruction into release/1.18.x
  website/content/docs/upgrading/instructions/general-process.mdx
Labels: type/docs

#21014 Backport of docs: Enterprise upgrade instruction into release/1.17.x
  website/content/docs/upgrading/instructions/general-process.mdx
Labels: type/docs

#21013 Backport of docs: Enterprise upgrade instruction into release/1.16.x
  website/content/docs/upgrading/instructions/general-process.mdx
Labels: type/docs

#21012 Backport of docs: Enterprise upgrade instruction into release/1.15.x
  website/content/docs/upgrading/instructions/general-process.mdx
Labels: type/docs

#21018 Fixed broken link in the ECS documentation
  website/content/docs/ecs/deploy/bind-addresses.mdx
  website/content/docs/ecs/deploy/configure-routes.mdx
Labels: type/docs, pr/no-changelog, backport/1.17
