Repository hashicorp/consul, pull requests merged in 2024-08, with the labels that each got.

#21578 NET-10610 - stop logging no data as errors in DNS lookups
  agent/dns/router.go
Labels: pr/no-changelog

#21590 Suppress CVE-2024-7264
  .release/security-scan.hcl
Labels: pr/no-changelog, backport/ent/1.17, backport/ent/1.15, backport/all, backport/1.19, backport/ent/1.18

#21588 ui: Upgrade d3 packages to update color dependency
  .changelog/21588.txt
  ui/packages/consul-ui/package.json
  ui/yarn.lock
Labels: theme/ui, backport/all

#21597 Backport of ui: Upgrade d3 packages to update color dependency into release/1.19.x
  .changelog/21588.txt
  ui/packages/consul-ui/package.json
  ui/yarn.lock
Labels: theme/ui, pr/no-backport

#21348 CE-655 - Moving DNS forwading tutorial to docs
  website/content/docs/services/discovery/dns-forwarding/enable.mdx
  website/content/docs/services/discovery/dns-forwarding/index.mdx
  website/content/docs/services/discovery/dns-overview.mdx
  website/data/docs-nav-data.json
  website/public/img/consul-dns-conditional-forwarding-dark.png
  website/public/img/consul-dns-conditional-forwarding.png
  website/public/img/consul-dns-forwarding-dark.png
  website/public/img/consul-dns-forwarding.png
Labels: type/docs, pr/no-changelog, pr/no-backport

#21598 NET-10685 - Remove dns v2 code
  agent/agent.go
  agent/config/builder_test.go
  agent/consul/options.go
  agent/consul/server.go
  agent/discovery/discovery.go
  agent/discovery/discovery_test.go
  agent/discovery/mock_CatalogDataFetcher.go
  agent/discovery/query_fetcher_v1.go
  agent/discovery/query_fetcher_v1_ce.go
  agent/discovery/query_fetcher_v1_ce_test.go
  agent/discovery/query_fetcher_v1_test.go
  agent/discovery/query_fetcher_v2.go
  agent/discovery/query_fetcher_v2_test.go
  agent/dns.go
  agent/dns/buffer_response_writer.go
  agent/dns/discovery_results_fetcher.go
  agent/dns/discovery_results_fetcher_test.go
  agent/dns/dns_address.go
  agent/dns/dns_address_test.go
  agent/dns/dns_record_maker.go
  agent/dns/dns_record_maker_test.go
  agent/dns/message_serializer.go
  agent/dns/mock_DNSRouter.go
  agent/dns/mock_dnsRecursor.go
  agent/dns/parser.go
  agent/dns/parser_test.go
  agent/dns/recursor.go
  agent/dns/recursor_test.go
  agent/dns/response_generator.go
  agent/dns/response_generator_test.go
  agent/dns/router.go
  agent/dns/router_addr_test.go
  agent/dns/router_ns_test.go
  agent/dns/router_prepared_query_test.go
  agent/dns/router_ptr_test.go
  agent/dns/router_recursor_test.go
  agent/dns/router_service_test.go
  agent/dns/router_soa_test.go
  agent/dns/router_test.go
  agent/dns/router_v2_services_test.go
  agent/dns/router_virtual_test.go
  agent/dns/router_workload_test.go
  agent/dns/server.go
  agent/dns/server_test.go
  agent/dns_catalogv2_test.go
  agent/dns_ce.go
  agent/dns_ce_test.go
  agent/dns_node_lookup_test.go
  agent/dns_reverse_lookup_test.go
  agent/dns_service_lookup_test.go
  agent/dns_test.go
  agent/grpc-external/services/dns/server.go
  agent/grpc-external/services/dns/server_v2.go
  agent/grpc-external/services/dns/server_v2_test.go
  agent/setup.go
  agent/structs/errors.go
  website/content/docs/k8s/helm.mdx
  website/content/docs/release-notes/consul/v1_19_x.mdx
Labels: type/docs, theme/config, pr/no-changelog, pr/no-metrics-test, backport/1.19

#21599 Backport of NET-10685 - Remove dns v2 code into release/1.19.x
  agent/agent.go
  agent/config/builder_test.go
  agent/consul/options.go
  agent/consul/server.go
  agent/discovery/discovery.go
  agent/discovery/discovery_test.go
  agent/discovery/mock_CatalogDataFetcher.go
  agent/discovery/query_fetcher_v1.go
  agent/discovery/query_fetcher_v1_ce.go
  agent/discovery/query_fetcher_v1_ce_test.go
  agent/discovery/query_fetcher_v1_test.go
  agent/discovery/query_fetcher_v2.go
  agent/discovery/query_fetcher_v2_test.go
  agent/dns.go
  agent/dns/buffer_response_writer.go
  agent/dns/discovery_results_fetcher.go
  agent/dns/discovery_results_fetcher_test.go
  agent/dns/dns_address.go
  agent/dns/dns_address_test.go
  agent/dns/dns_record_maker.go
  agent/dns/dns_record_maker_test.go
  agent/dns/message_serializer.go
  agent/dns/mock_DNSRouter.go
  agent/dns/mock_dnsRecursor.go
  agent/dns/parser.go
  agent/dns/parser_test.go
  agent/dns/recursor.go
  agent/dns/recursor_test.go
  agent/dns/response_generator.go
  agent/dns/response_generator_test.go
  agent/dns/router.go
  agent/dns/router_addr_test.go
  agent/dns/router_ns_test.go
  agent/dns/router_prepared_query_test.go
  agent/dns/router_ptr_test.go
  agent/dns/router_recursor_test.go
  agent/dns/router_service_test.go
  agent/dns/router_soa_test.go
  agent/dns/router_test.go
  agent/dns/router_v2_services_test.go
  agent/dns/router_virtual_test.go
  agent/dns/router_workload_test.go
  agent/dns/server.go
  agent/dns/server_test.go
  agent/dns_catalogv2_test.go
  agent/dns_ce.go
  agent/dns_ce_test.go
  agent/dns_node_lookup_test.go
  agent/dns_reverse_lookup_test.go
  agent/dns_service_lookup_test.go
  agent/dns_test.go
  agent/grpc-external/services/dns/server.go
  agent/grpc-external/services/dns/server_v2.go
  agent/grpc-external/services/dns/server_v2_test.go
  agent/setup.go
  agent/structs/errors.go
  website/content/docs/k8s/helm.mdx
  website/content/docs/release-notes/consul/v1_19_x.mdx
Labels: type/docs, theme/config

#21600 docs: Update compatibility.mdx for OpenShift
  website/content/docs/k8s/compatibility.mdx
Labels: type/docs, pr/no-changelog, backport/1.19

#21602 Backport of docs: Update compatibility.mdx for OpenShift into release/1.19.x
  website/content/docs/k8s/compatibility.mdx
Labels: type/docs

#21603 [NET-10733] fix generation of xds resources
  agent/xds/resources_test.go
Labels: theme/envoy/xds, pr/no-changelog, pr/no-backport

#21604 [NET-10719] Fix cluster generation for jwt clusters for external jwt providers
  .changelog/21604.txt
  agent/xds/clusters.go
  agent/xds/jwt_authn_ce.go
Labels: theme/envoy/xds, backport/1.17, backport/1.19, backport/1.18

#21606 fix where jwt clusters are generated
  agent/xds/clusters.go
Labels: theme/envoy/xds, pr/no-changelog, backport/1.19

#21605 Backport of [NET-10719] Fix cluster generation for jwt clusters for external jwt providers into release/1.19.x
  .changelog/21604.txt
  agent/xds/clusters.go
  agent/xds/jwt_authn_ce.go
Labels: theme/envoy/xds

#21607 Backport of fix where jwt clusters are generated into release/1.19.x
  agent/xds/clusters.go
Labels: theme/envoy/xds

#21366 CE-657 - Move Application leader election tutorial to docs
  website/content/api-docs/kv.mdx
  website/content/api-docs/session.mdx
  website/content/commands/lock.mdx
  website/content/docs/dynamic-app-config/kv/index.mdx
  website/content/docs/dynamic-app-config/sessions/application-leader-election.mdx
  website/content/docs/dynamic-app-config/sessions/index.mdx
  website/data/docs-nav-data.json
Labels: type/docs, pr/no-changelog, pr/no-backport

#21610 manual backport of updating jwt docs
  website/content/docs/connect/gateways/api-gateway/secure-traffic/verify-jwts-k8s.mdx
  website/content/docs/connect/gateways/api-gateway/secure-traffic/verify-jwts-vms.mdx
Labels: type/docs, pr/no-changelog, pr/no-backport

#21611 manual backport of updating jwt docs
  website/content/docs/connect/gateways/api-gateway/secure-traffic/verify-jwts-k8s.mdx
  website/content/docs/connect/gateways/api-gateway/secure-traffic/verify-jwts-vms.mdx
Labels: type/docs, pr/no-changelog, pr/no-backport

#21609 Fix TestDNS_ServiceLookup_AnswerLimits so that it only creates test agents the minimal amount of time.
  agent/dns_service_lookup_test.go
Labels: pr/no-changelog, backport/1.19

#21608 Fix TestDNS_ServiceLookup_ARecordLimits so that it only creates test agents the minimal amount of time
  agent/dns_service_lookup_test.go
Labels: pr/no-changelog, backport/1.19

#21601 docs: Update compatibility.mdx for OpenShift (1.18.x)
  website/content/docs/k8s/compatibility.mdx
Labels: type/docs, pr/no-changelog, pr/no-backport

#21613 [NET-10737] Add CI Checks for Generated Testdata
  .github/scripts/goldenfile_checker.sh
  .github/workflows/goldenfile-checker.yml
Labels: type/ci, theme/contributing, pr/no-changelog, backport/all

#21615 Backport of [NET-10737] Add CI Checks for Generated Testdata into release/1.19.x
  .github/scripts/goldenfile_checker.sh
  .github/workflows/goldenfile-checker.yml
Labels: type/ci, theme/contributing

#21617 update goldenfile checker for running in ent repo
  .github/scripts/goldenfile_checker.sh
  .github/workflows/goldenfile-checker.yml
Labels: type/ci, theme/contributing, pr/no-changelog, backport/1.19

#21618 Backport of update goldenfile checker for running in ent repo into release/1.19.x
  .github/scripts/goldenfile_checker.sh
  .github/workflows/goldenfile-checker.yml
Labels: type/ci, theme/contributing

#21619 Manual backport of PR 21251 to 1.17.x
  agent/xds/proxystateconverter/endpoints.go
  agent/xds/proxystateconverter/listeners.go
  agent/xds/response/response.go
  agent/xds/testing.go
  api/api.go
Labels: theme/api, theme/envoy/xds, pr/no-changelog, backport/ent/1.17

#21620 Manual backport of PR 21251 to 1.15.x
  agent/xds/response.go
  agent/xds/testing.go
  api/api.go
Labels: theme/api, theme/envoy/xds, pr/no-changelog, backport/ent/1.15

#21625 [NET-10774] Fix Group Reference in GatewayPolcy Docs
  website/content/docs/connect/gateways/api-gateway/configuration/gatewaypolicy.mdx
  website/content/docs/connect/gateways/api-gateway/secure-traffic/verify-jwts-k8s.mdx
Labels: type/docs, pr/no-changelog, backport/1.19

#21627 Backport of [NET-10774] Fix Group Reference in GatewayPolcy Docs into release/1.19.x
  website/content/docs/connect/gateways/api-gateway/configuration/gatewaypolicy.mdx
  website/content/docs/connect/gateways/api-gateway/secure-traffic/verify-jwts-k8s.mdx
Labels: type/docs

#21629 backport of commit d899808cc2f2afded3872834ded8a04060d29278
  website/content/docs/connect/gateways/api-gateway/configuration/gatewaypolicy.mdx
  website/content/docs/connect/gateways/api-gateway/secure-traffic/verify-jwts-k8s.mdx
Labels: type/docs, pr/no-changelog, pr/no-backport

#21628 backport of commit d899808cc2f2afded3872834ded8a04060d29278
  website/content/docs/connect/gateways/api-gateway/configuration/gatewaypolicy.mdx
  website/content/docs/connect/gateways/api-gateway/secure-traffic/verify-jwts-k8s.mdx
Labels: type/docs, pr/no-changelog, pr/no-backport

#21639 Backport of add build support script to print out the submodule versions required in other submodules into release/1.17.x
  build-support/functions/10-util.sh
  build-support/scripts/consul-module-versions-in-consul.sh
Labels: pr/no-changelog, pr/no-backport

#21640 Backport of add build support script to print out the submodule versions required in other submodules into release/1.18.x
  build-support/functions/10-util.sh
  build-support/scripts/consul-module-versions-in-consul.sh
Labels: pr/no-changelog, pr/no-backport

#21642 ci: fix workflow graph for 1.18 Envoy int tests
  .github/workflows/nightly-test-integrations-1.18.x.yml
Labels: type/ci, theme/contributing, pr/no-changelog, pr/no-backport

#21634 pull over Validate_Clusters to api package in 1.18.x
  agent/structs/config_entry_mesh.go
  api/config_entry_mesh.go
  proto/private/pbconfigentry/config_entry.gen.go
  proto/private/pbconfigentry/config_entry.pb.go
  proto/private/pbconfigentry/config_entry.proto
  website/content/docs/connect/config-entries/mesh.mdx
Labels: theme/api, theme/internals, pr/no-changelog, pr/no-backport

#21632 pull over Validate_Clusters to api package in 1.17.x
  agent/structs/config_entry_mesh.go
  api/config_entry_mesh.go
  proto/private/pbconfigentry/config_entry.gen.go
  proto/private/pbconfigentry/config_entry.pb.go
  proto/private/pbconfigentry/config_entry.proto
  website/content/docs/connect/config-entries/mesh.mdx
Labels: type/docs, theme/api, pr/no-changelog, pr/no-backport

#21631 pull over Validate_Clusters to api package in 1.15.x
  agent/structs/config_entry_mesh.go
  api/config_entry_mesh.go
  proto/pbconfigentry/config_entry.gen.go
  proto/pbconfigentry/config_entry.pb.go
  proto/pbconfigentry/config_entry.proto
  website/content/docs/connect/config-entries/mesh.mdx
Labels: pr/no-changelog, pr/no-backport

#21645 revert change to website/content/docs/connect/config-entries/mesh.mdx
  website/content/docs/connect/config-entries/mesh.mdx
Labels: type/docs, pr/no-changelog, pr/no-backport

#21643 revert change to website/content/docs/connect/config-entries/mesh.mdx
  website/content/docs/connect/config-entries/mesh.mdx
Labels: type/docs, pr/no-changelog, pr/no-backport

#21644 revert change to website/content/docs/connect/config-entries/mesh.mdx
  website/content/docs/connect/config-entries/mesh.mdx
Labels: type/docs, pr/no-changelog, pr/no-backport

#21650 Updating go.mods in release/1.19.x after modules have been released.
  api/go.mod
  envoyextensions/go.mod
  go.mod
  test-integ/go.mod
  test/integration/consul-container/go.mod
  testing/deployer/go.mod
  troubleshoot/go.mod
Labels: theme/api, pr/dependencies, pr/no-changelog, pr/no-backport

#21648 Updating go.mods in release/1.17.x after modules have been released.
  api/go.mod
  api/go.sum
  envoyextensions/go.mod
  envoyextensions/go.sum
  go.mod
  go.sum
  test-integ/go.mod
  test-integ/go.sum
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
  testing/deployer/go.mod
  testing/deployer/go.sum
  troubleshoot/go.mod
  troubleshoot/go.sum
Labels: type/docs, theme/api, theme/acls, theme/cli, theme/config, theme/ui, theme/connect, theme/tls, type/ci, pr/dependencies, theme/envoy/xds, theme/contributing, theme/internals, theme/certificates, pr/no-changelog, pr/no-backport

#21646 Updating go.mods in release/1.15.x after modules have been released.
  envoyextensions/go.mod
  go.mod
  test/integration/consul-container/go.mod
  troubleshoot/go.mod
  troubleshoot/go.sum
Labels: theme/api, pr/dependencies, pr/no-changelog, pr/no-backport

#21649 Updating go.mods in release/1.18.x after modules have been released.
  .golangci.yml
  agent/grpc-internal/balancer/balancer.go
  agent/grpc-internal/balancer/balancer_test.go
  agent/grpc-internal/resolver/resolver_test.go
  api/go.mod
  envoyextensions/go.mod
  go.mod
  go.sum
  test-integ/go.mod
  test-integ/go.sum
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
  testing/deployer/go.mod
  troubleshoot/go.mod
  troubleshoot/go.sum
Labels: theme/api, theme/health-checks, theme/acls, theme/cli, theme/config, theme/connect, theme/telemetry, type/ci, pr/dependencies, theme/envoy/xds, theme/contributing, theme/internals, pr/no-changelog, pr/no-backport

#21593 NET-5912/service-defaults protocol validation
  agent/config/builder.go
  agent/config_endpoint_test.go
  agent/consul/config_endpoint.go
  agent/consul/config_replication_test.go
  agent/structs/config_entry.go
  agent/structs/config_entry_test.go
  api/config_entry_test.go
  command/config/write/config_write_test.go
Labels: pr/no-changelog, pr/no-backport

#21659 test: update pause Docker image in Envoy int tests
  test/integration/connect/envoy/run-tests.sh
Labels: pr/no-changelog, backport/all

#21660 Update 1.15.x after re-publishing modules
  envoyextensions/go.mod
  go.mod
  test/integration/consul-container/go.mod
  troubleshoot/go.mod
Labels: pr/dependencies, pr/no-changelog, pr/no-backport

#21661 Update 1.17.x after re-publishing modules
  api/go.mod
  envoyextensions/go.mod
  go.mod
  test-integ/go.mod
  test/integration/consul-container/go.mod
  troubleshoot/go.mod
Labels: theme/api, pr/no-changelog, pr/no-backport

#21663 Update 1.18.x after re-publishing modules
  go.mod
  test-integ/go.mod
  test/integration/consul-container/go.mod
Labels: pr/dependencies, pr/no-changelog, pr/no-backport

#21664 Update 1.19.x after re-publishing modules
  api/go.mod
  envoyextensions/go.mod
  go.mod
  test-integ/go.mod
  test/integration/consul-container/go.mod
  troubleshoot/go.mod
Labels: type/docs, theme/api, theme/acls, theme/cli, theme/config, theme/ui, type/ci, pr/dependencies, theme/envoy/xds, theme/contributing, pr/no-changelog, pr/no-backport

#21665 add module retractions
  api/go.mod
  envoyextensions/go.mod
  troubleshoot/go.mod
Labels: theme/api, pr/no-changelog, pr/no-backport

#21666 run integration tests on push in main and release/*
  .github/workflows/test-integrations.yml
Labels: type/ci, theme/contributing, pr/no-changelog, backport/1.19

#21669 Backport of run integration tests on push in main and release/* into release/1.17.x
  .github/workflows/test-integrations.yml
Labels: type/ci, theme/contributing, pr/no-changelog, pr/no-backport

#21668 Backport of run integration tests on push in main and release/* into release/1.18.x
  .github/workflows/test-integrations.yml
Labels: type/ci, theme/contributing, pr/no-changelog, pr/no-backport

#21667 Backport of run integration tests on push in main and release/* into release/1.19.x
  .github/workflows/test-integrations.yml
Labels: type/ci, theme/contributing

#21670 Backport of run integration tests on push in main and release/* into release/1.15.x
  .github/workflows/test-integrations.yml
Labels: type/ci, theme/contributing, pr/no-changelog, pr/no-backport

#21671 Stage 1.19.2
  CHANGELOG.md
  version/VERSION
Labels: pr/no-changelog, pr/no-backport

#21672 1.19.x - add missing changelog for 1.19.1
  CHANGELOG.md
Labels: pr/no-changelog, pr/no-backport

#21676 update version, changelog, and submodules after 1.19.2, 1.18.4, 1.17.7 and 1.15.14 releases
  CHANGELOG.md
  api/go.mod
  envoyextensions/go.mod
  go.mod
  test-integ/go.mod
  test/integration/consul-container/go.mod
  testing/deployer/go.mod
  troubleshoot/go.mod
  version/VERSION
Labels: pr/no-changelog, pr/no-backport

#21679 post-1.19.2 - update changelog and version in 1.19.x
  CHANGELOG.md
  version/VERSION
Labels: pr/no-changelog, pr/no-backport

#21677 post-1.17.7 - update changelog and version in 1.17.x
  CHANGELOG.md
  version/VERSION
Labels: pr/no-changelog, pr/no-backport

#21678 post-1.18.4 - update changelog and version in 1.18.x
  CHANGELOG.md
  version/VERSION
Labels: pr/no-changelog, pr/no-backport

#20665 Set replication metric to 0 when losing leadership
  agent/consul/leader.go
  agent/consul/replication.go
Labels: pr/no-changelog, meta/stale, pr/no-metrics-test, backport/all

#21685 Docs CE-709: Remove circular links
  website/content/docs/security/acl/index.mdx
Labels: type/docs, pr/no-changelog, backport/1.19

#21684 security(deps): bump aws-sdk-go to v1.55.5
  .changelog/21684.txt
  go.mod
  go.sum
Labels: pr/dependencies, backport/all

#21689 Backport of security(deps): bump aws-sdk-go to v1.55.5 into release/1.19.x
  .changelog/21684.txt
  go.mod
  go.sum
Labels: pr/dependencies

#21690 Backport of Docs CE-709: Remove circular links (#21685) into release/1.18.x
  website/content/docs/security/acl/index.mdx
Labels: type/docs, pr/no-changelog, pr/no-backport

#21691 Backport of Docs CE-709: Remove circular links (#21685) into release/1.17.x
  website/content/docs/security/acl/index.mdx
Labels: type/docs, pr/no-changelog, pr/no-backport

#21692 Backport of Docs CE-709: Remove circular links (#21685) into release/1.15.x
  website/content/docs/security/acl/index.mdx
Labels: type/docs, pr/no-changelog, pr/no-backport

#21688 Backport of Docs CE-709: Remove circular links into release/1.19.x
  website/content/docs/security/acl/index.mdx
Labels: type/docs, pr/no-changelog, pr/no-backport

#21674 test: fix Envoy int tests and add container logs
  .github/workflows/nightly-test-integrations-1.15.x.yml
  .github/workflows/nightly-test-integrations-1.17.x.yml
  .github/workflows/nightly-test-integrations-1.18.x.yml
  .github/workflows/nightly-test-integrations-1.19.x.yml
  .github/workflows/test-integrations.yml
Labels: type/ci, theme/contributing, pr/no-changelog, pr/no-backport
