Repository hashicorp/consul, pull requests merged in 2024-11, with the labels that each got.

#21912 ci(security-scanner): add support for Red Hat UBI images and fix typo
  .release/security-scan.hcl
  scan.hcl
Labels: type/ci, pr/no-changelog, backport/all

#21914 Docs/CE-749-remove-references-from-consul
  website/content/api-docs/api-structure.mdx
  website/content/api-docs/hcp-link.mdx
  website/content/api-docs/index.mdx
  website/content/docs/connect/cluster-peering/index.mdx
  website/content/docs/connect/cluster-peering/usage/create-sameness-groups.mdx
  website/content/docs/connect/cluster-peering/usage/establish-cluster-peering.mdx
  website/content/docs/connect/dataplane/index.mdx
  website/content/docs/k8s/connect/cluster-peering/usage/create-sameness-groups.mdx
  website/content/docs/k8s/helm.mdx
  website/data/api-docs-nav-data.json
  website/redirects.js
Labels: type/docs, pr/no-changelog, backport/1.20

#21795 Added the docs for all the grafana dashboards.
  .changelog/21795.txt
  website/content/docs/connect/observability/grafanadashboards/consuldataplanedashboard.mdx
  website/content/docs/connect/observability/grafanadashboards/consulk8sdashboard.mdx
  website/content/docs/connect/observability/grafanadashboards/consulserverdashboard.mdx
  website/content/docs/connect/observability/grafanadashboards/index.mdx
  website/content/docs/connect/observability/grafanadashboards/service-to-servicedashboard.mdx
  website/content/docs/connect/observability/grafanadashboards/servicedashboard.mdx
  website/data/docs-nav-data.json
  website/public/img/grafana/consul-dataplane-dashboard.png
  website/public/img/grafana/service-dashboard-1.png
  website/public/img/grafana/service-dashboard-2.png
  website/public/img/grafana/service-to-service-1.png
  website/public/img/grafana/service-to-service-2.png
  website/public/img/grafana/service-to-service-3.png
  website/public/img/grafana/service-to-service-4.png
Labels: type/docs, pr/no-changelog, backport/1.20

#21918 Backport of Added the docs for all the grafana dashboards. into release/1.20.x
  .changelog/21795.txt
  website/content/docs/connect/observability/grafanadashboards/consuldataplanedashboard.mdx
  website/content/docs/connect/observability/grafanadashboards/consulk8sdashboard.mdx
  website/content/docs/connect/observability/grafanadashboards/consulserverdashboard.mdx
  website/content/docs/connect/observability/grafanadashboards/index.mdx
  website/content/docs/connect/observability/grafanadashboards/service-to-servicedashboard.mdx
  website/content/docs/connect/observability/grafanadashboards/servicedashboard.mdx
  website/data/docs-nav-data.json
  website/public/img/grafana/consul-dataplane-dashboard.png
  website/public/img/grafana/service-dashboard-1.png
  website/public/img/grafana/service-dashboard-2.png
  website/public/img/grafana/service-to-service-1.png
  website/public/img/grafana/service-to-service-2.png
  website/public/img/grafana/service-to-service-3.png
  website/public/img/grafana/service-to-service-4.png
Labels: type/docs

#21883 v2: remove HCP Link integration
  .changelog/21883.txt
  agent/consul/server.go
  agent/consul/testdata/v2-resource-dependencies.md
  agent/consul/type_registry.go
  agent/hcp/link_watch.go
  agent/hcp/link_watch_test.go
  agent/hcp/manager_lifecycle.go
  agent/hcp/manager_lifecycle_test.go
  agent/hcp/manager_test.go
  internal/hcp/exports.go
  internal/hcp/internal/controllers/link/controller.go
  internal/hcp/internal/controllers/link/controller_test.go
  internal/hcp/internal/controllers/link/status.go
  internal/hcp/internal/controllers/register.go
  internal/hcp/internal/controllers/telemetrystate/controller.go
  internal/hcp/internal/controllers/telemetrystate/controller_test.go
  internal/hcp/internal/controllers/telemetrystate/status.go
  internal/hcp/internal/types/link.go
  internal/hcp/internal/types/link_test.go
  internal/hcp/internal/types/telemetry_state.go
  internal/hcp/internal/types/testing.go
  internal/hcp/internal/types/types.go
  internal/storage/raft/backend.go
  internal/storage/raft/backend_test.go
  proto-public/pbhcp/v2/hcp_config.pb.binary.go
  proto-public/pbhcp/v2/hcp_config.pb.go
  proto-public/pbhcp/v2/hcp_config.proto
  proto-public/pbhcp/v2/hcp_config_deepcopy.gen.go
  proto-public/pbhcp/v2/hcp_config_json.gen.go
  proto-public/pbhcp/v2/link.pb.binary.go
  proto-public/pbhcp/v2/link.pb.go
  proto-public/pbhcp/v2/link.proto
  proto-public/pbhcp/v2/link_deepcopy.gen.go
  proto-public/pbhcp/v2/link_json.gen.go
  proto-public/pbhcp/v2/resources.rtypes.go
  proto-public/pbhcp/v2/telemetry_state.pb.binary.go
  proto-public/pbhcp/v2/telemetry_state.pb.go
  proto-public/pbhcp/v2/telemetry_state.proto
  proto-public/pbhcp/v2/telemetry_state_deepcopy.gen.go
  proto-public/pbhcp/v2/telemetry_state_json.gen.go
Labels: pr/no-metrics-test, pr/no-backport

#21908 [Security] Secvuln 8633 Consul configuration allowed repeated keys
  .changelog/21908.txt
  acl/acl.go
  acl/policy.go
  acl/policy_ce.go
  acl/policy_test.go
  agent/consul/acl_endpoint_test.go
  agent/dns_test.go
  agent/routine-leak-checker/leak_test.go
  agent/structs/acl.go
  agent/structs/acl_test.go
  go.mod
  go.sum
  test-integ/go.mod
  test-integ/go.sum
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
Labels: theme/acls, pr/dependencies, backport/all

#21947 Update CODEOWNER
  .github/CODEOWNERS
Labels: theme/contributing, pr/no-changelog, pr/no-backport

#21951 Update JWT to resolve CVE-2024-51744
  .changelog/21951.txt
  go.mod
  go.sum
Labels: pr/dependencies, backport/all

#21952 Backport of Update JWT to resolve CVE-2024-51744 into release/1.20.x
  .changelog/21951.txt
  go.mod
  go.sum
Labels: pr/dependencies

#21871 Fix PeerUpstreamEndpoints and UpstreamPeerTrustBundles to only Cancel watch when needed, otherwise keep the watch active
  .changelog/21871.txt
  agent/proxycfg/api_gateway.go
  agent/proxycfg/connect_proxy.go
  agent/proxycfg/ingress_gateway.go
  agent/proxycfg/state.go
  agent/proxycfg/upstreams.go
Labels: backport/all

#21950 NET-11737 - sec vulnerability - remediate ability to use bexpr to filter results without ACL read on endpoint
  .changelog/21950.txt
  agent/agent_endpoint.go
  agent/agent_endpoint_test.go
  agent/catalog_endpoint_test.go
  agent/consul/catalog_endpoint.go
  agent/consul/catalog_endpoint_test.go
  agent/consul/config_endpoint.go
  agent/consul/config_endpoint_test.go
  agent/consul/health_endpoint.go
  agent/consul/health_endpoint_test.go
  agent/consul/intention_endpoint.go
  agent/consul/intention_endpoint_test.go
  agent/consul/internal_endpoint.go
  agent/consul/internal_endpoint_test.go
  agent/proxycfg-glue/internal_service_dump.go
  agent/proxycfg-glue/internal_service_dump_test.go
  internal/resource/filter.go
  internal/resource/filter_test.go
Labels: backport/ent/1.15, backport/ent/1.18, backport/1.20, backport/ent/1.19

#21961 Update API Group under backendRefs
  website/content/docs/connect/gateways/api-gateway/configuration/routes.mdx
  website/content/docs/connect/gateways/api-gateway/define-routes/route-to-peered-services.mdx
Labels: type/docs, pr/no-changelog, backport/1.20

#21909 state: ensure that identical manual virtual IP updates result in not bumping the modify indexes
  .changelog/21909.txt
  agent/consul/internal_endpoint.go
  agent/consul/internal_endpoint_test.go
  agent/consul/state/catalog.go
  agent/consul/state/catalog_test.go
  lib/stringslice/stringslice.go
  lib/stringslice/stringslice_test.go
Labels: pr/no-metrics-test, backport/all

#21964 Add alpine image cves to suppress list
  .release/security-scan.hcl
Labels: pr/no-changelog, backport/all

#21969 Backport of state: ensure that identical manual virtual IP updates result in not bumping the modify indexes into release/1.20.x
  .changelog/21909.txt
  agent/consul/internal_endpoint.go
  agent/consul/internal_endpoint_test.go
  agent/consul/state/catalog.go
  agent/consul/state/catalog_test.go
  lib/stringslice/stringslice.go
  lib/stringslice/stringslice_test.go
Labels: theme/internals

#21930 [Security] SECVULN-8621: Fix XSS Vulnerability where content-type header wasn't explicitly set in API requests
  .changelog/21930.txt
  agent/http.go
  agent/http_test.go
  api/api.go
  api/api_test.go
  api/content_type.go
Labels: theme/api, backport/ent/1.15, backport/ent/1.18, backport/1.20, backport/ent/1.19

#21976 Backport of [Security] SECVULN-8621: Fix XSS Vulnerability where content-type header wasn't explicitly set in API requests into release/1.20.x
  .changelog/21930.txt
  agent/http.go
  agent/http_test.go
  api/api.go
  api/api_test.go
  api/content_type.go
Labels: theme/api

#21971 docs: fix broken link
  website/content/docs/dynamic-app-config/sessions/index.mdx
Labels: type/docs, pr/no-changelog, backport/all

#21943 Backport of [Security] Secvuln 8633 Consul configuration allowed repeated keys into release/1.20.x
  .changelog/21908.txt
  acl/acl.go
  acl/policy.go
  acl/policy_ce.go
  acl/policy_test.go
  agent/consul/acl_endpoint_test.go
  agent/dns_test.go
  agent/routine-leak-checker/leak_test.go
  agent/structs/acl.go
  agent/structs/acl_test.go
  go.mod
  go.sum
  test-integ/go.mod
  test-integ/go.sum
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
Labels: theme/acls, pr/dependencies
