Repository hashicorp/consul, pull requests merged in 2024-03, with the labels that each got.

#20768 Backport of docs: consul-k8s v1.4.0 release notes into release/1.18.x
  website/content/docs/release-notes/consul-k8s/v1_4_x.mdx
  website/data/docs-nav-data.json
Labels: type/docs

#20759 docs: 1.18.x cleanup
  website/content/docs/k8s/compatibility.mdx
  website/content/docs/k8s/multiport/configure.mdx
  website/content/docs/release-notes/consul/v1_18_x.mdx
Labels: type/docs, pr/no-changelog, backport/1.18

#20775 Backport of docs: 1.18.x cleanup into release/1.18.x
  website/content/docs/k8s/compatibility.mdx
  website/content/docs/k8s/multiport/configure.mdx
  website/content/docs/release-notes/consul/v1_18_x.mdx
Labels: type/docs

#20713 Johnlanda/fault injection docs
  website/content/docs/connect/manage-traffic/fault-injection.mdx
  website/content/docs/enterprise/index.mdx
  website/content/docs/release-notes/consul-k8s/v1_4_x.mdx
  website/content/docs/release-notes/consul/v1_18_x.mdx
  website/data/docs-nav-data.json
Labels: type/docs, pr/no-changelog, backport/1.18

#20776 Backport of Johnlanda/fault injection docs into release/1.18.x
  website/content/docs/connect/manage-traffic/fault-injection.mdx
  website/content/docs/enterprise/index.mdx
  website/content/docs/release-notes/consul-k8s/v1_4_x.mdx
  website/content/docs/release-notes/consul/v1_18_x.mdx
  website/data/docs-nav-data.json
Labels: type/docs

#20710 NET-8056 - v2 DNS Testing Improvements
  agent/discovery/query_fetcher_v1.go
  agent/discovery/query_fetcher_v1_ce.go
  agent/discovery/query_fetcher_v2.go
  agent/dns/mock_DNSRouter.go
  agent/dns/parser.go
  agent/dns/parser_test.go
  agent/dns/router.go
  agent/dns/router_test.go
  agent/dns/server.go
  agent/dns/server_test.go
  agent/dns_test.go
Labels: pr/no-changelog, backport/1.18

#20688 DNS v2 - split up router into multiple responsibilities & break up router tests into multiple files.
  agent/discovery/discovery.go
  agent/dns/discovery_results_fetcher.go
  agent/dns/discovery_results_fetcher_test.go
  agent/dns/dns_record_maker.go
  agent/dns/dns_record_maker_test.go
  agent/dns/message_serializer.go
  agent/dns/response_generator.go
  agent/dns/response_generator_test.go
  agent/dns/router.go
  agent/dns/router_addr_test.go
  agent/dns/router_ns_test.go
  agent/dns/router_prepared_query_test.go
  agent/dns/router_ptr_test.go
  agent/dns/router_recursor_test.go
  agent/dns/router_soa_test.go
  agent/dns/router_test.go
  agent/dns/router_v2_services_test.go
  agent/dns/router_virtual_test.go
  agent/dns/router_workload_test.go
Labels: pr/no-changelog, backport/1.18

#20777 docs: clean up docs on release notes
  website/content/docs/release-notes/consul-k8s/v1_2_x.mdx
  website/content/docs/release-notes/consul-k8s/v1_3_x.mdx
Labels: type/docs, pr/no-changelog, backport/1.18

#20784 Hardcode links to CCM to be false - due to CCM deprecation
  ui/packages/consul-ui/app/components/hcp-nav-item/index.js
  ui/packages/consul-ui/app/services/hcp-link-status.js
  ui/packages/consul-ui/tests/acceptance/link-to-hcp-test.js
  ui/packages/consul-ui/tests/integration/components/hcp-nav-item-test.js
Labels: theme/ui, pr/no-changelog, pr/no-backport

#20761 Fix typos in route retry filter docs for APIGW
  website/content/docs/connect/gateways/api-gateway/configuration/routetimeoutfilter.mdx
Labels: type/docs, theme/api-gw, backport/1.17, backport/1.18

#20786 Backport of Fix typos in route retry filter docs for APIGW into release/1.17.x
  website/content/docs/connect/gateways/api-gateway/configuration/routetimeoutfilter.mdx
Labels: type/docs

#20787 Backport of Fix typos in route retry filter docs for APIGW into release/1.18.x
  website/content/docs/connect/gateways/api-gateway/configuration/routetimeoutfilter.mdx
Labels: type/docs

#20785 docs: manual backport of relnotes
  website/content/docs/release-notes/consul-k8s/v1_2_x.mdx
  website/content/docs/release-notes/consul-k8s/v1_3_x.mdx
Labels: type/docs, pr/no-backport

#20788 docs: Update OpenShift compat matrix
  website/content/docs/k8s/compatibility.mdx
Labels: type/docs, pr/no-changelog, backport/1.18

#20692 Update mog version to be compatible with go 1.22
  Makefile
Labels: pr/no-changelog, pr/no-docs, backport/1.16, backport/1.17

#20737 add raw delete api method
  api/api.go
  api/go.mod
  api/go.sum
  api/raw.go
  api/raw_test.go
  envoyextensions/go.mod
  envoyextensions/go.sum
  troubleshoot/go.mod
  troubleshoot/go.sum
Labels: theme/api, pr/no-changelog, backport/1.18

#20796 fix lambda registrator module doc link
  website/content/docs/lambda/registration/automate.mdx
Labels: type/docs, pr/no-changelog, pr/no-backport

#20797 Backport of add raw delete api method into release/1.18.x
  api/api.go
  api/go.mod
  api/go.sum
  api/raw.go
  api/raw_test.go
  envoyextensions/go.mod
  envoyextensions/go.sum
  troubleshoot/go.mod
  troubleshoot/go.sum
Labels: theme/api

#20674 Remove redundant usage metrics
  .changelog/20674.txt
  agent/consul/usagemetrics/usagemetrics.go
  agent/consul/usagemetrics/usagemetrics_ce.go
  agent/consul/usagemetrics/usagemetrics_ce_test.go
  agent/consul/usagemetrics/usagemetrics_test.go
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: pr/no-backport

#20781 replicated the changes made in ent repo for consistency
  test-integ/topoutil/asserter.go
  test-integ/upgrade/basic/common.go
  testing/deployer/sprawl/sprawl.go
Labels: pr/no-changelog, pr/no-backport, consul-india

#20798 docs: update 1.4.0 Helm docs with Docs team feedback
  website/content/docs/k8s/helm.mdx
Labels: type/docs, pr/no-changelog, backport/1.18

#20799 Backport of docs: update 1.4.0 Helm docs with Docs team feedback into release/1.18.x
  website/content/docs/k8s/helm.mdx
Labels: type/docs

#20813 docs: Update GKE Autopliot docs
  website/content/docs/k8s/installation/install.mdx
Labels: pr/no-changelog, backport/1.16, backport/1.17, backport/1.18

#20818 Backport of docs: Update GKE Autopliot docs into release/1.18.x
  website/content/docs/k8s/installation/install.mdx
Labels: type/docs

#20817 Backport of docs: Update GKE Autopliot docs into release/1.17.x
  website/content/docs/k8s/installation/install.mdx
Labels: type/docs

#20820 docs: K8s docs cleanup
  website/content/docs/connect/gateways/api-gateway/install-k8s.mdx
  website/content/docs/k8s/installation/install.mdx
Labels: type/docs, pr/no-changelog, backport/1.16, backport/1.17, backport/1.18

#20828 Backport of docs: K8s docs cleanup into release/1.18.x
  website/content/docs/connect/gateways/api-gateway/install-k8s.mdx
  website/content/docs/k8s/installation/install.mdx
Labels: type/docs

#20827 Backport of docs: K8s docs cleanup into release/1.17.x
  website/content/docs/connect/gateways/api-gateway/install-k8s.mdx
  website/content/docs/k8s/installation/install.mdx
Labels: type/docs

#20826 Backport of docs: K8s docs cleanup into release/1.16.x
  website/content/docs/api-gateway/install.mdx
  website/content/docs/k8s/installation/install.mdx
Labels: type/docs

#20731 [NET-7557] Backport of Fix to not create a watch to `Internal.ServiceDump` when mesh gateway is not used into release/1.14.x
  .changelog/20168.txt
  .github/workflows/go-tests.yml
  .github/workflows/test-integrations.yml
  GNUmakefile
  agent/consul/internal_endpoint.go
  agent/consul/internal_endpoint_test.go
  agent/proxycfg/mesh_gateway.go
  agent/proxycfg/state.go
  agent/proxycfg/state_test.go
  agent/proxycfg/upstreams.go
  agent/structs/structs.go
  build-support/scripts/devtools.sh
  proto-public/pbacl/.ratelimit.tmp
  proto-public/pbconnectca/.ratelimit.tmp
  proto-public/pbdataplane/.ratelimit.tmp
  proto-public/pbdns/.ratelimit.tmp
  proto-public/pbserverdiscovery/.ratelimit.tmp
  proto/pboperator/.ratelimit.tmp
  proto/pbpeering/.ratelimit.tmp
  proto/pbpeerstream/.ratelimit.tmp
  proto/pbsubscribe/.ratelimit.tmp
  test/CA-GENERATION.md
  test/client_certs/client.crt
  test/client_certs/client.key
  test/client_certs/consul-agent-ca-key.pem
  test/client_certs/consul-agent-ca.pem
  test/client_certs/dc1-client-consul-0-key.pem
  test/client_certs/dc1-client-consul-0.pem
  test/client_certs/dc1-server-consul-0-key.pem
  test/client_certs/dc1-server-consul-0.pem
  test/client_certs/path/rootca.crt
  test/client_certs/rootca.crt
  test/client_certs/rootca.key
  test/client_certs/server.crt
  test/client_certs/server.key
  test/hostname/Alice.crt
  test/hostname/Alice.key
  test/hostname/Betty.crt
  test/hostname/Betty.key
  test/hostname/Bob.crt
  test/hostname/Bob.key
  test/hostname/Bonnie.crt
  test/hostname/Bonnie.key
  test/hostname/certindex
  test/hostname/serialfile
  test/integration/consul-container/test/basic/connect_service_test.go
  test/integration/consul-container/test/peering/rotate_server_and_ca_then_fail_test.go
Labels: pr/no-backport

#20802 NET-6821 Disable Terminating Gateway Auto Host Header Rewrite
  .changelog/20802.txt
  agent/catalog_endpoint_test.go
  agent/consul/catalog_endpoint_test.go
  agent/consul/internal_endpoint_test.go
  agent/consul/state/catalog.go
  agent/consul/state/catalog_test.go
  agent/consul/state/config_entry_test.go
  agent/proxycfg/testing_terminating_gateway.go
  agent/structs/config_entry_gateways.go
  agent/xds/routes.go
  api/config_entry_gateways.go
  website/content/docs/connect/config-entries/terminating-gateway.mdx
Labels: theme/api, theme/envoy/xds, backport/1.18

#20837 Backport of Fix typo in ingress-gateway docs into release/1.16.x
  website/content/docs/connect/config-entries/ingress-gateway.mdx
Labels: type/docs

#20838 Backport of Fix typo in ingress-gateway docs into release/1.17.x
  website/content/docs/connect/config-entries/ingress-gateway.mdx
Labels: type/docs

#20839 Backport of Fix typo in ingress-gateway docs into release/1.18.x
  website/content/docs/connect/config-entries/ingress-gateway.mdx
Labels: type/docs

#20829 docs: document support for multiple snapshot destinations
  website/content/commands/snapshot/agent.mdx
  website/content/docs/release-notes/consul/v1_18_x.mdx
Labels: type/docs, pr/no-changelog, backport/1.16, backport/1.17, backport/1.18

#20841 Backport of docs: document support for multiple snapshot destinations into release/1.17.x
  website/content/commands/snapshot/agent.mdx
Labels: type/docs

#20840 Backport of docs: document support for multiple snapshot destinations into release/1.16.x
  website/content/commands/snapshot/agent.mdx
Labels: type/docs

#20842 Backport of docs: document support for multiple snapshot destinations into release/1.18.x
  website/content/commands/snapshot/agent.mdx
  website/content/docs/release-notes/consul/v1_18_x.mdx
Labels: type/docs

#20845 Fix 1.14.x dev version
  version/VERSION
Labels: pr/no-changelog, pr/no-backport

#20848 snapshot agent: docs to deprecate top-level snapshot destinations
  website/content/commands/snapshot/agent.mdx
  website/content/docs/release-notes/consul/v1_19_x.mdx
  website/data/docs-nav-data.json
Labels: type/docs, pr/no-changelog, pr/no-backport

#20849 Add API gateway to index of configuration entries
  website/content/docs/connect/config-entries/index.mdx
Labels: type/docs, pr/no-changelog, backport/1.17, backport/1.18

#20830 Revert link existing but better 🪦
  .changelog/20275.txt
  ui/packages/consul-ui/app/abilities/operator.js
  ui/packages/consul-ui/app/components/hashicorp-consul/index.hbs
  ui/packages/consul-ui/app/components/hashicorp-consul/index.js
  ui/packages/consul-ui/app/components/hcp-nav-item/index.hbs
  ui/packages/consul-ui/app/components/hcp-nav-item/index.js
  ui/packages/consul-ui/app/components/link-to-hcp-banner/index.hbs
  ui/packages/consul-ui/app/components/link-to-hcp-banner/index.js
  ui/packages/consul-ui/app/components/link-to-hcp-modal/index.hbs
  ui/packages/consul-ui/app/components/link-to-hcp-modal/index.js
  ui/packages/consul-ui/app/components/link-to-hcp-modal/index.scss
  ui/packages/consul-ui/app/controllers/application.js
  ui/packages/consul-ui/app/helpers/hcp-authentication-link.js
  ui/packages/consul-ui/app/helpers/hcp-resource-id-to-link.js
  ui/packages/consul-ui/app/services/env.js
  ui/packages/consul-ui/app/services/hcp-link-modal.js
  ui/packages/consul-ui/app/services/hcp-link-status.js
  ui/packages/consul-ui/app/services/repository/hcp-link.js
  ui/packages/consul-ui/app/styles/components.scss
  ui/packages/consul-ui/app/styles/routes/dc/services/index.scss
  ui/packages/consul-ui/app/templates/application.hbs
  ui/packages/consul-ui/app/templates/dc/services/index.hbs
  ui/packages/consul-ui/mock-api/api/hcp/v2/link/global
  ui/packages/consul-ui/tests/acceptance/link-to-hcp-test.js
  ui/packages/consul-ui/tests/integration/components/hcp-nav-item-test.js
  ui/packages/consul-ui/tests/integration/components/link-to-hcp-banner-test.js
  ui/packages/consul-ui/tests/integration/components/link-to-hcp-modal-test.js
  ui/packages/consul-ui/tests/integration/helpers/hcp-authentication-link-test.js
  ui/packages/consul-ui/tests/integration/helpers/hcp-resource-id-to-link-test.js
  ui/packages/consul-ui/tests/unit/abilities/-test.js
  ui/packages/consul-ui/translations/components/link-to-hcp-banner/en-us.yaml
Labels: pr/no-changelog, pr/no-backport

#20850 Backport of Add API gateway to index of configuration entries into release/1.17.x
  website/content/docs/connect/config-entries/index.mdx
Labels: type/docs

#20812 [NET-8368] security: bump Go version to 1.21.8
  .changelog/20812.txt
  .go-version
  build-support/docker/Build-Go.dockerfile
Labels: backport/1.16, backport/1.17, backport/1.18

#20857 docs: Update release notes for 1.17.x for legacy api gateway removal
  website/content/docs/release-notes/consul-k8s/v1_3_x.mdx
  website/content/docs/release-notes/consul/v1_17_x.mdx
Labels: type/docs, pr/no-changelog, backport/1.17, backport/1.18

#20859 Backport of docs: Update release notes for 1.17.x for legacy api gateway removal into release/1.17.x
  website/content/docs/release-notes/consul-k8s/v1_3_x.mdx
  website/content/docs/release-notes/consul/v1_17_x.mdx
Labels: type/docs

#20860 Backport of docs: Update release notes for 1.17.x for legacy api gateway removal into release/1.18.x
  website/content/docs/release-notes/consul-k8s/v1_3_x.mdx
  website/content/docs/release-notes/consul/v1_17_x.mdx
Labels: type/docs

#20858 K8s v1 Multiport documentation indentation updates
  website/content/docs/k8s/connect/index.mdx
Labels: type/docs, pr/no-changelog, backport/1.16, backport/1.17, backport/1.18

#20862 Backport of K8s v1 Multiport documentation indentation updates into release/1.17.x
  website/content/docs/k8s/connect/index.mdx
Labels: type/docs

#20861 Backport of K8s v1 Multiport documentation indentation updates into release/1.16.x
  website/content/docs/k8s/connect/index.mdx
Labels: type/docs

#20863 Backport of K8s v1 Multiport documentation indentation updates into release/1.18.x
  website/content/docs/k8s/connect/index.mdx
Labels: type/docs

#20866 Various bug-fixes and improvements
  .changelog/20866.txt
  agent/grpc-external/services/serverdiscovery/watch_servers.go
  agent/grpc-external/services/serverdiscovery/watch_servers_test.go
  agent/xds/delta.go
Labels: theme/envoy/xds, pr/no-backport

#20867 Fix xDS deadlock due to syncLoop termination.
  .changelog/20867.txt
  agent/proxycfg-sources/catalog/config_source.go
  agent/proxycfg-sources/catalog/config_source_test.go
  agent/proxycfg-sources/catalog/mock_ConfigManager.go
  agent/proxycfg-sources/catalog/mock_SessionLimiter.go
  agent/proxycfg-sources/catalog/mock_Watcher.go
  agent/proxycfg-sources/local/config_source.go
  agent/proxycfg/manager.go
  agent/proxycfg_test.go
  agent/xds/delta.go
  agent/xds/delta_test.go
  agent/xds/server.go
  agent/xds/xds_protocol_helpers_test.go
  internal/mesh/proxy-tracker/proxy_tracker.go
  internal/mesh/proxy-tracker/proxy_tracker_test.go
Labels: theme/envoy/xds, pr/no-backport

#20868 Fix streaming RPCs for agentless.
  .changelog/20868.txt
  agent/agent.go
  agent/rpcclient/health/health.go
  agent/structs/structs.go
Labels: pr/no-backport

#20875 docs: clarify LTS language
  website/content/docs/connect/proxies/envoy.mdx
  website/content/docs/enterprise/long-term-support.mdx
  website/content/docs/upgrading/index.mdx
Labels: type/docs, pr/no-changelog, backport/1.18

#20877 Backport of docs: clarify LTS language into release/1.18.x
  website/content/docs/connect/proxies/envoy.mdx
  website/content/docs/enterprise/long-term-support.mdx
  website/content/docs/upgrading/index.mdx
Labels: type/docs

#20881 Backport of Fix typo in example yaml for MeshService into release/1.17.x
  website/content/docs/connect/gateways/api-gateway/configuration/meshservice.mdx
Labels: type/docs

#20882 Backport of Fix typo in example yaml for MeshService into release/1.18.x
  website/content/docs/connect/gateways/api-gateway/configuration/meshservice.mdx
Labels: type/docs

#20888 Update go-jose library
  agent/acl_endpoint_test.go
  agent/agent_test.go
  agent/consul/acl_endpoint_test.go
  agent/consul/authmethod/kubeauth/k8s.go
  agent/consul/authmethod/ssoauth/sso_test.go
  agent/consul/auto_config_endpoint_test.go
  command/login/login_test.go
  go.mod
  go.sum
  internal/go-sso/go.mod.sample
  internal/go-sso/go.sum.sample
  internal/go-sso/oidcauth/auth.go
  internal/go-sso/oidcauth/config.go
  internal/go-sso/oidcauth/config_test.go
  internal/go-sso/oidcauth/jwt.go
  internal/go-sso/oidcauth/jwt_test.go
  internal/go-sso/oidcauth/oidc.go
  internal/go-sso/oidcauth/oidc_test.go
  internal/go-sso/oidcauth/oidcauthtest/testing.go
  test-integ/go.mod
  test-integ/go.sum
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
Labels: theme/cli, pr/dependencies, pr/no-changelog, backport/1.18

#20891 Backport of Update go-jose library into release/1.18.x
  agent/acl_endpoint_test.go
  agent/agent_test.go
  agent/consul/acl_endpoint_test.go
  agent/consul/authmethod/kubeauth/k8s.go
  agent/consul/authmethod/ssoauth/sso_test.go
  agent/consul/auto_config_endpoint_test.go
  command/login/login_test.go
  go.mod
  go.sum
  internal/go-sso/go.mod.sample
  internal/go-sso/go.sum.sample
  internal/go-sso/oidcauth/auth.go
  internal/go-sso/oidcauth/config.go
  internal/go-sso/oidcauth/config_test.go
  internal/go-sso/oidcauth/jwt.go
  internal/go-sso/oidcauth/jwt_test.go
  internal/go-sso/oidcauth/oidc.go
  internal/go-sso/oidcauth/oidc_test.go
  internal/go-sso/oidcauth/oidcauthtest/testing.go
  test-integ/go.mod
  test-integ/go.sum
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
Labels: theme/cli, pr/dependencies

#20886 Add docs for default_intention_policy
  website/content/docs/agent/config/config-files.mdx
  website/content/docs/connect/security.mdx
Labels: type/docs, pr/no-changelog, backport/1.18

#20876 Handle ACL errors consistently when blocking query timeout is reached.
  .changelog/20876.txt
  agent/consul/state/store_integration_test.go
  agent/consul/stream/event_publisher.go
  agent/consul/stream/subscription.go
  agent/grpc-external/services/connectca/watch_roots.go
  agent/grpc-external/services/serverdiscovery/watch_servers.go
  agent/grpc-internal/services/subscribe/subscribe.go
  agent/grpc-internal/services/subscribe/subscribe_test.go
Labels: pr/no-backport

#20892 Backport of Add docs for default_intention_policy into release/1.18.x
  website/content/docs/agent/config/config-files.mdx
  website/content/docs/connect/security.mdx
Labels: type/docs

#20893 Fix UI lint error
  ui/packages/consul-ui/blueprints/route-test/index.js
  ui/packages/consul-ui/lib/commands/bin/list.js
Labels: theme/ui, pr/no-changelog, pr/no-backport

#20715 [CE] feat(v2dns): enable v2 dns as default
  .changelog/20715.txt
  agent/agent.go
  agent/config/builder_test.go
  agent/consul/options.go
  agent/consul/server.go
  agent/dns_catalogv2_test.go
  agent/dns_test.go
Labels: theme/config, pr/no-backport

#20894 fix broken link on sameness groups page
  website/content/docs/connect/config-entries/sameness-group.mdx
Labels: type/docs, pr/no-changelog, backport/1.18

#20844 Adds docs to upgrade-specific page to include the removal of the depr…
  website/content/docs/k8s/helm.mdx
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs, pr/no-changelog, pr/no-backport

#20898 changelog and version bump
  CHANGELOG.md
  version/VERSION
Labels: pr/no-changelog, pr/no-backport

#20901 security: triage false positive for go-jose/v3
  .release/security-scan.hcl
  scan.hcl
Labels: pr/no-changelog, backport/1.15, backport/1.16, backport/1.17, backport/1.18

#20904 Backport of security: triage false positive for go-jose/v3 into release/1.17.x
  .release/security-scan.hcl
  scan.hcl
Labels: pr/no-changelog, pr/no-backport

#20907 Backport of security: triage false positive for go-jose/v3 into release/1.18.1
  .release/security-scan.hcl
  scan.hcl
Labels: pr/no-changelog, pr/no-backport

#20911 Remove Enterprise callout from 1.18.1 changelog
  CHANGELOG.md
Labels: pr/no-changelog, pr/no-backport

#20913 update changelog and version
  CHANGELOG.md
  version/VERSION
Labels: pr/no-changelog, pr/no-backport

#20912 update changelog for 1.18.1
  CHANGELOG.md
Labels: pr/no-changelog, pr/no-backport

#20897 Update Dockerfile: bump alpine
  .changelog/20897.txt
  Dockerfile
Labels: backport/1.15, backport/1.16, backport/1.17, backport/1.18

#20918 Update Dockerfile: backport to 1.15.x
  .changelog/20897.txt
  Dockerfile
Labels: pr/no-backport

#20919 Update Dockerfile: Base image for dev bump
  Dockerfile
Labels: pr/no-changelog, backport/1.15, backport/1.16, backport/1.17, backport/1.18

#20924 Update Dockerfile: alpine 3.19 for 1.15.x
  Dockerfile
Labels: pr/no-changelog, pr/no-backport

#20927 update changelog and version
  CHANGELOG.md
  version/VERSION
Labels: pr/no-changelog, pr/no-backport

#20928 update changelog and version
  CHANGELOG.md
  version/VERSION
Labels: pr/no-changelog, pr/no-backport

#20929 update changelog and version
  CHANGELOG.md
  version/VERSION
Labels: pr/no-changelog, pr/no-backport

#20932 Backport of GH-20889 - put conditionals are hcp initialization for consul server into release/1.18.x
  .changelog/20926.txt
  agent/agent.go
  agent/agent_test.go
  agent/config/builder.go
  agent/consul/server.go
  agent/consul/server_test.go
  agent/setup.go
  command/agent/agent.go
Labels: theme/cli, theme/config

#20895 Backport of fix broken link on sameness groups page into release/1.18.x
  website/content/docs/connect/config-entries/sameness-group.mdx
Labels: type/docs

#20890 chore: remove repetitive words
  agent/grpc-external/services/resource/testing/builder.go
  internal/controller/controller.go
  website/content/docs/connect/config-entries/service-intentions.mdx
Labels: type/docs, pr/no-changelog, backport/1.18
