Repository hashicorp/consul, pull requests merged in 2024-05, with the labels that each got.

#21017 security: bump envoy version and k8s.io/apimachinery
  .changelog/21017.txt
  .github/workflows/nightly-test-integrations-1.15.x.yml
  .github/workflows/nightly-test-integrations-1.17.x.yml
  .github/workflows/nightly-test-integrations.yml
  .github/workflows/test-integrations-windows.yml
  .github/workflows/test-integrations.yml
  envoyextensions/xdscommon/envoy_versioning_test.go
  envoyextensions/xdscommon/proxysupport.go
  go.mod
  go.sum
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, type/ci, theme/contributing, pr/no-backport

#21030 security: bump envoy version and k8s.io/apimachinery
  .changelog/21030.txt
  .github/workflows/nightly-test-integrations-1.17.x.yml
  .github/workflows/nightly-test-integrations.yml
  .github/workflows/test-integrations-windows.yml
  .github/workflows/test-integrations.yml
  envoyextensions/xdscommon/envoy_versioning_test.go
  envoyextensions/xdscommon/proxysupport.go
  go.mod
  go.sum
  website/content/docs/connect/proxies/envoy.mdx
Labels: type/docs, type/ci, pr/dependencies, theme/contributing, pr/no-backport

#21032 Backport of security: bump k8s.io/apimachinery version into release/1.16.x
  .changelog/21032.txt
  go.mod
  go.sum
Labels: pr/dependencies, pr/no-backport

#21005 Update snapshot CLI command addition of Decode subcommand from PR#20824
  website/content/commands/snapshot/decode.mdx
  website/data/commands-nav-data.json
Labels: type/docs, pr/no-changelog, pr/no-backport

#21033 Backport of security: bump envoy version and k8s.io/apimachinery into release/1.17.x
  .changelog/21033.txt
  .github/workflows/nightly-test-integrations-1.17.x.yml
  .github/workflows/nightly-test-integrations.yml
  .github/workflows/test-integrations-windows.yml
  .github/workflows/test-integrations.yml
  envoyextensions/xdscommon/envoy_versioning_test.go
  envoyextensions/xdscommon/proxysupport.go
  go.mod
  go.sum
Labels: type/ci, pr/dependencies, theme/contributing, pr/no-backport

#21037 chore: fix JIRA workflow
  .github/workflows/jira-issues.yaml
  .github/workflows/jira-pr.yaml
Labels: type/ci, theme/contributing, pr/no-changelog, pr/no-backport

#21038 security: fine-tune release scanner and bump coredns
  .release/security-scan.hcl
  test/integration/connect/envoy/test-sds-server/go.mod
  test/integration/connect/envoy/test-sds-server/go.sum
Labels: theme/api, pr/dependencies, pr/no-changelog, backport/1.15, backport/1.16, backport/1.17, backport/1.18

#21043 deployer: ensure the proxy/dns/pause containers do not continually get replaced due to a change in a docker default
  testing/deployer/sprawl/internal/tfgen/templates/container-coredns.tf.tmpl
  testing/deployer/sprawl/internal/tfgen/templates/container-pause.tf.tmpl
  testing/deployer/sprawl/internal/tfgen/templates/container-proxy.tf.tmpl
Labels: pr/no-changelog, pr/no-metrics-test, backport/1.17, backport/1.18

#21035 add license file
  .github/workflows/build.yml
  Dockerfile
Labels: type/ci, theme/contributing, pr/no-changelog, backport/1.15, backport/1.16, backport/1.17, backport/1.18

#21048 Backport of add license file into release/1.17.x
  .github/workflows/build.yml
  Dockerfile
Labels: type/ci, theme/contributing

#21049 Backport of add license file into release/1.18.x
  .github/workflows/build.yml
  Dockerfile
Labels: type/ci, theme/contributing

#21047 Backport of add license file into release/1.16.x
  .github/workflows/build.yml
  Dockerfile
Labels: type/ci, theme/contributing

#21046 Backport of add license file into release/1.15.x
  .github/workflows/build.yml
  Dockerfile
Labels: type/ci, theme/contributing

#20910 [NET-8601] security: upgrade vault/api to remove go-jose.v2
  .changelog/20910.txt
  .release/security-scan.hcl
  api/go.mod
  api/go.sum
  envoyextensions/go.mod
  envoyextensions/go.sum
  go.mod
  go.sum
  internal/tools/proto-gen-rpc-glue/go.mod
  internal/tools/proto-gen-rpc-glue/go.sum
  proto-public/go.mod
  proto-public/go.sum
  scan.hcl
  sdk/go.mod
  sdk/go.sum
  test-integ/go.mod
  test-integ/go.sum
  test/integration/connect/envoy/test-sds-server/go.mod
  test/integration/connect/envoy/test-sds-server/go.sum
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
  test/integration/consul-container/test/envoy_extensions/testdata/wasm_test_files/go.mod
  test/integration/consul-container/test/envoy_extensions/testdata/wasm_test_files/go.sum
  testing/deployer/go.mod
  testing/deployer/go.sum
  troubleshoot/go.mod
  troubleshoot/go.sum
Labels: theme/api, pr/dependencies, backport/1.15, backport/1.16, backport/1.17, backport/1.18

#21054 [NET-9098] Narrow scope of peering config on terminating gw filter chain to TCP services
  agent/xds/listeners.go
Labels: theme/envoy/xds, pr/no-changelog, backport/1.18

#21057 Backport of [NET-9098] Narrow scope of peering config on terminating gw filter chain to TCP services into release/1.18.x
  agent/xds/listeners.go
Labels: theme/envoy/xds

#21056 test: remove v2 integration tests
  test-integ/catalogv2/explicit_destinations_l7_test.go
  test-integ/catalogv2/explicit_destinations_test.go
  test-integ/catalogv2/helpers_test.go
  test-integ/catalogv2/implicit_destinations_test.go
  test-integ/catalogv2/traffic_permissions_test.go
  test-integ/tenancy/client.go
  test-integ/tenancy/common.go
  test-integ/tenancy/namespace_ce_test.go
  test-integ/topoutil/fixtures.go
  test/integration/connect/envoy/main_test.go
  test/integration/connect/envoy/run-tests.sh
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
  test/integration/consul-container/test/catalog/catalog_test.go
  test/integration/consul-container/test/trafficpermissions/tcp_test.go
  test/integration/consul-container/test/upgrade/catalog/catalog_test.go
Labels: pr/no-changelog, pr/no-metrics-test, pr/no-backport

#21036 gossip: refactor some gossip related libraries into a central place
  agent/acl_test.go
  agent/agent.go
  agent/agent_endpoint.go
  agent/agent_test.go
  agent/consul/catalog_endpoint_test.go
  agent/consul/client.go
  agent/consul/client_serf.go
  agent/consul/config.go
  agent/consul/coordinate_endpoint_test.go
  agent/consul/health_endpoint_test.go
  agent/consul/leader_ce_test.go
  agent/consul/rtt.go
  agent/consul/rtt_test.go
  agent/consul/server.go
  agent/consul/server_ce.go
  agent/consul/server_serf.go
  agent/consul/state/coordinate.go
  agent/consul/state/coordinate_test.go
  agent/delegate_mock_test.go
  agent/dns_test.go
  agent/router/router.go
  agent/router/router_test.go
  command/rtt/rtt.go
  internal/gossip/librtt/rtt.go
  internal/gossip/librtt/rtt_test.go
  internal/gossip/libserf/serf.go
Labels: theme/cli, pr/no-changelog, pr/no-metrics-test, pr/no-backport

#21060 [NET-9141] ci: skip LICENSE copy for Ent linux packages
  .github/workflows/build.yml
Labels: type/ci, theme/contributing, pr/no-changelog, backport/1.15, backport/1.16, backport/1.17, backport/1.18

#21062 Backport of [NET-9141] ci: skip LICENSE copy for Ent linux packages into release/1.15.x
  .github/workflows/build.yml
Labels: type/ci, theme/contributing

#21063 Backport of [NET-9141] ci: skip LICENSE copy for Ent linux packages into release/1.16.x
  .github/workflows/build.yml
Labels: type/ci, theme/contributing

#21064 Backport of [NET-9141] ci: skip LICENSE copy for Ent linux packages into release/1.17.x
  .github/workflows/build.yml
Labels: type/ci, theme/contributing

#21065 Backport of [NET-9141] ci: skip LICENSE copy for Ent linux packages into release/1.18.x
  .github/workflows/build.yml
Labels: type/ci, theme/contributing

#21058 Backport assistant onboarding with LTS support #9224
  .github/workflows/backport-assistant.yml
  .release/versions.hcl
Labels: type/ci, theme/contributing, pr/no-changelog, pr/no-backport

#21074 security: Upgrade Go to 1.21.10
  .changelog/21074.txt
  .go-version
Labels: backport/1.17, backport/1.18, backport/ent/1.17, backport/ent/1.16, backport/ent/1.15

#21071 doc: add clarifying note to versions.hcl
  .release/versions.hcl
Labels: pr/no-changelog, pr/no-backport

#21078 NET-9084 - add tests to peering endpoint and blockingquery package to assert blocking works properly.
  agent/blockingquery/blockingquery.go
  agent/blockingquery/blockingquery_test.go
  agent/blockingquery/mock_FSMServer.go
  agent/blockingquery/mock_RequestOptions.go
  agent/blockingquery/mock_ResponseMeta.go
  agent/consul/rpc_test.go
  agent/peering_endpoint_test.go
Labels: pr/no-changelog, pr/no-backport

#21029 NET-9143 - sameness group queries in DNS do not respect DefaultForFailover setting and always assume failover behavior
  website/content/docs/connect/config-entries/sameness-group.mdx
  website/content/docs/k8s/connect/transparent-proxy/enable-transparent-proxy.mdx
  website/content/docs/services/discovery/dns-static-lookups.mdx
Labels: type/docs, pr/no-changelog, backport/1.16, backport/1.17, backport/1.18

#21003 docs: fix typo in security/acl
  website/content/docs/security/acl/index.mdx
Labels: type/docs, pr/no-changelog, backport/1.16, backport/1.17, backport/1.18

#21090 Roll bpa version and cleanup
  .github/workflows/backport-assistant.yml
Labels: type/ci, theme/contributing, pr/no-changelog, pr/no-backport

#21091 ci: test BPA 0.4.1 with no-op doc change
  docs/README.md
Labels: pr/no-changelog, backport/all

#21094 ci: temporarily re-enable retired CE backport labels
  .github/workflows/backport-assistant.yml
Labels: type/ci, theme/contributing, pr/no-changelog, pr/no-backport

#21082 Backport of NET-9143 - sameness group queries in DNS do not respect DefaultForFailover setting and always assume failover behavior into release/1.17.x
  website/content/docs/connect/config-entries/sameness-group.mdx
  website/content/docs/k8s/connect/transparent-proxy/enable-transparent-proxy.mdx
  website/content/docs/services/discovery/dns-static-lookups.mdx
Labels: type/docs

#21083 Backport of NET-9143 - sameness group queries in DNS do not respect DefaultForFailover setting and always assume failover behavior into release/1.18.x
  website/content/docs/connect/config-entries/sameness-group.mdx
  website/content/docs/k8s/connect/transparent-proxy/enable-transparent-proxy.mdx
  website/content/docs/services/discovery/dns-static-lookups.mdx
Labels: type/docs

#21095 docs: Fix docs for `-ui-content-path` CLI flag
  website/content/docs/agent/config/cli-flags.mdx
Labels: type/docs, pr/no-changelog, backport/1.18, backport/ent/1.17, backport/ent/1.16

#21087 docs: Add fault injection to Envoy extensions list
  website/content/docs/connect/proxies/envoy-extensions/index.mdx
Labels: type/docs, pr/no-changelog, backport/1.18

#21098 NET-5879 - move the filter for non-passing to occur in the health RPC layer rather than the callers of the RPC
  agent/catalog_endpoint_test.go
  agent/consul/health_endpoint.go
  agent/consul/prepared_query_endpoint.go
  agent/discovery/query_fetcher_v1.go
  agent/dns.go
  agent/health_endpoint.go
  agent/health_endpoint_test.go
  agent/proxycfg-glue/health_blocking.go
  agent/rpcclient/health/view.go
  agent/structs/structs.go
  agent/structs/structs_test.go
  website/content/docs/upgrading/upgrade-specific.mdx
Labels: type/docs, theme/health-checks, pr/no-changelog, pr/no-backport

#21096 NET-5879 - expose sameness group param on service health endpoint and move sameness group health fallback logic into HealthService RPC layer
  agent/consul/health_endpoint.go
  agent/consul/health_endpoint_ce.go
  agent/discovery/query_fetcher_v1.go
  agent/discovery/query_fetcher_v1_ce.go
  agent/discovery/query_fetcher_v1_test.go
  agent/dns.go
  agent/dns_ce.go
  agent/health_endpoint.go
  agent/health_endpoint_ce_test.go
  agent/http.go
  agent/rpcclient/health/health.go
  agent/rpcclient/health/health_test.go
  agent/structs/deep-copy.sh
  agent/structs/structs.deepcopy.go
  agent/structs/structs.go
  api/api.go
Labels: theme/api, theme/health-checks, pr/no-changelog, pr/no-backport

#21097 Backport of docs: Fix docs for `-ui-content-path` CLI flag into release/1.18.x
  website/content/docs/agent/config/cli-flags.mdx
Labels: type/docs

#21086 Backport of docs: fix typo in security/acl into release/1.18.x
  website/content/docs/security/acl/index.mdx
Labels: type/docs

#21024 Backport of Fixed broken link in the ECS documentation into release/1.17.x
  website/content/docs/ecs/deploy/bind-addresses.mdx
  website/content/docs/ecs/deploy/configure-routes.mdx
Labels: type/docs

#21025 Backport of Fixed broken link in the ECS documentation into release/1.18.x
  website/content/docs/ecs/deploy/bind-addresses.mdx
  website/content/docs/ecs/deploy/configure-routes.mdx
Labels: type/docs

#21085 Backport of docs: fix typo in security/acl into release/1.17.x
  website/content/docs/security/acl/index.mdx
Labels: type/docs

#21084 Backport of docs: fix typo in security/acl into release/1.16.x
  website/content/docs/security/acl/index.mdx
Labels: type/docs

#21061 build: update gha to latest approved tsccr
  .github/workflows/bot-auto-approve.yaml
  .github/workflows/broken-link-check.yml
  .github/workflows/build-artifacts.yml
  .github/workflows/build-distros.yml
  .github/workflows/build.yml
  .github/workflows/changelog-checker.yml
  .github/workflows/embedded-asset-checker.yml
  .github/workflows/frontend.yml
  .github/workflows/go-tests.yml
  .github/workflows/issue-comment-created.yml
  .github/workflows/jira-issues.yaml
  .github/workflows/jira-pr.yaml
  .github/workflows/nightly-test-1.14.x.yaml
  .github/workflows/nightly-test-1.15.x.yaml
  .github/workflows/nightly-test-1.16.x.yaml
  .github/workflows/nightly-test-1.17.x.yaml
  .github/workflows/nightly-test-integ-peering_commontopo.yml
  .github/workflows/nightly-test-integrations-1.15.x.yml
  .github/workflows/nightly-test-integrations-1.16.x.yml
  .github/workflows/nightly-test-integrations-1.17.x.yml
  .github/workflows/nightly-test-integrations.yml
  .github/workflows/nightly-test-main.yaml
  .github/workflows/pr-labeler.yml
  .github/workflows/pr-metrics-test-checker.yml
  .github/workflows/reusable-check-go-mod.yml
  .github/workflows/reusable-dev-build-windows.yml
  .github/workflows/reusable-dev-build.yml
  .github/workflows/reusable-get-go-version.yml
  .github/workflows/reusable-lint.yml
  .github/workflows/reusable-unit-split.yml
  .github/workflows/reusable-unit.yml
  .github/workflows/security-scan.yml
  .github/workflows/stale.yml
  .github/workflows/test-integrations-windows.yml
  .github/workflows/test-integrations.yml
  .github/workflows/verify-envoy-version.yml
Labels: type/ci, theme/contributing, pr/no-changelog, backport/1.18

#21106 Backport of build: update gha to latest approved tsccr into release/1.18.x
  .github/workflows/bot-auto-approve.yaml
  .github/workflows/broken-link-check.yml
  .github/workflows/build-artifacts.yml
  .github/workflows/build-distros.yml
  .github/workflows/build.yml
  .github/workflows/changelog-checker.yml
  .github/workflows/embedded-asset-checker.yml
  .github/workflows/frontend.yml
  .github/workflows/go-tests.yml
  .github/workflows/issue-comment-created.yml
  .github/workflows/jira-issues.yaml
  .github/workflows/jira-pr.yaml
  .github/workflows/nightly-test-1.14.x.yaml
  .github/workflows/nightly-test-1.15.x.yaml
  .github/workflows/nightly-test-1.16.x.yaml
  .github/workflows/nightly-test-1.17.x.yaml
  .github/workflows/nightly-test-integ-peering_commontopo.yml
  .github/workflows/nightly-test-integrations-1.15.x.yml
  .github/workflows/nightly-test-integrations-1.16.x.yml
  .github/workflows/nightly-test-integrations-1.17.x.yml
  .github/workflows/nightly-test-integrations.yml
  .github/workflows/nightly-test-main.yaml
  .github/workflows/pr-labeler.yml
  .github/workflows/pr-metrics-test-checker.yml
  .github/workflows/reusable-check-go-mod.yml
  .github/workflows/reusable-dev-build-windows.yml
  .github/workflows/reusable-dev-build.yml
  .github/workflows/reusable-get-go-version.yml
  .github/workflows/reusable-lint.yml
  .github/workflows/reusable-unit-split.yml
  .github/workflows/reusable-unit.yml
  .github/workflows/security-scan.yml
  .github/workflows/stale.yml
  .github/workflows/test-integrations-windows.yml
  .github/workflows/test-integrations.yml
  .github/workflows/verify-envoy-version.yml
Labels: type/ci, theme/contributing

#21107 additional changes to ensure sameness groups without DefaultForFailover can be used for DNS
  agent/dns.go
  agent/dns/discovery_results_fetcher.go
  agent/health_endpoint_test.go
  agent/structs/errors.go
Labels: pr/no-changelog, pr/no-backport

#21103 changelog and version
  CHANGELOG.md
  version/VERSION
Labels: pr/no-backport

#21102 changelog and version
  CHANGELOG.md
  version/VERSION
Labels: pr/no-backport

#21105 changelog and version
  CHANGELOG.md
  version/VERSION
Labels: pr/no-backport

#21108 Xw/update changelog main
  CHANGELOG.md
Labels: pr/no-changelog, pr/no-backport

#21110 docs: Fix two small typos in "What is Consul?" introduction
  website/content/docs/intro/index.mdx
Labels: type/docs, pr/no-changelog, backport/1.18, backport/ent/1.17, backport/ent/1.16

#21115 1.18 UI regen
  agent/uiserver/dist/assets/chunk.143.ccc96993f0ee3228ea2c.css
  agent/uiserver/dist/assets/chunk.143.ccc96993f0ee3228ea2c.js
  agent/uiserver/dist/assets/chunk.178.e73e2a6ec795688e955a.js
  agent/uiserver/dist/index.html
Labels: pr/no-changelog, pr/update-ui-assets, pr/no-backport

#21117 1.18 UI regen
  .github/workflows/build.yml
  agent/uiserver/dist/assets/chunk.143.2d7e1a08106e8ad96833.css
  agent/uiserver/dist/assets/chunk.143.2d7e1a08106e8ad96833.js
  agent/uiserver/dist/assets/chunk.178.056b182b60459360ab28.js
Labels: pr/no-changelog, pr/update-ui-assets, pr/no-backport

#21121 latest ui files in release/1.18.x
  agent/uiserver/dist/assets/chunk.143.2d7e1a08106e8ad96833.js
  agent/uiserver/dist/assets/chunk.143.ba4df30941599f772f00.css
  agent/uiserver/dist/assets/chunk.143.ba4df30941599f772f00.js
  agent/uiserver/dist/assets/chunk.143.ccc96993f0ee3228ea2c.css
  agent/uiserver/dist/assets/chunk.178.056b182b60459360ab28.js
  agent/uiserver/dist/assets/chunk.178.8078bf7ec49a668f11fd.js
  agent/uiserver/dist/assets/consul-ui-9a1e9ee21c7f750c8b2eb93cf4c6e2a5.js
  agent/uiserver/dist/index.html
Labels: pr/no-changelog, pr/update-ui-assets, pr/no-backport

#21124 revert to previous working version
  .github/workflows/build.yml
Labels: pr/no-changelog, pr/no-backport

#21126 try with release engineering optional clean flag
  .github/workflows/build.yml
Labels: pr/no-changelog, pr/no-backport

#21127 Release use releng branch
  .github/workflows/build.yml
Labels: pr/no-changelog, pr/no-backport

#21113 upgrade deep-copy version, upgrade go to 1.22.3
  .changelog/21113.txt
  .go-version
  Makefile
  agent/config/config.deepcopy.go
  agent/consul/state/catalog_schema.deepcopy.go
  agent/proxycfg/proxycfg.deepcopy.go
  agent/structs/structs.deepcopy.go
Labels: backport/all

#21129 1.18.2 Release manual backport
  .github/workflows/build.yml
  CHANGELOG.md
  version/VERSION
Labels: type/ci, theme/contributing, pr/no-changelog, pr/no-backport

#21130 Release manual backport
  .github/workflows/bot-auto-approve.yaml
  .github/workflows/broken-link-check.yml
  .github/workflows/build-artifacts.yml
  .github/workflows/build-distros.yml
  .github/workflows/build.yml
  .github/workflows/changelog-checker.yml
  .github/workflows/embedded-asset-checker.yml
  .github/workflows/frontend.yml
  .github/workflows/go-tests.yml
  .github/workflows/issue-comment-created.yml
  .github/workflows/jira-issues.yaml
  .github/workflows/jira-pr.yaml
  .github/workflows/nightly-test-1.14.x.yaml
  .github/workflows/nightly-test-1.15.x.yaml
  .github/workflows/nightly-test-1.16.x.yaml
  .github/workflows/nightly-test-1.17.x.yaml
  .github/workflows/nightly-test-integ-peering_commontopo.yml
  .github/workflows/nightly-test-integrations-1.15.x.yml
  .github/workflows/nightly-test-integrations-1.16.x.yml
  .github/workflows/nightly-test-integrations-1.17.x.yml
  .github/workflows/nightly-test-integrations.yml
  .github/workflows/nightly-test-main.yaml
  .github/workflows/pr-labeler.yml
  .github/workflows/pr-metrics-test-checker.yml
  .github/workflows/reusable-check-go-mod.yml
  .github/workflows/reusable-dev-build-windows.yml
  .github/workflows/reusable-dev-build.yml
  .github/workflows/reusable-get-go-version.yml
  .github/workflows/reusable-lint.yml
  .github/workflows/reusable-unit-split.yml
  .github/workflows/reusable-unit.yml
  .github/workflows/security-scan.yml
  .github/workflows/stale.yml
  .github/workflows/test-integrations-windows.yml
  .github/workflows/test-integrations.yml
  .github/workflows/verify-envoy-version.yml
Labels: pr/no-changelog, pr/no-backport

#21141 chore: fix PR Labeler config
  .github/pr-labeler.yml
  .github/workflows/pr-labeler.yml
Labels: pr/no-changelog, pr/no-backport

#21195 set go toolchain to go1.22.3
  go.mod
Labels: pr/no-changelog, backport/all

#21196 Backport of set go toolchain to go1.22.3 into release/1.18.x
  go.mod
Labels: pr/dependencies

#21194 deployer: remove catalog/mesh v2 support
  test-integ/README.md
  test-integ/connect/snapshot_test.go
  test-integ/peering_commontopo/ac1_basic_test.go
  test-integ/peering_commontopo/ac2_disco_chain_test.go
  test-integ/peering_commontopo/ac3_service_defaults_upstream_test.go
  test-integ/peering_commontopo/ac4_proxy_defaults_test.go
  test-integ/peering_commontopo/ac6_failovers_test.go
  test-integ/peering_commontopo/ac7_1_rotate_gw_test.go
  test-integ/peering_commontopo/ac7_2_rotate_leader_test.go
  test-integ/peering_commontopo/commontopo.go
  test-integ/topoutil/asserter.go
  test-integ/topoutil/asserter_blankspace.go
  test-integ/topoutil/fixtures.go
  test-integ/topoutil/naming_shim.go
  test-integ/upgrade/basic/common.go
  test-integ/upgrade/l7_traffic_management/common.go
  test-integ/upgrade/l7_traffic_management/resolver_test.go
  testing/deployer/README.md
  testing/deployer/sprawl/acl_rules.go
  testing/deployer/sprawl/boot.go
  testing/deployer/sprawl/catalog.go
  testing/deployer/sprawl/details.go
  testing/deployer/sprawl/internal/build/docker.go
  testing/deployer/sprawl/internal/tfgen/agent.go
  testing/deployer/sprawl/internal/tfgen/dns.go
  testing/deployer/sprawl/internal/tfgen/gen.go
  testing/deployer/sprawl/internal/tfgen/nodes.go
  testing/deployer/sprawl/internal/tfgen/templates/container-app-dataplane.tf.tmpl
  testing/deployer/sprawl/sprawltest/test_test.go
  testing/deployer/topology/compile.go
  testing/deployer/topology/compile_test.go
  testing/deployer/topology/naming_shim.go
  testing/deployer/topology/relationships.go
  testing/deployer/topology/topology.go
Labels: pr/no-changelog, pr/no-metrics-test, pr/no-backport

#21200 Adds helm docs update from 1.3.5 consul k8s release
  website/content/docs/k8s/helm.mdx
Labels: type/docs, pr/no-changelog, pr/no-backport

#21202 Generate helm docs from 1.2.8 of consul-k8s release
  website/content/docs/k8s/helm.mdx
Labels: type/docs, pr/no-changelog, pr/no-backport

#21133 Update VERSION in release/1.18.x
  version/VERSION
Labels: pr/no-changelog, pr/no-backport

#21203 Add helm docs update from 1.1.12 consul k8s release
  website/content/docs/k8s/helm.mdx
Labels: type/docs, pr/no-changelog, pr/no-backport

#21193 Update Vault/Nomad versions.
  .github/workflows/test-integrations.yml
Labels: type/ci, theme/contributing, theme/consul-nomad, theme/consul-vault, pr/no-changelog, pr/no-backport

#21199 Fixes annotation and introduce tabs for static-client spec
  website/content/docs/k8s/connect/terminating-gateways.mdx
Labels: type/docs, pr/no-changelog, backport/1.18, backport/ent/1.17, backport/ent/1.16

#21206 chore: disable CRT for inactive release (1.17)
  .github/workflows/build.yml
Labels: type/ci, theme/contributing, pr/no-changelog, pr/no-backport

#21204 docs: Fix spelling errors
  website/content/api-docs/hcp-link.mdx
  website/content/docs/agent/config-entries.mdx
  website/content/docs/agent/monitor/components.mdx
  website/content/docs/architecture/v2/catalog.mdx
  website/content/docs/architecture/v2/index.mdx
  website/content/docs/connect/config-entries/proxy-defaults.mdx
  website/content/docs/connect/dataplane/index.mdx
  website/content/docs/connect/gateways/api-gateway/configuration/gatewayclassconfig.mdx
  website/content/docs/connect/gateways/api-gateway/configuration/gatewaypolicy.mdx
  website/content/docs/connect/gateways/api-gateway/configuration/routes.mdx
  website/content/docs/connect/gateways/api-gateway/define-routes/routes-k8s.mdx
  website/content/docs/connect/gateways/api-gateway/secure-traffic/verify-jwts-k8s.mdx
  website/content/docs/connect/gateways/api-gateway/tech-specs.mdx
  website/content/docs/connect/manage-traffic/failover/sameness.mdx
  website/content/docs/connect/manage-traffic/route-to-local-upstreams.mdx
  website/content/docs/connect/proxies/deploy-service-mesh-proxies.mdx
  website/content/docs/connect/proxies/deploy-sidecar-services.mdx
  website/content/docs/ecs/deploy/manual.mdx
  website/content/docs/ecs/deploy/migrate-existing-tasks.mdx
  website/content/docs/ecs/deploy/terraform.mdx
  website/content/docs/ecs/reference/consul-server-json.mdx
  website/content/docs/install/ports.mdx
  website/content/docs/k8s/deployment-configurations/datadog.mdx
  website/content/docs/k8s/multiport/reference/grpcroute.mdx
  website/content/docs/k8s/multiport/reference/httproute.mdx
  website/content/docs/k8s/multiport/reference/tcproute.mdx
  website/content/docs/release-notes/consul/v1_18_x.mdx
  website/content/docs/security/acl/acl-roles.mdx
  website/content/docs/security/acl/acl-rules.mdx
Labels: type/docs, pr/no-changelog, backport/1.18

#21207 Backport of docs: Fix spelling errors into release/1.18.x
  website/content/api-docs/hcp-link.mdx
  website/content/docs/agent/config-entries.mdx
  website/content/docs/agent/monitor/components.mdx
  website/content/docs/architecture/v2/catalog.mdx
  website/content/docs/architecture/v2/index.mdx
  website/content/docs/connect/config-entries/proxy-defaults.mdx
  website/content/docs/connect/dataplane/index.mdx
  website/content/docs/connect/gateways/api-gateway/configuration/gatewayclassconfig.mdx
  website/content/docs/connect/gateways/api-gateway/configuration/gatewaypolicy.mdx
  website/content/docs/connect/gateways/api-gateway/configuration/routes.mdx
  website/content/docs/connect/gateways/api-gateway/define-routes/routes-k8s.mdx
  website/content/docs/connect/gateways/api-gateway/secure-traffic/verify-jwts-k8s.mdx
  website/content/docs/connect/gateways/api-gateway/tech-specs.mdx
  website/content/docs/connect/manage-traffic/failover/sameness.mdx
  website/content/docs/connect/manage-traffic/route-to-local-upstreams.mdx
  website/content/docs/connect/proxies/deploy-service-mesh-proxies.mdx
  website/content/docs/connect/proxies/deploy-sidecar-services.mdx
  website/content/docs/ecs/deploy/manual.mdx
  website/content/docs/ecs/deploy/migrate-existing-tasks.mdx
  website/content/docs/ecs/deploy/terraform.mdx
  website/content/docs/ecs/reference/consul-server-json.mdx
  website/content/docs/install/ports.mdx
  website/content/docs/k8s/deployment-configurations/datadog.mdx
  website/content/docs/k8s/multiport/reference/grpcroute.mdx
  website/content/docs/k8s/multiport/reference/httproute.mdx
  website/content/docs/k8s/multiport/reference/tcproute.mdx
  website/content/docs/release-notes/consul/v1_18_x.mdx
  website/content/docs/security/acl/acl-roles.mdx
  website/content/docs/security/acl/acl-rules.mdx
Labels: type/docs

#21210 chore: disable CRT for inactive release (1.15)
  .github/workflows/build.yml
Labels: type/ci, theme/contributing, pr/no-changelog, pr/no-backport

#21209 chore: disable CRT for inactive release (1.16)
  .github/workflows/build.yml
Labels: type/ci, theme/contributing, pr/no-changelog, pr/no-backport

#20905 security: enable go stdlib scans
  .release/security-scan.hcl
  scan.hcl
Labels: pr/no-changelog, backport/1.18, backport/ent/1.17, backport/ent/1.16, backport/ent/1.15

#21088 docs: relocate Consul capacity planning page from waf/ to docs/
  website/content/docs/architecture/capacity-planning.mdx
  website/data/docs-nav-data.json
Labels: type/docs, pr/no-changelog, pr/no-metrics-test, backport/1.18

#21216 Backport of docs: relocate Consul capacity planning page from waf/ to docs/ into release/1.18.x
  website/content/docs/architecture/capacity-planning.mdx
  website/data/docs-nav-data.json
Labels: type/docs

#21219 build: prepare for 1.20.0 dev
  .github/workflows/nightly-test-1.18.x.yaml
  .github/workflows/nightly-test-1.19.x.yaml
  .github/workflows/nightly-test-integrations-1.18.x.yml
  .github/workflows/nightly-test-integrations-1.19.x.yml
  .release/versions.hcl
  version/VERSION
Labels: type/ci, theme/contributing, pr/no-changelog, pr/no-backport

#21225 Backport of Update mog version to be compatible with go 1.22 into release/1.15.x
  GNUmakefile
Labels: pr/no-changelog, pr/no-backport

#21226 Fix Consul versions in nightly 1.19 int tests
  .github/workflows/nightly-test-integrations-1.19.x.yml
Labels: type/ci, theme/contributing, pr/no-changelog, pr/no-backport

#21224 [NET-9510] Document known OpenShift issue for consul-k8s 1.2.x, 1.3.x and 1.4.x
  website/content/docs/release-notes/consul-k8s/v1_2_x.mdx
  website/content/docs/release-notes/consul-k8s/v1_3_x.mdx
  website/content/docs/release-notes/consul-k8s/v1_4_x.mdx
Labels: type/docs, pr/no-changelog, backport/1.18

#21229 Backport of [NET-9510] Document known OpenShift issue for consul-k8s 1.2.x, 1.3.x and 1.4.x into release/1.18.x
  website/content/docs/release-notes/consul-k8s/v1_2_x.mdx
  website/content/docs/release-notes/consul-k8s/v1_3_x.mdx
  website/content/docs/release-notes/consul-k8s/v1_4_x.mdx
Labels: type/docs

#21232 Backport of [NET-9510] Document known OpenShift issue for consul-k8s 1.2.x, 1.3.x and 1.4.x into release/1.16.x
  website/content/docs/release-notes/consul-k8s/v1_2_x.mdx
Labels: type/docs, pr/no-backport

#21231 Backport of [NET-9510] Document known OpenShift issue for consul-k8s 1.2.x, 1.3.x and 1.4.x into release/1.17.x
  website/content/docs/release-notes/consul-k8s/v1_2_x.mdx
  website/content/docs/release-notes/consul-k8s/v1_3_x.mdx
Labels: type/docs, pr/no-backport

#21230 dns v2 - both empty string and default should be allowed for namespace and partition in CE
  .changelog/21230.txt
  acl/acl_ce.go
  agent/discovery/query_fetcher_v1_ce.go
  agent/discovery/query_fetcher_v1_ce_test.go
Labels: backport/1.19

#21233 Backport of dns v2 - both empty string and default should be allowed for namespace and partition in CE into release/1.19.x
  .changelog/21230.txt
  acl/acl_ce.go
  agent/discovery/query_fetcher_v1_ce.go
  agent/discovery/query_fetcher_v1_ce_test.go
Labels: theme/acls

#21237 chore: update submodule versions on release/1.19.x
  api/go.mod
  envoyextensions/go.mod
  go.mod
  test-integ/go.mod
  test/integration/consul-container/go.mod
  testing/deployer/go.mod
  troubleshoot/go.mod
  troubleshoot/go.sum
Labels: theme/api, pr/dependencies, pr/no-changelog, pr/no-backport

#21238 chore: set dev version to 1.19.1
  version/VERSION
Labels: pr/no-changelog, pr/no-backport

#21240 Restore 1.16 backports until 1.19 is released
  .release/versions.hcl
Labels: pr/no-changelog, pr/no-backport
