Repository hashicorp/consul, pull requests merged in 2025-05, with the labels that each got.

#22304 Changelog 1.18.10+ent
  .github/scripts/filter_changed_files_go_test.sh
  .github/workflows/build-distros.yml
  CHANGELOG.md
Labels: pr/dependencies, pr/no-changelog, pr/no-backport

#22306 changelog from ENT to CE sync
  CHANGELOG.md
Labels: pr/no-changelog, pr/no-backport

#22309 CE to ENT sync
  CHANGELOG.md
  version/VERSION
Labels: pr/no-changelog, pr/no-backport

#22313 Go discover dependency upgrade
  .golangci.yml
  agent/grpc-middleware/testutil/testservice/simple.pb.go
  go.mod
  go.sum
  internal/protohcl/testproto/example.pb.go
  internal/tools/protoc-gen-grpc-clone/e2e/proto/service.pb.go
  proto-public/annotations/ratelimit/ratelimit.pb.go
  proto-public/pbacl/acl.pb.go
  proto-public/pbconnectca/ca.pb.go
  proto-public/pbdataplane/dataplane.pb.go
  proto-public/pbdns/dns.pb.go
  proto-public/pbmulticluster/v2/computed_exported_services.pb.go
  proto-public/pbmulticluster/v2/exported_services.pb.go
  proto-public/pbmulticluster/v2/exported_services_consumer.pb.go
  proto-public/pbmulticluster/v2/namespace_exported_services.pb.go
  proto-public/pbmulticluster/v2/partition_exported_services.pb.go
  proto-public/pbresource/annotations.pb.go
  proto-public/pbresource/resource.pb.go
  proto-public/pbserverdiscovery/serverdiscovery.pb.go
  proto/private/pbacl/acl.pb.go
  proto/private/pbautoconf/auto_config.pb.go
  proto/private/pbcommon/common.pb.go
  proto/private/pbconfig/config.pb.go
  proto/private/pbconfigentry/config_entry.pb.go
  proto/private/pbconnect/connect.pb.go
  proto/private/pbdemo/v1/demo.pb.go
  proto/private/pbdemo/v2/demo.pb.go
  proto/private/pboperator/operator.pb.go
  proto/private/pbpeering/peering.pb.go
  proto/private/pbpeerstream/peerstream.pb.go
  proto/private/pbservice/healthcheck.pb.go
  proto/private/pbservice/node.pb.go
  proto/private/pbservice/service.pb.go
  proto/private/pbstatus/status.pb.go
  proto/private/pbstorage/raft.pb.go
  proto/private/pbsubscribe/subscribe.pb.go
  test-integ/go.mod
  test-integ/go.sum
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
Labels: pr/dependencies, pr/no-changelog, backport/all

#22301 Backport of (feat)Adding configurable value to disable XDS Load balancing into release/1.21.x
  .changelog/22299.txt
  agent/agent.go
  agent/config/builder.go
  agent/config/config.go
  agent/config/default.go
  agent/config/runtime.go
  agent/config/runtime_test.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/config/testdata/full-config.hcl
  agent/config/testdata/full-config.json
  agent/consul/config.go
  agent/consul/server.go
  agent/consul/xdscapacity/capacity.go
  agent/consul/xdscapacity/capacity_test.go
  website/content/docs/agent/config/config-files.mdx
Labels: type/docs, theme/config

#22317 Post release 1.21.0 rc2
  .changelog/22227.txt
  .github/workflows/build-distros.yml
  .github/workflows/build.yml
  CHANGELOG.md
  version/VERSION
Labels: pr/no-changelog, pr/no-backport

#22323 prepping for 1.21.0 release
  .release/security-scan.hcl
  CHANGELOG.md
  version/VERSION
Labels: pr/no-changelog, pr/no-backport

#22330 changed CODEOWNERS and skipping CODEOWNERS in PR merge check
  .github/CODEOWNERS
  .github/workflows/reusable-conditional-skip.yml
Labels: type/ci, theme/contributing, pr/no-changelog, pr/no-backport

#22331 Post release 1.21.0
  .release/security-scan.hcl
  CHANGELOG.md
  version/VERSION
Labels: pr/no-changelog, pr/no-backport

#22321 feature: add LUA script Envoy extension support for API gateway
  .changelog/22321.txt
  agent/envoyextensions/builtin/lua/lua.go
  agent/envoyextensions/builtin/lua/lua_test.go
  agent/xds/extensionruntime/runtime_config.go
  agent/xds/extensionruntime/runtime_config_test.go
  envoyextensions/extensioncommon/basic_envoy_extender.go
  envoyextensions/extensioncommon/basic_envoy_extender_test.go
  test/integration/connect/envoy/case-api-gateway-lua/capture.sh
  test/integration/connect/envoy/case-api-gateway-lua/service_gateway.hcl
  test/integration/connect/envoy/case-api-gateway-lua/service_s1.hcl
  test/integration/connect/envoy/case-api-gateway-lua/setup.sh
  test/integration/connect/envoy/case-api-gateway-lua/vars.sh
  test/integration/connect/envoy/case-api-gateway-lua/verify.bats
  website/content/docs/envoy-extension/lua.mdx
Labels: theme/envoy/xds, backport/1.20, backport/1.21, backport/ent/1.20, backport/ent/1.21

#22337 fix: update go-discover dependency to v0.0.1
  .changelog/22220.txt
  agent/txn_endpoint.go
  agent/txn_endpoint_test.go
  api/txn.go
  api/txn_test.go
  go.mod
  go.sum
Labels: pr/dependencies, pr/no-changelog, pr/no-backport

#22315 Backport of Go discover dependency upgrade into release/1.20.x
  .golangci.yml
  agent/grpc-middleware/testutil/testservice/simple.pb.go
  go.mod
  go.sum
  internal/protohcl/testproto/example.pb.go
  internal/tools/protoc-gen-grpc-clone/e2e/proto/service.pb.go
  proto-public/annotations/ratelimit/ratelimit.pb.go
  proto-public/pbacl/acl.pb.go
  proto-public/pbconnectca/ca.pb.go
  proto-public/pbdataplane/dataplane.pb.go
  proto-public/pbdns/dns.pb.go
  proto-public/pbhcp/v2/hcp_config.pb.go
  proto-public/pbhcp/v2/link.pb.go
  proto-public/pbhcp/v2/telemetry_state.pb.go
  proto-public/pbmulticluster/v2/computed_exported_services.pb.go
  proto-public/pbmulticluster/v2/exported_services.pb.go
  proto-public/pbmulticluster/v2/exported_services_consumer.pb.go
  proto-public/pbmulticluster/v2/namespace_exported_services.pb.go
  proto-public/pbmulticluster/v2/partition_exported_services.pb.go
  proto-public/pbresource/annotations.pb.go
  proto-public/pbresource/resource.pb.go
  proto-public/pbserverdiscovery/serverdiscovery.pb.go
  proto/private/pbacl/acl.pb.go
  proto/private/pbautoconf/auto_config.pb.go
  proto/private/pbcommon/common.pb.go
  proto/private/pbconfig/config.pb.go
  proto/private/pbconfigentry/config_entry.pb.go
  proto/private/pbconnect/connect.pb.go
  proto/private/pbdemo/v1/demo.pb.go
  proto/private/pbdemo/v2/demo.pb.go
  proto/private/pboperator/operator.pb.go
  proto/private/pbpeering/peering.pb.go
  proto/private/pbpeerstream/peerstream.pb.go
  proto/private/pbservice/healthcheck.pb.go
  proto/private/pbservice/node.pb.go
  proto/private/pbservice/service.pb.go
  proto/private/pbstatus/status.pb.go
  proto/private/pbstorage/raft.pb.go
  proto/private/pbsubscribe/subscribe.pb.go
  test-integ/go.mod
  test-integ/go.sum
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
Labels: type/docs, theme/api, theme/acls, theme/cli, theme/config, theme/ui, theme/telemetry, type/ci, pr/dependencies, theme/envoy/xds, theme/contributing, theme/internals

#22334 Backport of feature: add LUA script Envoy extension support for API gateway into release/1.21.x
  .github/workflows/test-integrations.yml
  agent/envoyextensions/builtin/lua/lua.go
  agent/envoyextensions/builtin/lua/lua_test.go
  agent/xds/extensionruntime/runtime_config.go
  agent/xds/extensionruntime/runtime_config_test.go
  envoyextensions/extensioncommon/basic_envoy_extender.go
  envoyextensions/extensioncommon/basic_envoy_extender_test.go
  test/integration/connect/envoy/case-api-gateway-lua/capture.sh
  test/integration/connect/envoy/case-api-gateway-lua/service_gateway.hcl
  test/integration/connect/envoy/case-api-gateway-lua/service_s1.hcl
  test/integration/connect/envoy/case-api-gateway-lua/setup.sh
  test/integration/connect/envoy/case-api-gateway-lua/vars.sh
  test/integration/connect/envoy/case-api-gateway-lua/verify.bats
  website/content/docs/envoy-extension/lua.mdx
Labels: type/docs, theme/api, theme/health-checks, theme/cli, theme/config, theme/ui, type/ci, pr/dependencies, theme/envoy/xds, theme/contributing, theme/internals, theme/consul-terraform-sync

#22300 Backport of (feat)Adding configurable value to disable XDS Load balancing into release/1.20.x
  .changelog/22299.txt
  .github/workflows/test-integrations.yml
  agent/agent.go
  agent/config/builder.go
  agent/config/config.go
  agent/config/default.go
  agent/config/runtime.go
  agent/config/runtime_test.go
  agent/config/testdata/TestRuntimeConfig_Sanitize.golden
  agent/config/testdata/full-config.hcl
  agent/config/testdata/full-config.json
  agent/consul/config.go
  agent/consul/server.go
  agent/consul/xdscapacity/capacity.go
  agent/consul/xdscapacity/capacity_test.go
  website/content/docs/agent/config/config-files.mdx
Labels: type/docs, theme/config

#22333 Backport of feature: add LUA script Envoy extension support for API gateway into release/1.20.x
  agent/envoyextensions/builtin/lua/lua.go
  agent/envoyextensions/builtin/lua/lua_test.go
  agent/xds/extensionruntime/runtime_config.go
  agent/xds/extensionruntime/runtime_config_test.go
  envoyextensions/extensioncommon/basic_envoy_extender.go
  envoyextensions/extensioncommon/basic_envoy_extender_test.go
  test/integration/connect/envoy/case-api-gateway-lua/capture.sh
  test/integration/connect/envoy/case-api-gateway-lua/s1.hcl
  test/integration/connect/envoy/case-api-gateway-lua/service_gateway.hcl
  test/integration/connect/envoy/case-api-gateway-lua/setup.sh
  test/integration/connect/envoy/case-api-gateway-lua/vars.sh
  test/integration/connect/envoy/case-api-gateway-lua/verify.bats
Labels: theme/envoy/xds

#22340 Backport of Fix catalog service endpoint when querying for a peer service into release/1.21.x
  .changelog/22189.txt
  agent/catalog_endpoint.go
  agent/catalog_endpoint_test.go
  website/content/api-docs/catalog.mdx
Labels: type/docs, theme/api, theme/health-checks, theme/cli, theme/config, theme/ui, theme/telemetry, type/ci, pr/dependencies, theme/envoy/xds, theme/contributing, theme/internals, theme/consul-terraform-sync

#22341 update: remove 1.15 as LTS, remove1.20 as CE
  .release/versions.hcl
Labels: pr/no-changelog, backport/1.21

#22350 Prep release/1.21.1
  .changelog/22321.txt
  CHANGELOG.md
  version/VERSION
Labels: pr/no-backport

#22354 Prep v2 release/1.21.1
  .github/workflows/reusable-conditional-skip.yml
  .release/security-scan.hcl
  CHANGELOG.md
  Dockerfile
Labels: type/ci, theme/contributing, pr/no-backport

#22286 cmd/tls: set explicit file permissions for generated certs
  .changelog/22286.txt
  .github/workflows/test-integrations.yml
  .go-version
  command/tls/ca/create/tls_ca_create.go
  command/tls/cert/create/tls_cert_create.go
Labels: theme/cli, backport/all

#22361 fix: updated grpc config for partition endpoint
  agent/grpc-internal/client.go
Labels: pr/no-changelog, backport/ent/1.21

#22226 Fix IPv6 address handling in LAN <-> WAN join flooder
  .changelog/22226.txt
  agent/consul/server.go
Labels: backport/1.21, backport/ent/1.21
