Repository hashicorp/consul, pull requests merged in 2025-04, with the labels that each got.

#22248 Refactor Txn API to use AgentService and add TaggedAddresses support
  api/txn.go
  api/txn_test.go
Labels: theme/api, pr/no-changelog, backport/all

#21942 Document Azure service principal auth in snapshot/agent.mdx
  website/content/commands/snapshot/agent.mdx
Labels: type/docs, pr/no-changelog, backport/1.20

#22255 Post release 1.20.5
  .changelog/22174.txt
  .changelog/22227.txt
  CHANGELOG.md
  version/VERSION
Labels: pr/no-changelog, pr/no-backport

#22242 Backport of build(deps): bump go version to go1.23.7 into release/1.21.x
  .changelog/22237.txt
  .go-version
  api/go.mod
  api/go.sum
  envoyextensions/go.mod
  envoyextensions/go.sum
  go.mod
  go.sum
  internal/tools/proto-gen-rpc-glue/e2e/consul/go.mod
  internal/tools/proto-gen-rpc-glue/e2e/go.mod
  internal/tools/proto-gen-rpc-glue/go.mod
  internal/tools/protoc-gen-consul-rate-limit/go.mod
  proto-public/go.mod
  proto-public/go.sum
  sdk/go.mod
  sdk/go.sum
  test-integ/go.mod
  test-integ/go.sum
  test/integration/connect/envoy/test-sds-server/go.mod
  test/integration/connect/envoy/test-sds-server/go.sum
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
  test/integration/consul-container/test/envoy_extensions/testdata/wasm_test_files/go.mod
  testing/deployer/go.mod
  testing/deployer/go.sum
  troubleshoot/go.mod
  troubleshoot/go.sum
Labels: theme/api, pr/dependencies

#22243 Backport of build(deps): bump go version to go1.23.7 into release/1.20.x
  .changelog/22237.txt
  .go-version
  api/go.mod
  api/go.sum
  envoyextensions/go.mod
  envoyextensions/go.sum
  go.mod
  go.sum
  internal/tools/proto-gen-rpc-glue/e2e/consul/go.mod
  internal/tools/proto-gen-rpc-glue/e2e/go.mod
  internal/tools/proto-gen-rpc-glue/go.mod
  internal/tools/protoc-gen-consul-rate-limit/go.mod
  proto-public/go.mod
  proto-public/go.sum
  sdk/go.mod
  sdk/go.sum
  test-integ/go.mod
  test-integ/go.sum
  test/integration/connect/envoy/test-sds-server/go.mod
  test/integration/connect/envoy/test-sds-server/go.sum
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
  test/integration/consul-container/test/envoy_extensions/testdata/wasm_test_files/go.mod
  testing/deployer/go.mod
  testing/deployer/go.sum
  troubleshoot/go.mod
  troubleshoot/go.sum
Labels: theme/api, pr/dependencies

#22259 Revert of [Feature] Invalidate session check
  agent/consul/state/session.go
  agent/consul/state/session_ce.go
  agent/consul/state/session_test.go
  agent/consul/state/state_store_test.go
  agent/structs/structs.go
  api/health.go
  proto/private/pbservice/healthcheck.gen.go
  proto/private/pbservice/healthcheck.pb.go
  proto/private/pbservice/healthcheck.proto
Labels: theme/api, theme/health-checks, pr/no-changelog, pr/no-docs, pr/no-backport

#22189 Fix catalog service endpoint when querying for a peer service
  .changelog/22189.txt
  agent/catalog_endpoint.go
  agent/catalog_endpoint_test.go
  website/content/api-docs/catalog.mdx
Labels: type/docs, pr/no-metrics-test, backport/1.20

#22258 Update lock.mdx (Node Health Check and TTL)
  website/content/commands/lock.mdx
Labels: type/docs, pr/no-changelog, backport/ent/1.15, backport/ent/1.18, backport/1.20, backport/ent/1.19, backport/1.21

#22263 Backport of Update lock.mdx (Node Health Check and TTL) into release/1.21.x
  website/content/commands/lock.mdx
Labels: type/docs

#22267 prepping for 1.21.0-rc2 release
  .changelog/22227.txt
  CHANGELOG.md
  version/VERSION
Labels: pr/no-changelog, pr/no-backport

#22271 Backport of CVE Fix into release/1.21.0-rc2
  .changelog/22268.txt
  api/go.mod
  api/go.sum
  envoyextensions/go.sum
  go.mod
  go.sum
  proto-public/go.mod
  proto-public/go.sum
  test-integ/go.mod
  test-integ/go.sum
  test/integration/connect/envoy/test-sds-server/go.mod
  test/integration/connect/envoy/test-sds-server/go.sum
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
  testing/deployer/go.mod
  testing/deployer/go.sum
  troubleshoot/go.mod
  troubleshoot/go.sum
Labels: theme/api, pr/dependencies, pr/no-changelog, pr/no-backport

#22272 Prep release 1.21.0 rc2
  version/VERSION
Labels: pr/no-changelog, pr/no-backport

#22273 Upgraded go to 1.23.8
  api/go.mod
  envoyextensions/go.mod
  go.mod
  internal/tools/protoc-gen-consul-rate-limit/go.mod
  proto-public/go.mod
  sdk/go.mod
  test-integ/go.mod
  test/integration/connect/envoy/test-sds-server/go.mod
  test/integration/consul-container/go.mod
  testing/deployer/go.mod
  troubleshoot/go.mod
Labels: theme/api, pr/dependencies, pr/no-changelog, backport/all

#22274 Backport of Upgraded go to 1.23.8 into release/1.21.x
  api/go.mod
  envoyextensions/go.mod
  go.mod
  internal/tools/protoc-gen-consul-rate-limit/go.mod
  proto-public/go.mod
  sdk/go.mod
  test-integ/go.mod
  test/integration/connect/envoy/test-sds-server/go.mod
  test/integration/consul-container/go.mod
  testing/deployer/go.mod
  troubleshoot/go.mod
Labels: theme/api, pr/dependencies

#22278 suppressing alpine CVEs as there is no fix yet
  .release/security-scan.hcl
Labels: pr/no-changelog, backport/all

#22295 version bumps, script upgrade, added CHANGELOG
  .go-version
  CHANGELOG.md
  build-support/scripts/update-changelog-and-version.sh
  version/VERSION
Labels: pr/no-changelog, pr/no-backport

#22298 Post release 1.20.6
  .go-version
  CHANGELOG.md
  build-support/scripts/update-changelog-and-version.sh
  version/VERSION
Labels: pr/no-changelog, pr/no-backport
