Repository hashicorp/consul, pull requests merged in 2025-03, with the labels that each got.

#22195 Initialise release for consul 1.21
  .github/workflows/nightly-test-integrations-1.21.x.yml
  .release/versions.hcl
  version/VERSION
Labels: pr/no-changelog, backport/1.21

#22196 Backport of Initialise release for consul 1.21 into release/1.21.x
  .github/workflows/nightly-test-integrations-1.21.x.yml
  .release/versions.hcl
  version/VERSION
Labels: type/ci, theme/contributing

#22204 Upgrade go version to 1.23
  .changelog/22204.txt
  .go-version
  .golangci.yml
  Makefile
  agent/config/config.deepcopy.go
  go.mod
  test-integ/go.mod
  test/integration/consul-container/go.mod
Labels: pr/dependencies, backport/all

#22205 Backport of Upgrade go version to 1.23 into release/1.20.x
  .changelog/22204.txt
  .go-version
  .golangci.yml
  Makefile
  agent/config/config.deepcopy.go
  go.mod
  test-integ/go.mod
  test/integration/consul-container/go.mod
Labels: theme/config, pr/dependencies

#22206 Backport of Upgrade go version to 1.23 into release/1.21.x
  .changelog/22204.txt
  .go-version
  .golangci.yml
  Makefile
  agent/config/config.deepcopy.go
  go.mod
  test-integ/go.mod
  test/integration/consul-container/go.mod
Labels: theme/config, pr/dependencies

#22207 security: Upgrade crypto, oauth, go-jose
  .changelog/22207.txt
  go.mod
  go.sum
  test-integ/go.mod
  test-integ/go.sum
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
Labels: pr/dependencies, backport/all

#22209 Backport of security: Upgrade crypto, oauth, go-jose into release/1.21.x
  .changelog/22207.txt
  go.mod
  go.sum
  test-integ/go.mod
  test-integ/go.sum
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
Labels: pr/dependencies

#22211 Stage release 1.21 rc1
  CHANGELOG.md
  version/VERSION
Labels: pr/no-changelog, backport/1.21

#22216 prepping for 1.20.5 version release
  .changelog/22174.txt
  CHANGELOG.md
  version/VERSION
Labels: pr/no-backport

#22220 Add the missing Service TaggedAddresses and Check Type fields to Txn API
  .changelog/22220.txt
  agent/txn_endpoint.go
  agent/txn_endpoint_test.go
Labels: backport/all

#22227 [Feature] Invalidate session check if associated session is deleted
  CHANGELOG.md
  agent/consul/state/session.go
  agent/consul/state/session_ce.go
  agent/consul/state/session_test.go
  agent/consul/state/state_store_test.go
  agent/structs/structs.go
  api/health.go
  proto/private/pbservice/healthcheck.gen.go
  proto/private/pbservice/healthcheck.pb.go
  proto/private/pbservice/healthcheck.proto
Labels: theme/api, theme/health-checks, pr/no-changelog, backport/all

#22233 Backport of [Feature] Invalidate session check if associated session is deleted into release/1.21.x
  CHANGELOG.md
  agent/consul/state/session.go
  agent/consul/state/session_ce.go
  agent/consul/state/session_test.go
  agent/consul/state/state_store_test.go
  agent/structs/structs.go
  api/health.go
  proto/private/pbservice/healthcheck.gen.go
  proto/private/pbservice/healthcheck.pb.go
  proto/private/pbservice/healthcheck.proto
Labels: theme/api, theme/health-checks

#22236 Backport of [Feature] Invalidate session check if associated session is deleted into release/1.20.x
  CHANGELOG.md
  agent/consul/state/session.go
  agent/consul/state/session_ce.go
  agent/consul/state/session_test.go
  agent/consul/state/state_store_test.go
  agent/structs/structs.go
  api/health.go
  proto/private/pbservice/healthcheck.gen.go
  proto/private/pbservice/healthcheck.pb.go
  proto/private/pbservice/healthcheck.proto
Labels: type/docs, theme/api, theme/health-checks, theme/acls, theme/cli, theme/config, theme/ui, theme/telemetry, type/ci, pr/dependencies, theme/envoy/xds, theme/contributing, theme/internals, pr/no-changelog, pr/no-backport

#22237 build(deps): bump go version to go1.23.7
  .changelog/22237.txt
  .go-version
  api/go.mod
  api/go.sum
  envoyextensions/go.mod
  envoyextensions/go.sum
  go.mod
  go.sum
  internal/tools/proto-gen-rpc-glue/e2e/consul/go.mod
  internal/tools/proto-gen-rpc-glue/e2e/go.mod
  internal/tools/proto-gen-rpc-glue/go.mod
  internal/tools/protoc-gen-consul-rate-limit/go.mod
  proto-public/go.mod
  proto-public/go.sum
  sdk/go.mod
  sdk/go.sum
  test-integ/go.mod
  test-integ/go.sum
  test/integration/connect/envoy/test-sds-server/go.mod
  test/integration/connect/envoy/test-sds-server/go.sum
  test/integration/consul-container/go.mod
  test/integration/consul-container/go.sum
  test/integration/consul-container/test/envoy_extensions/testdata/wasm_test_files/go.mod
  testing/deployer/go.mod
  testing/deployer/go.sum
  troubleshoot/go.mod
  troubleshoot/go.sum
Labels: theme/api, pr/dependencies, theme/security, backport/all
